<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/neoliberalismo.jpg"></ion-img>>
    <ion-card-content>
      <p class="cita1">
        “Después de más de dos décadas de neoliberalismo, el 44% de los
        latinoamericanos y latinoamericanas son pobres.”
      </p>
      <p class="piecita1">
        Acto de Instalación de la XII Cumbre de Jefes de Estado y de Gobierno
        del Grupo de los Quince G-15 1 de marzo de 2004
      </p>
      <p class="cita1">
        “Venezuela más nunca volverá al neoliberalismo, Venezuela seguirá
        transitando hacia el socialismo democrático y bolivariano del siglo
        XXI.”
      </p>
      <p class="piecita1">
        Concentración Balcón del Pueblo, Palacio de Miraflores 7 de octubre de
        2012
      </p>
      <p class="cita1">
        “Contra ese dogma neoliberal enfrentemos el hombre, la maravilla que es
        el ser humano, la idea como centro de acción de una combinación que bien
        pudiéramos llamarla entre el mercado y el Estado, un binomio, pero más
        allá de ese binomio está el ser humano.”
      </p>
      <p class="piecita1">Palacio Federal Legislativo, 5 de agosto de 1999</p>
      <p class="cita1">
        “El neoliberalismo es el camino que conduce al infierno”.
      </p>
      <p class="piecita1">II Cumbre UE-ALC en España. Mayo 2002</p>
      <p class="cita1">
        “El neoliberalismo es una fase salvaje del capitalismo, donde pareciera
        que lo más importante es sólo el capital, la ganancia.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 016 Radio Nacional de Venezuela. 26 de Septiembre de
        1999
      </p>
      <p class="cita1">
        “A la América Latina creo que fue uno de los continentes a los que le
        inyectaron mayor dosis de neoliberalismo salvaje y por tanto mayor
        veneno y allí estamos los latinoamericanos de tumbo en tumbo y del timbo
        al tambo, de crisis en crisis”.
      </p>
      <p class="piecita1">Discurso ante la FAO 16 de octubre de 2002</p>
      <p class="cita1">
        “El neoliberalismo prometió riqueza y ha multiplicado la pobreza, pero
        además ha convertido a América Latina en la región más inequitativa del
        mundo en términos de distribución del ingreso.”
      </p>
      <p class="piecita1">
        Acto de Instalación de la XII Cumbre de Jefes de Estado y de Gobierno
        del Grupo de los Quince G-15 1 de marzo de 2004
      </p>
      <p class="cita1">
        “Las grandes posibilidades que una globalización de la solidaridad y la
        verdadera cooperación pudiera traer a todos los que habitamos el
        planeta, con sus prodigios científico-técnicos han sido reducidas por el
        modelo neoliberal a esta grotesca caricatura colmada de explotación e
        injusticia social.”
      </p>
      <p class="piecita1">
        Acto de Instalación de la XII Cumbre de Jefes de Estado y de Gobierno
        del Grupo de los Quince G-15 1 de marzo de 2004
      </p>
      <p class="cita1">
        “El neoliberalismo dice que lo más importante es lo macroeconómico ¿Y lo
        social?”
      </p>
      <p class="piecita1">
        Discurso ante la Asamblea Nacional. Memoria y Cuenta año 2000 Palacio
        Federal Legislativo, 15 de enero de 2001
      </p>
      <p class="cita1">
        “El orden económico y social de la globalización neoliberal, por su
        injusticia y desigualdad, pareciera ser para el Sur un callejón sin
        salida.”
      </p>
      <p class="piecita1">
        Acto de Instalación de la XII Cumbre de Jefes de Estado y de Gobierno
        del Grupo de los Quince G-15 1 de marzo de 2004
      </p>
      <p class="cita1">
        “Estamos, queridos amigos, queridas amigas, en América Latina, el
        escenario predilecto del modelo neoliberal en las últimas décadas. Aquí
        el neoliberalismo alcanzó categoría de dogma doctrinal y se aplicó con
        especial rigor.”
      </p>
      <p class="piecita1">
        Acto de Instalación de la XII Cumbre de Jefes de Estado y de Gobierno
        del Grupo de los Quince G-15 1 de marzo de 2004
      </p>
      <p class="cita1">
        “Estamos construyendo el nuevo orden después del viejo orden neoliberal
        que aquí nos impusieron, después del gran desorden que se armó en este
        mundo nuestro, aquí estamos rearmando, estamos reordenando, reordenando,
        construyendo un nuevo orden, nuestro nuevo orden y una nueva razón,
        porque el neoliberalismo, el capitalismo neoliberal perdió la razón.”
      </p>
      <p class="piecita1">
        Firma de Acuerdos y rueda de prensa conjunta de los presidentes de la
        República Bolivariana de Venezuela y la República del Ecuador. 07 de
        junio de 2011
      </p>
      <p class="cita1">
        “El modelo neoliberal prometió a los latinoamericanos mayor crecimiento
        económico, pero en los años neoliberales el crecimiento no ha alcanzado
        siquiera la mitad del que se obtuvo en la etapa 1945-1975 con políticas
        diferentes.”
      </p>
      <p class="piecita1">
        Acto de Instalación de la XII Cumbre de Jefes de Estado y de Gobierno
        del Grupo de los Quince G-15 1 de marzo de 2004
      </p>
      <p class="cita1">
        “Nosotros estamos dejando atrás aquel modelo neoliberal de la
        competencia: a ver quién le vende más a quién, por ejemplo. La
        mezquindad, el egoísmo.”
      </p>
      <p class="piecita1">
        Firma de Acuerdos y rueda de prensa conjunta de los presidentes de la
        República Bolivariana de Venezuela y la República del Ecuador. 07 de
        junio de 2011
      </p>
      <p class="cita1">
        “El pensamiento y la política neoliberal fueron creados en el Norte para
        servir a sus intereses.”
      </p>
      <p class="piecita1">
        Acto de Instalación de la XII Cumbre de Jefes de Estado y de Gobierno
        del Grupo de los Quince G-15 1 de marzo de 2004
      </p>
      <p class="cita1">
        “Nos alejamos de los neoliberales que pretenden minimizar el Estado y he
        allí otro concepto fundamental de la ideología bolivariana en contra del
        dogma neoliberal: queremos y necesitamos un Estado suficientemente
        fuerte, suficientemente capaz, suficientemente moral, suficientemente
        virtuoso para impulsar la Republica, para impulsar al pueblo y para
        impulsar a la Nación, asegurando la igualdad, la justicia y el
        desarrollo del pueblo.”
      </p>
      <p class="piecita1">Palacio Federal Legislativo, 5 de agosto de 1999</p>
      <p class="cita1">
        “Estamos saliendo del neoliberalismo, del salvajismo económico. Hay que
        salir de allí urgentemente.”
      </p>
      <p class="piecita1">
        Discurso con motivo del segundo aniversario del referendo que convoco a
        la Asamblea Nacional Constituyente de 1999. Palacio Federal Legislativo,
        25 de abril de 2001
      </p>
      <p class="cita1">
        “No hay vida sin plan, los neoliberales son los únicos que se imaginan
        que no hace falta la planificación.”
      </p>
      <p class="piecita1">
        Discurso con motivo de su toma de posesión como Presidente de la
        República Bolivariana de Venezuela para el periodo 2000-2006 ante la
        Asamblea Nacional
      </p>
      <p class="cita1">
        “Me estaban contando hoy que aquí el neoliberalismo hizo lo mismo que
        habían hecho en Venezuela.”
      </p>
      <p class="piecita1">
        Firma de acuerdos Nicaragua-Venezuela . Centro de Convenciones Olof
        Palme, Managua-Nicaragua 11 de enero de 2007
      </p>
      <p class="cita1">
        “La tragedia del subdesarrollo y la pobreza del África, que tiene sus
        raíces históricas en el colonialismo y la esclavización de millones de
        sus hijos, ahora se ha reforzado con el neoliberalismo procedente del
        Norte.”
      </p>
      <p class="piecita1">
        Acto de Instalación de la XII Cumbre de Jefes de Estado y de Gobierno
        del Grupo de los Quince G-15 1 de marzo de 2004
      </p>
      <p class="cita1">
        “El modelo neoliberal salvaje que estaba aquí instalado importaba,
        importaba e importaba todo tipo de productos y teníamos a los
        productores nuestros abandonados.”
      </p>
      <p class="piecita1">
        Discurso al cumplirse el primer año de Gobierno Palacio Federal
        Legislativo, 2 de febrero de 2000
      </p>
      <p class="cita1">
        “El neoliberalismo prometió a los latinoamericanos que, si hacían las
        concesiones que el capital transnacional demandaba, las inversiones se
        derramarían sobre la región. En efecto, el ingreso del capital aumentó,
        pero una parte importante fue por la compra de empresas públicas a veces
        a precios de remate y otra parte fue por el ingreso de capitales
        golondrina que vinieron a especular en el clima de liberalización
        financiera.”
      </p>
      <p class="piecita1">
        Acto de Instalación de la XII Cumbre de Jefes de Estado y de Gobierno
        del Grupo de los Quince G-15 1 de marzo de 2004
      </p>
      <p class="cita1">
        “Con estos mismos ojos vi, un día como hoy hace exactamente 15 años, el
        27 de febrero de 1989, cuando se desató aquella intensa jornada de
        protesta en las calles de Caracas contra el llamado paquete neoliberal
        del Fondo Monetario Internacional, que terminó en una verdadera masacre
        conocida como “El Caracazo”.”
      </p>
      <p class="piecita1">
        Acto de Instalación de la XII Cumbre de Jefes de Estado y de Gobierno
        del Grupo de los Quince G-15 1 de marzo de 2004
      </p>
      <p class="cita1">
        “Yo no sé cómo algunos todavía aquí en Venezuela se atreven a estar
        defendiendo el neoliberalismo, es que ni siquiera en los países
        desarrollados de donde salió la idea, ni siquiera ahí se creen esas
        mentiras, es una locura.”
      </p>
      <p class="piecita1">
        Discurso ante la Asamblea Nacional. Memoria y Cuenta año2000 Palacio
        Federal Legislativo, 15 de enero de 2001
      </p>
      <p class="cita1">
        “El modelo neoliberal prometió que después de un período de ajustes algo
        doloroso, pero imprescindible para arrebatarle al estado la regulación
        de la economía y liberalizar el comercio y las finanzas, la riqueza se
        extendería sobre América Latina y dejaría atrás la larga historia de
        pobreza y subdesarrollo. Pero el ajuste doloroso y temporal se ha hecho
        permanente y pretende hacerse eterno. Sus resultados no pueden
        ocultarse.”
      </p>
      <p class="piecita1">
        Acto de Instalación de la XII Cumbre de Jefes de Estado y de Gobierno
        del Grupo de los Quince G-15 1 de marzo de 2004
      </p>
      <p class="cita1">
        “Aunque las luchas sociales se agudizan e incluso algunos gobiernos han
        sido derribados por rebeliones populares, desde el Norte nos dicen que
        la reforma neoliberal no ha dado sus buenos resultados porque no se ha
        aplicado por completo.”
      </p>
      <p class="piecita1">
        Acto de Instalación de la XII Cumbre de Jefes de Estado y de Gobierno
        del Grupo de los Quince G-15 1 de marzo de 2004
      </p>
      <p class="cita1">
        “El modelo neoliberal prometió a los latinoamericanos mayor crecimiento
        económico, pero en los años neoliberales el crecimiento no ha alcanzado
        siquiera la mitad del que se obtuvo en la etapa 1945-1975 con políticas
        diferentes.”
      </p>
      <p class="piecita1">
        Acto de Instalación de la XII Cumbre de Jefes de Estado y de Gobierno
        del Grupo de los Quince G-15 1 de marzo de 2004
      </p>
      <p class="cita1">
        “El modelo recomendó la más estricta liberalización financiera y
        libertad cambiaria para lograr mayor ingreso de capitales extranjeros y
        mayor estabilidad, pero en los años neoliberales las crisis financieras
        han sido más intensas y frecuentes que nunca antes, la deuda externa
        regional que era inexistente al finalizar la Segunda Guerra Mundial, hoy
        alcanza en América Latina 750 mil millones de dólares, es la más elevada
        en términos per cápita en el mundo y en varios países equivale a más de
        la mitad del PIB.”
      </p>
      <p class="piecita1">
        Acto de Instalación de la XII Cumbre de Jefes de Estado y de Gobierno
        del Grupo de los Quince G-15 1 de marzo de 2004
      </p>
      <p class="cita1">
        “Nosotros en Venezuela hemos comenzado a salir y estamos seguros que en
        América Latina y el Caribe más temprano que tarde comenzaremos a
        derrotar las fuerzas del neoliberalismo en todas partes.”
      </p>
      <p class="piecita1">
        Aló Presidente Programa Nro. 44 . Desde El Palacio de Miraflores 24 de
        septiembre de 2000
      </p>
      <p class="cita1">
        “El otro cuento neoliberal: ah bueno privaticemos el país, bueno vendan
        Pdvsa pues; ese es el cuento que nos tenían aquí, vendan Pdvsa, vendan
        el aluminio, vendan el oro, vendan las playas, privaticemos todo y con
        ese dinero somos felices, sí, nos echan ese cuento de los neoliberales;
        mentira, mentira.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 45. Desde el Palacio de Miraflores 01 de Octubre de
        2000
      </p>
      <p class="cita1">
        “Estamos obligados a ser más eficientes, precisamente para continuar,
        cada día con mayor contundencia, enfrentando y derrotando el gran
        desafío y la carga del tiempo histórico. Porque Venezuela no puede
        volver más nunca al neoliberalismo.”
      </p>
      <p class="piecita1">
        Acto de Proclamación del Presidente Hugo Chávez Ante el Consejo Nacional
        Electoral. 10 de octubre de 2012
      </p>
      <p class="cita1">
        “Privatizaron allá la industria petrolera argentina, todo está en manos
        privadas, el Gobierno no tiene capacidad para tomar decisiones y he ahí
        la perversión del neoliberalismo.”
      </p>
      <p class="piecita1">
        Aló Presidente Programa Nro. 186 Desde La Planta De Llenado De Pdvsa En
        Guatire. 28 De marzo De 2004
      </p>
      <p class="cita1">
        “Entonces vamos a ser agresivos en la búsqueda de empresas que quieran
        venir a construir, por supuesto a obras que sean necesarias, y ahí
        nosotros pondremos las limitaciones, porque tampoco es que vamos a dar
        una concesión para que una empresa le quite el ojo de la cara a cada
        persona que vaya a cruzar después una autopista, un peaje, porque esa es
        la otra parte del neoliberalismo ¿no?”
      </p>
      <p class="piecita1">
        Aló Presidente Programa Nro. 186 Desde La Planta De Llenado De Pdvsa En
        Guatire 28 De marzo De 2004
      </p>
      <p class="cita1">
        “El neoliberalismo plantea a nivel ya macro, estratégico que la
        educación debe privatizarse, que la salud debe privatizarse, que todos
        los servicios como el agua, la energía eléctrica, la telefonía, hasta
        las carreteras deben privatizarse.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 204. Desde Unidad Educativa Nacional Claudio Feliciano
        Las Adjuntas. Parroquia Macarao. Municipio Libertador Domingo, 19 de
        septiembre de 2004
      </p>
      <p class="cita1">
        “Nosotros no privatizaremos la salud, todo lo contrario hemos revertido
        el proceso privatizador neoliberal.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 204. Desde Unidad Educativa Nacional Claudio Feliciano
        Las Adjuntas. Parroquia Macarao. Municipio Libertador Domingo, 19 de
        septiembre de 2004
      </p>
      <p class="cita1">
        “Está probado que el neoliberalismo nos conduce al desastre, a la
        quiebra, sobre todo a nosotros, los países pobres, los que estamos
        tratando de salir de abajo. ¿Por qué? Porque el neoliberalismo plantea
        la eliminación de todo tipo de barreras, de todo tipo de aranceles.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 216. Desde el Campo Experimental del INIA Municipio
        Alberto Arvelo Torrealba. Sabaneta. Estado Barinas Domingo 20 de Marzo
        de 2005
      </p>
      <p class="cita1">
        “¿Cuál es la tríada? Vamos a ver: Primero, autonomía. Segundo:
        descentralización. Tercero: privatización. Esos son elementos centrales
        del más crudo paquete neoliberal.”
      </p>
      <p class="piecita1">
        Encuentro con los trabajadores petroleros Desde el Polideportivo José
        María Vargas. Edo. Vargas 31 de agosto de 2012
      </p>
      <p class="cita1">
        “El desempleo del modelo neoliberal afecta especialmente a la juventud y
        a las mujeres, esos son los dos sectores de la sociedad que más sufren
        el desempleo: mujeres y jóvenes.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 17. Desde la Sede de Radio Nacional de Venezuela 03 de
        Octubre de 1999
      </p>
      <p class="cita1">
        “En el neoliberalismo, el que tenga dinero puede pagar y se salva, el
        que no tiene dinero se murió, si es niño, si es mujer, si es hombre, lo
        que sea se murió porque no tiene para pagar la salud.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 203. Desde Tacagua Vieja, Sector Araguaney Parroquia
        Sucre. Municipio Libertador. Domingo, 15 de septiembre de 2004
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
