<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/conciencia.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Hay que saber utilizar una computadora, ¿ahora para qué, sólo para
        hacer un documento y pasarlo como si fuera una máquina de escribir?
        ¡No!, para el trabajo social se requiere, por ejemplo, manejar
        herramientas para hacer censos, para hacer estadísticas, para
        investigación de problemas puntuales de la comunidad.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 299 Escuela de Formación Socialista Ezequiel Zamora. 6
        de enero de 2008
      </p>
      <p class="cita1">
        “El máximo aporte de cada venezolano y cada venezolana es y será
        decisivo, sin duda alguna, para vencer en esta batalla por la seguridad
        ciudadana”.
      </p>
      <p class="piecita1">Las líneas de Chávez. 2010</p>
      <p class="cita1">
        “El hombre nuevo, la sociedad nueva, no olvidemos eso, el hombre nuevo,
        la sociedad nueva, los valores nuevos, el socialismo; éste es territorio
        socialista, sobre este territorio está naciendo la Patria nueva.”
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, estado Barinas. 29
        de enero de 2012
      </p>
      <p class="cita1">
        “Hago un llamado a la conciencia humanista, humanitaria y solidaria de
        todos los venezolanos, de todas las instituciones del Estado, de las
        instituciones privadas, de la sociedad civil, para que pongamos la vida
        humana en primer lugar.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 028. Edo. Bolívar. 30 de Enero de 2000
      </p>
      <p class="cita1">
        “Para que crezca la conciencia. Debe continuar dándose, incrementándose
        la batalla de las ideas”.
      </p>
      <p class="piecita1">
        Discurso pronunciado con motivo del Tercer Aniversario del Frente
        Francisco de Miranda. Poliedro de Caracas. 29 de junio de 2006
      </p>
      <p class="cita1">
        “La teoría, es la teoría, pero si esa teoría no prende en el alma, en
        los huesos, en los nervios, en el espíritu del ser humano, y en la
        realidad, nada se transformaría. No vamos a transformarnos con puros
        libros”.
      </p>
      <p class="piecita1">
        Aló Presidente Teórico N° 1. Teatro Teresa Carreño 11 de junio de 2009
      </p>
      <p class="cita1">
        “En política social son innumerables los avances, innumerables, hemos
        continuado avanzando en el año 2007, creando nuevos niveles, cada día
        más altos de inclusión y de justicia social, situación que aquí nunca se
        había vivido en Venezuela, nunca, esta nueva realidad social ha sido
        sustentada en la prestación eficiente de servicios públicos de calidad,
        sobre todo la población históricamente excluida, la población pobre y
        sin recursos”
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional 11 de enero de
        2008
      </p>
      <p class="cita1">
        “No debe haber espacio para bajas pasiones en el corazón de los
        revolucionarios”.
      </p>
      <p class="piecita1">
        Lineamientos para 2da Batalla de Santa Inés, 04 de febrero de 2006
      </p>
      <p class="cita1">
        “Yo estoy resteado con ustedes, y estamos resteados con ustedes
        trabajadores de la patria, para continuar construyendo el socialismo con
        la cultura del trabajo y la conciencia social por delante.”
      </p>
      <p class="piecita1">
        Aló Presidente N º 377 Salón Néstor Kirchner. Palacio de Miraflores 22
        de enero de 2012
      </p>
      <p class="cita1">
        “El gas va a ser más barato, se ubicará en un precio muy por debajo de
        lo que cuesta hoy la gasolina. Y el gas no contamina, y además tenemos
        en Venezuela grandísimas reservas de gas que nos permiten adelantar
        estos proyectos. Es parte de la revolución energética.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores 1° de febrero de 2007
      </p>
      <p class="cita1">
        “La conciencia ustedes saben, todos sabemos que proviene del
        conocimiento, del conocimiento de lo que realmente está ocurriendo.”
      </p>
      <p class="piecita1">
        Discurso en el campo de rugby de la Universidad de Córdoba, 21 de julio
        de 2006.
      </p>
      <p class="cita1">
        “Esa primera línea estratégica debe ser máximo valor, principio y fin.
        Dejar atrás la cultura política capitalista y como lo dice Zaratustra,
        convirtámonos en un puente, puente hacia la cultura. No sólo militancia,
        cultura, valores socialistas de verdad, y no por decirlo y declararlo
        sino en la conducta.”
      </p>
      <p class="piecita1">
        Reunión con el Gabinete Ejecutivo, Gobernadores y Buró Político del
        PSUV. Salón Ayacucho – Palacio de Miraflores. 16 de julio de 2011
      </p>
      <p class="cita1">
        “El socialismo económico. Que nadie vaya a pensar que el socialismo es
        sólo la solidaridad y la Misión Ribas, la Misión Barrio Adentro, la
        Misión Mercal; eso es parte del esfuerzo para construir el socialismo,
        del camino, pero tenemos que transformar el modelo económico capitalista
        en socialista”
      </p>
      <p class="piecita1">
        Asamblea del Batallón Nº 6 de la Circunscripción Nº 1 de aspirantes a
        militantes del Partido Socialista Unido de Venezuela (PSUV) Museo
        Histórico Militar Parroquia 23 Enero-Caracas.28 de julio de 2007
      </p>
      <p class="cita1">
        “Hay que estudiar mucho las Tareas de la Revolución. Debate Socialista.
        Este es el encartado de Debate Socialista Digital. Esto viene encartado
        en el diario VEA.”
      </p>
      <p class="piecita1">
        Contacto Telefónico desde el Palacio de Miraflores en el evento del PSUV
        14 de agosto de 2011
      </p>
      <p class="cita1">
        “El Índice de Precios al Consumidor (IPC)—, es muy alto en clínicas
        privadas. Lo mismo las tarifas de la educación privada, eso no se puede
        permitir, que jueguen con la salud del ser humano empresarios
        inescrupulosos, o con la educación de nuestros jóvenes, un gobierno no
        puede permitir eso.”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón Ayacucho
        Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Juro por Cristo, el más grande socialista de la historia, juro por todo
        ello, juro por todos los dolores, juro por todos los amores, juro por
        todas las esperanzas que haré cumplir, que cumpliré con los mandatos
        supremos de esta maravillosa Constitución, con los mandatos supremos del
        pueblo venezolano, aun a costa de mi propia vida, aun a costa de mi
        propia tranquilidad.”
      </p>
      <p class="piecita1">
        Juramentación del Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez Frías (período 2007-2013) Palacio Federal Legislativo. 10 de
        enero de 2007
      </p>
      <p class="cita1">
        “El pueblo y la conciencia, ustedes tienen que ser vanguardia en eso y
        dar el ejemplo. Tenemos que dar el ejemplo en esas luchas desde abajo,
        es lo primero que tú vas a conseguir en el despliegue,…, y te consigues
        el mundo.”
      </p>
      <p class="piecita1">
        Contacto Telefónico desde el Palacio de Miraflores en el evento del PSUV
        14 de agosto de 2011
      </p>
      <p class="cita1">
        “Quienes habían sido despojados de su dinero por unos hampones de cuello
        blanco, hoy saben que aquí hay un Estado y un Gobierno que no los
        abandonó a su suerte, restituyéndoles lo que, legítimamente, les
        pertenece.” (A los ahorristas del Banco Federal)
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Manuela Vuelve! 04 Julio 2010
      </p>
      <p class="cita1">
        “Yo los invito, a participar, a que manden sus observaciones, sus
        críticas, sus aportes para construir entre todos el Proyecto Nacional
        Simón Bolívar, en su fase 2013-2019.”
      </p>
      <p class="piecita1">
        Reunión de Trabajo, Jueves de Vivienda Despacho Presidencial, Palacio de
        Miraflores Caracas, jueves 15 de noviembre de 2012
      </p>
      <p class="cita1">
        “Algo muy importante para un gobierno, insisto, la eficiencia en el
        cumplimiento de las tareas, hacer las cosas previstas y hacerlas bien, y
        las que vayan surgiendo, que no estaban previstas, también enfrentarlas
        y solucionarlas.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 299 Escuela de Formación Socialista Ezequiel Zamora. 6
        de enero de 2008
      </p>
      <p class="cita1">
        “Sabrán valorar más los esfuerzos que estamos haciendo, ¿para qué?, para
        que haya educación de calidad para todos, para que haya trabajo de
        calidad y digno para todos, salario digno y justo, prestaciones sociales
        dignas para todos, para que haya salud preventiva e integral comunitaria
        para todos, gratuita y de calidad, para que haya vivienda digna, bonita
        y buena para todos y para toda las familias venezolana, para que vivamos
        felices en un mundo nuevo. ¡Que vivan los trabajadores venezolanos y las
        trabajadoras venezolanas!”
      </p>
      <p class="piecita1">
        Acto del Día del Trabajador y Trabajadora de la República Bolivariana de
        Venezuela Sala Ríos Reyna, Teatro Teresa Carreño. Lunes, 30 de abril de
        2007
      </p>
      <p class="cita1">
        “Vamos a crear empresas de propiedad social y de producción social y a
        los vecinos de allí en Anzoátegui, en Jose, a esa gente pobre —muchos de
        ellos desempleados— vamos a capacitarlos y vamos a darles créditos,
        vamos a crear unas empresas, maquinarias para que procesen ese azufre y
        ese coque.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores 1° de febrero de 2007
      </p>
      <p class="cita1">
        “La palabra responsabilidad viene del latín responder, responderé.
        Responsabilidad es la capacidad que alguien tiene, o no tiene, de
        responder ante una situación, de dar la cara, decimos en criollo, hay
        que ser responsable, hay que tener responsabilidad.”
      </p>
      <p class="piecita1">
        Acto de entrega de certificados a los ahorristas del Banco Federal Salón
        Ayacucho, Palacio de Miraflores 2 de julio de 2010
      </p>
      <p class="cita1">
        “Si me lo permiten, más allá del hombre viejo, que no tiene que ver con
        las edades; más allá de lo que Nietzsche llama “el último hombre”. El
        último hombre es el hombre del capitalismo, el ultrahombre, el más allá
        de lo que hasta ahora hemos sido, es el Socialismo, el hombre
        socialista, la mujer socialista, la sociedad socialista.”
      </p>
      <p class="piecita1">
        Reunión con el Gabinete Ejecutivo, Gobernadores y Buró Político del
        PSUV. Salón Ayacucho – Palacio de Miraflores 16 de julio de 2011
      </p>
      <p class="cita1">
        “Nuestra superioridad numérica tiene que traducirse en la mayor eficacia
        política y en la más alta calidad revolucionaria durante todo el
        desarrollo de la campaña.”
      </p>
      <p class="piecita1">
        Líneas de Chávez ¡A paso de Vencedores! 29 Agosto 2010
      </p>
      <p class="cita1">
        “Quitémonos eso de la cabeza, de que “voy a hacer esta planta para
        volverme rico”. No, es para ayudar a los demás, ése es el objetivo.”
      </p>
      <p class="piecita1">
        Apoyo a la Inventiva Tecnológica Nacional Torre Ministerial, Caracas. 19
        de junio de 2007
      </p>
      <p class="cita1">
        “Hemos estado en un plan de migración, sólo que bueno, hemos estado
        acelerando, en función de arreglar refugios, acondicionar refugios”
        (Cambio de damnificados de escuelas a otros refugios)
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 369 Escuela Básica Nacional “Flores de Catia”.
        Parroquia 23 de Enero. 9 de enero de 2011
      </p>
      <p class="cita1">
        “Solo hay hombres excepcionales y mujeres, como Bolívar que era rico y
        terminó allá, pero terminó como Cristo crucificado también, ve, casi
        solitario, entregó su riqueza para el pueblo, para la revolución.”
      </p>
      <p class="piecita1">
        Lanzamiento de la Misión «Hijos de Venezuela» 12 de diciembre de 2011
      </p>
      <p class="cita1">
        “Una cosa son los derechos del trabajador y la trabajadora bueno el
        tiempo de trabajo, bueno el salario, bueno las prestaciones, bueno la
        seguridad social, pero la otra cara de la moneda es el deber del
        trabajador para con la sociedad, para con el pueblo, el deber de los
        trabajadores, de los estudiantes, de todos nosotros para con un país,
        para con el colectivo.”
      </p>
      <p class="piecita1">
        Conmemoración de los 10 años de la derrota del paro patronal y la
        promulgación de la Ley de Tierras. Teatro Municipal, 10 de diciembre de
        2011
      </p>
      <p class="cita1">
        “Ustedes deben recordar que aquí se repetía mucho que los pobres eran
        pobres porque eran flojos.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores 1° de febrero de 2007
      </p>
      <p class="cita1">
        “El ser humano verdadero, integral, necesariamente tiene que marchar
        hacia el socialismo. El ser humano incompleto, egoísta, individualista,
        marcha por el sendero del capitalismo, ésos son los dos caminos, no hay
        un tercer camino.”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón Ayacucho
        Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “La conciencia es el resultado del conocimiento, por eso hay que
        estudiar, leer y analizar mucho.”
      </p>
      <p class="piecita1">
        Colocación de la piedra fundacional del desarrollo habitacional
        “Terrazas del Alba”. Municipio Libertador, Distrito Capital; 2 de junio
        de 2006
      </p>
      <p class="cita1">
        “Hay que insistir hasta el cansancio en la necesidad de fortalecer
        nuestra conciencia histórica, lo que hemos sido; es decisivo para una
        comprensión justa de lo que somos y de lo que queremos ser.”
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional 11 de enero de
        2008
      </p>
      <p class="cita1">
        “Para que el pueblo se concrete en fuerza real debe tener, primero que
        nada, conciencia; y para que el pueblo tenga conciencia debe tener
        conocimiento y cultura.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 252. Campo de Carabobo, 9 de abril de 2006
      </p>
      <p class="cita1">
        “El primero de todos los poderes, después del poder de Dios, es el
        conocimiento.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 253. Campo Oficina, municipio Simón Rodríguez, El
        Tigre, estado Anzoátegui; 23 de abril de 2006
      </p>

      <p class="cita1">
        “Vamos pues, a acabar con la estructura monopólica y sus redes de
        acaparamiento, especulación y saqueo.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Goool: Comunas más electricidad! 13 Junio 2010
      </p>
      <p class="cita1">
        “Contamos, así lo siento en el corazón, con el apoyo, la comprensión, la
        cooperación, la responsabilidad de la mayoría de los venezolanos y las
        venezolanas que somos gente honesta, y además que hemos despertado a la
        conciencia y hemos venido acumulando conciencia, y la mayoría de
        nosotros.”
      </p>
      <p class="piecita1">
        Acto de entrega de certificados a los ahorristas del Banco Federal Salón
        Ayacucho, Palacio de Miraflores 2 de julio de 2010
      </p>
      <p class="cita1">
        “A lo mejor nosotros tenemos una visión que no coincide con la de
        algunos venezolanos que creen que esto va a seguir igual que en los
        últimos 20 años, un grupito ganando mucho dinero, y la mayoría
        hundiéndose en la pobreza. ¡No! esto no puede seguir así, se nos va la
        vida en el proceso.”
      </p>
      <p class="piecita1">
        Discurso con motivo de su toma de posesión como Presidente de la
        República Bolivariana de Venezuela para el periodo 2000-2006 ante la
        Asamblea Nacional
      </p>
      <p class="cita1">
        “La mortalidad infantil era de 25 por mil, ya vamos por 16 por mil. La
        de Cuba está en menos de 5 por mil. Para allá vamos nosotros. Educación,
        salud.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores 1° de febrero de 2007
      </p>
      <p class="cita1">
        “¡Cómo viven los conserjes! Compadre, es que eso es sencillamente,
        ¿mire? Ése es un atentado contra la dignidad humana. Habrá excepciones,
        pero, serán eso, sólo la excepción.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 369 Escuela Básica Nacional “Flores de Catia”.
        Parroquia 23 de Enero. 9 de enero de 2011
      </p>
      <p class="cita1">
        “Dentro de todo ese gran cuerpo social la conciencia del deber que
        tenemos, la conciencia de la necesidad de la batalla permanente y de la
        victoria permanente.”
      </p>
      <p class="piecita1">
        Balcón del pueblo, Palacio de Miraflores 22 de mayo de 2011
      </p>
      <p class="cita1">
        “Los conserjes son tratados como esclavos y esclavas, y la mayoría son
        mujeres y la mayoría mujeres, de la tercera edad, con hijos y con nietos
        ¿eh?, que los obligan a trabajar hasta los ¡domingos!, ¡no tienen
        seguridad social, aunque les descuentan! Eso se llama esclavitud y
        estamos en el siglo XXI.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 369 Escuela Básica Nacional “Flores de Catia”.
        Parroquia 23 de Enero. 9 de enero de 2011
      </p>
      <p class="cita1">
        “¡Gracias a Dios!, los pueblos de América Latina están despertando.
        ¡Gracias a Dios!, nuevos gobiernos están llegando, con conciencia
        verdaderamente social, popular, con conciencia de nuestra historia.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 258. Villa Bruzual, estado Portuguesa; 11 de junio de
        2006
      </p>
      <p class="cita1">
        “Tenemos que atraer hacia nosotros a la clase media, a los sectores
        medios a veces confundidos, envenenados, familiares, amigos,
        profesionales, a través de los argumentos, a través de las ideas, a
        través de la razón argumentativa, el discurso argumentativo para
        convencer con ideas, de que este proyecto es el camino, para que haya
        una patria en paz, y como dice la Constitución, con justicia social, con
        igualdad, con libertad.”
      </p>
      <p class="piecita1">
        Contacto Telefónico desde el Palacio de Miraflores en el evento del PSUV
        14 de agosto de 2011
      </p>
      <p class="cita1">
        “El desempleo azota por todas partes, y especialmente en los jóvenes, y
        especialmente en las mujeres y especialmente en los discapacitados, y
        especialmente en el sector rural. He ahí los cuatro objetivos humanos
        que están bien precisados”
      </p>
      <p class="piecita1">
        Discurso con motivo del segundo aniversario del referendo que convoco a
        la Asamblea Nacional Constituyente de 1999 Palacio Federal Legislativo,
        25 de abril de 2001
      </p>
      <p class="cita1">
        “Quién puede imaginarse a Cristo capitalista. ¡Ah, Judas Iscariote! Ese
        sí era el capitalista.”
      </p>
      <p class="piecita1">
        Mensaje Anual ante la Asamblea Nacional Palacio Federal Legislativo 15
        de enero de 2010
      </p>
      <p class="cita1">
        “Hay los que no se pueden bañar con agua fría, tan sabrosa que es el
        agua fría para despertar el cuerpo, sobre todo en la mañana para
        desperezarse, estirarse, pero entonces abren allá el chorro y hasta que
        no se calienta… aquello chorreando y chorreando agua; compadre abra,
        coja aire y póngase en el chorro rápido, mientras se enjabone cierre el
        chorro, no va a dejar el chorro abierto y cantando cien canciones. Esto
        es una forma de hacer la guerra al derroche, al consumismo. Debemos
        tomar conciencia.”
      </p>
      <p class="piecita1">
        X Aniversario del Banco del Pueblo Teatro Teresa Carreño. 26 de octubre
        de 2009
      </p>
      <p class="cita1">
        “Ahora nadie podrá decir que nosotros hemos sido arbitrarios, nadie
        podrá decir que hemos atropellado a nadie, no, los que han atropellado
        al pueblo son los que han faltado con su compromiso.”
      </p>
      <p class="piecita1">
        Aló Presidente, N° 132 desde la planta de distribución de PDVSA
        Carenero, Edo Miranda. 22 de diciembre de 2002
      </p>
      <p class="cita1">
        “Venezuela tiene un derroche, nosotros aquí estamos haciendo esfuerzos
        por economizar, con un derroche terrible e históricamente acumulado.”
      </p>
      <p class="piecita1">
        Instalación de la I Cumbre Energética Suramericana Gran Salón Hotel
        Hilton Margarita, Porlamar, estado Nueva Esparta 17 de abril de 2007
      </p>
      <p class="cita1">
        “Estamos transfiriendo el poder que estaba concentrado en pocas manos,
        tanto el poder político como el poder económico sobre todo, estamos
        distribuyéndolo, redistribuyéndolo, y eso es lo que no nos perdonan las
        oligarquías que concentraron poder económico y político durante cien
        años, durante doscientos años, después de haber traicionado a Bolívar,
        de haber matado a Sucre, haber matado a Zamora, haber derrocado a
        Cipriano Castro.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Esa es nuestra tarea, y siempre con aquel principio de Cristo: el
        hombre, el ser humano, pues; el hombre, la mujer, el niño, la niña, el
        ser humano deben ser siempre para nosotros el alfa y el omega, el
        principio y el fin, el ser humano”.
      </p>
      <p class="piecita1">
        Mensaje anual del Presidente Hugo Chávez, desde el Palacio Legislativo,
        el 14 de enero de 2005
      </p>
      <p class="cita1">
        “Debemos obligatoriamente darle poder a los pobres, no hay otra manera
        de acabar con la pobreza.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 200 Ciudad Vacacional Los Caracas 1 de agosto de 2004
      </p>
      <p class="cita1">
        “Llamo a los trabajadores y trabajadoras de Venezuela, a las amas de
        casa, a los jóvenes estudiantes de los liceos, de las universidades, a
        los soldados de todas las unidades de la Fuerza Armada a emprender una
        verdadera jornada nacional de trabajo voluntario. Y nosotros tenemos que
        dar el ejemplo, los que estamos ocupando cargos en el Gobierno, en el
        Estado.”
      </p>
      <p class="piecita1">
        Gabinete Comunal “Todos los motores a máxima revolución” Salón Venezuela
        del Círculo Militar, Fuerte Tiuna Jueves, 15 de febrero de 2007
      </p>
      <p class="cita1">
        “Tenemos que acrecentarnos en conciencia revolucionaria y en ejercicio
        realmente socialista, si queremos que una institución como la Asamblea
        cumpla, a cabalidad, con el desmontaje del viejo Estado burgués y
        contribuya a abrirle las puertas al Estado socialista”.
      </p>
      <p class="piecita1">Las líneas de Chávez. 2010</p>
      <p class="cita1">
        “Las fuerzas de la derecha venezolana, seguirán haciendo todos los
        esfuerzos para tratar de frenar esta Revolución. En nuestras manos está
        impedirlo, y para ello se requiere seguir fortaleciendo la conciencia
        revolucionaria, la unidad del pueblo”
      </p>
      <p class="piecita1">
        Conmemoración del 4F Carabobo, 4 de febrero de 2011
      </p>
      <p class="cita1">
        “Sólo la conciencia (y la conciencia, como lo dice Víctor Hugo «es el
        acumulado de ciencia que tenemos en nosotros mismos»), libera al ser
        humano de la tiranía del «tiempo sin futuro».”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: Maisanta, que son bastantes! 08 Noviembre 2009
      </p>
      <p class="cita1">
        “Los pobres que hoy viven en los ranchos, en las barriadas más
        miserables merecen tener una vivienda digna, unos edificios bonitos,
        campos deportivos, áreas verdes, la vista al mar, clima agradable,
        viviendas para el ser humano.”
      </p>
      <p class="piecita1">
        Asamblea del Batallón Nº 6 de la Circunscripción Nº 1 de aspirantes a
        militantes del Partido Socialista Unido de Venezuela (PSUV) Museo
        Histórico Militar Parroquia 23 Enero-Caracas.28 de julio de 2007
      </p>
      <p class="cita1">
        “Para que el pueblo se concrete en fuerza real, debe tener, primero que
        nada, conciencia; y para que el pueblo tenga conciencia, debe tener
        conocimiento y cultura.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 252. Campo de Carabobo, 9 de abril de 2006
      </p>
      <p class="cita1">
        “Estamos saliendo de la dieta eléctrica, pero lo hacemos fortalecidos y
        además con una gran conciencia: le estamos dando vida a una nueva
        cultura para superar definitivamente el derroche y el consumismo voraz
        que el capitalismo había sembrado en nuestra nación.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Goool: Comunas más electricidad! 13 Junio 2010
      </p>
      <p class="cita1">
        “Tenemos que impulsar cadenas productivas de Propiedad Social”
      </p>
      <p class="piecita1">
        Celebración del Día Internacional del Trabajador Teatro Teresa Carreño,
        30 de abril de 2010
      </p>
      <p class="cita1">
        “La conciencia del pueblo es el combustible fundamental para alcanzar
        una revolución victoriosa.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 256. Ciudad Sagrada de Tiwanaku, Bolivia; 28 de mayo
        de 2006
      </p>
      <p class="cita1">
        “Los que creen en el neoliberalismo todavía, el capitalismo y el libre
        mercado, cada día van a irse borrando del mapa, y aquí va a continuar
        creciendo esa gran fuerza de la conciencia de los pueblos que ha traído
        cada día más gobiernos que se van sumando a esta nuestra propuesta
        alternativa anticapitalista, antineoliberal, antiimperialista.”
      </p>
      <p class="piecita1">
        Acto del Día del Trabajador y Trabajadora de la República Bolivariana de
        Venezuela Sala Ríos Reyna, Teatro Teresa Carreño Lunes, 30 de abril de
        2007
      </p>
      <p class="cita1">
        “Nuestro pueblo poco a poco tiene que ir percibiendo con mayor claridad
        y de ahí la importancia de nuestra conciencia, de nuestra acción
        política, de nuestros sistemas comunicacionales e informativos, de
        nuestros liderazgos, de nuestra unidad, compatriota.”
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional 11 de enero de
        2008
      </p>
      <p class="cita1">
        “Para vivir, la única forma, es tomando conciencia, y para eso hay que
        ver, oír bien, interpretar bien, leer bien el mundo, tener conocimiento,
        el conocimiento nos hará libres, libres; la cultura, la conciencia.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 369 Escuela Básica Nacional “Flores de Catia”.
        Parroquia 23 de Enero. 9 de enero de 2011
      </p>
      <p class="cita1">
        “En el mundo, hay cada día más pobres y más gente viviendo en la
        miseria, aquí en Venezuela no porque gracias a Dios llegó a tiempo la
        revolución bolivariana que ha metido un freno a la miseria y a la
        pobreza y ahora estamos construyendo una patria nueva.”
      </p>
      <p class="piecita1">
        Lanzamiento de la Misión «Hijos de Venezuela» 12 de diciembre de 2011
      </p>
      <p class="cita1">
        “Habrá personas que no pueden pagar, sólo que tienen derecho a la
        vivienda, y la comunidad se las construye”
      </p>
      <p class="piecita1">
        Gabinete Comunal “Todos los motores a máxima revolución” Salón Venezuela
        del Círculo Militar, Fuerte Tiuna Jueves, 15 de febrero de 2007
      </p>
      <p class="cita1">
        “Ese contacto a diario con tanto dolor, con tanta tarea, con tantas
        cosas prácticas, todas urgentes además. Cuidado, ¡Cuidado!, tómense
        aunque sea un minuto de todos los días para recordar la ideología o para
        escribirla o para expresarla o para explicarla.”
      </p>
      <p class="piecita1">
        Discurso con motivo de su toma de posesión como Presidente de la
        República Bolivariana de Venezuela para el periodo 2000-2006 ante la
        Asamblea Nacional
      </p>
      <p class="cita1">
        “Partamos de allí, de una sólida conciencia de que somos una sola
        nación, y mucho más, de que somos una sola Patria. No somos dos patrias,
        ni somos tres patrias.”
      </p>
      <p class="piecita1">
        Suscripción de acuerdos y rueda de prensa entre Ecuador y Venezuela,
        Salón Amarillo del Palacio de Carondelet Quito, Ecuador. 9 agosto de
        2007
      </p>
      <p class="cita1">
        “El tema de la seguridad en las calles, el tema de la corrupción, hago
        un llamado a que luchemos cada día con más éxito contra todos esos
        flagelos que son heredados del pasado, pero que no podemos estar
        condenados a vivir para siempre con ellos; son males muy profundos,
        estructurales, inmanentes al modelo capitalista, al Estado capitalista,
        a la sociedad capitalista burguesa.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 299 Escuela de Formación Socialista Ezequiel Zamora. 6
        de enero de 2008
      </p>
      <p class="cita1">
        “Tenemos que acrecentarnos en conciencia revolucionaria y en ejercicio
        realmente socialista, si queremos que una institución como la Asamblea
        cumpla, a cabalidad, con el desmontaje del viejo Estado burgués y
        contribuya a abrirle las puertas al Estado socialista.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Con Marx, con Cristo, con Bolívar! 14 Marzo 2010
      </p>
      <p class="cita1">
        “Vamos a demostrar, vamos a ser coherentes, y para eso se requiere
        conciencia, estudio permanente, estudio, conciencia, sentimiento; abonar
        eso, abonar el amor, y demostrarlo, demostrarlo.”
      </p>
      <p class="piecita1">
        Apoyo a la Inventiva Tecnológica Nacional Torre Ministerial, Caracas. 19
        de junio de 2007
      </p>
      <p class="cita1">
        “Tenemos que impulsar cadenas productivas de Propiedad Social”
      </p>
      <p class="piecita1">
        Celebración del Día Internacional del Trabajador Teatro Teresa Carreño,
        30 de abril de 2010
      </p>
      <p class="cita1">
        “Tenemos que hacerlo bien y hacerlo rápido, porque hay que recuperar el
        tiempo que se perdió, hemos perdido mucho tiempo. ¡Ya basta de pobreza,
        de miseria! ¡Ya basta de esclavitud! ¡Queremos ser libres! ¡Queremos ser
        libres y vamos a ser libres! Lo vamos a ser.
      </p>
      <p class="piecita1">
        Firma de acuerdos Nicaragua-Venezuela Centro de Convenciones Olof Palme,
        Managua-Nicaragua 11 de enero de 2007
      </p>
      <p class="cita1">
        “Fortalezcamos los valores, el deporte, la solidaridad, la humildad, la
        honradez, el trabajo social voluntario, el desprendimiento de lo de uno
        por los otros, el estudio, la justicia, el deseo de justicia, la lucha
        por la justicia, por la igualdad.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 299 Escuela de Formación Socialista Ezequiel Zamora. 6
        de enero de 2008
      </p>
      <p class="cita1">
        “Tengo conciencia de la importancia revolucionaria, social, profunda que
        tiene la cultura para la recuperación plena del alma nacional
        venezolana”.
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 66 Puerto Ordaz, Estado Bolívar. 25 de marzo de 2001
      </p>
      <p class="cita1">
        “Donde hay un hombre, donde hay una mujer, donde hay un niño, donde hay
        un espacio está el socialismo, sólo que está en potencia, hay que
        olerlo, hay que verlo más allá de lo visible, hay que intuirlo”
      </p>
      <p class="piecita1">
        Aló Presidente N º 377 Salón Néstor Kirchner. Palacio de Miraflores 22
        de enero de 2012
      </p>
      <p class="cita1">
        “Todavía nos falta la conciencia de lo que es la propiedad de todos, la
        propiedad del pueblo chico, eso es del pueblo, no es tuyo, cuídalo”.
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, estado Barinas. 29
        de enero de 2012
      </p>
      <p class="cita1">
        “Tenemos que avanzar en la reactivación del empleo, de la economía, la
        seguridad social, la seguridad pública, las viviendas, es la parte
        estructural socioeconómica”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 28. Estado Bolívar 30 de Enero de 2000
      </p>
      <p class="cita1">
        “Estamos comenzando a construirla y esa patria futura pues, ya les dije
        muchachos, es de ustedes, pero tomemos conciencia y repartamos
        conciencia, multipliquemos la conciencia”.
      </p>
      <p class="piecita1">
        Discurso en el campo de rugby, Universidad de Córdoba, Argentina. 21 de
        julio de 2006
      </p>
      <p class="cita1">
        “Trabajar con el pueblo, detectar las necesidades y buscar la manera de
        solucionarla, es la esfera de lo material, y al mismo tiempo lo
        espiritual.”
      </p>
      <p class="piecita1">
        Contacto Telefónico desde el Palacio de Miraflores en el evento del PSUV
        14 de agosto de 2011
      </p>
      <p class="cita1">
        “La igualdad, la igualdad: ¡no es posible la igualdad en el
        capitalismo!”
      </p>
      <p class="piecita1">
        Entrega del Doctorado Honoris Causa de la Universidad Nacional de
        Ingeniería al presidente de la República Bolivariana de Venezuela, Hugo
        Chávez. Plaza del Rectorado. Managua, Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “El imperio no se da cuenta que con esto despierta, sigue despertando
        conciencia, porque detrás de las preguntas están las respuestas, y
        detrás de las respuestas está la conciencia.”
      </p>
      <p class="piecita1">
        Rueda de Prensa Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez Frías, con corresponsales extranjeros Sala de Prensa Simón
        Bolívar. Palacio de Miraflores. 6 de junio de 2007
      </p>
      <p class="cita1">
        “Es imprescindible la participación, darle vida a la democracia
        participativa y protagónica en todos esos espacios políticos, económicos
        y sociales.”
      </p>
      <p class="piecita1">
        Discurso con motivo del segundo aniversario del referendo que convoco a
        la Asamblea Nacional Constituyente de 1999 Palacio Federal Legislativo,
        25 de abril de 2001
      </p>

      <p class="cita1">
        “Hago un llamado a la solidaridad, todos somos hijos de dios y este
        barco es de todos y la patria es de todos. Aquí no podemos estar
        dividiéndonos en ricos y en pobres.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 10 Sede de Radio Nacional de Venezuela 15 de Agosto de
        1999
      </p>
      <p class="cita1">
        “De este lado, el afán insobornable de la solidaridad y el bienestar
        colectivo; y del otro lado, los apetitos mezquinos de quienes por
        generaciones han querido repartirse al país como un botín”.
      </p>
      <p class="piecita1">
        Las Líneas de Chávez ¡Viva Bolívar! ¡Bolívar Vive! 19 diciembre 2010
      </p>
      <p class="cita1">
        “Dentro de unos años no habrá miseria en Venezuela, pero se los prometo
        y yo pongo mi vida por delante, no habrá una mujer viviendo en miseria,
        un niño, una niña, un hombre, un hogar, un hogar no habrá.”
      </p>
      <p class="piecita1">
        Lanzamiento de la Misión «Hijos de Venezuela» 12 de diciembre de 2011
      </p>
      <p class="cita1">
        “Mañana voy a firmar unos decretos. El que consume por encima de un
        techo se le recarga de ahí para arriba, va a pagar el doble, y el que
        consuma por debajo de un piso se le descuenta incluso pudiera no pagar,
        eso es para motivar además. Pero la primera motivación debe ser la
        conciencia.”
      </p>
      <p class="piecita1">
        X Aniversario del Banco del Pueblo Teatro Teresa Carreño. 26 de octubre
        de 2009
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
