<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/g-15.jpg"></ion-img>
    <ion-card-content>

      <p class="cita1">
        “En septiembre de 1989 nace en Belgrado, en el marco de la reunión del
        Grupo de los No Alineados, el Grupo de los 15 con la finalidad de
        reforzar la cooperación Sur-Sur”.
      </p>
      <p class="piecita1">
        Discurso pronunciado en el Acto de Instalación de la XII Cumbre de Jefes
        de Estado y de Gobierno del G-15, 1 marzo 2004
      </p>
      <p class="cita1">
        “La necesidad del Sur de tomar conciencia de sí mismo y de actuar
        conjuntamente en una realidad planetaria caracterizada por el
        desequilibrio y el intercambio desigual”.
      </p>
      <p class="piecita1">
        Discurso pronunciado en el Acto de Instalación de la XII Cumbre de Jefes
        de Estado y de Gobierno del G-15, 1 marzo 2004
      </p>
      <p class="cita1">
        “Aquí el neoliberalismo alcanzó categoría de dogma doctrinal y se aplicó
        con especial rigor”
      </p>
      <p class="piecita1">
        Discurso pronunciado en el acto de instalación de la XII cumbre de jefes
        de estado y de gobierno del G-15, 1 marzo 2004
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
