<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/caracazo.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Estamos a pocos días de la conmemoración de los 23 años de aquel suceso
        terrible que hay que recordar siempre, el Caracazo, de allá venimos,
        somos hijos del Caracazo, hijas del Caracazo, 4 de Febrero, hijos e
        hijas de una convulsión histórica.”
      </p>
      <p class="piecita1">
        Consejo de Ministros Salón Néstor Kirchner, Palacio de Miraflores
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
