<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/feminista.jpg"></ion-img>
    <ion-card-content>

      <p class="cita1"> “El mundo lo salvaremos sólo cuando las mujeres asuman el protagonismo, al igual que los
        hombres, en la conducción de los pueblos, en la orientación de la política, la economía, la sociedad.”
      </p>
      <p class="piecita1">Conmemoración del 28º Aniversario de la Revolución Sandinista
        Plaza La Fe de Juan Pablo II, Nicaragua.19 de julio de 2007
      </p>
      <p class="cita1"> “Las presidentas de las salas, cada día hay más mujeres en esos altos cargos. La doctora Luisa
        Estela Morales, desde aquí también la saludamos, una magistrada excepcional, una moral incuestionable.”
      </p>
      <p class="piecita1">Celebración del VIII aniversario del Instituto Nacional de la Mujer (Inamujer).Sala Ríos
        Reyna, Teatro Teresa Carreño. 31 de octubre de 2007
      </p>
      <p class="cita1"> “El día de la mujer es todos los días, vamos a empezar por aclarar eso; las mujeres están allí
        todos los días, siempre, siempre presentes, siempre cumpliendo con su labor, con sus tareas, con su hermosura de
        existencia”.
      </p>
      <p class="piecita1">Aló, Presidente” N° 63. Salón Bolívar. Ministerio de Defensa. 4 de marzo de 2001
      </p>
      <p class="cita1"> “Mujeres venezolanas, sigan ustedes asumiendo el papel de vanguardia en la construcción de la
        revolución socialista, que es el camino a la vida de la Patria, a la vida de los hijos, a la vida del mundo
        futuro.”
      </p>
      <p class="piecita1">Celebración del VIII aniversario del Instituto Nacional de la Mujer (Inamujer).Sala Ríos
        Reyna, Teatro Teresa Carreño. 31 de octubre de 2007
      </p>
      <p class="cita1"> “Ahora incorporamos un nuevo programa a la Revolución en la seguridad social, las amas de casa.
        Las amas de casa mayores de 65 años, que tampoco tienen registros de haber trabajado en ninguna parte, pero que
        trabajaron desde muy jóvenes criando y formando una familia.”
      </p>
      <p class="piecita1">Acto del Día del Trabajador y Trabajadora de la República Bolivariana de Venezuela
        Sala Ríos Reyna, Teatro Teresa Carreño. Lunes, 30 de abril de 2007
      </p>
      <p class="cita1"> “Día de la Madre. Nos reconocemos en el amor encarnado por las madres venezolanas: somos
        radicalmente fieles a su amor.”
      </p>
      <p class="piecita1">Líneas de Chávez Madre Santa, Maisanta… 10 mayo 2009
      </p>
      <p class="cita1"> “Las mujeres yo las vi, yo preso, cómo tienen coraje para luchar cuando de verdad se enamoran de
        una causa.”
      </p>
      <p class="piecita1">Radio Nacional de Venezuela. 26 de Septiembre de 1999
      </p>
      <p class="cita1"> “La presidenta del Consejo Nacional Electoral, la doctora Tibisay Lucena, ¡con qué dignidad sale
        ella, además, a enfrentar los atropellos de algunos medios de comunicación! Con qué dignidad, vean ustedes, yo
        la vi el domingo, fue muy exitoso, hay que felicitarla a ella y a todo el Consejo Nacional Electoral, además con
        qué capacidad, ¿no?, de gerencia, de liderazgo.”
      </p>
      <p class="piecita1">Celebración del VIII aniversario del Instituto Nacional de la Mujer (Inamujer).Sala Ríos
        Reyna, Teatro Teresa Carreño. 31 de octubre de 2007
      </p>
      <p class="cita1"> “El capitalismo lo que quiere es vender, y utiliza a la mujer como un objeto sexual, esa es una
        de las causas de la demolición de los valores.”
      </p>
      <p class="piecita1">Inauguración de la Unidad Materno Infantil “Dr. Oswaldo Ismael Brito”. Tucupita,
        Delta Amacuro; 20 de mayo de 2006

      </p>
      <p class="cita1"> “Margaret Thatcher, ella nunca se asumió como mujer, no: gobernó como el peor de los machistas,
        uno de los más graves daños que tiene el mundo es el machismo. ¡Guerra a muerte al machismo!”
      </p>
      <p class="piecita1">Celebración del VIII aniversario del Instituto Nacional de la Mujer (Inamujer).Sala Ríos
        Reyna, Teatro Teresa Carreño. 31 de octubre de 2007
      </p>
      <p class="cita1"> “Son más que todo las mujeres las que están sintiendo con mayor drama la crisis de sus hijos, de
        su vivienda, de su trabajo, incluso llaman por su marido.”
      </p>
      <p class="piecita1">Radio Nacional de Venezuela
        26 de Septiembre de 1999
      </p>
      <p class="cita1"> “El machismo, que excluye y maltrata a los pobres, pero sobre todo a las mujeres, y detrás de
        cada mujer pobre hay uno, dos, tres y a veces mucho más muchachitos, pasando trabajo, y muchachitas también.
        Entonces al ayudar a una madre del barrio estamos ayudando a una familia, así lo sabemos, desde el Gobierno
        Revolucionario.”
      </p>
      <p class="piecita1">Acto del Día del Trabajador y Trabajadora de la República Bolivariana de Venezuela
        Sala Ríos Reyna, Teatro Teresa Carreño. Lunes, 30 de abril de 2007
      </p>
      <p class="cita1"> “Las mujeres, y no estoy exagerando cuando lo digo, las mujeres van a salvar al mundo.”
      </p>
      <p class="piecita1">Celebración del VIII aniversario del Instituto Nacional de la Mujer (Inamujer).Sala Ríos
        Reyna, Teatro Teresa Carreño. 31 de octubre de 2007
      </p>
      <p class="cita1"> “Las mujeres son la que más sufren la pobreza. Las mujeres son las que más sufren la miseria.
        Por eso es que yo soy feminista y apoyo a las mujeres en su revolución de liberación, de igualdad, igualdad,
        igualdad de género.”
      </p>
      <p class="piecita1">Lanzamiento de la Misión «Hijos de Venezuela» 12 de diciembre de 2011
      </p>
      <p class="cita1"> “Asumen el género como compromiso de batalla, me refiero a la presidenta de la Asamblea
        Nacional, por ejemplo, a Cilia Flores; a la primera vicepresidenta, Desirée Santos Amaral.”
      </p>
      <p class="piecita1">Celebración del VIII aniversario del Instituto Nacional de la Mujer. Sala Ríos Reyna, Teatro
        Teresa Carreño. 31 de octubre de 2007
      </p>
      <p class="cita1"> “Las llaneras son de las más inventoras que yo conozco.”
      </p>
      <p class="piecita1">Apoyo a la Inventiva Tecnológica Nacional Torre Ministerial, Caracas. 19 de junio de 2007
      </p>
      <p class="cita1"> “Gracias a Dios que son así, porque nosotros a veces somos poco hábiles y sin la habilidad de
        las mujeres el mundo cómo sería, pues, ¿no?”
      </p>
      <p class="piecita1">Conferencia de Prensa Ofrecida por el Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez, a medios internacionales. Salón Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>
      <p class="cita1"> “¡¡Mujeres: de nuestro amor, nacerá la patria de nuestros hijos!!”
      </p>
      <p class="piecita1">Líneas de Chávez: La Mujer, la Mujer, la Mujer… 08 de marzo 2009
      </p>
      <p class="cita1"> “El problema de la mujer y ese es otro de los grandes problemas del mundo, es el machismo.”
      </p>
      <p class="piecita1">Aló Presidente Nro. 16. Radio Nacional de Venezuela. 26 de Septiembre de 1999
      </p>
      <p class="cita1"> “Toda mujer es una maestra.”
      </p>
      <p class="piecita1"> “Aló, Presidente” Nº 369 Escuela Básica Nacional “Flores de Catia”.
        Parroquia 23 de Enero. 9 de enero de 2011
      </p>
      <p class="cita1"> “Mujeres de Venezuela: reciban el más grande beso de mi corazón, el más grande abrazo y el más
        grande de mis sentimientos. Amo a las mujeres de mi Patria. ¡Amor con amor se paga! ¡Que vivan las mujeres
        venezolanas! ¡Patria, socialismo!”
      </p>
      <p class="piecita1">Celebración del VIII aniversario del Instituto Nacional de la Mujer. Sala Ríos Reyna, Teatro
        Teresa Carreño. 31 de octubre de 2007
      </p>
      <p class="cita1"> “No habría revolución sin mujeres, no habría proceso social alguno sin la participación de las
        mujeres. Por eso, una de las grandes batallas sociales, morales e ideológicas de nuestra revolución es lograr
        que las mujeres ocupen el lugar que les corresponde, a la par del hombre, en igualdad”.
      </p>
      <p class="piecita1">Primer aniversario de la Misión Madres del Barrio. 23 de marzo de 2007
      </p>
      <p class="cita1"> “Es positivo que una mujer venezolana con problemas se comunique con el Presidente de la
        República y le diga «Chávez tengo este problema».”
      </p>
      <p class="piecita1">Aló Presidente, N° 100. Parque Nacional El Ávila. 17 de marzo de 2002
      </p>
      <p class="cita1"> “Las mujeres revolucionarias de Venezuela, que son la gran mayoría de las mujeres venezolanas,
        ¡la gran mayoría de las mujeres venezolanas!”
      </p>
      <p class="piecita1">Celebración del VIII aniversario del Instituto Nacional de la Mujer. Sala Ríos Reyna, Teatro
        Teresa Carreño. 31 de octubre de 2007
      </p>
      <p class="cita1"> “Esta celebración, que es una celebración de batalla, de lucha, una celebración para incrementar
        la mística, el espíritu de trabajo, de unión, de lucha por reclamar y recuperar los derechos de la mujer
        venezolana”.(En relación al Día de la Mujer)
      </p>
      <p class="piecita1">Aló, Presidente” N° 63. Salón Bolívar. Ministerio de Defensa. 4 de marzo de 2001
      </p>
      <p class="cita1"> “El capitalismo lo que quiere es vender, y utiliza a la mujer como un objeto sexual, esa es una
        de las causas de la demolición de los valores.”
      </p>
      <p class="piecita1">Inauguración de la Unidad Materno Infantil “Dr. Oswaldo Ismael Brito”.
        Tucupita, estado Delta Amacuro; 20 de mayo de 2006
      </p>
      <p class="cita1"> “Las mujeres nunca se conforman, es verdad, y esa es una de las cosas que yo les admiro a las
        mujeres.”
      </p>
      <p class="piecita1">Celebración del VIII aniversario del Instituto Nacional de la Mujer (Inamujer). Sala Ríos
        Reyna, Teatro Teresa Carreño. 31 de octubre de 2007
      </p>
      <p class="cita1"> “Me siento muy contento y orgulloso de haberte nombrado ministra. Pareces la madre Teresa de
        Calcuta, con todos los presos allí, pareces la madre de todos ellos, esa era la idea: llenar de amor a esa
        gente”.
      </p>
      <p class="piecita1">Felicitación a la Ministra de Asuntos Penitenciarios, Iris Valera, Noviembre 2011
      </p>
      <p class="cita1"> “Las mujeres van a salvar al mundo, porque los hombres hemos deschoretado al mundo, lo tenemos
        todo choreto, despedazado, despedazado.”
      </p>
      <p class="piecita1">Celebración del VIII aniversario del Instituto Nacional de la Mujer (Inamujer). Sala Ríos
        Reyna, Teatro Teresa Carreño. 31 de octubre de 2007
      </p>
      <p class="cita1"> “La utilización de la belleza femenina a través de concursos y todo esto, ¡qué cosa tan banal!
        ¿Y los valores verdaderamente humanos dónde están? Borrados del mapa. ¡Esa es la batalla que estamos dando!”
      </p>
      <p class="piecita1">Rueda de Prensa Presidente de la República Bolivariana de Venezuela, Hugo Chávez Frías, con
        corresponsales extranjeros. Sala de Prensa Simón Bolívar. Palacio de Miraflores. 6 de junio de 2007
      </p>
      <p class="cita1"> “La pobreza es muy dura, y la pobreza, lo sabemos, golpea con más dureza a las mujeres, a la
        mujer. ¿Por qué?, porque el mundo es muy machista y ése es uno de los grandes problemas del capitalismo.”
      </p>
      <p class="piecita1">Acto del Día del Trabajador y Trabajadora de la República Bolivariana de Venezuela
        Sala Ríos Reyna, Teatro Teresa Carreño. Lunes, 30 de abril de 2007
      </p>
      <p class="cita1"> “Mujeres: ¡salven ustedes al mundo, nosotros ayudaremos desde nuestros puestos de batalla!”
      </p>
      <p class="piecita1">Celebración del VIII aniversario del Instituto Nacional de la Mujer (Inamujer).Sala Ríos
        Reyna, Teatro Teresa Carreño. 31 de octubre de 2007
      </p>
      <p class="cita1"> “Tenemos que no sólo decirlo sino practicarlo. La igualdad de género. La igualdad de género.”
      </p>
      <p class="piecita1">Lanzamiento de la Misión «Hijos de Venezuela» 12 de diciembre de 2011
      </p>
      <p class="cita1"> “Piedad, bienvenida. Piedad Córdoba, le damos la bienvenida y reconocemos en esta mujer su
        valentía, su coraje y su entrega por esta causa humanitaria.”(En relación a la ayuda humanitaria para el rescate
        de Clara, Consuelo y Enmanuel.)
      </p>
      <p class="piecita1">Conferencia de Prensa Ofrecida por el Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez, a medios internacionales. Salón Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>
      <p class="cita1"> “Las FARC liberarían unilateralmente a un grupo, supongamos este, incluso yo le había mandado
        decir a Marulanda que, cuando hablábamos de un grupo, yo me imaginaba por lo menos unos 10: las mujeres, y
        ninguna mujer se sienta mal por esto, porque esto lleva como implícito el hecho de que la mujer es más débil,
        no, pero una mujer con un niño, ¡con un niño! Sabemos los rigores de la montaña y de la guerra.” (En relación a
        la ayuda humanitaria para el rescate de Clara, Consuelo y Enmanuel.)
      </p>
      <p class="piecita1">Conferencia de Prensa Ofrecida por el Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez, a medios internacionales Salón Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>
      <p class="cita1"> “No se puede construir el socialismo si los antivalores del machismo no son pulverizados por
        todas y todos”.
      </p>
      <p class="piecita1">Las líneas de Chávez. 2010
      </p>
      <p class="cita1"> “Bolívar —ese gran defensor de la humanidad, de las causas nobles y justas— escribió en julio de
        1819, oigan bien mujeres venezolanas, mujeres del mundo; de aquí la grandeza del pensamiento bolivariano que nos
        impulsa: “A la mujer nuestros antepasados la consideraban inferior al hombre y nosotros la consideramos nuestra
        igual. Unos y otros estamos grandemente equivocados porque la mujer es muy superior”.”
      </p>
      <p class="piecita1">Celebración del VIII aniversario del Instituto Nacional de la Mujer (Inamujer). Sala Ríos
        Reyna, Teatro Teresa Carreño. 31 de octubre de 2007
      </p>
      <p class="cita1"> “Manuela Sáenz llega para quedarse junto a Bolívar y entre nosotros. Nuestra Generala, ya lo era
        del Ejército del Ecuador y ahora lo es de nuestro Ejército Bolivariano, arriba a tierra venezolana:
        aprestémonos, con fervor patrio y revolucionario, para recibirla, rindiéndole todos los honores que le
        corresponden.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡Manuela Vuelve!
        04 Julio 2010
      </p>
      <p class="cita1"> “Tiene que acabarse esa violencia, mucha veces disfrazada, contra las mujeres, esa utilización
        de la mujer.”
      </p>
      <p class="piecita1">Acto del Día del Trabajador y Trabajadora de la República Bolivariana de Venezuela
        Sala Ríos Reyna, Teatro Teresa Carreño. Lunes, 30 de abril de 2007
      </p>
      <p class="cita1"> “¡Mujeres!, asumiendo posiciones de combate, de batalla, de lucha, siempre ha sido así. Siempre
        ha sido así, eso no es nuevo. En la Batalla de Carabobo hubo cadáveres de mujeres y cuenta la anécdota que
        Bolívar preguntaba “porque hay mujeres muertas en el campo de batalla, es que acaso un batallón enemigo se metió
        a retaguardia” –porque había esa idea siempre de que la mujer siempre, allá en la retaguardia. “No, decían los
        generales, ningún batallón enemigo se fue a retaguardia, las mujeres dejaron enfermos, las cocinas y se vinieron
        a la batalla y algunas dieron su vida en el Campo de Carabobo”.”
      </p>
      <p class="piecita1">Discurso ante la Asamblea Nacional. Memoria y Cuenta año2000 Palacio Federal Legislativo, 15
        de enero de 2001
      </p>
      <p class="cita1"> “Las mujeres son muy hábiles, muy hábiles.”
      </p>
      <p class="piecita1">Conferencia de Prensa Ofrecida por el Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez, a medios internacionales. Salón Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>
      <p class="cita1"> “¡Hay que luchar contra el machismo! El capitalismo es machista por excelencia.”
      </p>
      <p class="piecita1">Lanzamiento de la Misión «Hijos de Venezuela». 12 de diciembre de 2011
      </p>
      <p class="cita1"> “Me da mucha alegría ver que la mayoría aquí son las mujeres que organizan, mandan, hacen
        relatoría. Bueno eso es maravilloso, muy positivo, tampoco nos vayan a echar a nosotros a un ladito así, pero
        sigan así”
      </p>
      <p class="piecita1">Asamblea del Batallón Nº 6 de la Circunscripción Nº 1 de aspirantes a militantes del Partido
        Socialista Unido de
        Venezuela (PSUV). Museo Histórico Militar Parroquia 23 Enero-Caracas.28 de julio de 2007
      </p>
      <p class="cita1"> “Sigan ustedes, madres venezolanas, junto a todo el pueblo, empuñando esa espada llena de
        esperanzas terrestres: sigan dándole el más grande ejemplo de dignidad al mundo.”
      </p>
      <p class="piecita1">Líneas de Chávez Madre Santa, Maisanta… 10 mayo 2009
      </p>
      <p class="cita1"> “¿Cuántas mujeres aquí en Caracas, Arreaza, no podrían trabajar sembrando flores para la
        exportación a Rusia y a otros países? ¿Cuántas mujeres, Jorge Arreaza, no podrán trabajar con el gusano de
        Fidel? Fidel tiene un gusano que lo ha multiplicado, ¿cómo es que se llama, la morera no es?”
      </p>
      <p class="piecita1">Lanzamiento de la Misión «Hijos de Venezuela» 12 de diciembre de 2011
      </p>
      <p class="cita1"> “Yo recuerdo, aquí hubo pues, aquel dirigente adeco que dijo “En Venezuela no hay razón para no
        robar”, otro de esos líderes dijo “No, la Constitución es como Sofía Loren”, faltándole el respeto a una dama
        además, no, una extraordinaria actriz Sofía Loren, ¿Por qué dice usted eso?, bueno porque es violada una y mil
        veces, ¡Imagínate tú! ¡Qué cosa tan horrible! ¿Verdad? Es que daba ganas, como ganas hasta de vomitar.”
      </p>
      <p class="piecita1">Entrevista al Comandante Hugo Chávez realizada en Televisora de Oriente (TVO), estado
        Anzoátegui,
        13 de Julio de 2012
      </p>
      <p class="cita1"> “Les hago un llamado a los hombres de Venezuela a que se aprieten los pantalones pues, a que no
        dejen a las mujeres abandonadas, eso no es de hombre, a sus hijos. ¿Pero cómo es posible que eso ocurra? Y por
        donde quiera que uno vaya hay mujeres abandonadas en Venezuela, con un cuadro de dos, de tres, a veces hasta de
        cinco hijos.”
      </p>
      <p class="piecita1">Radio Nacional de Venezuela. 26 de Septiembre de 1999

      </p>
      <p class="cita1"> “Hay mujeres que hacen bloques, por allá tienen una bloquera, y hacen bloque más rápido que los
        hombres ¿saben?
      </p>
      <p class="piecita1">Lanzamiento de la Misión «Hijos de Venezuela». 12 de diciembre de 2011
      </p>
      <p class="cita1"> “Capitalismo es machismo por excelencia, el socialismo tiene que romper con eso y generar la
        sociedad de iguales, somos iguales así que participemos todos, todos por igual.”
      </p>
      <p class="piecita1">Asamblea del Batallón Nº 6 de la Circunscripción Nº 1 de aspirantes a militantes del Partido
        Socialista Unido de
        Venezuela (PSUV). Museo Histórico Militar Parroquia 23 Enero-Caracas. 28 de julio de 2007
      </p>
      <p class="cita1"> “Explotadas, mancilladas, utilizadas durante cuánto tiempo, las mujeres de la patria, mujeres
        libres.”
      </p>
      <p class="piecita1">Conmemoración de los 10 años de la derrota del paro patronal y la promulgación de la Ley de
        Tierras. Teatro Municipal, 10 de diciembre de 2011
      </p>
      <p class="cita1"> “Como sucede con los seres que entregan su espíritu a lo más elevado de la humanidad, la muerte
        queda vencida por el ímpetu triunfal de la vida imperecedera. Por eso, nos atrevemos a decir que Manuela se
        halla en Caracas más viva y eterna que nunca: el símbolo de su presencia en el seno del pueblo venezolano es un
        acto de amor contra el olvido y la desmemoria.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡Manuela Vuelve! 04 Julio 2010
      </p>
      <p class="cita1"> “Al salir estas Líneas, el domingo 9 de mayo, estaremos celebrando el Día de la Madre. Quienes
        llevamos en el alma el signo del agradecimiento, nos celebramos y nos cantamos en el goce festivo de ser
        criaturas de un vientre fecundo.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: A mi madre: ¡@madrecandanga! 09 Mayo 2010
      </p>
      <p class="cita1"> “Hay que tener cuidado nosotros los revolucionarios, los varones, con ese machismo que tenemos
        ahí por dentro.”
      </p>
      <p class="piecita1">Lanzamiento de la Misión «Hijos de Venezuela» 12 de diciembre de 2011
      </p>
      <p class="cita1"> “Las mujeres inventan mucho. Vamos a darle la palabra a una mujer inventora, ¿cómo es eso?,
        ¿será que hay machismo aquí? Ven acá, cuidado, cuidado. ¿Por qué hay tantos hombres y tan poquitas mujeres?, eso
        llama la atención.”
      </p>
      <p class="piecita1">Apoyo a la Inventiva Tecnológica Nacional Torre Ministerial, Caracas. 19 de junio de 2007
      </p>
      <p class="cita1"> “Un batallón con una fuerte presencia femenina en la coordinación, en la conducción, eso es muy
        importante; porque insisto, una de las fallas más graves del capitalismo es el machismo.”
      </p>
      <p class="piecita1">Asamblea del Batallón Nº 6 de la Circunscripción Nº 1 de aspirantes a militantes del
        Partido Socialista Unido de Venezuela (PSUV)
        Museo Histórico Militar Parroquia 23 Enero-Caracas.28 de julio de 2007
      </p>
      <p class="cita1"> “Yo me he convertido en feminista. Yo me confieso, yo era machista. Mira, yo, la primera barriga
        de la mujer mía: “no, que tiene que ser un macho…”. ¡Qué cosa tan estúpida! Y nació mi linda niña Rosa, ¡ay!,
        que me llenó de amores para toda la vida, la niña primera.”
      </p>
      <p class="piecita1">Aló Presidente, Nº 323 Clínica Popular El Valle, parroquia El Valle, 21 de diciembre de 2008
      </p>
      <p class="cita1"> “Yo soy feminista y creo que un revolucionario debe ser..., al menos no ser machista, pero yo
        digo más, ser feminista y poner a la mujer en primer plano, no como algo, un objeto.”
      </p>
      <p class="piecita1">Aló Presidente, Nº 323 Clínica Popular El Valle, parroquia El Valle, 21 de diciembre de 2008
      </p>
      <p class="cita1"> “Mujeres venezolanas a organizarse y a luchar por sus derechos y los derechos de sus hijos, y
        los derechos de sus nietos, y los derechos de sus maridos y los derechos de todo el pueblo venezolano.”
      </p>
      <p class="piecita1">Aló Presidente Programa Nro. 49 Desde el Campo de Carabobo, estado Carabobo 29 de octubre de
        2000
      </p>
      <p class="cita1"> “Las mujeres están allí en el alma misma de la revolución.”
      </p>
      <p class="piecita1">Aló Presidente Programa Nro. 49 Desde el Campo de Carabobo, estado Carabobo 29 de octubre de
        2000
      </p>
      <p class="cita1"> “La mujer vence todas las trabas y eso es admirable en las mujeres venezolanas. No tienen
        límites ni penas ni vergüenza, ni ningún sentimiento de inferioridad para incluso llamar y llorar, como hace
        poco oíamos a una mujer venezolana llorar, llorar sus dolores, llorar su angustia, y ojalá podamos ayudar más.”

      </p>
      <p class="piecita1">Aló Presidente N° 17
        Desde la Sede de Radio Nacional de Venezuela
        03 de Octubre de 1999

      </p>
      <p class="cita1"> “La revolución tenemos que sembrarla y tú también eres sembradora.”
      </p>
      <p class="piecita1">Aló Presidente N° 40
        Desde la Sede de Radio Nacional de Venezuela
        27 de Agosto de 2000
      </p>
      <p class="cita1"> “Todavía se burlan porque la Constitución habla de trabajadores y trabajadoras, Ministros y
        Ministras, funcionarios y funcionarias; es decir, es la igualdad del género, entonces es la mujer ocupando
        espacios.”
      </p>
      <p class="piecita1">Aló Presidente N° 40
        Desde la Sede de Radio Nacional de Venezuela
        27 de Agosto de 2000
      </p>
      <p class="cita1"> “Las mujeres son una cosa especial, no hay como la mujer. ¡Vivan las mujeres!”
      </p>
      <p class="piecita1">Aló Presidente N° 341. Centro Diagnóstico Integral Caucagua Municipio Acevedo, Estado Miranda
        Domingo, 4 de octubre de 2009
      </p>
      <p class="cita1"> “Las mujeres van a salvar el mundo, yo soy feminista, pongo a la mujer allá en el primer lugar,
        la mujer como concepto, como ente, como esencia del mundo, la pasión del mundo son las mujeres, la pasión del
        mundo, el amor más grande del mundo.”
      </p>
      <p class="piecita1">Aló Presidente N° 341 Centro Diagnóstico Integral Caucagua Municipio Acevedo, Estado Miranda
        Domingo, 4 de octubre de 2009
      </p>
      <p class="cita1"> “Pero cómo es esto, esta es una fábrica machista, no hay mujeres aquí, dónde están las mujeres
        aquí, cómo es eso, protesto aquí, ah, primera falla, vengan acá las muchachas.”
      </p>
      <p class="piecita1">Visita a la fábrica de tractores Veneminsk Complejo Industrial Santa Inés. Barinas 21 de
        febrero de 2012
      </p>
      <p class="cita1"> “Una mujer embarazada es algo sagrado ¿eh?, sagrado, entonces, hay que tener un trato justo
        desde el momento del embarazo hasta el parto y más allá.”
      </p>
      <p class="piecita1"> “Aló, Presidente”, programa Nº 337 Planta termoeléctrica “Josefa Camejo”, Península de
        Paraguaná,
        Estado Falcón, 16 de agosto de 2009
      </p>
      <p class="cita1"> “A las mujeres les gusta mucho la Fuerza Armada.”
      </p>
      <p class="piecita1">Aló Presidente Nro. 187 Desde Cabruta, Estado Guárico.4 de abril de 2004
      </p>
      <p class="cita1"> “Las mujeres son lasque mandan, como en todas partes, las mujeres son las que mandan en el
        mundo. Yo estoy convencido.”
      </p>
      <p class="piecita1">Aló Presidente Programa Nro. 186. Desde La Planta De Llenado De Pdvsa En Guatire
        28 De marzo De 2004
      </p>
      <p class="cita1"> “Hay que incentivar la incorporación de la mujer, en lo político, en lo militar también.”
      </p>
      <p class="piecita1">Aló Presidente N° 216. Desde el Campo Experimental del INIA Municipio Alberto Arvelo
        Torrealba. Sabaneta. Estado Barinas
        Domingo 20 de Marzo de 2005
      </p>
      <p class="cita1"> “¿Quién es superior, entre el hombre y la mujer? ¡La mujer! Sí, feminista somos.”
      </p>
      <p class="piecita1">Sesión de Ministros. Cadena Nacional
        Salón Néstor Kirchner, Palacio de Miraflores
        22 de mayo de 2012
      </p>
      <p class="cita1"> “Esa tesis de la Biblia de que Dios sacó a la mujer de la costilla del hombre, qué cosa tan
        machista ¿verdad? Yo prefiero creer que Dios hizo primero a la mujer, porque la mujer fue primero que el hombre;
        la mujer es primero del hombre, yo soy feminista, y creo que la Revolución debe ser feminista.”
      </p>
      <p class="piecita1"> “ALÓ, PRESIDENTE”, programa Nº 344 Comuna el Maizal, ubicada entre los municipios Simón
        Planas y Araure, de los estados Lara y Portuguesa Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1"> “Les recuerdo, a los hombres sobre todo, que un verdadero socialista, en mi modesto criterio,
        debe ser un feminista, feminista, defensores de la causa femenina.”
      </p>
      <p class="piecita1"> “Aló, Presidente” Nº 347
        La Platera, municipio Tinaco, estado Cojedes Domingo, 10 de enero de 2010
      </p>
      <p class="cita1"> “No habrá liberación de los pueblos sin la verdadera liberación de la mujer, del dominio del
        mundo machista, así lo creo.”
      </p>
      <p class="piecita1"> “Aló, Presidente” Nº 347
        La Platera, municipio Tinaco, estado Cojedes Domingo, 10 de enero de 2010
      </p>
      <p class="cita1"> “Hay que romper las cadenas culturales, que condenan a la mujer desde niña, desde chiquita está
        condenada, ya tiene una especie de condena, por ser mujer. ¡Qué cosas ¿No?! Revisemos eso, porque está ahí
        dentro de nosotros, la cultura con que nos impregnaron. Somos iguales, somos iguales. Hombres y mujer, mujer y
        hombre.”
      </p>
      <p class="piecita1"> “Aló, Presidente” Nº 347
        La Platera, municipio Tinaco, estado Cojedes Domingo, 10 de enero de 2010
      </p>
      <p class="cita1"> “El socialismo requiere participación protagónica de las mujeres, la mujer como ente, humano,
        social.”
      </p>
      <p class="piecita1">Aló, Presidente Nº 348 Filas de Mariche – Estado Miranda Domingo, 17 de enero de 2010</p>


    </ion-card-content>
  </ion-card>
</ion-content>
