<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/lasdrogas.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Vamos a luchar por nuestros jóvenes especialmente, vamos a luchar
        contra las drogas, pero, con mucha pasión, con mucha entereza, con mucha
        voluntad”.
      </p>
      <p class="piecita1">
        Aló, Presidente” N° 63 Salón Bolívar. Ministerio de Defensa. 4 de marzo
        de 2001
      </p>
      <p class="cita1">
        “El tráfico de drogas hay que combatirlo allí en la comunidad, en la
        localidad, que los vecinos puedan comunicarse con los voceros, con un
        puesto de comando para denunciar a los delincuentes, a la gente
        sospechosa en el barrio”.
      </p>
      <p class="piecita1">
        Aló Presidente Teórico N° 1.Teatro Teresa Carreño. 11 de junio de 2009
      </p>
      <p class="cita1">
        “Hemos dado golpes tremendos al narcotráfico, especialmente en la
        cocaína, aquel golpe que dimos allá en el Orinoco, once mil kilos”
      </p>
      <p class="piecita1">
        Aló, Presidente” N° 63. Salón Bolívar. Ministerio de Defensa 4 de marzo
        de 2001
      </p>
      <p class="cita1">
        “La droga, sea cual fuere, causa daños irreversibles, daños mentales,
        daños físicos, daños morales; luego es difícil, hay mucha gente que se
        recupera, mucho y se trata, eso es otra parte del trabajo, pero, cómo
        cuesta, pues, y hay daños que a veces, muchas veces son irreversibles”
      </p>
      <p class="piecita1">
        Aló, Presidente” N° 63. Salón Bolívar. Ministerio de Defensa 4 de marzo
        de 2001
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
