<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/latifundio.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “La Vergareña, uno de los más grandes latifundios, sino el más grande
        que había en Venezuela, que fue rescatado, y ya estamos produciendo ahí
        Maderas del ALBA con Cuba, una gran nacional del ALBA.”
      </p>
      <p class="piecita1">
        Inspección al Desarrollo Habitacional Terrazas del Aluminio Municipio
        Caroní, Estado Bolívar Lunes, 20 de agosto de 2012
      </p>
      <p class="cita1">
        “Autorizo al Instituto de Tierras, para ejecutar las medidas de rescate
        de tierras agrícolas en el Valle de Quibor. Tierra ociosa hay que
        rescatarla, claro, latifundio eso hay que acabarlo.”
      </p>
      <p class="piecita1">
        II entrega de asignaciones económicas a la Gran Misión Hijos de
        Venezuela y la Gran Misión Amor Mayor Venezuela. Salón Ayacucho, Palacio
        de Miraflores Caracas, jueves 9 de febrero de 2012
      </p>
      <p class="cita1">“El latifundio en Venezuela está intacto.”</p>
      <p class="piecita1">
        Aló Presidente N° 203. Desde Tacagua Vieja, Sector Araguaney Parroquia
        Sucre. Municipio Libertador Domingo, 15 de septiembre de 2004
      </p>
      <p class="cita1">
        “La Constitución, por ejemplo dice que el latifundio o las tierras
        ociosas violan la Ley. Entonces ustedes donde vean tierras ociosas, un
        latifundio, bueno, hay que aplicar la Constitución y la Ley de Tierras,
        ¿para qué? para expropiarla y para ponérsela a la orden de los que van a
        trabajar en los proyectos.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 205 Desde Parque Sur. Estado Zulia Domingo, 26 de
        septiembre de 2004
      </p>
      <p class="cita1">
        “Yo creo que Apure es el campeón del latifundio junto con Barinas y
        Guárico.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 210 Desde el Palacio de Miraflores Domingo 9 de Enero
        de 2005
      </p>
      <p class="cita1">
        “No se puede tolerar ni un solo latifundio ni un solo metro cuadrado de
        tierra ociosa.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 211 Desde el Salón Ayacucho del Palacio de Miraflores
        Domingo 16 de Enero de 2005
      </p>
      <p class="cita1">
        “Eso es destruir la tierra, el latifundio, hay que explicar bien el
        concepto de latifundio, por eso es que hace falta urgentemente, el
        reglamento de la ley.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 211 Desde el Salón Ayacucho del Palacio de Miraflores
        Domingo 16 de Enero de 2005
      </p>
      <p class="cita1">
        “Un Alcalde no puede permitir que en su municipio haya latifundio, es
        responsabilidad primaria del Alcalde; un Gobernador no puede permitir
        que en su estado haya latifundio, tierra ociosa; un Comandante de
        Guarnición no puede permitir que en su Guarnición militar haya
        latifundio, porque se está violando la Constitución de la República.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 216. Desde el Campo Experimental del INIA Municipio
        Alberto Arvelo Torrealba. Sabaneta. Estado Barinas Domingo 20 de Marzo
        de 2005
      </p>
      <p class="cita1">
        “Yo no puedo permitir que en Venezuela haya latifundio y por eso he dado
        las instrucciones de que comenzáramos, como hemos comenzado el 2004, la
        guerra contra el latifundio.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 216. Desde el Campo Experimental del INIA Municipio
        Alberto Arvelo Torrealba. Sabaneta. Estado Barinas Domingo 20 de Marzo
        de 2005
      </p>
      <p class="cita1">
        “Latifundistas de Apure, no vamos a acabar con ustedes, a algunos,
        incluso, los conozco; con lo que vamos a acabar es con la perversión del
        latifundio.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 217 Desde Las Queseras del Medio. Estado Apure Domingo
        3 de Abril de 2005
      </p>
      <p class="cita1">
        “El Instituto de Tierras ha declarado ociosas buena parte de uno de los
        más grandes latifundios de Apure, uno de los más famosos y en muchos de
        esos latifundios han matado indios, han atropellado a los pobres y han
        atropellado a los peones.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 217 Desde Las Queseras del Medio. Estado Apure Domingo
        3 de Abril de 2005
      </p>
      <p class="cita1">
        “Estoy al frente de la guerra contra el latifundio, le he declarado la
        guerra al latifundio y pido al pueblo venezolano que me acompañe en todo
        en esa guerra.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 217 Desde Las Queseras del Medio. Estado Apure Domingo
        3 de Abril de 2005
      </p>
      <p class="cita1">
        “¡Guerra al latifundio! Eso es una perversión, el que tenga 20 mil
        hectáreas vaya preparándose, no las va a seguir teniendo; el que tenga
        10 mil hectáreas no las va a seguir teniendo, a menos que las tenga
        trabajadas todas.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 217 Desde Las Queseras del Medio. Estado Apure Domingo
        3 de Abril de 2005
      </p>
      <p class="cita1">
        “La lucha contra el latifundio es tarea de nosotros, los militares,
        porque eso afecta la soberanía, eso afecta la seguridad, eso afecta la
        defensa del país.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 217 Desde Las Queseras del Medio. Estado Apure Domingo
        3 de Abril de 2005
      </p>
      <p class="cita1">
        “Hemos conseguido latifundios que han dado concesiones privadas para
        explotar arena, piedra y eso no se puede permitir, porque sería permitir
        una “republiquita” dentro de la República; un Gobernador no puede
        permitir que eso ocurra en su estado; un Alcalde no puede permitir que
        eso ocurra dentro de su municipio.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 217 Desde Las Queseras del Medio. Estado Apure Domingo
        3 de Abril de 2005
      </p>
      <p class="cita1">
        “A veces a uno le da la impresión de que los gobiernos locales y
        estadales creen que el problema del latifundio es de Chávez y no se
        meten con los latifundistas. Vamos hay mucho latifundio en los llanos
        todavía y en toda Venezuela.”
      </p>
      <p class="piecita1">
        “ALÓ, PRESIDENTE”, programa Nº 343. Desarrollo Urbanístico “Simón
        Bolívar”. Municipio Páez, Estado Portuguesa. Domingo, 8 de noviembre de
        2009
      </p>
      <p class="cita1">
        “Éste es uno de los miles de latifundios, bueno, que ya no son
        latifundios, que han sido rescatados por la Revolución, y ahora están en
        las manos del pueblo en forma de propiedad social.”
      </p>
      <p class="piecita1">
        “ALÓ, PRESIDENTE”, programa Nº 344. Comuna el Maizal, ubicada entre los
        municipios Simón Planas y Araure, de los estados Lara y Portuguesa.
        Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1">
        “El rescate de tierras va a continuar, no quedará latifundio sano en
        Venezuela, todas estas tierras van a pasar a ser del pueblo, poder para
        el pueblo y no de los latifundistas y de los ricachones.”
      </p>
      <p class="piecita1">
        “ALÓ, PRESIDENTE”, programa Nº 344. Comuna el Maizal, ubicada entre los
        municipios Simón Planas y Araure, de los estados Lara y Portuguesa.
        Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1">
        “Este año rescatamos, el 2009 quiero decir, 380 mil hectáreas fueron
        rescatadas del latifundio, entregamos 17.800 instrumentos agrarios,
        entre cartas agrarias, declaratorias de permanencia y título de
        adjudicación.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 347. La Platera, municipio Tinaco, estado Cojedes
        Domingo, 10 de enero de 2010
      </p>
      <p class="cita1">
        “Éste es uno de los miles de latifundios (Comuna el Maizal), bueno, que
        ya no son latifundios, que han sido rescatados por la Revolución, y
        ahora están en las manos del pueblo en forma de propiedad social.”
      </p>
      <p class="piecita1">
        “Aló, Presidente”, programa Nº 344. Comuna el Maizal, de los estados
        Lara y Portuguesa Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1">
        “Seguimos recuperando las tierras, no va a quedar latifundio en
        Venezuela, todavía nos quedan, pero hemos recuperado ya casi el 40 por
        ciento de los predios en el censo aquel del año 98 y 97, fueron
        detectados como latifundio.”
      </p>
      <p class="piecita1">
        “Aló, Presidente”, programa Nº 344. Comuna el Maizal, de los estados
        Lara y Portuguesa Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1">
        “Lo he dicho y lo ratifico ante el país, el latifundio es contrario al
        desarrollo del país. Nosotros necesitamos la tierra no para tenerla
        ociosa porque eso es criminal, necesitamos la tierra para utilizarla
        bien usada en planes sustentables de desarrollo agrícola y pecuario,
        para producir alimentos y desarrollar el país, y crear empleo y no para
        tener la tierra abandonada.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 27. Maiquetía. Estado Vargas 23 de Enero de 2000
      </p>
      <p class="cita1">
        “El latifundio tenemos que exterminarlo en Venezuela cueste lo que
        cueste y pase lo que pase.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 206. Desde la Cooperativa Central Cafetalero Bramón
        Municipio Junín, Rubio. Estado Táchira. Domingo, 03 de octubre de 2004
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
