<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/costarica.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1"> “¿Cómo quiere él que llevemos buenas relaciones?, ¿cómo alguien pretende, ofendiendo? No a mí,
        porque a mí no me ofende, ofende al pueblo venezolano, que es un pueblo que ha decidido tomar un camino y más
        nadie lo va a apartar de ese camino. Más nadie lo va a apartar del camino de la dignidad, de la recuperación de
        esta Nación venezolana.” (En relación a los comentarios del Presidente de Costa Rica de que en Venezuela hay una
        dictadura)
      </p>
      <p class="piecita1">Firma de instrumentos entre la República Bolivariana
        de Venezuela y la República Argentina Pozo Ayacucho 6 - Faja Petrolífera del Orinoco, estado Anzoátegui
        21 de febrero de 2007
      </p>
      <p class="cita1"> “Es bueno recordar que el señor Presidente de Costa Rica le gusta mucho meterse en las cosas que
        no debe meterse, hace poco dijo que aquí en Venezuela había una dictadura.”
      </p>
      <p class="piecita1">Firma de instrumentos entre la República Bolivariana
        de Venezuela y la República Argentina Pozo Ayacucho 6 - Faja Petrolífera del Orinoco, estado Anzoátegui
        21 de febrero de 2007
      </p>
      <p class="cita1"> “¿Qué le he hecho yo al señor presidente de Costa Rica? Absolutamente nada. Jamás me he metido
        con él. Bueno, no me había metido, ahora él me dio plena libertad para yo responderle pues, tenemos que
        respetarnos, ¿una dictadura en Venezuela?, vaya usted a saber. Claro, son los viejos amigos de Carlos Andrés
        Pérez, él estaría muy feliz si aquí mandara Carlos Andrés Pérez.”
      </p>
      <p class="piecita1">Firma de instrumentos entre la República Bolivariana
        de Venezuela y la República Argentina Pozo Ayacucho 6 - Faja Petrolífera del Orinoco, estado Anzoátegui
        21 de febrero de 2007
      </p>
      <p class="cita1"> “Acaban de enviar una flota aquí mismo a Costa Rica, que es una amenaza y es parte del plan
        contra Venezuela, siempre se despliegan cuando van a lanzar una operación. Esa flota está destinada como fuerza
        de contención ante cualquier reacción que puedan tener otros países, otros pueblos hermanos como el de
        Nicaragua, como el de Cuba, otros países caribeños.”
      </p>
      <p class="piecita1">Juramentación de la Maquinaria Roja en la Región Central, Estadio La Rinconada Caracas, 25 de
        julio de 2010 </p>


    </ion-card-content>
  </ion-card>
</ion-content>
