CHÁVEZ Y PORTUGAL
<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/portugal.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Yo les pido que intensifiquemos las relaciones con Portugal y que
        vayamos preparándonos para darle la más grande de las bienvenidas a este
        joven Primer Ministro, socialista, portu¬gués, José Sócrates.”
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional 11 de enero de
        2008
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
