<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/clasemedia.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “La clase media, como sufre con el neoliberalismo, la clase media se
        empobrece, la clase media, aquí ocurrió y está ocurriendo en Europa
        ahora y en Estados Unidos, la clase media pierde sus viviendas, pierde
        sus vehículos, pierde sus pequeñas propiedades y termina empobrecida.”
      </p>
      <p class="piecita1">
        Caravana y concentración en apoyo al candidato Chávez Guarenas, estado
        Miranda Sábado, 29 de septiembre de 2012
      </p>
      <p class="cita1">
        “A la clase media por ejemplo, le conviene la Revolución, hasta a los
        ricachones les conviene que gane Chávez, porque Chávez es garantía de
        estabilidad, de paz, y de desarrollo, de crecimiento económico.”
      </p>
      <p class="piecita1">
        Caravana y concentración San Félix, estado Bolívar Sábado, 18 de agosto
        de 2012
      </p>
      <p class="cita1">
        “La clase media tiene mucho que aportar a la Revolución, tiene muchas
        capacidades instaladas, capacidad técnica, profesional, ingenieros,
        médicos, profesores universitarios, científicos, investigadores, etc.”
      </p>
      <p class="piecita1">
        Caravana y concentración en apoyo al candidato Chávez Guarenas, estado
        Miranda. Sábado, 29 de septiembre de 2012
      </p>
      <p class="cita1">
        “Yo llego a la Academia Militar pero de cada 100 de nosotros de mi
        generación, de los campesinos de aquel entonces uno llegaba a la
        universidad, pudimos estudiar y uno se fue moviendo entonces en la clase
        media pues casi toda la vida y yo conozco por dentro los valores, el
        gran potencial que tiene la clase media.”
      </p>
      <p class="piecita1">
        Fiesta 106.5 FM La fiesta de Full chola Desde el Palacio de Miraflores,
        Caracas Martes 4 de septiembre de 2012
      </p>
      <p class="cita1">
        “A mí no me parece justo conociendo como conozco a la clase media que
        bueno que la confundan, que le metan miedo, que jueguen con los miedos,
        campañas bien diseñadas y entonces se vayan con una opción la derecha,
        la gran burguesía que es contraria a la clase media.”
      </p>
      <p class="piecita1">
        Fiesta 106.5 FM La fiesta de Full chola Desde el Palacio de Miraflores,
        Caracas Martes 4 de septiembre de 2012
      </p>
      <p class="cita1">
        “Aquí en los años 80 y en los 90, sobre todo en los 90 pero eso viene de
        los 80, la clase media casi desapareció, se estudiaba el caso, la
        proletarización de la clase media, el programa nuestro, la revolución
        nuestra ha contribuido a fortalecer no sólo a los sectores que estaban
        en la pobreza y la miseria, a la clase media.”
      </p>
      <p class="piecita1">
        Fiesta 106.5 FM La fiesta de Full chola Desde el Palacio de Miraflores,
        Caracas Martes 4 de septiembre de 2012
      </p>
      <p class="cita1">
        “Ahí está un sector de clase media bueno que vota y va a votar por la
        revolución, por el socialismo, por la democracia porque eso le conviene
        a la clase media.”
      </p>
      <p class="piecita1">
        Fiesta 106.5 FM La fiesta de Full chola Desde el Palacio de Miraflores,
        Caracas Martes 4 de septiembre de 2012
      </p>
      <p class="cita1">
        “La clase media debe darse cuenta que su destino, su rumbo, su vida,
        tiene que jugárselas con el pueblo, porque ella es parte del pueblo.”
      </p>
      <p class="piecita1">
        Martín Román y Hugo Contreras. Entrevistan al candidato Hugo Chávez Sede
        de Telellano, Barinas, Estado Barinas Viernes, 14 de septiembre de 2012
      </p>
      <p class="cita1">
        “El país necesita esa clase media, a esos sectores profesionales
        incorporados con sabiduría, con espíritu crítico siempre sin duda a un
        proyecto de construcción de este país, que es el proyecto nuestro. El
        otro proyecto, el burgués, es el proyecto de destrucción del país.”
      </p>
      <p class="piecita1">
        Martín Román y Hugo Contreras Entrevistan al candidato Hugo Chávez Sede
        de Telellano, Barinas, Estado Barinas Viernes, 14 de septiembre de 2012
      </p>
      <p class="cita1">
        “Los sectores de clase media que no tendrían ni tienen porque adversar
        este proceso de cambios revolucionarios pacíficos y democráticos,
        hacerles ver como se han beneficiado en estos años del proceso
        revolucionario, y hacerles ver lo que perderían en el futuro en el caso
        nefasto de que la burguesía volviera a gobernar a Venezuela. La gente
        tiene que darse cuenta de eso, tiene que darse cuenta de esto, pero esa
        es parte de la batalla ideológica.”
      </p>
      <p class="piecita1">
        Designación y Juramentación del comando de campaña “Los que quieran
        patria vengan con Chávez” Sala Ríos Reyna - Teatro Teresa Carreño
        Caracas, jueves 23 de febrero de 2012
      </p>
      <p class="cita1">
        “Yo siempre digo, oye, la clase media venezolana, en verdad, no tiene
        ninguna razón, creo yo, para estar en contra de este proceso, de este
        proyecto, la clase media venezolana estaba desapareciendo en los 80, en
        los 90, se estaba hundiendo en la pobreza, ahora veamos nosotros los
        indicadores, los ingresos, el ingreso mínimo nuestro es el mayor de
        América Latina.”
      </p>
      <p class="piecita1">
        Entrega de Bonos Petro-Orinoco a ex trabajadores del Estado. Salón
        Ayacucho, Palacio de Miraflores Martes, 4 de septiembre de 2012
      </p>
      <p class="cita1">
        “En la medida en que continuemos construyendo nuevos liceos, nuevas
        universidades y mejorándolas, dotándolas cada día mejor, entonces la
        clase media, sobre todo la clase media, no se va a ver obligada a
        inscribir sus hijos, por ejemplo, en colegios privados, donde cobran muy
        caro en la mayoría.”
      </p>
      <p class="piecita1">
        Entrega de Bonos Petro-Orinoco a ex trabajadores del Estado. Salón
        Ayacucho, Palacio de Miraflores Martes, 4 de septiembre de 2012
      </p>
      <p class="cita1">
        “Hoy estamos iniciando es un programa especialmente dirigido a los
        sectores medios o de medianos ingresos pues, sectores de medianos
        ingresos o de ingresos medios.”
      </p>
      <p class="piecita1">
        Gran Misión Vivienda Venezuela con sectores medios del país Salas Ríos
        Reyna, Teatro Teresa Carreño. Viernes 17 de agosto de 2012
      </p>
      <p class="cita1">
        “La clase media es excluida también por el gran capitalismo, démonos
        cuenta de eso, y entonces la clase media termina también viviendo
        alquilada o en ranchos, y que le deja a sus hijos, pobreza, pobreza
        compadre.”
      </p>
      <p class="piecita1">
        Gran Misión Vivienda Venezuela con sectores medios del país Salas Ríos
        Reyna, Teatro Teresa Carreño. Viernes 17 de agosto de 2012
      </p>
      <p class="cita1">
        “No permitamos que la burguesía le quite a la revolución la clase media,
        esta revolución también le pertenece a la clase media venezolana y lucha
        por los intereses de la clase media venezolana.”
      </p>
      <p class="piecita1">
        Conmemoración del 23 de enero y homenaje a Fabricio Ojeda Desde la Av.
        Urdaneta, Palacio De Miraflores Caracas, 23 de enero de 2011
      </p>
      <p class="cita1">
        “Venezuela puede ser, perfectamente, un país de una sólida clase media,
        desde el punto de vista del nivel de vida y de un pueblo consciente,
        solidario, donde, como decía Bolívar, la justicia sea la reina de las
        virtudes republicanas y la igualdad la parte fundamental de la
        justicia.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 211 Desde el Salón Ayacucho del Palacio de Miraflores
        Domingo 16 de Enero de 2005
      </p>
      <p class="cita1">
        “Cuando digo pueblo, estoy incluyendo a los sectores medios, la clase
        media dese cuenta, dense cuenta compatriotas de la clase media
        venezolana, que esta Revolución es de ustedes también, y es para el
        beneficio también…”
      </p>
      <p class="piecita1">
        Encuentro con los trabajadores petroleros Desde el Polideportivo José
        María Vargas. Edo. Vargas 31 de agosto de 2012
      </p>
      <p class="cita1">
        “La clase media fue despojada de casi todos sus derechos en los últimos
        años, se vino abajo, ni para comprar vehículos, ni para comprar
        vivienda.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 24 Aeropuerto de Valencia. Estado Carabobo 12 de
        Diciembre de 1999
      </p>
      <p class="cita1">
        “Esta Constitución es un pie firme, es una base sólida para comenzar la
        recuperación de la clase media venezolana.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 24 Aeropuerto de Valencia. Estado Carabobo 12 de
        Diciembre de 1999
      </p>
      <p class="cita1">
        “Venezuela tiene muchos recursos para que haya una clase media muy firme
        y fuerte y aquí está sembrado, repito, la semilla de una nueva clase
        media.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 24 Aeropuerto de Valencia. Estado Carabobo 12 de
        Diciembre de 1999
      </p>
      <p class="cita1">
        “Estamos, poco a poco y estaremos cada día en mejores condiciones de
        devolverle los derechos que le fueron quitando a la clase media
        venezolana.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 24 Aeropuerto de Valencia. Estado Carabobo 12 de
        Diciembre de 1999
      </p>
      <p class="cita1">
        “Uno se imagina a Venezuela un país de clase media, un país de toda una
        gran clase media donde todos vivamos allí, en un rango de igualdad.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 27 Maiquetía. Estado Vargas 23 de Enero de 2000
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
