<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/ecuador.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Tenía que llegar Correa pues, alfarista, bolivariano, sucrista y
        manuelista ¿no? Manuela, Manuela Sáenz.”
      </p>
      <p class="piecita1">
        Firma de Acuerdos y rueda de prensa conjunta de los presidentes de la
        República Bolivariana de Venezuela y la República del Ecuador. 07 de
        junio de 2011
      </p>
      <p class="cita1">
        “Estamos muy agradecidos de que nos abran las puertas de la gran casa
        ecuatoriana, y además, nosotros sentimos que no sólo nos abren las
        puertas de la casa, sino que nos abren las puertas del corazón. Damos
        infinitas gracias por esto y por esas palabras tan generosas.”
      </p>
      <p class="piecita1">
        Suscripción de acuerdos y rueda de prensa entre Ecuador y Venezuela,
        Salón Amarillo del Palacio de Carondelet. Quito, Ecuador. 9 agosto de
        2007
      </p>
      <p class="cita1">
        “Tras bastidores, en primer término, están las cloacas mediáticas de
        Ecuador, con el abierto apoyo de sus pares en todo el mundo: CNN, por
        ejemplo, hablaba el 30 de septiembre de un golpe de Estado
        «constitucional».”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Salve, oh Patria, mil veces! ¡Oh Patria!. 03
        Octubre 2010
      </p>
      <p class="cita1">
        “Que Dios bendiga a Ecuador, a su Presidente. Muchas gracias,
        compañeros, compañeras.”
      </p>
      <p class="piecita1">
        Suscripción de acuerdos y rueda de prensa entre Ecuador y Venezuela,
        Salón Amarillo del Palacio de Carondelet. Quito, Ecuador. 9 agosto de
        2007
      </p>
      <p class="cita1">
        “Ecuador y Venezuela tenemos ustedes saben el mejor cacao del mundo,
        ¿cómo se llama? El fino de aroma, el nuestro llegó a 95, el de Ecuador
        está en 95,5, estamos ahí no, punteando.”
      </p>
      <p class="piecita1">
        Firma de Acuerdos y rueda de prensa conjunta de los presidentes de la
        República Bolivariana de Venezuela y la República del Ecuador. 07 de
        junio de 2011
      </p>

      <p class="cita1">
        “Hay que recordar que Ecuador fue parte de la OPEP, y entiendo que hoy
        Ecuador está en proceso, ya se aprobó y tiene todo nuestro apoyo para
        que vuelva a ser miembro de la Organización de Países Exportadores de
        Petróleo, la más poderosa organización petrolera del mundo.”
      </p>
      <p class="piecita1">
        Suscripción de acuerdos y rueda de prensa entre Ecuador y Venezuela,
        Salón Amarillo del Palacio de Carondelet. Quito, Ecuador. 9 agosto de
        2007
      </p>
      <p class="cita1">
        “Debemos estar depositando Ministra en las próximas horas la parte
        nuestra, en un banco ecuatoriano, el que ustedes decidan, una
        institución pública para hacer efectivo el fondo binacional, para de
        allí comenzar a financiar proyectos como por ejemplo el de la empresa
        minera, empresa minera nacional, una gran nacional, Ecuador tiene oro,
        nosotros también y estamos produciendo oro cada uno por separado pero
        tenemos mucho potencial.”
      </p>
      <p class="piecita1">
        Firma de Acuerdos y rueda de prensa conjunta de los presidentes de la
        República Bolivariana de Venezuela y la República del Ecuador. 07 de
        junio de 2011
      </p>
      <p class="cita1">
        “Nosotros estamos muy, muy agradecidos del pueblo del Ecuador, de su
        Gobierno, de este nuevo Gobierno que ha comenzado con gran ímpetu a
        trazar los caminos de lo que el propio presidente Correa ha llamado “el
        cambio de época”.”
      </p>
      <p class="piecita1">
        Suscripción de acuerdos y rueda de prensa entre Ecuador y Venezuela,
        Salón Amarillo del Palacio de Carondelet. Quito, Ecuador. 9 agosto de
        2007
      </p>
      <p class="cita1">
        “De corazón, Rafael (Correa), toda nuestra gratitud para ti y para tu
        pueblo”.
      </p>
      <p class="piecita1">
        Las Líneas de Chávez ¡Viva Bolívar! ¡Bolívar Vive!. 19 diciembre 2010
      </p>
      <p class="cita1">
        “Correa me dijo: “Hugo, acuérdate que Ecuador está aquí, pues”. Hace
        poco alguien dijo en Quito que Ecuador limita al norte con las FARC,
        ¿no? Entonces él me dijo: “Bueno, como seguramente pudieran estar más
        cerca...”. Le dije no sé, no sé si están más cerca de Ecuador que de
        Venezuela porque ellos se han estado moviendo.” (En relación a la ayuda
        humanitaria para el rescate de Clara, Consuelo y Enmanuel.)
      </p>
      <p class="piecita1">
        Conferencia de Prensa Ofrecida por el Presidente de la República
        Bolivariana de Venezuela, Hugo Chávez, a medios internacionales Salón
        Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>

      <p class="cita1">
        “Algunas becas para estudiar tecnología, innovación, el desarrollo de 2
        mil hectáreas de plátano y banano en la región sur del Lago de
        Maracaibo, con una empresa ecuatoriana que se va para allá a producir
        con nosotros, aprovechando la gran experiencia que tienen ustedes, son
        uno de los grandes productores de banano, de plátano.”
      </p>
      <p class="piecita1">
        Firma de Acuerdos y rueda de prensa conjunta de los presidentes de la
        República Bolivariana de Venezuela y la República del Ecuador. 07 de
        junio de 2011
      </p>
      <p class="cita1">
        “Hay que llamar las cosas por su nombre: lo ocurrido en Ecuador fue un
        intento de golpe de Estado contra un Gobierno legalmente constituido y
        que ha sido ratificado popularmente una y otra vez.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Salve, oh Patria, mil veces! ¡Oh Patria! 03
        Octubre 2010
      </p>
      <p class="cita1">
        “El martes 14 de diciembre estuvo entre nosotros el presidente Rafael
        Correa. Con él vino todo el amor del hermano pueblo bolivariano del
        Ecuador”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez ¡Viva Bolívar! ¡Bolívar Vive! 19 diciembre 2010
      </p>
      <p class="cita1">
        “Celebramos la decisión del Gobierno del Ecuador de incorporarse de
        nuevo a la OPEP, eso le da más fuerza a la OPEP dentro de Suramérica y
        su disposición como organización a contribuir, a enfrentar en nuestra
        región esta problemática.”
      </p>
      <p class="piecita1">
        Instalación de la I Cumbre Energética Suramericana Gran Salón Hotel
        Hilton Margarita, Porlamar, estado Nueva Esparta 17 de abril de 2007
      </p>
      <p class="cita1">
        “Ecuador exportaba petróleo crudo, sépanlo, los que no lo saben todavía,
        si es que no lo sabe alguien, exportaba el petróleo crudo e importaba
        los derivados del petróleo.”
      </p>
      <p class="piecita1">
        Firma de Acuerdos y rueda de prensa conjunta de los presidentes de la
        República Bolivariana de Venezuela y la República del Ecuador. 07 de
        junio de 2011
      </p>
      <p class="cita1">
        “Ecuador es igualito que fuera venezolana ¿verdad?, claro, es de la
        patria, de la misma patria, de la patria de Manuela Sáenz, tú eres
        india, aymara, quetchua. Quetchua, un aplauso para ella.”
      </p>
      <p class="piecita1">
        Lanzamiento de la Misión «Hijos de Venezuela» 12 de diciembre de 2011
      </p>
      <p class="cita1">
        “Una empresa mixta de empaques de plástico en Venezuela, una empresa
        ecuatoriana que se va a instalar allá para producir empaques ¿de qué
        tipo? Bolsas plásticas, pequeñas, medianas, grandes.”
      </p>
      <p class="piecita1">
        Firma de Acuerdos y rueda de prensa conjunta de los presidentes de la
        República Bolivariana de Venezuela y la República del Ecuador. 07 de
        junio de 2011
      </p>
      <p class="cita1">
        “Para Rafael Correa toda nuestra admiración por el coraje principista
        que demostró exponiendo su vida. Por mantenerse firme y no ceder ante
        presiones y chantajes. Por hablar claramente, luego de ser liberado,
        cerrándole todos los caminos a la impunidad.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Salve, oh Patria, mil veces! ¡Oh Patria! 03
        Octubre 2010”
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
