<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/can.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “He recibido la responsabilidad de ser Presidente de la Comunidad Andina
        de Naciones.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 40 Desde la Sede de Radio Nacional de Venezuela 27 de
        Agosto de 2000
      </p>
      <p class="cita1">
        “Debo decirle también a los productores de aquí, de Trujillo, no sólo de
        papas, de ajos y de cebollas sino a los productores agrícolas en forma
        general que en primer lugar, nosotros no podemos cerrar las fronteras.
        Eso tenemos que reconocerlo, tenemos que recordarlo. Venezuela
        pertenece a la Comunidad Andina de Naciones y hay acuerdos con otros
        países para el movimiento de productos, de producción y la integración
        económica.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 46. Aeropuerto Antonio Nicolás Briceño. Valera, Estado
        Trujillo 08 de octubre de 2000
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
