<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/social.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Los Consejos Comunales son el corazón de la Revolución, porque ahora sí
        el poder popular está prendiendo, echando raíces, y esta es la garantía
        más grande de su éxito en el futuro.”
      </p>
      <p class="piecita1">
        Entrega de Financiamientos a los primeros 200 Bancos Comunales. Teatro
        Teresa Carreño, 15 de junio de 2006
      </p>
      <p class="cita1">
        “Ese Proyecto Bolívar 2000, bueno, las Fuerzas Armadas lo motorizan pero
        junto a las comunidades, no es un proyecto militar ni militarista. No;
        es un proyecto popular, es un proyecto donde se requiere, que necesita
        del aire, del oxígeno del pueblo”.
      </p>
      <p class="piecita1">
        Programa Nro. 1 - Aló Presidente desde la sede de Radio Nacional de
        Venezuela. 23 de mayo de 1999
      </p>
      <p class="cita1">
        “Apenas estamos comenzando a hacer es articulando los pedazos para
        reconstruir el sistema social; la sociedad toda que esta despedazada.”
      </p>
      <p class="piecita1">
        Discurso tras ser ratificado en el cargo como Presidente de la Republica
        por la Asamblea Nacional Constituyente. Palacio Federal Legislativo, 11
        de agosto de 1999
      </p>
      <p class="cita1">
        “Y el buen vivir es, satisfacer las necesidades elementales y básicas
        del ser humano, necesidades humanas: alimentación, vivienda, salud,
        educación, bueno vestimenta; los equipos necesarios para el equipamiento
        mínimo necesario para el “buen vivir”.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 369. Escuela Básica Nacional “Flores de Catia”.
        Parroquia 23 de Enero. 9 de enero de 2011
      </p>
      <p class="cita1">
        “¡Avancemos en la revolución social para que todos seamos iguales!”
      </p>
      <p class="piecita1">
        Inauguración del Liceo Bolivariano Jorge Rodríguez, Av. Jacinto Lara, El
        Cercado, Barquisimeto, estado Lara. 6 de mayo de 2006
      </p>
      <p class="cita1">
        “Potenciemos los valores humanos, el amor humano. He allí lo social”.
      </p>
      <p class="piecita1">
        Aló Presidente Teórico N° 1.. Teatro Teresa Carreño. 11 de junio de 2009
      </p>
      <p class="cita1">
        “Me salí del tema porque toque el tema de la seguridad social, la
        seguridad ciudadana y las metas.”
      </p>
      <p class="piecita1">
        Discurso ante la Asamblea Nacional. Memoria y Cuenta año 2000 Palacio
        Federal Legislativo, 15 de enero de 2001
      </p>
      <p class="cita1">
        “Tenemos que levantar el nivel de vida de nuestro pueblo”.
      </p>
      <p class="piecita1">
        Aló presidente n°6. San Juan de los Morros – Edo. Guárico. 4 de julio de
        1999
      </p>
      <p class="cita1">
        “Yo he dicho que Venezuela tiene, todo para ser en el futuro, es decir,
        en el 2010 al 20 un país de una clase media, un país de clase media
        pues, Venezuela puede ser un país de clase media”.
      </p>
      <p class="piecita1">
        Entrevistado por Jorge Gestoso, corresponsal de CNN. Diciembre 2002
      </p>
      <p class="cita1">
        “¡Cuántas cosas hemos hecho! Pero una, en la que más hemos insistido; es
        en la revisión de los planes del desarrollo sectorial, económico,
        social, educación, etcétera.”
      </p>
      <p class="piecita1">
        Discurso ante la Asamblea Nacional. Memoria y Cuenta año 2000 Palacio
        Federal Legislativo, 15 de enero de 2001
      </p>
      <p class="cita1">
        “Si algo tiene profundo nivel de enlace, de capacidad de engranaje con
        el territorio, eso es la vivienda”.
      </p>
      <p class="piecita1">
        Aló Presidente Teórico N° 1.Teatro Teresa Carreño. 11 de junio de 2009
      </p>
      <p class="cita1">
        “Hemos decidido la activación del Fondo Único Social, el cual va a ser
        adscrito al nuevo Ministerio de Salud y Desarrollo Social. Un fondo que
        va a estar dedicado especialmente a los problemas del desarrollo humano:
        educación, salud, microcréditos, en conjunción con el Banco del Pueblo.”
      </p>
      <p class="piecita1">
        Discurso tras ser ratificado en el cargo como Presidente de la Republica
        por la Asamblea Nacional Constituyente. Palacio Federal Legislativo, 11
        de agosto de 1999
      </p>
      <p class="cita1">
        “Hace poco estaba una de estas encuestadoras, Data Análisis creo que es,
        reconociendo en una medición que hizo, que las clases populares en
        Venezuela han incrementado su poder adquisitivo en más de un 100 por
        ciento.”
      </p>
      <p class="piecita1">
        Acto del Día del Trabajador y Trabajadora de la República Bolivariana de
        Venezuela Sala Ríos Reyna, Teatro Teresa Carreño. Lunes, 30 de abril de
        2007
      </p>
      <p class="cita1">
        “Tengo mucha Fe en que poco a poco va a ir descendiendo ese problema (la
        inseguridad), en la medida en que tengamos más Seguridad Social,
        Trabajo, Educación.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 10. Sede de Radio Nacional de Venezuela. 15 de Agosto
        de 1999
      </p>
      <p class="cita1">
        “Entre otras cosas va a permitir continuar disminuyendo el desempleo,
        porque va a haber que emplear más gente en muchas empresas, no en todas,
        pero sí en muchas empresas.” (En relación a la reducción de la jornada
        laboral a 6 horas)
      </p>
      <p class="piecita1">
        Acto del Día del Trabajador y Trabajadora de la República Bolivariana de
        Venezuela Sala Ríos Reyna, Teatro Teresa Carreño. Lunes, 30 de abril de
        2007
      </p>
      <p class="cita1">
        “Eliminamos eso de préstamos: una beca, pues. Y una beca es una beca, no
        puede ser un préstamo. Y le incrementamos los montos.” (Refiriéndose a
        Fundación Ayacucho.)
      </p>
      <p class="piecita1">
        Apoyo a la Inventiva Tecnológica Nacional. Torre Ministerial, Caracas.
        19 de junio de 2007
      </p>
      <p class="cita1">
        “Según Latinobarómetro, en el plano político el índice de satisfacción
        con la democracia en 1998 era en Latinoamérica del 37%. 1998, 37%.
        Mientras que en Venezuela se estaba por debajo de la media: En Venezuela
        era 35%, en 1998. En el 2007, el índice promedio de Latinoamérica ha
        permanecido en 37%, lamentablemente, porque considero que es muy bajo;
        el índice en Venezuela, en el 2007, creció hasta el 59%.” (Encuestadora
        a la que considero prestigiosa, Latinobarómetro, una encuestadora
        internacional.)
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de
        2008
      </p>
      <p class="cita1">
        “La era bicentenaria de la independencia, el inicio de la revolución de
        independencia. Qué bueno sería celebrarla con un gran proyecto de
        transformación, rumbo a una sociedad justa, rumbo a la justicia social,
        término que creo que es mucho más adecuado que la equidad, mucho más
        adecuado desde mi modesto punto de vista que la cohesión, no hay nada
        más sólido, no hay nada creo más cohesionado que la justicia.”
      </p>
      <p class="piecita1">
        Sesión Inaugural de la XVII Cumbre de Jefes de Estado y de Gobierno
        Iberoamericano Santiago de Chile. 9 de noviembre de 2007
      </p>
      <p class="cita1">
        “Tenemos que enfrentar la emergencia social, y en este caso no invoco la
        emergencia social para restringir o eliminar garantías, no; ¿quién va a
        eliminar garantías en Venezuela si ya todas están eliminadas?, ¿cómo
        vamos a suspender lo que ya está suspendido?”
      </p>
      <p class="piecita1">
        Discurso de toma de posesión. Palacio Federal Legislativo. 2 de febrero
        de 1999
      </p>
      <p class="cita1">
        “Si algo tiene profundo nivel de enlace, de capacidad de engranaje con
        el territorio, eso es la vivienda”.
      </p>
      <p class="piecita1">
        Aló Presidente Teórico N° 1. Teatro Teresa Carreño. 11 de junio de 2009
      </p>
      <p class="cita1">
        “Para cancelar la deuda social acumulada, la miseria, la pobreza, la
        vivienda, la salud, la educación, la contaminación, la deuda ecológica,
        nosotros hemos abordado hasta donde nuestros recursos, sobre todo
        financieros.”
      </p>
      <p class="piecita1">
        Entrevista al Comandante Hugo Chávez realizada en Televisora de Oriente
        (TVO), estado Anzoátegui, 13 de Julio de 2012
      </p>
      <p class="cita1">
        “Una de las clásicas encuestadoras del sector privado venezolano -no son
        encuestas del Gobierno- hace poco publicó unos datos; según esa
        encuesta, no sé si es Datanálisis, una de ellas, el ingreso, el poder
        adquisitivo del sector clasificado como E de nuestra población, en estos
        últimos ocho años se ha incrementado en 400%, señores embajadores y
        embajadoras.”
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de
        2008
      </p>
      <p class="cita1">
        “Por la vía del subsidio, vamos a completar el número necesario de las
        cotizaciones para la seguridad social en el caso de los adultos mayores,
        para garantizarles el derecho a la seguridad social, a la pensión.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Mayo, llegó Mayo!. 02 de Mayo de 2010
      </p>
      <p class="cita1">
        “Bueno, vamos, pues, por todos los barrios. Vamos, cada quien que
        defienda su bandera”.
      </p>
      <p class="piecita1">
        “Aló, Presidente” N° 37. Sede Televisa, Maracaibo–Edo Zulia.10 de abril
        de 2000
      </p>
      <p class="cita1">
        “Nosotros vamos a enviar recursos directos a las comunidades, para que
        sean ustedes mismos organizados, pero vayan organizándose, algunos están
        ya organizados, cooperativas de construcción, muchos desempleados, bueno
        organícense”
      </p>
      <p class="piecita1">
        Programa Nro. 1 - Aló Presidente desde la sede de Radio Nacional de
        Venezuela. 23 de mayo de 1999
      </p>
      <p class="cita1">
        “El desarme como una medida para lograr la paz social, la seguridad
        social, la seguridad pública”.
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, estado Barinas. 29
        de enero de 2012
      </p>
      <p class="cita1">
        “Fortalezcamos la salud mental, la salud corporal, la salud espiritual
        de la nación, a través del deporte y la cultura; eso es algo
        fundamental: un pueblo que no hace deporte está condenado al fracaso”.
      </p>
      <p class="piecita1">
        Inauguración de la Universidad Iberoamericana del Deporte San Carlos, 9
        de febrero de 2006
      </p>
      <p class="cita1">
        “Es necesario recordar, en este caso, que en el año 2005 creamos por ley
        el Fondo de Desarrollo Nacional (Fondén) que ha recibido una cantidad
        superior a 30 mil millones de dólares hasta la fecha, esto ha permitido
        el financiamiento de 172 proyectos de impacto nacional en
        infraestructura, educación, salud, vivienda, agricultura, etcétera.”
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de
        2008
      </p>
      <p class="cita1">
        “Nosotros hemos eliminado progresivamente un conjunto de medidas de
        explotación y de diferenciación del trabajo, medidas muy injustas como
        aquella de que el salario mínimo urbano estaba por encima del salario
        mínimo rural. ¿Quién dijo que el trabajador del campo trabaja menos que
        el trabajador de la ciudad? Ahora es igualito, campo y ciudad, el mismo
        salario mínimo.”
      </p>
      <p class="piecita1">
        Acto del Día del Trabajador y Trabajadora de la República Bolivariana de
        Venezuela Sala Ríos Reyna, Teatro Teresa Carreño. Lunes, 30 de abril de
        2007
      </p>
      <p class="cita1">
        “En estos 9 años, 15 millones de venezolanos han logrado mejor calidad
        de vida por esa vía del trabajo formal, ya que tienen acceso al sistema
        de seguridad social y posibilidad de aportar también al sistema
        económico productivo del país.”
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de
        2008
      </p>
      <p class="cita1">
        “Organicen cooperativas, bien serias, bien estructuradas y a través del
        Plan Bolívar 2000, yo les voy a hacer llegar los recursos para que
        ustedes hagan su escuelas, ahí no hay escuela, hay que hacer una
        escuela”.
      </p>
      <p class="piecita1">
        Programa Nro. 1 - Alo Presidente desde la sede de Radio Nacional de
        Venezuela. 23 de mayo de 1999
      </p>
      <p class="cita1">
        “Se trata de encender todos los motores para la consolidación del
        proyecto socioeconómico en Aragua y en Venezuela”.
      </p>
      <p class="piecita1">
        Aló, Presidente” N° 63. Salón Bolívar. Ministerio de Defensa. 4 de marzo
        de 2001
      </p>
      <p class="cita1">
        “En estos 9 años Venezuela se ha convertido, según esta medición, en el
        segundo país en América Latina en grado de satisfacción con la
        democracia, superado por el pueblo de nuestra hermana República Oriental
        del Uruguay.” (Encuestadora Latinobarómetro.)
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de
        2008
      </p>
      <p class="cita1">
        “Ha sido maravilloso el avance que hemos logrado en las misiones
        sociales”.
      </p>
      <p class="piecita1">
        Mensaje anual del Presidente Hugo Chávez, desde el Palacio Legislativo,
        el 14 de enero de 2005
      </p>
      <p class="cita1">
        “El Seguro Social estaba listo para la parrilla, para privatizarlo. Los
        zamuros andaban merodeándole al Seguro Social. ¡Claro, un bojote de
        billetes es lo que hay ahí, y lo que ahí se perdió!”
      </p>
      <p class="piecita1">
        Discurso ante la Asamblea Nacional. Memoria y Cuenta año 2000 Palacio
        Federal Legislativo, 15 de enero de 2001
      </p>
      <p class="cita1">
        “Al ser preguntados sobre cuán justa es la distribución de la riqueza en
        su país, el 55% de los ciudadanos venezolanos opina que actualmente es
        justa. Mientras que el promedio latinoamericano se ubica en 21%,
        destacando que Venezuela es el único país latinoamericano que supera el
        50% en esta apreciación popular.”
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de
        2008
      </p>
      <p class="cita1">
        “Lo importante es que el sistema de seguridad social tiene que abarcar a
        todos los venezolanos, sin distinción de clase sociales, es más, el
        sistema de seguridad social debe estar orientado a los más débiles”.
      </p>
      <p class="piecita1">
        Aló Presidente, Nº 04. Palacio de Miraflores.20 de junio de 1999
      </p>
      <p class="cita1">
        “Cada día florecerá con mayor vigor, mayor fuerza, con mayor bonuitura.
        Bueno, la sociedad nueva, la sociedad consciente, la juventud, una
        sociedad libre, culta, culta, consciente del mundo de hoy.”
      </p>
      <p class="piecita1">
        Lanzamiento de la Misión «Hijos de Venezuela». 12 de diciembre de 2011
      </p>
      <p class="cita1">
        “Pero tampoco se regulo esa crisis –ni la moral ni la económica– y la
        acumulación de estas dos crisis origino una tercera, espantosa.
        Espantosa porque es visible, porque las otras –la moral y la económica–
        son así como los volcanes que por debajo van madurando hasta que
        explotan y revientan y se hacen visibles y arrasan pueblos y vidas y
        ciudades.”(Refiriéndose al Caracazo)
      </p>
      <p class="piecita1">
        Discurso de toma de posesión. Palacio Federal Legislativo. 2 de febrero
        de 1999
      </p>
      <p class="cita1">
        “Venezuela es uno de los países de América latina que ha incrementado en
        mayor grado su inversión en salud y en educación y en infraestructura
        social, sobre todo, en los últimos tres años.”
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de
        2008
      </p>
      <p class="cita1">“¡Por fin hay una política cultural!”</p>
      <p class="piecita1">
        Aló Presidente Nro. 66. Puerto Ordaz, Estado Bolívar. 25 de marzo de
        2001
      </p>
      <p class="cita1">
        “Los refugios tienen que impactar al Estado para acelerar la creación
        del nuevo Estado social, de derecho y de justicia; triturar la
        burocratización, acabar con la corrupción, la ineficiencia; el partido
        tiene que meterse a fondo en esta batalla, los movimientos sociales, y
        todos unidos, pues, todos unidos lograremos eso y mucho más que eso,
        mucho más que eso”.
      </p>
      <p class="piecita1">
        Aló, Presidente” Nº 369. Escuela Básica Nacional “Flores de Catia”.
        Parroquia 23 de Enero. 9 de enero de 2011
      </p>
      <p class="cita1">
        “Vamos a seguir trabajando sin descanso este tema, el tema de la
        seguridad pública, las campañas del desarme, la conciencia, yo insisto
        en eso”
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, estado Barinas. 29
        de enero de 2012
      </p>
      <p class="cita1">
        “La educación, la salud, la producción, el empleo, todo, todo esto que
        el pueblo clama, pide, escribe y canta. Nuestra responsabilidad es ésta,
        devolverle al pueblo su dignidad y como decía el padre Libertador: Darle
        la mayor suma de felicidad posible.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 62. Bailadores Edo. Mérida. 11 de febrero de 2001
      </p>
      <p class="cita1">
        “Ustedes no van a estar toda la vida recibiendo esta asignación, es por
        un tiempo, es como un puente ¿ves? Como un puente, una ayuda, mientras
        ustedes se puedan valer plenamente por sí mismas con su familia, a
        través del estudio y del trabajo productivo y que tengan un ingreso
        fijo, permanente, y un trabajo productivo; ese es el camino. Ese es el
        camino ¿a qué? A la dignificación de todas ustedes y de toda la familia
        venezolana.”
      </p>
      <p class="piecita1">
        Lanzamiento de la Misión «Hijos de Venezuela». 12 de diciembre de 2011
      </p>
      <p class="cita1">
        “El que no tenga dinero, no importa; vamos a construir casas con sus
        manos. Todos tenemos que poner las manos y el corazón en salvar a
        Venezuela”.
      </p>
      <p class="piecita1">
        Aló presidente n°6. San Juan de los Morros – Edo. Guárico. 4 de julio de
        1999
      </p>
      <p class="cita1">
        “Vamos a apoyar un proyecto especial por los fondos sociales de PDVSA,
        para convertir a Caracas en una ciudad limpia”.
      </p>
      <p class="piecita1">
        Mensaje anual del Presidente Hugo Chávez, desde el Palacio Legislativo,
        el 14 de enero de 2005
      </p>
      <p class="cita1">
        “Un psiquiatra pudiera aquí hacernos una explicación científica de lo
        que está pasando en Venezuela con esa parte de la población, a la que le
        vinieron inyectando odio. Si usted agarra una persona y todos los días
        le inyecta una gotita de odio, ¿Qué pasa?”.
      </p>
      <p class="piecita1">
        Acto de firma del Convenio del Plan Vivienda Productiva. Octubre 2002
      </p>
      <p class="cita1">
        “El ALBA tiene que ser eso, un proyecto social. El ALBA es un proyecto
        geopolítico, político, económico, pero el fin último es el fin social”.
      </p>
      <p class="piecita1">
        Clausura de la VI Cumbre Presidencial del ALBA, Escuela Latinoamericana
        de Medicina, 26 de Enero de 2008
      </p>
      <p class="cita1">
        “Con respecto al desempeño del Estado y de las políticas públicas, el
        67% de los venezolanos y venezolanas piensa que el Estado puede resolver
        todos sus problemas; por el contrario, el promedio de América Latina
        indica que sólo el 38% piensa eso de sus respectivos Estados.”
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de
        2008
      </p>
      <p class="cita1">
        “Continuaremos buscando todas las alternativas posibles para incrementar
        el nivel de vida de la familia venezolana.”
      </p>
      <p class="piecita1">
        Pago de prestaciones sociales 2002-2003 al personal docente,
        administrativo y obrero de las universidades nacionales. Salón Ayacucho,
        Palacio de Miraflores; 8 de junio de 2006
      </p>
      <p class="cita1">
        “Uno de los grandes retos, o es el más grande reto diría yo, de nuestra
        Revolución: el reto cultural, el reto cultural, demoler las viejas
        costumbres heredadas del pasado, heredadas de cien siglos de dominación,
        de coloniaje, de racismo, de machismo, de desigualdades.”
      </p>
      <p class="piecita1">
        Celebración del VIII aniversario del Instituto Nacional de la Mujer
        (Inamujer).Sala Ríos Reyna, Teatro Teresa Carreño. 31 de octubre de 2007
      </p>
      <p class="cita1">
        “Un sistema de seguridad social tiene que ser universal, es decir,
        atender a todos, porque esa es la idea: es la solidaridad.”
      </p>
      <p class="piecita1">
        Aló Presidente, Nº 04. Palacio de Miraflores. 20 de junio de 1999
      </p>
      <p class="cita1">
        “La transformación social junto con la económica; eso tiene que marchar
        paralelo; casi que al mismo ritmo; con una mano la una y con la otra
        maño la otra, sin soltar ninguna de las dos, porque cualquiera que se
        nos vaya se nos va la vida, se nos va el proceso de las manos.”
      </p>
      <p class="piecita1">
        Discurso con motivo de su toma de posesión como Presidente de la
        República Bolivariana de Venezuela para el periodo 2000-2006 ante la
        Asamblea Nacional
      </p>
      <p class="cita1">
        “…Eliminar las desigualdades, lograr la sociedad socialista. Acabar con
        la exclusión, la marginalidad. Se requiere mucho, mucha capacidad de
        creación y de invención para hacerlo, porque el problema es muy grave,
        es grave. Y es un problema también de la economía, sólo viéndola con el
        enfoque de la economía política...”
      </p>
      <p class="piecita1">
        Apoyo a la Inventiva Tecnológica Nacional. Torre Ministerial, Caracas.
        19 de junio de 2007
      </p>
      <p class="cita1">
        “Con respecto a la valoración de su gobierno, en el 2007 el índice de
        confianza en el Gobierno venezolano es o fue del 66% de la población,
        ocupando el primer lugar en el contexto latinoamericano donde la
        valoración media es del 39%.”
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de
        2008
      </p>
      <p class="cita1">
        “Estamos reorientando la sociedad, haciendo una revolución social que
        tiene que comenzar por cada uno de nosotros, por nuestro sentimiento,
        nuestro interior.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 016. Radio Nacional de Venezuela. 26 de Septiembre
        de 1999
      </p>
      <p class="cita1">
        “Hemos tenido el cuidado de incrementar el salario mínimo y además todo
        lo que es el ingreso con los beneficios no precisamente monetarios del
        pueblo (educación, salud, servicios públicos), hemos bajado el costo y
        el peso a los sectores populares de muchos servicios públicos, el
        financiamiento, las tasas de interés, los costos de las viviendas, hemos
        incrementado los subsidios y los vamos a seguir incrementando.”
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de
        2008
      </p>
      <p class="cita1">
        “Una emergencia para restituir garantías. No toda emergencia puede ser
        vista para suspender garantías constitucionales.”
      </p>
      <p class="piecita1">
        Discurso de toma de posesión. Palacio Federal Legislativo. 2 de febrero
        de 1999
      </p>
      <p class="cita1">
        “Firmamos el Acuerdo Energético de Caracas para comprometernos con la
        palabra. Es la palabra comprometida y el hecho consecuente; el apoyo y
        la cooperación.”
      </p>
      <p class="piecita1">
        Discurso ante la Asamblea Nacional. Memoria y Cuenta año 2000 Palacio
        Federal Legislativo, 15 de enero de 2001
      </p>
      <p class="cita1">
        “Es imprescindible ubicar la economía en el contexto social, en el
        contexto político, territorial donde se desenvuelve.”
      </p>
      <p class="piecita1">
        Apoyo a la Inventiva Tecnológica Nacional. Torre Ministerial, Caracas.
        19 de junio de 2007
      </p>
      <p class="cita1">
        “Buen día, Mundo Bueno! Estoy muy feliz viendo por nuestra VTV cómo
        avanza la Gran Misión Vivienda Venezuela! Qué bonitos edificios! Vivir
        Viviendo”
      </p>
      <p class="piecita1">Hugo Chávez Frías @chavezcandanga 1 marzo de 2012</p>
      <p class="cita1">
        “Hay que buscarle solución a los problemas colectivos, la vivienda, los
        servicios públicos, la seguridad, la salud, la educación”.
      </p>
      <p class="piecita1">
        “Aló, Presidente” N° 37 Sede Televisa, Maracaibo–Edo Zulia. 10 de abril
        de 2000
      </p>
      <p class="cita1">
        “Con relación a la percepción acerca de la situación económica, el 54%
        de los venezolanos tiene una imagen de progreso económico en Venezuela
        en 2007, la segunda del Continente detrás de Chile; mientras que el
        promedio en América Latina ha sido del 31%. Venezuela en 54%.”
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional 11 de enero de
        2008
      </p>
      <p class="cita1">
        “Venezuela debe ser una gran escuela donde todos aprendamos muchas
        cosas.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 2 Sede de Radio Nacional de Venezuela. 6 de junio de
        1999
      </p>
      <p class="cita1">
        “Contra el monopolio de la riqueza como dogma, enfrentemos la democracia
        económica; un concepto de igualdad, de libertad, de justicia, de empleo,
        de seguridad social, para cubrir las necesidades básicas del ser
        humano.”
      </p>
      <p class="piecita1">Palacio Federal Legislativo, 5 de agosto de 1999</p>
      <p class="cita1">
        “Que aquí hay un hueco en esta calle, ¿dónde estará Chávez? ¿Por qué no
        arreglará esto? Bueno está bien, si yo puedo voy, oye, pero y la gente
        que vive allí, ¿verdad? Claro, eso ha venido cambiando mucho, gracias a
        la revolución porque ahora tenemos los consejos comunales por ejemplo,
        los comités de tierra urbana, los comités de las Madres del Barrio, que
        trabajan por las comunidades, pero hay que seguir en esa dirección,
        solucionando los problemas.”
      </p>
      <p class="piecita1">
        Lanzamiento de la Misión “Hijos de Venezuela”. 12 de diciembre de 2011
      </p>
      <p class="cita1">
        “La concentración de recursos produce éxitos notables en las batallas y
        ésta es una batalla social, una batalla por elevar el nivel de vida de
        la gente, la producción”.
      </p>
      <p class="piecita1">
        Aló, Presidente” N° 63 Salón Bolívar. Ministerio de Defensa. 4 de marzo
        de 2001
      </p>
      <p class="cita1">
        “Vivienda, salud, educación, empleo, todo, los servicios. No
        descansaremos, yo se los juro que no descansaremos, con el favor de Dios
        para solucionar todos estos problemas.”
      </p>
      <p class="piecita1">
        Lanzamiento de la Misión “Hijos de Venezuela”. 12 de diciembre de 2011
      </p>
      <p class="cita1">
        “Yo me comprometo con ustedes a trabajar ahora con mucha mayor
        dedicación, día y noche, para facilitar el tránsito de este tiempo tan
        difícil a una situación donde impere la justicia, la paz, el desarrollo
        humano, el desarrollo social, el desarrollo económico, el desarrollo
        político, el desarrollo moral.”
      </p>
      <p class="piecita1">
        Discurso tras ser ratificado en el cargo como Presidente de la Republica
        por la Asamblea Nacional Constituyente. Palacio Federal Legislativo, 11
        de agosto de 1999
      </p>
      <p class="cita1">
        “La seguridad estará dada por el nivel de desarrollo social de nuestro
        pueblo.”
      </p>
      <p class="piecita1">
        Discurso en la presentación del Plan de Desarrollo Económico y Social de
        la Nación, 2001-2007. Palacio Federal Legislativo, 28 de septiembre de
        2001
      </p>
      <p class="cita1">
        “¡El epicentro de nuestra búsqueda, de nuestras luchas, de nuestros
        esfuerzos!, tiene que estar orientado especialmente, a lo que hemos
        venido llamando el “buen vivir”.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 369. Escuela Básica Nacional “Flores de
        Catia”.Parroquia 23 de Enero. 9 de enero de 2011
      </p>
      <p class="cita1">
        “El año pasado tuvimos ¿cuántas adolescentes embarazadas?, casi 200 mil,
        eh, menores de 19 años y menores de 15 también tenemos, ese es un
        problema que tenemos que hablarlo.”
      </p>
      <p class="piecita1">
        Lanzamiento de la Misión «Hijos de Venezuela». 12 de diciembre de 2011
      </p>
      <p class="cita1">
        “Todas las ciencias deben estar siempre al servicio del desarrollo del
        hombre, no siempre ha sido así, pero así tiene que ser, ese es el deber
        ser, y en ese camino andamos.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 028. Edo. Bolívar. 30 de Enero de 2000
      </p>
      <p class="cita1">
        “Seguiremos luchando sin descanso para garantizar la vida, la paz, la
        seguridad a la familia venezolana en los barrios, en las urbanizaciones,
        en los campos y en todas partes”.
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora. Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, estado Barinas. 29
        de enero de 2012
      </p>
      <p class="cita1">
        “Cohesionémonos, transformémonos para lograr justicia social y transitar
        algún día las grandes alamedas.”
      </p>
      <p class="piecita1">
        Sesión Inaugural de la XVII Cumbre de Jefes de Estado y de Gobierno
        Iberoamericano Santiago de Chile. 9 de noviembre de 2007
      </p>
      <p class="cita1">
        “Plan Bolívar 2001, decíamos anoche, el objetivo, ¿cuál es?, darle
        felicidad a la gente, es decir, darle un empleo digno, una vivienda
        digna, estudios de calidad, vida, felicidad, pues, que vivamos felices
        como hermanos, ésa es la meta, hacia allá vamos”
      </p>
      <p class="piecita1">
        Aló, Presidente” N° 63 Salón Bolívar. Ministerio de Defensa. 4 de marzo
        de 2001
      </p>
      <p class="cita1">
        “Vamos a devolver la Zona Rental a la Universidad Central de Venezuela y
        el Jardín Botánico que, desde 1970, también se lo habían quitado porque
        ahí y que tenían campos de entrenamiento de la guerrilla, bueno, ya eso
        pasó a la historia. Ahora, eso es de los universitarios.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 2 Sede de Radio Nacional de Venezuela. 6 de junio de
        1999
      </p>
      <p class="cita1">
        “El más reciente estudio publicado por Latinobarómetro, encuestadora que
        evalúa de manera integral a los países de la región, el cual otorgó a
        Venezuela el primer lugar en equidad social, con 36 por ciento.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: Granada, el doloroso espejo 25 Octubre 2009
      </p>
      <p class="cita1">
        “La clase media está destrozada. Hay casi dos millones de déficit de
        viviendas. La educación, la salud, todo eso está destrozado.”
      </p>
      <p class="piecita1">
        Discurso tras ser ratificado en el cargo como Presidente de la Republica
        por la Asamblea Nacional Constituyente. Palacio Federal Legislativo, 11
        de agosto de 1999
      </p>
      <p class="cita1">“El refugio es comunidad por todos lados.”</p>
      <p class="piecita1">
        “Aló, Presidente” Nº 369 Escuela Básica Nacional “Flores de Catia”.
        Parroquia 23 de Enero. 9 de enero de 2011
      </p>
      <p class="cita1">
        “No basta con la voluntad revolucionaria, es la racionalidad
        revolucionaria la que se impone también. La justicia social para lograr
        una sociedad de incluidos y no de excluidos, esta sociedad que tenemos
        todavía, por supuesto, de excluidos; una sociedad fragmentada, no solo
        en clases sociales, en pedazos sociales. Pedazos de sociedad es lo que
        tenemos.”
      </p>
      <p class="piecita1">
        Discurso en la presentación del Plan de Desarrollo Económico y Social de
        la Nación, 2001-2007. Palacio Federal Legislativo, 28 de septiembre de
        2001
      </p>
      <p class="cita1">
        “El Plan o Proyecto Bolívar 2000. Yo tengo mucha fe en ese proyecto, me
        juego la carta con ese proyecto, me juego la partida, me juego a
        Rosalinda”
      </p>
      <p class="piecita1">
        Programa Nro. 1 - Aló Presidente desde la sede de Radio Nacional de
        Venezuela. 23 de mayo de 1999
      </p>
      <p class="cita1">
        “El socialismo, ese es el rumbo, ese es el rumbo para la salvación del
        planeta, no tengo yo la menor duda, y el capitalismo es el camino del
        infierno, a la destrucción del mundo.”
      </p>
      <p class="piecita1">Discurso en Copenhague. 17 de diciembre de 2009</p>
      <p class="cita1">
        “Hemos dado pasos importantes sin duda, pero no descuidemos el espíritu
        amoroso, la base espiritual. Eso tiene que ver con los medios de
        comunicación del pueblo. Eso tiene que ver con la escuela, la
        universidad, eso tiene que ver con el trabajo social.”
      </p>
      <p class="piecita1">
        Juramentación de Ministros de Cultura, Juventud y del Comandante de la
        Guardia de Honor Presidencial Palacio de Miraflores, 1 de agosto de 2011
      </p>
      <p class="cita1">
        “Nosotros hemos estado, en el gobierno nacional, conscientes de la
        emergencia social, económica, política, global, hemos estado acelerando
        discusiones, hemos estado acelerando la toma de decisiones en áreas que
        son vitales para enfrentar la emergencia y para facilitar el trabajo
        mismo de la Asamblea Constituyente.”
      </p>
      <p class="piecita1">
        Discurso tras ser ratificado en el cargo como Presidente de la Republica
        por la Asamblea Nacional Constituyente. Palacio Federal Legislativo, 11
        de agosto de 1999
      </p>
      <p class="cita1">
        “Estas micro ciudades deben tener todo lo necesario para que una familia
        llegue y se inserte allí y no venga a ser una sumatoria más a los
        problemas locales y regionales que ya abundan por todas partes, de
        servicios públicos, de desempleo, de inseguridad, etcétera.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 62. Bailadores Edo. Mérida. 11 de febrero de 2001
      </p>
      <p class="cita1">
        “Está demostrado 80% de pobreza en Venezuela y que podemos esperar. ¡Qué
        podemos esperar! (Refiriéndose a una publicación de la ONU sobre la
        relación pobreza-delincuencia)
      </p>
      <p class="piecita1">
        Discurso ante la Asamblea Nacional. Memoria y Cuenta año 2000 Palacio
        Federal Legislativo, 15 de enero de 2001
      </p>
      <p class="cita1">
        “Hay que hacer escuelas, hay que mejorar escuelas, hay que contratar
        maestros y hacia la salud especialmente, que está masacrada en todo el
        país”.
      </p>
      <p class="piecita1">
        Programa Nro. 1 Aló Presidente desde la sede de Radio Nacional de
        Venezuela 23 de mayo de 1999
      </p>
      <p class="cita1">
        “Ya arrancó la revolución social, no es fácil, pero ya se mueve, se
        siente que se mueve la revolución social, especialmente en el área
        educativa.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 10. Sede de Radio Nacional de Venezuela. 15 de Agosto
        de 1999
      </p>
      <p class="cita1">
        “Debemos avanzar en ríos de pueblo, siempre cargados de muchas ideas,
        con mucha organización, con capacidad de maniobra, con una estrategia
        común, hacia ese mundo azul del mar futuro donde reine la igualdad, la
        libertad, la fraternidad, la solidaridad y el amor.”
      </p>
      <p class="piecita1">
        Encuentro del presidente Chávez con el Movimiento “Manos Fuera de
        Venezuela”. Viena, Austria; 12 mayo de 2006
      </p>
      <p class="cita1">
        “Eso es lo que está jugándose, el camino y el destino de Venezuela en
        educación y en todos los demás ámbitos de la vida nacional”.
      </p>
      <p class="piecita1">
        “Aló, Presidente” N° 37. Sede Televisa, Maracaibo–Edo Zulia. 10 de abril
        de 2000
      </p>
      <p class="cita1">
        “Para que haya vida, para que haya desarrollo, para que haya
        crecimiento, para que haya justicia, igualdad y democracia y vida digna
        para un pueblo tenemos que lograr que la economía y la sociedad estén
        unidas como el hidrogeno y el oxígeno.”
      </p>
      <p class="piecita1">
        Discurso con motivo de su toma de posesión como Presidente de la
        República Bolivariana de Venezuela para el periodo 2000-2006 ante la
        Asamblea Nacional
      </p>
      <p class="cita1">
        “El Plan Bolívar 2000 es un plan nacional, un plan social nacional”.
      </p>
      <p class="piecita1">
        Aló, Presidente” N° 63. Salón Bolívar. Ministerio de Defensa. 4 de marzo
        de 2001
      </p>
      <p class="cita1">
        “Es el hombre nuevo y la mujer nueva, capaces de realizar plenamente
        todas las potencialidades de lo humano; que forman su alma, su mente y
        su corazón, diciéndolo bolivariana y robinsonianamente, “para la
        libertad, para la justicia, para lo grande, para lo hermoso”. Se trata
        entonces, verdaderamente, de un proyecto antropológico, tan radical como
        trascendente, que se ha ido convirtiendo en praxis emancipatoria, en
        energía liberadora.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Agropatria!. 10 Octubre 2010
      </p>
      <p class="cita1">
        “No olvidemos eso ni un solo instante, ni en un solo lugar, tenemos que
        fortalecer, rescatar la base amorosa espiritual del Socialismo contra la
        base egoísta, sólida muchas veces, como la roca, dura, difícil de
        enfrentar, del capitalismo, que es el egoísmo y la destrucción de los
        valores humanos.”
      </p>
      <p class="piecita1">
        Juramentación de Ministros de Cultura, Juventud y del Comandante de la
        Guardia de Honor Presidencial Palacio de Miraflores, 1 de agosto de 2011
      </p>
      <p class="cita1">
        “En Venezuela no habría razón, si no hubiese sido por los 40 años de
        corrupción, de inmoralidad y de desastre, que este pueblo estuviera
        clamando por vivienda, por salud, por educación y por trabajo.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 016. Radio Nacional de Venezuela. 26 de Septiembre
        de 1999
      </p>
      <p class="cita1">
        “Hemos planteado la incorporación al beneficio de pensiones de todas
        aquellas personas que no completaron el requisito de 750 cotizaciones.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡GRANDE BOLÍVAR!. 25 Julio 2010
      </p>
      <p class="cita1">
        “La colectividad es el primer, y debe ser el primer elemento de control,
        de supervisión, la colectividad, el control social.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 62. Bailadores Edo. Mérida. 11 de febrero de 2001
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
