<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/campovene.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Ahí tenemos el terreno, la Faja del Orinoco, un terreno público y los
        productores privados como en el caso de este proyecto, Abreu e Lima, los
        pequeños y medianos productores que ya tienen conocimiento, tienen su
        tierra, tienen experiencia y quieren de verdad incrementar la producción
        y ponerse a trabajar, vengan con nosotros”
      </p>
      <p class="piecita1">
        Cadena nacional. Despacho presidencial, Palacio de Miraflores. 15 de
        noviembre de 2012
      </p>
      <p class="cita1">
        “La Milicia Campesina nace para cumplir con ese deber, colocando el
        énfasis en el protagonismo y la responsabilidad del campesinado como
        sujeto colectivo en función de su propia defensa.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Rumbo al Estado Comunal! 21 Febrero 2010
      </p>
      <p class="cita1">
        “He ordenado arreciar la recuperación de tierras en todo el país.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 369 Escuela Básica Nacional “Flores de Catia”.
        Parroquia 23 de Enero. 9 de enero de 2011
      </p>
      <p class="cita1">
        “Estamos sembrando arroz por aquí, arroz del Arauca. No que eso no sirve
        pa´ nada, esa tierra, decían, ¿no? Miren cómo va la producción de arroz
        allí, buen tamaño tiene ese arroz”
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, estado Barinas. 29
        de enero de 2012
      </p>
      <p class="cita1">“Vamos a transformar una estructura agraria injusta”.</p>
      <p class="piecita1">
        Aló Presidente Nro. 66. Puerto Ordaz, Estado Bolívar. 25 de marzo de
        2001
      </p>
      <p class="cita1">
        “En Caracas casi nada se siembra, campo adentro compadre, campo adentro.
        Yo voy a estar pendiente de eso, Elías”.
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, estado Barinas.29 de
        enero de 2012
      </p>
      <p class="cita1">
        “Venezuela puede producir todo el azúcar que nosotros necesitamos”.
      </p>
      <p class="piecita1">
        “Aló, Presidente” N° 37 Sede Televisa, Maracaibo–Edo Zulia..10 de abril
        de 2000
      </p>
      <p class="cita1">
        “Por allá en La Fría me enseñaron una miel con potencial, parecido al
        viagra. Algo así me explicaron. Pero son gente que han hecho tesis
        universitarias”.
      </p>
      <p class="piecita1">
        Cadena Nacional con motivo de año y medio de gobierno. Agosto 2000
      </p>
      <p class="cita1">
        “Ya por 1925 el petróleo había desplazado a la agricultura, Venezuela
        fue un país agrícola, Venezuela vivió de la exportación agrícola durante
        mucho tiempo: café, cacao, ganado; cueros secos se exportaba a Europa y
        a otros países, etc. Todo eso se vino abajo.”
      </p>
      <p class="piecita1">
        Firma de instrumentos entre la República Bolivariana de Venezuela y la
        República Argentina Pozo Ayacucho 6 - Faja Petrolífera del Orinoco,
        estado Anzoátegui. 21 de febrero de 2007
      </p>
      <p class="cita1">
        “El latifundio no es sólo las grandes extensiones, 100 hectáreas aquí,
        en esta tierra maravillosa, de la mejor del mundo, en el piedemonte, con
        tanta agua, mira este clima, maravilloso, aquí está demostrándose, lo
        estamos demostrando, en apenas 3 años, un poco menos, hemos duplicado y
        más, ¿cómo se llama? El rebaño, y del mejor”.
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora.Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, estado Barinas. 29
        de enero de 2012
      </p>
      <p class="cita1">
        “Venezuela debe ir recuperando, convirtiéndose progresivamente cada año
        en un país agrícola.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 172 Hacienda de maíz “El Chivo”, Edo. Bolívar. 16 de
        noviembre de 2003
      </p>
      <p class="cita1">
        “Hay que impulsar la agricultura, la ganadería, la pequeña empresa, el
        turismo, la infraestructura, es un proyecto integral de desarrollo.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 028. Edo. Bolívar 30 de Enero de 2000
      </p>
      <p class="cita1">
        “Bueno, y cómo tú vas a tener mil hectáreas y 20 vacas en esta tierra;
        eso no se puede permitir… eso es latifundio”.
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora. Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, estado Barinas.29 de
        enero de 2012
      </p>
      <p class="cita1">
        “Esta guerra contra el latifundio, esta batalla por el desarrollo
        integral del campo venezolano, es parte esencial del Proyecto Nacional
        Simón Bolívar, de la democracia revolucionaria.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 251. Hato San Pablo Paeño, estado Apure; 2 de abril de
        2006
      </p>
      <p class="cita1">
        “Yo insisto en el tema de la agricultura urbana, urbana, en cualquier
        patio y en los ámbitos cercanos a las grandes ciudades se puede hacer
        agricultura.”
      </p>
      <p class="piecita1">
        Lanzamiento de la Misión “Hijos de Venezuela” 12 de diciembre de 2011
      </p>
      <p class="cita1">
        “¿Cómo es posible que nosotros sigamos importando maíz? No podemos
        importar maíz en los próximos años, tenemos tanta tierra, tanta gente,
        tantos productores, gente que quiere trabajar y tantas ganas de hacerlo
        que nosotros debemos autoabastecernos en maíz en los próximos años, y en
        muchos otros rubros agrícolas.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 172. Hacienda de maíz “El Chivo”, Edo. Bolívar. 16
        de noviembre de 2003
      </p>
      <p class="cita1">
        “Aquí se reconoce hasta al conuquero, que es el campesino pobre que
        desde la Colonia se llama con ese término indígena”.
      </p>
      <p class="piecita1">
        Entrevistado por el sociólogo alemán, Heinz Dieterich. Diciembre 2001.
      </p>
      <p class="cita1">
        “La Faja Petrolífera del Orinoco. Este un proyecto de grandes
        dimensiones, más de 30 mil hectáreas en Píritu-Becerra y en Banco de
        Pavones más de 10 mil hectáreas, tierras recuperadas. Estos eran
        latifundios, totalmente improductivos, abandonados, tierra muy buena con
        agua, y mucha gente viviendo en la miseria y hemos estado incorporando,
        miren ustedes estos grandes canales que se están construyendo allí.”
      </p>
      <p class="piecita1">
        Cadena nacional. Despacho presidencial, Palacio de Miraflores. 15 de
        noviembre de 2012
      </p>
      <p class="cita1">
        “El gobierno nacional está y estará siempre orientando políticas y
        activando políticas para la recuperación de la producción agrícola, eso
        está en la Constitución Nacional.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 62. Bailadores Edo. Mérida. 11 de febrero de 2001
      </p>
      <p class="cita1">
        “También vamos (a través del instituto agrario nacional) a activar para
        37 familias, granjas integrales multifamiliares, este es un concepto de
        granjas bolivarianas, granjas multifamiliares, 37 familiares, 340...
        Esto va a comenzar a partir del mes de julio, ¡Claro!”
      </p>
      <p class="piecita1">
        Aló presidente n°6 San Juan de los Morros – Edo. Guárico. 4 de julio de
        1999
      </p>
      <p class="cita1">
        “Ustedes pueden ser los creadores de esas unidades productivas
        socialistas con las que debemos ir sembrando la Patria por todas partes
        y en distintas áreas de la producción, desde la producción de materias
        primas hasta su procesamiento”.
      </p>
      <p class="piecita1">
        Discurso pronunciado con motivo del Tercer Aniversario del Frente
        Francisco de Miranda. Poliedro de Caracas. 29 de junio de 2006
      </p>
      <p class="cita1">
        “Además de la ciencia y la técnica desarrollada en el mundo, hay una
        ciencia y una técnica popular que por supuesto se acopla, en muchas
        ocasiones, con mayor precisión a la necesidad específica de una región
        con esta topografía, con estas distancias, con estas necesidades.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 62 Bailadores Edo. Mérida. 11 de febrero de 2001
      </p>
      <p class="cita1">
        “Nosotros vamos a hacer eso pacíficamente, queremos dialogar, queremos
        conversar y buscar el acuerdo, eso sí, rápido; no vamos a pasar una
        década buscando acuerdos, no.” (Sobre la Ley de Tierras)
      </p>
      <p class="piecita1">
        Discurso con motivo de su toma de posesión como Presidente de la
        República Bolivariana de Venezuela para el periodo 2000-2006 ante la
        Asamblea Nacional
      </p>
      <p class="cita1">
        “Estamos haciendo una Ley de Tierras, y no puede ser hecha por los
        latifundistas o sus representantes bien pagados, bien bebidos y bien
        comidos.”
      </p>
      <p class="piecita1">
        Discurso con motivo del segundo aniversario del referendo que convoco a
        la Asamblea Nacional Constituyente de 1999. Palacio Federal Legislativo,
        25 de abril de 2001
      </p>
      <p class="cita1">
        “Hace poco fui a La Marqueseña, de repente fui, de imprevisto, a ver qué
        estaba pasando allá, en el Núcleo de Desarrollo Socialista Florentino.
        Así se llama la antigua hacienda La Marqueseña, que era un latifundio
        desde tiempos inmemoriales, desde la colonia.”
      </p>
      <p class="piecita1">
        Transmisión de Mando Conjunta del Ministerio del Poder Popular para la
        Defensa y los Componentes de la Fuerza Armada Bolivariana. Patio de
        Honor de la Academia Militar – Fuerte Tiuna. 18 de julio de 2007
      </p>
      <p class="cita1">
        “La Revolución Socialista tiene que seguir avanzando —Elías— avanzando,
        con mayor rapidez, para acabar con el latifundio y poner a producir la
        tierra”.
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora. Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, estado Barinas. 29
        de enero de 2012
      </p>
      <p class="cita1">
        “La clave es el cambio: la reforma agraria, la justicia social”.
      </p>
      <p class="piecita1">
        Rueda de prensa en la Embajada de Venezuela en Brasil. Enero 2002
      </p>
      <p class="cita1">
        “¡Cuánto no podemos producir en miles y miles de hectáreas que están
        abandonadas!, con una cerca, un candado, y ahí no hay nada, nada que se
        parezca a un esfuerzo productivo.”
      </p>
      <p class="piecita1">
        Gabinete Comunal “Todos los motores a máxima revolución” Salón Venezuela
        del Círculo Militar, Fuerte Tiuna. Jueves, 15 de febrero de 2007
      </p>
      <p class="cita1">
        “Si tú tienes, ¿qué sé yo?, un tractor, algún propietario privado que
        tenga un tractor, tenga una máquina de esas niveladoras, motoniveladora
        o algo, por qué no arreglas el camino que es de todos, pues”.
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora. Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, Estado Barinas.29 de
        enero de 2012
      </p>
      <p class="cita1">
        “No hay tierra privada, yo así lo digo. Puede haber ocupantes y
        productores, produciendo la tierra, pero si no la producen bien, pierden
        el derecho a explotarla”.
      </p>
      <p class="piecita1">01 de febrero de 2002</p>
      <p class="cita1">
        “En los últimos 100 años hemos tenido un modelo rentístico petrolero.
        Queremos salir de este modelo e impulsar el desarrollo agrícola, pues
        tenemos en nuestro país más de 30 millones de hectáreas que pueden ser
        trabajadas y mejoradas”.
      </p>
      <p class="piecita1">
        Ingreso pleno de Venezuela al Mercosur. Brasilia. 31 de julio de 2012.
      </p>
      <p class="cita1">
        “La cartera agrícola viene para el gobierno, el gobierno le entrega a la
        banca los bonos agrícolas, luego nosotros, la institución del Estado,
        las instituciones del Estado, centralizarán y administrarán los recursos
        recibidos de la banca a través del Fondo Ezequiel Zamora”.
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora. Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, estado Barinas. 29
        de enero de 2012
      </p>
      <p class="cita1">
        “Hasta el más lejano rincón debe llegar la mano de la justicia para
        poner orden en la propiedad de la tierra; ¡tierra para los campesinos!,
        ¡tierra para el que la trabaje!, ¡tierra para los verdaderos
        productores!, ¡justicia para el campo!”
      </p>
      <p class="piecita1">
        Declaraciones del presidente Chávez durante la inauguración de Aldeas
        Universitarias. 5 de abril de 2006
      </p>
      <p class="cita1">
        “En el Valle de los Motilones, estamos impulsando lo de la palma
        aceitera, es un proyecto de ambiente”.
      </p>
      <p class="piecita1">
        “Aló, Presidente” N° 37 Sede Televisa, Maracaibo–Edo Zulia.10 de abril
        de 2000
      </p>
      <p class="cita1">
        “Hoy estábamos viendo unas maquinarias aquí, esta mañana antes de
        comenzar la Cumbre, tremendas maquinarias: tractores, unas cosechadoras,
        sembradoras, ¡bueno! de primera calidad y estábamos recordando esas
        máquinas que son hechas aquí en Córdoba, y en otras ciudades cercanas
        por un monto de más de 180 millones de dólares, ya están listas, vamos a
        embarcarlas pronto ¿y se van para dónde?, para los campos de Venezuela,
        para los campos de Venezuela.”
      </p>
      <p class="piecita1">
        Discurso en el campo de rugby de la Universidad de Córdoba, 21 de julio
        de 2006. “La Mesa de Guanipa, mira, un gran polo de desarrollo está
        naciendo allí.” Cadena nacional. Despacho presidencial, Palacio de
        Miraflores. 15 de noviembre de 2012
      </p>
      <p class="cita1">
        “Voy a crear un Ministerio de Estado para las Zonas Especiales de
        Desarrollo Sustentable para darle a esto la importancia estratégica que
        tiene, en este eje del desarrollo territorial, y ocupar y consolidar el
        territorio a través de un proceso de descentralización desconcentrada y
        ordenada.”
      </p>
      <p class="piecita1">
        Discurso en la presentación del Plan de Desarrollo Económico y Social de
        la Nación, 2001-2007. Palacio Federal Legislativo, 28 de septiembre de
        2001
      </p>
      <p class="cita1">
        “Polos de desarrollo, los ejes de desarrollo, miremos el mapa, hay que
        hacer un mapa de esto.”
      </p>
      <p class="piecita1">
        Cadena nacional. Despacho presidencial, Palacio de Miraflores. 15 de
        noviembre de 2012
      </p>
      <p class="cita1">
        “Hemos avanzado, cómo dudarlo, en la lucha contra ese contrasentido
        primitivo, por feudal, que es el latifundio; hemos rescatado tierras;
        hemos puesto miles de hectáreas a producir alimento para nuestro pueblo.
        De la mano de los movimientos campesinos, hemos comenzado a trazar y
        consolidar la Revolución Agraria en nuestra patria”.
      </p>
      <p class="piecita1">Las líneas de Chávez. 2010</p>
      <p class="cita1">
        “Ay, ay, ay, ¿dónde está la Ley de Tierras? Por aquí la traje, se las
        voy a mostrar, a algunos les da miedo esto”.
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 66 Puerto Ordaz, Estado Bolívar. 25 de marzo de 2001
      </p>
      <p class="cita1">
        “Tenemos que volver a los campos, pero de verdad. Yo, que campesino
        también soy y así fui y así me crié y me formé, estaré al frente de esos
        proyectos, hasta donde el tiempo y la fuerza me lo permitan”.
      </p>
      <p class="piecita1">Discurso pronunciado el 2 de Febrero de 1999</p>
      <p class="cita1">
        “Venezuela tiene más de 20 millones de hectáreas, las mejores para la
        producción agropecuaria, sobre todo pecuaria”.
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, estado Barinas. 29
        de enero de 2012
      </p>
      <p class="cita1">
        “La guerra a muerte contra el latifundio, ese anacronismo tan feudal
        como improductivo, debe reimpulsarse permanentemente.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: Del Mercosur al ALBA. 13 Diciembre 2009
      </p>
      <p class="cita1">
        “Ante la arremetida contra el pueblo campesino a través de una escalada
        de agresiones, sabotajes y ejecuciones sicariales por las fuerzas más
        retrógradas de nuestra sociedad, el deber indelegable del Estado
        nacional bolivariano y el Gobierno Revolucionario es proteger al
        campesinado: defenderlo con todos los medios a su alcance.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Rumbo al Estado Comunal! 21 Febrero 2010
      </p>
      <p class="cita1">
        “Vamos a comenzar de una buena vez dándole vida a un programa al que
        llamaremos Los Fundos Zamoranos, que van a ser fundos estructurados. Eso
        tiene un sustento teórico, lo hemos venido derivando, el fundus structus
        o fundo estructurado y nosotros lo llamamos no fundus structus sino
        fundos zamoranos, más criollito y más revolucionario.”
      </p>
      <p class="piecita1">
        Discurso en la presentación del Plan de Desarrollo Económico y Social de
        la Nación, 2001-2007. Palacio Federal Legislativo, 28 de septiembre de
        2001
      </p>
      <p class="cita1">
        “Si vamos a incrementar la producción de soya y necesitamos 50 mil
        hectáreas al año, nuevas, bueno dónde están esas hectáreas ¿ve? ¿Dónde
        están? Primero la que tiene el Estado, ahí está la Mesa de Guanipa”
      </p>
      <p class="piecita1">
        Cadena nacional. Despacho presidencial, Palacio de Miraflores. 15 de
        noviembre de 2012
      </p>
      <p class="cita1">
        “Nosotros hacemos un avalúo cada vez que rescatamos uno de estos
        latifundios hacemos un avalúo y reconocemos lo que vale, las
        bienechurías que están ahí, no Braulio, las bienechurías pues, la
        vivienda, las casas, el ganado, eso tiene un valor pues y le damos un
        precio justo y le pagamos a los dueños de ese ganado, no, yo no voy a
        robarle el ganado a nadie, pero ahora tenemos que descontarle lo que le
        deben a los trabajadores. (Hato de El Porvenir- Apure)
      </p>
      <p class="piecita1">
        Conmemoración de los 10 años de la derrota del paro patronal y la
        promulgación de la Ley de Tierras. Teatro Municipal, 10 de diciembre de
        2011
      </p>
      <p class="cita1">
        “Esta guerra contra el latifundio, esta batalla por el desarrollo
        integral del campo venezolano, es parte esencial del Proyecto Nacional
        Simón Bolívar, de la democracia revolucionaria.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 251. Hato San Pablo Paeño, estado Apure; 2 de abril de
        2006
      </p>
      <p class="cita1">
        “Qué alegría me dio al ver a aquella gente, jóvenes, técnicos,
        ingenieros, ingenieras, agrónomos, campesinos, hombres a caballo,
        mujeres a caballo, peones, allá viviendo, viviendo en condiciones de
        igualdad, con una mística infinita; y conversar con ellos y ver cómo ha
        nacido, en lo que fue un latifundio, una verdadera unidad productiva
        socialista.”
      </p>
      <p class="piecita1">
        Transmisión de Mando Conjunta del Ministerio del Poder Popular para la
        Defensa y los Componentes de la Fuerza Armada Bolivariana. Patio de
        Honor de la Academia Militar – Fuerte Tiuna. 18 de julio de 2007
      </p>
      <p class="cita1">
        “Yo les hago un llamado a los ganaderos que tienen ganado, así como
        hicimos una vez en unas fiestas en Elorza -muy buenas-, recogimos
        ganado, cada ganadero que dé una vaca, un toro”.
      </p>
      <p class="piecita1">
        Aló presidente n°6 San Juan de los Morros – Edo. Guárico. 4 de julio de
        1999
      </p>
      <p class="cita1">
        “En todas las unidades tiene que haber Consejo de Trabajadores del
        campo”
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora. Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, estado Barinas. 29
        de enero de 2012
      </p>
      <p class="cita1">
        “No hay tierra privada, yo así lo digo. Puede haber ocupantes y
        productores, produciendo la tierra, pero si no la producen bien, pierden
        el derecho a explotarla”.
      </p>
      <p class="piecita1">Salutación de año nuevo. 01 de enero de 2002</p>
      <p class="cita1">
        “La agricultura es un sector estratégico para el país y debe ser ese
        criterio llevado a rango constitucional, así lo aspiramos de la Asamblea
        Constituyente.”
      </p>
      <p class="piecita1">
        Discurso de toma de posesión Palacio Federal Legislativo. 2 de febrero
        de 1999
      </p>
      <p class="cita1">
        “Comenzaremos este mismo año, tan pronto se apruebe la Ley, a adjudicar
        fundos zamoranos, pero si a Hugo Chávez le dan un fundo zamorano y
        resulta que al año lo tiene abandonado o lo quebró, vendió el tractor,
        bueno, dame mi fundo zamorano para adjudicárselo a otra familia.”
      </p>
      <p class="piecita1">
        Discurso en la presentación del Plan de Desarrollo Económico y Social de
        la Nación, 2001-2007. Palacio Federal Legislativo, 28 de septiembre de
        2001
      </p>
      <p class="cita1">
        “Vamos, la lucha contra el latifundio, los trabajadores, allí es donde
        yo digo, eso no es tarea sólo del gobierno, no es sólo del gobernador,
        ni del alcalde, ni del presidente, ni del ministro, es una tarea de
        todos.”
      </p>
      <p class="piecita1">
        Conmemoración de los 10 años de la derrota del paro patronal y la
        promulgación de la Ley de Tierras. Teatro Municipal, 10 de diciembre de
        2011
      </p>
      <p class="cita1">
        “En el estado Guárico, para la producción de arroz: es el proyecto
        Píritu-Becerra Banco de Pavones, aquí muy cerca, al sur del embalse del
        Guárico.”
      </p>
      <p class="piecita1">
        Cadena nacional. Despacho presidencial, Palacio de Miraflores. 15 de
        noviembre de 2012
      </p>
      <p class="cita1">
        “Sepan los latifundistas que se acabó este oligopolio del que tanto se
        beneficiaron: ahora es cuando la Revolución agraria va a acelerarse.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡Agropatria! 10 Octubre 2010</p>
      <p class="cita1">
        “En una época tuvimos más ganado que Colombia, por allá por el Siglo XIX
        y comienzos del Siglo XX, bueno fuimos una sola patria, como sabemos. Y
        este era el corredor, el corredor de la ganadería, que venía de allá del
        mar, venía de Europa, después del Asia.”
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora. Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, estado Barinas. 29
        de enero de 2012
      </p>
      <p class="cita1">
        “Pudiéramos tener viceministerios por regiones agrícolas, por ejemplo,
        se me ha ocurrido para darle más impulso. Pero repito, no es que estén
        en Caracas, no, que estén aquí, en la región de los llanos del sur,
        aquí, recorriendo los terrenos, buscando problemas, solucionando
        problemas, transmitiendo a Caracas las novedades, pidiendo apoyo”
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora. Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, estado Barinas. 29
        de enero de 2012
      </p>
      <p class="cita1">
        “¿Hay latifundio por ahí cerca? Si están abandonadas ustedes tienen que
        hacer la denuncia rápidamente, y nosotros tenemos que facilitar que se
        procese la denuncia. El Instituto Nacional de Tierras (INTI) debe
        proceder de inmediato a una inspección —esto es lo que dice la Ley de
        Tierras, y debe cumplirse—, y luego el Instituto de Tierras hacer un
        estudio rápido y autorizar la ocupación de esas tierras para ponerlas a
        producir.”
      </p>
      <p class="piecita1">
        Gabinete Comunal “Todos los motores a máxima revolución” Salón Venezuela
        del Círculo Militar, Fuerte Tiuna. Jueves, 15 de febrero de 2007
      </p>
      <p class="cita1">
        “Hay que hacer un esfuerzo sobrehumano para levantar la actividad
        agrícola de todos los órdenes en el país.”
      </p>
      <p class="piecita1">
        Discurso con motivo de su toma de posesión como Presidente de la
        República Bolivariana de Venezuela para el periodo 2000-2006 ante la
        Asamblea Nacional
      </p>
      <p class="cita1">
        “Aquella Reforma Agraria de Betancourt y el Pacto de Punto Fijo,
        fracasó, ahora viene es la Revolución Agraria Zamorana”.
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 66 Puerto Ordaz, Estado Bolívar. 25 de marzo de 2001
      </p>
      <p class="cita1">
        “En los patios de las casas se pueden producir muchas cosas.”
      </p>
      <p class="piecita1">
        Gabinete Comunal “Todos los motores a máxima revolución” Salón Venezuela
        del Círculo Militar, Fuerte Tiuna. Jueves, 15 de febrero de 2007
      </p>
      <p class="cita1">
        “Los esteros de Camaguán… Todo esto es un inmenso acuífero, zonas para
        ser recuperadas, saneadas, canalizadas, etc., aprovechadas ahí en el
        municipio, en ese municipio Arismendi también, hay un potencial muy
        grande para el arroz, —Loyo— ahí tenemos nosotros un latifundio que
        recuperamos hace varios años, en esta región.”
      </p>
      <p class="piecita1">
        Cadena nacional. Despacho presidencial, Palacio de Miraflores. 15 de
        noviembre de 2012
      </p>
      <p class="cita1">
        “Desde que apareció el petróleo, comenzó el éxodo campesino y no se
        detuvo, y tenemos pueblos enteros de los Llanos, de los Andes y del
        Oriente que se vinieron a vivir aquí en los ranchos de Caracas o en los
        cinturones de miseria de Maracay, o de Valencia, o de Maracaibo o de
        Puerto La Cruz o de Ciudad Bolívar, de San Félix… y los campos quedaron
        solos; ahora tenemos que revertir ese proceso.”
      </p>
      <p class="piecita1">
        Discurso ante la Asamblea Nacional. Memoria y Cuenta año2000 Palacio
        Federal Legislativo, 15 de enero de 2001
      </p>
      <p class="cita1">
        “Vayan a ver los campos quebrados. Vayamos a ver las vías de penetración
        abandonadas, vayamos a verlo. Invito a los que quieran ver las zonas
        industriales como la de La Fría, cubierta por el monte, las maquinarias
        están tapadas por el monte, hay que apartar la maleza para mirar las
        maquinas que allí funcionaron algún tiempo, en alguna época.”
      </p>
      <p class="piecita1">
        Discurso al cumplirse el primer año de Gobierno Palacio Federal
        Legislativo, 2 de febrero de 2000
      </p>
      <p class="cita1">
        “También hay que acelerar la recuperación de las tierras, por eso hay
        que peinar el terreno”.
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora. Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, estado Barinas. 29
        de enero de 2012
      </p>
      <p class="cita1">
        “De los 47 rubros agrícolas, 39 de ellos presentaron crecimiento en la
        superficie y en la producción”
      </p>
      <p class="piecita1">Memoria y Cuenta, 13 de enero de 2012.</p>
      <p class="cita1">“Hay que acabar con el latifundio”.</p>
      <p class="piecita1">
        “Aló, Presidente” N° 37 Sede Televisa, Maracaibo–Edo Zulia. 10 de abril
        de 2000
      </p>
      <p class="cita1">
        “En la Mesa de Guanipa, y especialmente del estado Anzoátegui, está
        naciendo ya nació, está creciendo más bien un gran polo de desarrollo, y
        es parte de la estrategia del desarrollo integral de la Nación.”
      </p>
      <p class="piecita1">
        Cadena nacional. Despacho presidencial, Palacio de Miraflores. 15 de
        noviembre de 2012
      </p>
      <p class="cita1">
        “Mientras no derrotemos al latifundio, no podremos echar adelante ningún
        proyecto de desarrollo integral para Venezuela.”
      </p>
      <p class="piecita1">
        Declaraciones del presidente Chávez durante la inauguración de Aldeas
        Universitarias 5 de abril de 2006
      </p>
      <p class="cita1">“Tenemos que volver a los campos, pero de verdad.”</p>
      <p class="piecita1">
        Discurso de toma de posesión Palacio Federal Legislativo. 2 de febrero
        de 1999
      </p>
      <p class="cita1">
        “Cuando yo estaba en un batallón de tanques llegaba el Comandante, 40
        tanques alineados ahí, a una voz de mando: Prender ¡Bummm! Arrancar en
        columna de uno... Así hay que hacer con los tractores, y dedicarle un
        día al mantenimiento y no dejarlos ahí tirados en la sabana”.
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora. Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, estado Barinas. 29
        de enero de 2012
      </p>
      <p class="cita1">
        “Desde la entrada en vigencia de la Ley de Tierras y Desarrollo Agrario
        en el 2001, la oligarquía latifundista puso en marcha una agenda
        violenta contra el rescate de las tierras comunes y el ejercicio pleno
        del derecho consagrado por la Ley de Tierras y por la misma
        Constitución. “
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Rumbo al Estado Comunal! 21 Febrero 2010
      </p>
      <p class="cita1">
        “Recuperando esas tierras donde todavía impera el latifundio, eso ni
        siguiera es capitalismo, eso no llega ni a capitalismo eso es todavía
        feudalismo, ahi tenemos que dar un salto del feudalismo al socialismo”
      </p>
      <p class="piecita1">
        Conmemoración de los 10 años de la derrota del paro patronal y la
        promulgación de la Ley de Tierras. Teatro Municipal, 10 de diciembre de
        2011
      </p>
      <p class="cita1">
        “Agricultura, industria, educación; ése es el camino, en eso estaremos
        unidos a partir de hoy y cada día con mayor profundidad y con mayores
        logros para beneficio de nuestros pueblos, rumbo a lo que ya hemos
        dicho, el plan para hacer realidad el supremo sueño de Bolívar, arrancó
        hoy en Managua.”
      </p>
      <p class="piecita1">
        Firma de acuerdos Nicaragua-Venezuela Centro de Convenciones Olof Palme,
        Managua-Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “Yo, que campesino también soy, y así fui y así me crie y me forme,
        estaré al frente de esos proyectos, hasta donde el tiempo y la fuerza me
        lo permitan; pero ustedes, más que decirlo –Dios mediante– ustedes lo
        van a ver.”
      </p>
      <p class="piecita1">
        Discurso de toma de posesión Palacio Federal Legislativo. 2 de febrero
        de 1999
      </p>
      <p class="cita1">
        “El fundo zamorano va a ser la dotación de tierras, pero acompañada
        además del título, título que no será permanente hasta que no pasen
        varios anos, porque le vamos a dar la tierra y el crédito y la vivienda
        y la maquinaria hasta donde podamos en la primera fase.”
      </p>
      <p class="piecita1">
        Discurso en la presentación del Plan de Desarrollo Económico y Social de
        la Nación, 2001-2007. Palacio Federal Legislativo, 28 de septiembre de
        2001
      </p>
      <p class="cita1">
        “Este país tiene todo. ¡Dios, cuántos recursos para tener una poderosa
        actividad agrícola en todos estos ramos de la economía!”
      </p>
      <p class="piecita1">
        Discurso con motivo de su toma de posesión como Presidente de la
        República Bolivariana de Venezuela para el periodo 2000-2006 ante la
        Asamblea Nacional
      </p>
      <p class="cita1">
        “¡Ni una traición más para la causa agraria y para los campesinos y
        campesinas de Venezuela!”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: Del Mercosur al ALBA 13 Diciembre 2009
      </p>
      <p class="cita1">
        “En Venezuela no puede quedar pero ni rastros vivientes del latifundio,
        quedará para el recuerdo, pero tenemos que todavía liberar de la
        esclavitud a muchos venezolanos y venezolanas que siguen siendo esclavos
        en los campos de Venezuela y también en las ciudades a través de la
        explotación del capitalismo”
      </p>
      <p class="piecita1">
        Conmemoración de los 10 años de la derrota del paro patronal y la
        promulgación de la Ley de Tierras. Teatro Municipal, 10 de diciembre de
        2011
      </p>
      <p class="cita1">
        “Cuando hablamos de la economía estamos al mismo tiempo hablando de la
        sociedad. Esas dos ciencias o esos dos elementos no pueden separarse y
        ese es uno de los errores que cometen algunos que tienen esa visión
        economicista.”
      </p>
      <p class="piecita1">
        Discurso con motivo de su toma de posesión como Presidente de la
        República Bolivariana de Venezuela para el periodo 2000-2006 ante la
        Asamblea Nacional
      </p>
      <p class="cita1">
        “Yo sería feliz en mi campo, ¡Ay! Cuando uno puede ir por allá y ver el
        río, las lagunas.”
      </p>
      <p class="piecita1">
        Aló Presidente, Nº 323 Clínica Popular El Valle, parroquia El Valle, 21
        de diciembre de 2008
      </p>
      <p class="cita1">
        “Yo quiero hacer un llamado a todos, para que sigamos alimentando la
        cultura del agro, la cultura del campo, de la tierra.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 340 Universidad Nacional de las Artes (Unearte) El
        Conde, Municipio Libertador, Caracas Domingo, 20 de septiembre de 2009
      </p>
      <p class="cita1">
        “La agricultura es dentro de la revolución el factor fundamental para la
        transformación cultural, la transformación social y la transformación
        económica de Venezuela.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 205 Desde Parque Sur. Estado Zulia Domingo, 26 de
        septiembre de 2004
      </p>
      <p class="cita1">
        “Estamos transformando los métodos de combate a las plagas, antes era
        que regaban todavía con un avión, imagínate, echan veneno y envenenan a
        los niños, a la familia, al monte, a los ríos; es un salvajismo. Ahora
        estamos haciendo los biocontroladores, son unos chiquititos sí que los
        soltamos, y ellos se comen a la plaga.”
      </p>
      <p class="piecita1">
        “Aló, Presidente”, programa Nº 344 Comuna el Maizal, de los estados Lara
        y Portuguesa Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1">
        “Por ahí viene cabalgando el Plan Zamora 2000: empleos, agricultura,
        tierras, vamos a entrarle pero de frente con el nombre de Ezequiel
        Zamora, a la recuperación del campo y a la creación de empleo.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 19 Desde Macuro – Estado Sucre Domingo, 7 de noviembre
        de 1999
      </p>
      <p class="cita1">
        “Comienzo a hacerle un llamado tanto a desempleados en las grandes
        ciudades, tantas gentes que viven en ranchos miserables, sin trabajo,
        con un alto grado de inseguridad, con niños durmiendo en el suelo, sin
        escuela, bueno vámonos al campo, esta es una Venezuela inmensa a la que
        tenemos al Sur y al Oriente hacer aldeas, hacer a construir nuestras
        propias viviendas.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 19 Desde Macuro – Estado Sucre Domingo, 7 de noviembre
        de 1999
      </p>
      <p class="cita1">
        “Ustedes, productores del campo; ustedes, campesinos venezolanos, ahora,
        con la nueva Constitución, estarán protegidos del neoliberalismo salvaje
        y de esa ola privatizadora que no tiene nada que ver con el dolor del
        pueblo de Venezuela, no tiene nada que ver con la producción y el
        desarrollo nacional.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 24 Aeropuerto de Valencia. Estado Carabobo 12 de
        Diciembre de 1999
      </p>
      <p class="cita1">
        “En Barinas ubicamos unas nueve mil hectáreas, en algo que parece una
        Mesopotamia, le pasa por un lado el río Boconó, por el otro el Masparro,
        yo nací muy cerca de ahí y conozco todo eso, me crie por esos montes y
        sabanas.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 26 Sede de la Radio Nacional de Venezuela 16 enero de
        2000
      </p>
      <p class="cita1">
        “La democracia, el poder del pueblo pues, y esa es una de las consignas
        que debe impulsar siempre esta revolución, tierras para el campesino,
        crédito para el campesino, apoyo técnico, maquinaria, mercales,
        educación, salud, bueno, etc.”
      </p>
      <p class="piecita1">
        Aló Presidente Programa Nro. 186 Desde La Planta De Llenado De Pdvsa En
        Guatire 28 De marzo De 2004
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
