<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/mexico.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Habrá que ver el destino de los países que han firmado y que han
        sellado o están sellando su destino económico al de los Estados Unidos;
        habrá que ver la situación de México. Dado que el Presidente de México
        por allá en el Foro Mundial de Davos hizo referencia a Venezuela,
        diciendo que México es la maravilla. ¡Ojalá fuera México la maravilla!
        ¡Cómo amamos a México!”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores. 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Yo soy como el espinito, que en la sabana florea, le doy aroma al que
        pasa y espino al que me menea... Presidente Fox...no se meta conmigo,
        caballero, porque sale espinado”.
      </p>
      <p class="piecita1">9na Cumbre de las América, 13 de noviembre de 2005</p>
      <p class="cita1">
        “Condenando a Venezuela, a Bolivia y a Argentina, lo que le queda muy
        mal, por cierto, al Presidente mexicano: que uno vaya por el mundo a
        hablar mal de otros países para tratar de presentar al de él como el
        modelo. Parece que es que no tiene razones, eso ocurre cuando alguien no
        tiene razones verdaderas, y comienza a esgrimir o a buscar argumentos.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores. 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Vayan a ver la pobreza en México cómo ha crecido. ¿Y por qué será que
        están haciendo el muro?, ¿cuál será la razón del muro? No es otra que
        tratar de impedir la avalancha de “la gran bestia” —utilizo la frase de
        los imperialistas— de los pobres. Cada día la avalancha es más grande.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores. 1° de febrero de 2007
      </p>
      <p class="cita1">
        “México donde hace cien años además se inició y se dio aquella gran
        Revolución, la gran Revolución mexicana, finalizado el siglo XX y
        comenzó con aquellos huracanes que comandaron Pancho Villa, Emiliano
        Zapata y todos aquellos héroes de nuestra América. A ese México a
        nuestro querido México saludamos, Presidente.”
      </p>
      <p class="piecita1">
        Cumbre de Unidad, Cancún, México, 22 de febrero de 2010
      </p>
      <p class="cita1">
        “«Vicente Fox da tristeza porque se convirtió en un cachorro del
        imperio. Da tristeza el entreguismo del presidente Fox. Da
        verdaderamente tristeza, qué triste cómo un presidente se preste para
        ser un cachorro del imperio»”.
      </p>
      <p class="piecita1">11 de octubre de 2005</p>
      <p class="cita1">
        “Señor Presidente de México, si usted quiere que lo respeten, respete.
        ¿Escuchó? Luego no vayan a decir que soy yo el que atropello, que Chávez
        es el peleón del barrio”.
      </p>
      <p class="piecita1">
        Toma de posesión del Presidente de Nicaragua Daniel Ortega 2007.
      </p>
      <p class="cita1">
        “México lindo, México querido, esta tierra que se nos metió en el alma
        con sus canciones, con su música, con sus tradiciones desde niño, y
        además venir a México, a (ya lo dijo Daniel Ortega) levantar de nuevo
        las auténticas Banderas de Bolívar, y la unión de América Latina y el
        Caribe. La unión es lo único que nos hará verdaderamente libres e
        independientes. ¡Que viva la América Latina y el Caribe!”
      </p>
      <p class="piecita1">
        Cumbre de Unidad, Cancún, México, 22 de febrero de 2010
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
