<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/prodprivada.jpg"></ion-img>
    <ion-card-content>

      <p class="cita1">
        “La cooperativa no es que sea mala, no, yo no digo eso, sólo que debe quedar claro que una cooperativa es una forma de propiedad privada.”
        </p>
        <p class="piecita1">
        Aló Presidente, programa Nº 325 Los valles de Tucutunemo, municipio Zamora, Edo. Aragua 1 de marzo de 2009
        </p>
        <p class="cita1">
        “Esto es propiedad social, pero, una propiedad social que respeta la propiedad privada.”
        </p>
        <p class="piecita1">
        Aló Presidente N° 324 Complejo Agroindustrial “Vuelvan Caras” Municipio Turén. Estado Portuguesa Domingo 11 de enero de 2009
      </p>

    </ion-card-content>
  </ion-card>
</ion-content>
