<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/institucionalista.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1"> “Ahora los venezolanos y venezolanas confiamos, y cada día más debemos confiar en nuestras
        instituciones, algunos todavía las atacan y sin pruebas de ningún tipo difaman, por posiciones meramente
        políticas y muchas veces antiéticas.”
      </p>
      <p class="piecita1">Alocución presidencial (cadena nacional)
        Salón Ayacucho, Palacio de Miraflores. Lunes, 3 de diciembre de 2007
      </p>
      <p class="cita1"> “La dinámica institucional tiene que encarnar plenamente el cambio de espíritu que el pueblo ha
        hecho suyo.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: África... África. 19 Septiembre 2009
      </p>
      <p class="cita1"> “Ando siempre con unos mapas y rayo los mapas con esta pasión y con esta angustia también, es
        angustia también, de apurar el paso, porque hemos pasado ocho años ya; claro hemos creado una nueva
        institucionalidad, aquí no había institucionalidad, hemos creado las bases de un proyecto, pero está crudo el
        proyecto.”
      </p>
      <p class="piecita1">Firma de instrumentos entre la República Bolivariana de Venezuela y la República Argentina
        Pozo Ayacucho 6 - Faja Petrolífera del Orinoco, estado Anzoátegui. 21 de febrero de 2007
      </p>
      <p class="cita1"> “Una Contraloría, un poder contralor también incorporado al concepto del poder moral y, además
        de eso, esta figura de la que se ha venido hablando un poco en Venezuela, pero que nunca se ha podido sembrar
        que es la Defensoría del Pueblo.”
      </p>
      <p class="piecita1">Palacio Federal Legislativo, 5 de agosto de 1999
      </p>
      <p class="cita1"> “Ante ustedes, cumplo con mi compromiso, con nuestro compromiso de respetar a nuestras
        instituciones, ha hablado la institución correspondiente, ha hablado el árbitro.”
      </p>
      <p class="piecita1">Alocución presidencial (cadena nacional) Salón Ayacucho, Palacio de Miraflores, Lunes, 3 de
        diciembre de 2007
      </p>
      <p class="cita1"> “La idea de una Republica institucionalizada, democrática y libre, soberana ante el mundo; que
        no acepta injerencia de ningún poder extranjero, económico o político porque somos libres y soberanos para
        decidir nuestro propio rumbo, nuestros propios modelos, respetando para siempre la autodeterminación de los
        pueblos del mundo.”
      </p>
      <p class="piecita1">Palacio Federal Legislativo, 5 de agosto de 1999
      </p>
      <p class="cita1"> “Los derechos del Estado son imprescriptibles, inalienables, insustituibles. Es asunto tan
        elemental que yo me sorprendo, en verdad uno se sorprende.”
      </p>
      <p class="piecita1">Juramentación del Presidente de la República Bolivariana de Venezuela, Hugo Chávez Frías
        (período 2007-2013)
        Palacio Federal Legislativo. 10 de enero de 2007
      </p>
      <p class="cita1"> “Un poder moral, propongo modestamente, que pudiera ser la fusión o pudiera alimentarse de tres
        fuentes que hoy existen dispersas, maniatadas, sin vida propia: una Fiscalía, un Ministerio Publico autónomo de
        las cúpulas políticas que esté libre de manipulaciones y de presiones de sectores nacionales.”
      </p>
      <p class="piecita1">Palacio Federal Legislativo, 5 de agosto de 1999
      </p>
      <p class="cita1"> “Nosotros venimos fortaleciendo el Estado Nacional, el Gobierno Nacional, el Estado, sus
        instituciones y sus políticas, que rigen y deben regir el desarrollo del país en lo político, lo económico, lo
        social”
      </p>
      <p class="piecita1">Palacio de Miraflores, 14 de agosto de 2012
      </p>
      <p class="cita1"> “He decidido, más que una simple y rutinaria reestructuración, dar una real y verdadera sacudida
        al edificio burocrático del Consejo de Ministros, y hacer nuestro, apoderarnos del espíritu bolivariano y
        socialista. Se trata de convertirlo en un organismo con la mayor eficacia política y la más alta calidad
        revolucionaria.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: África... África. 19 Septiembre 2009
      </p>
      <p class="cita1"> “Hay que seguir creando, consolidando la nueva institucionalidad. La legitimidad revolucionaria,
        la legalidad revolucionaria.”
      </p>
      <p class="piecita1">Contacto Telefónico desde el Palacio de Miraflores en el evento del PSUV. 14 de agosto de 2011
      </p>
      <p class="cita1"> “Los ministerios, que tenemos que seguir limpiándolos de corruptelas, de viejas mañas y de
        viejas prácticas; y tenemos que subordinar el poder del Estado al poder del pueblo.”
      </p>
      <p class="piecita1">Gabinete Comunal “Todos los motores a máxima revolución” Salón Venezuela del Círculo Militar,
        Fuerte Tiuna. Jueves, 15 de febrero de 2007
      </p>
      <p class="cita1"> “Desde Venezuela renovamos hoy nuestro más firme compromiso con el fortalecimiento de la
        Secretaría Permanente de la Mesa Presidencial Estratégica del ASA, con sus principales tareas y funciones, para
        acelerar el ritmo en la consolidación de nuestra institucionalidad, y lograr así mayor eficiencia en nuestro
        trabajo conjunto.”
      </p>
      <p class="piecita1">Mensaje del Presidente de la República, Comandante Hugo Chávez a los Jefes y Jefas de Estado y
        de Gobierno de
        la III Cumbre América del Sur – África (ASA)
      </p>
      <p class="cita1"> “Ya uno ve con preocupación, que comienza el tiroteo contra el Consejo Nacional Electoral.”
      </p>
      <p class="piecita1">Reunión de Trabajo, Jueves de Vivienda. Despacho Presidencial, Palacio de Miraflores
        Caracas, jueves 15 de noviembre de 2012
      </p>
      <p class="cita1"> “Estoy seguro que el Estado activará todos los mecanismos en defensa de la Constitución y de la
        Ley ante las agresiones que no se dejarán esperar.”
      </p>
      <p class="piecita1">Sesión con motivo del acto de Estado en defensa de la patria, su soberanía y contra el
        imperialismo. Salón Elíptico del Palacio Legislativo. 23 de noviembre de 2010
      </p>
      <p class="cita1"> “No pretendo invadir los espacios de los demás poderes que conforman el Estado; pero, por
        supuesto, que el Gobierno no puede estar aislado del resto de los poderes; ninguno de los poderes puede estar
        aislado del otro.”
      </p>
      <p class="piecita1">Discurso ante la Asamblea Nacional. Memoria y Cuenta año2000 Palacio Federal Legislativo, 15
        de enero de 2001
      </p>
      <p class="cita1"> “El Estado burgués todavía tiene espacios dentro del Estado que está surgiendo: desde esos
        espacios entrampa, sabotea, obstaculiza el proceso de creación de la nueva institucionalidad.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡Haití, Haití! 17 Enero 2010
      </p>
      <p class="cita1"> “La Asamblea seguirá haciendo lo que tiene que hacer, pero ustedes van a ser un reimpulso
        vigoroso para acelerar la destrucción del estado burgués, la demolición del estado burgués.”
      </p>
      <p class="piecita1">Encuentro con los candidatos a diputados a la Asamblea Nacional, Teatro Municipal. 7 de mayo
        de 2010
      </p>
      <p class="cita1"> “No podemos permitir que la quinta columna, que la contrarrevolución llegue a la Asamblea
        Nacional a dominarla ¡no!”
      </p>
      <p class="piecita1">Concentración del Partido Socialista Unido de Venezuela La Carucieña de Barquisimeto. Edo Lara
        4 de septiembre de 2010
      </p>
      <p class="cita1"> “Un Poder Legislativo con figuras nuevas, con una Asamblea Nacional.”
      </p>
      <p class="piecita1">Palacio Federal Legislativo, 5 de agosto de 1999
      </p>
      <p class="cita1"> “Hay que pasar a una nueva esfera de concreción, a lo concreto. Entonces es donde viene la parte
        del derecho, de lo formal, de la legitimidad de la nueva institucionalidad, que hay que ir conformando.”
      </p>
      <p class="piecita1">Contacto Telefónico desde el Palacio de Miraflores en el evento del PSUV. 14 de agosto de 2011
      </p>
      <p class="cita1"> “Yo no quiero ni obstaculizar ni interferir las deliberaciones y la libertad del poder
        legislativo, no; cumplan ustedes, legisladores, con su responsabilidad, tal cual. Háganlo.”
      </p>
      <p class="piecita1">Discurso de toma de posesión. Palacio Federal Legislativo. 2 de febrero de 1999
      </p>
      <p class="cita1"> “Blindar revolucionariamente la Asamblea es, por el contrario, asegurar la continuidad del
        proyecto socialista que necesita traducirse, como ya lo está haciendo, en una nueva legalidad; y es, también,
        abrirle los caminos al ejercicio del pueblo legislador.”
      </p>
      <p class="piecita1">Líneas de Chávez ¡A paso de Vencedores!
        29 Agosto 2010
      </p>
      <p class="cita1"> “Estamos creando instituciones que no existían, estamos reestructurando instituciones, porque se
        trata de que sólo un Estado bien organizado, instituciones que luchen por la justicia, instituciones que
        trabajen para el empleo, para generar felicidad, sólo así logremos poco a poco ir saliendo de este laberinto.”
      </p>
      <p class="piecita1">Aló Presidente N° 17. Desde la Sede de Radio Nacional de Venezuela
        03 de Octubre de 1999
      </p>
      <p class="cita1"> “Nosotros tenemos hoy un país con un alto grado de estabilidad, política, económica, social, una
        nueva institucionalidad.”
      </p>
      <p class="piecita1">Rueda de Prensa. Hotel Alba Caracas, Distrito capital Martes, 11 de septiembre de 2012
      </p>
      <p class="cita1"> “¡Yo lo que hago es un llamado a la seriedad! Y sobre todo, sobre todo al respeto a la
        institucionalidad. Y lo hago desde mi posición de jefe de Estado, y tengo moral para hacerlo, tengo moral para
        hacerlo, para llamar al respeto.”
      </p>
      <p class="piecita1">Discurso del Comandante Chávez en el 193º Aniversario
        Del II Congreso de Angostura 15 de febrero 2012
      </p>
      <p class="cita1"> “No tenemos nada contra el sector privado, lo que queremos es trabajar juntos, y además es un
        mandato constitucional. Pero el Estado es el Estado, la Constitución es la Constitución, y las leyes son las
        leyes. Tenemos que subordinarnos todos a ese mandato popular, a ese mandato legal.”
      </p>
      <p class="piecita1">Entrega de Bonos Petro-Orinoco a ex trabajadores del Estado.
        Salón Ayacucho, Palacio de Miraflores. Martes, 4 de septiembre de 2012
      </p>
      <p class="cita1"> “Hago un llamado a la población al desarme, las armas deben estar en manos de quien debe
        tenerlas, la Fuerza Armada, los cuerpos policiales como la Policía Nacional pues, para la lucha contra el
        crimen, contra el hampa, contra las distintas manifestaciones pues de la delincuencia organizada o no.”
      </p>
      <p class="piecita1">Celebración de los 13 años del Gobierno Revolucionario.
        Teatro Catia, Plaza Sucre, Av. Sucre, Catia
        Caracas, jueves 2 de febrero de 2012
      </p>
      <p class="cita1"> “Creo que es muy bueno para el país que las instituciones funcionen. Tanto el Consejo Nacional
        Electoral, Tribunal Supremo de Justicia, la Fiscalía, la Defensoría del Pueblo, esas son las instituciones; el
        Poder Ejecutivo Nacional, los gobiernos locales y regionales.”
      </p>
      <p class="piecita1">Aló Presidente Programa Nro. 186 Desde La Planta De Llenado De Pdvsa En Guatire
        28 De marzo De 2004
      </p>
      <p class="cita1"> “Llegó el momento después de la gran victoria popular del 15 de agosto de dar un salto adelante
        e institucionalizar, estructurar nuevas instituciones, Ministerio de Alimentación, las casas de alimentación,
        las bodeguitas, los Mercales y eso va abarcar el Ministerio de Alimentación incluso desde algunos del sector
        primario.”
      </p>
      <p class="piecita1">Aló Presidente N° 204 Desde Unidad Educativa Nacional Claudio Feliciano Las Adjuntas.
        Parroquia Macarao. Municipio Libertador Domingo, 19 de septiembre de 2004
      </p>
      <p class="cita1"> “Fortalezcamos las instituciones, los poderes del Estado, respetemos a los poderes del Estado.”
      </p>
      <p class="piecita1">Aló Presidente N° 205 Desde Parque Sur. Estado Zulia Domingo, 26 de septiembre de 2004
      </p>
      <p class="cita1"> “Hago un llamado al país, al país serio para que reforcemos las instituciones, ¿qué hay que
        seguir transformándola? Sí.”
      </p>
      <p class="piecita1">Aló Presidente N° 205 Desde Parque Sur. Estado Zulia Domingo, 26 de septiembre de 2004
      </p>
      <p class="cita1"> “Esto está bajo la figura del comodato, es decir, ustedes pueden usarlo, pero la propiedad sigue
        siendo del Estado. Ustedes lo usan sin pagar alquiler, ni siquiera la luz la pagan, ni los servicios; es del
        Estado y el Estado corre con los gastos.”
      </p>
      <p class="piecita1">Aló Presidente N° 206 Desde la Cooperativa Central Cafetalero Bramón Municipio Junín, Rubio.
        Estado Táchira Domingo, 03 de octubre de 2004
      </p>
      <p class="cita1"> “Las instituciones financieras del estado no pueden actuar como si fueran una institución
        privada.”
      </p>
      <p class="piecita1">Aló Presidente N° 210
        Desde el Palacio de Miraflores
        Domingo 9 de Enero de 2005
      </p>
      <p class="cita1"> “Se graduó el viernes el primer grupo de directores generales de la Policía Nacional, la nueva
        Policía Nacional. Ahí hay que cuidar mucho y tener el celo más extremo, de que sea de verdad una nueva policía y
        no que sea vieja policía que nazca como nueva, no.”
      </p>
      <p class="piecita1">Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado Aragua Domingo, 6 de
        diciembre de 2009
      </p>
      <p class="cita1"> “El 20 de diciembre la Policía Nacional Bolivariana, porque le pusimos bolivariana, no le habían
        puesto bolivariana. Y yo decía: “Bueno, por qué no, eso no es que sea de un partido, no, es la policía de la
        República bolivariana, el Estado bolivariano. Es la nueva institucionalidad bolivariana”.”
      </p>
      <p class="piecita1">Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado Aragua Domingo, 6 de
        diciembre de 2009
      </p>
      <p class="cita1"> “Una policía... Es como la Fuerza Armada Bolivariana, aquí se acabaron esos complejos de que lo
        bolivariano es de Chávez, no, lo bolivariano es de la patria venezolana, de la Revolución bolivariana, del
        Estado bolivariano.”
      </p>
      <p class="piecita1">Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado Aragua Domingo, 6 de
        diciembre de 2009
      </p>
      <p class="cita1"> “Diputados del Consejo Legislativo Regional, ustedes pueden hacer leyes háganlas. Los alcaldes
        pueden hacer Ordenanzas Municipales, háganlas. Recuperen para el pueblo lo que es del pueblo, el gobernador con
        las medidas que puede hacer: Decretos ejecutivos, y lo que ustedes no puedan, pues estamos nosotros: los
        Ministerios el Presidente el Consejo de Ministros, la Asamblea Nacional incluso que puede y debe hacer leyes si
        es que hiciera falta una Ley Especial.”
      </p>
      <p class="piecita1"> “ALÓ, PRESIDENTE”, programa Nº 343 Desarrollo Urbanístico “Simón Bolívar”. Municipio Páez,
        Estado Portuguesa
        Domingo, 8 de noviembre de 2009
      </p>
      <p class="cita1"> “Instituto de Tierras, Instituto de Desarrollo Rural, y todos deben trabajar de manera
        coordinada, con mucha eficiencia, cada día más; mucha transparencia, luchando contra la burocratización, contra
        la corrupción, buscando siempre eficiencia, cumplir el compromiso con el pueblo, con la Revolución.”
      </p>
      <p class="piecita1"> “Aló, Presidente” Nº 347
        La Platera, municipio Tinaco, estado Cojedes Domingo, 10 de enero de 2010
      </p>
      <p class="cita1"> “El conocimiento y el trabajo como factores, como componentes no serían suficientes, si no
        hubiese una institucionalidad que lo reciba, que los impulse, que los comparta, que los viva, que los articule,
        que coopere, pues; en este caso es la nueva institucionalidad bolivariana.”
      </p>
      <p class="piecita1"> “Aló Presidente”, Programa Nº 372 Salón de Consejo de Ministros, Palacio de Miraflores.
        Domingo, 20 de marzo de 2011 </p>


    </ion-card-content>
  </ion-card>
</ion-content>
