.centered-p {
  text-align: center;
  font-weight:bold;
  padding: auto;
  margin-right:20px;
  font-size: 30px;
  font-family: Oswal;
}

ion-title{
  text-shadow: 5px -4px #edeaea;
}

.ios .centered-p{
  text-align: center;
  font-weight:bold;
  padding: auto;
  font-size: 25px;
  font-family: Oswal;
}

