<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/guerrilla.jpg"></ion-img>
    <ion-card-content>

      ><p class="cita1"> “La guerrilla no puede señalar que nosotros estamos actuando contra ellos porque no es verdad,
        pero si ellos se meten para acá y violan nuestra soberanía nosotros estamos obligados a actuar.”
      </p>
      <p class="piecita1">Aló Presidente, Nº 107. Desde el Chivo, sur del Lago de Maracaibo 09 de junio de 2002
      </p>
      <p class="cita1"> “Son guerrilleros. Bueno sí son soldados, un guerrillero es un soldado sólo que es subversivo,
        es un soldado subversivo.”
      </p>
      <p class="piecita1">Presentación del mensaje anual ante la Asamblea Nacional 11 de enero de 2008
      </p>
      <p class="cita1"> “Hemos manifestado en las últimas semanas nuestra disposición a conversar con los jefes de la
        guerrilla para tratar de contribuir con un proceso interno de Colombia que nos afecta muchísimo: secuestros,
        “vacunas”, inseguridad fronteriza.”
      </p>
      <p class="piecita1">Aló Presidente N° 11
        Sede de Radio Nacional de Venezuela, Caracas
        22 de agosto de 1999
      </p>
      <p class="cita1"> “El general Carreño dijo que aquí había campamentos de la guerrilla y que ellos cuando atacaron
        a la guerrilla, ésta se vino hacia Venezuela y que las tropas venezolanas salieron a hacer prácticamente una
        barrera de protección. Cosas muy graves y sin embargo nosotros jamás por ninguno de esos conflictos o eventos
        dijimos que íbamos a retirarnos de la comunidad andina.”
      </p>
      <p class="piecita1">Alocución del presidente de la República Bolivariana de Venezuela, Resultados de la gira por
        Euroasia. Palacio de Miraflores-Salón Ayacucho
        Martes, 03 de julio de 2007
      </p>
      <p class="cita1"> “Lo ratifico ante el país y ante el mundo, estamos decididos a abrir conversaciones con la
        guerrilla colombiana.”
      </p>
      <p class="piecita1">Aló Presidente N° 11
        Sede de Radio Nacional de Venezuela, Caracas
        22 de agosto de 1999
      </p>
      <p class="cita1"> “Nosotros necesitamos que haya paz en la frontera y se acaben los secuestros, la inseguridad”.
      </p>
      <p class="piecita1">Programa Nro. 1 - Aló Presidente
        desde la sede de Radio Nacional de Venezuela. 23 de mayo de 1999
      </p>
      <p class="cita1"> “El comando de las FARC también está dando una demostración, una demostración de atreverse a
        sentarse a negociar con un gobierno y ojalá, ojalá pronto estemos viendo la incorporación de las FARC y ojalá
        del ELN también al proceso político colombiano, los que quieran pues, allá ellos. Pero yo sí creo que es momento
        ¿no? de separar como alguien dijo, las armas de la política. “
      </p>
      <p class="piecita1">Rueda de Prensa. Parque Ezequiel Zamora, El Calvario
        Caracas, miércoles 5 de septiembre de 2012
      </p>
      <p class="cita1"> “Venezuela no es sitio de campamentos guerrilleros colombianos y lo hemos exigido siempre a la
        guerrilla, que no incursionen en nuestro territorio. Así que yo espero que en todas estas semanas y meses, no se
        presente ninguna situación de ese tipo, como también uno espera que baje ¿no? la intensidad de los
        enfrentamientos militares en la misma Colombia. ¿Para qué? Para facilitar el proceso de diálogo hacia la paz
        duradera y estable en Colombia.”
      </p>
      <p class="piecita1">Rueda de Prensa. Parque Ezequiel Zamora, El Calvario
        Caracas, miércoles 5 de septiembre de 2012
      </p>
      <p class="cita1"> “Me llegó un mensaje de las llamadas FBL (Fuerzas Bolivarianas de Liberación) porque les dije
        muy claramente en Guasdualito: no entiendo eso que una guerrilla para apoyar a Chávez, eso es mentira, no
        necesito apoyo guerrillero de nadie, la Fuerza Armada Venezolana es el apoyo armado de este pueblo, de esta
        Constitución y de este Presidente.”
      </p>
      <p class="piecita1">Aló Presidente N° 206. Desde la Cooperativa Central Cafetalero Bramón Municipio Junín, Rubio.
        Estado Táchira. Domingo, 03 de octubre de 2004
      </p>
      <p class="cita1"> “Si es verdad que son venezolanos, señores, ustedes desaparezcan esas supuestas FBL (Fuerzas
        Bolivarianas de Liberación) y vengan a trabajar aquí, a sembrar café, vamos a trabajar en Vuelvan Caras, vamos a
        trabajar en Barrio Adentro. Hay bastante trabajo aquí.”
      </p>
      <p class="piecita1">Aló Presidente N° 206. Desde la Cooperativa Central Cafetalero Bramón Municipio Junín, Rubio.
        Estado Táchira. Domingo, 03 de octubre de 2004
      </p>
      <p class="cita1"> “He recibido con gusto el mensaje de las llamadas FBL (Fuerzas Bolivarianas de Liberación), que
        nunca he reconocido, ¡jamás! Pero si es que existen, y tenemos evidencias de que sí, de que si existen y que
        hablan a favor de Chávez, no necesito ese apoyo, así que ustedes, bueno, si tienen armas de guerra
        entréguenmelas porque esas armas de guerra deben estar en manos de la Fuerza Armada, para armar las reservas. “
      </p>
      <p class="piecita1">Aló Presidente N° 206. Desde la Cooperativa Central Cafetalero Bramón Municipio Junín, Rubio.
        Estado Táchira. Domingo, 03 de octubre de 2004 </p>


    </ion-card-content>
  </ion-card>
</ion-content>
