.centered-p {
  text-align: center;
  font-weight:bold;
  padding: auto;
  font-size: 2rem;
  font-family: oswal;
}

ion-title{
  text-shadow: 5px -4px #edeaea;
}

.ios .centered-p{
  text-align: center;
  font-weight:bold;
  padding: auto;
  font-size: 2rem;
  font-family: oswal;
}
