<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
      <ion-img class="capitulo_img" src="/assets/images/capitulos/alba.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Está llegando la revolución a CNN, (…) hablando del ALBA, también
        decían “No, esa es una locura de Chávez, el ALBA”. ¿Qué es eso? ¡El ALCA
        se murió, compadre!, ¡el ALCA se acabó!”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores 1° de febrero de 2007
      </p>
      <p class="cita1">
        “El ALBA tiene que ser eso, un proyecto social. El ALBA es un proyecto
        geopolítico, político, económico, pero el fin último es el fin social”.
      </p>
      <p class="piecita1">Cumbre Alba Cumana</p>
      <p class="cita1">
        “El ALBA tiene que asumir, tenemos que asumir juntos, unidos, la lucha
        contra la pobreza, contra la exclusión, por la educación, por la salud”.
      </p>
      <p class="piecita1">
        Clausura de la VI Cumbre Presidencial del ALBA, Escuela Latinoamericana
        de Medicina, 26 de Enero de 2008
      </p>
      <p class="cita1">
        “Eso habrá que hacerlo en todos estos nuestros países, pero en el ALBA
        ésa es una de las banderas que tenemos: revolución energética. Entonces
        estamos comenzando bien, y con el esfuerzo y la voluntad de todos
        nosotros, de nuestros cancilleres.”
      </p>
      <p class="piecita1">
        Firma de acuerdos Nicaragua-Venezuela Centro de Convenciones Olof Palme,
        Managua-Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “El ALBA se posiciona, el ALBA... el ALBA... Bueno, como el alba, ¿no?,
        cuando el sol va naciendo: cada día se ve más claro, cada día está mejor
        colocado sobre el horizonte.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Es el miedo al ALBA, a la Alianza Bolivariana que surge como mecanismo
        de integración nuevo, novedoso, solidario y que hemos conformado los
        gobiernos y países de Cuba, Nicaragua, Honduras, Venezuela, Ecuador,
        Bolivia, Antigua y Barbuda, Dominica y San Vicente y las Granadinas. Nos
        atacan, pretenden detenernos. ¡Pues no lo van a lograr!” (Refiriéndose a
        la negativa de la Philips a vender repuestos para equipos médicos)
      </p>
      <p class="piecita1">
        Discurso en la 64ª Asamblea General de Naciones Unidas Nueva York,
        Jueves, 24 de septiembre 2009
      </p>
      <p class="cita1">
        “Queremos desprendernos de las cadenas, independizar de verdad a
        nuestros pueblos, y desarrollarlos; y creemos en una nueva forma de
        integración a la que le estamos dando forma. Ya no el ALCA (Área de
        Libre Comercio para las Américas). El ALBA, decimos nosotros, una
        Alternativa de Alianza Bolivariana para los Pueblos de Nuestra América.”
      </p>
      <p class="piecita1">
        Intervención del presidente de la República Bolivariana de Venezuela,
        Hugo Chávez, en la Duma Estatal de la Federación Rusa. Salón de los
        Escudos de la Duma, Moscú, Rusia. Viernes, 29 de junio de 2007
      </p>

      <p class="cita1">
        “ALBA, el amanecer de una nueva América, la Alternativa Bolivariana para
        la América Latina”
      </p>
      <p class="piecita1">
        Mensaje anual del Presidente Hugo Chávez, desde el Palacio Legislativo,
        el 14 de enero de 2005
      </p>
      <p class="cita1">
        “Nosotros hemos propuesto un nuevo modelo de integración que ponga por
        delante lo social, y le hemos llamado ALBA.”
      </p>
      <p class="piecita1">
        Declaraciones del presidente Chávez a la salida de la reunión con la
        presidenta de Chile, Michelle Bachelet. Viena, Austria; 11 de mayo de
        2006
      </p>
      <p class="cita1">
        “No debemos —ni vamos a hacerlo— colocar a ningún país hermano o
        Gobierno amigo o hermano contra la pared y decirle: “Mira, si tú estás
        allá en TLC no puedes estar en el ALBA”. No, no, porque es una dinámica,
        los dos podrán convivir durante un tiempo, pero los TLC van a ir
        muriendo, van a ir cayendo uno tras otro; y en la medida incluso en que
        el ALBA se vaya fortaleciendo va a ir debilitando a los TLC. Pasa como
        con el capitalismo y el socialismo.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Hoy por hoy, la Alianza Bolivariana (Alba) está en la vanguardia del
        proceso de unión e independencia de la región: es el instrumento que
        encarna con mayor voluntad política la continuidad del legado de
        nuestras libertadoras y libertadores”.
      </p>
      <p class="piecita1">Las líneas de Chávez. 2010</p>

      <p class="cita1">
        “Saludamos el reconocimiento que han hecho los países centroamericanos
        del ALBA (Alternativa Bolivariana para los Pueblos de Nuestra América),
        que sigue avanzando, el ALBA seguirá avanzando.”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Inauguramos el Núcleo Productivo Socialista Fundación Araguaney, allá
        en las sabanas de La Marqueseña, como parte de los proyectos unitarios
        de la Alianza Bolivariana de los Pueblos de Nuestra América (ALBA), que
        tiene como objetivo impulsar la producción agrícola y pecuaria,
        específicamente en lo referente a la producción de leche y de carne.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Mayo, llegó Mayo! 02 de Mayo de 2010
      </p>
      <p class="cita1">
        “Como ustedes saben, en este mismo instante yo debo clausurar esta
        tarde, si ustedes me lo permiten, la Cumbre, la primera reunión del
        Consejo de Ministros del ALBA, nosotros actuamos rápido, no andamos con
        mucha burocracia.”
      </p>
      <p class="piecita1">
        Rueda de Prensa Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez Frías, con corresponsales extranjeros. Sala de Prensa Simón
        Bolívar. Palacio de Miraflores. 6 de junio de 2007
      </p>
      <p class="cita1">
        “El ALBA sigue fortaleciéndose, sigue ubicándose, con los mecanismos que
        ya conocemos. (…), ¿cuántas empresas mixtas fue que conformamos? A ver,
        11 empresas mixtas Cuba-Venezuela, en el marco del ALBA, una de ellas la
        del cable submarino, otra de ellas producción de arroz, pero no para
        biodiesel sino para los cubanos y para los venezolanos, ahora ya
        nosotros estamos casi autoabasteciéndonos en arroz.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Hemos creado el Consejo de Ministros del ALBA, el Consejo de Movimiento
        Sociales del ALBA y un Consejo de Presidentes donde estamos: Evo
        Morales, Daniel Ortega, Fidel Castro y este humilde servidor, los chicos
        malos.”
      </p>
      <p class="piecita1">
        Acto del Día del Trabajador y Trabajadora de la República Bolivariana de
        Venezuela Sala Ríos Reyna, Teatro Teresa Carreño. Lunes, 30 de abril de
        2007
      </p>
      <p class="cita1">
        “Si no podemos entrar a Mercosur porque la derecha brasileña tiene más
        fuerza que la idea de integración, nos retiramos de Mercosur. Lo
        nuestro... el modelo de integración nuestro, en el que creemos
        profundamente es el ALBA.”
      </p>
      <p class="piecita1">
        Llegada del presidente de la República Bolivariana de Venezuela, Hugo
        Chávez Frías, a la ciudad de Teherán República Islámica de Irán. 30 de
        junio de 2007
      </p>
      <p class="cita1">
        “Bolivia y Venezuela tenemos la más grande reserva de gas natural de
        este continente y aquí estamos en el ALBA.”
      </p>
      <p class="piecita1">
        Acto con motivo de la clausura de la V Cumbre de la Alternativa
        Bolivariana para los Pueblos de Nuestra América (ALBA) y Tratado de
        Comercio de los Pueblos (TCP) Firma de la Declaración de Tintorero.
        Tintorero, estado Lara. 29 de abril de 2007
      </p>
      <p class="cita1">
        “El ALBA comienza a ser un tratado entre Gobiernos, fíjate cómo subió el
        comercio entre Venezuela y Cuba, estamos en más de 2.000 millones. Era
        de 400 millones de dólares de intercambio al año, y ya vamos por encima
        de 2.000.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Aquí estamos ya, en el marco del ALBA acordando cosas. Pero cosas que
        ya tienen cuerpo, nervio y músculo.”
      </p>
      <p class="piecita1">
        Firma de acuerdos Nicaragua-Venezuela Centro de Convenciones Olof Palme,
        Managua-Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “Hoy por hoy, la Alianza Bolivariana -ALBA-, está en la vanguardia del
        proceso de unión e independencia de la región: es el instrumento que
        encarna con mayor voluntad política la continuidad del legado de
        nuestras libertadoras y libertadores.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡¡Tremendo Desfile!! 25 Abril 2010
      </p>
      <p class="cita1">
        “El ALBA tiene que ir hacia el África, el ALBA tiene que ir hacia el
        Asia, a colocar los productos en condiciones dignas y sin que vengan a
        imponernos nada, como a través del ALCA se pretendió; y a través de los
        TLC imponen indignas medidas los imperialistas norteamericanos y las
        transnacionales.”
      </p>
      <p class="piecita1">
        Firma de acuerdos Nicaragua-Venezuela Centro de Convenciones Olof Palme,
        Managua-Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “Hemos firmado, el Acuerdo de Alianza Estratégica que da nacimiento al
        ALBA en América Latina y el Caribe, la Alternativa Bolivariana para la
        América Latina”
      </p>
      <p class="piecita1">
        Mensaje anual del Presidente Hugo Chávez, Palacio Legislativo, el 14 de
        enero de 2005
      </p>
      <p class="cita1">
        “La Alianza Bolivariana (ALBA) no sólo es una urgencia histórica, sino
        la vía inexorable para hacerle frente a la crisis estructural del
        capitalismo y, por eso mismo, el instrumento unitario de mayor voluntad
        política a la hora de actuar en función de la impostergable unidad de
        Nuestra América”.
      </p>
      <p class="piecita1">
        Líneas de Chávez. Caracas: Ministerio de Poder Popular para la
        Comunicación y la Información (Minci), 2010
      </p>
      <p class="cita1">
        “El éxito de la Cumbre del ALBA (Alternativa Bolivariana para los
        Pueblos de nuestra América) los preocupa, allá en Barquisimeto, y todas
        nuestras propuestas de integración energética. Los preocupa Petrocaribe,
        los preocupa Petroandina, Petrosur, el Banco del Sur; todo eso los tiene
        muy preocupados y quieren, como dice el dicho popular, matar la culebra
        por la cabeza.”
      </p>
      <p class="piecita1">
        Rueda de Prensa Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez Frías, con corresponsales extranjeros. Sala de Prensa Simón
        Bolívar. Palacio de Miraflores. 6 de junio de 2007
      </p>
      <p class="cita1">
        “¡Que viva el ALBA! ¡Que viva la patria! ¡Abajo la burguesía! ¡Arriba la
        Revolución!”
      </p>
      <p class="piecita1">
        Sesión con motivo del acto de Estado en defensa de la patria, su
        soberanía y contra el imperialismo Salón Elíptico del Palacio
        Legislativo. 23 de noviembre de 2010
      </p>
      <p class="cita1">
        “Ha fracasado el Consenso de Washington, que ha sumido en mayor miseria
        y pobreza a la América Latina. Nosotros hemos propuesto un nuevo modelo
        de integración que ponga por delante lo social, y le hemos llamado
        ALBA.”
      </p>
      <p class="piecita1">
        Declaraciones del presidente Chávez a la salida de la reunión con la
        presidenta de Chile, Michelle Bachelet. Viena, Austria; 11 de mayo de
        2006
      </p>
      <p class="cita1">
        “Apenas en Barquisimeto se acordó, en la Cumbre, ¿hace cuánto? Un mes,
        un mes y tanto, casi dos meses, darle al ALBA una estructura, primero
        Consejo de Presidentes, segundo Consejo de Ministros, y tercero Consejo
        de los Movimientos Sociales, los movimientos sociales.”
      </p>
      <p class="piecita1">
        Rueda de Prensa Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez Frías, con corresponsales extranjeros. Sala de Prensa Simón
        Bolívar. Palacio de Miraflores. 6 de junio de 2007
      </p>
      <p class="cita1">
        “En un corto plazo, olvídese Nicaragua de los problemas de generación de
        electricidad y de apagones y de todo esto, y olvídese el pueblo de
        Nicaragua de problemas de combustible, de gasolina, de diesel y de
        derivados del petróleo. Es parte del ALBA, los primeros convenios.”
      </p>
      <p class="piecita1">
        Firma de acuerdos Nicaragua-Venezuela Centro de Convenciones Olof Palme,
        Managua-Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “No descansaremos en nuestro empeño para seguirnos ayudando mutuamente,
        porque aquí nadie vaya a creer que Venezuela se siente como el hermano
        mayor, o la potencia y Nicaragua es una República subalterna. No, somos
        igualitos y eso es parte del ALBA, aquí no hay superiores ni
        subalternos, somos dos repúblicas igualitas, soberanas, dos pueblos
        soberanos, de igual a igual.”
      </p>
      <p class="piecita1">
        Firma de acuerdos Nicaragua-Venezuela Centro de Convenciones Olof Palme,
        Managua-Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “El ALBA, no van a poder frenar la alianza bolivariana, no van a poder
        frenar a los pueblos de nuestra América que han despertado.”
      </p>
      <p class="piecita1">
        Mensaje Anual ante la Asamblea Nacional Palacio Federal Legislativo 15
        de enero de 2010
      </p>
      <p class="cita1">
        “En el ALBA somos generosos, nosotros no decimos ni le diremos a nadie
        que si está en el TLC o tiene convenios con Estados Unidos no entra en
        el ALBA. No.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores 1° de febrero de 2007
      </p>
      <p class="cita1">
        “El ALBA se consolida, crece y se afianza, y ahora con los movimientos
        sociales.”
      </p>
      <p class="piecita1">
        Acto del Día del Trabajador y Trabajadora de la República Bolivariana de
        Venezuela Sala Ríos Reyna, Teatro Teresa Carreño. Lunes, 30 de abril de
        2007
      </p>
      <p class="cita1">
        “Está naciendo un nuevo espacio con unos nuevos paradigmas, con nuevos
        criterios, con nuevos horizontes, que es el ALBA, la Alianza Bolivariana
        para nuestros pueblos.”
      </p>
      <p class="piecita1">
        Suscripción de acuerdos y rueda de prensa entre Ecuador y Venezuela,
        Salón Amarillo del Palacio de Carondelet. Quito, Ecuador. 9 agosto de
        2007
      </p>
      <p class="cita1">“El ALBA está más sólida y unida que nunca.”</p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡El Ejército de Bolívar, Otra vez! 27 Junio 2010
      </p>
      <p class="cita1">
        “Ése es nuestro camino, y aquí estamos para sellar ese compromiso en el
        ALBA, en la integración de Bolívar, de Sandino, en la integración de
        nuestros pueblos.”
      </p>
      <p class="piecita1">
        Firma de acuerdos Nicaragua-Venezuela Centro de Convenciones Olof Palme,
        Managua-Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “Hoy se están reuniendo, es la primera reunión del Consejo de Ministros
        del ALBA.”
      </p>
      <p class="piecita1">
        Rueda de Prensa Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez Frías, con corresponsales extranjeros. Sala de Prensa Simón
        Bolívar. Palacio de Miraflores. 6 de junio de 2007
      </p>
      <p class="cita1">
        “El ALBA es un camino; los TLC tienen los días contados, el ALCA murió,
        el ALBA es el comienzo, es la aurora —como su nombre mismo lo indica— de
        una nueva era, de un nuevo mecanismo de cooperación; es cooperación, no
        es mercado; no es competencia, es complementariedad, es solidaridad; es
        colocar al hombre por delante, al ser humano, lo social por delante, no
        el mercado.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Este modelo de integración de Suramérica que nosotros hemos llamado,
        hemos sugerido se llame ALBA, porque el ALCA está muerto ya. Gracias a
        Dios, ha muerto el ALCA, la pretensión imperialista de dominar todo este
        continente, no es posible, ya no es posible…Nosotros lo llamamos desde
        aquí la Alternativa Bolivariana para la América, la ALBA”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 187 Desde Cabruta, Estado Guárico.4 de abril de 2004
      </p>
      <p class="cita1">
        “Ahora se levanta la Alternativa Bolivariana para la América el ALBA,
        integración para la vida, integración entre nuestros pueblos, nuestras
        juventudes, nuestros obreros, nuestros científicos, nuestros técnicos,
        nuestros militares, nuestras mujeres, nuestros indígenas, nuestras
        pescadores, nuestros gobiernos, locales, regionales, nacionales la
        integración de este territorio infinito.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 207 Desde la Refinería de Puerto La Cruz. Estado
        Anzoátegui Domingo, 10 de octubre de 2004
      </p>
      <p class="cita1">
        “Desde el ALBA, exigimos que cese la agresión contra Libia y contra
        cualquier pueblo del mundo.”
      </p>
      <p class="piecita1">
        “Aló Presidente”, Programa Nº 372 Salón de Consejo de Ministros, Palacio
        de Miraflores. Domingo, 20 de marzo de 2011.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
