<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/iran.jpg"></ion-img>
    <ion-card-content>


      <p class="cita1"> “Van a conocer ustedes a un hombre humilde, el presidente Mahmud Ahmadineyad. Vayan
        aprendiéndose cómo se pronuncia: Ahmadineyad.”
      </p>
      <p class="piecita1">Firma de acuerdos Nicaragua-Venezuela Centro de Convenciones Olof Palme, Managua-Nicaragua. 11
        de enero de 2007
      </p>
      <p class="cita1"> “Vamos a hacer una exposición y luego nosotros vamos a ir por allá a hacer exposiciones,
        preparémonos porque ya tenemos una fijada en Irán, acordamos con Ahmadineyad hacer una exposición de productos
        venezolanos y de otros países de América Latina en Irán.”
      </p>
      <p class="piecita1">Alocución del presidente de la República Bolivariana de Venezuela, Resultados de la gira por
        Euroasia. Palacio de Miraflores-Salón Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1"> “Hacen vehículos, hacen cohetes, hacen maquinarias de todo tipo, computadoras, equipos de
        perforación petrolera, equipos industriales de todos los tamaños. ¿Por qué?, porque hicie¬ron una revolución y
        se independizaron y lanzaron su proyecto de desarrollo.” (Hablando de Irán)
      </p>
      <p class="piecita1">Firma de acuerdos Nicaragua-Venezuela
        Centro de Convenciones Olof Palme, Managua-Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1"> “La Revolución Iraní y la Revolución Bolivariana son hijas de una misma Historia, la de las
        luchas de nuestros pueblos por su liberación.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: Campeones Bolivarianos! 29 Noviembre 2009
      </p>
      <p class="cita1"> “Un convenio comercial para exportar a Irán —ya estamos exportando, con esto vamos a continuar
        exportando a Irán—, ánodos de carbono que produce Venezuela.”
      </p>
      <p class="piecita1">Alocución del presidente de la República Bolivariana de Venezuela, Resultados de la gira por
        Euroasia. Palacio de Miraflores-Salón Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1"> “Gracias al apoyo de Irán llegan estos primeros tractores, que con qué gusto yo manejaría.”
      </p>
      <p class="piecita1">Firma de acuerdos Nicaragua-Venezuela Centro de Convenciones Olof Palme, Managua-Nicaragua. 11
        de enero de 2007
      </p>
      <p class="cita1"> “Aquí se molestaron porque vino (Mahmud) Ahmadineyad. Si viniera Obama ¿qué dirían? (...) No
        conocen a Ahmadineyad. Es un buen hombre”.
      </p>
      <p class="piecita1">Memoria y Cuenta, 13 de enero de 2012
      </p>
      <p class="cita1"> “Bueno Irán es un país de más de 70 millones de habitantes y un gran caudal de importa¬ciones y
        el Presidente nos ha dicho, queremos comprarle más a Venezuela y a otros países.”
      </p>
      <p class="piecita1">Alocución del presidente de la República Bolivariana de Venezuela, Resultados de la gira por
        Euroasia. Palacio de Miraflores-Salón Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1"> “Ahmadineyad, es un hombre humilde pero firme como una espada, firme como el acero.”
      </p>
      <p class="piecita1">Firma de acuerdos Nicaragua-Venezuela. Centro de Convenciones Olof Palme, Managua-Nicaragua
        11 de enero de 2007
      </p>
      <p class="cita1"> “Irán es un país de 80 millones de habitantes, compañeros; y es uno de los países que pro¬duce
        mayor cantidad de petróleo en el mundo y tiene una de las más grandes reservas de petróleo en el mundo, y ya
        tiene 30 años haciendo una revolución, la Revolución Islámica.”
      </p>
      <p class="piecita1">Firma de acuerdos Nicaragua-Venezuel. Centro de Convenciones Olof Palme, Managua-Nicaragua
        11 de enero de 2007
      </p>
      <p class="cita1"> “Es una empresa mixta allá, que nos abre además la participación en ese mercado, no sólo de
        Irán, sino de todos los países que están en su contorno geopolítico. Irán es uno de los gi¬gantes de toda esa
        región del Oriente Medio, de la Eurasia y tiene un gran poder comercial, productivo y comercial.”
      </p>
      <p class="piecita1">Alocución del presidente de la República Bolivariana de Venezuela, Resultados de la gira por
        Euroasia. Palacio de Miraflores-Salón Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1"> “Sembrar el país de plantas de procesamiento; sembrar el país de un modo nuevo, endó¬geno. Es
        algo muy, muy positivo, que apasiona, incluso. Y quiero agradecer aquí a Irán, a su Gobierno, a sus empresarios,
        a sus técnicos, a sus trabajadores. En fin, avanzamos, avanzamos por el rumbo estratégico.”
      </p>
      <p class="piecita1">Llegada del presidente de la República Bolivariana de Venezuela, Hugo Chávez Frías, a la
        ciudad de Teherán República Islámica de Irán. 30 de junio de 2007
      </p>
      <p class="cita1"> “Irán era un país muy atrasado, igual que nosotros en el 79. Irán hoy es uno de los países más
        desarrollados del Oriente Medio, del Asia y del mundo.”
      </p>
      <p class="piecita1">Firma de acuerdos Nicaragua-Venezuela. Centro de Convenciones Olof Palme, Managua-Nicaragua
        11 de enero de 2007
      </p>
      <p class="cita1"> “Con mucha alegría llegamos a esta tierra buena, tierra noble de Irán, con una luna llena,
        hermosa, una noche fresca y mucha gente amiga y mucho espíritu fraterno hay aquí.”
      </p>
      <p class="piecita1">Llegada del presidente de la República Bolivariana de Venezuela, Hugo Chávez Frías, a la
        ciudad de Teherán
        República Islámica de Irán. 30 de junio de 2007
      </p>
      <p class="cita1"> “En las últimas semanas nos ha permitido entender que lo que está en juego en el Golfo Pérsico
        es la posibilidad de una hecatombe nuclear si Estados Unidos e Israel no dan marcha atrás en su intención de
        avasallar a la dignísima República Islámica de Irán.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: “La función debe continuar”. 15 Agosto 2010
      </p>
      <p class="cita1"> “Hace como tres años firmamos uno de los más de 150 convenios que hemos firmado con Irán, uno de
        ellos fue un convenio de Igeomin, el Instituto de Geología y Minería nuestro con el Instituto correspondiente de
        Irak, para hacer lo que aquí nunca se hizo, un catastro minero.”
      </p>
      <p class="piecita1">Alocución del presidente de la República Bolivariana de Venezuela, Resultados de la gira por
        Euroasia. Palacio de Miraflores-Salón Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1"> “Nuestra gratitud infinita a la República Islámica de Irán por su apoyo fraterno y solida¬rio,
        que se demuestra en los hechos con el cumplimiento riguroso del proceso de transferencia tecnológica. Ello nos
        está permitiendo convertir lo imposible en realidad: fabricar vehículos populares, como el Centauro y el
        Turpial, con tecnología de punta.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡¡Felicidades Papá!! 20 Junio 2010
      </p>
      <p class="cita1"> “Ellos tienen mayoría accionaria allá en Irán y aquí tenemos nosotros mayoría accionaria, por
        principios elementales de soberanía y de reciprocidad.”
      </p>
      <p class="piecita1">Alocución del presidente de la República Bolivariana de Venezuela, Resultados de la gira por
        Euroasia. Palacio de Miraflores-Salón Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1"> “Para acá viene pasado mañana, creo, el Presidente de Irán, es un buen amigo, Irán es uno de los
        más grandes países de la OPEP.”
      </p>
      <p class="piecita1">Firma de acuerdos Nicaragua-Venezuela .Centro de Convenciones Olof Palme, Managua-Nicaragua 11
        de enero de 2007

      </p>
      <p class="cita1"> “Irán, esa bella región, qué bella es esa región, impresionante, nunca habíamos ido allí a esa
        región de golfo pérsico al sur de Irán, impresionante el paisaje, impresionante el desarro¬llo que ahí hay.”
      </p>
      <p class="piecita1">Alocución del presidente de la República Bolivariana de Venezuela, Resultados de la gira por
        Euroasia. Palacio de Miraflores-Salón Ayacucho
        Martes, 03 de julio de 2007
      </p>
      <p class="cita1"> “El pueblo de Irán, bueno, ésa es una gran República, de las potencias intermedias; ahora la
        está amenazando los Estados Unidos a Irán, han amenazado, porque Irán está desarrollan¬do un programa de energía
        atómica. Y como ellos lo han dicho, y yo no tengo por qué dejar de creerles, les creo, Irán está haciendo eso
        con fines pacíficos.”
      </p>
      <p class="piecita1">Firma de acuerdos Nicaragua-Venezuela
        Centro de Convenciones Olof Palme, Managua-Nicaragua 11 de enero de 2007
      </p>
      <p class="cita1"> “Llegar al mercado de Irán significa muchísimo para nosotros.”
      </p>
      <p class="piecita1">Alocución del presidente de la República Bolivariana de Venezuela, Resultados de la gira por
        Euroasia. Palacio de Miraflores-Salón Ayacucho
        Martes, 03 de julio de 2007
      </p>
      <p class="cita1"> “Esto hay que agradecérselo al gobierno iraní, tecnología iraní, es uno de los proyectos con
        Irán, es una planta de procesamiento del plástico.”
      </p>
      <p class="piecita1">Consejo de Vicepresidentes
        Desde el Salón Néstor Kirchner. Palacio de Miraflores Caracas, sábado 24 de marzo de 2012
      </p>
      <p class="cita1"> “Esta planta (procesadora de maíz) también se ha construido como parte de los convenios de
        cooperación con Irán. Saludamos desde aquí al pueblo de Irán, al presidente de Irán, al presidente Ahmadineyad.”
      </p>
      <p class="piecita1">Consejo de Vicepresidentes
        Desde el Salón Néstor Kirchner. Palacio de Miraflores Caracas, sábado 24 de marzo de 2012
      </p>
      <p class="cita1"> “El imperio yanqui está tratando de frenar el crecimiento como potencia intermedia, me¬diana de
        Irán.”
      </p>
      <p class="piecita1">Aló, Presidente, Programa Nº 376
        Faja Petrolífera del Orinoco, Petromonagas, estado Anzoátegui.
        8 de enero de 2012
      </p>
      <p class="cita1"> “No pude asistir a Teherán, me hubiese gustado mucho asistir pero estamos bien represen¬tados,
        todo el país está bien representado por nuestro canciller el compañero Nicolás Madu¬ro.”
      </p>
      <p class="piecita1">Encuentro con los trabajadores petroleros Desde el Polideportivo José María Vargas. Edo.
        Vargas 31 de agosto de 2012
      </p>
      <p class="cita1"> “Vamos a instalar una fábrica de cemento en Guayana con el apoyo y la tecnología de Irán.”
      </p>
      <p class="piecita1">Aló Presidente N° 210
        Desde el Palacio de Miraflores
        Domingo 9 de Enero de 2005
      </p>
      <p class="cita1"> “Estamos instalando con la tecnología iraní que nos están transfiriendo, su tecnología, un
        sistema para hacer un catastro minero en Venezuela que nunca hemos tenido.”
      </p>
      <p class="piecita1">Aló Presidente N° 215 Desde Salón Ayacucho. Palacio de Miraflores Domingo 13 de Marzo de 2005
      </p>
      <p class="cita1"> “Comenzamos con Irán, una planta (de tractores) modesta por allá en Ciudad Bolívar que cumplió
        una primera etapa, con muchos problemas. Recuerdo que hasta un barco, una vez, que venía de Irán, lo pararon no
        sé dónde fue y bajaron todo, porque había una información de que era componentes de una bomba atómica. Todo eso
        nos han hecho, casi nadie sabe pues.”
      </p>
      <p class="piecita1">Sesión de Ministros. Cadena Nacional
        Salón Néstor Kirchner, Palacio de Miraflores
        22 de mayo de 2012
      </p>
      <p class="cita1"> “Hemos querido cancelarle bueno, en dólares por supuesto, el precio de las partes que vie¬nen de
        Irán, y no conseguimos como hacerle llegar a Irán el pago en dólares de los componen¬tes, porque tienen
        bloqueado a Irán y sus cuentas.”
      </p>
      <p class="piecita1">Sesión de Ministros. Cadena Nacional
        Salón Néstor Kirchner, Palacio de Miraflores
        22 de mayo de 2012
      </p>
      <p class="cita1"> “¡Independencia! Todo esto ahí está, sin el apoyo de Irán no estarían esas plantas de leche, y
        estamos pronto a inaugurar la planta madre.”
      </p>
      <p class="piecita1">Sesión de Ministros. Cadena Nacional Salón Néstor Kirchner, Palacio de Miraflores 22 de mayo
        de 2012</p>


    </ion-card-content>
  </ion-card>
</ion-content>
