<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/labanca.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “La justicia los perseguirá hasta los últimos confines de la Tierra, y
        esperamos que el mundo nos ayude a que haya justicia, porque a veces hay
        países que los protegen, el sistema internacional hegemónico mayormente
        actúa en consonancia con ellos y se protegen mutuamente, mecanismos que
        tiene la burguesía mundial, la hegemonía mundial del capitalismo
        financiero para saquear a los pueblos, para extraer los recursos de los
        pueblos, como vampiros.” (Refiriéndose a los dueños del Banco Federal)
      </p>
      <p class="piecita1">
        Acto de entrega de certificados a los ahorristas del Banco Federal Salón
        Ayacucho, Palacio de Miraflores 2 de julio de 2010
      </p>
      <p class="cita1">
        “Este banco será dirigido al financiamiento de los microempresarios, de
        las empresas familiares, de los pobres que no tienen acceso a créditos
        con las tasas tan altas que tiene la banca comercial en este mismo
        momento.” (Banco del pueblo.)
      </p>
      <p class="piecita1">
        Discurso tras ser ratificado en el cargo como Presidente de la Republica
        por la Asamblea Nacional Constituyente. Palacio Federal Legislativo, 11
        de agosto de 1999
      </p>
      <p class="cita1">
        “Tenemos listo el esquema para volver a aplicar de manera temporal el
        Impuesto al Débito Bancario”
      </p>
      <p class="piecita1">
        Discurso de toma de posesión Palacio Federal Legislativo. 2 de febrero
        de 1999
      </p>
      <p class="cita1">
        “Donde la burguesía parásita volvió a estrellarse contra esa madura
        conciencia y sabiduría nacional, ha sido en el caso de la necesaria
        intervención del Banco Federal. ¡Trataron de generar una corrida
        bancaria… y fracasaron!”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡El Ejército de Bolívar, Otra vez! 27 Junio 2010
      </p>
      <p class="cita1">
        “La Banca mundial manejada por élites que tienen mucho poder, amasaron
        fortuna manejando el dinero de los demás, robándolo, expropiando al
        pueblo, haciendo fraude, a veces incluso haciendo leyes, e instalando
        leyes para favorecer el fraude, el saqueo, muchas veces derrocando
        gobiernos que no les convinieron, como aquí nos derrocaron en el 2002
        por unas horas”
      </p>
      <p class="piecita1">
        Acto de entrega de certificados a los ahorristas del Banco Federal Salón
        Ayacucho, Palacio de Miraflores 2 de julio de 2010
      </p>
      <p class="cita1">
        “En América del Sur por ejemplo, nosotros desde hace ocho años, igual,
        estábamos proponiendo, venimos proponiendo el Banco del Sur, hasta que
        por fin arrancó el Banco del Sur.”
      </p>
      <p class="piecita1">
        Declaraciones del Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez Frías, a su salida de la III Cumbre de la OPEP. Riad, Arabia
        Saudita. 18 de noviembre de 2007
      </p>
      <p class="cita1">
        “Nosotros queremos abrir aquí una oficina del Banco Nacional de
        Desarrollo Económico y Social de Venezuela.”
      </p>
      <p class="piecita1">
        Firma de acuerdos Nicaragua-Venezuela Centro de Convenciones Olof Palme,
        Managua-Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “Banco de Venezuela, imagínense si en un año el Banco de Venezuela da
        mil y pico de millones, ¿cuánto darían juntos Banesco, Mercantil y
        Provincial?”
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, estado Barinas. 29
        de enero de 2012
      </p>
      <p class="cita1">
        “Hemos estado saneando la administración del Banco Industrial de
        Venezuela y de los fondos y articulando todo esto; porque esto era un
        relajo”.
      </p>
      <p class="piecita1">
        Aló Presidente N° 6 San Juan de los Morros – Edo. Guárico.4 de julio de
        1999
      </p>
      <p class="cita1">
        “Designo a Rodolfo Marco Torres presidente del Banco del Tesoro, Banco
        Bicentenario y Banco de Venezuela, vaya Marco por la triada”
      </p>
      <p class="piecita1">Agosto 2011</p>
      <p class="cita1">
        “Para el mes de julio una delegación venezolana va a reunirse con el
        equipo que él designe, el equipo económico, y a intercambiar
        experiencias. Él me habló, por ejemplo, de un fondo de desarrollo que
        allá activaron. Yo le propuse hacer un fondo binacional y de inmediato
        me dijo: “Un banco sería mejor”. Así que quedó la idea para trabajarla,
        de hacer un banco binacional para apoyar proyectos de desarrollo, del
        Estado y del sector privado.” (Negociaciones con el presidente de Rusia
        Vladimir Putin)
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “El Banco Federal no volverá a manos del sector privado. Pronto
        tomaremos una decisión sobre su destino que, ténganlo por seguro, será
        la que más convenga a los intereses nacionales.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Manuela Vuelve! 04 Julio 2010
      </p>
      <p class="cita1">
        “…la banca estamos de acuerdo que esté en manos privadas, quisiéramos
        que se abra la banca nacional a la competencia de verdad con la banca
        internacional que no haya el monopolio que todavía hay hoy en
        Venezuela”.
      </p>
      <p class="piecita1">
        Entrevistado por Jaime Baily mientras era candidato a la Presidencia,
        1998
      </p>
      <p class="cita1">
        “Los banqueros no pueden mirar al mundo sólo para ellos. Los banqueros
        también tienen que poner sus manos y arriesgarse porque los banqueros
        están en Venezuela y los bancos están en Venezuela.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 10 Sede de Radio Nacional de Venezuela. 15 de Agosto
        de 1999
      </p>
      <p class="cita1">
        “Lo que voy a decir tiene que convertirse en una ley en los próximos
        días. Es decir, la banca privada va a transferir esta cartera agrícola a
        un fondo. Ese fondo yo lo quiero llamar Fondo Ezequiel Zamora”.
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora. Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, estado Barinas. 29
        de enero de 2012
      </p>
      <p class="cita1">
        “Hago un llamado de nuevo a la Asociación Bancaria Venezolana que dirige
        el Sr. Ignacio Salvatierra, buen amigo, pero hace falta un grado más
        alto de conciencia. No puede ser que levanten tan alto las barreras
        crediticias. Hay que bajar las barreras, la banca tiene que recuperar su
        función de intermediación financiera para impulsar.”
      </p>
      <p class="piecita1">
        Sede de Radio Nacional de Venezuela. 15 de Agosto de 1999
      </p>
      <p class="cita1">
        “Venezuela está dispuesta, y en ello el Banco Central de Venezuela nos
        apoya, porque es un banco central autónomo, pero que ha roto las cadenas
        de dependencia que tenía del Fondo Monetario; es un banco central
        consciente y comprometido con el país, su presidente, sus directivas,
        sus trabajadores.” (Refiriéndose a la creación del Banco del Sur.)
      </p>
      <p class="piecita1">
        Suscripción de acuerdos y rueda de prensa entre Ecuador y Venezuela,
        Salón Amarillo del Palacio de Carondelet. Quito, Ecuador. 9 agosto de
        2007
      </p>
      <p class="cita1">
        “El año pasado el presupuesto de los bancos comunales fue de 2.2
        billones. De eso no se gastó todo, quedó un remanente; ha debido
        gastarse todo, no es justo que no se gaste todo. Porque ¿cuántos
        proyectos de bancos comunales no quedaron pendientes en todo el país?
        Más bien esa cifra ha debido quedarse corta, yo pensé que se iba a
        quedar corta, y resulta que quedó plata.”
      </p>
      <p class="piecita1">
        Gabinete Comunal “Todos los motores a máxima revolución” Salón Venezuela
        del Círculo Militar, Fuerte Tiuna. Jueves, 15 de febrero de 2007
      </p>
      <p class="cita1">
        “El proyecto del Banco del Sur que hoy hemos firmado, es un proyecto
        histórico, por eso decimos, es un día histórico. El Banco del Sur, vieja
        idea.”
      </p>
      <p class="piecita1">
        Firma de instrumentos entre la República Bolivariana de Venezuela y la
        República Argentina Pozo Ayacucho 6 - Faja Petrolífera del Orinoco,
        estado Anzoátegui. 21 de febrero de 2007
      </p>
      <p class="cita1">
        “El caso de La Avileña es particularmente dramático: 211 familias fueron
        estafadas por el Federal, perdiendo no sólo sus ahorros sino todas las
        esperanzas de tener techo propio. Nuestro gran reto es devolverles la
        alegría perdida por culpa de un mafioso que nunca dio la cara por ellos
        y hoy disfruta del producto del trabajo de toda esta buena gente en
        algún lugar de Miami.”
      </p>
      <p class="piecita1">
        Las líneas de Chávez: ¡¡No pasarán!! 22 Agosto 2010
      </p>
      <p class="cita1">
        “El Banco del Sur. Hace poco estaba por Caracas Joseph Stiglitz, bien
        conocido por todos nosotros, y él decía [risas], bueno los países del
        tercer mundo están financiando a los Estados Unidos. ¿Dónde están las
        reservas internacionales de nuestros países?”
      </p>
      <p class="piecita1">
        Sesión Inaugural de la XVII Cumbre de Jefes de Estado y de Gobierno
        Iberoamericano Santiago de Chile. 9 de noviembre de 2007
      </p>
      <p class="cita1">
        “Los banqueros no pueden mirar al mundo sólo para ellos. Los banqueros
        también tienen que poner sus manos y arriesgarse porque los banqueros
        están en Venezuela y los bancos están en Venezuela.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 10 Sede de Radio Nacional de Venezuela. 15 de Agosto
        de 1999
      </p>
      <p class="cita1">
        “No perdamos un día más, el Banco del Sur, ¡por el amor de Dios! Yo
        clamo, es una necesidad, no para los Gobiernos, para los pueblos, para
        la independencia económica y financiera.”
      </p>
      <p class="piecita1">
        Suscripción de acuerdos y rueda de prensa entre Ecuador y Venezuela,
        Salón Amarillo del Palacio de Carondelet Quito, Ecuador. 9 agosto de
        2007
      </p>
      <p class="cita1">
        “Dentro de pocos días estaremos firmando el acta de nacimiento del Banco
        del Sur en Buenos Aires, aprovechando que vamos a vernos allá Lula,
        Kirchner, Cristina, Tabaré, Nicanor, Correa, Evo y yo.”
      </p>
      <p class="piecita1">
        Declaraciones del Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez Frías, a su salida de la III Cumbre de la OPEP. Riad, Arabia
        Saudita. 18 de noviembre de 2007
      </p>
      <p class="cita1">
        “Imagínense ustedes lo que significa un banco que inicie operaciones con
        unos diez mil, o pongamos cinco mil millones de dólares para financiar
        nuestros propios proyectos y no andar buscando financiamiento en otras
        partes del mundo. Nosotros clamamos porque pronto podamos lanzar el
        Banco del Sur, ya hemos dado pasos importantes desde el año pasado, pero
        no hay un solo día que perder.”
      </p>
      <p class="piecita1">
        Suscripción de acuerdos y rueda de prensa entre Ecuador y Venezuela,
        Salón Amarillo del Palacio de Carondelet Quito, Ecuador. 9 agosto de
        2007
      </p>
      <p class="cita1">
        “En un mes debería estar funcionando, Isea, viceministro de Finanzas, la
        oficina del Banco Nacional de Desarrollo de Venezuela en Managua para
        empezar a dar créditos. Como ya dijimos, a 2%, con 2 años de gracia. Y
        vamos a aportar un capital inicial de 20 millones de dólares para
        empezar a dar los créditos.”
      </p>
      <p class="piecita1">
        Firma de acuerdos Nicaragua-Venezuela Centro de Convenciones Olof Palme,
        Managua-Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “Gracias, Presidente, por permitirnos abrir aquí una sede de nuestro
        Banco de Desarrollo, para dar modestos créditos, microcréditos, a la
        pequeña, a la mediana industria.” (Para dar créditos a los ecuatorianos)
      </p>
      <p class="piecita1">
        Suscripción de acuerdos y rueda de prensa entre Ecuador y Venezuela,
        Salón Amarillo del Palacio de Carondelet. Quito, Ecuador. 9 agosto de
        2007
      </p>
      <p class="cita1">
        “Hay una cosa que llaman autonomía del Banco Central, eso es una
        imposición del Fondo Monetario y la política imperialista de los Estados
        Unidos. Los Bancos Centrales se convirtieron en autónomos de los
        gobiernos nacionales, pero no en autónomos del imperialismo económico
        mundial.”
      </p>
      <p class="piecita1">
        Sesión Inaugural de la XVII Cumbre de Jefes de Estado y de Gobierno
        Iberoamericano Santiago de Chile. 9 de noviembre de 2007
      </p>
      <p class="cita1">
        “O el asunto de la Banca. Nosotros hemos venido discutiendo, conversando
        con los banqueros. Pero fíjense ustedes los intereses: La inflación baja
        y los intereses no bajan, más bien suben. ¿Qué hacemos, pues, nos
        calamos este merengue? ¿Hasta cuándo?”
      </p>
      <p class="piecita1">
        Discurso con motivo del segundo aniversario del referendo que convoco a
        la Asamblea Nacional Constituyente de 1999. Palacio Federal Legislativo,
        25 de abril de 2001
      </p>
      <p class="cita1">
        “El caso del Banco Federal y de los otros Bancos es mil veces más grave,
        no sé cuántas veces más grave que el caso de los alimentos porque no hay
        duda de que el caso del Banco Federal fue un hecho premeditado,
        planificado.” (Refiriéndose a los alimentos dañados en containers en
        Aduana)
      </p>
      <p class="piecita1">
        Acto de entrega de certificados a los ahorristas del Banco Federal Salón
        Ayacucho, Palacio de Miraflores 2 de julio de 2010
      </p>
      <p class="cita1">
        “El país necesita de ese apoyo de ustedes, la banca no puede ser vista
        sólo por el ojo del interés comercial, del interés financiero, hay una
        función social en esto que la banca tiene que recuperar y tiene que
        cumplir es un compromiso moral, es un compromiso ético y vamos a
        llevarlo.”
      </p>
      <p class="piecita1">
        Sede de Radio Nacional de Venezuela. 15 de Agosto de 1999
      </p>
      <p class="cita1">
        “Vamos a aclarar esto de las cifras del subsidio a la vivienda, porque
        el dinero que ustedes recibieron para la vivienda ustedes no tienen que
        devolvérmelo... Al Banco Comunal.”
      </p>
      <p class="piecita1">
        Gabinete Comunal “Todos los motores a máxima revolución” Salón Venezuela
        del Círculo Militar, Fuerte Tiuna. Jueves, 15 de febrero de 2007
      </p>
      <p class="cita1">
        “La intervención estatal de —hasta ahora— siete bancos se orienta, sin
        ambigüedades, hacia la protección de los y las ahorristas,
        garantizándoles lo que les pertenece por derecho.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: 6 D: 11 Años Después. 06 Diciembre 2009
      </p>
      <p class="cita1">
        “Ayer aprobamos un Decreto para crear el Banco del Pueblo. Vamos a crear
        un banco del pueblo.”
      </p>
      <p class="piecita1">
        Discurso tras ser ratificado en el cargo como Presidente de la Republica
        por la Asamblea Nacional Constituyente. Palacio Federal Legislativo, 11
        de agosto de 1999
      </p>
      <p class="cita1">
        “Ese banco central dependía del Fondo Monetario, era autónomo del
        Gobierno venezolano, pero no era autónomo del gobierno mundial. Ahora es
        autónomo, es libre.”
      </p>
      <p class="piecita1">
        Suscripción de acuerdos y rueda de prensa entre Ecuador y Venezuela,
        Salón Amarillo del Palacio de Carondelet. Quito, Ecuador. 9 agosto de
        2007
      </p>
      <p class="cita1">
        “El grupo Mezerhane tiene más de 300 empresas, propiedad de una persona
        que ha salido hasta por CNN atacándome a mí, al tirano, a la dictadura,
        me persiguen.”
      </p>
      <p class="piecita1">
        Acto de entrega de certificados a los ahorristas del Banco Federal Salón
        Ayacucho, Palacio de Miraflores. 2 de julio de 2010
      </p>
      <p class="cita1">
        “Nosotros tenemos las reservas colocadas en el norte. ¿Por qué no
        podemos traer nuestras reservas o una parte de ellas al menos a un Banco
        nuestro? Pronto nacerá el Banco del Sur y nacerá con un capital, bueno,
        modesto, pero avanzamos hacia el fortalecimiento de un gran Banco de
        Desarrollo.”
      </p>
      <p class="piecita1">
        Sesión Inaugural de la XVII Cumbre de Jefes de Estado y de Gobierno
        Iberoamericano Santiago de Chile. 9 de noviembre de 2007
      </p>
      <p class="cita1">
        “Las causas que llevaron a tal decisión, con las pruebas en la mano,
        para que tales banqueros queden ante la opinión pública como lo que real
        y verdaderamente son: vulgares ladrones, rateros encorbatados,
        carteristas y cleptómanos empedernidos que, al menor descuido, te vacían
        los bolsillos y todo lo que tengas en tu casa.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: 6 D: 11 Años Después. 06 Diciembre 2009
      </p>
      <p class="cita1">
        “ (BANDES) Es un banco que hicimos, es un banco que hizo la Revolución,
        anteriormente era un fondo de privatizaciones, ahora lo convertimos en
        un Banco de desarrollo.”
      </p>
      <p class="piecita1">
        Firma de acuerdos Nicaragua-Venezuela Centro de Convenciones Olof Palme,
        Managua-Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “Tanto Fogade como el Banco de Venezuela, al igual que todo el sistema
        financiero público, están cumpliendo con eficiencia y honrando el
        compromiso adquirido con tantos compatriotas.” (A los ahorristas del
        Banco Federal)
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Manuela Vuelve! 04 Julio 2010
      </p>
      <p class="cita1">
        “Yo no he visto que en una sola palabra se haya dirigido a los
        ahorristas, a los que se dirigió durante años por su canal de
        televisión, Globovisión, y por los periódicos.” (Refiriéndose al grupo
        Mezerhane)
      </p>
      <p class="piecita1">
        Acto de entrega de certificados a los ahorristas del Banco Federal Salón
        Ayacucho, Palacio de Miraflores 2 de julio de 2010
      </p>
      <p class="cita1">
        “Intervención del Banco Central de Venezuela, conjuntamente con el
        Ejecutivo Nacional, en el llamado mercado cambiario para evitar el
        incremento especulativo de las divisas.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡¡Campaña Admirable, Patria Admirable!!.10 Enero
        2010
      </p>
      <p class="cita1">
        “El Banco del Sur es parte de ese camino, un Banco nuestro que comenzará
        como comienza todo, un niño a caminar y antes de caminar a gatear; con
        pequeños pasos comenzaremos, Felisa, pero llegará el momento, llegará el
        día en que éste sea un gran Banco de múltiples objetivos, de inversiones
        para el desarrollo, de apoyo a través de distintos métodos fiscales y
        financieros a nuestros Gobiernos, a nuestros pueblos”
      </p>
      <p class="piecita1">
        Firma de instrumentos entre la República Bolivariana de Venezuela y la
        República Argentina. Pozo Ayacucho 6 - Faja Petrolífera del Orinoco,
        estado Anzoátegui 21 de febrero de 2007
      </p>
      <p class="cita1">
        “El lunes pasado las autoridades financieras del país, apegadas a sus
        responsabilidades y con el firme propósito de velar por los fondos de
        los ahorristas, decidieron intervenir a puerta cerrada al Banco Federal.
        Su insolvencia era manifiesta.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡¡Felicidades Papá!! 20 Junio 2010
      </p>
      <p class="cita1">
        “Toda la banca tiene que estar al servicio del desarrollo del país y no
        de un grupo de corruptos burgueses.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Manuela Vuelve! 04 Julio 2010
      </p>
      <p class="cita1">
        “Ellos lo que querían era generar además una corrida bancaria diciendo
        que los demás Bancos también estaban quebrados.” (Refiriéndose a
        Globovisión)
      </p>
      <p class="piecita1">
        Acto de entrega de certificados a los ahorristas del Banco Federal Salón
        Ayacucho, Palacio de Miraflores 2 de julio de 2010
      </p>
      <p class="cita1">
        “Los dueños de Globovisión todos andan huyendo, los dos principales, uno
        es Nelson Mezerhane, que se fue con la cabuya en la pata con nada menos
        que 7 mil millones de bolívares que es el total aproximado de lo que
        llega el monto de los ahorros colocados en ese Banco por 600 mil
        ahorristas.”
      </p>
      <p class="piecita1">
        Acto de entrega de certificados a los ahorristas del Banco Federal Salón
        Ayacucho, Palacio de Miraflores 2 de julio de 2010
      </p>
      <p class="cita1">
        “Una nueva Ley de Bancos debe aprobarse, y esa no puede ser hecha como
        la anterior, por los mismos banqueros.”
      </p>
      <p class="piecita1">
        Discurso con motivo del segundo aniversario del referendo que convoco a
        la Asamblea Nacional Constituyente de 1999 Palacio Federal Legislativo,
        25 de abril de 2001
      </p>
      <p class="cita1">
        “Si ustedes ven que hay algún banquero, algún banco que nos ve cara ‘e
        pendejos, o nos sigue viendo cara ‘e pendejos, díganme, porque yo de
        inmediato lo nacionalizo, ¡de inmediato!, no lo pensaría dos veces.”
      </p>
      <p class="piecita1">
        Consejo de Ministros Salón Néstor Kirchner, Palacio de Miraflores 23 de
        febrero de 2012
      </p>
      <p class="cita1">
        “El Banco de Venezuela cómo ha venido creciendo, yo lo felicito. Y
        además dando buenos dividendos. No es mal negocio comprar un banco, no
        es mal negocio (risas). Nosotros compramos el Banco de Venezuela,
        pagamos lo que costaba y ya hemos recuperado la inversión en apenas
        ¿cuántos años…? En tres años un 224 por ciento.”
      </p>
      <p class="piecita1">
        Gran Misión Vivienda Venezuela con sectores medios del país Salas Ríos
        Reyna, Teatro Teresa Carreño. Viernes 17 de agosto de 2012
      </p>
      <p class="cita1">
        “Antes de llegar la revolución al gobierno la Banca, pues existía ¿no?
        Banca pública no había, el único Banco que había estaba más quebrado que
        un plato que caiga de 100 metros, que era el Banco Industrial, porque el
        Banco de Venezuela lo habían privatizado. Entonces la Banca daba
        crédito, pero imagínate a qué tasa de interés, prohibitiva, ni la clase
        media podía.”
      </p>
      <p class="piecita1">
        Inspección al Desarrollo Habitacional Terrazas del Aluminio Municipio
        Caroní, Estado Bolívar Lunes, 20 de agosto de 2012
      </p>
      <p class="cita1">
        “La banca privada tiene que aferrarse estrictamente lo que mande la
        Constitución y las leyes. “
      </p>
      <p class="piecita1">
        Martín Román y Hugo Contreras Entrevistan al candidato Hugo Chávez Sede
        de Telellano, Barinas, Estado Barinas Viernes, 14 de septiembre de 2012
      </p>
      <p class="cita1">
        “Que no se detenga nada, todo lo contrario, que aceleremos todo y ya tú
        sabes, cualquier problemita, cualquier asunto porque a veces, a veces
        una obra se detiene porque el recurso no fluye, cualquier cosa tú me
        avisas que aquí está el Banco del Caribe que tiene bastante reserva, no,
        Caroní, perdón (risa).”
      </p>
      <p class="piecita1">
        Entrega de Bonos Petro-Orinoco a ex trabajadores del Estado. Salón
        Ayacucho, Palacio de Miraflores Martes, 4 de septiembre de 2012
      </p>
      <p class="cita1">
        “Hemos propuesto la creación de un Banco suramericano, un Banco, una
        institución financiera nuestra para ir liberándonos del Fondo Monetario
        Internacional.”
      </p>
      <p class="piecita1">
        Aló Presidente Programa Nro. 186 Desde La Planta De Llenado De Pdvsa En
        Guatire 28 De marzo De 2004
      </p>
      <p class="cita1">
        “Cuando era candidato presidencial me convencieron algunos asesores de
        que había que defender la autonomía del Banco Central, y yo me equivoqué
        y salí a defender la autonomía del Banco Central, que resulta que no
        estoy de acuerdo ahora con que el Banco Central sea autónomo para nada,
        se trata del Banco Central de todos los venezolanos, y resulta que no le
        rinden cuenta a nadie.”
      </p>
      <p class="piecita1">
        Aló Presidente Programa Nro. 186 Desde La Planta De Llenado De Pdvsa En
        Guatire 28 De marzo De 2004
      </p>
      <p class="cita1">
        “El Banco Central de Venezuela está obligado a cumplir la Constitución y
        su propia Ley del Banco Central.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 207 Desde la Refinería de Puerto La Cruz. Estado
        Anzoátegui Domingo, 10 de octubre de 2004
      </p>
      <p class="cita1">
        “Se aprobaron trece mil millones de bolívares que ya están en tres
        cuentas ¿dónde están esas cuentas? A la orden de ustedes, ahí no hay
        números escondidos, ni por allá en un banco en el exterior no, en Bandes
        en el Banco Industrial de Venezuela y en Banfoandes ahí están las
        cuentas ¿Quiénes las van a manejar? Ustedes mismos y repito confío en
        ustedes. El pueblo venezolano confía en ustedes.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 213. Desde las instalaciones de la Industria
        Venezolana Papelera (INVEPAL) Morón. Estado Carabobo. Domingo 20 de
        Febrero de 2005
      </p>
      <p class="cita1">
        “No hay banquero que no busque redes en las instituciones, no hay, ni
        los grandotes ni los pequeños, no hay en el mundo, ¡no! Es que el
        banquero trabaja con dinero público y dinero privado, los depósitos de
        eso depende el banco, el banquero.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado
        Aragua Domingo, 6 de diciembre de 2009
      </p>
      <p class="cita1">
        “La decisión que hemos tomado es que el Confederado y el Bolívar Banco
        cuando abran sus puertas, y eso debe ser antes del 24 de este mes, ya
        sean bancos públicos, no van a volver a ser privados.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado
        Aragua Domingo, 6 de diciembre de 2009
      </p>
      <p class="cita1">
        “El Banco Real, un banco de desarrollo, está preso su presidente por
        cierto, lamento yo mucho que sea el hermano de un ministro, de Jesse
        Chacón, pero eso, aquí estamos demostrando que aquí no hay intocables.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado
        Aragua Domingo, 6 de diciembre de 2009
      </p>
      <p class="cita1">
        “Yo no me explico cómo Arné Chacón que viene de la Marina, de ser un
        pata en el suelo como nosotros, ahora aparece de presidente de un Banco,
        ¿verdad? Ésas son las cosas que uno dice, “ya va. ¿Cómo es eso? ¿Cómo es
        eso?”.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado
        Aragua Domingo, 6 de diciembre de 2009
      </p>
      <p class="cita1">
        “Tenemos el Banco de Venezuela como un banco grande que está
        nacionalizado y, además, en proceso de transformación para que sea un
        banco realmente al servicio del desarrollo socialista del país.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado
        Aragua Domingo, 6 de diciembre de 2009
      </p>
      <p class="cita1">
        “El Banco Confederado, el Central Banco, son los dos más grandes, y el
        Banco Real más Banfoandes, como base estructural esos cuatro componentes
        van a conformar un nuevo banco que se va a llamar así, se me ocurrió:
        Banco Bicentenario, en honor al bicentenario que viene de la
        independencia. “
      </p>
      <p class="piecita1">
        Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado
        Aragua Domingo, 6 de diciembre de 2009
      </p>
      <p class="cita1">
        “La banca tiene que existir es para impulsar el desarrollo nacional y
        sobre todo el proyecto socialista, y garantizar la sana administración
        de los ahorros del público, de los ahorros del pueblo, bien sea privado,
        individuales, familiares o ahorros del Estado.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado
        Aragua Domingo, 6 de diciembre de 2009
      </p>
      <p class="cita1">
        “El Banco del Tesoro lo vamos a fortalecer y orientarlo hacia su
        transformación en un agente exclusivamente fiduciario; ése es un banco
        nuevo, el del Tesoro.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado
        Aragua Domingo, 6 de diciembre de 2009
      </p>
      <p class="cita1">
        “El Banco Industrial, que viene con problemas desde siempre, vamos a
        continuar redimensionándolo para disminuir su tamaño operativo, porque
        es un banco que creció mucho en condiciones de mucha vulnerabilidad y
        mucha debilidad.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado
        Aragua Domingo, 6 de diciembre de 2009
      </p>
      <p class="cita1">
        “Quería informar esto y, al final, la creación del Banco Bicentenario
        como un nuevo banco universal público a partir de Banfoandes y los
        bancos privados que van a ser nacionalizados, Confederado, Bolívar Banco
        y Central Banco.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado
        Aragua Domingo, 6 de diciembre de 2009
      </p>
      <p class="cita1">
        “Si tú ves que de un ministerio o de un banco del Estado o de una
        gobernación, empiezan a mover dinero para un solo banco, en cantidades
        además grandes, es decir, aquí hay algo raro.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado
        Aragua Domingo, 6 de diciembre de 2009
      </p>
      <p class="cita1">
        “El que se resbale pierde; banquero, no me importa si es el más
        grandote, no me importa nada, y por eso pido ayuda a Sudeban y a todos,
        a la inteligencia política, a todos ustedes. Banco que haga algo así y
        se salga de la ley será intervenido inmediatamente, tiene que ser, no me
        importa el tamaño del banco ni nada.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado
        Aragua Domingo, 6 de diciembre de 2009
      </p>
      <p class="cita1">
        “La banca privada puede existir, sí, siempre y cuando esté subordinada a
        la Constitución y a las leyes, y al proyecto —en este caso— socialista,
        porque ellos están en Venezuela, no están en otro país, allá en Estados
        Unidos, están aquí.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado
        Aragua Domingo, 6 de diciembre de 2009
      </p>
      <p class="cita1">
        “A la banca hay que apretarle más las tuercas y el que no cumpla, pues
        intervenirlo.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado
        Aragua Domingo, 6 de diciembre de 2009
      </p>
      <p class="cita1">
        “Banco de Venezuela pues, es uno de los Bancos más grandes de este país,
        es del gobierno, de la Revolución ¿se les ha olvidado eso acaso? Y ese
        banco da créditos o acaso que esto lo hicimos sólo para cambiar dueños
        pues.”
      </p>
      <p class="piecita1">
        “Aló, PRESIDENTE”, programa Nº 343 Desarrollo Urbanístico “Simón
        Bolívar”. Municipio Páez, Estado Portuguesa Domingo, 8 de noviembre de
        2009
      </p>
      <p class="cita1">
        “Yo me pregunto, ¿si hay un Banco Comunal y hay una ley, por qué, de
        dónde tiene que Banfoandes recibir los recursos que son del pueblo?, si
        hay un Banco Comunal, ¿por qué nos los recibe el Banco Comunal pues? y
        el Banco Comunal decidirá dónde colocarlos y yo confío en el pueblo.”
      </p>
      <p class="piecita1">
        “Aló, PRESIDENTE”, programa Nº 344 Comuna el Maizal, ubicada entre los
        municipios Simón Planas y Araure, de los estados Lara y Portuguesa
        Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1">
        “Tenemos que lograr la coordinación del Banco Central con el Ejecutivo
        para lograr la reducción, el ataque contra ese dólar especulativo,
        ilegal, que afecta mucho también la economía venezolana, es la
        especulación financiera, cada día tendremos más eficiencia en esto.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 347 La Platera, municipio Tinaco, estado Cojedes
        Domingo, 10 de enero de 2010
      </p>
      <p class="cita1">
        “Yo les agradezco a los banqueros, estos ladrones que nos permitieron
        hacer lo que hicimos, recuperar bancos, fusionarlos ahora en el Banco
        Bicentenario, fortalecer la banca pública, crear más conciencia
        empezando por nosotros mismos de lo que es la banca privada, y los
        negocios que hacen, y las mañas que tienen la gran mayoría.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 347 La Platera, municipio Tinaco, estado Cojedes
        Domingo, 10 de enero de 2010
      </p>
      <p class="cita1">
        “Ya nosotros estamos probados, banquero que seres vale le quito el banco
        del tamaño que sea, se lo quito...”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 347 La Platera, municipio Tinaco, estado Cojedes
        Domingo, 10 de enero de 2010
      </p>
      <p class="cita1">
        “Nosotros tenemos el empeño de crear, aquí un Banco del Sur, para
        depositar nuestras reservas en un Banco del Sur. Un gran Banco del Sur
        del mundo.”
      </p>
      <p class="piecita1">
        Aló, Presidente, Programa Nº 372 Salón de Consejo de Ministros, Palacio
        de Miraflores. Domingo, 20 de marzo de 2011.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
