<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/ambientalista.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Se está acabando el agua en muchas zonas del planeta y lo que hay son
        aguas contaminadas y esas aguas que aquí las usamos para el riego, las
        que pasan por las grandes plantas de tratamiento en Australia se las
        están tomando.” (En relación al Cambio Climático)
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Llegará el día, así lo sueño yo, lo soñamos nosotros, en que Haití, por
        ejemplo, y los países de nuestra América, del Caribe, consumamos en vez
        de gasolina en los vehículos, no el etanol ese que dice Bush, que va
        acabar con el maíz y con los alimentos, no, el gas. Si no el cien por
        ciento de los vehículos, una buena parte.”
      </p>
      <p class="piecita1">
        Acto con motivo de la clausura de la V Cumbre de la Alternativa
        Bolivariana para los Pueblos de Nuestra América (ALBA) y Tratado de
        Comercio de los Pueblos (TCP) Firma de la Declaración de Tintorero.
        Tintorero, estado Lara, 29 de abril de 2007
      </p>
      <p class="cita1">
        “Se evidenció de nuevo lo que allá se negaron a ver y todavía se niegan:
        los únicos responsables del criminal deterioro del medio ambiente y de
        las fuentes de vida son los gobiernos de los países más poderosos, que
        se resisten a cambiar un destructivo modelo global de producción y
        consumo, que acabará a corto plazo con todo y con todos, empezando por
        ellos mismos.” (Refiriéndose a la Primera Conferencia Mundial de los
        Pueblos sobre el Cambio Climático y los Derechos de la Madre Tierra.)
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡¡Tremendo Desfile!!. 25 Abril 2010
      </p>
      <p class="cita1">
        “Empezaban a abrir caminos, a tumbar bosques, a abrir huecos, a meter
        máquinas, a buscar, pero sin estudios previos ni diagnósticos, ni
        estudios de impacto ambiental ni nada. Ahora estamos haciendo el
        catastro minero con tecnología de punta. ¿De dónde? De Irán.” (Lo que
        pasaba en la IV república)
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Si seguimos acabando la naturaleza, contaminando el ambiente,
        distribuyendo la riqueza de manera tan injusta como lo hemos hecho en
        los últimos años, el mundo pudiera no ser viable.”
      </p>
      <p class="piecita1">
        Discurso con motivo de su toma de posesión como Presidente de la
        República Bolivariana de Venezuela para el periodo 2000-2006 ante la
        Asamblea Nacional
      </p>
      <p class="cita1">
        “Ojalá volver a recorrer con un arpa, un cuatro, unas maracas, unos
        compañeros, unas compañeras, estas calles adoradas de San Fernando, esta
        sabana de Apure, aquellas sabanas de Guárico, aquellas sabanas de
        Barinas, las sabanas de Venezuela. Dios, si tú eres más generoso, te
        pido ese voto o hago ese voto”.
      </p>
      <p class="piecita1">
        Caravana y encuentro con el pueblo apureño, San Fernando de Apure. 15 de
        septiembre de 2012
      </p>
      <p class="cita1">
        “Ahí, tú ves el agua, el agua, que bonita se ve la laguna. Pero, ¿no te
        das cuenta que ahí se puede sembrar peces?”
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, estado Barinas. 29
        de enero de 2012
      </p>
      <p class="cita1">
        “Hemos iniciado la revolución energética nacional, y felicitar a los
        brigadistas de la revolución energética que ya han cambiado, ya van
        para 30 millones de bombillos en todo el país.”
      </p>
      <p class="piecita1">
        Gabinete Comunal “Todos los motores a máxima revolución” Salón Venezuela
        del Círculo Militar, Fuerte Tiuna. Jueves, 15 de febrero de 2007
      </p>
      <p class="cita1">
        “Nosotros tenemos la bendición de contar con esta inmensa cantidad de
        agua, este es apenas uno de nuestros acuíferos.” (Refiriéndose a la
        Mesa de Guanipa)
      </p>
      <p class="piecita1">
        Cadena nacional. Despacho presidencial, Palacio de Miraflores. 5 de
        noviembre de 2012
      </p>
      <p class="cita1">
        “El mundo, creo que no es viable, a lo mejor es viable en mil años más y
        llegaran aquí en el año 3000, pero si seguimos como vamos, el mundo va a
        explotar; si seguimos acabando la naturaleza y abriendo huecos en la
        capa de ozono”
      </p>
      <p class="piecita1">
        Discurso con motivo de su toma de posesión como Presidente de la
        República Bolivariana de Venezuela para el periodo 2000-2006 ante la
        Asamblea Nacional
      </p>
      <p class="cita1">
        “Cambian las temperaturas de los sitios que antes eran calurosos, ahora
        están sumamente fríos.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores. 1° de febrero de 2007
      </p>
      <p class="cita1">
        “El Niño, lleva ese nombre porque llegaba el fenómeno en los días de
        Navidad, el Niño Jesús. Este fenómeno hace que donde tiene que llover no
        llueva, y donde no tiene que llover llueva, donde hace calor hace frío,
        y en donde no debería caer nieve, cae nieve; es una locura climática.”
      </p>
      <p class="piecita1">
        X Aniversario del Banco del Pueblo Teatro Teresa Carreño. 26 de octubre
        de 2009
      </p>
      <p class="cita1">
        “Se están deshelando los polos ¡no es mentira!, están cayendo toneladas
        y toneladas de hielo a las aguas de los mares y en pocos años si esto
        sigue así, empezarían a desaparecer miles de islas y de ciudades
        costeras de todo el planeta.” (En relación al Cambio climático)
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores. 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Con estos 52 millones de bombillos cambiados en las viviendas hemos
        ahorrado, nos permite ahorrar en un año, energía para la cual haría
        falta una termoeléctrica que generara unos 1.300 megavatios, ¡sólo
        cambiando los bombillos, Felisa!, para lo cual haría falta una inversión
        de dos mil millones de dólares, ¡sólo cambiando bombillos!”
      </p>
      <p class="piecita1">
        Instalación de la I Cumbre Energética Suramericana Gran Salón Hotel
        Hilton Margarita, Porlamar, estado Nueva Esparta. 17 de abril de 2007
      </p>
      <p class="cita1">
        “Más adelante pudiéramos instalar una fábrica de todos estos implementos
        para la energía eólica, para la generación de energía eólica.”
      </p>
      <p class="piecita1">
        Entrega del Doctorado Honoris Causa de la Universidad Nacional de
        Ingeniería al presidente de la República Bolivariana de Venezuela, Hugo
        Chávez. Plaza del Rectorado. Managua, Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “Al capitalismo le interesa es el dinero, no le importa si acaba con los
        bosques, con las aguas y con la vida. Por el camino del socialismo es
        que podemos recuperar el equilibrio perdido en el planeta, porque se
        coloca por delante la vida humana.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 257. Parque Nacional El Ávila, 4 de junio de 2006
      </p>
      <p class="cita1">
        “Se derriten los polos, no es mentira, se vienen abajo inmensos
        glaciares, que estuvieron ahí millones de años; se recalienta el
        planeta, se recalientan los mares, suben de nivel los mares, y no hay
        forma de negarlo. Algunos pretenden todavía negarlo.”
      </p>
      <p class="piecita1">
        Mensaje Anual ante la Asamblea Nacional Palacio Federal Legislativo. 15
        de enero de 2010
      </p>
      <p class="cita1">
        “Nunca hubo propósito tan necesario, trascendente y profundamente
        elemental, como el de pensar la Pachamama, a la vez que nos pensamos en
        ella.” (Refiriéndose a la Primera Conferencia Mundial de los Pueblos
        sobre el Cambio Climático y los Derechos de la Madre Tierra.)
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡¡Tremendo Desfile!!. 25 Abril 2010
      </p>
      <p class="cita1">
        “He notado en Managua cómo cuidan la naturaleza. He visto árboles,
        bosques por todos lados, en todas partes y yo sé que vienen ustedes
        ahora a recuperar tiempo perdido, espacios perdidos, a recuperar el lago
        de Nicaragua, contaminado, como anoche me lo comentaban.”
      </p>
      <p class="piecita1">
        Entrega del Doctorado Honoris Causa de la Universidad Nacional de
        Ingeniería al presidente de la República Bolivariana de Venezuela, Hugo
        Chávez. Plaza del Rectorado. Managua, Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “La revolución energética: vamos a crear la fábrica del dispositivo para
        pasar de gasolina a gas. Ya empezaron a decir que no, que eso es
        peligroso. Empiezan las campañas de una vez. Gasolina a gas.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Un nuevo horario regirá en las oficinas públicas, de 8 am a 1 pm, con
        el propósito de ahorrar energía eléctrica. (Salvo las oficinas de
        atención al público que seguirán laborando en su horario habitual.)”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡¡Campaña Admirable, Patria Admirable!! 10 Enero
        2010
      </p>
      <p class="cita1">
        “En Venezuela hemos comenzado, es impresionante el impacto además, el
        impacto moral de una familia que cambia sus bombillos y ahora apaga la
        luz.”
      </p>
      <p class="piecita1">
        Instalación de la I Cumbre Energética Suramericana Gran Salón Hotel
        Hilton Margarita, Porlamar, estado Nueva Esparta. 17 de abril de 2007
      </p>
      <p class="cita1">
        “El proyecto Macondo de la British Petroleum ya entró en la historia de
        los peores desastres ecológicos. Desde hace tres semanas, y tras cada
        día que pasa, 800.000 litros de crudo (5.000 barriles aprox.) están
        siendo vertidos al Golfo de México luego de que se produjera un error en
        el manejo de la Plataforma petrolera Deepwater Horizon, que explotaba un
        pozo a 1.525 metros de profundidad.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡La Federación Socialista! 16 de Mayo de 2010
      </p>
      <p class="cita1">
        “Contaminan la atmósfera de manera terrible y queman, queman los
        recursos energéticos, acaban con la energía que es para todos en el
        planeta, que la van a necesitar nuestros hijos y los nietos de nuestros
        hijos. (Refiriéndose a los Estados Unidos)
      </p>
      <p class="piecita1">
        Declaraciones del Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez Frías, a su salida de la III Cumbre de la OPEP. Riad, Arabia
        Saudita. 18 de noviembre de 2007
      </p>
      <p class="cita1">
        “La avenida Bolívar, ahí está, el 50 por ciento de la iluminación de la
        avenida Bolívar, desde las 6:00 de la tarde hasta las 6:00 de la mañana,
        es de la energía solar. 50 por ciento.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores. 1° de febrero de 2007
      </p>
      <p class="cita1">
        “El gas, con el gas podemos sustituir todo el combustible líquido para
        generar la energía eléctrica o buena parte del combustible que usan los
        vehículos, el consumo domiciliario, el desarrollo industrial, etcétera;
        y es mucho más barato y no contaminante, y vendría directo por un tubo,
        lo cual nos pudiera permitir además aquí, instalar una planta o algunas
        plantas petroquímicas para producir plásticos, para producir
        fertilizantes, la urea —como ustedes la llaman, allá la llamamos es
        úrea—, urea para el mercado nicaragüense y para parte del mercado
        centroamericano y más allá.”
      </p>
      <p class="piecita1">
        Entrega del Doctorado Honoris Causa de la Universidad Nacional de
        Ingeniería al presidente de la República Bolivariana de Venezuela, Hugo
        Chávez. Plaza del Rectorado. Managua, Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “En Venezuela se despilfarra, el mundo despilfarra demasiada energía, es
        un despilfarro terrible.”
      </p>
      <p class="piecita1">
        Firma de acuerdos Nicaragua-Venezuela Centro de Convenciones Olof Palme,
        Managua-Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “El gas es limpio, no contamina y es muchísimo más barato, menos costoso
        que el petróleo y sus derivados.”
      </p>
      <p class="piecita1">
        Acto con motivo de la clausura de la V Cumbre de la Alternativa
        Bolivariana para los Pueblos de Nuestra América (ALBA) y Tratado de
        Comercio de los Pueblos (TCP) Firma de la Declaración de Tintorero.
        Tintorero, estado Lara. 29 de abril de 2007
      </p>
      <p class="cita1">
        “Hace poco leí que en Australia están comenzando a consumir agua
        reciclada, como en otros países consumen agua reciclada.”(En relación al
        Cambio climático)
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores. 1° de febrero de 2007
      </p>
      <p class="cita1">
        “En este mismo instante las temperaturas en el norte del planeta han
        llegado a niveles que no se recuerdan en cien años. Ya ha habido muchas
        personas fallecidas, congeladas, sobre todo los pobres; y grandes
        dificultades en aquellos países.”
      </p>
      <p class="piecita1">
        Mensaje Anual ante la Asamblea Nacional Palacio Federal Legislativo. 15
        de enero de 2010
      </p>
      <p class="cita1">
        “Para una empresa de energía capitalista, privada, si dejamos todas las
        luces prendidas en todas las casas toda la noche y todo el día, mejor
        para ellos porque cobran más y ganan más; ¿pero están qué?, ¡destrozando
        el ambiente!, destrozando las reservas de un país y empujándolo por una
        situación caótica y crítica, destrozando la economía, la seguridad o las
        posibilidades del desarrollo económico y social.”
      </p>
      <p class="piecita1">
        Entrega del Doctorado Honoris Causa de la Universidad Nacional de
        Ingeniería al presidente de la República Bolivariana de Venezuela, Hugo
        Chávez. Plaza del Rectorado. Managua, Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “Copenhague fue apenas el comienzo de la batalla decisiva por la
        salvación del planeta. Batalla en el terreno de las ideas y en el de la
        praxis.” (XV Conferencia del Convenio Marco de las NU sobre el Cambio
        Climático)
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: La Batalla de Copenhague. 20 Diciembre 2009
      </p>
      <p class="cita1">
        “Fidel cambió todos los bombillos de Cuba, y ahora estamos cambiando
        todos los de Venezuela. Ustedes comparan un bombillo de los que ustedes
        casi todos usan aquí, que son ésos de luz amarillenta, y le cambian por
        el otro que es luz blanca, ahorradores. ¿Ustedes saben el ahorro de
        cuánto es? Calcúlalo.”
      </p>
      <p class="piecita1">
        Firma de acuerdos Nicaragua-Venezuela Centro de Convenciones Olof Palme,
        Managua-Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “El tema ambiental es un tema muy importante para nosotros, el
        capitalismo, en cambio el proyecto burgués, bueno es el proyecto que
        contamina, es el proyecto que acaba con la naturaleza, por qué, porque
        es un modelo destructivo el capitalismo.”
      </p>
      <p class="piecita1">
        Entrevista al Comandante Hugo Chávez realizada en Televisora de Oriente
        (TVO), estado Anzoátegui, 13 de Julio de 2012
      </p>
      <p class="cita1">
        “Seguimos demostrando que hay un Gobierno que no descansa ni escatima
        esfuerzos para hacerle frente a las terribles consecuencias del cambio
        climático, que en nuestro país se ha manifestado con la recia sequía que
        hemos padecido.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: Golpe y Contragolpe: ¡Revolución! 11 Abril 2010
      </p>
      <p class="cita1">
        “¿Cuánto sol pega aquí todo el año, y se nos pierde esa energía de
        muchas maneras? Vamos a captarla, a acumularla, y con eso estamos
        ayudando a la conservación del ambiente y del equilibrio ecológico.”
      </p>
      <p class="piecita1">
        Gabinete Comunal “Todos los motores a máxima revolución” Salón Venezuela
        del Círculo Militar, Fuerte Tiuna. Jueves, 15 de febrero de 2007
      </p>
      <p class="cita1">
        “Aquí en Venezuela, repito, ha habido un derroche terrible, estamos
        frenándolo, creemos que ahí se debe incluir, en este tratado, esa cuarta
        línea: ahorro energético.”
      </p>
      <p class="piecita1">
        Instalación de la I Cumbre Energética Suramericana Gran Salón Hotel
        Hilton Margarita, Porlamar, estado Nueva Esparta. 17 de abril de 2007
      </p>
      <p class="cita1">
        “La voracidad capitalista agarró tierras por aquí, tierras por allá, eh,
        para vender pues, sin hacer estudios ecológicos y ahora el lago de
        Valencia o lago de los Tacarigua está buscando de nuevo su espacio,
        presionado además por, como lo dijo el gobernador también, el tema de
        los desechos sólidos, basura, contaminación, viven millones de seres
        humanos en torno a ese lago y lo hemos estado contaminando.”
      </p>
      <p class="piecita1">
        Conmemoración de los 10 años de la derrota del paro patronal y la
        promulgación de la Ley de Tierras. Teatro Municipal, 10 de diciembre de
        2011
      </p>
      <p class="cita1">
        “Dicen que las cucarachas, las tarántulas y las culebras han demostrado
        tener mayor instinto de supervivencia que la especie humana.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores 1° de febrero de 2007
      </p>
      <p class="cita1">
        “El consumo en los grandes países lo que hace es incrementarse: China,
        en el Asia; en Europa, también en América Latina, la población sigue
        creciendo, los recursos escasean.”
      </p>
      <p class="piecita1">
        Entrega del Doctorado Honoris Causa de la Universidad Nacional de
        Ingeniería al presidente de la República Bolivariana de Venezuela, Hugo
        Chávez. Plaza del Rectorado. Managua, Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “Incluí como quinto objetivo histórico de largo aliento, contribuir a la
        preservación de la vida en el planeta, el tema ecológico, la salvación
        del planeta, el cambio climático.”
      </p>
      <p class="piecita1">
        Entrevista al Comandante Hugo Chávez realizada en Televisora de Oriente
        (TVO), estado Anzoátegui, 13 de Julio de 2012
      </p>
      <p class="cita1">
        “Venezuela es uno de los países que tiene mayores reservas de agua dulce
        en este mundo a la hora de calcular científicamente, como tiene que ser,
        en base al territorio ¿verdad? Los porcentajes, la extensión
        territorial, la cantidad de habitantes.”
      </p>
      <p class="piecita1">
        Cadena nacional. Despacho presidencial, Palacio de Miraflores. 15 de
        noviembre de 2012
      </p>
      <p class="cita1">
        “El desequilibrio ambiental que ha creado el modelo desarrollista del
        capital es, sin duda alguna, la causa fundamental de los alarmantes
        fenómenos atmosféricos que estamos padeciendo en el planeta.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Pueblo y Gobierno Unidos! 05 Diciembre 2010
      </p>
      <p class="cita1">
        “Hay que ver cuántas miles y miles de hectáreas muchos pueblos se ven
        obligados a deforestar, no tienen otra forma de producir alguna energía
        para el consumo vehicular, para la generación eléctrica.”
      </p>
      <p class="piecita1">
        Acto con motivo de la clausura de la V Cumbre de la Alternativa
        Bolivariana para los Pueblos de Nuestra América (ALBA) y Tratado de
        Comercio de los Pueblos (TCP) Firma de la Declaración de Tintorero.
        Tintorero, estado Lara. 29 de abril de 2007
      </p>
      <p class="cita1">
        “Yo viví ahí cerca también, en San Joaquín y bueno, en Maracay y el
        pobre lago está es crujiendo pues, el lago cruje, el lago buscar vivir,
        busca su espacio, ha sido maltratado durante muchos años por el modelo
        capitalista de abuso contra la naturaleza.”
      </p>
      <p class="piecita1">
        Conmemoración de los 10 años de la derrota del paro patronal y la
        promulgación de la Ley de Tierras. Teatro Municipal, 10 de diciembre de
        2011
      </p>
      <p class="cita1">
        “Copenhague no es un fin, lo reitero, sino un comienzo: se han abierto
        las puertas para un debate universal sobre cómo salvar al planeta, a la
        vida en el planeta. La batalla continúa.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: La Batalla de Copenhague. 20 Diciembre 2009
      </p>
      <p class="cita1">
        “Venezuela retira del parque generador una termoeléctrica. Nos haría
        falta, si no sustituyéramos los bombillos, una termoeléctrica de 2 mil
        megavatios, y eso equivale a cerca de 2 mil millones de dólares, lo que
        habría que invertir para generar la energía equivalente a la que estamos
        ahora ahorrando.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores. 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Si estamos empeñados en salvar al planeta, debemos comenzar salvando
        los bosques, salvando las aguas, salvando a nuestra madre naturaleza.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 257.Parque Nacional El Ávila, 4 de junio de 2006
      </p>
      <p class="cita1">
        “Nadie se escapa a las reacciones de la naturaleza después de tanto
        atropello. La arrogancia de los dueños del mundo viola sistemáticamente
        los límites ecológicos sin consideración alguna hacia la humanidad y
        hacia el planeta, que se muestran cada vez más indefensos.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Pueblo y Gobierno Unidos! 05 Diciembre 2010
      </p>
      <p class="cita1">
        “Son los cambios climáticos que están afectando gravemente a nuestro
        Planeta, si no tomamos medidas drásticas, y sobre todo los países más
        grandes del mundo, los que más consumen, los que más derrochan, los que
        más contaminan, el primero de ellos Estados Unidos”
      </p>
      <p class="piecita1">
        X Aniversario del Banco del Pueblo Teatro Teresa Carreño. 26 de octubre
        de 2009
      </p>
      <p class="cita1">
        “Una planta para etanol y por tanto las siembras de caña de azúcar
        necesaria para producir ese etanol que habrá que echarle a la gasolina,
        más o menos entre un 8 a un 10 por ciento, eso es necesario para que
        haya gasolina no contaminante.”
      </p>
      <p class="piecita1">
        Colocación de la piedra fundacional en la Refinería “El Supremo Sueño de
        Bolívar” Piedras Blancas, municipio Nagarote del Departamento de León.
        Nicaragua. 20 de julio de 2007
      </p>
      <p class="cita1">
        “La otra línea estratégica que vamos a adelantar con fuerza, con mucha
        fuerza, es la energía eólica, pero con el mismo lineamiento, ministro
        Ramírez: traer la tecnología e instalar aquí plantas, fábricas, bueno
        para todo el sistema de los molinos.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores. 1° de febrero de 2007
      </p>
      <p class="cita1">
        “El calentamiento de los océanos es, el factor fundamental detrás del
        demoledor incremento en la fuerza de los huracanes que hemos visto en
        los últimos años”.
      </p>
      <p class="piecita1">
        Organización de Naciones Unidas,nNueva York. 15 de septiembre de 2005
      </p>
      <p class="cita1">
        “El 60 por ciento de los ecosistemas del planeta están dañados, el 20
        por ciento de la corteza terrestre está degradada; hemos sido testigos
        impasibles de la deforestación, la conversión de tierras, la
        desertificación, las alteraciones de los sistemas de agua dulce, la
        sobreexplotación de los recursos marinos, la contaminación y la pérdida
        de la diversidad biológica.”
      </p>
      <p class="piecita1">Discurso en Copenhague. 17 de diciembre de 2009</p>
      <p class="cita1">
        “Si estamos empeñados en salvar al planeta, debemos comenzar salvando
        los bosques, salvando las aguas, salvando a nuestra madre naturaleza.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 257. Parque Nacional El Ávila, 4 de junio de 2006.
      </p>
      <p class="cita1">
        “Hago un llamado a mis compatriotas, llamado que quiero suene como un
        redoble de conciencia: ahorremos energía eléctrica al máximo.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: Granada, el doloroso espejo. 25 Octubre 2009
      </p>
      <p class="cita1">
        “Hemos comenzado una campaña de concientización en el uso de la energía
        y del agua.”
      </p>
      <p class="piecita1">
        X Aniversario del Banco del Pueblo Teatro Teresa Carreño. 26 de octubre
        de 2009
      </p>
      <p class="cita1">
        “En Venezuela, sólo cambiando 50 millones de bombillos, que aquí
        pudieran ser, si en Venezuela son 50 millones, Rafael, ¿verdad?, ese es
        el total para este año; aquí en Nicaragua pudieran ser, a lo mejor, 5 ó
        6 millones. Nosotros, sólo cambiando 50 millones de bombillos, y ya
        llevamos como 8 millones, 10, estamos llegando a 10 millones, 10
        millones porque esos son bombillos que ahorran 80% del consumo,
        comparándolos con los bombillos tradicionales, los que circulan en
        Occidente; éstos vienen de China, de Asia, de Vietnam.”
      </p>
      <p class="piecita1">
        Entrega del Doctorado Honoris Causa de la Universidad Nacional de
        Ingeniería al presidente de la República Bolivariana de Venezuela, Hugo
        Chávez. Plaza del Rectorado. Managua, Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “Nosotros estamos ya construyendo un parque eólico en Paraguaná.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores. 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Ahora, ¿cuál es la causa fundamental de la contaminación? El
        hiperconsumo. Estamos consumiendo las reservas de hidrocarburos y de gas
        que se acumularon durante miles de años, las estamos consumiendo en un
        siglo, en menos de un siglo.”
      </p>
      <p class="piecita1">
        Discurso en la 64ª Asamblea General de Naciones Unidas Nueva York,
        Jueves, 24 de septiembre 2009
      </p>
      <p class="cita1">
        “El cambio climático no es el único problema que afecta hoy a la
        humanidad, otros flagelos e injusticias nos asechan, la brecha que
        separa los países ricos y pobres no ha dejado de crecer.”
      </p>
      <p class="piecita1">Discurso en Copenhague. 17 de diciembre de 2009</p>
      <p class="cita1">
        “Yo me baño en tres minutos, un chorro de agua, un jabón, el champú, la
        cosa, ahí, ras, ras, ras y una cancioncita: Palmaritales de Arauca, no
        sé qué cosa. Y listo”.
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 66 Puerto Ordaz, Estado Bolívar. 25 de marzo de 2001
      </p>
      <p class="cita1">
        “Entre la salud o la enfermedad de la Madre Tierra nos jugamos el
        destino humano”.
      </p>
      <p class="piecita1">Las líneas de Chávez. 2010</p>
      <p class="cita1">
        “De nada valen los ejercicios especulativos si, a la postre, no tenemos
        dónde vivir; trascendente, porque entre la salud o la enfermedad de la
        Madre Tierra nos jugamos el destino humano; y profundamente elemental,
        porque ante este problema existe una asimétrica dependencia: ella
        vivirá sin nosotros, pero nunca nosotros sin ella.” (Refiriéndose a la
        Primera Conferencia Mundial de los Pueblos sobre el Cambio Climático y
        los Derechos de la Madre Tierra.)
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡¡Tremendo Desfile!! 25 Abril 2010
      </p>
      <p class="cita1">
        “Venezuela es uno de los países que menos contamina el ambiente en el
        mundo.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores. 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Como todos los ríos de este mundo bajan por los llanos hacia el Orinoco
        también, hacia el Apure primero, y luego el Orinoco.” Cadena nacional.
      </p>
      <p class="piecita1">
        Despacho presidencial, Palacio de Miraflores. 15 de noviembre de 2012
      </p>
      <p class="cita1">
        “Queremos dar el ejemplo y tomar vanguardia, así como hemos tomado la
        vanguardia en otras direcciones en la batalla internacional, por la
        vida, por el respeto a los pueblos y por el desarrollo integral, por el
        desarrollo integral de los pueblos.” (En relación al ahorro energético)
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Nosotros creemos que en el mundo —colegas, presidentes, presidenta— se
        está cocinando a fuego lento una verdadera crisis energética, una crisis
        que pudiera alcanzar grandes dimensiones, una crisis que ya ha generado
        en lo que va de siglo algunas guerras, algunos golpes de Estado... al
        menos uno: hace cinco años aquí en Venezuela, un golpe de factura
        petrolera.”
      </p>
      <p class="piecita1">
        Instalación de la I Cumbre Energética Suramericana Gran Salón Hotel
        Hilton Margarita, Porlamar, estado Nueva Esparta. 17 de abril de 2007
      </p>
      <p class="cita1">
        “Si el capitalismo sigue reinando en este planeta la vida se acabará,
        porque ya está rompiendo el equilibrio ecológico.”
      </p>
      <p class="piecita1">
        Inauguración de la Fase I del Acueducto Chirgua-El Cercado. Estación de
        Bombeo El Vidrio, estado Lara. 5 de mayo de 2006
      </p>
      <p class="cita1">
        “El Protocolo de Kyoto, es el único instrumento internacional que existe
        para luchar contra el calentamiento global: el único que impone
        sanciones a los Estados industrializados y protege a los países en
        desarrollo.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: La Batalla de Copenhague.20 Diciembre 2009
      </p>
      <p class="cita1">
        “Vamos a salvar el Lago. Ése es un objetivo de mediano plazo.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” N° 37 Sede Televisa, Maracaibo–Edo Zulia. 10 de
        abril de 2000.
      </p>
      <p class="cita1">
        “Pero, con ese nivel de abandono, ¿sí?, oye, qué cosas, ¿no?, por lo
        menos, deberían tumbar esas chatarras que están ahí, que contaminan
        además, porque eso echa un óxido ferroso, con la lluvia, y eso corre,
        eso ustedes deberían hacer una lucha, ¡hay que luchar por la ecología y
        la belleza de la ciudad!”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 369 Escuela Básica Nacional “Flores de Catia”.
        Parroquia 23 de Enero. 9 de enero de 2011
      </p>
      <p class="cita1">“Agua, el agua es vida, no la malgastes”.</p>
      <p class="piecita1">
        Aló Presidente Nro. 66 Puerto Ordaz, Estado Bolívar. 25 de marzo de 2001
      </p>
      <p class="cita1">
        “Ustedes saben que la temperatura expande las moléculas (no soy
        científico, pero me gusta leer de todo esto) y entonces por supuesto el
        agua ocupa más volumen. Dice el científico: “Imagínense que estamos en
        una piscina con el agua al cuello, sube la temperatura, el agua nos
        llega a la punta de la nariz, y cada ola nos pasa sobre la cabeza;
        imagínense sólo eso en el planeta”. Un poco para graficar.” (En relación
        al calentamiento global)
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores. 1° de febrero de 2007
      </p>
      <p class="cita1">
        “El cambio climático es sin duda el problema ambiental más devastador
        del presente siglo, inundaciones, sequías, tormentas severas, huracanes,
        deshielos, ascenso del nivel medio del mar, acidificación de los océanos
        y olas de calor, todo eso agudiza el impacto de las crisis globales que
        nos azotan.”
      </p>
      <p class="piecita1">
        Discurso en Copenhague. 17 de diciembre de 2009
      </p>
      <p class="cita1">
        “Aprovecho para hacer un llamado Parque mucha ponderación, está entrando
        el verano, así que mucho cuidado, pues ojo pelao a cuidar el bosque y a
        todos los que usamos de alguna manera el cuidar el arbolito y cuidado
        con los incendios y la basura.”
      </p>
      <p class="piecita1">
        “Aló Presidente”, N° 100 Parque Nacional El Ávila. 17 de marzo de 2002
      </p>
      <p class="cita1">
        “Aquí en los Andes, en Ecuador se están deshelando montañas que tienen
        miles de años cubiertas de nieve. Eso puede generar grandes inundaciones
        en la Amazonia, por ejemplo, porque de ahí vienen buena parte de las
        corrientes de agua, y luego el Océano Atlántico.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Si tú te levantas a las tres de la mañana para ir al baño, compadre,
        ¿por qué hay que prender ese poco de luces? Ponga la linterna ahí, en
        la mesa de noche”.
      </p>
      <p class="piecita1">Consejo de Ministros. 5 de septiembre del 2009</p>
      <p class="cita1">
        “Usted puede muy bien abrir la llave, echarle agua al cepillo y cierre y
        dele, ras, ras, ras, usted sabe que es arriba abajo, de abajo arriba”
      </p>
      <p class="piecita1">Aló Presidente Nro. 66 Puerto Ordaz, Estado Bolívar. 25 de marzo de 2001</p>
      <p class="cita1">
        “Vamos a crear aquí un Centro Internacional de Investigación, pero no
        sólo investigación: desarrollo, ¿de qué?, de la energía solar.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores. 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Estamos acabando el planeta, démonos cuenta, tomemos conciencia y
        actuemos. ¡Salvemos al planeta, salvemos la especie humana!”
      </p>
      <p class="piecita1">
        Discurso en la 64ª Asamblea General de Naciones Unidas Nueva York,
        Jueves, 24 de septiembre 2009
      </p>
      <p class="cita1">
        “Mientras en la superficie de la tierra la temperatura se incrementa, en
        la estratosfera está por debajo de menos 80 grados centígrados (dice un
        informe que leí esta mañana). Esa temperatura demasiado baja que la
        estratosfera nunca había tenido, acelerará la destrucción de la capa de
        ozono, y ustedes saben lo que esa capa es: nos protege de los rayos
        calcinantes del sol. Si no hubiera ozono —y está la capa desapareciendo—
        se quemaría todo en este planeta.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Es en nuestros continentes donde se encuentran los suficientes recursos
        naturales, políticos e históricos, que se requieren para salvar al
        planeta del caos al que ha sido conducido”.
      </p>
      <p class="piecita1">
        Carta enviada por el presidente Hugo Chávez a la III Cumbre de Jefes de
        Estado y de Gobierno de América del Sur y de África (ASA). Febrero 2013</p>
      <p class="cita1">
        “Hay mucha gente inconsciente que mata no directamente, sino
        indirectamente envenenando las aguas, por ejemplo, dañando la
        naturaleza”.
      </p>
      <p class="piecita1">
        “Aló Presidente” Teórico N° 1. Teatro Teresa Carreño. 11 de junio de 2009.
      </p>
      <p class="cita1">
        “Hay que ver cuánta brisa sopla, sobre todo en el Caribe, y aquí mismo
        en los llanos de Venezuela. Cuánto pudiéramos disminuir el consumo de
        hidrocarburos y reservarlos para el futuro. Y con ello disminuir la
        contaminación.” (Sobre el Proyecto de Energía Eólica)
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores. 1° de febrero de 2007
      </p>


    </ion-card-content>
  </ion-card>
</ion-content>
