ion-label{
  font-size: 16px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(59, 59, 59)
}

ion-card-title{
  text-align: center;
  font-weight:bold;
  padding: auto;
  font-size: 2rem;
  font-family: oswal;
}

ion-item{
  padding: 15px 0px 2px 0px;
}

ion-icon{
  font-size: 32px;
}
