<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/regionalista.jpg"></ion-img>
    <ion-card-content>
      >
      <p class="cita1">
        “¡¡Bienvenidos a esta tierra!! Bañada por las aguas del Atlántico y del
        Mar Caribe, cruzada por el soberbio río Orinoco. Tierra coronada por las
        nieves perpetuas de los Andes….”
      </p>
      <p class="piecita1">
        Acto de Instalación de la XII Cumbre de Jefes de Estado y de Gobierno
        del Grupo de los Quince G-15 1 de marzo de 2004
      </p>
      <p class="cita1">
        “Fue después de la Tragedia de Vargas cuando vinimos a descubrir esta
        inmensa tierra, a conocerla más bien y su gran potencial, pesquero,
        turístico, minero, hidroeléctrico y agrícola sobre todo y vimos unos
        silos que estaban totalmente abandonados, y que son de la CVG.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 172. Hacienda de maíz “El Chivo”, Edo. Bolívar. 16
        de noviembre de 2003
      </p>
      <p class="cita1">
        “Hemos decretado, Manuit, a San Juan de los Morros capital de Venezuela
        por el día de hoy, y es un día de júbilo para todo el Guárico”
      </p>
      <p class="piecita1">
        Aló Presidente N° 6. San Juan de los Morros – Edo. Guárico. 4 de julio
        de 1999
      </p>
      <p class="cita1">
        “Yo nací entre dos ríos (El Masparro y El Boconó), en una especie de
        Mesopotamia hermosa. En una sabana”
      </p>
      <p class="piecita1">
        Programa Nro. 1 - Aló Presidente desde la sede de Radio Nacional de
        Venezuela 23 de mayo de 1999
      </p>
      <p class="cita1">
        “Le está hablando un llanero que ama su llanura y sabe que el llano es
        bellísimo.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 172. Hacienda de maíz “El Chivo”, Edo. Bolívar. 16
        de noviembre de 2003
      </p>
      <p class="cita1">
        “Tierra sobrecogida por la magia infinita de la selva Amazónica y sus
        cantos milenarios…”
      </p>
      <p class="piecita1">
        Acto de Instalación de la XII Cumbre de Jefes de Estado y de Gobierno
        del Grupo de los Quince G-15 1 de marzo de 2004
      </p>
      <p class="cita1">
        “Que Viva Elorza. Que Viva el Alto Apure. Que viva el llano venezolano”.
      </p>
      <p class="piecita1">
        Aló Presidente Nro.34. Desde Elorza, Estado Apure. 19 de marzo de 2000
      </p>
      <p class="cita1">
        “He visto el sitio más bello que pueda haber visto jamás en 47 años casi
        de vida, allá en el corazón de Canaima, las gargantas de lo que desde
        hace siglos nuestros hermanos pemones llaman el Cañón del Diablo”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 66. Puerto Ordaz, Estado Bolívar. 25 de marzo de
        2001
      </p>
      <p class="cita1">
        “Monagas, potencial ganadero ¿no?, Monagas, el Guárico ni se diga,
        carne, leche y debajo de la tierra, ahí está la superficie, la soya, el
        maíz, el ganado, el pueblo, los trabajadores y un poquito más abajo el
        gran acuífero, y un poquito más abajo la reserva de petróleo más grande
        de este mundo.”
      </p>
      <p class="piecita1">
        Cadena nacional. Despacho presidencial, Palacio de Miraflores. 15 de
        noviembre de 2012
      </p>
      <p class="cita1">
        “El Zulia no es sólo petróleo, un gran potencial agrícola, pecuario,
        pesquero, vamos a impulsar en Maracaibo”
      </p>
      <p class="piecita1">
        “Aló, Presidente” N° 37. Sede Televisa, Maracaibo–Edo Zulia. 10 de abril
        de 2000
      </p>
      <p class="cita1">
        “La locura escuálida no podrá detenernos. Así lo demostró el pueblo
        marabino, volcándose estruendosamente a las calles para recibirnos, en
        una poderosa, pasionaria y huracanada caravana revolucionaria.”
      </p>
      <p class="piecita1">
        Líneas de Chávez: El Roble y El Samán. 05 Septiembre 2010
      </p>
      <p class="cita1">
        “Yo fui una vez a Villavicencio, hace años, a un festival de arpa muy
        bueno; arpa, porque ese es el mismo llano, sí, me fui escapado, escapado
        me fui desde Elorza, me invitaron a un festival en Villavicencio de
        arpa, cuatro y maracas; ese es el llano, el mismo llano
        venezolano-colombiano, las llanuras del Meta, del Casanare, del Vichada;
        son las mismas del Arauca, del Apure, de Barinas.”
      </p>
      <p class="piecita1">
        Conferencia de Prensa Ofrecida por el Presidente de la República
        Bolivariana de Venezuela, Hugo Chávez, a medios internacionales Salón
        Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>
      <p class="cita1">
        “Las 12 en punto tengo yo, feliz medio día aquí en el estado Anzoátegui,
        en la faja petrolífera del Orinoco.”
      </p>
      <p class="piecita1">
        Firma de instrumentos entre la República Bolivariana de Venezuela y la
        República Argentina Pozo Ayacucho 6 - Faja Petrolífera del Orinoco,
        estado Anzoátegui 21 de febrero de 2007
      </p>
      <p class="cita1">
        “La Paragua, al Sur del Lago del Guri, en esta inmensa tierra del Estado
        Bolívar que lleva el nombre del Libertador, nombre de futuro, nombre de
        trabajo, nombre de progreso, nombre de esta revolución bonita, la
        revolución bolivariana.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 172. Hacienda de maíz “El Chivo”, Edo. Bolívar. 16
        de noviembre de 2003
      </p>
      <p class="cita1">
        “Invito a todos los venezolanos a que vengan a esta maravilla que es
        Guayana”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 66. Puerto Ordaz, Estado Bolívar. 25 de marzo de
        2001
      </p>
      <p class="cita1">
        “Aquí en estas minas de Timotes, por ejemplo, resulta que tenemos plata,
        zinc, hierro, oro”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Guayana, esta tierra, Guayana siempre Guayana. Esta tierra del Orinoco”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 028. Edo. Bolívar. 30 de Enero de 2000
      </p>
      <p class="cita1">
        “Buena parte del pasado heroico, está sembrado en Guayana”.
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 66. Puerto Ordaz, Estado Bolívar. 25 de marzo de
        2001
      </p>
      <p class="cita1">
        “Aló Presidente, aquí en estos grandes maizales de La Paragua, estamos
        aquí en la Finca El Chivo; producción record de maíz este año.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 172. Hacienda de maíz “El Chivo”, Edo. Bolívar. 16
        de noviembre de 2003
      </p>
      <p class="cita1">
        “La próxima parranda la vamos hacer el en cajón de Arauca los invito a
        todos y a todas para el cajón de Arauca apureño, muchas gracias,
        Cristóbal, Fabiana, muchachos del conjunto, gracias a ustedes por la
        visita.”
      </p>
      <p class="piecita1">
        Balcón del pueblo, Palacio de Miraflores. 22 de mayo de 2011
      </p>
      <p class="cita1">
        “Iremos incrementando los presupuestos del Gobierno nacional y también
        de las gobernaciones, de las alcaldías; aportes extraordinarios que
        continuaremos haciendo.”
      </p>
      <p class="piecita1">
        Gabinete Comunal “Todos los motores a máxima revolución” Salón Venezuela
        del Círculo Militar, Fuerte Tiuna.Jueves, 15 de febrero de 2007
      </p>
      <p class="cita1">
        “Qué bello es Kavanayen (La Gran Sabana), sobre todo por las noches, tú
        tocas las estrellas. Tú sientes el roce del universo, del infinito y
        sobre todo su gente.”
      </p>
      <p class="piecita1">
        Aló Presidente, N° 100. Parque Nacional El Ávila. 17 de marzo de 2002
      </p>
      <p class="cita1">
        “Miren todos los minerales que hay en El Vigía. A ver si recuerdan
        ustedes la química, ¿esto es oro, verdad?, ¿y éste? zinc, ¿y éste?,
        cobre. ¿Y éste? es plata. ¿Y éste? ¡Ay, yayai!, ¡ah!, oye ustedes sí
        saben vale, ¿y éste, Caracas? [risas]. ¿Cuál es éste? Cesio. Bueno, hay
        de todo.”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Decía mi abuela aquella frase, aquel verso que dice: La iguana y el
        mato de agua se fueron pa’l Orinoco, la iguana no volvió más ni el mato
        de agua tampoco.... ¡Es que el Orinoco es tan bello que hasta la iguana
        se quedaba allá!, y el mato de agua.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 369. Escuela Básica Nacional “Flores de Catia”.
        Parroquia 23 de Enero. 9 de enero de 2011
      </p>
      <p class="cita1">
        “Si acercamos la mirada a nuestra región, nuestras preocupaciones
        aumentan alcanzando signos de alarma.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Que viva la Patria niña!. 18 Julio 2010
      </p>
      <p class="cita1">
        “Así somos los llaneros, así somos los venezolanos más bien, soñadores,
        pero algún día pues, algún día será verdad, algún día será verdad.”
      </p>
      <p class="piecita1">
        Aló Presidente N º 377. Salón Néstor Kirchner. Palacio de Miraflores. 22
        de enero de 2012
      </p>
      <p class="cita1">
        “Santa Rosa de Barinas, pueblo al que recuerdo con tanto cariño y con
        tanto amor de los años de mi infancia.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 10. Sede de Radio Nacional de Venezuela. 15 de Agosto
        de 1999
      </p>
      <p class="cita1">
        “Sabanas, sabana de Sabaneta, sabanas de Barinas, las sabanas de Barinas
        que dan para todo, dan para todo.”
      </p>
      <p class="piecita1">
        Salón Néstor Kirchner. Palacio de Miraflores. 22 de enero de 2012
      </p>
      <p class="cita1">
        “Yo le he dado no sé cuántas veces la vuelta a este país no sólo de
        candidato y de presidente, no, antes, de subteniente no te digo pues que
        yo andaba en mi carrito viejo por aquí por estas carreteras y jugando
        pelota en Cumaná, en Carúpano, aquí en Barcelona, allá en El Tigre.”
      </p>
      <p class="piecita1">
        Entrevista al Comandante Hugo Chávez realizada en Televisora de Oriente
        (TVO), estado Anzoátegui, 13 de Julio de 2012
      </p>
      <p class="cita1">
        “Cuna de grandes valores culturales así como históricos, motor del
        desarrollo; una gran tierra Guayana”.
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 66. Puerto Ordaz, Estado Bolívar. 25 de marzo de
        2001
      </p>
      <p class="cita1">
        “Yo le pasé por un laito a las tetas de María Guevara pasé entre las
        dos; rozando en helicóptero –aclaro- son dos montañas, dos morros muy
        bellos…nos amamantan desde Margarita las tetas de María Guevara y la
        esperanza de este pueblo.”
      </p>
      <p class="piecita1">
        Aló Presidente, N° 100. Parque Nacional El Ávila. 17 de marzo de 2002
      </p>
      <p class="cita1">
        “Estuve viendo la feria de la carne, carne de la mejor del mundo, carne
        apureña, barata y buena con arpa ¿qué viene ahora?”
      </p>
      <p class="piecita1">
        Balcón del pueblo, Palacio de Miraflores, 22 de mayo de 2011
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
