<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/japon.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Queremos agradecer el apoyo que el Japón, a través del Banco de
        Cooperación Internacional nos ha dado y que ha hecho posible esta
        maravilla científica-tecnológica que es Valcor, para producir toda la
        gasolina sin plomo que se consume en todo el oriente del país; se han
        construido aquí unas instalaciones maravillosas, gracias a un crédito
        que nos ha otorgado el Japón, por eso quiero darles un aplauso.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 207 Desde la Refinería de Puerto La Cruz. Estado
        Anzoátegui Domingo, 10 de octubre de 2004
      </p>
      <p class="cita1">
        “El pueblo venezolano aplaude y agradece al Japón, a su gobierno, y a su
        Banco de Cooperación Internacional.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 207 Desde la Refinería de Puerto La Cruz. Estado
        Anzoátegui Domingo, 10 de octubre de 2004
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
