<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/obreros.jpg"></ion-img>
    <ion-card-content>

      <p class="cita1">
        “Nuestro compromiso es seguir siendo, cada vez con mayor radicalidad, un
        Gobierno obrerista, de todos los trabajadores y trabajadoras, en el
        pensamiento y en la acción.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Mayo, llegó Mayo!. 02 de Mayo de 2010
      </p>
      <p class="cita1">
        “La Clase Obrera tiene que defender -antes incluso que sus propios
        intereses- los intereses del pueblo”
      </p>
      <p class="piecita1">
        Celebración del Día Internacional del Trabajador. Teatro Teresa Carreño,
        30 de abril de 2010
      </p>
      <p class="cita1">
        “Los Consejos de Trabajadores deben designar representantes en los
        Comandos Estratégicos Regionales, y además también representantes de los
        delegados agro-venezolanos, y entonces aquí entran los pequeños
        productores.”
      </p>
      <p class="piecita1">
        Unidadde Producción Socialista Ezequiel Zamora. Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, estado Barinas. 29
        de enero de 2012
      </p>
      <p class="cita1">
        “De muchas cosas depende el éxito de nuestra Revolución, y una de ellas,
        de las más importantes, el papel de la clase obrera”
      </p>
      <p class="piecita1">
        Acto Trabajadores con Chávez. Polideportivo José María Vargas, Estado
        Vargas, 31 de agosto de 2012
      </p>
      <p class="cita1">
        “Nunca volveremos a ese pasado de exclusión, explotación, atropello y
        desconocimiento a los derechos de los trabajadores de Venezuela.”
      </p>
      <p class="piecita1">
        Entrega de titularidad a docentes del estado Zulia. Plaza de Toros
        Monumental de Maracaibo; 10 de junio de 2006
      </p>
      <p class="cita1">
        “Yo que soy un soldado trabajador les digo a ustedes sencillamente
        cuenten conmigo, con este Gobierno como un trabajador más, sigan ustedes
        forjando la nueva Clase Obrera, yo como dije, me la juego con ustedes,
        con los trabajadores y trabajadoras, para construir la Patria
        Socialista, y para ello hay que derrotar el capitalismo y al
        imperialismo, contribuir a la creación de la Patria grande suramericana,
        de la Patria grande latinoamericana.”
      </p>
      <p class="piecita1">
        Celebración del Día Internacional del Trabajador Teatro Teresa Carreño,
        30 de abril de 2010
      </p>
      <p class="cita1">
        “Hago un llamado a la clase obrera, dejar definitivamente los vicios del
        pasado, del adecaje, del sindicalerismo que anda buscando es plata todo
        el tiempo, muchas veces, y plata y plata y plata.”
      </p>
      <p class="piecita1">
        Contacto Telefónico desde el Palacio de Miraflores en el evento del
        PSUV. 14 de agosto de 2011
      </p>
      <p class="cita1">
        “Tiene que ser un gobierno que marche al ritmo de la Clase Obrera, un
        Gobierno que se ponga a disposición de la Clase Obrera.”
      </p>
      <p class="piecita1">
        Celebración del Día Internacional del Trabajador Teatro Teresa Carreño,
        30 de abril de 2010
      </p>
      <p class="cita1">
        “Los trabajadores y trabajadoras de Venezuela merecen que continúe
        nuestro Gobierno Revolucionario facilitando y creando las condiciones
        para que cada día vivan con mayor dignidad.”
      </p>
      <p class="piecita1">
        Acto del Día del Trabajador y Trabajadora de la República Bolivariana de
        Venezuela Sala Ríos Reyna, Teatro Teresa Carreño. Lunes, 30 de abril de
        2007
      </p>
      <p class="cita1">
        “La clase obrera, trabajadores y trabajadoras, lo saben, tienen un papel
        fundamental que jugar en la transición del capitalismo al socialismo y
        ustedes estudiantes de la Patria tienen otro papel fundamental que jugar
        en la transición del capitalismo al socialismo.”
      </p>
      <p class="piecita1">
        Conmemoración de los 10 años de la derrota del paro patronal y la
        promulgación de la Ley de Tierras. Teatro Municipal, 10 de diciembre de
        2011
      </p>
      <p class="cita1">
        “Ahora bien, la organización de los trabajadores para el combate, eso es
        muy importante”
      </p>
      <p class="piecita1">
        Celebración del Día Internacional del Trabajador Teatro Teresa Carreño,
        30 de abril de 2010
      </p>
      <p class="cita1">
        “Los trabajadores de allá dicen que quieren cambiarle el nombre al barco
        Pilín León y ponerle otro nombre, alguien dijo anoche que le pusieran
        Josefa Camejo o Luisa Cáceres de Arismendi, mujeres de la patria,
        Manuela Sáenz, la libertadora del Libertador. De todos modos eso lo
        decidirán los trabajadores de PDVSA”
      </p>
      <p class="piecita1">
        Aló Presidente, N° 132 desde la planta de distribución de PDVSA
        Carenero, Edo Miranda. 22 de diciembre de 2002
      </p>
      <p class="cita1">
        “Nosotros continuaremos reconociendo las pensiones, las jubilaciones
        justas y pagando la deuda laboral acumulada en todos esos años de la IV
        República.”
      </p>
      <p class="piecita1">
        Acto del Día del Trabajador y Trabajadora de la República Bolivariana de
        Venezuela Sala Ríos Reyna, Teatro Teresa Carreño. Lunes, 30 de abril de
        2007
      </p>
      <p class="cita1">
        “La Clase Obrera mirando más allá de sí misma, con conciencia de clase y
        comprometida en la lucha contra el capitalismo, en la lucha por los
        pobres, junto a los campesinos, juntos a los estudiantes, junto a la
        juventud, la Clase Obrera junto a los soldados.”
      </p>
      <p class="piecita1">
        Celebración del Día Internacional del Trabajador Teatro Teresa Carreño,
        30 de abril de 2010
      </p>
      <p class="cita1">
        “Tremendo programa el que está transmitiendo VTV! Fábricas para el
        Socialismo! Bravo Vanessa! Bravo por sus trabajadores y trabajadoras!”
      </p>
      <p class="piecita1">
        Hugo Chávez Frías @chavezcandanga. 25 octubre de 2012
      </p>
      <p class="cita1">
        “Es importante que la Clase Obrera Petrolera siga dando demostraciones,
        en la teoría y en la práctica, de la nueva conciencia revolucionaria de
        la Clase Obrera Venezolana, y sea ejemplo de una nueva Clase Obrera, que
        lucha no sólo por sus intereses sino por los intereses del pueblo, de
        los más necesitados, los intereses de la Patria toda.”
      </p>
      <p class="piecita1">
        “La clase obrera petrolera al frente de la batalla política” 20 de enero
        de 2010
      </p>
      <p class="cita1">
        “Los trabajadores al frente de la revolución socialista, como
        vanguardia, la clase obrera que tiene mucho que ¡aportar!, además de
        hacer cabillas, de fabricar aceros y planchones, es fabricar la sociedad
        nueva, la justicia social.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 369. Escuela Básica Nacional “Flores de Catia”.
        Parroquia 23 de Enero. 9 de enero de 2011
      </p>
      <p class="cita1">
        “Hoy PDVSA está en manos de los trabajadores, con dignidad, con
        patriotismo y con una gran calidad en el manejo de sus
        responsabilidades, de sus procesos, desde la extracción primaria hasta
        el procesamiento y la distribución de los productos del petróleo a nivel
        nacional y a nivel internacional”.
      </p>
      <p class="piecita1">
        Acto Trabajadores con Chávez. Polideportivo José María Vargas, Estado
        Vargas, 31 de agosto de 2012
      </p>
      <p class="cita1">
        “Queremos trabajadores patriotas, un sector privado nacionalista,
        comprometido con el pueblo de Venezuela y con la Patria.”
      </p>
      <p class="piecita1">
        Colocación de la piedra fundacional del desarrollo habitacional
        “Terrazas del Alba”. Municipio Libertador, Distrito Capital; 2 de junio
        de 2006
      </p>
      <p class="cita1">
        “Yo quiero pedir que cada día seamos de verdad, cada día más un gobierno
        obrerista, como hace años lo estamos señalando...”
      </p>
      <p class="piecita1">
        Celebración del Día Internacional del Trabajador. Teatro Teresa Carreño,
        30 de abril de 2010
      </p>
      <p class="cita1">
        “Los trabajadores de Venezuela merecen lo mejor de lo mejor.”
      </p>
      <p class="piecita1">
        Acto del Día del Trabajador y Trabajadora de la República Bolivariana de
        Venezuela Sala Ríos Reyna, Teatro Teresa Carreño. Lunes, 30 de abril de
        2007
      </p>
      <p class="cita1">
        “Cuando salga el sol el primero de mayo de 2010, año bicentenario del 19
        de Abril, la jornada de trabajo será de 6 horas diarias.”
      </p>
      <p class="piecita1">
        Acto del Día del Trabajador y Trabajadora de la República Bolivariana de
        Venezuela Sala Ríos Reyna, Teatro Teresa Carreño. Lunes, 30 de abril de
        2007
      </p>
      <p class="cita1">
        “Debemos emplazar a los voceros de la burguesía a que se pronuncien
        acerca del tema de los conserjes, pues, que son cientos de miles, es un
        ejército que hay que ayudar a liberarlos del yugo de la esclavitud.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 369. Escuela Básica Nacional “Flores de Catia”.
        Parroquia 23 de Enero. 9 de enero de 2011
      </p>
      <p class="cita1">
        “Tengo muchas frustraciones en el tema de la clase obrera, sindicatos,
        sindicaleros, sindicalistas, esto y aquello, mentiras y más mentiras,
        vicios y más vicios porque hay que ver el daño que hizo, bueno la CTV y
        Acción Democrática y todos aquellos sindicatos viejos, corrompieron a la
        clase obrera.”
      </p>
      <p class="piecita1">
        Conmemoración de los 10 años de la derrota del paro patronal y la
        promulgación de la Ley de Tierras. Teatro Municipal, 10 de diciembre de
        2011
      </p>
      <p class="cita1">
        “Yo no tengo duda de que a pesar de las fallas, de las debilidades
        producto del tiempo que hemos vivido, no tengo dudas que la Clase Obrera
        cada día va asumiendo su rol con mayor transparencia, con mayor
        fortaleza, con mayor conciencia”
      </p>
      <p class="piecita1">
        Celebración del Día Internacional del Trabajador Teatro Teresa Carreño,
        30 de abril de 2010
      </p>
      <p class="cita1">
        “En 1997 el salario mínimo era de 154 dólares; hoy está, repito, en 286
        dólares; sin incluir el cestaticket y otros beneficios que reciben
        nuestros trabajadores. Casi hemos doblado el salario de los venezolanos
        en esta última década.”
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional 11 de enero de
        2008
      </p>
      <p class="cita1">
        “Los consejos comunales, a las milicias, a los milicianos, las
        milicianas, esa es otra tarea de la clase obrera, preparar los
        batallones obreros de milicianos y adiestrarse para la defensa del país
        y los estudiantes también, los batallones de las milicias estudiantiles,
        a los cuerpos combatientes.”
      </p>
      <p class="piecita1">
        Conmemoración de los 10 años de la derrota del paro patronal y la
        promulgación de la Ley de Tierras. Teatro Municipal, 10 de diciembre de
        2011
      </p>
      <p class="cita1">
        “Hemos comenzado a depositar por primera vez los fideicomisos de los
        trabajadores del sector público como debe ser, los cinco primeros días
        de cada mes”.
      </p>
      <p class="piecita1">
        Aló, Presidente” N° 63 Salón Bolívar. Ministerio de Defensa. 4 de marzo
        de 2001
      </p>
      <p class="cita1">
        “El control obrero tiene que estar con el socialismo, con la revolución
        socialista, con el pueblo, sin egoísmo.”
      </p>
      <p class="piecita1">
        Conmemoración de los 10 años de la derrota del paro patronal y la
        promulgación de la Ley de Tierras. Teatro Municipal, 10 de diciembre de
        2011
      </p>
      <p class="cita1">
        “Yo creo en ustedes, yo me las juego con los trabajadores, me juego la
        vida con la Clase Obrera y le pido al Gobierno todo que nos juguemos la
        vida con la Clase Obrera.”
      </p>
      <p class="piecita1">
        Celebración del Día Internacional del Trabajador Teatro Teresa Carreño,
        30 de abril de 2010
      </p>
      <p class="cita1">
        “Yo quiero felicitarlos a todos los trabajadores por el esfuerzo
        unitario ¡trabajadores unidos! ¡Partido unido! ¡Pueblo unido!”
      </p>
      <p class="piecita1">
        “La clase obrera petrolera al frente de la batalla política” 20 de enero
        de 2010
      </p>
      <p class="cita1">
        “La clase obrera no puede limitarse sólo a luchar por sus
        reivindicaciones, sería una clase obrera egoísta y olvidar al pueblo y
        las necesidades del pueblo, de los más pobres, de los más humildes, de
        los más necesitados, por ejemplo.”
      </p>
      <p class="piecita1">
        Conmemoración de los 10 años de la derrota del paro patronal y la
        promulgación de la Ley de Tierras. Teatro Municipal, 10 de diciembre de
        2011
      </p>
      <p class="cita1">
        “Los trabajadores son sabios, la clase obrera, los trabajadores de la
        ciudad o el campo”.
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora. Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, estado Barinas. 29
        de enero de 2012
      </p>
      <p class="cita1">
        “¡Con los trabajadores de mi patria; Chávez se restea! ¡Con las
        trabajadoras de mi patria esta resteado!”
      </p>
      <p class="piecita1">
        Acto Trabajadores con Chávez. Polideportivo José María Vargas, Estado
        Vargas, 31 de agosto de 2012
      </p>
      <p class="cita1">
        “Los trabajadores y trabajadoras cuenten conmigo, el pueblo cuenta con
        ustedes, el pueblo cuenta con ustedes.”
      </p>
      <p class="piecita1">
        Conmemoración de los 10 años de la derrota del paro patronal y la
        promulgación de la Ley de Tierras. Teatro Municipal, 10 de diciembre de
        2011
      </p>
      <p class="cita1">
        “Estoy seguro, doy por descontado que los trabajadores y trabajadoras de
        Venezuela, de la patria socialista que estamos creando, cada día sabrán
        valorar más estos esfuerzos que hace el Gobierno que yo dirijo por
        mandato de ustedes mismos.”
      </p>
      <p class="piecita1">
        Acto del Día del Trabajador y Trabajadora de la República Bolivariana de
        Venezuela Sala Ríos Reyna, Teatro Teresa Carreño, Lunes, 30 de abril de
        2007
      </p>
      <p class="cita1">
        “Una de las estrategias del capitalismo fue minimizar a la clase obrera,
        destruirla como clase, pues. Incluso culturalmente, que es la
        destrucción más terrible que pueda ocurrir, poner a los trabajadores a
        defender el capitalismo, imagínate tú eso.”
      </p>
      <p class="piecita1">
        Asamblea con trabajadores de la CVG, Pdvsa y demás sectores productivos.
        Bolívar, 20 de agosto de 2012
      </p>
      <p class="cita1">
        “Este es un gobierno obrerista, es un gobierno revolucionario.”
      </p>
      <p class="piecita1">
        “Aló, Presidente”, programa Nº 337. Planta termoeléctrica “Josefa
        Camejo”, Península de Paraguaná, Estado Falcón, 16 de agosto de 2009
      </p>
      <p class="cita1">
        “Este es un gobierno obrerista, un gobierno que comienza por reconocer
        el rol que debe jugar la clase obrera en la conducción de los destinos
        del país, un gobierno que no pretende ni pretenderá jamás manipular el
        sindicalismo venezolano.”
      </p>
      <p class="piecita1">
        Aló Presidente Programa Nro. 186. Desde La Planta De Llenado De Pdvsa En
        Guatire 28 De marzo De 2004
      </p>
      <p class="cita1">
        “Queremos que vaya surgiendo, que siga surgiendo un verdadero
        sindicalismo que obedezca a los intereses de la clase obrera y por
        supuesto en función de los intereses nacionales y no de intereses
        particulares o partidistas.”
      </p>
      <p class="piecita1">
        Aló Presidente Programa Nro. 186 Desde La Planta De Llenado De Pdvsa En
        Guatire 28 De marzo De 2004
      </p>
      <p class="cita1">
        “Nunca ningún gobierno trató a la clase obrera con tanta dignidad, con
        tanto cariño, con tanto amor como el Gobierno Bolivariano que a mí me ha
        tocado dirigir en estos años, y eso tiene que seguir siendo así,
        nosotros no podemos permitir la vuelta atrás, no.”
      </p>
      <p class="piecita1">
        Macolla Guanaguanay, estado Monagas 22 de agosto de 2012
      </p>
      <p class="cita1">
        “Profundicemos y aceleremos los cambios revolucionarios, soy el primero
        en levantar la mano y decir: “de acuerdo”. Pero también de aquí para
        allá les pido, les exijo, y tengo moral para hacerlo, que la clase
        obrera profundice y acelere su papel en la transición al socialismo.”
      </p>
      <p class="piecita1">
        Encuentro con los trabajadores petroleros Desde el Polideportivo José
        María Vargas. Edo. Vargas. 31 de agosto de 2012
      </p>
      <p class="cita1">
        “La clase obrera socialista, revolucionaria, ejemplo de lo que debe ser
        la cultura del trabajo contra la cultura del capital y sus vicios, y sus
        corruptelas, y sus antivalores.”
      </p>
      <p class="piecita1">
        Encuentro con los trabajadores petroleros Desde el Polideportivo José
        María Vargas. Edo. Vargas. 31 de agosto de 2012
      </p>
      <p class="cita1">
        “De muchas cosas depende el éxito de nuestra Revolución, y una de ellas,
        de las más importantes, el papel de la clase obrera.”
      </p>
      <p class="piecita1">
        Encuentro con los trabajadores petroleros Desde el Polideportivo José
        María Vargas. Edo. Vargas 31 de agosto de 2012
      </p>
      <p class="cita1">
        “La Clase Obrera junto al pueblo siempre, defendiendo los intereses del
        pueblo, los intereses de la Revolución.”
      </p>
      <p class="piecita1">
        Celebración del Día Internacional del Trabajador Teatro Teresa Carreño,
        30 de abril de 2010
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
