<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
      <ion-img class="capitulo_img" src="/assets/images/capitulos/afroindoamericano.jpg" ></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Decía Bolívar, “hasta la España misma, deja de ser europea, por su
        sangre africana”. Somos más africanos que otra cosa, somos más
        indoamericanos que otra cosa. África, es esencia nuestra, no se puede
        entender lo que somos, sin África.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 340 Universidad Nacional de las Artes (Unearte) El
        Conde, Municipio Libertador, Caracas Domingo, 20 de septiembre de 2009
      </p>
      <p class="cita1">
        “Nosotros somos parte de África y nuestra magia viene también del África
        y de la América India de esta selva y estos montes, la América India se
        unió con el África.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 341 Centro Diagnóstico Integral Caucagua Municipio
        Acevedo, Estado Miranda Domingo, 4 de octubre de 2009
      </p>
      <p class="cita1">
        “No hay mezcla mejor que la mezcla india, negra y blanca, eso somos
        nosotros, el resultado de la mezcla perfecta.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 341 Centro Diagnóstico Integral Caucagua Municipio
        Acevedo, Estado Miranda Domingo, 4 de octubre de 2009
      </p>
      <p class="cita1">
        “Evo es un hombre puro, ¿saben?, es un hombre puro, cristalino. Yo
        siempre digo, que Dios lo cuide, que Dios lo cuide, porque está en el
        medio de un enjambre de odio. Cómo lo odian, cómo nos odian por indios,
        por negros. Él dice: “Bueno, a mí me llaman el macaco, pero a ti te
        llaman el macaco mayor”.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado
        Aragua Domingo, 6 de diciembre de 2009
      </p>
      <p class="cita1">
        “La Revolución Bolivariana tiene por objetivo salvar a Venezuela, salvar
        a esta sociedad de la división y de la guerra y abrazarnos luego todos
        como hermanos y abrazarnos más allá con los hermanos del mundo como
        ustedes hermanos de Libia, hermanos del África, hermanos de Arabia,
        hermanos de América Latina.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 207 Desde la Refinería de Puerto La Cruz. Estado
        Anzoátegui Domingo, 10 de octubre de 2004
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
