<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/honduras.jpg"></ion-img>
    <ion-card-content>

      <p class="cita1"> “El Gobierno de Estados Unidos —cosa rara— no ha reconocido que hubo un golpe de Estado militar.
        Esto me lo explicó hoy el Presidente Zelaya: hay ahí una pugna entre el Departamento de Estado y el Pentágono.
        El Pentágono está detrás del golpe de Honduras.”
      </p>
      <p class="piecita1">Discurso en la 64ª Asamblea General de Naciones Unidas Nueva York, Jueves, 24 de septiembre
        2009
      </p>
      <p class="cita1"> “Es el golpe del imperio, el golpe de Estado en Honduras marca el inicio de una contraofensiva
        imperialista.”
      </p>
      <p class="piecita1"> “La clase obrera petrolera al frente de la batalla política”. 20 de enero de 2010
      </p>
      <p class="cita1"> “Zelaya sigue siendo el presidente de Honduras, legítimo Presidente, y aquí nosotros por respeto
        a nuestros principios elementales no debemos olvidarlo, aunque cuando por pragmatismo político nosotros
        entendemos, muchos gobiernos, empezando por el de Estados Unidos, fue el primero que salió reconociendo al
        gobierno, y apoyando al golpe como lo apoyaron.”
      </p>
      <p class="piecita1">Cumbre de Unidad, Cancún, México, 22 de febrero de 2010
      </p>
      <p class="cita1"> “Unasur fijó posición sobre la situación política hondureña: la mayoría de los países del bloque
        suramericano cerró filas contra el continuismo dictatorial en Honduras” (Cumbre celebrada en Los Cardales,
        Argentina, el 4 de mayo)
      </p>
      <p class="piecita1">Las Líneas de Chávez: A mi madre: ¡@madrecandanga!. 09 Mayo 2010
      </p>
      <p class="cita1"> “Mientras estamos aquí, está Manuel Zelaya, el Presidente de Honduras, en la embajada de Brasil,
        que le ha dado refugio. La embajada está rodeada por más de 200 soldados.”
      </p>
      <p class="piecita1">Discurso en la 64ª Asamblea General de Naciones Unidas Nueva York, Jueves, 24 de septiembre
        2009
      </p>
      <p class="cita1"> “El rostro del imperialismo se reveló, una vez más, con la traición al presidente Zelaya y al
        enteramente criticable Acuerdo de San José-Tegucigalpa.” (En relación a la elecciones en Honduras)
      </p>
      <p class="piecita1">Las Líneas de Chávez: Campeones Bolivarianos!. 29 Noviembre 2009
      </p>
      <p class="cita1"> “Reconocen al nuevo gobierno de Honduras, nosotros no podemos reconocerlo, es una cuestión de
        principio.”
      </p>
      <p class="piecita1">Cumbre de Unidad, Cancún, México, 22 de febrero de 2010
      </p>
      <p class="cita1"> “Gracias a Dios que yo soy un soldado y tengo soldados pues, y pasó en Venezuela, es otra cosa
        muy distinta a lo que pasó en Honduras, donde una Fuerza Armada, la de Honduras, completica se sumó a un golpe,
        y sacaron a su comandante en jefe a punta de fusiles de su casa, y lo metieron en un avión y lo mandaron a otro
        país, eso pasó, ¿se nos olvidó? Yo sé que no, sólo quiero recordarlo, y entonces los golpistas llaman a unas
        elecciones, cómo se va a reconocer eso, y se acabó.”
      </p>
      <p class="piecita1">Cumbre de Unidad, Cancún, México, 22 de febrero de 2010
      </p>
      <p class="cita1"> “Venezuela no reconocerá a otro presidente hasta tanto no se haga justicia. ¡¡¡El pueblo
        hondureño vencerá!!!” (Refiriéndose a las elecciones en Honduras)
      </p>
      <p class="piecita1">Las Líneas de Chávez: Campeones Bolivarianos!
        29 Noviembre 2009
      </p>
      <p class="cita1"> “Tienen un ejército completo, es decir, es como si hubieran invadido Honduras pero es su propio
        ejército. ¡Qué indignidad! Desde aquí les hago un llamado —yo que soy soldado, pero soy soldado revolucionario—
        ¡a los soldados de Honduras! ¡A los hijos de Morazán! Que no sigan reprimiendo a ese pueblo inocente.”
      </p>
      <p class="piecita1">Discurso en la 64ª Asamblea General de Naciones Unidas Nueva York, Jueves, 24 de septiembre
        2009
      </p>
      <p class="cita1"> “¿Y Zelaya no es Presidente? ¿A quién le entrego Zelaya la presidencia? A nadie.”
      </p>
      <p class="piecita1">Cumbre de Unidad, Cancún, México, 22 de febrero de 2010
      </p>
      <p class="cita1"> “Honduras, más temprano que tarde, con la fuerza huracanada de su pueblo en la calle, vencerá.
        Es la batalla entre el poder constituido del estado burgués y el poder popular constituyente que despertó del
        letargo.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡¡Viva El Che!!
        11 Octubre 2009
      </p>
      <p class="cita1"> “El golpe contra Honduras fue un golpe contra la Alianza Bolivariana. Pero, igualmente, el
        carácter irreversible de este proceso unitario y revolucionario se mantiene vivo en la resistencia del pueblo
        hondureño: en su ejercicio de conciencia y en su dignidad reconquistada.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: Del Mercosur al ALBA
        13 Diciembre 2009
      </p>
      <p class="cita1"> “Es la burguesía hondureña, el Estado golpista, el Estado tomado por la burguesía, por los
        ricos; cuatro o cinco familias muy ricas son los dueños del Estado y un pueblo en la calle masacrado.”
      </p>
      <p class="piecita1">Discurso en la 64ª Asamblea General de Naciones Unidas Nueva York, Jueves, 24 de septiembre
        2009 </p>


    </ion-card-content>
  </ion-card>
</ion-content>
