<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/privada.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “A los empresarios venezolanos yo los llamo, vengan. ¿Qué les vamos a
        expropiar todo?, ¡mentira! ¿Qué queremos ayudar a los productores
        venezolanos privados a que incrementen la producción?, sí, los queremos
        ayudar. Pero que ellos entiendan, que se pongan en el marco de la
        Constitución y de las leyes. ¿Qué queremos darles créditos baratos?, sí,
        con los más bajos intereses, con la mayor facilidad. ¿Qué queremos
        incrementar la investigación científica y tec¬nológica para ellos?,
        también para ellos.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores. 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Invito a los empresarios venezolanos que quieran llevar productos,
        nosotros nos encarga¬mos de llevarlos a una feria en Teherán.”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Se trata de crear otro modelo de propiedad privada: un modelo con
        sentido social. Por eso, necesitamos cada vez más emprendedoras y
        emprendedores que no tengan miedo a esta¬blecer alianzas con el Estado
        para crear empresas mixtas.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: Llegó la poesía! 23 Mayo 2010
      </p>
      <p class="cita1">
        “Ahí es donde yo digo, María Cristina, el que no baje pues se le cierra
        el negocio, se le ex¬propia, pero no podemos permitirlo, empresarios que
        roban a los demás, comerciantes que roban al consumidor, ésa es la
        empresa privada que nosotros no podemos aceptar pues.”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Una ganancia racional, comprometida con el desarrollo del país,
        produciendo no para enriquecerse ustedes. (A los empresarios privados)
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón Ayacucho
        .Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Saludamos a los empresarios venezolanos que están aquí presentes:
        Franco Bonfanti, Franco del sector petroquímica del Zulia; el presidente
        de Corpozulia, el general Martínez Mendoza; Alberto Cudemus de Fe
        Porcina; Alberto Völmer, Santa Teresa; Edgardo Pineda de Panorama”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Le hablé del sector petroquímico, el sector empresarial privado. Le
        dije: “No Vladimir (Putin), ya la situación aquella de 2002 pasó.
        Algunos quedan por allí que se niegan a recono¬cer una verdad, pero
        empresarios, empresarios de peso, cada día estamos trabajando y
        quere¬mos trabajar cada día más juntos.”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Propongo que cerremos filas, los sectores privados serios, que son la
        mayoría del país, que no le hagan caso a los engañadores de oficio que
        por ahí andan.”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Un vehículo popular, producto del acuerdo, a ser financiado por varios
        bancos comer¬ciales y ya hay ensambladoras y empresas de automóviles,
        que están comprometidas en la construcción de un carro para la familia;
        un carro familiar.”
      </p>
      <p class="piecita1">
        Discurso tras ser ratificado en el cargo como Presidente de la Republica
        por la Asamblea Nacional Constituyente. Palacio Federal Legislativo, 11
        de agosto de 1999
      </p>
      <p class="cita1">
        “La intervención del Federal, las Casas de Bolsas y de Econoinvest;
        intervención necesaria por la podredumbre que caracterizaba a todos
        estos entes privados.”
      </p>
      <p class="piecita1">
        Las líneas de Chávez: ¡¡No pasarán!! 22 Agosto 2010
      </p>
      <p class="cita1">
        “Yo mando a los ministros, “vayan allá, reúnanse con los pequeños
        empresarios, con los empresarios, a ver qué cosa les podemos comprar”;
        en vez de comprarle a países ricos le com¬pramos a los vecinos que
        necesitan vender producción, si yo no hiciera eso, no sería conse¬cuente
        con mi palabra, con las acciones de mi gobierno.”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón Ayacucho
        Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Pido al sector privado consciente unir esfuerzos con el Gobierno
        bolivariano para maxi¬mizar la capacidad de respuesta al problema
        estructural de la vivienda: es hora de que asuman plenamente su
        responsabilidad social.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Pueblo y Gobierno Unidos! 05 Diciembre 2010
      </p>
      <p class="cita1">
        “Quiero motivar a los empresarios venezolanos, que ustedes tienen cabida
        en el socialis¬mo, que los necesitamos.”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón Ayacucho
        Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “¿No voy a querer yo que los productos de ustedes se vendan en el
        exterior?, ¿pero quién puede pensar que no?, bien sean productos
        alimenticios, productos petroquímicos, metalúrgicos; de lo que sea. Si
        es que nosotros, una de las grandes dificultades, una de las
        características de nuestra economía es que tiene un muy bajo nivel
        exportador”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón Ayacucho
        Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Los inversionistas ahora es cuando comienzan a hacerse presente en
        Venezuela, ahora es cuando han perdido el miedo y saben por supuesto que
        aquí como en todo el mundo hay di¬ficultades, en todo el mundo, no sólo
        en Venezuela, pero aquí están viniendo inversionistas.”
      </p>
      <p class="piecita1">
        Aló Presidente Programa Nro. 47 Desde El Palacio de Miraflores 15 de
        octubre De 2000
      </p>
      <p class="cita1">
        “La propiedad privada nosotros la respetamos y aquí está en la
        Constitución, pero también está en la Constitución que la propiedad
        privada debe tener razón social, si no tuviera razón asocial entonces la
        propiedad privada deja de tener justificación.”
      </p>
      <p class="piecita1">
        Aló Presidente, Nº 323. Clínica Popular El Valle, parroquia El Valle, 21
        de diciembre de 2008
      </p>
      <p class="cita1">
        “Te invito a ti y a todos los pequeños empresarios de Venezuela,
        primero, a que rompamos los viejos paradigmas de la corrupción, del
        facilismo, de la riqueza fácil, vamos a trabajar, a pegar bloques, pero
        bien pegados, a hacer casas bien hechas, a hacer carreteras bien hechas,
        cuenten con un estado responsable y serio que además los necesita.”
      </p>
      <p class="piecita1">
        Aló Presidente Programa Nro. 49 Desde el Campo de Carabobo, estado
        Carabobo 29 de octubre de 2000
      </p>
      <p class="cita1">
        “El Estado y la empresa privada van a converger comprometiéndose con la
        generación de empleo, porque el papel no es del Estado, el Estado
        promociona, el Estado impulsa, el Esta¬do facilita; pero es la empresa
        privada y yo cuento con el apoyo y la comprensión de la gran mayoría de
        los empresarios privados venezolanos y cada día nos entendemos mucho
        mejor.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 17 Desde la Sede de Radio Nacional de Venezuela 03 de
        Octubre de 1999
      </p>
      <p class="cita1">
        “Cuenten conmigo productores serios; productores de verdad,
        productores-productores, empresarios-empresarios. No especuladores o
        corruptos o manipuladores. No, empresarios verdaderos.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 40 Desde la Sede de Radio Nacional de Venezuela 27 de
        Agosto de 2000
      </p>
      <p class="cita1">
        “Hay mucho capital que se fue del país, hay mucho capitalista que tiene
        la plata allá en Estados Unidos o allá en Europa, tráiganla para acá.
        Aquí hay garantía, ya ustedes saben que aquí estamos gobernando con
        garantías, con seguridad, con honestidad.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 45. Desde el Palacio de Miraflores 01 de Octubre de
        2000
      </p>
      <p class="cita1">
        “Vamos a trabajar duro que da miedo ve, con el sector privado y a echar
        pa´ lante el país y la economía. “
      </p>
      <p class="piecita1">
        Gran Misión Vivienda Venezuela con sectores medios del país Salas Ríos
        Reyna, Teatro Teresa Carreño. Viernes 17 de agosto de 2012
      </p>
      <p class="cita1">
        “Nosotros queremos trabajar así con todo el sector privado nacional. Yo
        aprovecho para mandarle saludos a todos ellos, que tú los conoces a
        muchos y bueno y decírselos también en cadena nacional, de todos los
        ámbitos de la economía, que trabajemos, vamos a trabajar, va¬mos a
        trabajar; y a mí no me importa que apoyen a este, o apoyen al otro, no,
        siempre y cuando se respeten las leyes, ve, las leyes y trabajemos con
        honestidad.”
      </p>
      <p class="piecita1">
        Gran Misión Vivienda Venezuela con sectores medios del país Salas Ríos
        Reyna, Teatro Teresa Carreño. Viernes 17 de agosto de 2012
      </p>
      <p class="cita1">
        “Yo repito la invitación, vuelvo a insistir al sector privado nacional,
        a los verdaderos em¬prendedores, vamos a trabajar juntos, vamos hacer
        acuerdos para convertir a Venezuela en eso que la estamos convirtiendo
        en una potencia en esta parte del mundo.”
      </p>
      <p class="piecita1">
        Consejo de Vicepresidentes Desde el Salón Néstor Kirchner. Palacio de
        Miraflores Caracas, sábado 24 de marzo de 2012
      </p>
      <p class="cita1">
        “Bienvenidos, bienvenidos señores empresarios, se los he dicho toda mi
        vida, y se los ratifi¬co, yo no tengo nada contra el empresariado
        venezolano, absolutamente nada, la Constitución lo dice, el Estado y el
        sector privado trabajarán juntos para el impulso de la economía y el
        desarrollo nacional.”
      </p>
      <p class="piecita1">
        Aló presidente Programa Nro. 181 Desde la Universidad Bolivariana del
        Estado Zulia. Domingo, 8 de febrero de 2004
      </p>
      <p class="cita1">
        “Empresarios venezolanos, si hay un Gobierno que defiende al
        empresariado criollo en este Continente, entre otros, es el Gobierno
        venezolano.”
      </p>
      <p class="piecita1">
        Aló presidente Programa Nro. 181 Desde la Universidad Bolivariana del
        Estado Zulia. Domingo, 8 de febrero de 2004
      </p>
      <p class="cita1">
        “Empresarios de Venezuela uníos al Gobierno, uníos, uníos, que me
        perdone Carlos Marx, empresarios uníos, uníos al Gobierno, vamos a
        trabajar, los estamos llamando ahora a la Mi¬sión Vuelvan Cara, sobre
        todo a la pequeña, a la mediana industria, la industria exportadora
        venezolana queremos darle facilidades para que produzcan y para que
        exportemos.”
      </p>
      <p class="piecita1">
        Aló presidente Programa Nro. 181 Desde la Universidad Bolivariana del
        Estado Zulia. Domingo, 8 de febrero de 2004
      </p>
      <p class="cita1">
        “Oído el sector privado venezolano porque todos los días hay una campaña
        por televiso-ras, periódicos, que Chávez no quiere al sector privado,
        que Chávez va a acabar con el sector privado, etc. No, no, los
        necesitamos para trabajar juntos, y convertir a Venezuela en lo que la
        vamos a convertir, una potencia en el Continente.”
      </p>
      <p class="piecita1">
        Macolla Guanaguanay, estado Monagas 22 de agosto de 2012
      </p>
      <p class="cita1">
        “A esos empresarios que se sientan venezolanos vengan con nosotros para
        convertir a esta Venezuela de todos en una potencia, tenemos como,
        tenemos como.”
      </p>
      <p class="piecita1">
        Macolla Guanaguanay, estado Monagas 22 de agosto de 2012
      </p>
      <p class="cita1">
        “Requerimos empresarios comprometidos con el bienestar social, con la
        justicia social.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 206. Desde la Cooperativa Central Cafetalero Bramón
        Municipio Junín, Rubio. Estado Táchira Domingo, 03 de octubre de 2004
      </p>
      <p class="cita1">
        “Nosotros respetamos y respetaremos la propiedad privada.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 210 Desde el Palacio de Miraflores Domingo 9 de Enero
        de 2005
      </p>
      <p class="cita1">
        “Los empresarios privados quiero que sepan que tiene su lugar aquí en
        esta revolución, los empresarios que muchos están trabajando por el país
        con el país la gran mayoría, me dio mucha alegría ver a la Presidenta de
        Fedecámaras ahí en la Asamblea Nacional, le saludé con mucha sinceridad
        y afecto.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 211 Desde el Salón Ayacucho del Palacio de Miraflores
        Domingo 16 de Enero de 2005
      </p>
      <p class="cita1">
        “Todos los empresarios, el país, vengan, los llamo, vamos a hacer la
        alianza estratégica empresarial con el Estado como manda la
        Constitución.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 211 Desde el Salón Ayacucho del Palacio de Miraflores
        Domingo 16 de Enero de 2005
      </p>
      <p class="cita1">
        “El Estado está para apoyar al sector privado y para que juntos
        construyamos, sigamos construyendo la patria, la patria en justicia, en
        igualdad, en desarrollo y esto es parte de la revolución, es decir, del
        proyecto que está en la Constitución, de la transformación social y
        económica del país.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 211 Desde el Salón Ayacucho del Palacio de Miraflores
        Domingo 16 de Enero de 2005
      </p>
      <p class="cita1">
        “Nosotros podemos vender en el Caribe muchísimas cosas, muchas cosas;
        así que empre¬sarios de Venezuela vamos a unirnos todos: el gobierno, el
        Estado, los gobiernos locales, los empresarios, los industriales, los
        productores; este gobierno es de ustedes, vamos a impulsar la nueva
        economía eso sí, no la economía capitalista salvaje y neoliberal.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 213 Desde las instalaciones de la Industria Venezolana
        Papelera (INVEPAL) Morón. Estado Carabobo. Domingo 20 de Febrero de 2005
      </p>
      <p class="cita1">
        “Jamás el sector privado puede estar por encima del estado, sino se
        pierde la República, el derecho de la supervisión, el diseño curricular,
        todo eso tiene que estar orientado es por el estado y el sector privado
        enmarcado en la Constitución y enmarcado en las leyes de nuestra
        República.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 218. Desde La Puntita de Yuma Rivera del Lago de
        Valencia. Estado Carabobo Domingo,10 de Abril de 2005
      </p>
      <p class="cita1">
        “Están llegando inversionistas a Venezuela que quieren buscar
        oportunidades porque aho¬ra sí están entendiendo que éste es un proyecto
        serio, que aquí se acabó el relajo, que aquí se acabó el bochinche y que
        Venezuela va hacia arriba.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 18. Desde la casa de Hugo De Los Reyes Chávez,
        Gobernador Del Estado Barinas, en Barinas Estado Barinas. 31 de Octubre
        de 1999
      </p>
      <p class="cita1">
        “Yo creo que hay muchos reaccionarios y retardatarios es en
        Fedecámaras.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 20. Radio Nacional de Venezuela Domingo14 de
        Noviembre de 1999
      </p>
      <p class="cita1">
        “Esta Constitución es para proteger la actividad privada.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 23. Desde Mérida, Estado Mérida. Domingo, 5 de
        diciembre de 1999
      </p>
      <p class="cita1">
        “Andan diciendo de todo, que si esto va a acabar con la empresa privada.
        Mentira, más bien va a protegerla, aquí se garantiza la libertad
        económica, la libertad de comercio, la libertad de industria.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 23 Desde Mérida, Estado Mérida. Domingo, 5 de
        diciembre de 1999
      </p>
      <p class="cita1">
        “Ha sido todo un éxito el programa del carro popular y felicitamos a la
        Toyota por estar dando este ejemplo, bajando los intereses a 18%.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 24 Aeropuerto de Valencia. Estado Carabobo 12 de
        Diciembre de 1999
      </p>
      <p class="cita1">
        “La zona industrial de La Fría, eso es algo criminal, que queda cerca de
        Guarumito, vamos a reactivar la zona industrial y lo estaba diciendo
        antes, lo voy a terminar: ofrecemos a los empresarios venezolanos que
        quieran ir a invertir allá, incentivos.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 27 Maiquetía. Estado Vargas 23 de Enero de 2000
      </p>
      <p class="cita1">
        “Una empresa debe estar al servicio del bien común, no al servicio de
        una minoría, toda empresa debe tener una razón social, debe contribuir
        al desarrollo integral del país, es la em¬presa en función del
        desarrollo integral.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 187 Desde Cabruta, Estado Guárico.4 de abril de 2004
      </p>
      <p class="cita1">
        “Agradezcamos a Dios que aquí en Venezuela hemos podido conseguir el
        camino pacífico, democrático que también es de ustedes, mis saludos a
        ustedes todos los de las clases pudien¬tes, como algunos las llaman, con
        los empresarios venezolanos hemos intensificado el diálogo y el contacto
        creador.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 203. Desde Tacagua Vieja, Sector Araguaney Parroquia
        Sucre. Municipio Libertador Domingo, 15 de septiembre de 2004
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
