<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/ecologista.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1"> “Alguien dijo que las guerras del futuro serán por agua y no por petróleo, ojalá que no haya
        guerras ni por agua ni por petróleo; pero el agua es esencial, lo sabemos, para la vida, cuidemos el agua.”
      </p>
      <p class="piecita1">Aló Presidente Nº 325 Los valles de Tucutunemo, municipio Zamora, estado Aragua
        1º de marzo de 2009
      </p>
      <p class="cita1"> “La tierra es propiedad social, nadie puede decir: “No, esta tierra es mía y yo voy a tumbar ese
        cerro o voy a quemarla, o voy a sembrar aquí —qué sé yo— o voy a destruir la naturaleza, o voy a hacer lo que me
        dé la gana”. No, no.”
      </p>
      <p class="piecita1">Aló Presidente Nº 325 Los valles de Tucutunemo, municipio Zamora, estado Aragua
        1º de marzo de 2009
      </p>
      <p class="cita1"> “Hay una crisis de agua en el mundo, cada día crece la crisis de agua en el mundo, hay que
        cuidar cada gota de agua, no se puede contaminar el agua, ¡no se debe! No se debe desperdiciar el agua.”
      </p>
      <p class="piecita1">Aló Presidente, programa Nº 325 Los valles de Tucutunemo, municipio Zamora, Edo. Aragua
        1 de marzo de 2009
      </p>
      <p class="cita1"> “Es importante estudiar las características topográficas y el caño, es importante saber si ese
        caño tiene agua todo el año. ¿Por qué? Porque es la naturaleza. Y la vida del hombre no se puede entender sin su
        relación armónica con la naturaleza.”
      </p>
      <p class="piecita1">Entrega de viviendas en el Complejo habitacional Palma Sola Municipio Barinas, Estado Barinas
        Sábado, 31 de diciembre de 2011
      </p>
      <p class="cita1"> “Mira cómo está el Guaire, y los ríos, el mismo Santo Domingo, contaminados, porque le echamos
        basura, aguas servidas, cochinadas, etc.”
      </p>
      <p class="piecita1">Entrega de viviendas en el Complejo habitacional Palma Sola Municipio Barinas, Estado Barinas
        Sábado, 31 de diciembre de 2011
      </p>
      <p class="cita1"> “Cada vez que aquí perforamos buscando petróleo qué es lo primero que sale: ¡agua!”
      </p>
      <p class="piecita1">Entrega de viviendas en el Complejo habitacional Palma Sola Municipio Barinas, Estado Barinas
        Sábado, 31 de diciembre de 2011
      </p>
      <p class="cita1"> “Los cambios climáticos que están afectando al mundo producto del desarrollismo desmesurado, del
        recalentamiento global. La apertura de la capa de ozono, el recalentamiento de los Polos, el deshielo, todo eso
        altera el equilibrio del mundo y amenaza el futuro del mundo.”
      </p>
      <p class="piecita1">Aló presidente Programa Nro. 181 Desde la Universidad Bolivariana del Estado Zulia. Domingo, 8
        de febrero de 2004
      </p>
      <p class="cita1"> “El mundo está en peligro. Mire, el lago de Titicaca se está secando. Hablando del lago
        Titi-caca, los glaciares y las nieves eternas ya no son eternas, están desapareciendo en Suramérica, no sólo
        allá en los grandes sistemas montañosos del Asia, el Himalaya. No, no, aquí en los Andes están desapareciendo
        las capas de nieves perpetuas.”
      </p>
      <p class="piecita1">Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado Aragua Domingo, 6 de
        diciembre de 2009
      </p>
      <p class="cita1"> “El mundo, este mundo se puede acabar, es verdad, si el mundo capitalista, si el modelo
        capitalista sigue avanzando en la destrucción del planeta, de la naturaleza.”
      </p>
      <p class="piecita1">Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado Aragua Domingo, 6 de
        diciembre de 2009
      </p>
      <p class="cita1"> “El que se pone a lavar un carro y a sacarle brillo con agua potable. ¡Por el amor de Dios! O a
        lavar la calle, a usar el agua como escoba. ¡Qué es eso! ¡Conciencia!, hay una crisis mundial de agua y se va a
        incrementar, sobre todo, por los cambios climáticos.”
      </p>
      <p class="piecita1">Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado Aragua Domingo, 6 de
        diciembre de 2009
      </p>
      <p class="cita1"> “Vamos a aprovechar los mercados de exportación para colocar bien sea la gasolina ya terminada o
        algunos componentes en el mercado internacional, el reformado, el diesel, el turbo-kerosén que ahora cumple con
        especificaciones exigidas por el mercado internacional con lo cual estamos de acuerdo, para cuidar, repito, el
        equilibrio ecológico en el mundo entero.”
      </p>
      <p class="piecita1">Aló Presidente N° 207
        Desde la Refinería de Puerto La Cruz. Estado Anzoátegui
        Domingo, 10 de octubre de 2004
      </p>
      <p class="cita1"> “No permitiremos que ningún factor extraño a nosotros venga a adueñarse de la Amazonía y uno de
        los recursos que hay que cuidar, además de la vida de la gente en primer lugar, sobre todo las comunidades y los
        pueblos indígenas, es el agua, reservorio de agua del planeta, pues, la Amazonía.”
      </p>
      <p class="piecita1">Aló Presidente N° 211
        Desde el Salón Ayacucho del Palacio de Miraflores
        Domingo 16 de Enero de 2005
      </p>
      <p class="cita1"> “Los transgénicos o las transgénesis, que consiste en manipular una semilla y cruzarla con otra
        y todas estas cosas. No, eso causa graves daños a la producción, a la ecología.”
      </p>
      <p class="piecita1">Aló Presidente N° 216 Desde el Campo Experimental del INIA Municipio Alberto Arvelo Torrealba.
        Sabaneta. Estado Barinas
        Domingo 20 de Marzo de 2005
      </p>
      <p class="cita1"> “Vamos a salvar el Lago de Valencia y vamos a convertirlo en lo que fue, el epicentro de la
        actividad cultural, turística, agrícola, industrial; el Lago está muy contaminado, 50 años 100 años cayéndole
        agua contaminada, más bien aguantó mucho el Lago.”
      </p>
      <p class="piecita1">Aló Presidente N° 218 Desde La Puntita de Yuma Rivera del Lago de Valencia. Estado Carabobo
        Domingo, 10 de abril de 2005
      </p>
      <p class="cita1"> “En cinco años debe estar saneado el Lago de Valencia, cinco años estimamos con todo el plan que
        ha arrancado.”
      </p>
      <p class="piecita1">Aló Presidente N° 218 Desde La Puntita de Yuma Rivera del Lago de Valencia. Estado Carabobo
        Domingo, 10 de Abril de 2005
      </p>
      <p class="cita1"> “Por primera vez vamos a tener el 100% de todas las aguas servidas en la Cuenca del Lago de
        Valencia colectadas para llevarlas a Plantas de Tratamiento. Este es el primer paso, cosa que ya arrancó.”
      </p>
      <p class="piecita1">Aló Presidente N° 218 Desde La Puntita de Yuma Rivera del Lago de Valencia. Estado Carabobo
        Domingo, 10 de Abril de 2005
      </p>
      <p class="cita1"> “El lago es el potencial más grande para el desarrollo social y económico que tiene el centro
        del país, que tiene esta región.”
      </p>
      <p class="piecita1">Aló Presidente N° 218 Desde La Puntita de Yuma Rivera del Lago de Valencia. Estado Carabobo
        Domingo, 10 de Abril de 2005
      </p>
      <p class="cita1"> “Están chillando algunos porque estamos poniéndole orden a las explotaciones de arena, de piedra
        y lo que llaman minerales no metálicos, eso es un desastre pues, acabando con bosques, acabando con quebradas;
        con ríos, tapando ríos, desviando quebradas, no; no, no aquí se acabó el relajo compadre.”
      </p>
      <p class="piecita1">Aló Presidente N° 218 Desde La Puntita de Yuma Rivera del Lago de Valencia. Estado Carabobo
        Domingo, 10 de Abril de 2005
      </p>
      <p class="cita1"> “Por cada millón de árboles se reducen en tantas toneladas la presencia en el oxígeno del
        carbono. ¿Por qué?, porque ustedes saben que las hojas absorben el anhídrido carbónico y, qué maravilla, las
        plantas producen oxígeno.”
      </p>
      <p class="piecita1">Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado Aragua Domingo, 6 de
        diciembre de 2009
      </p>
      <p class="cita1"> “Entonces hay que sembrar muchas matas, plantas por todos lados, plantas, matas, árboles
        grandes, plantas pequeñas.”
      </p>
      <p class="piecita1">Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado Aragua Domingo, 6 de
        diciembre de 2009
      </p>
      <p class="cita1"> “Los que me están oyendo por radio, los que nos están viendo por televisión, vamos, apaga el
        bombillo compadre, ve a ver. El que tenga un bote de agua, una gotica aunque sea, imagínate tú, una gotica:
        ¡Pig, pig! Todo el día, todos los días, las noches. No chico, arreglen las llaves, vamos, vamos a cuidar los
        recursos.”
      </p>
      <p class="piecita1"> “ALÓ, PRESIDENTE”, programa Nº 343 Desarrollo Urbanístico “Simón Bolívar”. Municipio Páez,
        Estado Portuguesa
        Domingo, 8 de noviembre de 2009
      </p>
      <p class="cita1"> “Yo digo siempre, una buena parte de la solución a la sequía es el trabajo científico de
        perforar la tierra, buscar los acuíferos, conservarlos, y luego sacar el agua, y luego conservarla, no
        derrocharla.”
      </p>
      <p class="piecita1">“Aló, Presidente” Nº 347
        La Platera, municipio Tinaco, estado Cojedes Domingo, 10 de enero de 2010
      </p>
      <p class="cita1"> “Cada bombillo que se apague es energía que estamos ahorrando, cada chorro que se cierre es agua
        que estamos cuidando.”
      </p>
      <p class="piecita1"> “Aló, Presidente” Nº 347
        La Platera, municipio Tinaco, estado Cojedes Domingo, 10 de enero de 2010
      </p>
      <p class="cita1"> “En el 2009 eliminamos la pesca de arrastre y los beneficios ya se están viendo.”
      </p>
      <p class="piecita1"> “Aló, Presidente” Nº 347
        La Platera, municipio Tinaco, estado Cojedes Domingo, 10 de enero de 2010
      </p>
      <p class="cita1"> “Hay que sembrar también árboles en todos los espacios en donde pueda haber un árbol sembremos
        árboles, arbustos, flores, jardinería, cosas bonitas en donde se pueda hacer un pozo.”
      </p>
      <p class="piecita1">Aló Presidente Nº 348 Filas de Mariche – Estado Miranda Domingo, 17 de enero de 2010
      </p>
      <p class="cita1"> “Hay que respetar los árboles, hay que resembrar árboles. Porque esa es otra cosa de los
        capitalistas, acabaron con bosques, los bosques, cortaban los árboles, pero acabaron... Con los samanes, por
        ejemplo, acabaron.”
      </p>
      <p class="piecita1"> “Aló, Presidente”, programa Nº 344 Comuna el Maizal, de los estados Lara y Portuguesa
        Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1"> “Hay que cuidar el mar. ¿Quién dice que el mar no es llano, donde se canta la copla? El mar es
        un llano azul hermoso, ese llano.”
      </p>
      <p class="piecita1">Aló Presidente N° 19 Desde Macuro – Estado Sucre Domingo, 7 de noviembre de 1999
      </p>
      <p class="cita1"> “¡Qué maravilla, qué maravilla de paisaje, qué valle tan hermoso, el río Chama, el Pico Bolívar
        con sus nieves perpetuas! ¡Bolívar, ese nombre hermoso!”
      </p>
      <p class="piecita1">Aló Presidente Nro. 23 Desde Mérida, Estado Mérida. Domingo, 5 de diciembre de 1999
      </p>
      <p class="cita1"> “Yo disfruto un puyero en una carpa por allá entre las montañas, esa es la vida del soldado
        sabroso, y uno oye el agua que pasa y siente los pajaritos.”
      </p>
      <p class="piecita1">Aló Presidente N° 26
        Sede de la Radio Nacional de Venezuela
        16 enero de 2000

      </p>
      <p class="cita1"> “Agua para todos, agua para la vida, agua para el consumo, agua para los alimentos, para
        producir alimentos, agua para la naturaleza, para el equilibrio y la vida, para el socialismo.”
      </p>
      <p class="piecita1">Aló Presidente, programa Nº 325 Los valles de Tucutunemo, municipio Zamora, Edo. Aragua
        1 de marzo de 2009
      </p>
      <p class="cita1"> “El gas es una materia prima fundamental para la energía, en vez de otras materias primas que
        son contaminantes. El gas es mucho más limpio, energía limpia.”
      </p>
      <p class="piecita1">Aló Presidente N° 40
        Desde la Sede de Radio Nacional de Venezuela
        27 de Agosto de 2000
      </p>
      <p class="cita1"> “Yo soy el primero, yo vengo del monte, el primero en respetar la naturaleza, el primero en dar
        el ejemplo tiene que ser el Presidente y nosotros desde el gobierno.”
      </p>
      <p class="piecita1">Aló Presidente N° 48.
        Base Científica-Naval Simón Bolívar. Isla de Aves
        22 de octubre de 2000
      </p>
      <p class="cita1"> “Es muy importante, la participación de las comunidades para las luchas ambientales y la
        educación ambiental a nuestros hijos, a nuestros niños, todos nosotros y eso va desde lanzar el papel en una
        esquina, todo eso es la cultura ambiental, cuidar el ambiente, el equilibrio del ambiente.”
      </p>
      <p class="piecita1">Aló Presidente N° 48.
        Base Científica-Naval Simón Bolívar. Isla de Aves
        22 de octubre de 2000
      </p>
      <p class="cita1"> “Ahí hay un desafío importante también que tenemos por delante, el tema del ambiente, del tema
        del agua; los bosques, el equilibrio ambiental, es uno de los grandes lineamientos históricos del nuevo Programa
        de Gobierno.”
      </p>
      <p class="piecita1">Juramentación del Vicepresidente Ejecutivo de la República y Ministros del Gabinete Ejecutivo
        Salón Simón Bolívar, Palacio de Miraflores
        Sábado, 13 de octubre de 2012
      </p>
      <p class="cita1"> “Vamos a arborizar a Venezuela, a sembrar bosques y a recuperar bosques.”
      </p>
      <p class="piecita1">Aló Presidente Nro. 178
        Palacio de Miraflores, 18 de enero de 2004
      </p>
      <p class="cita1"> “Ahí están los paneles solares ¿ves? Para capturar la energía solar y convertirla en energía
        eléctrica ¿ves? Eso es algo profundamente ecológico.”
      </p>
      <p class="piecita1">Macolla Guanaguanay, estado Monagas 22 de agosto de 2012
      </p>
      <p class="cita1"> “Apaga el bombillo, hay que ahorrar energía, cómo van a tener los bombillos... Bueno, estoy
        hablando de la luz pública ahí ¿Ves? El alumbrado público, tiene que estar apagado, mira la hora que es,
        conciencia, conciencia, ahorro, ahorro, energía. Mientras en una parte están despilfarrándola, en otra parte
        falta ¿Ves?”
      </p>
      <p class="piecita1">Aló Presidente N° 341 Centro Diagnóstico Integral Caucagua Municipio Acevedo, Estado Miranda
        Domingo, 4 de octubre de 2009 </p>



    </ion-card-content>
  </ion-card>
</ion-content>
