<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/solidario.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Quiero públicamente hacer un reconocimiento especial y el
        agradecimiento mío en lo personal, ya lo he hecho por supuesto en
        privado, pero ahora quiero hacerlo público con nuestro ex vicepresidente
        ejecutivo, el doctor Jorge Rodríguez.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 299. Escuela de Formación Socialista Ezequiel Zamora.
        6 de enero de 2008
      </p>
      <p class="cita1">
        “En mecanismos de cooperación, de suministro de petróleo y derivados en
        condiciones ventajosas para los países más pobres del continente estamos
        aportando unos cinco mil millones de dólares al año, que dejamos de
        percibir.”
      </p>
      <p class="piecita1">
        Sesión Inaugural de la XVII Cumbre de Jefes de Estado y de Gobierno
        Iberoamericano Santiago de Chile. 9 de noviembre de 2007
      </p>
      <p class="cita1">
        “Quienes lo acusan son los capos eso sí, quienes lo acusan son los
        capos, ve, todo nuestro apoyo, personal, espiritual, moral, político
        como soldado a ese buen soldado que es nuestro general en jefe Henry
        Rangel Silva.”
      </p>
      <p class="piecita1">
        Aló Presidente N º 377. Salón Néstor Kirchner. Palacio de Miraflores. 22
        de enero de 2012
      </p>
      <p class="cita1">
        “Lo que está sufriendo el pueblo zuliano, al igual que el pueblo de
        Falcón, de Vargas y Caracas, de Mérida, Táchira y Trujillo, de Miranda,
        Sucre y Nueva Esparta no puede recibir otro nombre diferente al de
        tragedia”.
      </p>
      <p class="piecita1">
        Las líneas de Chávez ¡El Pueblo de las Dificultades! 12 diciembre 2010
      </p>
      <p class="cita1">
        “Gracias Dios mío, gracias Cristo nuestro, gracias pueblo amado, gracias
        Venezuela, gracias venezolana, gracias venezolano, gracias a la juventud
        venezolana.”
      </p>
      <p class="piecita1">
        Concentración Balcón del Pueblo, Palacio de Miraflores. Domingo, 7 de
        octubre de 2012
      </p>
      <p class="cita1">
        “Es como que nosotros le pidamos reciprocidad al Caribe, a los países
        del Caribe, a San Vicente y las Granadinas, sería una inmoralidad muy
        grande. Más bien yo les he dicho, mire a ver qué producción tienen, a
        ver como nosotros ayudamos a adquirir esa producción; o como hemos hecho
        con Bolivia.”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “El gobierno de Irán es un gobierno aliado, un gobierno amigo, y
        nosotros lo que queremos es que el gobierno de Estados Unidos y sus
        aliados europeos se olviden de las presiones contra Irán, que abran el
        diálogo”.
      </p>
      <p class="piecita1">
        Discurso por visita de Presidente Iraní Mamhud Ahmadineyad a Venezuela
        en 2010
      </p>
      <p class="cita1">
        “Tengo fe en que habrá otro grupo, y ojalá allí venga nuestra amiga
        también, Ingrid Betancourt.” (En relación a la ayuda humanitaria para el
        rescate de Clara, Consuelo y Enmanuel.)
      </p>
      <p class="piecita1">
        Conferencia de Prensa Ofrecida por el Presidente de la República
        Bolivariana de Venezuela, Hugo Chávez, a medios internacionales. Salón
        Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>
      <p class="cita1">
        “Nos llegaron las coordenadas y en menos de 24 horas estábamos ya
        rescatando a nuestras dos compatriotas colombianas, en menos de 24
        horas.”
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional 11 de enero de
        2008
      </p>
      <p class="cita1">
        “Tengo ya un equipo de militares y civiles trabajando en el Plan
        Dignidad. Así lo hemos llamado. Dignidad para los presos. Dignidad para
        las cárceles. Y que se conviertan, de verdad, en sitios donde la gente
        convivan, donde vivan y no vayan a morir en vida”
      </p>
      <p class="piecita1">
        Aló Presidente, Nº 04. Palacio de Miraflores. 20 de junio de 1999
      </p>
      <p class="cita1">
        “A algunos de nosotros nos toca más allá, la situación nos lleva a
        pensar más en los demás que en nosotros mismos, porque sencillamente
        tiene que ser así.”
      </p>
      <p class="piecita1">
        X Aniversario del Banco del Pueblo Teatro Teresa Carreño. 26 de octubre
        de 2009
      </p>
      <p class="cita1">
        “El jueves 18 de noviembre se cumplió el sexto aniversario del asesinato
        de Danilo Anderson. Se nos impone la viva y dolorosa memoria del Fiscal
        Valiente: memoria viva porque la pasión por la justicia que él encarnó,
        no puede morir ni nadie puede ni podrá matarla; y memoria dolorosa
        porque el crimen que segó su limpia existencia continúa impune.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Política de la liberación! 21 Noviembre 2010
      </p>
      <p class="cita1">
        “Estamos ayudando a muchos países, y ojalá se consiga petróleo en muchos
        otros países, pero estamos siguiendo un muy riguroso procedimiento para
        certificar hasta el último barril de reserva venezolana.”
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de
        2008
      </p>
      <p class="cita1">
        “Mi reconocimiento a estos compatriotas por no dejarse manipular por las
        fuerzas oscuras de los que no descansan en mostrar su odio al país”.
      </p>
      <p class="piecita1">Las líneas de Chávez. 2010</p>
      <p class="cita1">
        “Siguen atacando al general Rangel Silva, le atacan, le señalan, desde
        Estados Unidos y aquí hay quienes se prestan para ello y hablan del
        general del narcotráfico, imagínate tú, imagínate acusar a un general
        como Rangel Silva de capo, imagínate tú.”
      </p>
      <p class="piecita1">
        Aló Presidente N º 377. Salón Néstor Kirchner. Palacio de Miraflores. 22
        de enero de 2012
      </p>
      <p class="cita1">
        “Nosotros estamos dispuestos a continuar buscando fórmulas para lograr
        la paz en Colombia. Y en ese esfuerzo, por supuesto, debemos seguir
        trabajando en distintos niveles con el Gobierno de Colombia; debemos
        seguir trabajando en distintos niveles con las Fuerzas Armadas
        Revolucionarias de Colombia; con el Ejército de Liberación Nacional de
        Colombia. Nadie se moleste por ello. Es imprescindible hacerlo.”
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de
        2008
      </p>
      <p class="cita1">
        “Yo decidí, mi sueldo de Presidente darlo en beca para tres estudiantes
        venezolanos”.
      </p>
      <p class="piecita1">
        Programa Nro. 1 - Aló Presidente. Sede de Radio Nacional de Venezuela.
        23 de mayo de 1999
      </p>
      <p class="cita1">
        “Nos duele de verdad, en el corazón nos duele y nos indigna la tragedia
        por la que atraviesa el pueblo de los Estados Unidos. Hemos manifestado
        nuestra solidaridad por una parte y nuestro rechazo más contundente a
        esas abominables acciones de terrorismo” (A los EEUU sobre el atentado
        del 11 de septiembre)
      </p>
      <p class="piecita1">
        Discurso en la presentación del Plan de Desarrollo Económico y Social de
        la Nación, 2001-2007. Palacio Federal Legislativo, 28 de septiembre de
        2001
      </p>
      <p class="cita1">
        “Felicito al Camarada Diputado Fernando Soto Rojas por su excelente
        labor al frente de la Asamblea Nacional! Bravo Camarada! Misión
        Cumplida!!”
      </p>
      <p class="piecita1">Hugo Chávez Frías @chavezcandanga. 5 enero de 2012</p>
      <p class="cita1">
        “Desde aquí, Ingrid: ¡coraje, muchacha!, ¡coraje, compatriota!, ¡coraje
        compañera! Ya oíste a tus hijos, a tu madre. Te queremos mucho, y a
        todos los que están secuestrados, ¡coraje!, seguiremos trabajando y
        haciendo lo que podamos, con el favor de Dios, para que ojalá, no es que
        haya nuevos grupos, sino que haya un solo grupo y sean todos la próxima
        vez.” (En relación a la ayuda humanitaria para el rescate de Clara,
        Consuelo y Enmanuel.)
      </p>
      <p class="piecita1">
        Conferencia de Prensa Ofrecida por el Presidente de la República
        Bolivariana de Venezuela, Hugo Chávez, a medios internacionales. Salón
        Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>
      <p class="cita1">
        “Hoy ratificamos la denuncia y la condena del vergonzoso bloqueo
        imperial a la Cuba martiana y revolucionaria; la continua colonización
        y, ahora, la militarización progresiva de las Islas Malvinas”.
      </p>
      <p class="piecita1">
        Mensaje del presidente de la República Bolivariana de Venezuela Hugo
        Chávez a la Cumbre de la Comunidad de Estados Latinoamericanos y
        Caribeños 28 de enero de 2013
      </p>
      <p class="cita1">
        “El embajador Germán Sánchez acompañó a la misión humanitaria por
        solicitud expresa del Presidente Uribe. El Presidente Uribe llamó al
        Presidente Fidel y Fidel llama pidiendo nuestra opinión, y yo
        inmediatamente dije, por supuesto, es una honra que el pueblo cubano
        esté representado con su embajador en esta misión.” (El rescate de
        Ingrid Betancourt)
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de
        2008
      </p>
      <p class="cita1">
        “Gran parte del país permanece bajo las aguas, aún vemos los desgarrones
        en los cerros y puentes; vías y represas tienen las huellas de los
        estragos”.
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Viva Bolívar! ¡Bolívar Vive!. 19 diciembre 2010
      </p>
      <p class="cita1">
        “Las amenazas de guerra contra Irán que es un aliado nuestro, y un país
        miembro de la OPEP, y eso puede generar un gran desequilibrio en el
        mundo, si Estados Unidos atropella a Irán, bueno más de lo que lo ha
        atropellado, lo tienen bloqueado con sanciones y lo tienen rodeado por
        barcos y submarinos nucleares.”
      </p>
      <p class="piecita1">
        Acto de Graduación de la II Promoción de la Policía Nacional Bolivariana
        Teatro Teresa Carreño. 20 de julio de 2010
      </p>
      <p class="cita1">
        “Nosotros estamos liberados de ese viejo modelo, y queremos ayudar a
        liberar a otros países de ese viejo modelo. Queremos ayudar a liberar a
        Bolivia, por ejemplo. A otros países ¡juntos liberarnos! Paraguay,
        Uruguay, Ecuador, países pequeños, países muy atrasados, países que
        fueron dominados por un coloniaje, por unas élites que se entregaron al
        imperio y no tienen músculos suficientes todavía para desarrollarse,
        pero que tienen potencial productivo.”
      </p>
      <p class="piecita1">
        Llegada del presidente de la República Bolivariana de Venezuela, Hugo
        Chávez Frías, a la ciudad de Teherán República Islámica de Irán. 30 de
        junio de 2007
      </p>
      <p class="cita1">
        “Por primera vez en estos años, en este ir y venir entre Venezuela y
        Argentina, entre Argentina y Venezuela, llegamos a Buenos Aires el
        jueves 28 de octubre con el llanto del Caribe y con el llanto del
        Orinoco que no quisieron guardar ni un minuto, ni siquiera un segundo de
        silencio por la tristeza que nos embarga: por el dolor mayor que
        compartimos plenamente con el gran pueblo argentino ante la pérdida de
        este justo, de este valiente.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Por siempre Néstor! ¡Fuerza Cristina!. 21
        Noviembre 2010
      </p>
      <p class="cita1">
        “Particularmente crítica ha sido y es la situación en Falcón, Vargas,
        Miranda y Distrito Capital. Pero los efectos de las lluvias se han hecho
        sentir, también, en Anzoátegui, Sucre, Nueva Esparta, Carabobo, Yaracuy,
        Zulia y Trujillo. Hemos tenido que lamentar la dolorosa pérdida de 32
        valiosas vidas humanas.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Pueblo y Gobierno Unidos! 05 Diciembre 2010
      </p>
      <p class="cita1">
        “Lo que nos tiene que mover es el objetivo de la liberación de nuestras
        hermanas Clara y Consuelo y de Emmanuel.”
      </p>
      <p class="piecita1">
        Conferencia de Prensa Ofrecida por el Presidente de la República
        Bolivariana de Venezuela, Hugo Chávez, a medios internacionales. Salón
        Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>
      <p class="cita1">
        “Quiero saludar muy especialmente a la doctora Tibisay Lucena y a todo
        el personal del Consejo Nacional Electoral, ella ha estado un poco
        enferma pero ayer hablé con ella, se va recuperando, le deseamos que se
        recupere plenamente, estoy seguro que va a ser así.”
      </p>
      <p class="piecita1">
        Conmemoración de los 10 años de la derrota del paro patronal y la
        promulgación de la Ley de Tierras. Teatro Municipal, 10 de diciembre de
        2011
      </p>
      <p class="cita1">
        “Nosotros tenemos muchos fondos de cooperación. Y esto sería un fondo,
        uno más de nuestros empeños de cooperación, sólo que no conocemos el
        fondo del fondo.”
      </p>
      <p class="piecita1">
        Declaraciones del Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez Frías, a su salida de la III Cumbre de la OPEP. Riad, Arabia
        Saudita. 18 de noviembre de 2007
      </p>
      <p class="cita1">
        “Yo anoche, también, debo decirlo así, aprobé en la instancia que me
        corresponde, la condenación de una pequeña deuda que El Salvador tenía
        con Venezuela hace varios años. Esto es una acción no sólo de Venezuela,
        sino de varios países, también México”
      </p>
      <p class="piecita1">
        (Debido al terremoto de El Salvador) Aló, Presidente” N° 63. Salón
        Bolívar. Ministerio de Defensa. 4 de marzo de 2001
      </p>
      <p class="cita1">
        “Hemos estado multiplicando los espacios para albergar a las miles de
        familias afectadas. Ya pasan de 70 mil los venezolanos y venezolanas que
        están siendo atendidos en los refugios.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Pueblo y Gobierno Unidos! 05 Diciembre 2010
      </p>
      <p class="cita1">
        “Los países más pequeños se quejan de los más grandes muchas veces por
        falta de sensibilidad, falta de cooperación.”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “A mí me acusan por ahí, algunos escuálidos todavía, de que ando
        regalando el país, regalando el petróleo, cosa que es incierta; lo que
        estamos es ayudando, con mecanismos flexibles de financiamiento, a
        países muy pobres.”
      </p>
      <p class="piecita1">
        Apoyo a la Inventiva Tecnológica Nacional Torre Ministerial, Caracas. 19
        de junio de 2007
      </p>
      <p class="cita1">
        “Quiero rendir tributo a Danilo Anderson desde este estrado y este
        escenario, mártir del 2004 y de siempre. Pagó con su vida el atreverse a
        actuar, solo para que se imponga la justicia, nada más”.
      </p>
      <p class="piecita1">
        Mensaje anual del Presidente Hugo Chávez, desde el Palacio Legislativo,
        el 14 de enero de 2005
      </p>
      <p class="cita1">
        “Soy el hermano más oscuro de América, pidiendo justicia e igualdad para
        la raza negra americana, para los afroamericanos; también somos
        americanos”.
      </p>
      <p class="piecita1">Estados Unidos Del 15 al 17 de Septiembre de 2006</p>
      <p class="cita1">
        “Cuba es un bastión de la dignidad latinoamericana y como tal hay que
        verla y como tal hay que seguirla y como tal hay que alimentarla”.
      </p>
      <p class="piecita1">
        Palabras de Hugo Chávez en el acto efectuado en su honor, durante su
        primera visita a la República de Cuba, Aula Magna de la Universidad de
        La Habana, 14 de diciembre de 1994
      </p>
      <p class="cita1">
        “Venezuela está aportando, modestamente, un gramo de esperanza a la
        batalla por ese otro mundo posible.”
      </p>
      <p class="piecita1">
        Rueda de Prensa Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez Frías, con corresponsales extranjeros. Sala de Prensa Simón
        Bolívar. Palacio de Miraflores. 6 de junio de 2007
      </p>
      <p class="cita1">
        “Venezuela está dispuesta a mover parte de sus reservas internacionales,
        que están por el orden de casi 30 mil millones de dólares, a ese banco;
        pero lo haríamos ya, si el banco se activara. ¿Cuánto?, ¿cinco mil
        millones?, pudiera ser una cifra racional para comenzar, si otros países
        hacen lo mismo o aportan lo que puedan, y logramos nosotros redondear
        unos diez mil millones de dólares para comenzar.” (El Banco del Sur)
      </p>
      <p class="piecita1">
        Suscripción de acuerdos y rueda de prensa entre Ecuador y Venezuela,
        Salón Amarillo del Palacio de Carondelet. Quito, Ecuador. 9 agosto de
        2007
      </p>
      <p class="cita1">
        “En todo caso desde Castillete, allá en la Alta Guajira, hasta la Piedra
        del Cocuy, en esos varios miles de kilómetros de nuestra frontera común,
        Venezuela tiene los brazos abiertos como zona humanitaria, como zona de
        paz, y continuaremos haciendo los esfuerzos que haya que hacer.”
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de
        2008
      </p>
      <p class="cita1">
        “Quiero destacar la adquisición, por parte de Venezuela, de 49% de las
        acciones de la refinería estatal dominicana Refidomsa. Nuestro objetivo
        es apoyar a la República Dominicana en la conquista de su soberanía
        energética.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: A mi madre: ¡@madrecandanga! . 09 Mayo 2010
      </p>
      <p class="cita1">
        “Ese bloque, o esa parte del bloque Suramérica, tiene ya reservas
        probadas hasta ahora de 10,5 millardos de barriles, es una reserva casi
        equivalente a todas las reservas sumadas de Suramérica, exceptuando las
        de Venezuela. Bueno, ese bloque nosotros queremos ponerlo a disposición
        de todos los países de Suramérica, ahí hay petróleo para todos.”
      </p>
      <p class="piecita1">
        Instalación de la I Cumbre Energética Suramericana Gran Salón Hotel
        Hilton Margarita, Porlamar, estado Nueva Esparta. 17 de abril de 2007
      </p>
      <p class="cita1">
        “Ojalá consiga más petróleo Colombia, y ojalá Ecuador consiga más
        petróleo.”
      </p>
      <p class="piecita1">
        Declaraciones del Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez Frías, a su salida de la III Cumbre de la OPEP. Riad, Arabia
        Saudita. 18 de noviembre de 2007
      </p>
      <p class="cita1">
        “Sabemos que Clara Rojas era la compañera de Ingrid en la fórmula
        presidencial, ¿no? En la candidatura de aquél año cuando fueron
        secuestradas” (En relación a la ayuda humanitaria para el rescate de
        Clara, Consuelo y Enmanuel.)
      </p>
      <p class="piecita1">
        Conferencia de Prensa Ofrecida por el Presidente de la República
        Bolivariana de Venezuela, Hugo Chávez, a medios internacionales. Salón
        Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>
      <p class="cita1">
        “¡Por siempre Néstor! ¡Fuerza Cristina!”, es la consigna que se repite
        por doquier: es la expresión combativa del amor de un pueblo pleno de
        gratitud y de orgullo; es el renovado testimonio de su inquebrantable
        compromiso con la Argentina que, primero con Néstor y ahora con
        Cristina, cambió para siempre.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Por siempre Néstor! ¡Fuerza Cristina!. 21
        Noviembre 2010
      </p>
      <p class="cita1">
        “Porque la situación de ustedes es mucho más grave y nosotros estamos
        levantando el sistema energético nuestro y frenando el derroche,
        incrementando la eficiencia energética, estableciendo incluso un perfil
        nuevo, un perfil energético nuevo.”
      </p>
      <p class="piecita1">
        Entrega del Doctorado Honoris Causa de la Universidad Nacional de
        Ingeniería al presidente de la República Bolivariana de Venezuela, Hugo
        Chávez. Plaza del Rectorado. Managua, Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “En otra ocasión nos acusaron de... Rodríguez Chacín, creo que tú fuiste
        a buscar a aquel guerrillero muy mal herido, casi moribundo, creo que no
        murió finalmente, gracias a Dios, pero estaba casi muriéndose; la Cruz
        Roja nos solicita apoyo, el Gobierno de Colombia nos pide apoyo porque
        la Cruz Roja lo solicitaba: hay un moribundo en tal sitio y no se puede
        sacar. ¡Es un ser humano, vale! Apenas nos autorizaron, miren, un
        helicóptero, este mismo Rodríguez Chacín, Ramón Rodríguez Chacín allá
        fue, lo rescatamos, lo trajimos a un aeropuerto en Maracaibo y de ahí a
        La Habana, coordinado con el Gobierno cubano.”
      </p>
      <p class="piecita1">
        Conferencia de Prensa Ofrecida por el Presidente de la República
        Bolivariana de Venezuela, Hugo Chávez, a medios internacionales. Salón
        Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>
      <p class="cita1">
        “La justicia está incontestablemente del lado de Cuba y de la Argentina.
        Si somos una Nación de Repúblicas, nuestra soberanía es la de toda la
        Patria Grande, y debemos hacerla respetar.”
      </p>
      <p class="piecita1">
        Mensaje del Presidente de la República Bolivariana de Venezuela Hugo
        Chávez Frías a la Cumbre de la Comunidad de Estados Latinoamericanos y
        Caribeños. 28 de enero de 2013
      </p>
      <p class="cita1">
        “Venezuela está recibiendo crudo ecuatoriano a cambio de derivados, no
        nos cuesta nada, nos hace felices más bien, si es que lo quisimos hacer
        de hace mucho tiempo.”
      </p>
      <p class="piecita1">
        Firma de Acuerdos y rueda de prensa conjunta de los presidentes de la
        República Bolivariana de Venezuela y la República del Ecuador. 07 de
        junio de 2011
      </p>
      <p class="cita1">
        “Cada persona de los que ha sufrido el impacto de esta tragedia, tiene y
        tendrá la atención del estado, incluso les estamos dando un crédito.”
        (En relación a la tragedia de Vargas)
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 028. Edo. Bolívar. 30 de Enero de 2000
      </p>
      <p class="cita1">
        “Pero hoy, qué alegría y qué felicidad de ver a la Argentina de pie de
        nuevo”.
      </p>
      <p class="piecita1">
        Discurso en el campo de rugby de la Universidad de Córdoba, Argentina.
        21 de julio de 2006
      </p>
      <p class="cita1">
        “Me dijo, ayúdame estoy muerto de hambre, así me dijo; entonces está
        desempleado, mandamos una comisión; 24 hijos tiene Laurencio Pérez, más
        de 40 nietos, realismo mágico, ¿te das cuenta?”
      </p>
      <p class="piecita1">
        Aló Presidente N º 377. Salón Néstor Kirchner. Palacio de Miraflores. 22
        de enero de 2012
      </p>
      <p class="cita1">
        “Yo lo reivindico, no me importa lo que digan mañana en Europa (…) Está
        condenado a cadena perpetua en Francia, y lo acusan de terrorista. Pero
        Carlos lo que fue en verdad, fue un luchador revolucionario”.
      </p>
      <p class="piecita1">Sobre Carlos “El Chacal”, Noviembre 2009</p>
      <p class="cita1">
        “Nosotros queremos ayudar a esos países también, nos obliga el sentir
        bolivariano, seríamos egoístas si anduviéramos hablando sólo por
        Venezuela. Sobre todo nos preocupamos por los más pequeños.”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Nosotros tenemos petróleo para garantizar el suministro al mundo, ¿ves?
        Sólo los que tienen problemas son los más pobres, por eso yo coloco eso
        siempre en la mesa.”
      </p>
      <p class="piecita1">
        Declaraciones del Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez Frías, a su salida de la III Cumbre de la OPEP. Riad, Arabia
        Saudita. 18 de noviembre de 2007
      </p>
      <p class="cita1">
        “Al mal tiempo buena cara, primero la moral, el espíritu de lucha contra
        la adversidad. Hay que sobreponerse con mucho espíritu”
      </p>
      <p class="piecita1">
        Aló Presidente N° 11. Sede de Radio Nacional de Venezuela, Caracas. 22
        de agosto de 1999
      </p>
      <p class="cita1">
        “Ha muerto Vilma Espín, heroína cubana. Nuestro pesar al pueblo cubano y
        a su esposo, el general de Ejército Raúl Castro. Hoy hemos enviado
        nuestro mensaje de pesar al pueblo cubano. Una heroína, desde los días
        de la Sierra Maestra vino Vilma Espín con los fusiles en la mano.”
      </p>
      <p class="piecita1">
        Apoyo a la Inventiva Tecnológica Nacional Torre Ministerial, Caracas. 19
        de junio de 2007
      </p>
      <p class="cita1">
        “Los capitalistas ven a los indigentes como deshechos, incluso no
        quieren verlos; nosotros vamos por ellos donde estén, sea cual sea su
        condición, aunque estén a las puertas del infierno.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 257. Parque Nacional El Ávila, 4 de junio de 2006
      </p>
      <p class="cita1">
        “Pronta recuperación a los que resultaron heridos en esta lamentable
        tragedia!! Estamos pendientes de ustedes... Vamos a Vivir!!”
      </p>
      <p class="piecita1">
        Hugo Chávez Frías @chavezcandanga. 29 diciembre de 2011
      </p>
      <p class="cita1">
        “Esas plantas que aquí han llegado, nosotros, sólo por cumplir con un
        mandato de nuestra... bueno, de nuestra alma y con nuestra ética y
        nuestros principios de solidaridad, sabiendo las dificultades de
        Nicaragua, hemos enviado para acá 32 plantas para generar 60 megavatios;
        esas plantas iban desde Cuba a Venezuela, iban para Venezuela, las
        desviamos hasta acá.”
      </p>
      <p class="piecita1">
        Entrega del Doctorado Honoris Causa de la Universidad Nacional de
        Ingeniería al presidente de la República Bolivariana de Venezuela, Hugo
        Chávez. Plaza del Rectorado. Managua, Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “Vamos a fabricar medicinas. Cuánto pudiéramos hacer, si Venezuela con
        todas nuestras debilidades y nuestra pobreza y nuestro atraso hacemos
        esfuerzos por ayudar y algo ayudamos”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Respondieron rápido y todos aquellos presidentes a quienes llamé, de
        inmediato, después de una breve explicación, mostraron su disposición a
        cooperar y a participar, a participar en la operación de rescate
        humanitario”
      </p>
      <p class="piecita1">
        Conferencia de Prensa Ofrecida por el Presidente de la República
        Bolivariana de Venezuela, Hugo Chávez, a medios internacionales. Salón
        Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>
      <p class="cita1">
        “Nosotros aportamos al año, sólo en América Latina, más de 5 mil
        millones de dólares en cooperación. ¡5 mil millones! Ni los Estados
        Unidos lo hacen. Y eso lo hacemos porque lo sentimos de corazón con
        nuestros hermanos más pobres.”
      </p>
      <p class="piecita1">
        Declaraciones del Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez Frías, a su salida de la III Cumbre de la OPEP. Riad, Arabia
        Saudita. 18 de noviembre de 2007
      </p>
      <p class="cita1">
        “La solidaridad militante, no podemos permitir que esta ocasión se
        pierda porque ya se han perdido varias ocasiones a lo largo de la
        historia, es una ocasión sublime la que estamos viviendo.”
      </p>
      <p class="piecita1">
        Discurso en el campo de rugby de la Universidad de Córdoba, 21 de julio
        de 2006
      </p>
      <p class="cita1">
        “Más allá de las diferencias puntuales que tuvimos en su momento, a este
        gran camarada lo recordaré siempre con el más profundo afecto y nunca
        dejaré de reconocer su integridad y su firmeza. ¡Honor y gloria a Luis
        Tascón! Y todo mi sentimiento para sus seres queridos.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: “La función debe continuar”. 15 Agosto 2010
      </p>
      <p class="cita1">
        “El mundo pareciera que está loco loco, se acuerdan de aquella vieja
        película el mundo está loco loco loco, bueno los jóvenes no se acuerdan
        no había nacido, el imperialismo tiene loco al mundo, vean lo que está
        pasando en el norte de África es lamentable, desde aquí enviamos nuestro
        saludo al pueblo árabe, al pueblo libio, al líder Gadaffi.”
      </p>
      <p class="piecita1">
        Balcón del pueblo, Palacio de Miraflores. 22 de mayo de 2011
      </p>
      <p class="cita1">
        “No hemos querido perder un segundo en la elaboración y en la activación
        de las fórmulas, las opciones para el rescate, la recepción y
        liberación; ojalá, pidamos al Niño Dios en estos días de su nacimiento,
        aniversario de su nacimiento, que también nos ayude, sobre todo porque
        hay un niño allí, Emmanuel, que ya estoy ansioso por darle un beso y un
        abrazo al niño que nació en la selva, a su madre Clara y a Consuelo,
        hermanas de Colombia, hermanas de esta tierra, hermanas de este pueblo.”
      </p>
      <p class="piecita1">
        Conferencia de Prensa Ofrecida por el Presidente de la República
        Bolivariana de Venezuela, Hugo Chávez, a medios internacionales. Salón
        Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>
      <p class="cita1">
        “Quiero hablar desde la lágrima que me cruza el alma como un lanzazo,
        desde hace días, por Jennifer Carolina Viera y Edwin “el Inca” Valero:
        vaya, primero que nada, el testimonio de mi total solidaridad para sus
        familias.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡¡Tremendo Desfile!!. 25 Abril 2010
      </p>
      <p class="cita1">
        “Nosotros —modestamente lo digo, pero lo digo con amor profundo— estamos
        haciendo con el petróleo lo que los libertadores hicieron con la espada,
        porque cuando llega Pdvsa a un país, llámese Cuba, llámese Jamaica,
        llámese San Vicente, Las Granadinas, Argentina o cual sea, Pdvsa va a
        ayudar a liberar a esos países del chantaje internacional de las grandes
        transnacionales petroleras.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores. 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Si nosotros producimos equis, ye o zeta, estas cosas, primero será para
        nuestro país, pero pensemos en el resto de los países pobres.”
      </p>
      <p class="piecita1">
        Apoyo a la Inventiva Tecnológica Nacional Torre Ministerial, Caracas. 19
        de junio de 2007
      </p>
      <p class="cita1">
        “Si alguien pudiera pensar que es un plan secreto, que hay algo
        escondido entre Chávez y Marulanda, o con Fidel “el genio malévolo”,
        como llama Estados Unidos a Fidel; bueno, ahí están, ¿quién puede pensar
        que el Gobierno de Francia a través de su embajador se va a prestar? O
        el de Bolivia, o el de Ecuador, Brasil, Argentina para convalidar algo
        escondido, algo turbio.” (En relación a la ayuda humanitaria para el
        rescate de Clara, Consuelo y Enmanuel.)
      </p>
      <p class="piecita1">
        Conferencia de Prensa Ofrecida por el Presidente de la República
        Bolivariana de Venezuela, Hugo Chávez, a medios internacionales. Salón
        Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>
      <p class="cita1">
        “El pueblo árabe sabe que nosotros los revolucionarios tenemos un
        profundo sentimiento de solidaridad”.
      </p>
      <p class="piecita1">
        Llegada de Hugo Chávez a Damasco, Siria. 20 de octubre de 2010.
      </p>
      <p class="cita1">
        “Ahora estamos en África también, ayudando de alguna manera en algunos
        países africanos.”
      </p>
      <p class="piecita1">
        Declaraciones del Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez Frías, a su salida de la III Cumbre de la OPEP. Riad, Arabia
        Saudita. 18 de noviembre de 2007
      </p>
      <p class="cita1">
        “Yo felicito a la presidenta de la Asamblea Nacional, ha sido ratificada
        la diputada Cilia Flores. Desde aquí, Cilia, felicitaciones.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 299. Escuela de Formación Socialista Ezequiel Zamora.
        6 de enero de 2008
      </p>
      <p class="cita1">
        “Hemos solicitado también la cooperación y agradecemos a la Cruz Roja
        Internacional su participación en esta operación humanitaria, esos
        helicópteros, sobre todo los helicópteros van a llevar el símbolo de la
        Cruz Roja, ya los tenemos listos, la calcomanía, todo está listo” (En
        relación a la ayuda humanitaria para el rescate de Clara, Consuelo y
        Enmanuel.)
      </p>
      <p class="piecita1">
        Conferencia de Prensa Ofrecida por el Presidente de la República
        Bolivariana de Venezuela, Hugo Chávez, a medios internacionales. Salón
        Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>
      <p class="cita1">
        “La operación humanitaria “Transparencia”, es con transparencia. Las
        opciones clandestinas también las tenemos, las estamos trabajando pero
        por supuesto son clandestinas, obviamente no puedo decir nada al
        respecto, pero no quisiera activar ninguna operación clandestina, ya lo
        he explicado. ¡Ojalá!” (En relación a la ayuda humanitaria para el
        rescate de Clara, Consuelo y Enmanuel.)
      </p>
      <p class="piecita1">
        Conferencia de Prensa Ofrecida por el Presidente de la República
        Bolivariana de Venezuela, Hugo Chávez, a medios internacionales. Salón
        Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>
      <p class="cita1">
        “Mientras un grupo de naciones soberanas luchamos por incrementar la
        ayuda humanitaria, el empeño del Comando Sur se afinca en el incremento
        de la presencia militar del Imperio”.
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Contraataque Bolivariano!. 24 Enero 2010
      </p>
      <p class="cita1">
        “No queremos que le falte a ningún pueblo nada, ni una gota de energía
        para su desarrollo. Y para ello ponemos a disposición el potencial que
        tenemos y que hemos recuperado.”
      </p>
      <p class="piecita1">
        Suscripción de acuerdos y rueda de prensa entre Ecuador y Venezuela,
        Salón Amarillo del Palacio de Carondelet. Quito, Ecuador. 9 agosto de
        2007
      </p>
      <p class="cita1">
        “El hecho de que todos los presidentes nos reuniéramos en Buenos Aires
        en horas de la noche del mismo 30 de septiembre, para ofrecerle todo
        nuestro respaldo al Gobierno de Correa, es una clara señal, para la
        derecha, de que el golpismo fascista ya no tiene vida en la América del
        Sur.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Salve, oh Patria, mil veces! ¡Oh Patria!. 03
        Octubre 2010
      </p>
      <p class="cita1">
        “Nosotros estaremos trabajando hasta que sea necesario y hasta que se
        cumpla el objetivo de la operación humanitaria. (En relación a la ayuda
        humanitaria para el rescate de Clara, Consuelo y Enmanuel.)
      </p>
      <p class="piecita1">
        Conferencia de Prensa Ofrecida por el Presidente de la República
        Bolivariana de Venezuela, Hugo Chávez, a medios internacionales.Salón
        Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>
      <p class="cita1">
        “A la empresa Citgo le dije que mandara a hacer un estudio de cómo
        sanear ese río. Claro, es largo, pero en esa pequeña parte… No podemos
        asumir eso, pero al menos ayudar allí con algunas plantas pequeñas,
        porque hay unos terrenos y les dije que pudieran sembrar ahí. “Sí, ¿pero
        con qué agua regamos, si esa está contaminada?”. En algunos pequeños
        espacios.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores. 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Los familiares ustedes saben que se han dirigido pública y
        privadamente, por cartas, a Piedad y a mí para que no desistamos y
        nosotros hemos respondido en privado y en público que cuenten con
        nosotros.” (En relación a la ayuda humanitaria para el rescate de Clara,
        Consuelo y Enmanuel.)
      </p>
      <p class="piecita1">
        Conferencia de Prensa Ofrecida por el Presidente de la República
        Bolivariana de Venezuela, Hugo Chávez, a medios internacionales. Salón
        Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>
      <p class="cita1">
        “Jorge (Rodríguez) desde aquí un abrazo y todo mi agradecimiento,
        sincero agradecimiento por todo el esfuerzo y esa dura jornada que fue
        el 2007, dura jornada.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 299 Escuela de Formación Socialista Ezequiel Zamora. 6
        de enero de 2008
      </p>
      <p class="cita1">
        “Buscamos estos helicópteros, estos aviones, esta comisión internacional
        para llegar lo más cerca posible de donde ellos estén y minimizar el
        riesgo” (En relación a la ayuda humanitaria para el rescate de Clara,
        Consuelo y Enmanuel.)
      </p>
      <p class="piecita1">
        Conferencia de Prensa Ofrecida por el Presidente de la República
        Bolivariana de Venezuela, Hugo Chávez, a medios internacionales Salón
        Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>
      <p class="cita1">
        “Yo le mandé una carta hasta a un preso venezolano que está en Francia,
        Carlos Ilich Ramírez, El Chacal ¿Por qué? Porque ese es un venezolano
        que está en prisión y aunque haya hecho lo que haya hecho es un
        venezolano y tiene derecho, tiene sus derechos, tiene sus derechos.”
      </p>
      <p class="piecita1">
        Aló Presidente Programa Nro. 44 Desde El Palacio de Miraflores 24 de
        septiembre de 2000
      </p>
      <p class="cita1">
        “Tenemos varios meses en esto pero aún no lo hemos hecho, yo quiero
        firmar, el abogado, qué sé yo, para donar mis órganos; le hago un
        llamado a los venezolanos porque a veces se salvan muchas o cuántas
        vidas no se salvan o no se salvan porque no hay un órgano, un donante a
        tiempo; el caso de los riñones es dramático.”
      </p>
      <p class="piecita1">
        Aló Presidente Programa Nro. 47 Desde El Palacio de Miraflores 15 de
        octubre De 2000
      </p>
      <p class="cita1">
        “Si a mí se me ocurre algún día, pudiera ocurrírseme, no se me ha
        ocurrido pero pudiera ocurrírseme, mañana o pasado mañana ver a algún
        país hermano ahogándose en la más espantosa miseria, y se me ocurre que
        habría que regalarle un barril de petróleo diario aun pueblo hermano, yo
        someto eso a referéndum.”
      </p>
      <p class="piecita1">
        Aló Presidente Programa Nro. 47 Desde El Palacio de Miraflores 15 de
        octubre De 2000
      </p>
      <p class="cita1">
        “Ningún hombre es honesto si sabiendo que hay alguien cerca de él
        sufriendo y no hace nada por aliviar en parte ese sufrimiento, aunque
        sea el intento, porque uno pues a veces, cuántas limitaciones, pero
        aunque sea intenta.” (Parafraseando a Martí.)
      </p>
      <p class="piecita1">
        Aló Presidente Programa Nro. 49 Desde el Campo de Carabobo, estado
        Carabobo 29 de octubre de 2000
      </p>
      <p class="cita1">
        “Necesitamos hombres, mujeres y niños republicanos que pensemos en los
        demás, que pensemos en el interés del común, que pensemos en el interés
        colectivo.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 40 Desde la Sede de Radio Nacional de Venezuela 27 de
        Agosto de 2000
      </p>
      <p class="cita1">
        “Hago un llamado a todos los venezolanos a que pongamos en primer lugar
        el espíritu de solidaridad, de hermandad. Las virtudes humanas, los
        valores, el respeto a la vida. ¿Cómo alguien va a estar matando a otra
        persona? ¿Cómo alguien va a estar atropellando a otra persona?
        Quitándole su propiedad, quitándole su vida.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 45. Desde el Palacio de Miraflores 01 de Octubre de
        2000
      </p>
      <p class="cita1">
        “Es la vida en sociedad, la solidaridad, vivir no para uno sino vivir
        para los demás.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 46. Aeropuerto Antonio Nicolás Briceño. Valera, Estado
        Trujillo 08 de octubre de 2000
      </p>
      <p class="cita1">
        “Hay que pedirle, exigir, no sólo pedir como un favor, exigir, por la
        Constitución Revolucionaria Bolivariana a los sectores privados que
        colaboren en la emergencia, es una responsabilidad y nadie puede negarse
        a colaborar con la vida de un ser humano.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 46. Aeropuerto Antonio Nicolás Briceño. Valera, Estado
        Trujillo 08 de octubre de 2000
      </p>
      <p class="cita1">“El médico tiene que dar su vida por los demás.”</p>
      <p class="piecita1">
        Aló Presidente N° 46. Aeropuerto Antonio Nicolás Briceño. Valera, Estado
        Trujillo 08 de octubre de 2000
      </p>
      <p class="cita1">
        “Muchos médicos cubanos han muerto aquí; yo he propuesto que le vayamos
        dando nombre de esos mártires a nuestros centros integrales a los nuevos
        CAT, CDI, que les pongamos el nombre de los médicos que han muerto,
        médicos cubanos que dieron su vida aquí por la salud y la vida del
        pueblo bolivariano del pueblo venezolano. ¡Barrio Adentro, Barrio
        Adentro, Barrio Adentro!”
      </p>
      <p class="piecita1">
        Aló Presidente N° 341 Centro Diagnóstico Integral Caucagua Municipio
        Acevedo, Estado Miranda Domingo, 4 de octubre de 2009
      </p>
      <p class="cita1">
        “Hoy es Día del empleado público, de la empleada pública. Yo prefiero
        llamar servidores públicos y servidoras públicas, vamos a felicitarlos a
        todos.”
      </p>
      <p class="piecita1">
        Fiesta 106.5 FM La fiesta de Full chola Desde el Palacio de Miraflores,
        Caracas Martes 4 de septiembre de 2012
      </p>
      <p class="cita1">
        “En Miraflores todavía hay refugiados, todavía hay y yo siempre lo digo,
        si este salón hubiera que convertirlo en un apartamento yo no tengo
        problemas, si mi despacho, el despacho mío ahí pueden poner unas camas,
        hay un baño al lado y yo me pongo a vivir en una carpa, no tengo
        problema, si eso hubiera que hacerlo yo lo haría encantado de la vida.”
      </p>
      <p class="piecita1">
        II entrega de asignaciones económicas a la Gran Misión Hijos de
        Venezuela y la Gran Misión Amor Mayor Venezuela.. Salón Ayacucho,
        Palacio de Miraflores Caracas, jueves 9 de febrero de 2012
      </p>
      <p class="cita1">
        “Impulsamos y llamamos al mundo a exigir que se respeten los derechos
        del pueblo Saharaui, del pueblo árabe como un todo y cuando uno habla
        hoy en día del pueblo árabe cómo olvidar el dolor del pueblo iraquí que
        está siendo atropellado por el imperio, bombardeado y masacrado.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 207 Desde la Refinería de Puerto La Cruz. Estado
        Anzoátegui Domingo, 10 de octubre de 2004
      </p>
      <p class="cita1">
        “En El Salvador hay un pueblo hecho por los venezolanos, un pueblo
        después del terremoto. Allá en Cuba estamos, ya se levantó la primera
        casa, vamos a dejar un pueblo allá en el Municipio Sandino. En Grenada
        igual, estamos haciendo un pueblo. Nosotros queremos dejar obras que
        perduren.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 210 Desde el Palacio de Miraflores Domingo 9 de Enero
        de 2005
      </p>
      <p class="cita1">
        “He decretado cinco días de duelo nacional, por la muerte de su
        Santidad, el Papa Juan Pablo II.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 217 Desde Las Queseras del Medio. Estado Apure Domingo
        3 de Abril de 2005
      </p>
      <p class="cita1">
        “Estamos todos muy sentidos, acongojados y nos unimos al duelo mundial,
        al luto mundial, por la lamentable muerte de su Santidad, Juan Pablo II.
        Juan Pablo II no ha sido un Papa más, no. Juan Pablo II deja una huella
        imborrable que quedará por siglos en la mente.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 217 Desde Las Queseras del Medio. Estado Apure Domingo
        3 de Abril de 2005
      </p>
      <p class="cita1">
        “¡Qué sentimiento tan hermoso le queda a uno después de sentirse útil
        para otra persona!, sin nada a cambio, sin ningún interés, sólo aportar,
        ayudar. Por eso yo invito a cada venezolano que pueda darle la mano a
        alguien, que pueda ayudar a alguien. ¡Vamos!, incorpórese a la maravilla
        de lo que es la solidaridad social, de lo que es el sentimiento y la
        ayuda por los demás.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 20 Radio Nacional de Venezuela Domingo14 de
        Noviembre de 1999
      </p>
      <p class="cita1">
        “No hay nadie en la calle desamparado, incluso si algún venezolano se
        siente hoy desamparado, venga a mí que tengo flores.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 26 Sede de la Radio Nacional de Venezuela 16 enero de
        2000
      </p>
      <p class="cita1">
        “En Haití estamos contribuyendo en la distribución de alimentos, hemos
        enviado toneladas de alimentos, de agua potable, de medicamentos,
        frazadas, colchonetas, mosquiteros; en Cuba también estamos enviando
        láminas de techo con toda su tubería, los tornillos para rehacer los
        techos de las viviendas muchas viviendas permanecen en pie pero el
        huracán le lleva los techos, así que en Jamaica también.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 205 Desde Parque Sur. Estado Zulia Domingo, 26 de
        septiembre de 2004
      </p></ion-card-content
    >
  </ion-card>
</ion-content>
