<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/sarcastico.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “¡Otro loro más! Ahora vestido de cardenal, es decir otro payaso
        imperialista, verdaderos payasos del imperialismo, otro payaso más,
        pues.” (Refiriéndose al cardenal de Honduras)
      </p>
      <p class="piecita1">
        Entrega del Premio Libertador al Pensamiento Crítico 2006 Sala Ríos
        Reyna, Complejo Cultural Teresa Carreño. Lunes, 23 de julio de 2007
      </p>
      <p class="cita1">“Escuálidos, ustedes son hasta flojos”.</p>
      <p class="piecita1">Cadena nacional. Agosto 2001</p>
      <p class="cita1">
        “Si yo fuera estadounidense, votaría por Obama. Y si él fuera de un
        barrio popular caraqueño, votaría por mí”.
      </p>
      <p class="piecita1">Septiembre de 2012</p>
      <p class="cita1">
        “Ojalá estos señores dejen su alboroto y cojan mínimo, y sencillamente,
        como dice una canción de Rocío Jurado: “Se acabó el amor” y hay
        divorcio, duele. Bueno, se acabó el amor, acéptenlo y busquen otro amor.
        Pero esos amores de ahí se acabaron.” (Refiriéndose a RCTV)
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores. 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Respetaré cualquier verdad, hasta las mentiras yo las respeto, que
        digan lo que quieran”.
      </p>
      <p class="piecita1">
        Aló Presidente, Nº 04. Palacio de Miraflores. 20 de junio de 1999
      </p>
      <p class="cita1">
        “Adiós que te vaya bien salta talanquera. Otro traidor más. No será el
        último. El gobernador de Monagas es un traidor”
      </p>
      <p class="piecita1">
        Sobre José Gregorio Briceño, expulsado del PSUV en 2012
      </p>
      <p class="cita1">
        “Aquellos que pudieran estar soñando con un golpe de Estado contra
        Chávez y andan tratando de alebrestar oficiales y buscar oficiales a ver
        quién se compromete, les voy a contar una anécdota, el que no coge
        consejo no llega a viejo.”
      </p>
      <p class="piecita1">
        Aló Presidente, N° 100. Parque Nacional El Ávila. 17 de marzo de 2002
      </p>
      <p class="cita1">
        “¿No saben ustedes, monseñores, que para reformar aunque sea una letra
        de la Constitución —ahora por primera vez en nuestra historia—, hay que
        ir a un referéndum nacional?, ¿No saben, monseñores?”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Rafael Caldera” -ése es el nombre que dijo la Señora Janeth. Un nombre
        pavoso. ¡Por favor!, en todo caso pasa por allá, échate unos ramazos
        antes de que vayas”.
      </p>
      <p class="piecita1">
        “Aló, Presidente” N° 37. Sede Televisa, Maracaibo–Edo Zulia. 10 de abril
        de 2000
      </p>
      <p class="cita1">“Hace cien años la oposición no era tan escuálida”.</p>
      <p class="piecita1">Cadena nacional. Junio 2001</p>
      <p class="cita1">
        “Cuídese mister Kerry, cuidado se lo raspan, mire, y le roban las
        elecciones, cuídese mister Kerry, porque el poder de corrupción del
        imperio y el poder y la inmoralidad no tiene límites, no tiene límites.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 200. Ciudad Vacacional Los Caracas. 1 de agosto de
        2004
      </p>
      <p class="cita1">
        “Me dijo: “¿Y tú, cómo está tu amistad con los empresarios?” “No, tengo
        muchos amigos”; le hablé de Cudemus [risas], que lo nombro siempre y lo
        tengo más rayado que un tigre.” (El Presidente Vladimir Putin)
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Busquen el Diccionario de la Real Academia Española, ése es un
        venezolanismo que significa: bueno. Éste es un vergatario.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 369. Escuela Básica Nacional “Flores de Catia”.
        Parroquia 23 de Enero. 9 de enero de 2011
      </p>
      <p class="cita1">
        “Tengo muchas asignaturas pendientes. Te voy a decir una cifra
        matemática: 2031. Saca tú tus conclusiones”.
      </p>
      <p class="piecita1">
        Entrevista “Yo soy así”, realizada por José Vicente Rangel, 7 de agosto
        de 2011 en la Academia Militar.
      </p>
      <p class="cita1">
        “Nadie le va a echar cuentos a quien conoce historia.”
      </p>
      <p class="piecita1">
        Aló Presidente, N° 100. Parque Nacional El Ávila. 17 de marzo de 2002
      </p>
      <p class="cita1">
        “Drácula está desesperado, el imperio norteamericano —que es Drácula—
        está desesperado porque se le acaba el petróleo, se le acaba la
        energía.”
      </p>
      <p class="piecita1">
        Entrega del Doctorado Honoris Causa de la Universidad Nacional de
        Ingeniería al presidente de la República Bolivariana de Venezuela, Hugo
        Chávez. Plaza del Rectorado. Managua, Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “Creo que estamos sufriendo de impotencia política. Necesitamos un
        viagra político”.
      </p>
      <p class="piecita1">Venezuela, diciembre 2006</p>
      <p class="cita1">
        “Pero en verdad esto es el colmo de la hipocresía, no se les ocurre más
        nada, ustedes no tienen otra palabrita que no sea misiones, pues, además
        falta de originalidad, señores de la Mesa de United State.”
      </p>
      <p class="piecita1">
        Juramentación de Ministros de Cultura, Juventud y del Comandante de la
        Guardia de Honor Presidencial Palacio de Miraflores, 1 de agosto de 2011
      </p>
      <p class="cita1">
        “Ellos (PDVSA) le mandan una lista de 100 personas para que usted escoja
        de ahí, y le dije mira, Diosdado «enrolla la hoja así y, ¿qué fue lo que
        te dije?, le mandas un cohetico pues. No sean mal pensados vale.
        «Enrolla la hojita así y se lo mandas por un cohetico».”
      </p>
      <p class="piecita1">
        Aló Presidente, N° 100. Parque Nacional El Ávila. 17 de marzo de 2002
      </p>
      <p class="cita1">
        “El escualidismo es la fase superior del puntofijismo”.
      </p>
      <p class="piecita1">Cadena nacional. Agosto 2001</p>
      <p class="cita1">
        “El Presidente Uribe tuvo el gesto de llamarme cuidando la luna de miel;
        lamentablemente, él después la rompió. ¡Él fue! Y me dijo: Mire,
        Presidente, quiero que sepa que voy a designar como Ministro de Defensa
        -antes de anunciarlo al público- a alguien que no ha sido muy amigo
        suyo, pero quiero que lo sepa. Eso va a cambiar de aquí en adelante; él
        va a cambiar. ¡Loro viejo no aprende a hablar!, pensé yo.”
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de
        2008
      </p>
      <p class="cita1">
        “Adolfo Hitler se quedaría corto ante algunos dirigentes de la oposición
        venezolana”.
      </p>
      <p class="piecita1">
        Rueda de prensa en la Embajada de Venezuela en Brasil. Enero 2002
      </p>
      <p class="cita1">
        “El presidente Obama que fue reelecto, bueno era mi candidato, yo dije
        fue, que si fuera norteamericano, votaría por Obama, así que alguien
        puede decir, ganó Chávez allá también.”
      </p>
      <p class="piecita1">
        Cadena nacional. Despacho presidencial, Palacio de Miraflores. 15 de
        noviembre de 2012
      </p>
      <p class="cita1">
        “Una vez hable de los vampiros. ¡Cuidado! El que se sienta mordido por
        un vampiro vaya y quémese vivo, no nos hace falta aquí, cuidado con los
        vampiros que muerden y transmiten el vampirismo.” (refiriéndose a la
        corrupción)
      </p>
      <p class="piecita1">
        Discurso con motivo del segundo aniversario del referendo que convoco a
        la Asamblea Nacional Constituyente de 1999. Palacio Federal Legislativo,
        25 de abril de 2001
      </p>
      <p class="cita1">
        “Chávez se va, se va, se va, jonrón. Bueno no, aquí se va Chávez el 2021
        camarita. Me voy en el 2021 para la costa Arauca por allá por la Rompía
        por ahí.”
      </p>
      <p class="piecita1">
        Aló Presidente, N° 100. Parque Nacional El Ávila. 17 de marzo de 2002
      </p>
      <p class="cita1">
        “El Congreso aquel de hace dos años, pobrecito, solo le quedo tiempo
        para morir en paz, así que no pude rendirle cuentas a ese Congreso.”
      </p>
      <p class="piecita1">
        Discurso ante la Asamblea Nacional. Memoria y Cuenta año2000 Palacio
        Federal Legislativo, 15 de enero de 2001
      </p>
      <p class="cita1">
        “A qué revolucionario se le va a ocurrir convocar una concentración en
        la plaza Altamira.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 153. Manaos, Edo de amazonas. Brasil. 15 de junio de
        2003
      </p>
      <p class="cita1">
        “A mí me gusta mucho que los escuálidos hablen, parece que por ahí les
        están recomendando que no sigan hablando, que calladitos ¿Cómo es que
        dicen? Calladitos se ven más bonitos.”
      </p>
      <p class="piecita1">
        Lanzamiento de la Misión «Hijos de Venezuela». 12 de diciembre de 2011
      </p>
      <p class="cita1">
        “No sea pendejo, Dr. Insulza [...] Vaya que es bien pendejo el doctor
        Insulza. Un verdadero pendejo, desde la P hasta la O [...] No le tenemos
        miedo. Usted está muy equivocado [...] Vaya con sus insulserías a otro
        lado».
      </p>
      <p class="piecita1">Acto de nacionalización de Cantv</p>
      <p class="cita1">
        “Águila no caza mosca, diputada. ¡Usted está fuera de ranking para
        debatir conmigo!”
      </p>
      <p class="piecita1">
        Respuesta a diputada opositora María Corina Machado, en acto de Memoria
        y Cuenta enero 2012
      </p>
      <p class="cita1">
        “Hay algunos que se quieren enmascarar, hay adecos que ahora dicen que
        no, que ellos no son adecos, que ellos ya son independientes. Mentira,
        son el mismo musiú con diferente cachimba, para utilizar una expresión
        muy propia de los adecos”.
      </p>
      <p class="piecita1">
        “Aló, Presidente” N° 37. Sede Televisa, Maracaibo–Edo Zulia. 10 de abril
        de 2000
      </p>
      <p class="cita1">
        “Yo creo que es que no se han leído la Constitución los monseñores,
        vamos a mandársela en latín será, ellos deben leer latín.” (En relación
        a los comentarios de la iglesia venezolana sobre la enmienda
        constitucional)
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Escotet, tú me dices, si tú no puedes, dame acá el banco compadre, dame
        el banco ¿Dime cuánto cuesta tu banco?, y de una vez lo nacionalizamos”.
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora. Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, Estado Barinas. 29
        de enero de 2012
      </p>
      <p class="cita1">
        “Mi amigo el monseñor Lückert, ¡a él le encanta! ¿No ven que él es un
        oligarca?, el monseñor Lückert me va a esperar a mí en el infierno, él
        no va a ir pa’l cielo, él va ir pa’l infierno; él no va pa’l cielo,
        estoy seguro que pa’l cielo no va. Y yo, no creo que vaya.”
      </p>
      <p class="piecita1">
        Juramentación del Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez Frías (período 2007-2013) Palacio Federal Legislativo. 10 de
        enero de 2007
      </p>
      <p class="cita1">
        “Silencio, ¡están silenciosos! ¡”Silencio en la sala que el burro va a
        hablar, el que hable primero burro será”!”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 369. Escuela Básica Nacional “Flores de Catia”.
        Parroquia 23 de Enero. 9 de enero de 2011
      </p>
      <p class="cita1">
        “Nos tienen retenidos los motores de los Hércules en Estados Unidos,
        violando los contratos y los convenios. Bueno, ¿y dónde acude uno?, a la
        Corte Celestial será.”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Le habían puesto el nombre de Cristóbal Colón a un proyecto de gas,
        sería por eso que lo empavaron y se hundió.”
      </p>
      <p class="piecita1">
        Aló Presidente, Nº 107. Desde el Chivo, sur del Lago de Maracaibo. 09 de
        junio de 2002
      </p>
      <p class="cita1">
        “Voy a librarlos a ustedes de un discurso leído y atiborrado de cifras,
        que pudiera convertirse a esta hora del día en una deliciosa tortura”.
      </p>
      <p class="piecita1">
        Mensaje anual del Presidente Hugo Chávez, Palacio Legislativo, el 14 de
        enero de 2005
      </p>
      <p class="cita1">
        “Al comando del diablo les dolió esta imagen mía vale, un Chávez feliz,
        relajado.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 200. Ciudad Vacacional Los Caracas. 1 de agosto de
        2004
      </p>
      <p class="cita1">
        “¡No os asustéis terratenientes! Lo haremos respetando los derechos,
        pero todos tienen que respetar el derecho de los demás, y esa es la
        esencia de la verdadera libertad y de la verdadera democracia, el
        respeto mutuo a los derechos de todos.” (Refiriéndose a la ley de
        tierras)
      </p>
      <p class="piecita1">
        Discurso con motivo de su toma de posesión como Presidente de la
        República Bolivariana de Venezuela para el periodo 2000-2006 ante la
        Asamblea Nacional
      </p>
      <p class="cita1">
        “Nosotros no somos centralistas. No; nosotros estamos proponiendo un
        estado federal, pero ni tan calvo ni con dos pelucas.”
      </p>
      <p class="piecita1">
        Radio Nacional de Venezuela. 26 de Septiembre de 1999
      </p>
      <p class="cita1">
        “El tema de los submarinos; y entonces han armado un alboroto en Estados
        Unidos: “¿Qué va a hacer Venezuela con submarinos?”. Bueno, ¿y qué vamos
        a hacer con submarinos, si tenemos 600 mil kilómetros cuadrados de mar
        venezolano, medio Caribe es venezolano, y el Atlántico y una amenaza del
        imperio?”
      </p>
      <p class="piecita1">
        Intervención del presidente de la República Bolivariana de Venezuela,
        Hugo Chávez, en la Duma Estatal de la Federación Rusa. Salón de los
        Escudos de la Duma, Moscú, Rusia. Viernes, 29 de junio de 2007
      </p>
      <p class="cita1">
        “Le hablo a los venezolanos que tiene real. Vamos ¡qué pasó! Ustedes
        ¿qué son? ¿No somos hijos de Dios?”
      </p>
      <p class="piecita1">
        Aló Presidente N° 10. Sede de Radio Nacional de Venezuela. 15 de Agosto
        de 1999
      </p>
      <p class="cita1">
        “Hay muertos que no resucitan. ¡Tan malos son que no resucitan!”
      </p>
      <p class="piecita1">
        Discurso al cumplirse el primer año de Gobierno Palacio Federal
        Legislativo, 2 de febrero de 2000
      </p>
      <p class="cita1">
        “Me sorprendió aquella copia de la baja solicitada por a quien yo hoy
        llamo Frijolito II. Y le pido perdón por llamarlo así, pero lo voy a
        seguir haciendo. Porque es la verdad”.
      </p>
      <p class="piecita1">
        “Aló, Presidente” N° 37. Sede Televisa, Maracaibo–Edo Zulia. 10 de abril
        de 2000
      </p>
      <p class="cita1">
        “Imagínate cuando se le acabe el petróleo a Estados Unidos: ¡Drácula sin
        sangre!”
      </p>
      <p class="piecita1">
        Declaraciones del Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez Frías, a su salida de la III Cumbre de la OPEP. Riad, Arabia
        Saudita. 18 de noviembre de 2007
      </p>
      <p class="cita1">
        “Vamos a continuar ahora no sólo cambiando bombillos, algunos dicen, no,
        que “Chávez mandó a cambiar bombillos”. ¿Cómo es que dicen por ahí?
        Verdad que algunos son locos de verdad, vale.”
      </p>
      <p class="piecita1">
        Gabinete Comunal “Todos los motores a máxima revolución” Salón Venezuela
        del Círculo Militar, Fuerte Tiuna. Jueves, 15 de febrero de 2007
      </p>
      <p class="cita1">
        “Vayan a recoger firmas pues, no dicen que ya Chávez se acabó, que el
        gobierno está en el suelo, que ya a Chávez no lo quiere nadie. Lo que
        están es enculillaos.”
      </p>
      <p class="piecita1">
        «La clase obrera petrolera al frente de la batalla política». 20 de
        enero de 2010
      </p>
      <p class="cita1">
        “Así estamos nosotros con el socialismo: “Tú te llamas socialismo,
        chico”, pero sigues siendo en el fondo un cochino”.
      </p>
      <p class="piecita1">
        Primer consejo de Ministros. Palacio de Miraflores, 20 de octubre 2012
      </p>
      <p class="cita1">
        “Eso es lo que a ustedes les pica que no son los dueños del país ahora,
        como les pica, bueno si les pica rásquense, no es que dice la canción
        así.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro.155. Capilla de la Alcaldía del Mun. Libertador. 6 de
        julio de 2003
      </p>
      <p class="cita1">
        “A Venezuela la chuparon 100 años, ahora nosotros manejamos nuestra
        empresa petrolera. Imagínense ustedes al conde Drácula aquí en Quito,
        por una calle...”
      </p>
      <p class="piecita1">
        Suscripción de acuerdos y rueda de prensa entre Ecuador y Venezuela,
        Salón Amarillo del Palacio de Carondelet Quito, Ecuador. 9 agosto de
        2007
      </p>
      <p class="cita1">
        “Bush dijo hace poco que —¡Ey! Fidel, how are you? Te mandaron muchos
        saludos de por allá Fidel, de aquellas tierras— “ojalá que el buen Dios
        se lleve pronto a Fidel”; uno nunca sabe quién se va a ir primero de
        aquí.”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Mañana es primero de mayo, le quedan 27 días al canalito este de
        televisión.” (Refiriéndose a RCTV)
      </p>
      <p class="piecita1">
        Acto del Día del Trabajador y Trabajadora de la República Bolivariana de
        Venezuela Sala Ríos Reyna, Teatro Teresa Carreño. Lunes, 30 de abril de
        2007
      </p>
      <p class="cita1">
        “Hay personas que creen que son sabias, saben mucho. A veces saben tanto
        que no saben nada, porque se pierden en el laberinto de sus
        conocimientos.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 62. Bailadores Edo. Mérida 11 de febrero de 2001
      </p>
      <p class="cita1">
        “Estaban subordinados no a la Constitución ni a la Ley, sino a los
        intereses de las minorías, y aprobaron todas las leyes que les ordenaba
        el imperio, todas las leyes que les ordenaba la burguesía; ahora no, eso
        les arde. El que le pique que se rasque. Eso les pica a ellos bueno
        rásquense pues.”
      </p>
      <p class="piecita1">
        X Aniversario del Banco del Pueblo Teatro Teresa Carreño. 26 de octubre
        de 2009
      </p>
      <p class="cita1">
        “La Autopista Rómulo Betancourt, dígame usted eso. Esto está empavado
        chico”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 66. Puerto Ordaz, Estado Bolívar. 25 de marzo de
        2001
      </p>
      <p class="cita1">
        “La ley transitiva: Si Chávez es amigo de este, y es socio de este, es
        igual a esto. O sea, Chávez al final termina siendo un terrorista: Osama
        Bin Chaven.”
      </p>
      <p class="piecita1">
        Discurso en la presentación del Plan de Desarrollo Económico y Social de
        la Nación, 2001-2007. Palacio Federal Legislativo, 28 de septiembre de
        2001
      </p>
      <p class="cita1">
        “Se dice que con esto Chávez ahora sí sella la tiranía, y hasta el
        mismísimo diablo ha salido a manifestar su preocupación: ¡Salió del
        averno el demonio!, y ha dicho al mundo que está “preocupado por los
        venezolanos”, que está “preocupado por la situación...”. (En relación a
        la declaración del presidente Bush sobre la Ley Habilitante)
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores. 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Por eso es que están como están. Por eso es que los matan como dicen,
        atacan al pueblo.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro.155. Capilla de la Alcaldía del Mun. Libertador. 6 de
        julio de 2003
      </p>
      <p class="cita1">“Comiencen a divertirse pues, jugando al alarmismo.”</p>
      <p class="piecita1">
        Juramentación del Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez Frías (período 2007-2013) Palacio Federal Legislativo. 10 de
        enero de 2007
      </p>
      <p class="cita1">
        “Digamos todos y todas, ante la grosera agresión orquestada por las
        fuerzas imperiales, parafraseando al caballero de La Mancha: “Que ladren
        los perros, nosotros seguimos cabalgando”.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Que ladren los perros, nosotros cabalgamos! 07
        Marzo 2010
      </p>
      <p class="cita1">
        “…jugando con el sentimiento de algunos venezolanos, con la sensiblería
        barata, con la que despidieron el antiguo canal que ya no quiero ni
        nombrarlo, ya no me acuerdo ni como se llamaba ese canal.”
      </p>
      <p class="piecita1">
        Discurso del presidente Hugo Chávez, con motivo de la concentración
        “Ahora la libertad de expresión es de todos” Av. Bolívar – Caracas. 2 de
        junio de 2007
      </p>
      <p class="cita1">
        “El gobernador en San Fernando era un adeco borracho y corrupto,
        perdonen ustedes la redundancia no, cuando uno dice adeco corrupto
        perdonen la redundancia, ahora, pero no, no, era un gobernador, entonces
        yo peleaba, yo tenía un pleito con él, yo peleé mucho con ese
        gobernador.”
      </p>
      <p class="piecita1">
        Conmemoración de los 10 años de la derrota del paro patronal y la
        promulgación de la Ley de Tierras. Teatro Municipal, 10 de diciembre de
        2011
      </p>
      <p class="cita1">
        “Yo creo que la próxima Serie Mundial, Obama, vas a tener que hacerla en
        Venezuela.” (Refiriéndose a la gran cantidad de jugadores de beisbol
        venezolanos)
      </p>
      <p class="piecita1">
        Cadena nacional. Despacho presidencial, Palacio de Miraflores. 15 de
        noviembre de 2012
      </p>
      <p class="cita1">
        “¿Tendrá que ver la llegada de Chávez Abarca con el desespero de la
        burguesía venezolana y la constatación que es pública?”
      </p>
      <p class="piecita1">
        Acto de entrega de certificados a los ahorristas del Banco Federal Salón
        Ayacucho, Palacio de Miraflores 2 de julio de 2010
      </p>
      <p class="cita1">
        “Están exigiendo a mí, bajo amenaza incluso, que yo debo evitar aquí
        males mayores, y que para evitar males mayores debo suspender la
        Reforma. ¿Suspender la Reforma? ¡Compadres, prepárense que lo que viene
        es bueno! (Refiriéndose a sectores de empresas privadas)
      </p>
      <p class="piecita1">
        Celebración del VIII aniversario del Instituto Nacional de la Mujer
        (Inamujer).Sala Ríos Reyna, Teatro Teresa Carreño. 31 de octubre de 2007
      </p>
      <p class="cita1">
        “Yo creo que ese caballerito cree que él se la está comiendo pues, como
        mi compadre Cheo: ¡Te la estás comiendo! ¡Vamos a tratar de colocar las
        cosas en su lugar, pues!” (Refiriéndose al presidente Bush)
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores 1° de febrero de 2007
      </p>
      <p class="cita1">
        “¡Uuuyyy! Yayay... ¡ven a mí que tengo flor!” (Refiriéndose a
        Expropiaciones)
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 369. Escuela Básica Nacional “Flores de Catia”.
        Parroquia 23 de Enero. 9 de enero de 2011
      </p>
      <p class="cita1">
        “Ahora esto está de antología, lo que voy a leer, dicen: “Se garantizará
        la continuidad de las misiones...” Esto es un buen chiste, esto es parte
        del humor, el humor político ¿no?” (Leyendo las propuestas de la MUD)
      </p>
      <p class="piecita1">
        Juramentación de Ministros de Cultura, Juventud y del Comandante de la
        Guardia de Honor Presidencial Palacio de Miraflores, 1 de agosto de 2011
      </p>
      <p class="cita1">
        “Hace poco dijo un premajunche de éstos, yo lo que hago es reírme, que
        no, que en Venezuela hay, creo que dijo 400 mil niños sin escuela algo
        así o cuatro millones no sé. Bueno es capaz que diga cuatro millones
        ellos inventan cualquier cosa pues.”
      </p>
      <p class="piecita1">
        Lanzamiento de la Misión «Hijos de Venezuela». 12 de diciembre de 2011
      </p>
      <p class="cita1">
        “Sí está bien me derrotaron, entonces hay que ir ahora rápido a sacar a
        Chávez con un empujoncito. No se equivoquen compadre, no se equivoquen.”
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de
        2008
      </p>
      <p class="cita1">
        “Yo he venido utilizando una palabra que parece que a algunos no les
        gusta mucho, “los loros de Washington”; salió otro loro más. Y que me
        perdonen los señores loros y las señoras loras, que son tan respetables
        y que nos divierten tanto con sus lenguaradas, los loros.”
      </p>
      <p class="piecita1">
        Entrega del Premio Libertador al Pensamiento Crítico 2006 Sala Ríos
        Reyna, Complejo Cultural Teresa Carreño. Lunes, 23 de julio de 2007
      </p>
      <p class="cita1">
        “Por Miraflores no van. A veces van, pero como hay más seguridad, quizás
        les es más difícil, pero por aquí, como esto es mucho más abierto,
        imagino como anduvieran las víboras, como anduvieran presionándolos a
        ustedes, señores diputados.”
      </p>
      <p class="piecita1">
        Discurso con motivo del segundo aniversario del referendo que convoco a
        la Asamblea Nacional Constituyente de 1999. Palacio Federal Legislativo,
        25 de abril de 2001
      </p>
      <p class="cita1">
        “Desde Colombia alguien dijo que estábamos fabricando con los iraníes
        una bomba atómica debajo de un galpón de hacer bicicletas... el uranio,
        ¡bicicletas, compadre, de uranio!, sí, la bicicleta.”
      </p>
      <p class="piecita1">
        Apoyo a la Inventiva Tecnológica Nacional Torre Ministerial, Caracas. 19
        de junio de 2007
      </p>
      <p class="cita1">
        “Se le pulveriza la máscara al candidato de la extrema derecha, al
        enmascarado de latón” Entrevista al Comandante Hugo Chávez realizada en
        Televisora de Oriente (TVO), estado Anzoátegui,
      </p>
      <p class="piecita1">13 de Julio de 2012</p>
      <p class="cita1">“¡Maní pa’ los gringos, caballero!”</p>
      <p class="piecita1">
        Entrega del Premio Libertador al Pensamiento Crítico 2006 Sala Ríos
        Reyna, Complejo Cultural Teresa Carreño. Lunes, 23 de julio de 2007
      </p>
      <p class="cita1">
        “Hay que ser bien caradura para grabar un programa con un teleprompter y
        mal grabado por cierto, no, y decir, yo voy a estar pendiente del
        equipamiento de la Fuerza Armada, cuando han estado él y todos sus
        personeros criticando la adquisición de los aviones Sukhoi, de los
        helicópteros, que eso es gastar plata, que para qué, que con eso no se
        come, etc.”
      </p>
      <p class="piecita1">
        Entrevista al Comandante Hugo Chávez realizada en Televisora de Oriente
        (TVO), estado Anzoátegui, 13 de Julio de 2012
      </p>
      <p class="cita1">
        “Comando del diablo: no se desesperen, la desesperación no es buena
        consejera, no se desesperen caballeros, vamos aquí vamos.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 200. Ciudad Vacacional Los Caracas. 1 de agosto de
        2004
      </p>
      <p class="cita1">
        “¡Qué mentira! A mí me da risa. Esto lo que da es risa.” (En relación a
        un editorial del New York Times)
      </p>
      <p class="piecita1">
        Aló Presidente N° 11. Radio Nacional de Venezuela, Caracas. 22 de agosto
        de 1999
      </p>
      <p class="cita1">
        “Yo era el diablo, cuando era candidato tenía 8 por ciento en las
        encuestas y era el diablo”
      </p>
      <p class="piecita1">
        FORO SOCIAL MUNDIAL. Porto Alegre, Brasil, 26 de enero de 2003
      </p>
      <p class="cita1">
        “Pero qué importa que nos ataquen; bien bueno que sigan atacando. El día
        que no ataquen, ese día habría que preocuparse mucho.”
      </p>
      <p class="piecita1">
        V promoción de médicos cirujanos y IV promoción de médicos cirujanos
        revalidantes de otras nacionalidades Convenio ELAM-Unerg. Teatro de la
        Academia Militar, Fuerte Tiuna. 14 de octubre de 2009
      </p>
      <p class="cita1">
        “Bueno, imagínense al conde Drácula a las cinco de la mañana, el sol ya
        saliendo ¡y no ha chupado!, se desespera. Así anda el imperio: se le
        acaba el petróleo, viene una nueva era y va a quedar... en verdad que el
        imperio se dirige a su fin, una grave crisis tiene el imperio
        norteamericano.”
      </p>
      <p class="piecita1">
        Suscripción de acuerdos y rueda de prensa entre Ecuador y Venezuela,
        Salón Amarillo del Palacio de Carondelet. Quito, Ecuador. 9 agosto de
        2007
      </p>
      <p class="cita1">
        “Inventen algo ustedes. A lo mejor me lo traen mañana, un casco, unos
        lentes, una cosa que cuando uno se aproxime a algún valor capitalista:
        ¡Rruuu!, me dé un corrientazo de por lo menos 80 voltios, para
        protegerlo... ¿no?, 80 voltios no, menos, 50.”
      </p>
      <p class="piecita1">
        Apoyo a la Inventiva Tecnológica Nacional Torre Ministerial, Caracas. 19
        de junio de 2007
      </p>
      <p class="cita1">
        “Decían algunos sesudos analistas, que no, que la inflación, que ya la
        veremos, estaba cayendo porque había una recesión. Qué dirán ahora. Por
        eso es que ahora andan desesperados inventando cosas, buscando cochinos,
        gallinas, prendas íntimas, ese es el debate que ellos dan.” (En relación
        al aumento de los precios del petróleo)
      </p>
      <p class="piecita1">
        Discurso ante la Asamblea Nacional. Memoria y Cuenta año2000 Palacio
        Federal Legislativo, 15 de enero de 2001
      </p>
      <p class="cita1">
        “Un plan preconcebido por el tirano Chávez para establecer una dictadura
        en Venezuela, para acabar con la democracia; un plan maléfico”.
      </p>
      <p class="piecita1">
        Refiriéndose a la Constituyente en el Acto de juramentación, 2 de
        febrero de 1999
      </p>
      <p class="cita1">
        “«No todo es culpa de Chávez, hay unos por ahí que tienen una
        enfermedad, que bien pudiéramos llamar chavitis aguda: Chávez, Chávez,
        Chávez»”.
      </p>
      <p class="piecita1">Memoria y Cuenta, 13 de enero de 2012</p>
      <p class="cita1">
        “No soy monedita de oro pa’ caerle bien a todos, así nací y así soy, si
        no me quieren, ni modo”.
      </p>
      <p class="piecita1">
        En respuesta al por qué no te callas del Rey de España, Noviembre 2007
      </p>
      <p class="cita1">
        “Yo, por ejemplo, leí la opinión de un “sesudo estúpido ilustrado”
        diciendo que Venezuela está aislada, que Chávez fracaso en Quebec porque
        no se tomó una foto con el presidente de los Estados Unidos, como si yo
        fui allá a tomarme fotos. Me rio de la estupidez ilustrada, claro, cada
        ladrón juzga por su condición. Eso es lo importante para ellos, la
        apariencia, la formalidad y muchas veces el entreguismo.”
      </p>
      <p class="piecita1">
        Discurso con motivo del segundo aniversario del referendo que convoco a
        la Asamblea Nacional Constituyente de 1999. Palacio Federal Legislativo,
        25 de abril de 2001
      </p>
      <p class="cita1">
        “Carlos Andrés Pérez ya es parte de la historia hedionda de este país,
        porque hay unas partes de la historia que son hediondas, que hieden,
        podridas, las páginas podridas de la historia.”
      </p>
      <p class="piecita1">
        Firma de instrumentos entre la República Bolivariana de Venezuela y la
        República Argentina Pozo Ayacucho 6 - Faja Petrolífera del Orinoco,
        estado Anzoátegui 21 de febrero de 2007
      </p>
      <p class="cita1">
        “Un manantial. Hay un acuífero aquí hay un acuífero.” (Refiriéndose a
        las filtraciones en Miraflores)
      </p>
      <p class="piecita1">
        Cadena nacional. Despacho presidencial, Palacio de Miraflores. 15 de
        noviembre de 2012
      </p>
      <p class="cita1">
        “Es una nueva forma de llamar a los burgueses, ¿no? a los atrasados, a
        los que quieren volver atrás pues, los retrógrados, retrógrado te dije y
        retrógrado te quedarás para siempre, los retrógrados.”
      </p>
      <p class="piecita1">
        Celebración de los 13 años del Gobierno Revolucionario. Teatro Catia,
        Plaza Sucre, Av. Sucre, Catia Caracas, jueves 2 de febrero de 2012
      </p>
      <p class="cita1">
        “Estos candidatos de ahora, o precandidatos retrógrados, parece que
        son... yo creo que son peores (todos) que Rosales… ¡Yo estoy extrañando
        a Rosales, chico!”
      </p>
      <p class="piecita1">
        Celebración de los 13 años del Gobierno Revolucionario. Teatro Catia,
        Plaza Sucre, Av. Sucre, Catia Caracas, jueves 2 de febrero de 2012
      </p>
      <p class="cita1">
        “Estoy extrañando [risa] a Manuel Rosales, uno se divertía por lo menos
        con él, uno se divertía. Era divertido Manuel Rosales. ¿No era Manuel?
        Así se llama.”
      </p>
      <p class="piecita1">
        Celebración de los 13 años del Gobierno Revolucionario. Teatro Catia,
        Plaza Sucre, Av. Sucre, Catia Caracas, jueves 2 de febrero de 2012
      </p>
      <p class="cita1">
        “Yo lo que creo, pues, es que estos premajunches, prefrijolitos no
        tienen nada que decir, más allá de su show pues, porque cada uno anda es
        con un show, creo que andan compitiendo, parece un circo, eso parece un
        circo más bien.”
      </p>
      <p class="piecita1">
        Celebración de los 13 años del Gobierno Revolucionario. Teatro Catia,
        Plaza Sucre, Av. Sucre, Catia Caracas, jueves 2 de febrero de 2012
      </p>
      <p class="cita1">
        “Esa es la consigna de los premajunches, calladito te ves mejor, no
        hables, no hables, calladita te ves más bonita, así le decían a mi
        querida y recordada Irene Sáenz, cuando la bella y la bestia ¿se
        acuerdan? [Risas] pero vamos a ver cuál es el mejor.”
      </p>
      <p class="piecita1">
        Celebración de los 13 años del Gobierno Revolucionario. Teatro Catia,
        Plaza Sucre, Av. Sucre, Catia Caracas, jueves 2 de febrero de 2012
      </p>
      <p class="cita1">
        “Ustedes creen que algunos de los premajunches tiene en verdad, verdad,
        con todo respeto, con todo respeto, las condiciones mínimas, no la
        tienen, para dirigirnos no creo que ni un equipo de pelota sabanera
        pues, eh, cuando uno los ve hablando y haciendo cosas por ahí, no, en
        verdad son majunches completitos.”
      </p>
      <p class="piecita1">
        Consejo de Ministros, Salón Néstor Kirchner, Palacio de Miraflores
        Caracas, 24 de diciembre de 2011
      </p>
      <p class="cita1">
        “Sacaron un disco por ahí loco de unas canciones porque yo canto, que si
        canté por allá Cucurrucucú paloma, que si canté por allá esté, yo canto
        pedacitos, entonces ellas le pusieron música y tal y mira arreglaron su
        disco, bueno, está bien anda rodando el disco por ahí, eso es para que
        se rían los escuálidos de mi ¿ah?”
      </p>
      <p class="piecita1">
        Consejo de Ministros, Salón Néstor Kirchner, Palacio de Miraflores
        Caracas, 24 de diciembre de 2011
      </p>
      <p class="cita1">
        “En lo de majunches están empatados toditos. Es que son malos compadre,
        de verdad, oye son malos.”
      </p>
      <p class="piecita1">
        Reunión con el Equipo Promotor del Gran Polo Patriótico Hotel Alba
        Caracas, jueves 15 de diciembre de 2011
      </p>
      <p class="cita1">
        “Como los escuálidos están locos porque yo me vaya, ahora yo he resuelto
        vivir, luchar y gobernar hasta el 2031, 2031.”
      </p>
      <p class="piecita1">
        Reunión con el Equipo Promotor del Gran Polo Patriótico Hotel Alba
        Caracas, jueves 15 de diciembre de 2011
      </p>
      <p class="cita1">
        “Eso fue una locura, fueron como mil demonios, creo que fueron demonios,
        llegaron los demonios aquí y se soltaron y se les metieron, eran como
        diablos, ahí están las imágenes para la historia, los rostros, los ojos
        endemoniados de odio, de ganas de arrasarlo todo, de quemar un país.”
        (Recordando el paro petrolero)
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 178 Palacio de Miraflores, 18 de enero de 2004
      </p>
      <p class="cita1">
        “Aquí está, está es la plata que tengo bajo el colchón, señores
        diputados de la oposición que quieren venir a revisar mi colchón, mire,
        aquí mi cuenta, mire, me quedan aquí Andrade, me tiene 40 millardos por
        ahí todavía pendientes, le pasé 40 millardos esta semana de la planta
        que tengo bajo el colchón a Maya Silva.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 178 Palacio de Miraflores, 18 de enero de 2004
      </p>
      <p class="cita1">
        “Un organismo de la OIT (Organización Internacional del Trabajo) ha
        anunciado que ellos consideran que en Venezuela, en diciembre del 2002
        no hubo ningún sabotaje petrolero ni nada de eso sino que hubo una
        huelga general y que por tanto el gobierno venezolano debe reenganchar a
        los técnicos y trabajadores aquellos que fueron despedidos. El día que
        Tarzán aparezca aquí los vamos a reenganchar.”
      </p>
      <p class="piecita1">
        Aló Presidente Programa Nro. 186 Desde La Planta De Llenado De Pdvsa En
        Guatire 28 De marzo De 2004
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
