<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/humilde.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1"> “Humildemente lo digo: ¡cuánto agradezco a esos maestros que tuve, a esos padres que tengo, y a
        los compañeros de camino que me he conseguido!”
      </p>
      <p class="piecita1">Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar Palacio de Miraflores. 1° de
        febrero de 2007
      </p>
      <p class="cita1"> “Creo que, modestamente, cumplí la labor de catalizador, hasta donde un hombre puede hacerlo;
        pero no se trata de un hombre, lo he dicho una y mil veces y lo ratificare siempre, no se trata de un hombre, de
        un mesías o de un caudillo. No. Ya basta de esas falsas consejas. Se trata de un tiempo.”
      </p>
      <p class="piecita1">Discurso tras ser ratificado en el cargo como Presidente de la Republica por la
        Asamblea Nacional Constituyente. Palacio Federal Legislativo, 11 de agosto de 1999
      </p>
      <p class="cita1"> “Hemos venido venciendo camisas de fuerza. Hemos venido echándolas abajo, hemos venido rompiendo
        amarras que nos quieren poner; las primeras amarras fueron las de la prisión, gracias a un pueblo salimos de
        allí.
      </p>
      <p class="piecita1">Programa Nro. 1 - Aló Presidente desde la sede de Radio Nacional de Venezuela. 23 de mayo de
        1999
      </p>
      <p class="cita1"> “Este primer año y de un esfuerzo y, por supuesto, no quiero atribuirme jamás todos esos frutos,
        todos esos éxitos, todos esos avances. ¡De ninguna manera! ¡Jamás lo pensare! Jamás lo he pensado y, por
        supuesto, jamás lo diré porque no lo creo ni lo creeré nunca.”
      </p>
      <p class="piecita1">Discurso al cumplirse el primer año de Gobierno. Palacio Federal Legislativo, 2 de febrero de
        2000
      </p>
      <p class="cita1"> “Yo tengo que mandar es obedeciendo.”
      </p>
      <p class="piecita1">Aló Presidente N º 377. Salón Néstor Kirchner. Palacio de Miraflores. 22 de enero de 2012
      </p>
      <p class="cita1"> “Aquí estoy dispuesto a redimir, a aclarar y a seguir combatiendo con ustedes para que cada día
        se siga levantando la bandera de la verdad”.
      </p>
      <p class="piecita1"> “Aló, Presidente” N° 37. Sede Televisa, Maracaibo–Edo Zulia. 10 de abril de 2000
      </p>
      <p class="piecita1">Mensaje anual ante la Asamblea Nacional, Asamblea Nacional, 11 de Enero de 2008
      </p>
      <p class="cita1"> “Tírenme todo lo malo a mí, pero reconozcan a un pueblo, un pueblo digno, noble, trabajador que
        ha sido paciente y que ha logrado conseguir un camino pacífico para salir de una situación tan terrible que en
        otros lugares y en otras épocas ha ocasionado revoluciones violentas con miles y miles de muertos y de
        tragedia.”
      </p>
      <p class="piecita1">Aló Presidente Nro. 016. Radio Nacional de Venezuela. 26 de Septiembre de 1999
      </p>
      <p class="cita1"> “Lo menos que me importa es mi destino personal, absolutamente me importa.”
      </p>
      <p class="piecita1">Discurso de toma de posesión. Palacio Federal Legislativo. 2 de febrero de 1999
      </p>
      <p class="cita1"> “El arañero de Sabaneta, como algunos sesudos analistas y economistas me han llamado, tratando
        con eso de ridiculizarme cuando más bien se los agradezco porque el arañero de Sabaneta, ese soy yo y lo cargo
        por dentro con mucho orgullo y forma parte de las raíces más profundas de mi esencia de hombre de un pueblo, el
        arañero de Sabaneta.”
      </p>
      <p class="piecita1">Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de 2008
      </p>
      <p class="cita1"> “No soy enemigo de ningún venezolano. No soy enemigo de las clases altas, no soy enemigo de los
        ricos, no quiero hacerle daño a nadie; lo que quiero es igualdad y justicia para mi pueblo eso sí es lo que
        quiero”
      </p>
      <p class="piecita1">Aló Presidente, N° 132 desde la planta de distribución de PDVSA Carenero, Edo Miranda. 22 de
        diciembre de 2002
      </p>
      <p class="cita1"> “Comiencen ustedes a cumplir con las suyas, yo humildemente creo haber cumplido con las mías en
        lo que se refería a este proceso constituyente.”
      </p>
      <p class="piecita1">Palacio Federal Legislativo, 5 de agosto de 1999
      </p>
      <p class="cita1"> “Te perdono, de todos modos. Que Dios te bendiga. Que Dios te bendiga, pero la batalla está
        abierta y el pueblo venezolano te va a dar una lección el 28 de mayo”. (Refiriéndose a Arias Cárdenas)
      </p>
      <p class="piecita1"> “Aló, Presidente” N° 37. Sede Televisa, Maracaibo–Edo Zulia.10 de abril de 2000
      </p>
      <p class="cita1"> “Este humilde Chávez, este humilde hombre campesino, este humilde soldado pues, estará siempre y
        para siempre contigo pueblo, pueblo amoroso, pueblo digno, pueblo grande, pueblo heroico, te amo pueblo
        venezolano, te amo más que a mi vida.”
      </p>
      <p class="piecita1">Discurso del presidente Hugo Chávez, con motivo de la concentración “Ahora la libertad de
        expresión es de todos” Av. Bolívar – Caracas. 2 de junio de 2007
      </p>
      <p class="cita1"> “Yo no quiero para mí nada, ni siquiera el nombre de una calle. Yo lo que quiero es servir.”
      </p>
      <p class="piecita1">Aló Presidente Nro. 66. Puerto Ordaz, Estado Bolívar. 25 de marzo de 2001
      </p>
      <p class="cita1"> “Así que por favor inclúyame en la lista ahí de... no aspiro a ser profesor, ¡no!, bueno doctor
        honoris causa, amigo y cuadro, pues, un cuadro de esta universidad, de esta digna universidad.”
      </p>
      <p class="piecita1">Entrega del Doctorado Honoris Causa de la Universidad Nacional de Ingeniería al presidente de
        la República
        Bolivariana de Venezuela, Hugo Chávez. Plaza del Rectorado. Managua, Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1"> “Yo aguanté pedradas, y las recogía con el pecho, o las agachaba y pasaban. Pero nunca respondí
        con pedradas, siempre traté de salvar a gente que quise mucho; a gente con la que compartí buena parte del
        camino”.
      </p>
      <p class="piecita1"> “Aló, Presidente” N° 37. Sede Televisa, Maracaibo–Edo Zulia. 10 de abril de 2000
      </p>
      <p class="cita1"> “Reconozcámonos con humildad pero con realismo, con espíritu siempre de superación, vistiéndonos
        de humildad siempre, pero eso no debe para nada limitarnos a declarar que estamos haciendo algo grande en
        Venezuela, que estamos haciendo historia en Venezuela y desde Venezuela para el mundo.”
      </p>
      <p class="piecita1">Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de 2008
      </p>
      <p class="cita1"> “Yo por ejemplo, lo reconozco, aunque siempre hago esfuerzos y a veces llego ahí casi a tiempo,
        casi a tiempo.”
      </p>
      <p class="piecita1">Aló Presidente N° 62. Bailadores Edo. Mérida. 11 de febrero de 2001
      </p>
      <p class="cita1"> “Creo que hoy puedo decir humildemente que cumplí aquel juramento. Porque lo hice
        fundamentalmente para llegar a este momento, a la instalación de la Asamblea Nacional Constituyente y tal cual
        fue el concepto central, la idea central que nos llevó a organizar un movimiento político, a registrarlo en las
        leyes, según las leyes del antiguo y anciano régimen y venir al campo de batalla electoral con la candidatura
        presidencial que yo encarne.”
      </p>
      <p class="piecita1">Discurso tras ser ratificado en el cargo como Presidente de la Republica por la
        Asamblea Nacional Constituyente. Palacio Federal Legislativo, 11 de agosto de 1999
      </p>
      <p class="cita1"> “Yo me pongo a la orden de Provea, yo me pongo a la orden de todos los luchadores por los
        derechos humanos, yo soy uno de ellos, para luchar de verdad por los derechos humanos, estoy a la orden de
        ellos.”
      </p>
      <p class="piecita1">Aló Presidente Nro. 028. Edo. Bolívar. 30 de Enero de 2000
      </p>
      <p class="cita1"> “Yo soy un campesino soldado, eso es lo que soy, soldado. Y aquí me trajo, la vida me trajo
        aquí, un huracán me trajo aquí. ¡Que voy a ser yo superior a quién!”
      </p>
      <p class="piecita1"> “Aló, Presidente” Nº 369. Escuela Básica Nacional “Flores de Catia”. Parroquia 23 de Enero. 9
        de enero de 2011
      </p>
      <p class="cita1"> “Yo no quiero, cuando entregue el Gobierno, venir aquí a leer o a decirles: “hice hasta donde
        pude pero el país está hundido”. No, yo incluso prefiero –de verdad se los digo– entregar el gobierno que es lo
        que menos importa –créanmelo– a los dos años, al primer año, si ese año, si esos seis meses o si esos dos años
        sirvieron para dejar atrás el pasado y hundirlo, y que de verdad prenda un nuevo motor nacional.”
      </p>
      <p class="piecita1">Discurso de toma de posesión. Palacio Federal Legislativo. 2 de febrero de 1999
      </p>
      <p class="cita1"> “Aquí no hay ninguna pretensión individualista. ¡Qué me importo yo! Yo no me importo un comino”.
      </p>
      <p class="piecita1">Saludo diplomático. Enero 2001
      </p>
      <p class="cita1"> “No somos santos ni somos puros, ni lo seremos, pero somos humanos y busquemos al súper hombre,
        al revolucionario verdadero, busquemos el escalón más alto de la especie humana.”
      </p>
      <p class="piecita1">Reunión con el Gabinete Ejecutivo, Gobernadores y Buró Político del PSUV.
        Salón Ayacucho – Palacio de Miraflores. 16 de julio de 2011
      </p>
      <p class="cita1"> “Allí va el potro, nadie podrá detenerlo, no me siento imprescindible, no me siento
        indispensable y soy feliz por ello.”
      </p>
      <p class="piecita1">Palacio Federal Legislativo, 5 de agosto de 1999
      </p>
      <p class="cita1"> “Muchachos ¿ustedes se pueden sentar? Por favor, se los ruego, sí porque tienen ahí mucho tiempo
        de pie, las muchachas, los muchachos.”
      </p>
      <p class="piecita1">Entrega del Doctorado Honoris Causa de la Universidad Nacional de Ingeniería al presidente de
        la República
        Bolivariana de Venezuela, Hugo Chávez. Plaza del Rectorado. Managua, Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1"> “A ellos les agradezco, y a muchos otros; y a mi compañeros campesinos, esa vida de campesino
        que tuve; y a mi Ejército, a mi Academia Militar y a mis soldados, y a mis compañeros.”
      </p>
      <p class="piecita1">Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar Palacio de Miraflores. 1° de
        febrero de 2007
      </p>
      <p class="cita1"> “Yo le hago un llamado a los venezolanos, no le vayan a poner mi nombre a puentes ni a caminos
        ni a carreteras ni a barrios”
      </p>
      <p class="piecita1">Aló Presidente Nro. 66. Puerto Ordaz, Estado Bolívar. 25 de marzo de 2001
      </p>
      <p class="cita1"> “Aquí se vino gestando una traición, desde hace varios años, y yo le pido perdón al pueblo del
        Zulia porque aun viéndola, esa traición muchas veces, con mis propios ojos, aun sintiéndola muy cerca, como me
        rondaba, aun así, tendí la mano y tengo parte de la culpa”.
      </p>
      <p class="piecita1">Sede Televisa, Maracaibo–Edo Zulia. 10 de abril de 2000
      </p>
      <p class="cita1"> “De mí, pueden decir lo que les venga en gana”.
      </p>
      <p class="piecita1"> “Aló, Presidente” N° 37. Sede Televisa, Maracaibo–Edo Zulia. 10 de abril de 2000
      </p>
      <p class="cita1"> “Sea como sea aquí la Revolución Bolivariana no depende ya de un hombre, no depende de Chávez,
        es un pueblo el que está activando, y sobre todo más a partir del día de hoy.”
      </p>
      <p class="piecita1">Juramentación del Presidente de la República Bolivariana de Venezuela, Hugo Chávez Frías
        (período 2007-2013)
        Palacio Federal Legislativo. 10 de enero de 2007
      </p>
      <p class="cita1"> “Yo me siento con el alma llena y el espíritu pleno también, al oír estas reflexiones. Más bien
        clases magistrales, verdaderamente que nos han dado esta noche el G/J., Raúl Isaías Baduel y el G/J., Gustavo
        Reyes Rangel Briceño, verdaderas clases magistrales.”
      </p>
      <p class="piecita1">Transmisión de Mando Conjunta del Ministerio del Poder Popular para la Defensa y los
        Componentes de la
        Fuerza Armada Bolivariana. Patio de Honor de la Academia Militar – Fuerte Tiuna. 18 de julio de 2007
      </p>
      <p class="cita1"> “Como el pueblo no tiene donde acudir, entonces todo el mundo se viene en avalancha sobre
        Miraflores, sobre nosotros, y yo lo primero que le pido es a Dios paciencia para recibir esa avalancha y
        capacidad para atender todo lo que podamos atender; pero es un drama.”
      </p>
      <p class="piecita1">Aló Presidente N° 11. Sede de Radio Nacional de Venezuela, Caracas. 22 de agosto de 1999
      </p>
      <p class="cita1"> “Hemos asumido en rigor el trabajo que se nos ha impuesto, y con modestia, pero con una gran fe
        en lo que hemos hecho.”
      </p>
      <p class="piecita1">Instalación de la I Cumbre Energética Suramericana.Gran Salón Hotel Hilton Margarita,
        Porlamar, estado Nueva Esparta. 17 de abril de 2007
      </p>
      <p class="cita1"> “Mi salario, ya firmé para que se lo den a tres muchachos venezolanos que tienen calificaciones
        excepcionales”.
      </p>
      <p class="piecita1">Aló Presidente, Nº 04. Palacio de Miraflores. 20 de junio de 1999
      </p>
      <p class="cita1"> “Me atrevo a pedirles paciencia, lo digo desde el dolor, porque sé que paciencia es lo que han
        tenido los pobres toda la vida.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡Pueblo y Gobierno Unidos!. 05 Diciembre 2010
      </p>
      <p class="cita1"> “Humilde y modestamente creo que fui el único candidato que presento al país un Programa de
        Gobierno. Un programa diseñado con principios racionales de planificación estratégica, un programa que abarcaba
        desde ya, los ámbitos económico, social, político, internacional, etcétera.”
      </p>
      <p class="piecita1">Discurso en la presentación del Plan de Desarrollo Económico y Social de la Nación, 2001-2007.
        Palacio Federal Legislativo, 28 de septiembre de 2001
      </p>
      <p class="cita1"> “Bueno me equivoqué, conquistamos una colina pero no era el momento, y yo estoy absolutamente
        seguro de lo que estoy diciendo.” (En relación a la enmienda constitucional)
      </p>
      <p class="piecita1">Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de 2008
      </p>
      <p class="cita1"> “Cuando yo llegue a viejo, si llego, Dios mediante, sería feliz en una chocita de esas a la
        orilla del río Carrao”.
      </p>
      <p class="piecita1">Aló Presidente Nro. 66. Puerto Ordaz, Estado Bolívar. 25 de marzo de 2001
      </p>
      <p class="cita1"> “¡Nosotros somos proletarios, no somos burgueses ni pequeños burgueses!
      </p>
      <p class="piecita1">Contacto Telefónico desde el Palacio de Miraflores en el evento del PSUV. 14 de agosto de 2011
      </p>
      <p class="cita1"> “Todos tenemos derechos a vivir y con dignidad con decoro como hermanos.”
      </p>
      <p class="piecita1">Aló Presidente Nro.155. Capilla de la Alcaldía del Mun. Libertador. 6 de julio de 2003
      </p>
      <p class="cita1"> “En Venezuela estamos en plena revolución, gracias a Dios pacífica y democrática, y esa
        revolución… no es un hombre, se trata de un pueblo.”
      </p>
      <p class="piecita1">Aló Presidente Nro. 016. Radio Nacional de Venezuela. 26 de Septiembre de 1999
      </p>
      <p class="cita1"> “Modestamente, Dios, en todo caso, y el pueblo que me juzguen; creo que cumplí, Dávila, el
        juramento que ante usted hice aquí mismo, hace doscientos días, ante la moribunda Constitución del 61 y ante las
        moribundas instituciones, cuyos restos aún perviven, claro, porque es una fase de transición magnánima y
        respetuosa, además, de lo que está muriendo.”
      </p>
      <p class="piecita1">Discurso tras ser ratificado en el cargo como Presidente de la Republica por la
        Asamblea Nacional Constituyente. Palacio Federal Legislativo, 11 de agosto de 1999
      </p>
      <p class="cita1"> “Nosotros no somos una potencia, nosotros no somos el Fondo Monetario, nosotros tenemos unos
        límites.”
      </p>
      <p class="piecita1">Suscripción de acuerdos y rueda de prensa entre Ecuador y Venezuela,
        Salón Amarillo del Palacio de Carondelet. Quito, Ecuador. 9 agosto de 2007
      </p>
      <p class="cita1"> “Tengo parte de la culpa, yo lo reconozco y pido perdón. Y estoy dispuesto a redimir esas
        culpas, estoy dispuesto a hacer todo lo que pueda para redimirla, porque ahí anda el pueblo zuliano clamando por
        justicia”.
      </p>
      <p class="piecita1"> “Aló, Presidente” N° 37. Sede Televisa, Maracaibo–Edo Zulia. 10 de abril de 2000
      </p>
      <p class="cita1"> “Yo una vez conduje una rebelión militar, pero yo fui preso, encanado compadre y para dónde más
        iba a coger pues ¿Para dónde más iba a coger?, para Yare, para donde me llevaron, ah iba a protestar porque
        estaba preso, no chico estoy preso vale; yo asumo mi responsabilidad” (Refiriéndose a los sabotajes)
      </p>
      <p class="piecita1">Aló Presidente Nro. 153. Manaos, Edo de amazonas. Brasil. 15 de junio de 2003
      </p>
      <p class="cita1"> “Le pido a Dios, recuperación plena para, todo lo que me quede de vida a mí, no es para mí, es
        para ustedes, para los más pobres, para las más pobres.”
      </p>
      <p class="piecita1">Lanzamiento de la Misión «Hijos de Venezuela». 12 de diciembre de 2011
      </p>
      <p class="cita1"> “Desde lo más profundo de mi corazón les doy las gracias compañeros y compañeras, y le pido a
        Dios que me dé vida y salud para seguirle sirviendo cada día más y mejor al pueblo venezolano.”
      </p>
      <p class="piecita1">Concentración Balcón del Pueblo, Palacio de Miraflores. 7 de octubre de 2012
      </p>
      <p class="cita1"> “Buenas noches y me llevo esto como un honor para toda mi vida. ¡Muchísimas gracias compañeros,
        muchísimas gracias compañeras!”
      </p>
      <p class="piecita1">Entrega del Doctorado Honoris Causa de la Universidad Nacional de Ingeniería al presidente de
        la República
        Bolivariana de Venezuela, Hugo Chávez. Plaza del Rectorado. Managua, Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1"> “Yo no tengo ningún complejo de poder, facilito me quito todo esto, no estoy aferrado aquí.”
      </p>
      <p class="piecita1">Discurso en la presentación del Plan de Desarrollo Económico y Social de la Nación, 2001-2007.
        Palacio Federal Legislativo, 28 de septiembre de 2001
      </p>

      <p class="cita1"> “Tenemos nosotros que echar de nuestra alma cualquier vestigio de egoísmo, el egoísmo es una
        degeneración, el egoísmo, yo pues, yo, yo y lo demás no me importa nada, no, ama a tu prójimo como a ti mismo
        decía Mi Señor.”
      </p>
      <p class="piecita1">Lanzamiento de la Misión «Hijos de Venezuela» 12 de diciembre de 2011
      </p>
      <p class="cita1"> “Yo lavé mucho plato saben ustedes, yo lavé plato bastante ¿saben dónde? En el hotel de Yare”
      </p>
      <p class="piecita1">Aló Presidente Nro. 66. Puerto Ordaz, Estado Bolívar. 25 de marzo de 2001
      </p>
      <p class="cita1"> “Sintámonos humildemente orgullosos pues, de ser simplemente como lo ha dicho Raúl Isaías,
        humildes soldados, pero verdaderos soldados del pueblo, de la patria, para el pueblo y para la patria,
        dispuestos al sacrificio supremo por Venezuela y por el pueblo heroico de Simón Bolívar.”
      </p>
      <p class="piecita1">Transmisión de Mando Conjunta del Ministerio del Poder Popular para la Defensa y los
        Componentes de la
        Fuerza Armada Bolivariana. Patio de Honor de la Academia Militar – Fuerte Tiuna. 18 de julio de 2007
      </p>
      <p class="cita1"> “Para mí esto no es ninguna derrota, para mí este es otro por ahora, ¡por ahora! Y desde aquí lo
        digo: lo he preferido así, ha sido mejor así.” (Refiriéndose al Referéndum del Si o No)
      </p>
      <p class="piecita1">Alocución presidencial (cadena nacional). Salón Ayacucho, Palacio de Miraflores. Lunes, 3 de
        diciembre de 2007
      </p>
      <p class="cita1"> “Yo nací en una casa de palma, con mucha honra lo digo, de piso de tierra, de pared de bajareque
        y de palma, y cuando teníamos siete años fue que hicimos entre toda la familia una casita rural donde crecimos
        allá en las costas del río Boconó”.
      </p>
      <p class="piecita1">Aló presidente n°6. San Juan de los Morros – Edo. Guárico. 4 de julio de 1999
      </p>
      <p class="cita1"> “Nosotros sí queremos ayudar entre todos pues, modestamente, somos un país pobre, tenemos
        algunas potencialidades como aquí todos las tienen.”
      </p>
      <p class="piecita1">Cumbre de Unidad, Cancún, México, 22 de febrero de 2010
      </p>
      <p class="cita1"> “Humildemente lo digo: ¡cuánto agradezco a esos maestros que tuve, a esos padres que tengo, y a
        los compañeros de camino que me he conseguido!”
      </p>
      <p class="piecita1">Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar Palacio de Miraflores. 1° de
        febrero de 2007
      </p>
      <p class="cita1"> “No había donde dormir, porque ellos ni siquiera sabían que yo iba para allá, me llevaron, y
        cuando llegamos buscando una cama, buscando un colchón. Les dije: No, no se den mala vida por mí, muchachos,
        pónganme una sábana que yo soy un soldado como ustedes.”
      </p>
      <p class="piecita1">Alocución a la nación al retornar al poder después del golpe del 11 de abril Madrugada del
        domingo 14 de abril de 2002
      </p>
      <p class="cita1"> “Yo estoy acostumbrado a asumir mis responsabilidades, si tengo que decirle y hasta pedirle
        perdón a alguien por haberle hecho daño por una decisión, por un error, y reivindicarlo, lo hago; pero de esa
        manera no podemos tolerarlo.”
      </p>
      <p class="piecita1">Aló Presidente, Nº 107. Desde el Chivo, sur del Lago de Maracaibo. 09 de junio de 2002
      </p>
      <p class="cita1"> “Me equivoque. No era el momento de lanzar ese nuevo ataque, esa nueva ofensiva. Había que
        esperar, y había que consolidar la colina conquistada, había que lanzar gestión de gobierno, relanzar, buscar
        más eficiencia, fortalecer el partido primero, la unidad, el polo patriótico.” (En relación a la perdida de la
        enmienda cosntitucional.)
      </p>
      <p class="piecita1">Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de 2008
      </p>
      <p class="cita1"> “Me siento ya satisfecho de haber vivido. Si hubiere que morir, yo ya he vivido y aunque siento
        que hay muchas otras cosas que hacer, aunque siento que todavía hay mucha ola que llevar.”
      </p>
      <p class="piecita1">Palacio Federal Legislativo, 5 de agosto de 1999

      </p>
      <p class="cita1"> “Vamos a debatir, ahí están los resultados, critiquen lo que quieran, investiguen a ver dónde
        hay errores aquí, si los hubiere los reconocemos. “
      </p>
      <p class="piecita1">Memoria y Cuenta año 2000. Palacio Federal Legislativo, 15 de enero de 2001
      </p>
      <p class="cita1"> “Lo menos que me importa es mi destino personal”.
      </p>
      <p class="piecita1">Acto de juramentación, 2 de febrero de 1999
      </p>
      <p class="cita1"> “Yo no tengo Judas porque yo no soy Cristo, yo soy sólo un seguidor de Cristo.”
      </p>
      <p class="piecita1">Llamada telefónica del presidente Hugo Chávez Frías al programa “Contra Golpe” Venezolana de
        Televisión. 05 de noviembre de 2007. (Invitado: General (r) Alberto Müller Rojas)
      </p>
      <p class="cita1"> “Yo les voy a pedir a todos, ¡miren!, yo les ruego a los venezolanos que mi nombre no se lo
        pongan a nada ni a ciudadelas, ni a barrios, ni a avenidas, ni hoy ni mañana, ni nunca jamás. No, no, porque eso
        es algo, es una desviación personalista. Eso no debe ser así”.
      </p>
      <p class="piecita1"> “Aló, Presidente” N° 37. Sede Televisa, Maracaibo–Edo Zulia. 10 de abril de 2000
      </p>
      <p class="cita1"> “Yo estoy aquí no por mí, yo estoy aquí por un compromiso; yo no soy causa, soy consecuencia”.
      </p>
      <p class="piecita1">Acto de juramentación, 2 de febrero de 1999
      </p>
      <p class="cita1"> “Quiero agradecer, no tengo palabras para agradecer tantos honores, que yo de verdad, de verdad
        creo no merecer, ¿saben? Creo no merecer.”
      </p>
      <p class="piecita1">Entrega del Doctorado Honoris Causa de la Universidad Nacional de Ingeniería al presidente de
        la República
        Bolivariana de Venezuela, Hugo Chávez. Plaza del Rectorado. Managua, Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1"> “Yo no tengo glorias, lo que tengo son ganas de ser útil”.
      </p>
      <p class="piecita1">Acto de juramentación, 2 de febrero de 1999
      </p>
      <p class="cita1"> “He venido aquí con toda la humildad que pueda caber en el corazón de un hombre, a jurar de
        nuevo, una vez más; a ratificar un juramento.”
      </p>
      <p class="piecita1">Discurso tras ser ratificado en el cargo como Presidente de la Republica por la
        Asamblea Nacional Constituyente. Palacio Federal Legislativo, 11 de agosto de 1999
      </p>
      <p class="cita1"> “El solo hecho, ese único hecho, y muy sencillo y concreto, es demostrable aquí; pueden enfocar
        las cámaras, amigos camarógrafos, a la primera línea y a la segunda línea y a las líneas de sillas en este
        hemiciclo. ¿Quiénes estaban sentados allí hace trescientos sesenta y cinco días exactamente? Comparen. Ese solo
        hecho a mí me permite decir no solo que me siento humildemente satisfecho de haber dirigido este gobierno de un
        año, un año y una ñapita que me darán, ¿no, Luis?” (Dirigiéndose a Luis Miquelena)
      </p>
      <p class="piecita1">Discurso al cumplirse el primer año de Gobierno. Palacio Federal Legislativo, 2 de febrero de
        2000
      </p>
      <p class="cita1"> “Yo a nadie le pido que me defienda, yo no me importo.”
      </p>
      <p class="piecita1">Discurso tras ser ratificado en el cargo como Presidente de la Republica por la
        Asamblea Nacional Constituyente. Palacio Federal Legislativo, 11 de agosto de 1999
      </p>
      <p class="cita1"> “Yo no quise en verdad hacer un evento, creo que no se justificaba estar invitando jefes de
        Estado, algunos querían venir, llamaron: “Miren, mañana llego”. No, no vengan. Tuve que llamar, más bien, a
        algunos muy amigos que decían: “No, no importa, yo voy”. No, no vengas porque me complicas el acto, ¿cómo hago
        yo?”
      </p>
      <p class="piecita1">Juramentación del Presidente de la República Bolivariana de Venezuela, Hugo Chávez Frías
        (período 2007-2013)
        Palacio Federal Legislativo. 10 de enero de 2007
      </p>
      <p class="cita1"> “El Gobierno no es Chávez ni es de Chávez”.
      </p>
      <p class="piecita1">Inauguración de la Unidad Materno Infantil “Dr. Oswaldo Ismael Brito”.
        Tucupita, estado Delta Amacuro; 20 de mayo de 2006
      </p>
      <p class="cita1"> “Lo ruego, mire, pero es que por favor, lo clamo, no le vayan a poner mi nombre o el de mi papá
        o el de mi mamá o el de mi esposa o el de Rosinés Chávez, no, no, no”.
      </p>
      <p class="piecita1">Aló Presidente Nro. 66. Puerto Ordaz, Estado Bolívar. 25 de marzo de 2001
      </p>
      <p class="cita1"> “Me equivoque, yo acepto el error, y todos los demás son consecuencia de éste, todos los demás
        son consecuencia de éste, que si la mala gestión de gobiernos locales, de gobiernos de gobiernos regionales.”
        (En relación a la perdida de la enmienda constitucional.)
      </p>
      <p class="piecita1">Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de 2008
      </p>
      <p class="cita1"> “Felicito a mis adversarios por esa victoria, nosotros estamos hechos para una batalla larga,
        para una batalla larga, ¿no?”
      </p>
      <p class="piecita1">Alocución presidencial (cadena nacional) Salón Ayacucho, Palacio de Miraflores. Lunes, 3 de
        diciembre de 2007
      </p>
      <p class="cita1"> “Debemos trabajar muy duro, fusionando conciencia y organización, desechando —y esto va para con
        nuestros voceros y voceras— cualquier forma de triunfalismo.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡Que viva la Patria niña!. 18 Julio 2010
      </p>
      <p class="cita1"> “¡Pero qué me importa a mí!, lo que importa aquí es el pueblo venezolano, lo que importa es la
        dignidad del pueblo venezolano, lo que importa es la grandeza del pueblo venezolano, ¡qué puedo importar yo!”
      </p>
      <p class="piecita1">Celebración del VIII aniversario del Instituto Nacional de la Mujer (Inamujer).Sala Ríos
        Reyna, Teatro Teresa Carreño. 31 de octubre de 2007
      </p>


      <p class="cita1"> “Se han equivocado y se seguirán equivocando los que pretenden achacarle a Hugo Chávez todos los
        males y alguno que otro bien de lo que aquí ocurre; no, mentira; Hugo Chávez apenas es una paja en el viento,
        una paja en el huracán desatado.”
      </p>
      <p class="piecita1">Discurso con motivo de su toma de posesión como Presidente de la República Bolivariana de
        Venezuela para el
        periodo 2000-2006 ante la Asamblea Nacional
      </p>
      <p class="cita1"> “Mayor dicha, humilde dicha no puede caber en el corazón de un hombre y eso no me pertenece, por
        supuesto, yo apenas hoy como un transmisor, como un conductor de la dicha, la dicha la comparto con ustedes y
        especialmente con el pueblo heroico y noble de Venezuela.”
      </p>
      <p class="piecita1">Palacio Federal Legislativo, 5 de agosto de 1999
      </p>
      <p class="cita1"> “Yo no voy a tomar el sueldo del Presidente como referencia, porque no puedo, no debo, no debo,
        porque yo no tengo prácticamente gastos, yo no debería tener sueldo más bien.”
      </p>
      <p class="piecita1">Juramentación del Presidente de la República Bolivariana de Venezuela, Hugo Chávez Frías
        (período 2007-2013)
        Palacio Federal Legislativo. 10 de enero de 2007
      </p>
      <p class="cita1"> “Si ustedes consideran que mi presencia como Jefe del Estado, pudiera perturbar las labores
        soberanas de la Asamblea, hagan conmigo lo que ustedes quieran, son ustedes los dueños de este momento
        nacional.”
      </p>
      <p class="piecita1">Palacio Federal Legislativo, 5 de agosto de 1999
      </p>
      <p class="cita1"> “Soy un instrumento, un instrumento de un pueblo, de un colectivo, de millones y millones que
        fueron durante mucho tiempo atropellados, masacrados, perseguidos, reprimidos, explotados, robados y hundidos en
        la pobreza, en la miseria, en la exclusión, por dictaduras disfrazadas de democracia, las que aquí hubo durante
        todo el siglo XX, con algunos breves paréntesis.”
      </p>
      <p class="piecita1">Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar Palacio de Miraflores. 1° de
        febrero de 2007
      </p>
      <p class="cita1"> “A mí no me importa para nada que me llamen tirano, que me llamen...”
      </p>
      <p class="piecita1">Aló Presidente Nro. 016. Radio Nacional de Venezuela. 26 de Septiembre de 1999
      </p>
      <p class="cita1"> “El triunfo no es mío, ¡qué va a ser mío! Yo soy consecuencia, no soy causa. Los hombres
        individuales somos consecuencia, no somos causa”
      </p>
      <p class="piecita1">FORO SOCIAL MUNDIAL.Porto Alegre, Brasil, 26 de enero de 2003
      </p>
      <p class="cita1"> “Una vez me invitaron, que vamos a inaugurar la calle Hugo Chávez. ¡Ay no!, yo no quiero ir,
        quítenle ese nombre, pónganle calle larga o calle bonita, (¿cómo se dice calle en goajiro? Guapú). Bueno, calle
        Guapú”.
      </p>
      <p class="piecita1"> “Aló, Presidente” N° 37. Sede Televisa, Maracaibo–Edo Zulia. 10 de abril de 2000
      </p>
      <p class="cita1"> “Yo estoy aquí para ser instrumento de un colectivo.”
      </p>
      <p class="piecita1">Discurso de toma de posesión. Palacio Federal Legislativo. 2 de febrero de 1999
      </p>
      <p class="cita1"> “¡Tantos honores!, bueno, yo los recibo con humildad”
      </p>
      <p class="piecita1">Entrega del Doctorado Honoris Causa de la Universidad Nacional de Ingeniería al presidente de
        la República
        Bolivariana de Venezuela, Hugo Chávez. Plaza del Rectorado. Managua, Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1"> “Yo mismo decía, “oye, es bastante difícil que ganemos unas elecciones presidenciales, pero
        vamos a intentarlo”; y gracias al pueblo y esa esperanza que fue cuajando en las calles, me eligieron ustedes
        Presidente, la mayoría, sobre todo los más pobres, no fueron los ricos los que a mí me eligieron, ¡no!, la masa
        popular pues, clase media, sectores de las clases bajas.”
      </p>
      <p class="piecita1">Aló Presidente Nº 299. Escuela de Formación Socialista Ezequiel Zamora. 6 de enero de 2008
      </p>
      <p class="cita1"> “Humildemente el cargo de Presidente de la Republica, que el pueblo me dio por elección popular
        el 6 de diciembre y este Gobierno que dirijo y el cargo de Presidente de la Republica y de Jefe del Estado, lo
        pongo a la orden de la soberana Asamblea Nacional Constituyente, para que ustedes vean y decidan qué hacer con
        ello.”
      </p>
      <p class="piecita1">Palacio Federal Legislativo, 5 de agosto de 1999
      </p>
      <p class="cita1"> “Vengo a pedirle perdón al pueblo del Zulia”.
      </p>
      <p class="piecita1"> “Aló, Presidente” N° 37. Sede Televisa, Maracaibo–Edo Zulia. 10 de abril de 2000.
      </p>
      <p class="cita1"> “Yo seré un soldado, el primero de la batalla, trataré de estar en todas partes, hablando con el
        campesino, con el obrero, con el Gobernador, con el Alcalde, con el empresario, con el político, con el soldado,
        con el Comandante, con el General, con todos”
      </p>
      <p class="piecita1">Acto de juramentación, 2 de febrero de 1999
      </p>
      <p class="cita1"> “Como decía un escritor venezolano: uno debe armarse, no con la pobreza del espíritu, sino con
        el espíritu de la pobreza, espíritu de pobreza, espíritu de humildad y reconocer lo que debemos reconocer.”
      </p>
      <p class="piecita1">Entrega del Doctorado Honoris Causa de la Universidad Nacional de Ingeniería al presidente de
        la República
        Bolivariana de Venezuela, Hugo Chávez. Plaza del Rectorado. Managua, Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1"> “Yo me crié entre maizales, por allá cerca entre el Rio Boconó y el Masparro, en Sabaneta de
        Barinas, mi querido pueblo, entre Sabaneta, Los Rastrojos, Mijagual, esos eran grandes maizales, hoy son grandes
        maizales, gigantescos.”
      </p>
      <p class="piecita1">Aló Presidente Nro. 172. Hacienda de maíz “El Chivo”, Edo. Bolívar. 16 de noviembre de 2003
      </p>
      <p class="cita1"> “Yo pudiera aquí aferrarme a una matemática manejada y decir: no, hasta que no se cuente la
        última acta manual que llegue de por allá, o la última acta que llegue de allá, de Tucusiapón, no aceptamos la
        derrota.”
      </p>
      <p class="piecita1">Alocución presidencial (cadena nacional) Salón Ayacucho, Palacio de Miraflores. Lunes, 3 de
        diciembre de 2007
      </p>


      <p class="cita1"> “Yo, como convocante que he sido, como firmante del decreto que abrió la puerta al burro y al
        hombre, como luchador incansable y guerrero que soy de este combate, me siento humildemente satisfecho”
      </p>
      <p class="piecita1">Palacio Federal Legislativo, 5 de agosto de 1999
      </p>
      <p class="cita1"> “Yo sólo soy —repito a Bolívar— “una débil paja arrastrado por el huracán revolucionario...”.”
      </p>
      <p class="piecita1">Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar Palacio de Miraflores. 1° de
        febrero de 2007
      </p>
      <p class="cita1"> “Yo, lo que soy es un soldado y un hombre de este pueblo”
      </p>
      <p class="piecita1">Programa Nro. 1 - Aló Presidente desde la sede de Radio Nacional de Venezuela. 23 de mayo de
        1999
      </p>
      <p class="cita1"> “No hay adversario pequeño. Nadie debe despreciar ningún adversario”.
      </p>
      <p class="piecita1">Juramentación del Comando Nacional Maisanta, Teatro Municipal de Caracas 09 de Junio de 2004
      </p>
      <p class="cita1"> “Me han hecho ustedes feliz, porque terrible seria que una revolución dependa de un hombre: no
        sería revolución.” (Sobre la instalación de la Asamblea Constituyente)
      </p>
      <p class="piecita1">Palacio Federal Legislativo, 5 de agosto de 1999
      </p>
      <p class="cita1"> “Seguimos haciendo un esfuerzo y hay que seguirlo haciendo para mejorar nuestros datos y el
        manejo de la estadísticas.”
      </p>
      <p class="piecita1">Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de 2008
      </p>
      <p class="cita1"> “Yo por supuesto que me cuido, pero no soy indispensable, no hay hombres individuales
        indispensables.”
      </p>
      <p class="piecita1">Aló Presidente N° 62. Bailadores Edo. Mérida. 11 de febrero de 2001
      </p>
      <p class="cita1"> “Soy un soldado y seré soldado hasta que me muera, y seré un hombre hasta que me muera, ahora
        Presidente, no seré hasta que me muera, Presidente seré por un tiempo”.
      </p>
      <p class="piecita1"> “Aló, Presidente” N° 37. Sede Televisa, Maracaibo–Edo Zulia. 10 de abril de 2000
      </p>
      <p class="cita1"> “A nombre de tantas cosas, permítanme solo decirles mil gracias, han estado ustedes a la altura
        del momento histórico.”
      </p>
      <p class="piecita1">Discurso con motivo del homenaje a la Constitución de 1819 y clausura de las sesiones de la
        Asamblea Nacional Constituyente. Palacio Federal Legislativo, 30 de enero de 2000
      </p>
      <p class="cita1"> “Yo no soy más grande que nadie tampoco soy más pequeño que nadie, me siento tan igualito que
        todos ustedes, pero hay una institución en Curazao que todos los años asigna un premio que llaman el Hombre del
        Año de América Latina y han decidido dármelo a mí y yo lo recibo por Venezuela y por el pueblo venezolano.”
      </p>
      <p class="piecita1">Aló Presidente N° 46. Aeropuerto Antonio Nicolás Briceño. Valera, Estado Trujillo 08 de
        octubre de 2000
      </p>
      <p class="cita1"> “Yo vengo de las clases bajas si es que vamos a clasificar.”
      </p>
      <p class="piecita1">Fiesta 106.5 FM La fiesta de Full chola Desde el Palacio de Miraflores, Caracas
        Martes 4 de septiembre de 2012
      </p>
      <p class="cita1"> “No se trata de Chávez, Chávez no ha sido sino una circunstancia.”
      </p>
      <p class="piecita1">Rueda de Prensa. Hotel Alba Caracas, Distrito capital Martes, 11 de septiembre de 2012
      </p>
      <p class="cita1"> “Yo no soy un gran orador, soy un conversador más bien.”
      </p>
      <p class="piecita1">Rueda de Prensa. Hotel Alba Caracas, Distrito capital Martes, 11 de septiembre de 2012
      </p>
      <p class="cita1"> “Teníamos hasta algunos códigos para hablar por teléfono, Pastrana y este humilde servidor.”
      </p>
      <p class="piecita1">Rueda de Prensa. Parque Ezequiel Zamora, El Calvario
        Caracas, miércoles 5 de septiembre de 2012
      </p>
      <p class="cita1"> “Uno tiene que ser ignorante, reconocer ignorancia, que no sabe pues y aprender.”
      </p>
      <p class="piecita1">Rueda de Prensa. Parque Ezequiel Zamora, El Calvario
        Caracas, miércoles 5 de septiembre de 2012
      </p>
      <p class="cita1"> “Yo humilde soldado, porque es lo que soy, que orgullo, humilde orgullo, que suerte he tenido,
        secuestrado, casi asesinado y la masa del pueblo y la masa de los soldados, ya hubiera querido yo no para mí esa
        suerte, para Bolívar nuestro padre cuando lo echaron y se quedó sin pueblo y se quedó sin soldados.”
      </p>
      <p class="piecita1">Conversatorio sobre el Golpe de Estado de Abril de 2002
        Palacio de Miraflores
        Miércoles, 11 de abril de 2012
      </p>
      <p class="cita1"> “Dichoso me siento a pesar de las dificultades, bueno uno está hecho para las dificultades será
        así, así es, así es.”
      </p>
      <p class="piecita1">Designación y Juramentación del comando de campaña “Los que quieran patria vengan con Chávez”
        Sala Ríos Reyna - Teatro Teresa Carreño Caracas, jueves 23 de febrero de 2012
      </p>
      <p class="cita1"> “Hablar de uno mismo no es fácil, no es fácil. Voy a seguir el consejo de un filósofo que decía,
        uno tiene que vestirse de humildad siempre, andar vestido de humildad.”
      </p>
      <p class="piecita1">Entrevista exclusiva al Presidente Hugo Chávez, concedida a la periodista Helena Rostova del
        programa Russia
        Today, transmitido por TV Moscú 15 de octubre de 2010
      </p>
      <p class="cita1"> “Saben una cosa, a mí no me gusta el poder, ni la parafernalia del poder, tiendo más bien a
        evadirme de las parafernalias del poder, debemos seguir el ejemplo y cada día tenemos que ser más humildes.”
      </p>
      <p class="piecita1">Aló Presidente Nro. 187 Desde Cabruta, Estado Guárico.4 de abril de 2004
      </p>
      <p class="cita1"> “Lo que queremos no es ser ricos, materialmente, yo considero que eso no es bueno, lo que
        queremos es vivir dignamente, lo que queremos es vivir entre iguales y en paz.”
      </p>
      <p class="piecita1">Aló Presidente Programa Nro. 186 Desde La Planta De Llenado De Pdvsa En Guatire
        28 De marzo De 2004
      </p>
      <p class="cita1"> “Hay que generar la igualdad, desde el alma, desde la mente, un nuevo pueblo, un pueblo nuevo,
        líderes, igualitario y justo, sensible a las mejores causas, no sólo de nosotros mismos, sino de otros pueblos
        del planeta, la causa de la paz, la justicia social, de la igualdad, y de la libertad.”
      </p>
      <p class="piecita1">Aló Presidente N° 204 Desde Unidad Educativa Nacional Claudio Feliciano Las Adjuntas.
        Parroquia Macarao. Municipio Libertador Domingo, 19 de septiembre de 2004
      </p>
      <p class="cita1"> “Me comunicaron hace una semana atrás que habían decidido otorgarme el premio Gadafia los
        Derechos Humanos (…) premio que ha sido otorgado entre otros a Mandela, a Fidel Castro y a muchos líderes y
        hombres que están luchando por sus pueblos, yo me siento bañado de honor y me pongo así muy chiquitico, muy
        humilde y en verdad ese premio como ya lo dije no es para mí sino yo lo dedico al pueblo venezolano.”
      </p>
      <p class="piecita1">Aló Presidente N° 207
        Desde la Refinería de Puerto La Cruz. Estado Anzoátegui
        Domingo, 10 de octubre de 2004
      </p>
      <p class="cita1"> “Yo soy es un empleado de ustedes, ustedes me pusieron a mí aquí y yo trataré de cumplir siempre
        con ustedes.”
      </p>
      <p class="piecita1">Aló Presidente N° 210
        Desde el Palacio de Miraflores
        Domingo 9 de Enero de 2005
      </p>
      <p class="cita1"> “Triste de aquel que piense “yo soy el gobernador” “yo soy el presidente” no, yo no soy nada de
        eso, uno está ocupando un puesto pero yo soy Hugo, Hugo Chávez más nada, eso es lo que soy y más allá un soldado
        trabajador, un soldado campesino un soldado.”
      </p>
      <p class="piecita1">Aló Presidente N° 213
        Desde las instalaciones de la Industria Venezolana Papelera (INVEPAL)
        Morón. Estado Carabobo. Domingo 20 de Febrero de 2005
      </p>
      <p class="cita1"> “No aspiramos a tener una nación de ricos, ¡ojo! Oído al tambor, que nadie se equivoque, no.
        Recordemos a Cristo, “… más fácil será que un camello entre por el ojo de una aguja, que un rico entre al reino
        de los cielos”. No, no queremos ser ricos, lo que queremos es vivir dignamente.”
      </p>
      <p class="piecita1">Aló Presidente N° 217 Desde Las Queseras del Medio. Estado Apure Domingo 3 de Abril de 2005

      </p>
      <p class="cita1"> “Nosotros no andamos buscando ser ricos, porque es que hace poco me preguntó alguien por allá:
        “Chávez, ¿y cuándo crees tú que todos seremos ricos? Nunca, -le dije-, estás equivocado”. Por allá, en una
        calle, alguien me preguntó: “¿Ah, no vamos a ser ricos? No chico, no, no, no.”
      </p>
      <p class="piecita1">Aló Presidente N° 217 Desde Las Queseras del Medio. Estado Apure Domingo 3 de Abril de 2005
      </p>
      <p class="cita1"> “El diablo del dinero vamos a quitarnos eso de la mente, nos metieron eso aquí, no le metamos
        eso a los niños ni a los jóvenes, quitémoslo eso de la mente, chico, que las ganas de tener mucho dinero ¿para
        qué? si al final todos nos vamos a morir, y nos vamos a convertir en tierra otra vez, seamos útiles, vivamos con
        dignidad.”
      </p>
      <p class="piecita1">Aló Presidente N° 218. Desde La Puntita de Yuma Rivera del Lago de Valencia. Estado Carabobo
        Domingo, 10 de Abril de 2005
      </p>
      <p class="cita1"> “No puede ser la meta de una persona ser rico, materialmente hablando, no eso es malo. Ser rico
        materialmente hablando es malo, Cristo lo dijo: Más fácil será que un camello pase por el ojo de una aguja a que
        un rico entre al reino de los cielos. Por algo lo dijo Cristo. Vamos a llenarnos de humildad. Ah, no es lo mismo
        la humildad que la marginalidad.”
      </p>
      <p class="piecita1">Aló Presidente N° 218 Desde La Puntita de Yuma Rivera del Lago de Valencia. Estado Carabobo.
        Domingo, 10 de Abril de 2005
      </p>
      <p class="cita1"> “Un alcalde no necesita palacio municipal, yo si fuera alcalde andaría en bicicleta por las
        calles hablando con la gente en la esquina, en burro, claro en lancha por un río, río abajo, río arriba en un
        carrito muy, muy modesto pa’ qué camionetas y blindados ¿pa’ qué? yo tengo que hacerlo por obligación incluso
        por responsabilidad, soy responsable de cuidar mi vida.”
      </p>
      <p class="piecita1"> “ALÓ, PRESIDENTE”, programa Nº 343. Desarrollo Urbanístico “Simón Bolívar”. Municipio Páez,
        Estado Portuguesa. Domingo, 8 de noviembre de 2009
      </p>
      <p class="cita1"> “Tuve la dicha de nacer en la pobreza, si volviera a nacer yo le pediría a mi Dios, vuélveme a
        mandar al mismo pesebre aquel, a la misma pobreza aquella que nos hace grande por humildes ¿No? Y nos trajo
        hasta aquí.”
      </p>
      <p class="piecita1"> “Aló, Presidente” Nº 347. La Platera, municipio Tinaco, estado Cojedes
        Domingo, 10 de enero de 2010
      </p>
      <p class="cita1"> “Seré el mismo para siempre. ¡Gracias a Dios y gracias a las enseñanzas de todos ustedes!, de
        mis padres, de mis familiares, mis amigos.”
      </p>
      <p class="piecita1">Aló Presidente N° 18. Desde la casa de Hugo De Los Reyes Chávez, Gobernador
        Del Estado Barinas, en Barinas Estado Barinas. 31 de octubre de 1999.
      </p>
      <p class="cita1"> “A mí no me importa cuánto tiempo yo, Hugo Chávez, vaya a ser Presidente del país, ¡no!; yo soy
        un soldado y si tengo que terminar mi vida barriendo pisos pues terminaré barriendo pisos, no me importa para
        nada el status que ocupe.”
      </p>
      <p class="piecita1">Aló Presidente Nro. 20
        Radio Nacional de Venezuela
        Domingo14 de Noviembre de 1999 </p>


    </ion-card-content>
  </ion-card>
</ion-content>
