<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/turismo.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “La Tortuga, es una isla casi del mismo tamaño que Aruba, y eso está
        virgencito. Ahí vamos a hacer un proyecto de turismo moderno, siglo XXI,
        con el apoyo de Cuba que es uno de los países más avanzados en turismo,
        no sólo en el continente, en el mundo. Y nosotros allá vamos a
        desarrollar un proyecto, unos hoteles también, una empresa mixta.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Pudiéramos hacer una empresa de propiedad social para el turismo cuyo
        objetivo sea viajar al Junquito por aquí por la ciudad, por el Camino de
        los Indios, o ahora que recuperamos el teleférico que estaba en manos
        privadas, ahora pasa a ser propiedad social, para ir allá arriba al
        Hotel Humboldt, al Ávila a hacer turismo social.”
      </p>
      <p class="piecita1">
        Asamblea del Batallón Nº 6 de la Circunscripción Nº 1 de aspirantes a
        militantes del Partido Socialista Unido de Venezuela (PSUV) Museo
        Histórico Militar Parroquia 23 Enero-Caracas.28 de julio de 2007
      </p>
      <p class="cita1">
        “Y recuerdo haberlo dicho hace años: allá está El Junquito, allá está el
        mar, Dios mío, aquí es bien bueno el frio de la noche para el turismo,
        hacer unas posadas, que ya deberían estar hechas”.
      </p>
      <p class="piecita1">
        Primer consejo de Ministros. Palacio de Miraflores, 20 de octubre 2012
      </p>
      <p class="cita1">
        “En Turismo, nosotros no vamos a hacer grandes inversiones, eso no le
        toca al Estado. Nosotros hacemos la Ley, nosotros hacemos las
        regulaciones, nosotros hacemos la inversión básica, pero las grandes
        inversiones turísticas tienen que ser aportes del sector privado,
        entonces, preséntennos los proyectos y dígannos qué necesitan, cuáles
        son los obstáculos y nosotros estamos dispuestos como gobierno a
        impulsarlos junto con ustedes.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 45. Desde el Palacio de Miraflores 01 de Octubre de
        2000
      </p>
      <p class="cita1">
        “Venezuela está llamada a ser uno de los países punta en el turismo de
        América y del mundo. Tenemos de todo, tenemos playas, montañas, bellezas
        naturales, un pueblo alegre, feliz, bueno grandes ríos, selvas, tenemos
        hasta desierto.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 46. Aeropuerto Antonio Nicolás Briceño. Valera, Estado
        Trujillo 08 de octubre de 2000
      </p>
      <p class="cita1">
        “Vamos a hacer una ruta de navegación, desde Caicara, San Fernando,
        Puerto Nutrias, Guasdualito. Dale para allá y dale para acá, transporte
        de carga y de personas pues, turismo. Esos ríos son maravillosos, el
        Apure.”
      </p>
      <p class="piecita1">
        Entrega de Bonos Petro-Orinoco a ex trabajadores del Estado. Salón
        Ayacucho, Palacio de Miraflores Martes, 4 de septiembre de 2012
      </p>
      <p class="cita1">
        “Un proyecto turístico para el lago de Valencia, hay que limpiar el lago
        de Valencia.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 205 Desde Parque Sur. Estado Zulia Domingo, 26 de
        septiembre de 2004
      </p>
      <p class="cita1">
        “Imagínense lo bonito que sería un proyecto turístico para las clases
        populares: los pobres que tanto viven por ahí por Maracay y todas esas
        ciudades que rodean al Lago de Valencia, un proyecto turístico,
        ecológico en el Lago de Valencia, en las riveras ahí se pueden hacer
        hasta playas ¡playas! Entre naturales y artificiales.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 205 Desde Parque Sur. Estado Zulia Domingo, 26 de
        septiembre de 2004
      </p>
      <p class="cita1">
        “Voy a crear el Ministerio de Turismo, porque es un factor estratégico
        el turismo, hace falta darle más fuerza al turismo, no hemos avanzado
        casi nada en turismo en estos años.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 210 Desde el Palacio de Miraflores Domingo 9 de Enero
        de 2005
      </p>
      <p class="cita1">
        “El turismo endógeno. Las industrias. Eso es parte de los desafíos del
        próximo ciclo: 20132019. Y es parte del reto, desafío más bien, grande,
        muy grande, de pasar a un nuevo modelo, dejar atrás el rentismo
        petrolero, el modelo rentístico petrolero.”
      </p>
      <p class="piecita1">
        Sesión de Ministros. Cadena Nacional Salón Néstor Kirchner, Palacio de
        Miraflores 22 de mayo de 2012
      </p>
      <p class="cita1">
        “El turismo ha estado abandonado. Venezuela tiene un gran potencial.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 23 Desde Mérida, Estado Mérida. Domingo, 5 de
        diciembre de 1999
      </p>
      <p class="cita1">
        “El turismo es parte de los proyectos de desarrollo social y económico
        del país. Mérida, entre ellos, es una zona de alto potencial turístico.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 23 Desde Mérida, Estado Mérida. Domingo, 5 de
        diciembre de 1999
      </p>
      <p class="cita1">
        “En la Constitución, la nueva Constitución de la República Bolivariana
        de Venezuela se señala al turismo como actividad de interés nacional y
        se obliga al Estado, a la sociedad y a la empresa privada a
        promocionarlo.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 23 Desde Mérida, Estado Mérida. Domingo, 5 de
        diciembre de 1999
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
