<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/coloquial.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1"> “Nosotros no estamos aquí negociando por debajo de la mesa, a realazos ni aceptamos chantajes de
        sindicatos que todavía están en manos, algunos de ellos, de las viejas cúpulas. No; con nosotros se juega, sí
        como el beisbol, tira tu recta por el medio, yo veré si le hago swing o no le hago swing, vamos a jugar claro y
        a sentarnos en la mesa a dialogar con claridad.” (En relación al acuerdo con los trabajadores de PDVSA)
      </p>
      <p class="piecita1">Aló Presidente Programa Nro. 47 Desde El Palacio de Miraflores 15 de octubre De 2000
      </p>
      <p class="cita1"> “Yo he optado por ser un preso pues, yo salgo de aquí, cómo no, y bueno, el equipo y los
        muchachos de Casa Militar y la seguridad visible y la invisible, pero yo de aquí voy a mi celda [risas]; que yo
        vayaa tomarme alguna libertad de salir, ¡no!, me prohibí eso, yo antes lo hacía. No, no, cumplo mi trabajo y a
        la cárcel voy. [Risas]”
      </p>
      <p class="piecita1">Aló Presidente, Nº 323 Clínica Popular El Valle, parroquia El Valle, 21 de diciembre de 2008
      </p>
      <p class="cita1"> “Yo tengo un estilo que es el suicidismo (jugando dominó), lo mío es suicidismo, yo ando
        buscando tranca todo el tiempo ¡pa, pa, pum![risas], y a veces terminamos, pero más de una vez la he pegado.”
      </p>
      <p class="piecita1">Aló Presidente, Nº 323 Clínica Popular El Valle, parroquia El Valle, 21 de diciembre de 2008
      </p>
      <p class="cita1"> “Los ricos y los ricachones, ¿van apoyarme? No, yo estoy seguro de que no, pero nunca. Algunos,
        ahí hay una minoría, un 10%, más o menos, que son unos patriotas, que habría que hacerles una estatua a toditos
        allá en Los Próceres, a los ricos chavistas habría que hacerles una estatua.”
      </p>
      <p class="piecita1">Aló Presidente, programa Nº 325 Los valles de Tucutunemo, municipio Zamora, Edo. Aragua 1 de
        marzo de 2009
      </p>
      <p class="cita1"> “No terminé de decirlo porque no me dieron café, me están castigando con manzanilla, pero me
        tomo la manzanilla y después un cafecito.”
      </p>
      <p class="piecita1">Aló Presidente N° 40 Desde la Sede de Radio Nacional de Venezuela 27 de Agosto de 2000
      </p>
      <p class="cita1"> “Es un grupo minoritario (Primero Justicia); ojalá tenga vida, pero eso dependerá de la seriedad
        de ustedes, si no, van a desaparecer, se lo va a tragar la irresponsabilidad, la mentira, la superficialidad y
        el no ser capaces de interpretar el momento político que está viviendo Venezuela, porque si van a seguir
        cayéndole a mentiras y a coba al pueblo, bueno, en mí tendrán por supuesto, la artillería de la batalla.”
      </p>
      <p class="piecita1">Aló Presidente N° 40
        Desde la Sede de Radio Nacional de Venezuela 27 de Agosto de 2000

      </p>
      <p class="cita1"> “Hemos consultados seis veces al pueblo y ahí está el pueblo hablando. Bueno, el que no quiera
        oír que no oiga, el que no quiera ver que no vea, pobres de ellos.”
      </p>
      <p class="piecita1">Aló Presidente N° 40
        Desde la Sede de Radio Nacional de Venezuela 27 de Agosto de 2000
      </p>
      <p class="cita1"> “Más claro no canta un gallo, el que quiera defender que defienda su tesis, yo voy a mi batalla,
        que es la batalla de la mayoría de los venezolanos.”
      </p>
      <p class="piecita1">Aló Presidente N° 40
        Desde la Sede de Radio Nacional de Venezuela
        27 de Agosto de 2000
      </p>
      <p class="cita1"> “La solución no es irse para Caracas, como dicen en el llano: “Vámonos para Caracas”. No, no, ya
        está bueno eso de vámonos para Caracas.”
      </p>
      <p class="piecita1">Aló Presidente N° 48.
        Base Científica-Naval Simón Bolívar. Isla de Aves
        22 de octubre de 2000
      </p>
      <p class="cita1"> “Que vivamos en equilibrio con la naturaleza y la educación tiene mucha importancia, de allí hay
        que comenzar, estamos agarrando el toro por los cachos.”
      </p>
      <p class="piecita1">Aló Presidente N° 48.
        Base Científica-Naval Simón Bolívar. Isla de Aves
        22 de octubre de 2000
      </p>
      <p class="cita1"> “Hicieron el pacto de Punto Fijo, un ratico robo yo y un ratico robas tú, un ratico para ti y un
        ratico para mí, eso es lo que ellos entienden por alternabilidad y democracia, se les acabó el pan de piquito,
        compadre, no van a volver, se los jura Hugo Chávez que no van a volver.”
      </p>
      <p class="piecita1">Aló Presidente N° 324
        Complejo Agroindustrial “Vuelvan Caras”
        Municipio Turén. Estado Portuguesa Domingo 11 de enero de 2009
      </p>
      <p class="cita1"> “Así me decían algunos a mí: “Señor Presidente saliente…”. ¡Saliente! Yo te aviso, chirulí.”
      </p>
      <p class="piecita1">Acto de Proclamación del Presidente Hugo Chávez
        Ante el Consejo Nacional Electoral 10 de octubre de 2012
      </p>
      <p class="cita1"> “Hay gente que se acostumbra a pedir, a pedir, a pedir y uno da, da, y da, y después recibe
        puñaladas por la espalda ve.”
      </p>
      <p class="piecita1">Asamblea con trabajadores de la CVG, Pdvsa y demás sectores productivos Bolívar, 20 de agosto
        de 2012
      </p>
      <p class="cita1"> “Habría que ser bien ingenuo, o para decirlo más clarito, habría que ser bien pendejo para creer
        el cuento de la burguesía, ese cuento que cargan de que ellos van apoyar las misiones, el que crea eso es un
        verdadero pendejo.”
      </p>
      <p class="piecita1">Caravana y concentración en apoyo al candidato Chávez Guarenas, estado Miranda Sábado, 29 de
        septiembre de 2012
      </p>
      <p class="cita1"> “Este pueblo ya no es un pueblo de pendejos.”
      </p>
      <p class="piecita1">Caravana y concentración en apoyo al candidato Chávez
        Guarenas, estado Miranda Sábado, 29 de septiembre de 2012
      </p>
      <p class="cita1"> “Este es un pueblo avispa’ o que despertó y no se deja engatusar.”
      </p>
      <p class="piecita1">Caravana y concentración en apoyo al candidato Chávez
        Guarenas, estado Miranda Sábado, 29 de septiembre de 2012
      </p>
      <p class="cita1"> “El candidato burgués anda nerviosillo, anda nerviosillo porque sabe que va a perder y sabe
        además, no sólo que va a perder, nosotros lo vamos a aplastar políticamente, lo vamos a aplastar, va a quedar
        aplastado el candidato burgués y todo lo que él representa.”
      </p>
      <p class="piecita1">Caravana y concentración San Félix, estado Bolívar Sábado, 18 de agosto de 2012
      </p>
      <p class="cita1"> “Por más que te disfraces majunche, se te ve el bojote burgués, eres un burgués.”
      </p>
      <p class="piecita1">Caravana y concentración San Félix, estado Bolívar Sábado, 18 de agosto de 2012
      </p>
      <p class="cita1"> “Señor banquero “Perico de los Palotes”, si usted cree que es riesgoso tener un banco en
        Venezuela pues no lo tenga, pues, no lo tenga y más nada. Váyase y móntelo en Miami pues, a ver.”
      </p>
      <p class="piecita1">Consejo de Ministros Salón Néstor Kirchner, Palacio de Miraflores 23 de febrero de 2012
      </p>
      <p class="cita1"> “El único decreto que Carmona tuvo tiempo de firmar antes de salir, ¿cómo dicen en el llano?
        Paticas pa’ qué te tengo, no, ¿te acuerdas?, paticas pa’ qué te tengo (risa), antes de salir corriendo pa’l
        basurero de la historia con todos sus aliados, el único decreto que Carmona tuvo tiempo de firmar tuvo que ver
        con los créditos indexados.”
      </p>
      <p class="piecita1">Gran Misión Vivienda Venezuela con sectores medios del país
        Salas Ríos Reyna, Teatro Teresa Carreño. Viernes 17 de agosto de 2012
      </p>
      <p class="cita1"> “Así pasa con el candidato burgués, él pretende ahora conocer a Venezuela, él anda ufanándose de
        que ha recorrido 150 pueblos, yo me río de eso, yo he recorrido un millón de pueblos, estos pies que me soportan
        mira no sé cuántas décadas tengo yo recorriendo estos pueblos, sudándolos, llorándolos.”
      </p>
      <p class="piecita1">Inspección al Desarrollo Habitacional Terrazas del Aluminio
        Municipio Caroní, Estado Bolívar Lunes, 20 de agosto de 2012
      </p>
      <p class="cita1"> “Ellos, por ejemplo, a mí siempre me subestimaron ¡ah! Craso error.” (La Burguesía.)
      </p>
      <p class="piecita1">Inspección al Desarrollo Habitacional Terrazas del Aluminio Municipio Caroní, Estado Bolívar
        Lunes, 20 de agosto de 2012

      </p>
      <p class="cita1"> “Oye de verdad, que nos cayeron varias... sí en verdad, en serio, varios ramalazos —como se
        dice— de la naturaleza y bueno del accidente terrible, la tragedia de Amuay. Pero vamos recuperándonos y
        saliendo, saliendo pa’ lante, por encima de las dificultades como decía yo, por ahí, somos los hijos de Bolívar,
        ¡el hombre de las dificultades!”
      </p>
      <p class="piecita1">Fiesta 106.5 FM La fiesta de Full chola Desde el Palacio de Miraflores, Caracas
        Martes 4 de septiembre de 2012
      </p>
      <p class="cita1"> “Tú sabes que Francis Fukuyama hace pocos años se le ocurrió “decretar” la muerte de la
        historia, el fin de la historia cuando cae la Unión Soviética. Lo que no se imaginaban los neoliberales es que
        la historia estaba era — ¿cómo dicen?— de parranda.”
      </p>
      <p class="piecita1">Lanzamiento y puesta en órbita del VRSS-1 Miranda Palacio de Miraflores. Caracas.
        Viernes, 28 de septiembre de 2012
      </p>
      <p class="cita1"> “Aquí la cultura así mal entendida, bueno estaba reservada a una élite, la cultura, los cultos,
        los “curtos”, (risa) los “curtos”, la cultura, la sociedad de la cultura.”
      </p>
      <p class="piecita1">Martín Román y Hugo Contreras, Entrevistan al candidato Hugo Chávez
        Sede de Telellano, Barinas, Estado Barinas Viernes, 14 de septiembre de 2012
      </p>
      <p class="cita1"> “Cuidado con el “todo está listo” cuidado con el “no hay novedad” los líderes debemos andar
        buscando por todos lados las novedades, jorungando, buscando los detalles, dando el ejemplo además de trabajo,
        de entrega, de vocación.”
      </p>
      <p class="piecita1">Reunión con la maquinaria electoral del PSUV Caracas, viernes 7 de septiembre de 2012
      </p>
      <p class="cita1"> “Ya hoy son una agresión, una agresión a la ética, una agresión a la moral, una agresión a la
        verdad, una agresión a la inteligencia de nuestro pueblo, es el candidato jalabolas, una agresión a la madurez
        que ha venido obteniendo el pueblo venezolano.”
      </p>
      <p class="piecita1">Reunión con la maquinaria electoral del PSUV Caracas, viernes 7 de septiembre de 2012
      </p>
      <p class="cita1"> “Quienes somos para entusiasmar, para inyectarle fuego patrio a los que andan por ahí todavía
        como agüevoneado, como decían por allá, a los que pudieran andar como desmotivados, a los que pudieran andar
        como sin motivaciones ¿verdad?; hay que cantarles.”
      </p>
      <p class="piecita1">Reunión con la maquinaria electoral del PSUV Caracas, viernes 7 de septiembre de 2012
      </p>
      <p class="cita1"> “Después ustedes se quejan de que la rueda de prensa dura 4 horas. ¿Hay almuerzo aquí? Tengan
        previsto todo, hasta cena, porque me hacen de a cuatro preguntas, ¿ve?, y yo, el muchacho que es llorón y la
        mama que lo pellizca.”
      </p>
      <p class="piecita1">Rueda de Prensa. Hotel Alba Caracas, Distrito capital Martes, 11 de septiembre de 2012
      </p>
      <p class="cita1"> “Recuerdo cuando salí de la cárcel era reuniones interminables y cada quien quería dar un
        discurso, creo que formamos aquel frente pro constituyente, hasta que un día yo le dije a algunos amigos, les
        dije: Mira yo, yo prefiero irme pa’ la calle porque aquí nos estamos consumiendo en esta reunionitis.”
      </p>
      <p class="piecita1">Rueda de Prensa. Hotel Alba Caracas, Distrito capital Martes, 11 de septiembre de 2012 </p>


      <p class="cita1"> “Silencio en la noche. ¿Cómo es que decía aquella propaganda de un plagatox? La familia duerme,
        con plagatox descansa. Silencio, se quedan calladitos o como mi hija María que era una niña: “silencio en la
        sala el burro va hablar, el que hablé primero burro será”. Y el que hablaba buera era burro, burro.”
      </p>
      <p class="piecita1">Rueda de Prensa. Hotel Alba Caracas, Distrito capital Martes, 11 de septiembre de 2012
      </p>
      <p class="cita1"> “A mí todos los días me insultan, me sacan caricaturas, etc., ah, me voy a poner, le voy hacer
        caso a eso, ve; ahora, entonces, hay que tener un poquito de humor, digo yo”.
      </p>
      <p class="piecita1">Rueda de Prensa. Hotel Alba Caracas, Distrito capital Martes, 11 de septiembre de 2012
      </p>
      <p class="cita1"> “Ya uno casi no se sorprende, fíjense ustedes esto, para la reflexión, nadie se sienta agredido
        porque es que a mí me dicen de todo y yo no me siento agredido, hasta la madre me la han sacado a mí por
        televisión, ustedes recuerdan. No ofende quien quiere sino quien puede.”
      </p>
      <p class="piecita1">Rueda de Prensa. Parque Ezequiel Zamora, El Calvario Caracas, miércoles 5 de septiembre de
        2012
      </p>
      <p class="cita1"> “La caza del octubre rojo”, vean esa película, aunque al final se imponen los valores del
        imperio yanqui ¿no? (risa), todo eso a veces tiene una carga de veneno, pero ya los que estamos inmunizados no
        tiene nada, el veneno no nos afecta para nada.”
      </p>
      <p class="piecita1">Rueda de Prensa. Parque Ezequiel Zamora, El Calvario
        Caracas, miércoles 5 de septiembre de 2012
      </p>
      <p class="cita1"> “A mí no me gusta hablar del chavismo, pero anda por todos lados, y el antichavismo, y el
        chavismo sin Chávez, y yo lo leo y lo vuelvo a leer, y ahora también hablo pues, me sumo al chavismo pues, al
        chavismo con Chávez, con Chávez al cuadrado, o al cubo.”
      </p>
      <p class="piecita1">20º aniversario del 4 de febrero de 1992 Paseo Los Próceres, 4 de febrero de 2012
      </p>
      <p class="cita1"> “Este momento que no es de despedida, no, no, yo voy allí mismo y ya vengo ¿verdad? Y ya
        vuelvo.” (Refiriéndose a su operación)
      </p>
      <p class="piecita1">Designación y Juramentación del comando de campaña “Los que quieran patria vengan con Chávez”
        Sala Ríos Reyna - Teatro Teresa Carreño Caracas, jueves 23 de febrero de 2012
      </p>
      <p class="cita1"> “Ayer arrancó un conjunto de programas para nuestros compatriotas que están privados de
        libertad, pues también son venezolanos y tiene los derechos de todo ser humano, pues. Llegó la Chamba, a
        trabajar.”
      </p>
      <p class="piecita1">II entrega de asignaciones económicas a la Gran Misión Hijos de Venezuela y la Gran Misión
        Amor Mayor Venezuela. Salón Ayacucho, Palacio de Miraflores
        Caracas, jueves 9 de febrero de 2012
      </p>
      <p class="cita1"> “Por ahí andan diciendo que Chávez es un irresponsable, ahora está regalándole plata a las
        mujeres embarazadas, a las adolescentes y eso lo que va a producir es el incremento del embarazo precoz. Vaya
        que locos, están medio locos compadre, les patina el coco; [canta] les patina el coco compadre.”
      </p>
      <p class="piecita1">Aló, Presidente, Programa Nº 376
        Faja Petrolífera del Orinoco, Petromonagas, estado Anzoátegui.
        8 de enero de 2012
      </p>
      <p class="cita1"> “Que vas a ganar tu chico, nada, ganarás para tu casa compadre, aquí va a ganar Chávez el 7 de
        octubre.” (Refiriéndose a Henrique Capriles Radonski)
      </p>
      <p class="piecita1">Aló, Presidente, Programa Nº 376
        Faja Petrolífera del Orinoco, Petromonagas, estado Anzoátegui.
        8 de enero de 2012
      </p>
      <p class="cita1"> “La OIT (Organización Internacional del Trabajo) se puede ir a freír monos si les da la gana
        pero aquí hay un país soberano.” (En relación al Paro Petrolero de 2002)
      </p>
      <p class="piecita1">Aló Presidente Programa Nro. 186 Desde La Planta De Llenado De Pdvsa En Guatire
        28 De marzo De 2004
      </p>
      <p class="cita1"> “El mundo ha venido al revés, hay que seguirlo volteando para ponerlo derecho pues, justo,
        ponerlo justo.”
      </p>
      <p class="piecita1">Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado Aragua Domingo, 6 de
        diciembre de 2009
      </p>
      <p class="cita1"> “Yo soy cuartelero, en un cuartel estoy como caimán en el Orinoco.”
      </p>
      <p class="piecita1">Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado Aragua Domingo, 6 de
        diciembre de 2009
      </p>
      <p class="cita1"> “Todos debemos, la mayoría debemos ser capaces de detectar los “bate partidos”, los infiltrados,
        los que no tienen valores bien acendrados, revolucionarios de verdad.”
      </p>
      <p class="piecita1">Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado Aragua Domingo, 6 de
        diciembre de 2009
      </p>
      <p class="cita1"> “Yo he sido siempre un pata en el suelo y yo moriré pata en el suelo, no quiero riquezas, no
        quiero nada, nada.”
      </p>
      <p class="piecita1">Aló Presidente Nº 345. Hotel Maracay. Municipio Girardot, Maracay, estado Aragua Domingo, 6 de
        diciembre de 2009
      </p>
      <p class="cita1"> “Esta mañana estaba cantando, no sé por qué amanecí como enguayabado chico ¿ves? Sería porque
        dormí en Morichal ahí, me quedé en Morichal.”
      </p>
      <p class="piecita1">Macolla Guanaguanay, estado Monagas 22 de agosto de 2012
      </p>
      <p class="cita1"> “Burguesía te lo vuelvo a repetir, a ti burguesía apátrida y a su candidato majunche hagan lo
        que hagan está escrito les daremos un nocaut fulminante el 7 de octubre.”
      </p>
      <p class="piecita1">Encuentro con los trabajadores petroleros Desde el Polideportivo José María Vargas. Edo.
        Vargas 31 de agosto de 2012
      </p>
      <p class="cita1"> “Santa Bárbara bendita, que me llegue el audio. Es que no oigo cuando tú estabas hablando allí,
        yo no estaba oyendo nada, te estaba leyendo los labios, yo leo los labios.”
      </p>
      <p class="piecita1">Aló Presidente N° 204 Desde Unidad Educativa Nacional Claudio Feliciano Las Adjuntas.
        Parroquia Macarao. Municipio Libertador Domingo, 19 de septiembre de 2004
      </p>
      <p class="cita1"> “Bueno yo estoy aquí, pues, por decisión de la mayoría, no de todos, imposible, no soy monedita
        de oro.”
      </p>
      <p class="piecita1">Aló Presidente N° 204 Desde Unidad Educativa Nacional Claudio Feliciano Las Adjuntas.
        Parroquia Macarao. Municipio Libertador Domingo, 19 de septiembre de 2004
      </p>
      <p class="cita1"> “En diciembre, empiezan a llegar las solicitudes, hasta de Ministerios, ¡Ah Muy bonito! a mí que
        no me manden solicitudes, el que me la mande le voy a dar con el bate de Sammy Sosa. Si nosotros mismos, desde
        el gobierno, queremos (Pdvsa, la Fuerza Armada, etc.), importar juguetes para darles juguetes a los niños; no,
        vamos hacer los juguetes aquí vale.”
      </p>
      <p class="piecita1">Aló Presidente N° 206 Desde la Cooperativa Central Cafetalero Bramón Municipio Junín, Rubio.
        Estado Táchira Domingo, 03 de octubre de 2004
      </p>
      <p class="cita1"> “Se los dije señores de la oposición que yo los esperaba en Santa Inés, y vean lo que les pasó
        en Santa Inés, medio palo fresco pues, se los dije, yo se los había dicho que lo mejor para ellos era no ir a
        referéndum.”
      </p>
      <p class="piecita1">Aló Presidente N° 207 Desde la Refinería de Puerto La Cruz. Estado Anzoátegui Domingo, 10 de
        octubre de 2004
      </p>
      <p class="cita1"> “Yo le vi la cara a la pelona, se la vi, le dije: ¿qué hubo? Estaba listo pa´ irme con ella, me
        regresé o me regresaron.” (Recordando el golpe del 2002)
      </p>
      <p class="piecita1">Aló Presidente N° 211 Desde el Salón Ayacucho del Palacio de Miraflores Domingo 16 de Enero de
        2005
      </p>
      <p class="cita1"> “Para demostrar que no es que estamos hablando pistoladas, ni estamos buscando recursos
        retóricos para adornar lo que decimos ¡no! Para demostrar que estamos haciendo realidad aquel sueño, aquel
        proyecto aquí estamos hoy en estos terrenos, aquí muy cerquita de Morón, aquí en las riberas del río Yaracuy,
        aquí frente al Golfo Triste de Patanamo.”
      </p>
      <p class="piecita1">Aló Presidente N° 213
        Desde las instalaciones de la Industria Venezolana Papelera (INVEPAL)
        Morón. Estado Carabobo. Domingo 20 de Febrero de 2005
      </p>
      <p class="cita1"> “Empresario que abandone su barco le agarramos el barco compaé, le agarramos el barco.”
      </p>
      <p class="piecita1">Aló Presidente N° 213
        Desde las instalaciones de la Industria Venezolana Papelera (INVEPAL)
        Morón. Estado Carabobo. Domingo 20 de Febrero de 2005
      </p>
      <p class="cita1"> “En el evento de Venancham, Carmona recibió una prolongada ovación del público, y fue presentado
        como el hombre correcto en el momento correcto en Venezuela ¡Ayayayayayaya! El hombre incorrecto en el momento
        incorrecto, terminó esmadrao.”
      </p>
      <p class="piecita1">Aló Presidente N° 215 Desde Salón Ayacucho. Palacio de Miraflores Domingo 13 de Marzo de 2005
      </p>
      <p class="cita1"> “Una vez yo le dije a Aznar: “Bueno y tú crees que eres Fernando VII”. Porque él quería venir
        aquí, a América Latina a mandar, a dar órdenes, a decir que las relaciones con Cuba y no sé qué otro cuento. Le
        dije: “Vete bien lejos, tienes un complejo, un complejo imperial”. Todavía sigue hablando pistoladas por ahí.”
      </p>
      <p class="piecita1">Aló Presidente N° 216 Desde el Campo Experimental del INIA Municipio Alberto Arvelo Torrealba.
        Sabaneta. Estado Barinas
        Domingo 20 de Marzo de 2005
      </p>
      <p class="cita1"> “Cuántos vicios nos dejó el adecaje y todo aquello que gobernó el país! Sembraron esto de vicios
        y de podredumbre por todos lados, de mañas, como decía mi abuela, malamañistas, así decía mi abuela, la Rosa
        Inés.”
      </p>
      <p class="piecita1">Aló Presidente N° 217 Desde Las Queseras del Medio. Estado Apure Domingo 3 de Abril de 2005
      </p>
      <p class="cita1"> “No le estamos haciendo nada a la miseria. La estamos golpeando en la médula.”
      </p>
      <p class="piecita1">Aló Presidente N° 218 Desde La Puntita de Yuma Rivera del Lago de Valencia. Estado Carabobo
        Domingo,10 de Abril de 2005
      </p>
      <p class="cita1"> “Yo juego dominó pero al revés, alguien me dijo por ahí una vez que yo parecía una mula
        encasquillá al revés jugando dominó. Yo juego dominó suicida, al revés, descoloco a veces porque no sé jugarlo,
        juego dominó guerrillero.”
      </p>
      <p class="piecita1">Aló Presidente N° 218 Desde La Puntita de Yuma Rivera del Lago de Valencia. Estado Carabobo
        Domingo,10 de Abril de 2005
      </p>
      <p class="cita1"> “Jalabolas eres tú majunche, del imperialismo, ¡jalabolas! ¡majunche, jalabolas de la
        burguesía!, ¡jalabolas de los vende patria!, ¡jalabolas del imperialismo eres tú majunche!, ¡jalabolas que eres
        tú!”
      </p>
      <p class="piecita1">Encuentro con los trabajadores petroleros Desde el Polideportivo José María Vargas. Edo.
        Vargas 31 de agosto de 2012
      </p>
      <p class="cita1"> “Lo último que leí por ahí que dijo el majunche es que, bueno, no, que a la Revolución le vamos
        a quitar la R para que sea una evolución. Él ni siquiera sabe lo que está diciendo ¿no? Es lo que le ponen a que
        diga.”
      </p>
      <p class="piecita1">Encuentro con los trabajadores petroleros Desde el Polideportivo José María Vargas. Edo.
        Vargas 31 de agosto de 2012
      </p>
      <p class="cita1"> “Qué centro-izquierda va a ser tú majunche, tú eres de la extrema derecha, eres un fascista
        majunche, quién te lo va a creer, nadie te lo cree, yo creo que ni él mismo, aunque al final él puede terminar
        creyéndose su mentira, y a lo mejor después de las elecciones el majunche solicita inscribirse en el Partido
        Socialista.”
      </p>
      <p class="piecita1">Encuentro con los trabajadores petroleros Desde el Polideportivo José María Vargas. Edo.
        Vargas 31 de agosto de 2012
      </p>
      <p class="cita1"> “¿Por qué yo le digo jalabolas? Y le voy a seguir diciendo jalabolas hasta que me canse porque
        cuando él le dice jalabolas a los trabajadores venezolanos está ofendiendo la dignidad del pueblo y de la patria
        toda, la dignidad nacional, él es el jalabolas, mil veces jalabolas, majunche, jalabolas del imperio.”
        (Refiriéndose a Capriles Radonski)
      </p>
      <p class="piecita1">Encuentro con los trabajadores petroleros Desde el Polideportivo José María Vargas. Edo.
        Vargas 31 de agosto de 2012
      </p>
      <p class="cita1"> “El poderío de Venezuela fue metido como en una licuadora, es licuado pues, y así llegó
        Venezuela a finales del siglo XX.”
      </p>
      <p class="piecita1">Sesión de Ministros. Cadena Nacional Salón Néstor Kirchner, Palacio de Miraflores 22 de mayo
        de 2012
      </p>
      <p class="cita1"> “La cerveza, yo no soy contrario a eso, yo no soy musulmán pues, pero para qué cerveza, ¿verdad?
        Pregúntense ustedes. ¿Para qué? ¿Para qué caña? ¿Para qué? ¿Para qué? El que esté despechado, bueno, un clavo
        saca otro clavo compadre [risas]; un clavo saca otro clavo.”
      </p>
      <p class="piecita1">Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado Aragua Domingo, 6 de
        diciembre de 2009
      </p>
      <p class="cita1"> “Por qué tenemos que poner por delante la locha chico, ¿ah? O es la patria o las lochas, qué
        es.”
      </p>
      <p class="piecita1">Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado Aragua Domingo, 6 de
        diciembre de 2009
      </p>
      <p class="cita1"> “Ahora están tratando de decir que Chávez es el corrupto y que este banquero, Ricardo Fernández,
        financió a Chávez, y que ahora por alguna razón Chávez le está quitando el poder y le está quitando los bancos,
        y lo tiene, Chávez lo tiene preso. Bueno, el que quiera creer eso, ¡vayaa lavarse ese paltó, compadre! Yo no
        tengo problemas, no me importa, a mí no me importa nada, digan lo que digan.”
      </p>
      <p class="piecita1">Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado Aragua Domingo, 6 de
        diciembre de 2009
      </p>
      <p class="cita1"> “Candelita que se prenda, candelita que se apague”.
      </p>
      <p class="piecita1">Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado Aragua Domingo, 6 de
        diciembre de 2009
      </p>
      <p class="cita1"> “Bueno, hay buenas noticias, ha llovido en estos días, el embalse de Camatagua, por ejemplo,
        ayer me informaron, todos los días estoy yo pendiente de eso, subió un metro de nivel, eso no significa que van
        a dejar de usar la totuma, vamos a usar la totuma Teresita, ¿verdad? Ahorremos.”
      </p>
      <p class="piecita1"> “ALÓ, PRESIDENTE”, programa Nº 343 Desarrollo Urbanístico “Simón Bolívar”. Municipio Páez,
        Estado Portuguesa
        Domingo, 8 de noviembre de 2009
      </p>
      <p class="cita1"> “Les ruego que ustedes me oigan bien saben, porque a veces yo tengo la sensación de que uno
        habla y habla y a veces hay gente que anda pensando en no sé, anda como decíamos en el Ejército, anda por allá
        en la Nebulosa de Andrómeda, perdido por allá en la Luna pensando en otras cosas”
      </p>
      <p class="piecita1"> “ALÓ, PRESIDENTE”, programa Nº 343 Desarrollo Urbanístico “Simón Bolívar”. Municipio Páez,
        Estado Portuguesa, domingo, 8 de noviembre de 2009
      </p>
      <p class="cita1"> “El molino ya no existe pero el viento que lo movía aún continúa soplando. El molino adeco ya no
        existe, el molino copeyano ya no existe, pero el viento que lo movía sigue soplando, las costumbres hermano, las
        costumbres, las viejas y malas costumbres.”
      </p>
      <p class="piecita1"> “ALÓ, PRESIDENTE”, programa Nº 343 Desarrollo Urbanístico “Simón Bolívar”. Municipio Páez,
        Estado Portuguesa
      </p>
      <p class="cita1"> “A mí me han sacado hasta mi madre en público pues, de ahí pa´ abajo imagínense a los demás y me
        han mandado a matar cien veces, cien veces y no han podido hasta ahora, Dios me cuide, Maisanta me protege con
        el escapulario.”
      </p>
      <p class="piecita1"> “ALÓ, PRESIDENTE”, programa Nº 343 Desarrollo Urbanístico “Simón Bolívar”. Municipio Páez,
        Estado Portuguesa
        Domingo, 8 de noviembre de 2009
      </p>
      <p class="cita1"> “No te digo pues que es que a veces uno habla, decía mi abuela, uno habla como si estuviera
        hablando con las piedras con los árboles.”
      </p>
      <p class="piecita1"> “ALÓ, PRESIDENTE”, programa Nº 343 Desarrollo Urbanístico “Simón Bolívar”. Municipio Páez,
        Estado Portuguesa
        Domingo, 8 de noviembre de 2009
      </p>
      <p class="cita1"> “Yo hago un llamado a todos, no voy a nombrar a nadie “al que le caiga le chupa”.”
      </p>
      <p class="piecita1"> “ALÓ, PRESIDENTE”, programa Nº 344 Comuna el Maizal, ubicada entre los municipios Simón
        Planas y Araure, de los estados Lara y Portuguesa Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1"> “El enemigo es muy hábil. Mira ¿tú sabes quién me puso a mí a pelear, nos puso a pelear a Arias
        Cárdenas y a mí? Luis Miquilena, pero seguro, yo caí por pendejo, seguro.”
      </p>
      <p class="piecita1"> “ALÓ, PRESIDENTE”, programa Nº 344 Comuna el Maizal, ubicada entre los municipios Simón
        Planas y Araure, de los estados Lara y Portuguesa Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1"> “El enemigo dice que (Henri) Falcón va a ser candidato a la presidencia contra mí, ya lo andan
        diciendo, lo andan diciendo en privado pues, y lo están trabajando, mándalos pa’l carajo Henri, porque si no te
        vas a joder tú.”
      </p>
      <p class="piecita1"> “ALÓ, PRESIDENTE”, programa Nº 344 Comuna el Maizal, ubicada entre los municipios Simón
        Planas y Araure, de los estados Lara y Portuguesa Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1"> “Yo sé que el pueblo de Lara quiere a Henri, pero lo quiere de este lado, si él brinca para allá
        algún día o empieza ahí... No, mira lo que le pasó a Manuit, Manuit creía que él iba a imponer a la hija. No,
        terminó, anda huyendo ahorita, porque además se metió a ladrón...”
      </p>
      <p class="piecita1"> “ALÓ, PRESIDENTE”, programa Nº 344 Comuna el Maizal, ubicada entre los municipios Simón
        Planas y Araure, de los estados Lara y Portuguesa Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1"> “¿Y por qué entonces ustedes no hablan pues? ¿Por qué no se comunican? ¡Aaaah! Pica mi gallo.
        ¿Tengo razón o no tengo razón? No se unen.”
      </p>
      <p class="piecita1"> “ALÓ, PRESIDENTE”, programa Nº 344 Comuna el Maizal, ubicada entre los municipios Simón
        Planas y Araure, de los estados Lara y Portuguesa Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1"> “Un cafecito con leche por favor.”
      </p>
      <p class="piecita1"> “ALÓ, PRESIDENTE”, programa Nº 344 Comuna el Maizal, ubicada entre los municipios Simón
        Planas y Araure, de los estados Lara y Portuguesa Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1"> “El socialismo no va a aparecer como el Espíritu Santo, o lo hacemos nosotros o no lo hacemos,
        deseos no empreñan, dicen allá en los llanos.”
      </p>
      <p class="piecita1">Aló Presidente Nº 348 Filas de Mariche – Estado Miranda Domingo, 17 de enero de 2010
      </p>
      <p class="cita1"> “Hay que pensar mucho, tenemos que poner a sudar el cerebro, que sude el cerebro, nuestro
        cerebro, estudiar e inventar porque el socialismo, como lo dice Mariátegui, hace cien años lo escribió más o
        menos, un poco menos, es creación heroica.”
      </p>
      <p class="piecita1">Aló Presidente Nº 348 Filas de Mariche – Estado Miranda Domingo, 17 de enero de 2010
      </p>
      <p class="cita1"> “La ley del llano, por ejemplo, dice que tú no puedes trancar el camino real, así lo llaman
        todavía, el camino real sabanero.”
      </p>
      <p class="piecita1">Aló Presidente Nº 348 Filas de Mariche – Estado Miranda Domingo, 17 de enero de 2010
      </p>
      <p class="cita1"> “Los escuálidos no descansan, esos no descansan compadre, porque además están llenos de odio.”
      </p>
      <p class="piecita1"> “Aló, Presidente”, programa Nº 344 Comuna el Maizal, de los estados Lara y Portuguesa
        Domingo, 29 de noviembre de 2009 </p>

      <p class="cita1"> “Es que pa’ frenar, yo freno el café con café. La gripe con café, no con Coricidin.”
      </p>
      <p class="piecita1"> “Aló, Presidente”, programa Nº 344 Comuna el Maizal, de los estados Lara y Portuguesa
        Domingo, 29 de noviembre de 2009

      </p>
      <p class="cita1"> “Cada día estaremos inventando más, porque este que está aquí, como decía mi abuela es
        disposicionero, me gusta inventar.”
      </p>
      <p class="piecita1"> “Aló Presidente”, Programa Nº 372 Salón de Consejo de Ministros, Palacio de Miraflores.
        Domingo, 20 de marzo de 2011.
      </p>
      <p class="cita1"> “Aquí hay venezolanos y venezolanas que lo dijeron públicamente yo prefiero de gobernante en
        Venezuela un general yanqui, que a este loco a este mono, Chávez, pues. ¡Es la locura!, ¡la locura!, ¡la
        locura!”
      </p>
      <p class="piecita1"> “Aló Presidente”, Programa Nº 372 Salón de Consejo de Ministros, Palacio de Miraflores.
        Domingo, 20 de marzo de 2011.
      </p>
      <p class="cita1"> “Así como lo he dicho en los últimos días, si echan plomo de allá para acá, pues de aquí para
        allá no van a ir flores. Igualito le respondemos con la verdad por delante y que el pueblo nos juzgue, a ver
        quién tiene la razón.”
      </p>
      <p class="piecita1">Aló Presidente Nro. 23 Desde Mérida, Estado Mérida. Domingo, 5 de diciembre de 1999
      </p>
      <p class="cita1"> “Se me recalentaron los cañones un poquito de tanto echar plomo porque ustedes saben que el
        plomo que ando echando es el plomo de la palabra y a mí me echan plomo sabroso.”
      </p>
      <p class="piecita1">Aló Presidente Nro. 24 Aeropuerto de Valencia. Estado Carabobo 12 de Diciembre de 1999
      </p>
      <p class="cita1"> “Uno puede vivir en una selva como Tarzán, pero, sin comer cómo, cómo tú comes, cómo tú vives,
        cómo tú produces, cómo tú estudias, cómo tú trabajas, ¿ve?, ¿eh?, ¿eh?, cómo aportas lo que es un ser humano, el
        potencial humano, alimentos, eso sólo lo garantiza un modelo socialista.”
      </p>
      <p class="piecita1">Aló, Presidente, Programa Nº 372
        Salón de Consejo de Ministros, Palacio de Miraflores. Domingo, 20 de marzo de 2011.
      </p>
      <p class="cita1"> “Ayer salió un dirigente copeyano, que fue gobernador del estado Falcón. Bueno, diciendo que él
        no estaba de acuerdo con el paquetazo del majunche, y llamando a votar por Chávez, imagínate tú, como estarán en
        la oposición; se derrumba la oposición, se les cayó la careta a la extrema derecha burguesa y neoliberal; ¡más
        nunca volverán a gobernar a Venezuela!”
      </p>
      <p class="piecita1">Caravana y concentración en apoyo al candidato Chávez
        Guarenas, estado Miranda Sábado, 29 de septiembre de 2012
      </p>
      <p class="cita1"> “Yo no creo en esas cosas de brujos.”
      </p>
      <p class="piecita1">Aló Presidente Programa Nro. 44 Desde El Palacio de Miraflores 24 de septiembre de 2000
      </p>
      <p class="cita1"> “Cada quien debe tratar de arroparse hasta donde le alcance la cobija, como se dice.”
      </p>
      <p class="piecita1">Aló Presidente N° 45. Desde el Palacio de Miraflores 01 de Octubre de 2000

      </p>
      <p class="cita1"> “¡Ah, los ricos chillan! Los ricachones, los señorones, que chillen, que sigan chillando, que
        sigan ladrando los perros que nosotros seguiremos avanzando por la Revolución Bolivariana, la Revolución
        Socialista, la justicia, la igualdad, todos somos iguales.”
      </p>
      <p class="piecita1">Aló Presidente N° 341 Centro Diagnóstico Integral Caucagua Municipio Acevedo, Estado Miranda
        Domingo, 4 de octubre de 2009
      </p>
      <p class="cita1"> “Yo soy de Sabaneta, soy el “Arañero de Sabaneta”, entonces uno araña mucho por ahí ¿no? Anda
        arañando, soy el arañero.”
      </p>
      <p class="piecita1">Fiesta 106.5 FM La fiesta de Full chola Desde el Palacio de Miraflores, Caracas
        Martes 4 de septiembre de 2012
      </p>
      <p class="cita1"> “Un consejo que le doy a todo aquel que se sienta difamado e injuriado: andemos a la altura,
        volemos a la altura de las águilas, no bajemos a esa situación rastrera de las moscas.”
      </p>
      <p class="piecita1">Aló Presidente N° 26
        Sede de la Radio Nacional de Venezuela
        16 enero de 2000
      </p>
      <p class="cita1"> “La tarea que tenemos por delante es muy grande. Yo comienzo recordando lo siguiente, lo del
        Yogi Berra: “el juego no se gana hasta que no se hace el out 27”.”
      </p>
      <p class="piecita1">Martín Román y Hugo Contreras
        Entrevistan al candidato Hugo Chávez
        Sede de Telellano, Barinas, Estado Barinas Viernes, 14 de septiembre de 2012
      </p>
      <p class="cita1"> “Los escuálidos son una quinta columna aquí, sepámoslo, una quinta columna, ellos son apátridas,
        ellos son tan apátridas como la oligarquía colombiana, los oligarcas de aquí y andan regados por todos lados.”
      </p>
      <p class="piecita1"> “ALÓ, PRESIDENTE”, programa Nº 343 Desarrollo Urbanístico “Simón Bolívar”. Municipio Páez,
        Estado Portuguesa
        Domingo, 8 de noviembre de 2009 </p>
    </ion-card-content>
  </ion-card>
</ion-content>
