<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/israel.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1"> “Israel critica mucho a Hitler, nosotros también, pero ellos han hecho algo parecido, qué sé yo
        si peor a lo que hacían los nazis”.
      </p>
      <p class="piecita1">Junto al presidente Mahmoud Ahmadinejad en Irán, Agosto 2006.
      </p>
      <p class="cita1"> “A quienes hace días, el 9 de noviembre, “celebraban” —entre comillas, porque ya ni saben qué es
        lo que celebran— los 20 años de la caída del muro de Berlín, hay que recordarles la existencia de un muro que
        simboliza toda la ignominia de este mundo, un muro que debería caer definitivamente en la actualidad: el muro
        construido por Israel a lo largo de Cisjordania. El muro del apartheid contra el pueblo palestino.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: Campeones Bolivarianos!
        29 Noviembre 2009
      </p>
      <p class="cita1"> “Comenzó otra agresión contra la Franja de Gaza. Salvaje el Estado de Israel otra vez
        bombardeando la Franja de Gaza.”
      </p>
      <p class="piecita1">Reunión de Trabajo, Jueves de Vivienda
        Despacho Presidencial, Palacio de Miraflores
        Caracas, jueves 15 de noviembre de 2012
      </p>
      <p class="cita1"> “¡Fuego imperialista! ¡Fuego fascista! ¡Fuego asesino! Y fuego genocida el del Imperio y el de
        Israel contra el pueblo inocente de Palestina y el pueblo del Líbano. Esa es la verdad”.
      </p>
      <p class="piecita1">Discurso pronunciado en la ONU, Septiembre 2006
      </p>
      <p class="cita1"> “Allí está, también, el doloroso apartheid que padece el pueblo palestino a manos del Estado de
        Israel como demostración de quiénes son, en realidad y en verdad, los practicantes del terrorismo a escala
        mundial.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: El mundo multinuclear: El nuevo mundo
        14 Septiembre 2009
      </p>
      <p class="cita1"> “Exigimos y seguiremos exigiendo al Estado de Israel que no siga perturbando, obstaculizando y
        desestabilizando la existencia libre, soberana e independiente de Palestina.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: Campeones Bolivarianos!
        29 Noviembre 2009
      </p>
      <p class="cita1"> “Israel, el Estado de Israel lo inventaron los yanquis, y ahí lo pusieron, entre otras razones,
        para impedir la unidad del pueblo árabe, para frenar aquellas revoluciones árabes que tuvieron mucha fuerza, el
        socialismo árabe, con Naser y después Ghadafi.”
      </p>
      <p class="piecita1"> “Aló, Presidente”, programa Nº 337 Planta termoeléctrica “Josefa Camejo”, Península de
        Paraguaná, Estado Falcón, 16 de agosto de 2009 </p>
    </ion-card-content>
  </ion-card>
</ion-content>
