<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/tecnologia.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Nunca antes el mundo tuvo tan formidable potencial científico-técnico,
        tanta capacidad de crear riquezas y bienestar.”
      </p>
      <p class="piecita1">
        Acto de Instalación de la XII Cumbre de Jefes de Estado y de Gobierno
        del Grupo de los Quince G-15 1 de marzo de 2004
      </p>
      <p class="cita1">
        “El Proyecto Terra. Ya el país lo va a conocer. Es un proyecto que por
        ejemplo, a través de satélites se puede detectar cuál es la extensión de
        tierra sembrada en el país, en una región determinada.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 62. Bailadores Edo. Mérida. 11 de febrero de 2001
      </p>
      <p class="cita1">
        “193 infocentros cuentan con la conexión satelital, con servicios de
        calidad y totalmente gratis para nuestro pueblo.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: El Satélite, la Soya y Nuestra Independencia. 01
        Noviembre 2009
      </p>
      <p class="cita1">
        “Ustedes tienen que conectarse con el mundo. Nosotros tenemos que ayudar
        a que se conecten con el mundo.”
      </p>
      <p class="piecita1">
        Aló Presidente Teórico N° 1. Teatro Teresa Carreño. 11 de junio de 2009
      </p>
      <p class="cita1">
        “El viernes di la buena nueva de la reaparición del teléfono el
        “Vergatario”, gracias al reimpulso de Vtelca: ya están listos 153 mil
        para su distribución, y al mismo precio (30 Bs).”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: Llegó la poesía!. 23 Mayo 2010
      </p>
      <p class="cita1">
        “La feria de exposiciones de cuantos productos ellos allá han
        desarrollado con la idea de transferir tecnología, porque he allí la
        diferencia de quienes nos ven como mercados y quieren vendernos todo, y
        quienes nos ven como aliados, que quieren nuestro fortalecimiento, que
        quieren que Venezuela se levante.”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Vamos a fabricar aquí, a construir aquí con parte del ingreso
        petrolero, un porcentaje del ingreso petrolero -vamos a meterlo en la
        ley- destinado a fabricar celdas para la energía solar, pero a
        fabricarlas en cantidades masivas y con la última tecnología que podamos
        conseguir en el mundo”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores. 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Montamos una fábrica de computadoras, con China, ya estamos comenzando
        —así como los tractores— a ensamblarlas allá, pero comenzaremos a
        producir partes y componentes a medida que pase el tiempo, transferencia
        tecnológica.”
      </p>
      <p class="piecita1">
        Entrega del Doctorado Honoris Causa de la Universidad Nacional de
        Ingeniería al presidente de la República Bolivariana de Venezuela, Hugo
        Chávez. Plaza del Rectorado. Managua, Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “Vean ustedes, miren, tecnología china, esto es última tecnología.
        Pronto veremos estos camiones rodando por Venezuela, camiones de
        transporte, camiones para el trabajo, transporte de alimentos.”
      </p>
      <p class="piecita1">
        Cadena nacional. Despacho presidencial, Palacio de Miraflores. 15 de
        noviembre de 2012
      </p>
      <p class="cita1">
        “Debemos avanzar hacia una explosión masiva del conocimiento, de
        tecnología de innovación, en función de las necesidades sociales y
        económicas del país y de la soberanía nacional”.
      </p>
      <p class="piecita1">
        Aló Presidente N. º 247. Ciudad Guayana 19 de Febrero de 2006.
      </p>
      <p class="cita1">
        “¡¡Esto sólo es posible en Socialismo!! Gracias al Satélite Simón
        Bolívar hemos logrado traspasar las fronteras como consecuencia de la
        ejecución de un proyecto con la República Federativa del Brasil para
        conectar las zonas limítrofes e incluir, muy en especial, a las
        comunidades indígenas, por siglos aisladas.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: El Satélite, la Soya y Nuestra Independencia. 01
        Noviembre 2009
      </p>
      <p class="cita1">
        “Aquí estamos en un proceso de transferencia tecnológica, gracias a la
        generosidad de China”.
      </p>
      <p class="piecita1">“Aló Presidente”, Nro. 317. Agosto 2008</p>
      <p class="cita1">
        “Centro genético. Esto es uno de los factores fundamentales para el
        desarrollo de la ganadería en un país; la tecnología y la genética”.
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora. Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, estado Barinas. 29
        de enero de 2012
      </p>
      <p class="cita1">
        “La otra herramienta que podemos utilizar nosotros es tecnología, es la
        de los molinos de viento, los molinos, cuanto ayuda un sistema de
        molinos, ¿eh?, en esta sabana donde sopla tanta brisa, tanto viento.
        Pero hay que hacer un buen plan”.
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora. Estado Barinas. 29 de
        enero de 2012
      </p>
      <p class="cita1">
        “Ciudadana vicerrectora, usted que es de ingeniería química. Hay que
        trabajar juntos, en la química, la petroquímica.”
      </p>
      <p class="piecita1">
        Entrega del Doctorado Honoris Causa de la Universidad Nacional de
        Ingeniería al presidente de la República Bolivariana de Venezuela, Hugo
        Chávez. Plaza del Rectorado. Managua, Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “Venezuela creció este año pasado, según un informe mundial, 1.100% en
        cuanto a la cantidad de personas que tienen acceso a internet.”
      </p>
      <p class="piecita1">
        Discurso con motivo del segundo aniversario del referendo que convoco a
        la Asamblea Nacional Constituyente de 1999. Palacio Federal Legislativo,
        25 de abril de 2001
      </p>
      <p class="cita1">
        “Con la tecnología que tenemos hasta hoy sólo se puede recuperar 20 por
        ciento, máximo, de esa cantidad de petróleo. 20 por ciento son como unos
        280 mil, 300 mil barriles. Ahora supónganse que nosotros inventemos una
        tecnología nuestra —sobre la base de nuestro conocimiento, tanto experto
        petrolero, tanto ingeniero, trabajador como ustedes— que pudiéramos
        sacar de allí, no el 20, sino el 40 por ciento, duplicaría y más la
        reserva probada de petróleo, rumbo a esa meta: ser una potencia
        energética mundial.”
      </p>
      <p class="piecita1">
        Apoyo a la Inventiva Tecnológica Nacional Torre Ministerial, Caracas. 19
        de junio de 2007
      </p>
      <p class="cita1">
        “Esas corrientes de refinación irían también a fortalecer, hacia abajo,
        el polo petroquímico. El polo petroquímico se fortalece, ustedes saben,
        por dos corrientes, por las corrientes de refinación del petróleo, y por
        las corrientes meramente gasíferas.”
      </p>
      <p class="piecita1">
        Instalación de la I Cumbre Energética Suramericana Gran Salón Hotel
        Hilton Margarita, Porlamar, estado Nueva Esparta. 17 de abril de 2007
      </p>
      <p class="cita1">“Mira, tremenda computadora ¡Canaima!”</p>
      <p class="piecita1">
        “Aló, Presidente” Nº 369. Escuela Básica Nacional “Flores de Catia”.
        Parroquia 23 de Enero. 9 de enero de 2011
      </p>
      <p class="cita1">
        “Hasta descubrimos un planeta menor, un planetoide, ustedes saben que
        unos venezolanos desde Mérida descubrieron un planetoide en el año2000,
        ese planetoide se llama 2.000-EB173, ese nombre se lo asigno la Unión
        Astronómica Internacional.”
      </p>
      <p class="piecita1">
        Discurso ante la Asamblea Nacional. Memoria y Cuenta año 2000. Palacio
        Federal Legislativo, 15 de enero de 2001
      </p>
      <p class="cita1">
        “Tenemos que aplicar entonces el desarrollo científico, sistemas de
        riego, para aprovechar al máximo el potencial que tenemos ahí. O sea,
        para convertir el potencial en potencia, de eso se trata.” (Refiriéndose
        al acuífero en la Mesa de Guanipa)
      </p>
      <p class="piecita1">
        Cadena nacional. Despacho presidencial, Palacio de Miraflores. 15 de
        noviembre de 2012
      </p>
      <p class="cita1">
        “La energía solar también, estamos nosotros trabajando con Cuba y con
        Bolivia, colocando paneles de energía solar.”
      </p>
      <p class="piecita1">
        Entrega del Doctorado Honoris Causa de la Universidad Nacional de
        Ingeniería al presidente de la República Bolivariana de Venezuela, Hugo
        Chávez. Plaza del Rectorado. Managua, Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “Vamos a apoyar a los sectores privados con ciencia y tecnología.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 172. Hacienda de maíz “El Chivo”, Edo. Bolívar. 16
        de noviembre de 2003
      </p>
      <p class="cita1">
        “Venezuela es uno de los países del mundo que tiene mayor cantidad de
        teléfonos celulares per cápita, una de las razones es que la CANTV
        privatiza había prácticamente llevado a cero la instalación o la
        expansión de los sistemas de telefonía fija. Más de un millón de nuevas
        líneas móviles en este tiempo, en estos diez meses y más 195 mil nuevos
        suscriptores de Internet de banda ancha.”
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de
        2008
      </p>
      <p class="cita1">
        “Isal es una tecnología propia, diseñada para reducir el azufre en la
        gasolina sin afectar su octanaje; la primera prueba resulto exitosa en
        el año 2000.” (Tecnología creada en INTEVEP)
      </p>
      <p class="piecita1">
        Discurso ante la Asamblea Nacional. Memoria y Cuenta año 2000. Palacio
        Federal Legislativo, 15 de enero de 2001
      </p>
      <p class="cita1">
        “Seguimos instalando paneles solares en esos lugares remotos; y con el
        panel solar llega el Internet, llega la telefonía, llegan vías para el
        desarrollo, con el acceso a Internet.”
      </p>
      <p class="piecita1">
        Rueda de Prensa Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez Frías, con corresponsales extranjeros. Sala de Prensa Simón
        Bolívar. Palacio de Miraflores. 6 de junio de 2007
      </p>
      <p class="cita1">
        “Transferencia tecnológica, eso es cooperación, capacitación de nuestra
        gente.”
      </p>
      <p class="piecita1">
        Llegada del presidente de la República Bolivariana de Venezuela, Hugo
        Chávez Frías, a la ciudad de Teherán República Islámica de Irán. 30 de
        junio de 2007
      </p>
      <p class="cita1">
        “Dentro del proyecto nacional de desarrollo, necesitamos una política
        científica nacional, y estamos desarrollándola; de allí la Misión
        Ciencia y las Aldeas Universitarias.”
      </p>
      <p class="piecita1">
        Inauguración de Aldea Universitarias. Turmero, estado Aragua. 4 de abril
        de 2006
      </p>
      <p class="cita1">
        “Ciencia y tecnología al servicio del pueblo. Eso estaba limitado a las
        elites. La tierra para el pueblo, también estaba concentrada en las
        elites. El capital para el pueblo, también estaba concentrado en las
        elites. Es una revolución, y cada día tendrá signos más profundamente
        revolucionarios.”
      </p>
      <p class="piecita1">
        Discurso en la presentación del Plan de Desarrollo Económico y Social de
        la Nación, 2001-2007. Palacio Federal Legislativo, 28 de septiembre de
        2001
      </p>
      <p class="cita1">
        “Se está construyendo y será lanzado este año el primer satélite
        venezolano observador de La Tierra”
      </p>
      <p class="piecita1">Memoria y Cuenta, 13 de enero de 2012</p>
      <p class="cita1">
        “Hemos creado una empresa, la Venezuela Telecom, y estamos ahora
        haciendo convenios, uno de ellos con Cuba para un cable submarino, una
        conexión con Colombia por vía de fibra óptica para abaratar nuestras
        comunicaciones, agilizarlas e incorporar grandes extensiones de
        territorio, sobre todo los más atrasados que no tienen acceso a
        telecomunicaciones de ningún tipo.”
      </p>
      <p class="piecita1">
        Entrega del Doctorado Honoris Causa de la Universidad Nacional de
        Ingeniería al presidente de la República Bolivariana de Venezuela, Hugo
        Chávez. Plaza del Rectorado. Managua, Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “Debemos avanzar hacia una explosión masiva del conocimiento, de
        tecnología, de innovación, en función de las necesidades sociales y
        económicas del país y la soberanía nacional”
      </p>
      <p class="piecita1">
        Alo presidente Nº247. Ciudad Guayana, 19 de febrero de 2006
      </p>
      <p class="cita1">
        “Se van desarrollando otras fuentes alternativas como la energía
        nuclear.”
      </p>
      <p class="piecita1">
        Instalación de la I Cumbre Energética Suramericana Gran Salón Hotel
        Hilton Margarita, Porlamar, estado Nueva Esparta. 17 de abril de 2007
      </p>
      <p class="cita1">
        “Estamos ahora mismo en una campaña de democratización tecnológica, es
        decir, democratizando la ciencia, la tecnología; dándoles acceso a todos
        al conocimiento.”
      </p>
      <p class="piecita1">
        Intervención del presidente de la República Bolivariana de Venezuela,
        Hugo Chávez, en la Duma Estatal de la Federación Rusa. Salón de los
        Escudos de la Duma, Moscú, Rusia. Viernes, 29 de junio de 2007
      </p>
      <p class="cita1">
        “Nosotros estimamos, al menos es nuestra experiencia, un 10% para
        limpiar la gasolina, esto implica millones de hectáreas, en el futuro,
        de caña o de palma africana para oxigenar la gasolina.”
      </p>
      <p class="piecita1">
        Instalación de la I Cumbre Energética Suramericana Gran Salón Hotel
        Hilton Margarita, Porlamar, estado Nueva Esparta. 17 de abril de 2007
      </p>
      <p class="cita1">
        “Auténticas maravillas tecnológicas que han hecho de cualquier punto del
        planeta un espacio siempre cercano en términos de distancias y
        comunicaciones, no han servido para traer bienestar a todos sus
        habitantes, sino tan solo al exiguo 15% que vive en los países del
        Norte.”
      </p>
      <p class="piecita1">
        Acto de Instalación de la XII Cumbre de Jefes de Estado y de Gobierno
        del Grupo de los Quince G-15 1 de marzo de 2004
      </p>
      <p class="cita1">
        “Recordemos que todos estos inventos —ésa es otra cosa que yo quería
        decir hoy con mucha insistencia—, todos estos inventos deben ser
        enfocados en función del proyecto socialista”
      </p>
      <p class="piecita1">
        Apoyo a la Inventiva Tecnológica Nacional Torre Ministerial, Caracas. 19
        de junio de 2007
      </p>
      <p class="cita1">
        “Urge consensuar acuerdos que nos permitan crear y llevar adelante una
        agenda energética común.”
      </p>
      <p class="piecita1">
        Mensaje del Presidente de la República Bolivariana de Venezuela Hugo
        Chávez Frías a la Cumbre de la Comunidad de Estados Latinoamericanos y
        Caribeños. 28 de enero de 2013
      </p>
      <p class="cita1">
        “A un año del lanzamiento y gracias a la ayuda del pueblo de Mao,
        estamos comenzando a caminar con nuestros propios pies: se han instalado
        mil 549 antenas, de las cuales mil 220 están en el sector educativo para
        materializar programas de formación a distancia.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: El Satélite, la Soya y Nuestra Independencia. 1
        Noviembre 2009
      </p>
      <p class="cita1">
        “Redujimos la tarifa en 20% la tarifa móvil, 50% de reducción a la
        tarifa de conexión a Internet y 20% de reducción de la tarifa fija, fija
        a móvil lo que se paga por llamar a un teléfono fijo a un celular.”
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional .11 de enero de
        2008
      </p>
      <p class="cita1">
        “El acceso a Internet aquí se ha incrementado, sobre todo en los
        sectores D y E, así llamados.”
      </p>
      <p class="piecita1">
        Rueda de Prensa Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez Frías, con corresponsales extranjeros. Sala de Prensa Simón
        Bolívar. Palacio de Miraflores. 6 de junio de 2007
      </p>
      <p class="cita1">
        “Me llevaron a ver, unas muchachas que son ingenieras, me dijeron:
        “Venga para que vea los primeros cien becerritos producto del cruce
        genético”. Hemos comenzado a cruzar allí, en los laboratorios que
        inauguramos hace muy poco, a cruzar la raza Carora, del ganado Carora
        que estaba prácticamente abandonada, que es una raza nacional con ganado
        brahma; y vaya qué becerros, y vaya qué ánimo de aquella gente. Esto es
        el socialismo.” (Refiriéndose al Núcleo de Desarrollo Socialista
        Florentino)
      </p>
      <p class="piecita1">
        Transmisión de Mando Conjunta del Ministerio del Poder Popular para la
        Defensa y los Componentes de la Fuerza Armada Bolivariana. Patio de
        Honor de la Academia Militar – Fuerte Tiuna .18 de julio de 2007
      </p>
      <p class="cita1">
        “En Venezuela tenemos convenios con China, con Vietnam. Mira, los
        vietnamitas nos trajeron una tecnología muy ecológica, la siembra de
        arroz con peces, la utilización de peces, que los peces eliminan la
        plaga. Y estamos levantando la producción.” (En repuesta al Periodista
        de Telesur, Cristian Salas)
      </p>
      <p class="piecita1">
        Firma de Acuerdos y rueda de prensa conjunta de los presidentes de la
        República Bolivariana de Venezuela y la República del Ecuador. 07 de
        junio de 2011
      </p>
      <p class="cita1">
        “Necesitamos que en cada lugar donde se construya o se amplíe una
        refinería, tener al mismo tiempo en ese polo de refinación, la
        producción del etanol necesario para inyectarle a esa gasolina.”
      </p>
      <p class="piecita1">
        Instalación de la I Cumbre Energética Suramericana Gran Salón Hotel
        Hilton Margarita, Porlamar, estado Nueva Esparta. 17 de abril de 2007
      </p>
      <p class="cita1">
        “Hemos premiado a las varias Divisiones de nuestro Ejército que
        presentaron los mejores inventos y proyectos dentro del marco del
        Concurso al Ingenio del Ejército Bolivariano. Estamos obligados a
        quebrar la dependencia tecnológica, y vaya que lo estamos logrando. Hace
        diez años esto era poco menos que impensable.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡El Ejército de Bolívar, Otra vez!. 27 Junio 2010
      </p>
      <p class="cita1">
        “Seguiremos en ese camino, democratizando la ciencia, la tecnología, el
        capital; democratizando la política, la economía, la sociedad. Eso es lo
        que estamos haciendo aquí.”
      </p>
      <p class="piecita1">
        Rueda de Prensa Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez Frías, con corresponsales extranjeros. Sala de Prensa Simón
        Bolívar. Palacio de Miraflores. 6 de junio de 2007
      </p>
      <p class="cita1">
        “La computadora Canaima. Fue una idea que se me ocurrió una vez, con ese
        empeño que tenemos de darle al pueblo lo que es del pueblo: las
        computadoras, las tecnologías de información y comunicación tiene que
        ser una herramienta para el desarrollo, el aprendizaje de todos y de
        todas, no sólo de los niños, cuyos padres puedan comprarles una
        computadora.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 369. Escuela Básica Nacional “Flores de Catia”.
        Parroquia 23 de Enero. 9 de enero de 2011
      </p>
      <p class="cita1">
        “Hay que estudiar el efecto de los plaguicidas, los plaguicidas en el
        agua que consumen los niños y los alimentos y bueno he pedido al
        Ministerio de Ciencia y Tecnología junto con la Universidad de Los Andes
        que hagan un estudio científico en toda esta zona.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 46. Aeropuerto Antonio Nicolás Briceño. Valera, Estado
        Trujillo 08 de octubre de 2000
      </p>
      <p class="cita1">
        “Ahora tenemos ya dos satélites, el satélite Simón Bolívar que es de
        telecomunicaciones y el satélite Miranda, que es de observación
        terrestre.”
      </p>
      <p class="piecita1">
        Caravana y concentración en apoyo al candidato Chávez Guarenas, estado
        Miranda Sábado, 29 de septiembre de 2012
      </p>
      <p class="cita1">
        “El Satélite Simón Bolívar y todas las antenas que estamos instalando en
        todo el país, antenas pequeñas, antenas más grandes, antenas más
        grandotas para prestarle servicio de televisión, de Internet a
        comunidades de las más remotas que hay.”
      </p>
      <p class="piecita1">
        Gran Misión Vivienda Venezuela con sectores medios del país Salas Ríos
        Reyna, Teatro Teresa Carreño. Caracas. Viernes 17 de agosto de 2012
      </p>
      <p class="cita1">
        “Estamos observando la historia, el renacer de la historia pudiéramos
        decirlo.” (Por el lanzamiento del Satélite Miranda)
      </p>
      <p class="piecita1">
        Lanzamiento y puesta en órbita del VRSS-1 Miranda Palacio de Miraflores.
        Caracas. Viernes, 28 de septiembre de 2012
      </p>
      <p class="cita1">
        “Yo tengo aquí por ejemplo un guachito, las imágenes del satélite,
        podrán emplearse en: Monitoreo de cosechas, vean ustedes lo importante,
        el salto tecnológico; es el futuro. Nosotros estamos entrando en el
        futuro, en la nueva historia.”
      </p>
      <p class="piecita1">
        Lanzamiento y puesta en órbita del VRSS-1 Miranda Palacio de Miraflores.
        Caracas. Viernes, 28 de septiembre de 2012
      </p>
      <p class="cita1">
        “Estamos muy felices aquí del éxito total, Melean, del lanzamiento del
        satélite.”
      </p>
      <p class="piecita1">
        Lanzamiento y puesta en órbita del VRSS-1 Miranda Palacio de Miraflores.
        Caracas. Viernes, 28 de septiembre de 2012
      </p>
      <p class="cita1">
        “Pronto estaremos mostrándole al país, el impacto del satélite Miranda.
        Miranda está allá a 600 y tantos 39 kilómetros en órbita, ya con sus
        brazos ¿cómo se llama? desplegados, capturando la energía solar para
        tomar vida propia.”
      </p>
      <p class="piecita1">
        Lanzamiento y puesta en órbita del VRSS-1 Miranda Palacio de Miraflores.
        Caracas. Viernes, 28 de septiembre de 2012
      </p>
      <p class="cita1">
        “Miren como sopla el viento por todas partes, los aerogeneradores dan
        vuelta y generan energía eléctrica, energía eólica que se convierte en
        energía eléctrica, la ciencia, la tecnología.”
      </p>
      <p class="piecita1">
        Macolla Guanaguanay, estado Monagas 22 de agosto de 2012
      </p>
      <p class="cita1">
        “Llegará el día en que nosotros aquí fabriquemos los teléfonos
        celulares, que ciencia tiene eso, nada, eso lo podemos hacer aquí.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 204. Desde Unidad Educativa Nacional Claudio Feliciano
        Las Adjuntas. Parroquia Macarao. Municipio Libertador Domingo, 19 de
        septiembre de 2004
      </p>
      <p class="cita1">
        “Estamos empeñados en el desarrollo científico tecnológico de Venezuela,
        la ciencia, la tecnología, para acelerar la solución de muchos
        problemas.”
      </p>
      <p class="piecita1">
        “ALÓ, PRESIDENTE”, programa Nº 343. Desarrollo Urbanístico “Simón
        Bolívar”. Municipio Páez, Estado Portuguesa Domingo, 8 de noviembre de
        2009
      </p>
      <p class="cita1">
        “Tractores Pauny ensamblados en Venezuela y pronto, progresivamente
        comenzaremos a hacer las partes de los tractores, no olvidemos eso, hay
        que hacer las partes, todo esto se puede fabricar en Venezuela con la
        transferencia tecnológica, en este caso de Irán.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 347 La Platera, municipio Tinaco, estado Cojedes
        Domingo, 10 de enero de 2010
      </p>
      <p class="cita1">
        “Barrio Nuevo llega, primero hay que estudiar la estructura, hay que
        utilizar la ciencia y la tecnología, el IVIC, el Instituto de
        Sismología, Funvisis, para hacer estudios(…)incluso hay que hacer
        simulaciones sísmicas, casa que no aguante la simulación va para abajo,
        o la reforzamos ¿Verdad? Ya habrá que estudiar cada caso.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 348 Filas de Mariche – Estado Miranda Domingo, 17 de
        enero de 2010
      </p>
      <p class="cita1">
        “Nos donaron tres laboratorios la gente de Microsoft, para entrenamiento
        en todas estas cosas de Internet y tecnología.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 40 Desde la Sede de Radio Nacional de Venezuela 27 de
        Agosto de 2000
      </p>
      <p class="cita1">
        “Ha surgido la oportunidad de establecer una alianza estratégica para
        continuar avanzando en las investigaciones y en la producción aquí en
        Venezuela de medicamentos contra el cáncer, un centro de inmunología
        molecular, de eso hemos hablado.” (Alianza de Quimbiotec (IVIC) con
        Biocon (India) y con Cuba)
      </p>
      <p class="piecita1">
        Aló Presidente N° 215 Desde Salón Ayacucho. Palacio de Miraflores
        Domingo 13 de Marzo de 2005
      </p>
      <p class="cita1">
        “En Mérida tenemos el proyecto de desarrollar una zona especial de
        desarrollo de software.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 215 Desde Salón Ayacucho. Palacio de Miraflores
        Domingo 13 de Marzo de 2005
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
