<app-headerc backRoute="/tabs/libro"></app-headerc>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/cheguevara.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1"> “Hacemos un reconocimiento especial a la memoria y a la vida que fue de Ernesto Guevara. Sus
        ideas, bueno, se podrán compartir unas, se podrán compartir otras, pero sin duda, el Ché, refleja y recoge la
        estirpe del hombre americano y especialmente el hombre de la América Latina.”
      </p>
      <p class="piecita1">Aló Presidente N° 46. Aeropuerto Antonio Nicolás Briceño. Valera, Estado Trujillo 08 de
        octubre de 2000
      </p>
      <p class="cita1"> “Yo desde joven he admirado al Ché. Algunos me critican por eso, síganme criticando, tenemos
        derecho a admirar a quien nosotros creamos.”
      </p>
      <p class="piecita1">Aló Presidente N° 46. Aeropuerto Antonio Nicolás Briceño. Valera, Estado Trujillo 08 de
        octubre de 2000
      </p>
      <p class="cita1"> “El Che forma parte de ese ejército de hombres de este continente mestizo que han luchado y han
        muerto por la dignidad y han muerto por los demás, eso hay que reconocerlo. A Dios lo que es de Dios y al César
        lo que es del César y al Che lo que es del Che. Memoria para este hombre de América Latina.”
      </p>
      <p class="piecita1">Aló Presidente N° 46. Aeropuerto Antonio Nicolás Briceño. Valera, Estado Trujillo 08 de
        octubre de 2000</p>
    </ion-card-content>
  </ion-card>
</ion-content>
