<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/salud.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “La esperanza de vida en Venezuela está llegando casi a 80 años, ¡cómo
        se ha incrementado!”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores. 1° de febrero de 2007
      </p>
      <p class="cita1">“La salud tiene que ser un derecho de todos”.</p>
      <p class="piecita1">
        “Aló, Presidente” N° 37. Sede Televisa, Maracaibo–Edo Zulia. 10 de abril
        de 2000
      </p>
      <p class="cita1">
        “Cada nuevo profesional que insertemos en la red hospitalaria pública es
        un paso más hacia la desmercantilización de la salud y hacia su
        socialización.” (En relación a la juramentación de nuevos médicos
        integrales)
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡¡Felicidades Papá!!. 20 Junio 2010
      </p>
      <p class="cita1">
        “Y ahí es donde yo sí soy tajante. Si los dueños de clínicas privadas no
        quieren obedecer las leyes, entonces nacionalícense las clínicas
        privadas, que pasen al servicio público de salud, pero eso no se puede
        permitir, es que no podemos permitirlo.” (Sobre el aumento del IPC del
        1% al 9.5%)
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Hay que transformar el espíritu de quienes llevan a sus espaldas la
        prestación de los servicios médicos en el país. Una transformación que
        está en marcha.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Con Marx, con Cristo, con Bolívar!. 14 Marzo 2010
      </p>
      <p class="cita1">
        “Por encima de los problemas y las dificultades, de las fallas, los
        viejos vicios, que amenazan por todos lados, pero con el pueblo, con la
        voluntad del pueblo, con la voluntad de ustedes, con la voluntad y la
        participación de la mayoría de los médicos, médicas, especialistas,
        enfermeros, enfermeras, lo lograremos, lo lograremos.” (Consolidar el
        nuevo Sistema Nacional Público de Salud Socialista)
      </p>
      <p class="piecita1">
        V promoción de médicos cirujanos y IV promoción de médicos cirujanos
        revalidantes de otras nacionalidades Convenio ELAM-Unerg.Teatro de la
        Academia Militar, Fuerte Tiuna. 14 de octubre de 2009
      </p>
      <p class="cita1">“La medicina debe ser un apostolado por la vida.”</p>
      <p class="piecita1">
        Aló Presidente, N° 100. Parque Nacional El Ávila. 17 de marzo de 2002
      </p>
      <p class="cita1">
        “Comprendo y comparto la tragedia de los nobles médicos venezolanos, y
        cuenten con nuestro Gobierno que cada día les tendera más la mano para
        que puedan cumplir con esa digna labor de salvar vidas, de darle salud y
        justicia a un pueblo.”
      </p>
      <p class="piecita1">
        Discurso ante la Asamblea Nacional. Memoria y Cuenta año2000 Palacio
        Federal Legislativo, 15 de enero de 2001
      </p>
      <p class="cita1">
        “Hay que hacer un llamado al voluntariado médico venezolano. Los estamos
        llamando. Y la incorporación debo decirla hasta ahora ha sido muy baja.
        Vamos los médicos venezolanos. Los estudiantes de Medicina de las
        universidades vamos a sumarnos a este esfuerzo, que va a ir mucho más
        allá de Caracas tiene que extenderse por todo el país.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro.155 Capilla de la Alcaldía del Mun. Libertador. 6 de
        julio de 2003
      </p>
      <p class="cita1">
        “Vean quienes apoyan la contrarrevolución, los que destrozaron la salud
        del pueblo, los que privatizaron la salud del pueblo para beneficio de
        ellos mismos”.
      </p>
      <p class="piecita1">
        “Aló, Presidente” N° 37. Sede Televisa, Maracaibo–Edo Zulia. 10 de abril
        de 2000
      </p>
      <p class="cita1">
        “Cuanto sufre nuestro pueblo por culpa o por falta de un verdadero
        sistema de atención de salud preventiva y de salud curativa, de salud
        integral, ambulatorios, hospitales equipados, bien equipados.”
      </p>
      <p class="piecita1">
        Discurso con motivo de su toma de posesión como Presidente de la
        República Bolivariana de Venezuela para el periodo 2000-2006 ante la
        Asamblea Nacional
      </p>
      <p class="cita1">
        “La medicina cubana tiene el reconocimiento universal como una de las
        más avanzadas no sólo en este continente sino en el mundo, y ellos nos
        están ayudando y tenemos que agradecerlo.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro.155. Capilla de la Alcaldía del Mun. Libertador. 6 de
        julio de 2003
      </p>
      <p class="cita1">
        “Barrio Adentro, como misión socialista, es la base, el pilar
        fundamental del Sistema Público Nacional de Salud”.
      </p>
      <p class="piecita1">Las líneas de Chávez. 2010</p>
      <p class="cita1">
        “Está en marcha una real y verdadera transformación que supone no sólo
        un avance cuantitativo en el ejercicio médico, ya que viene a aumentar
        el número de profesionales que necesitamos, sino además un cambio
        cualitativo, porque en el espíritu de estos futuros médicos y médicas
        habita el más elevado sentido de solidaridad y entrega.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡¡Felicidades Papá!!. 20 Junio 2010
      </p>
      <p class="cita1">
        “El dengue, esa lucha de tapar los pipotes de agua, de eliminar los
        criaderos de los zancudos, hay que saber las causas de las
        enfermedades.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 028. Estado Bolívar. 30 de Enero de 2000
      </p>
      <p class="cita1">
        “Son cada vez más las venezolanas y venezolanos que están ejerciendo un
        verdadero apostolado social de la salud”.
      </p>
      <p class="piecita1">Las líneas de Chávez. 2010.</p>
      <p class="cita1">
        “El cólera llego a ser alarma y motivo de emergencia en Venezuela hasta
        hace poco tiempo, pues de 378 casos en el año 98, ni un solo caso se ha
        registrado de cólera en las últimas 40 semanas.”
      </p>
      <p class="piecita1">
        Memoria y Cuenta año 2000. Palacio Federal Legislativo, 15 de enero de
        2001
      </p>
      <p class="cita1">
        “Hemos recibido un sistema de salud destrozado: hospitales que no
        sirven, ambulatorios que no sirven.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 62. Bailadores Edo. Mérida. 11 de febrero de 2001
      </p>
      <p class="cita1">
        “Este modelo neoliberal salvaje, la corrupción salvaje de estos últimos
        años ha venido privatizando la salud, al pueblo le quitaron el derecho a
        la atención médica, el derecho al deporte, el derecho a la salud y
        también a ustedes, a los médicos les han quitado el derecho a ejercer
        libre y dignamente su profesión.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 10. Sede de Radio Nacional de Venezuela. 15 de Agosto
        de 1999
      </p>
      <p class="cita1">
        “Una nueva concepción de la medicina, que parta de la ética, de la
        igualdad del ser humano.”
      </p>
      <p class="piecita1">
        Discurso con motivo de su toma de posesión como Presidente de la
        República Bolivariana de Venezuela para el periodo 2000-2006 ante la
        Asamblea Nacional
      </p>
      <p class="cita1">
        “El compromiso de Sandino, aquí vamos cumpliéndolo, capacitar entre Cuba
        y Venezuela, con la ayuda de muchos otros países, pero asumiendo
        nosotros dos, estos dos países nuestros y nuestros dos gobiernos, la
        responsabilidad de capacitar, de formar en esta década que está
        transcurriendo; 200 mil médicos y médicas, para garantizarle la salud
        integral, preventiva, la vida; una mayor calidad de vida, a los pueblos
        de América Latina y del Caribe, y contribuir también, con pueblos de más
        allá de los mares, de los océanos.”
      </p>
      <p class="piecita1">
        V promoción de médicos cirujanos y IV promoción de médicos cirujanos
        revalidantes de otras nacionalidades Convenio ELAM-Unerg. Teatro de la
        Academia Militar, Fuerte Tiuna. 14 de octubre de 2009
      </p>
      <p class="cita1">
        “Barrio Adentro es un hecho sin precedentes en la historia de la
        humanidad: un hecho que sólo es posible dentro del socialismo”.
      </p>
      <p class="piecita1">Las líneas de Chávez., 2010.</p>
      <p class="cita1">
        “Atención médica y más que médica social integral a los barrios, allá en
        donde ladra la pobreza, allá dónde vive un pueblo que fue traicionado
        desde 1830 para acá, y nunca tuvo gobierno que se encargara de él, ahí
        es dónde está nuestro más grande compromiso.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro.155. Capilla de la Alcaldía del Mun. Libertador. 6 de
        julio de 2003
      </p>
      <p class="cita1">
        “Hay que transformar el espíritu de quienes llevan a sus espaldas la
        prestación de los servicios médicos en el país”.
      </p>
      <p class="piecita1">Las líneas de Chávez. 2010</p>
      <p class="cita1">
        “Nosotros aspiramos, en pocos años contar con un sistema de salud que
        pueda atender gratuitamente a todos los venezolanos con la mayor
        calidad, con tecnología de punta.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 62. Bailadores Edo. Mérida. 11 de febrero de 2001
      </p>
      <p class="cita1">
        “Las clínicas privadas, ahí está la inflación, el incremento de los
        precios en las clínicas privadas.”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Una de las políticas de salud que estamos impulsando: ambulatorios en
        los barrios; ambulatorios en las urbanizaciones, en los pueblos, en los
        caseríos para incrementar lo que es la salud preventiva que es lo más
        importante.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 016. Radio Nacional de Venezuela. 26 de Septiembre
        de 1999
      </p>
      <p class="cita1">
        “La situación de la salud nuestra es una situación sumamente difícil.”
      </p>
      <p class="piecita1">
        Capilla de la Alcaldía del Mun. Libertador. 6 de julio de 2003
      </p>
      <p class="cita1">
        “Han sido miles y miles las médicas y médicos cubanos que llegaron a
        nuestra Patria para conformar una milicia de paz, de amor, de vida, de
        salud, superando todos los ataques de la oligarquía y sus medios de
        comunicación.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡La Gran Fiesta Patria!. 18 Abril 2010
      </p>
      <p class="cita1">
        “Siempre les digo a todos, cuídense la salud, cuiden la salud.”
      </p>
      <p class="piecita1">
        Cadena nacional. Despacho presidencial, Palacio de Miraflores. 5 de
        noviembre de 2012
      </p>
      <p class="cita1">
        “Vale la pena recordar que para el año 1999, el 80% de la población
        estaba excluida de la atención médica.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Con Marx, con Cristo, con Bolívar! 14 Marzo 2010
      </p>
      <p class="cita1">
        “El Sida anda azotando, no respeta ni a ricos ni a pobres, y el Sida
        claro, por ahí salió una tesis, anteayer estaba leyendo que parece que
        el Sida se produjo según algunas investigaciones, parece que se
        combinaron virus de algunas especies de simios y produjeron el Sida;
        ahora lo que se está buscando es como saltó eso a la especie humana
        dentro del mismo reino animal, pero viene de los simios. Nosotros
        venimos de allá.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 153. Manaos, Edo de amazonas. Brasil. 15 de junio de
        2003
      </p>
      <p class="cita1">
        “Hay personas que son portadoras de Sida pero no tienen ningún síntoma y
        a lo mejor pasan toda la vida o muchos años sin que se les vea ningún
        síntoma, así que ojo pelao.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 028. Edo. Bolívar. 30 de Enero de 2000
      </p>
      <p class="cita1">
        “El Sistema Público Nacional de Salud que estamos construyendo: un
        sistema que nació para corregir a fondo uno de los grandes
        desequilibrios sociales que heredamos. Su consolidación, digámoslo así,
        es un índice fundamental para conocer en qué medida estamos avanzando,
        real y verdaderamente, hacia el socialismo.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Que ladren los perros, nosotros cabalgamos! 07
        Marzo 2010
      </p>
      <p class="cita1">
        “Vamos a salvar al Seguro Social. No lo vamos a eliminar pero vamos a
        sanearlo, vamos a reestructurarlo.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 11. Sede de Radio Nacional de Venezuela, Caracas. 22
        de agosto de 1999
      </p>
      <p class="cita1">
        “Hemos tenido algunos repuntes de algunas enfermedades como el dengue en
        este año 2007, hemos iniciado una campaña fuerte contra el dengue; un
        brote por aquí de mal de cha-gas al que no le perdemos la vista allí en
        Chacao y eso nos alerta para insistir, para profundizar todas las
        medidas sanitarias y las campañas sanitarias en el país, la desnutrición
        infantil.”
      </p>
      <p class="piecita1">
        Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de
        2008
      </p>
      <p class="cita1">
        “¡Cómo está de caro todo lo que es la salud! ¡Dios mío!”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 016. Radio Nacional de Venezuela. 26 de Septiembre
        de 1999
      </p>
      <p class="cita1">
        “Como lamentamos que a ustedes los médicos hermanos de Cuba que vienen a
        ayudar a nuestro pueblo, sobre todo a los más pobres, pero están
        dispuestos a ayudar a cualquiera, eso es parte del Código de Ética de un
        médico y en cualquier lugar y a cualquier hora y a todo riesgo, aún con
        el riesgo de equivocar un diagnóstico.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro.155. Capilla de la Alcaldía del Mun. Libertador. 6 de
        julio de 2003
      </p>
      <p class="cita1">
        “Hay médicos honorables de gran trayectoria que han sido ejemplos de
        dignidad, entrega por lo demás, pero hace falta que ese espíritu que tú
        irradias se extienda y se profundice por todas partes en Venezuela.”
      </p>
      <p class="piecita1">
        Aló Presidente, N° 100. Parque Nacional El Ávila. 17 de marzo de 2002
      </p>
      <p class="cita1">
        “El drama de la salud, el drama de la vivienda, el desempleo que es
        mucho más difícil porque es mucho más fácil repararle la casa que se le
        cayó que conseguirle empleo a diez personas - como está la economía en
        recesión, queremos que se reactive.”
      </p>
      <p class="piecita1">
        Sede de Radio Nacional de Venezuela. 6 de junio de 1999
      </p>
      <p class="cita1">
        “Un plan de salud social debe ser salud preventiva, evitar enfermedades,
        mucha pedagogía, mucha educación, mucha educación hace falta y en eso la
        nueva educación va a cumplir un rol importante.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 028. Edo. Bolívar. 30 de Enero de 2000
      </p>
      <p class="cita1">
        “El médico es imprescindible, necesario, pero, va más allá, la salud va
        más allá de la medicina, tiene mucho que ver con las variables del
        hábitat de la sociedad, la salud mental, física, integral y no
        individual solamente.”
      </p>
      <p class="piecita1">
        Aló, Presidente” N° 63. Salón Bolívar. Ministerio de Defensa. 4 de marzo
        de 2001
      </p>
      <p class="cita1">
        “El cáncer cada día es menos una enfermedad mortal, más bien, como los
        cubanos dicen, es una enfermedad que a veces es crónica, pero no
        mortal.”
      </p>
      <p class="piecita1">
        Lanzamiento de la Misión «Hijos de Venezuela». 12 de diciembre de 2011
      </p>
      <p class="cita1">
        “Las clínicas privadas que si no pagan por adelantado no atienden a un
        moribundo ¿qué es eso?”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 028. Estado Bolívar. 30 de Enero de 2000
      </p>
      <p class="cita1">
        “Se dice, con absoluta certeza, que no hay nada más preciado que la
        salud. Sin embargo, los cuarenta años de democracia burguesa se
        encargaron de patear tal certeza”.
      </p>
      <p class="piecita1">Las líneas de Chávez. 2010</p>
      <p class="cita1">
        “Atención médica ahí en su casa, ahí en el barrio. Medicamentos a la
        mano. Seguimiento a ver como evoluciona. Remisión a hospitales. Este es
        el Plan humanitario que se conocen con el nombre de Barrio Adentro.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro.155. Capilla de la Alcaldía del Mun. Libertador. 6 de
        julio de 2003
      </p>
      <p class="cita1">
        “No abusen de las carnes rojas y de las frituras porque el colesterol se
        mete la grasa en la sangre y da tristeza que un hombre a los 41 años le
        dé un infarto fulminante.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 2. Sede de Radio Nacional de Venezuela. 6 de junio de
        1999
      </p>
      <p class="cita1">
        “Hoy en día ya hay un sistema de salud mucho más eficiente, o sea, hay
        algo que se parece mucho más a un sistema de salud”.
      </p>
      <p class="piecita1">
        Aló, Presidente” N° 63. Salón Bolívar. Ministerio de Defensa. 4 de marzo
        de 2001
      </p>
      <p class="cita1">
        “El proyecto chalana estamos diseñándolo, vamos a fabricar chalanas para
        navegar por los ríos. Pero en esas chalanas van a ir unidades médicas,
        para atender a esas poblaciones alejadas que están a la orilla de los
        ríos.”
      </p>
      <p class="piecita1">
        Sede de Radio Nacional de Venezuela, Caracas. 22 de agosto de 1999
      </p>
      <p class="cita1">
        “Uno piensa que la diabetes con la insulina y todo eso va a disminuir;
        me dice: “No, Chávez, en un siglo la humanidad será diabética”. Porque
        como apareció la insulina, el diabético, que antes se moría joven,
        sobrevive y tiene descendencia, y una buena parte de los descendientes
        serán diabéticos; así que tendremos que montar plantas de insulina por
        el mundo.(Comentario del presidente Tabare al presidente Chávez)
      </p>
      <p class="piecita1">
        Suscripción de acuerdos y rueda de prensa entre Ecuador y Venezuela,
        Salón Amarillo del Palacio de Carondelet. Quito, Ecuador. 9 agosto de
        2007
      </p>
      <p class="cita1">
        “Yo le quiero hacer un reconocimiento a los médicos venezolanos. ¡Qué
        nobleza! Hasta de su mismo sueldito, que no es muy alto, sacan para
        buscar las medicinas a los muchachos.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 10. Sede de Radio Nacional de Venezuela. 15 de Agosto
        de 1999
      </p>
      <p class="cita1">
        “Crear, ampliar, consolidar el nuevo Sistema Nacional Público de Salud
        Socialista, generoso.”
      </p>
      <p class="piecita1">
        V promoción de médicos cirujanos y IV promoción de médicos cirujanos
        revalidantes de otras nacionalidades Convenio ELAM-Unerg Teatro de la
        Academia Militar, Fuerte Tiuna. 14 de octubre de 2009
      </p>
      <p class="cita1">
        “¿Cómo se puede pretender privatizar la salud?, ¡eso es salvaje!”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 016. Radio Nacional de Venezuela. 26 de Septiembre
        de 1999
      </p>
      <p class="cita1">
        “Estamos atendiendo el 80% de los enfermos de SIDA en Venezuela, no se
        atendía ninguno hace 5 años atrás, y este año vamos a llegar al 100% de
        atención para los enfermos del SIDA, el 100% de los gastos”.
      </p>
      <p class="piecita1">Cumbre de Monterrey. 13 enero 2004</p>
      <p class="cita1">
        “Aquí hay también eliminación del cobro de emergencia, también hay unos
        recursos porque está prohibido cobrar en emergencias, en la emergencia
        no se le puede cobrar a nadie y hemos comenzado a eliminar esa
        perversión.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 62. Bailadores Edo. Mérida. 11 de febrero de 2001
      </p>
      <p class="cita1">
        “Es un hospital que ha cambiado, bueno, pero del cielo a la tierra en
        estos escasos meses de gobierno que tenemos” (Hospital de los Magallanes
        de Catia)
      </p>
      <p class="piecita1">
        Aló Presidente N° 11. Sede de Radio Nacional de Venezuela, Caracas. 22
        de agosto de 1999
      </p>
      <p class="cita1">
        “Aquí uno llegaba a un hospital muriéndose y tenía que pagar, si no
        pagaba bueno váyase, váyase a otro hospital porque aquí no podemos, a
        hospitales públicos, no estamos hablando de clínicas privadas, eso lo
        hemos eliminado.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 62. Bailadores Edo. Mérida 11 de febrero de 2001
      </p>
      <p class="cita1">
        “Estamos garantizando atención médica a todos los venezolanos, y
        especialmente a los excluidos de toda la vida.”
      </p>
      <p class="piecita1">
        Mensaje anual del Presidente Hugo Chávez, desde el Palacio Legislativo,
        el 14 de enero de 2005
      </p>
      <p class="cita1">
        “Vigilancia epidemiológica, aumento de la cobertura del servicio de agua
        potable y eliminación de las excretas, que es fundamental para el
        combate del cólera, y he allí algunos resultados.”
      </p>
      <p class="piecita1">
        Discurso ante la Asamblea Nacional. Memoria y Cuenta año2000 Palacio
        Federal Legislativo, 15 de enero de 2001
      </p>
      <p class="cita1">
        “Hay un tiempo para la siembra y un tiempo para la cosecha”, nos dice la
        Biblia. Llegó pues el tiempo de la cosecha emprendida hace cinco años
        con el apoyo fraterno de la Cuba revolucionaria. Estos frutos de la
        Revolución se convierten en un impulso fundamental en la consolidación
        del Sistema Público Nacional de Salud.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡¡Felicidades Papá!! 20 Junio 2010
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
