<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/haiti.jpg"></ion-img>
    <ion-card-content>

      <p class="cita1"> “Haití: la de Bolívar, la de la Expedición de los Cayos (1816) que contó con el respaldo sin
        condiciones del ilustre Petión, quien sólo le pidió la libertad de los esclavos.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡Haití, Haití! 17 Enero 2010
      </p>
      <p class="cita1"> “Ahora, yo les digo más allá del imperio yanqui, más allá de la doble cara de mucha gente,
        nosotros tenemos un compromiso por Haití y tenemos que trabajar muy duro junto a los haitianos, el ALBA, Cuba y
        otros países del mundo en la reconstrucción de Haití que está destruido en un 80% y esta mañana hubo otro
        terremoto de magnitud 6.1 en la escala de Richter.”
      </p>
      <p class="piecita1">«La clase obrera petrolera al frente de la batalla política» 20 de enero de 2010
      </p>
      <p class="cita1"> “Allí, en contacto con la realidad de la “República más democrática del mundo” —son sus
        palabras—, Bolívar terminó de forjar el temple de su espíritu revolucionario. Haití es, entonces, tierra santa
        para nosotros y nosotras.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡Haití, Haití! 17 Enero 2010
      </p>
      <p class="cita1"> “Tengo plena confianza en la fuerza histórica del Pueblo haitiano: la fuerza que lo hará
        levantarse a pesar de tanta adversidad.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡Contraataque Bolivariano! 24 Enero 2010
      </p>
      <p class="cita1"> “Hasta cuándo continuará la ocupación militar de Haití con la mampara de la ONU.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡Política de la liberación! 21 Noviembre 2010
      </p>
      <p class="cita1"> “¿Quién es el culpable de la miseria en Haití?, ¿los haitianos? Es el imperio norteamericano,
        que ha invadido ya no sé cuántas veces, perdí la cuenta de cuántas veces invadieron a Haití para imponer
        gobiernos títeres.”
      </p>
      <p class="piecita1">Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar Palacio de Miraflores. 1° de
        febrero de 2007
      </p>
      <p class="cita1"> “La historia nos está llamando a Haití en esta hora tan difícil y dolorosa.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡Haití, Haití!. 17 Enero 2010
      </p>
      <p class="cita1"> “Haití: la de los jacobinos negros, la de Toussaint L›Ouverture y Alejandro Petión.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡Haití, Haití! . 17 Enero 2010
      </p>
      <p class="cita1"> “Así como andan los brigadistas cambiando bombillos casa en casa, así va a ser la campaña Moral
        y Luces. Pero conocimiento, las luces del conocimiento. Revolución educativa.”
      </p>
      <p class="piecita1">Gabinete Comunal “Todos los motores a máxima revolución” Salón Venezuela del Círculo Militar,
        Fuerte Tiuna
        Jueves, 15 de febrero de 2007
      </p>
      <p class="cita1"> “Sobre los cadáveres y las lágrimas de un pueblo, Estados Unidos está tomando aquel país delante
        de todo el mundo descaradamente, comenzaron por el aeropuerto, ahora están en el Palacio de Gobierno.”
        (Refiriéndose a la invasión en Haití.)
      </p>
      <p class="piecita1">«La clase obrera petrolera al frente de la batalla política» 20 de enero de 2010
      </p>
      <p class="cita1"> “Haití: la primera República negra del mundo y la primera República de Nuestra América en fecha
        tan temprana como el 1° de enero de 1804, tras vencer a las tropas napoleónicas luego de 12 años de lucha
        (1791-1803)”.
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡Haití, Haití! 17 Enero 2010
      </p>
      <p class="cita1"> “Haití: la de Miranda; allá llegó con su sueño de liberar a todo un continente y como ocurriría
        con Bolívar, diez años más tarde, recibiría toda la solidaridad y el apoyo de los jacobinos negros; allá izó el
        Precursor por primera vez nuestra bandera, en el mástil del buque Leander el 12 de marzo de 1806.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡Haití, Haití! 17 Enero 2010
      </p>
      <p class="cita1"> “No existe ningún fatalismo histórico que condene, a perpetuidad, al valiente y tenaz pueblo
        haitiano.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡Contraataque Bolivariano!. 24 Enero 2010
      </p>
      <p class="cita1"> “Este devastador sismo se agrega a la tragedia infinita que padece el pueblo haitiano desde hace
        tantos años.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡Haití, Haití!. 17 Enero 2010 </p>



    </ion-card-content>
  </ion-card>
</ion-content>
