<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/pobres.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Todo El Helicoide va a convertirse en una Ciudad Universitaria
        Bolivariana para los muchachos más pobres, para las clases medias, para
        las clases populares.”
      </p>
      <p class="piecita1">
        Aló Presidente Programa Nro. 186 Desde La Planta De Llenado De Pdvsa En
        Guatire 28 De marzo De 2004
      </p>
      <p class="cita1">
        “Martí lo dijo: “Con los pobres de la tierra quiero yo mi suerte echar”,
        es para ustedes la preferencia, para los pobres, para los más
        necesitados, para los niños, para las niñas, para la familia venezolana
        más necesitada, los sectores populares, las clases que más necesitan
        porque los que tienen quintotas y mucho dinero, bueno, ellos saben cómo
        arreglarse y habría que estudiar de dónde su riqueza.”
      </p>
      <p class="piecita1">
        “ALÓ, PRESIDENTE”, programa Nº 343 Desarrollo Urbanístico “Simón
        Bolívar”. Municipio Páez, Estado Portuguesa Domingo, 8 de noviembre de
        2009
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
