ion-item {
  padding: 15px 0px 2px 0px;
}

ion-icon {
  font-size: 2rem;
}

.texto {
  font-family: Oswal;
  font-size: 1rem;
}

ion-card-title {
  font-family: Oswal;
  font-size: 1rem;
}

.toastcss {
  font-size: 1rem;
}

.toast-container {
  background-color: #aa4d4d;
}
