ion-label {
  color: lavenderblush;
}

ion-label {
  font-size: 20px;
}

ion-tab-bar {
  height: 60px;
  padding-top: 5px;
}

ion-icon {
  transform-origin: center center;
  font-size: 30px;
}

@media only screen and (min-width : 320px) {
  ion-label {
    font-size: 13px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  ion-label {
    font-size: 20px;
  }
}