<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/contrarevolucion.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Ya comenzó a llegar la nueva oleada de médicos cubanos, y ya comenzó la
        contrarrevolución a decir que son brujos, que no son médicos [Risa].”
      </p>
      <p class="piecita1">
        Aló Presidente N° 341 Centro Diagnóstico Integral Caucagua Municipio
        Acevedo, Estado Miranda Domingo, 4 de octubre de 2009
      </p>
      <p class="cita1">
        “En verdad que es una gran suerte contar con el apoyo cubano. La
        contrarrevolución ataca, bueno, cuando ladran los perros ¿Qué
        significa?, ¡Es que estamos cabalgando! ¡Ladren, perros, que nosotros
        cabalgamos! Que ladren, que ladre la contrarrevolución, nosotros
        seguimos adelante, adelante.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 341 Centro Diagnóstico Integral Caucagua Municipio
        Acevedo, Estado Miranda Domingo, 4 de octubre de 2009
      </p>
      <p class="cita1">
        “Hemos llegado aquí pero la batalla no ha terminado. La
        contrarrevolución hará todo lo posible para sacarnos del gobierno.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 341 Centro Diagnóstico Integral Caucagua Municipio
        Acevedo, Estado Miranda Domingo, 4 de octubre de 2009
      </p>
      <p class="cita1">
        “La Revolución es el futuro, la contrarrevolución es lo peor del pasado,
        es la tragedia de donde ellos vienen.”
      </p>
      <p class="piecita1">
        Reunión con la maquinaria electoral del PSUV Caracas, viernes 7 de
        septiembre de 2012
      </p>
      <p class="cita1">
        “A la revolución le hace falta todos los días el látigo de la
        revolución, nuestro propio látigo, no esperemos que vengan los
        contrarrevolucionarios a darnos latigazos como nos dieron el 11 de
        abril, un latigazo, 20 latigazos, que nos estremecieron y nos obligaron
        a reaccionar, no esperemos que la contrarrevolución venga a darnos el
        latigazo del diciembre de 2002, ese sabotaje petrolero, un latigazo, 20
        latigazos que nos obligaron a reaccionar o moríamos.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 206 Desde la Cooperativa Central Cafetalero Bramón
        Municipio Junín, Rubio. Estado Táchira Domingo, 03 de octubre de 2004
      </p>
      <p class="cita1">
        “Después del golpe de abril, después del golpe petrolero, esos latigazos
        de la contrarrevolución nos obligaron a apurar el paso, a revisarnos a
        nosotros mismos, a revisar nuestras alianzas, a fortalecernos. Nos han
        obligado a ser más perspicaces, yo por ejemplo era muy inocente. Así lo
        confieso. Yo era muy inocente. Yo creía en la palabra de todo el mundo.
        Ahora no. Ahora no creo en la palabra de todo el mundo, porque de esas
        frustraciones, de esos sinsabores, uno tiene que aprender.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 218 Desde La Puntita de Yuma Rivera del Lago de
        Valencia. Estado Carabobo Domingo, 10 de Abril de 2005
      </p>
      <p class="cita1">
        “Lo que ellos quieren es matar la revolución a través de la
        contrarrevolución, esa es la verdad, ellos son la contrarrevolución,
        nosotros somos la revolución...”
      </p>
      <p class="piecita1">
        Encuentro con los trabajadores petroleros Desde el Polideportivo José
        María Vargas. Edo. Vargas 31 de agosto de 2012
      </p>
      <p class="cita1">
        “El crimen es uno de los, una de las puntas de lanza de la
        contrarrevolución.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado
        Aragua Domingo, 6 de diciembre de 2009
      </p>
      <p class="cita1">
        “La contrarrevolución infiltrada jugaba y juega a que se acabe la
        Revolución y que todos nos convirtamos, o la mayoría al menos, en
        contrarrevolucionarios.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado
        Aragua Domingo, 6 de diciembre de 2009
      </p>
      <p class="cita1">
        “La contrarrevolución está tratando de generar una corrida bancaria, una
        verdadera crisis, de generar temor.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado
        Aragua Domingo, 6 de diciembre de 2009
      </p>
      <p class="cita1">
        “Si la contrarrevolución llegara otra vez al poder en Venezuela todo
        esto se acabaría.”
      </p>
      <p class="piecita1">
        “ALÓ, PRESIDENTE”, programa Nº 344 Comuna el Maizal, ubicada entre los
        municipios Simón Planas y Araure, de los estados Lara y Portuguesa
        Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1">
        “La revolución no la hacen los burgueses no, los burgueses hacen la
        contra la revolución.”
      </p>
      <p class="piecita1">
        “ALÓ, PRESIDENTE”, programa Nº 344. Comuna el Maizal, ubicada entre los
        municipios Simón Planas y Araure, de los estados Lara y Portuguesa
        Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1">
        “Si la contrarrevolución regresara al poder en Venezuela la persecución
        sería salvaje, nadie podría evitarlo, ni los yanquis, la matanza de
        revolucionarios, la matanza contra el pueblo sería... Bueno, Pinochet se
        quedaría como un niño de pecho, porque ellos vendrían a hacer caída y
        mesa limpia, no habría términos medios.”
      </p>
      <p class="piecita1">
        “ALÓ, PRESIDENTE”, programa Nº 344. Comuna el Maizal, ubicada entre los
        municipios Simón Planas y Araure, de los estados Lara y Portuguesa
        Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1">
        “Cuando reviso consigo cosas como éstas, dinero público colocados en
        bancos privados y no es pequeña cantidad, no, cantidades grandes y
        mientras tanto ustedes aquí sembrando caraotas esperando que les llegue
        el recurso, ah se dan cuenta las contradicciones que tenemos todavía, es
        una quinta columna, está dentro de nosotros actuando contra la
        revolución hay que eliminarla, erradicarla.”
      </p>
      <p class="piecita1">
        “ALÓ, PRESIDENTE”, programa Nº 344. Comuna el Maizal, ubicada entre los
        municipios Simón Planas y Araure, de los estados Lara y Portuguesa
        Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1">“Hay que arrancar la contrarrevolución de raíz.”</p>
      <p class="piecita1">
        “ALÓ, PRESIDENTE”, programa Nº 344 Comuna el Maizal, ubicada entre los
        municipios Simón Planas y Araure, de los estados Lara y Portuguesa
        Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1">
        “Aquí más nunca volverá la contrarrevolución. Nosotros apenas estamos
        comenzando.”
      </p>
      <p class="piecita1">
        “Aló, Presidente”, programa Nº 344 Comuna el Maizal, de los estados Lara
        y Portuguesa Domingo, 29 de noviembre de 2009
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
