<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/RN.jpg"></ion-img>
    <ion-card-content>
      >
      <p class="cita1">
        “Llamo a los trabajadores a que vayamos preparándonos pues para ese gran
        referéndum del próximo tres de diciembre de este año 2000.”
      </p>
      <p class="piecita1">
        Aló Presidente Programa Nro. 47. Desde El Palacio de Miraflores. 15 de
        octubre De 2000
      </p>
      <p class="cita1">
        “Gracias a Dios que hubo referéndum y el Plan República estaba
        desplegado, no sólo en Vargas, en todo el país. Pero en Vargas
        particularmente, con los equipos electorales, como al final ocurrió y
        esa fue otra ventaja para mucha gente, que fue día no laborable.
        Pudieron salir, salieron de sus casas, estaban por fuera algunos, para
        visitar familiares, qué se yo.” (Refiriéndose a la vaguada del 16 de
        diciembre)
      </p>
      <p class="piecita1">
        Aló Presidente N° 26. Sede de la Radio Nacional de Venezuela. 16 enero
        de 2000
      </p>
      <p class="cita1">
        “El 15, bueno el triunfo del Sí, fue esplendoroso y hubo un nivel de
        votación superior al del referéndum del 25 de abril. Aquí en Venezuela
        ha habido dos referendos en la historia, el del 25 de abril y el del 15
        de diciembre.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 26. Sede de la Radio Nacional de Venezuela. 16 enero
        de 2000
      </p>
      <p class="cita1">
        “Hoy se cumplen trece años del decreto aquel, la rabo ‘e cochino,
        convocando al referendo nacional para abrir el camino a la Asamblea
        Constituyente y a la Revolución democrática.”
      </p>
      <p class="piecita1">
        Celebración de los 13 años del Gobierno Revolucionario. Teatro Catia,
        Plaza Sucre, Av. Sucre, Catia. Caracas, jueves 2 de febrero de 2012
      </p>
      <p class="cita1">
        “El lunes 2 de febrero celebraremos el quinto aniversario del gobierno
        bolivariano, fue un 2 de febrero allá en 1999 cuando llegamos aquí a la
        Casa de Misia Jacinta y aquel día firmamos el decreto llamando a
        referéndum y se abrió la puerta a la Constituyente.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 178. Palacio de Miraflores, 18 de enero de 2004
      </p>
      <p class="cita1">
        “Para que podamos poner orden aquí, en democracia, con libertades,
        hermanos, insisto, no hay otra alternativa para todos, les digo esto,
        que aprobar la nueva Constitución Nacional y comenzar a hacer la
        revolución política pacífica, es decir, a hacer otro Estado, otros
        Poderes, otro Poder Judicial, otro Poder Legislativo.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 23. Desde Mérida, Estado Mérida. Domingo, 5 de
        diciembre de 1999
      </p>
      <p class="cita1">
        “15 de diciembre de 1999. Fecha patria, fecha para la historia. Primera
        vez que en La Historia Venezolana que el pueblo de Venezuela, el pueblo
        bolivariano va a aprobar en un referéndum nacional la Constitución y en
        este caso, no es cualquier Constitución, estamos hablando y aquí la
        tengo, la Bolivariana.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 24. Aeropuerto de Valencia. Estado Carabobo. 12 de
        Diciembre de 1999
      </p>
      <p class="cita1">
        “Oigan mi palabra, yo llamo a todos unidos a que marchemos hacia el 15
        de Diciembre a decirle ¡Sí! a la Nueva Constitución de la República
        Bolivariana de Venezuela, referéndum nacional, el segundo referéndum
        nacional de este año 99.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 20. Radio Nacional de Venezuela Domingo14 de
        Noviembre de 1999
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
