<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/terrorismo.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Todas las acciones de Chávez Abarca estaban bajo órdenes del terrorista
        Luis Posada Carriles, con quien ha mantenido contacto permanente, tiene
        entrenamiento militar y conocimientos, es experto en fabricación y
        manipulación de artefactos explosivos, francotirador, terrorista;
        capturado en Maiquetía anoche con pasaporte falso.”
      </p>
      <p class="piecita1">
        Acto de entrega de certificados a los ahorristas del Banco Federal Salón
        Ayacucho, Palacio de Miraflores 2 de julio de 2010
      </p>
      <p class="cita1">
        “Este bandido Chávez Abarca fue a Cuba y es tan hábil que se infiltró en
        Cuba, tratando de matar a Fidel, como no pudo, entonces empezó a poner
        bombas en una discoteca y hubo varios muertos, en un hotel de turistas
        para alejar el turismo, para hacerle daño a Cuba, y se escapó de Cuba,
        allá quedaron algunos y están presos en Cuba, de los que con él andaban”
      </p>
      <p class="piecita1">
        Acto de entrega de certificados a los ahorristas del Banco Federal Salón
        Ayacucho, Palacio de Miraflores 2 de julio de 2010
      </p>
      <p class="cita1">
        “Otro caso más de terrorismo mediático contra el cual la Venezuela
        decente ha reaccionado, poniendo de manifiesto su rechazo contra este
        tipo de prácticas perversas y rastreras, que ponen de manifiesto la
        pudrición que carcome la mentalidad de la oligarquía venezolana.”
      </p>
      <p class="piecita1">
        Las líneas de Chávez: ¡¡No pasarán!! 22 Agosto 2010
      </p>
      <p class="cita1">
        “Venezuela está comprometida en la lucha contra el terrorismo, contra la
        violencia y se une a todos los pueblos que luchamos por la paz y por un
        mundo de iguales”.
      </p>
      <p class="piecita1">Discurso pronunciado en la ONU, Septiembre 2006</p>
      <p class="cita1">
        “Hay un plan que están cocinando de nuevo para tratar de matarme y ésa,
        la liberación de Luis Posada Carriles, significa mucho, entre otras
        cosas, él es el líder, el dirigente, el terrorista que dirige a la banda
        de terroristas, alguno de los cuales están aquí en Venezuela.”
      </p>
      <p class="piecita1">
        Acto del Día del Trabajador y Trabajadora de la República Bolivariana de
        Venezuela Sala Ríos Reyna, Teatro Teresa Carreño. Lunes, 30 de abril de
        2007
      </p>
      <p class="cita1">
        “Patt Robertson muy amigo de la Casa Blanca: pidió públicamente ante el
        mundo mi asesinato y anda libre, ¡ese es un delito internacional!,
        ¡terrorismo internacional!”
      </p>
      <p class="piecita1">
        Organización de Naciones Unidas, Nueva York. 15 de septiembre de 2005
      </p>
      <p class="cita1">
        “No se puede responder al terror con más terror, estos niños no tienen
        la culpa del terrorismo ni de Osama Bin Laden ni de nada de eso”.
      </p>
      <p class="piecita1">
        Cadena Nacional con motivo del regreso de su gira por los cuatro
        continentes. Octubre 2001.
      </p>
      <p class="cita1">
        “¡Con la excusa de luchar contra el terrorismo arremeten con terrorismo
        contra los pueblos del mundo!”
      </p>
      <p class="piecita1">
        Encuentro del presidente Chávez con el Movimiento “Manos Fuera de
        Venezuela”. Viena, Austria; 12 mayo de 2006
      </p>
      <p class="cita1">
        “Al terrorista que ahora el gobierno de Estados Unidos protege en su
        territorio, tenemos cinco años esperando la extradición de ese
        terrorista, ahora Posada Carriles mandó a este Chávez Abarca el
        terrorista.”
      </p>
      <p class="piecita1">
        Acto de entrega de certificados a los ahorristas del Banco Federal Salón
        Ayacucho, Palacio de Miraflores 2 de julio de 2010
      </p>
      <p class="cita1">
        “Capturado en Panamá, con explosivos y una red de terroristas que iban a
        volar a Fidel, pero no sólo a Fidel, Fidel iba a ir —no estoy seguro si
        al final fue— a una universidad allá en Panamá a dar una conferencia.
        Pues allí le iban a poner una bomba.” (Refiriéndose a Luis Posada
        Carriles)
      </p>
      <p class="piecita1">
        Conferencia de Prensa Ofrecida por el Presidente de la República
        Bolivariana de Venezuela, Hugo Chávez, a medios internacionales. Salón
        Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>
      <p class="cita1">
        “No puedo dejar de mencionar la noticia que di al país ese mismo día
        viernes: la captura del terrorista salvadoreño Francisco Chávez Abarca,
        brazo derecho de Luis Posada Carriles, en un operativo de inteligencia
        realizado por el SEBIN el jueves 1° de julio.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Manuela Vuelve! 04 Julio 2010
      </p>
      <p class="cita1">
        “Hay que recordar que han matado a varios (funcionarios del INTI) están
        amenazando de muerte a los líderes campesinos, hay que recordar que han
        matado a centenares de ellos y ellas en estos años, es el terrorismo.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 369. Escuela Básica Nacional “Flores de Catia”.
        Parroquia 23 de Enero. 9 de enero de 2011
      </p>
      <p class="cita1">
        “Yo no tengo duda, no van a traer un terrorista de estos, arriesgarlo
        incluso, para entrar a un país, sabiendo que es buscado en el mundo
        entero y que tiene secretos bien guardados.”
      </p>
      <p class="piecita1">
        Acto de entrega de certificados a los ahorristas del Banco Federal Salón
        Ayacucho, Palacio de Miraflores 2 de julio de 2010
      </p>
      <p class="cita1">
        “El que debe estar ahorita muy nervioso es Posada Carriles, agarramos a
        uno de sus secuaces más importantes, de sus hijos, los hijos más
        importantes del terrorismo, formados en esa escuela del asesinato, de
        las bombas, de matar presidentes, de poner bombas en aviones y matar
        inocentes, niños, etc. Esta es la locura, está aquí.”
      </p>
      <p class="piecita1">
        Acto de entrega de certificados a los ahorristas del Banco Federal Salón
        Ayacucho, Palacio de Miraflores 2 de julio de 2010
      </p>
      <p class="cita1">
        “Venezuela está comprometida en la lucha contra el terrorismo, contra la
        violencia y se une a todos los pueblos que luchamos por la paz y por un
        mundo de iguales”.
      </p>
      <p class="piecita1">Discurso pronunciado en la ONU, Septiembre 2006</p>
      <p class="cita1">
        “Este debe ser uno de aquellos terroristas que en Panamá estaban al
        mando de Posada Carriles que fue capturado, estando Fidel, yo estaba
        también, el Rey de España y los presidentes de América Latina y de
        Europa Ibérica, y nos iban a poner una bomba para matar a Fidel y a mí,
        el objetivo era Fidel pero yo estaba en el medio, y lo capturaron y
        después el gobierno de Panamá, ese gobierno de entonces, lo liberó por
        presiones del gobierno de Bush y allá está protegido, ese es el jefe de
        este que anoche agarramos.” (Refiriéndose a Chávez Abarca)
      </p>
      <p class="piecita1">
        Acto de entrega de certificados a los ahorristas del Banco Federal Salón
        Ayacucho, Palacio de Miraflores 2 de julio de 2010
      </p>
      <p class="cita1">
        “El siglo XX fue mucho un siglo de terror, terrorismo de Estado, además
        de los grupos terroristas que han andado y siguen andando por el mundo.”
      </p>
      <p class="piecita1">
        Discurso ante la Asamblea Nacional. Memoria y Cuenta año 2000. Palacio
        Federal Legislativo, 15 de enero de 2001
      </p>
      <p class="cita1">
        “Nosotros sabemos que en Centroamérica, ese terrorista que está siendo
        protegido por el Gobierno de Estados Unidos, que se llama Luis Posada
        Carriles.”
      </p>
      <p class="piecita1">
        Conferencia de Prensa Ofrecida por el Presidente de la República
        Bolivariana de Venezuela, Hugo Chávez, a medios internacionales. Salón
        Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>
      <p class="cita1">
        “¿Quién tiene alguna contundente prueba de que alguno de estos Estados,
        hablo de Estados, es de verdad un Estado terrorista como para ir a
        borrarlo de la faz de la Tierra? Yo hasta ahora no he visto ninguna
        prueba, si las tuviese entonces comenzaríamos a repensar nuestras
        relaciones. Pero como todos sabemos, hay muchos tipos de terrorismo,
        abiertos y explosivos, encubiertos y silenciosos también.”
      </p>
      <p class="piecita1">
        Discurso en la presentación del Plan de Desarrollo Económico y Social de
        la Nación, 2001-2007. Palacio Federal Legislativo, 28 de septiembre de
        2001
      </p>
      <p class="cita1">
        “Es el imperialismo que responde, que agrede, es una serpiente suelta
        por mil partes, como en Venezuela: terrorismo, sabotaje petrolero,
        sabotaje económico, golpe de Estado; como aquí hace 20 años y más: todo
        el terror y el terrorismo con que incendiaron a Nicaragua para impedir
        que se consolidara la Revolución Sandinista.”
      </p>
      <p class="piecita1">
        Entrega del Doctorado Honoris Causa de la Universidad Nacional de
        Ingeniería al presidente de la República Bolivariana de Venezuela, Hugo
        Chávez. Plaza del Rectorado. Managua, Nicaragua. 11 de enero de 2007
      </p>
      <p class="cita1">
        “Anoche fue capturado un gran terrorista que quería entrar a Venezuela,
        de apellido Chávez, venía con nombre falso, solicitado código rojo por
        Interpol, la pregunta que me hago desde anoche es ¿qué venía hacer este
        hombre a Venezuela?”
      </p>
      <p class="piecita1">
        Acto de entrega de certificados a los ahorristas del Banco Federal Salón
        Ayacucho, Palacio de Miraflores 2 de julio de 2010
      </p>
      <p class="cita1">
        “Ya Estados Unidos planificó, financió e impulsó un golpe de estado en
        Venezuela. Y Estados Unidos sigue apoyando movimientos golpistas en
        Venezuela y contra Venezuela, sigue apoyando al terrorismo.”
      </p>
      <p class="piecita1">Discurso pronunciado en la ONU, Septiembre 2006</p>
      <p class="cita1">
        “Cómo será el desespero de este hombre descubierto, y el grado de
        complicidad que tiene con Posada Carriles, cuántas cosas no sabrá este
        hombre, que dijo a un funcionario del Sebin, por lo cual ordenamos
        cuidarlo mucho: “por qué más bien no me meten un tiro”.” (Refiriéndose a
        Chávez Abarca)
      </p>
      <p class="piecita1">
        Acto de entrega de certificados a los ahorristas del Banco Federal Salón
        Ayacucho, Palacio de Miraflores 2 de julio de 2010
      </p>
      <p class="cita1">
        “El Gobierno de los Estados Unidos ha liberado al terrorista más grande
        de la historia de este continente, Luis Posada Carriles.”
      </p>
      <p class="piecita1">
        Acto del Día del Trabajador y Trabajadora de la República Bolivariana de
        Venezuela Sala Ríos Reyna, Teatro Teresa Carreño. Lunes, 30 de abril de
        2007
      </p>
      <p class="cita1">
        “Porque respetando lo que dice el Gobierno de Colombia y algunos otros
        gobiernos, sobre todo el de Estados Unidos, que acusa a todos estos
        grupos de “terroristas”; yo también, ustedes saben que al salir de la
        cárcel no tenía visa para ir a Estados Unidos, por terrorista.”
      </p>
      <p class="piecita1">
        Conferencia de Prensa Ofrecida por el Presidente de la República
        Bolivariana de Venezuela, Hugo Chávez, a medios internacionales. Salón
        Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>
      <p class="cita1">
        “Estados Unidos, bueno, el imperio, ellos se reservan el derecho de
        extraditar o no, incluso al terrorista aquel que le puso la bomba al
        avión cubano donde murieron ¿qué? Setenta y pico de inocentes, allá
        está, protegido por el gobierno de Estados Unidos, se niegan a enviarlo,
        se escapó de aquí de una cárcel de San Juan de los Morros, estoy
        hablando de Luis Posada Carriles, por ejemplo, para que tú veas como es
        el mundo.”
      </p>
      <p class="piecita1">
        Inspección al Desarrollo Habitacional Terrazas del Aluminio Municipio
        Caroní, Estado Bolívar Lunes, 20 de agosto de 2012
      </p>
      <p class="cita1">
        “Nosotros apoyamos la lucha contra el terrorismo en cualquier parte del
        mundo.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 205 Desde Parque Sur. Estado Zulia Domingo, 26 de
        septiembre de 2004
      </p>
      <p class="cita1">
        “No se puede luchar contra el terrorismo con más terrorismo, hay que
        entender las causas del terrorismo y de la violencia no son otras que
        las que dice la Biblia “El único camino a la paz es la justicia” hagamos
        florecer la justicia social y florecerá la paz, donde halla injusticia
        florecerá la violencia y florecerá el terrorismo y ese no es el camino
        que nosotros queremos para el mundo.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 205 Desde Parque Sur. Estado Zulia Domingo, 26 de
        septiembre de 2004
      </p>
      <p class="cita1">
        “Yo ratifico que si aquí en Venezuela vive, viviese algún terrorista,
        algún líder de un grupo guerrillero, colombiano o de cualquier país,
        algún etarra, de cualquier país del mundo, alguna persona que esté
        solicitada por cualquier delito, lo que ese país debe hacer es solicitar
        al gobierno venezolano o a las instituciones venezolanas la
        extradición.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 210 Desde el Palacio de Miraflores Domingo 9 de Enero
        de 2005
      </p>
      <p class="cita1">
        “¡Nosotros viviremos y triunfaremos! y no le permitiremos a las mafias
        estas de la burguesía apátrida y todas sus redes terroristas
        internacionales, que vayan a desestabilizar a nuestro país, no se los
        permitiremos! Que Dios nos acompañé”
      </p>
      <p class="piecita1">
        Acto de entrega de certificados a los ahorristas del Banco Federal Salón
        Ayacucho, Palacio de Miraflores 2 de julio de 2010
      </p>
      <p class="cita1">
        “Pero no es lo mismo el terrorismo que la situación interna de países
        como Colombia.”
      </p>
      <p class="piecita1">
        Discurso en la presentación del Plan de Desarrollo Económico y Social de
        la Nación, 2001-2007. Palacio Federal Legislativo, 28 de septiembre de
        2001
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
