<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
      <ion-img class="capitulo_img" src="/assets/images/capitulos/alemania.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Brandeburgo (Alemania), rica región donde por cierto Venezuela tiene
        inversiones, Pdvsa tiene ahí unas inversiones en una de las más grandes
        refinerías de toda Europa.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 17 Desde la Sede de Radio Nacional de Venezuela 03 de
        Octubre de 1999
      </p>
      <p class="cita1">
        “En Alemania, recibimos a empresarios de la Siemens, por ejemplo, que
        están muy interesados, han sabido el plan de desarrollo nuestro del eje
        Apure-Orinoco, el plan ferroviario, los planes para construir puertos
        venezolanos en el Caribe y están muy interesados en participar en todos
        estos procesos.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 17 Desde la Sede de Radio Nacional de Venezuela 03 de
        Octubre de 1999
      </p>
      <p class="cita1">
        “Nos conseguimos con venezolanos que están importando café, que llevan
        café de aquí de Venezuela a Hannover, bueno, y vamos a profundizar ese
        comercio de carne, de café hacia Alemania y por allí hacia Europa.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 17 Desde la Sede de Radio Nacional de Venezuela 03 de
        Octubre de 1999
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
