<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/pedagogo.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “La historia no sólo es el hecho militar, la historia es el hecho social
        y el hecho económico como fuente de generación de los conflictos que
        luego llegan como en estos casos de nuestros pueblos al hecho militar.”
      </p>
      <p class="piecita1">
        Aló Presidente Programa Nro. 49 Desde el Campo de Carabobo, estado
        Carabobo 29 de octubre de 2000
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
