<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/moral.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Un Bolivariano debe ser, bueno, culto, estudioso, deportista, no
        importa la edad, no importa el sexo, no importa nada.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 299. Escuela de Formación Socialista Ezequiel Zamora.
        6 de enero de 2008
      </p>
      <p class="cita1">
        “¡Qué inmoralidad para Europa y Estados Unidos: hablando de libre
        comercio y ellos son los que más protegen a sus agricultores! Una vaca
        de las praderas de Inglaterra —dije yo una vez no sé en qué discurso— es
        más afortunada que millones de niños en África, en América Latina y en
        Asia, ¿por qué? Porque cada vaca en Inglaterra recibe un subsidio de dos
        dólares diarios para su manutención, en cambio hay millones y millones
        de niños en el mundo que se mueren de hambre por falta de un centavo de
        dólar para un poquitico de comida.”
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores. 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Una locura, y entonces, un padre con sus hijas pequeñas, el tipo
        ¡borracho!, y entonces, se desata la lujuria incluso, ¡la lujuria!, en
        el colectivo, ¡la desvergüenza!, gracias a la “Polar”, y amuchas otras
        marcas, pues; la Polar es una nada más.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 369. Escuela Básica Nacional “Flores de Catia”.
        Parroquia 23 de Enero. 9 de enero de 2011
      </p>
      <p class="cita1">
        “Necesitamos recuperar el espíritu del colectivo y salir de esos vicios,
        de esa degeneración que aprendimos, mal aprendimos durante muchos años,
        según la cual lo que más importa soy yo y lo demás a mí no me importa
        nada.”
      </p>
      <p class="piecita1">
        Sede de Radio Nacional de Venezuela. 15 de Agosto de 1999
      </p>
      <p class="cita1">
        “Mucha gente cree que por tener un arma en la casa, la casa está segura
        y es al revés, es al revés, no hace falta tener un arma en la casa, un
        arma de fuego no hace falta, no; pero bueno, hay que crear la conciencia
        primero”.
      </p>
      <p class="piecita1">
        Unidad de Producción Socialista Ezequiel Zamora. Sabana del Socorro,
        parroquia Santa Bárbara, municipio Ezequiel Zamora, estado Barinas. 29
        de enero de 2012
      </p>
      <p class="cita1">
        “Tú, padre, que me oyes: ¡cuida a tus hijos, dale ejemplo a tus hijos!
        Pero mira más allá de ellos también. Porque a fin de cuentas, todos los
        niños de Venezuela son nuestros hijos y con ellos tenemos una gigantesca
        responsabilidad”.
      </p>
      <p class="piecita1">
        Aló Presidente, Nº 04. Palacio de Miraflores. 20 de junio de 1999
      </p>
      <p class="cita1">
        “¿4 de febrero? Yo soy el primero que levanta la mano. Yo soy uno de los
        responsables”
      </p>
      <p class="piecita1">Toma de posesión 2 de febrero 1999</p>
      <p class="cita1">
        “¡Lo juro por Dios y mi madre!”. Una palabra santa, pues, eso era como
        el sello del valor de la palabra, del honor; así que uno viene jurando.”
      </p>
      <p class="piecita1">
        Juramentación del Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez Frías (período 2007-2013) Palacio Federal Legislativo. 10 de
        enero de 2007
      </p>
      <p class="cita1">
        “¡Cómo no va a ser importante hablar de moral hoy cuando la corrupción
        ha azotado y ha roto todos los recortes y resortes de la era y de la
        vida republicana!”
      </p>
      <p class="piecita1">Palacio Federal Legislativo, 5 de agosto de 1999</p>
      <p class="cita1">
        “Las verdades de las que uno está convencido, yo las voy a decir, de
        diversas maneras.”
      </p>
      <p class="piecita1">
        Discurso de toma de posesión. Palacio Federal Legislativo. 2 de febrero
        de 1999
      </p>
      <p class="cita1">
        “Se está generando con esto una cultura de fiel cumplimiento de las
        responsabilidades del Estado como patrono, lo cual le da al Estado algo
        que no tenía, un estatus moral, ético.”
      </p>
      <p class="piecita1">
        Discurso ante la Asamblea Nacional. Memoria y Cuenta año2000. Palacio
        Federal Legislativo, 15 de enero de 2001
      </p>
      <p class="cita1">
        “El mal ejemplo… uno ve por aquí gente fumando y tiran la colilla en el
        suelo y le echan el humo a cualquiera, y están unos niños al lado y no
        importa… eso es un desastre, entre otras cosas producto del consumismo.”
        (Refiriéndose a la prohibición de fumar en lugares públicos de Francia)
      </p>
      <p class="piecita1">
        Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar
        Palacio de Miraflores. 1° de febrero de 2007
      </p>
      <p class="cita1">
        “Creo que uno de los factores que más influye en la inseguridad en las
        calles es el consumo de alcohol de manera descarada y abierta por todas
        partes, como si fuera un refresco o un jugo de caña”.
      </p>
      <p class="piecita1">
        Aló Presidente Teórico N° 1. Teatro Teresa Carreño. 11 de junio de 2009
      </p>
      <p class="cita1">
        “Váyanse acostumbrando y cada quien asuma sus obligaciones y cumpla con
        sus responsabilidades”.
      </p>
      <p class="piecita1">
        Aló Presidente, N° 132 desde la planta de distribución de PDVSA
        Carenero, Edo Miranda. 22 de diciembre de 2002
      </p>
      <p class="cita1">
        “A los muchachos hay que tratar de orientarlos en función no sólo de sus
        deseos sino también sus aptitudes”.
      </p>
      <p class="piecita1">
        “Aló, Presidente” N° 37. Sede Televisa, Maracaibo–Edo Zulia. 10 de abril
        de 2000
      </p>
      <p class="cita1">
        “Poder Moral, hoy más que nunca requiere Venezuela un verdadero,
        auténtico, sólido Poder Moral que nazca desde aquí, desde la conciencia
        de cada uno de nosotros y que se haga feliz existencia, feliz concreción
        nacional. El Poder Moral para luchar contra la corrupción, contra los
        vicios, contra los caracteres y las costumbres que tantos años nos han
        dado.”
      </p>
      <p class="piecita1">
        Juramentación del Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez Frías (período 2007-2013) Palacio Federal Legislativo. 10 de
        enero de 2007
      </p>
      <p class="cita1">
        “Si usted tuvo un muchachito, aunque sean cuales fueren las condiciones,
        usted está obligado amigo mío, hombre, si es hombre de verdad, a ponerse
        los pantalones y a responder por ese muchachito.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 11. Sede de Radio Nacional de Venezuela, Caracas. 22
        de agosto de 1999
      </p>
      <p class="cita1">
        “A la calle, todos juntos, no a la burocracia, a la frialdad de estos
        espacios, luchemos contra eso.”
      </p>
      <p class="piecita1">
        Discurso con motivo de su toma de posesión como Presidente de la
        República Bolivariana de Venezuela para el periodo 2000-2006 ante la
        Asamblea Nacional
      </p>
      <p class="cita1">
        “Ojalá me estén escuchando los padres que abandonan a las mujeres con
        sus hijos, que abandonan a sus hijos, tienen que asumir su
        responsabilidad.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 11. Sede de Radio Nacional de Venezuela, Caracas. 22
        de agosto de 1999
      </p>
      <p class="cita1">
        “Todos tenemos que hacerlo. Hago un llamado para que todos paguemos los
        impuestos que tengamos que pagar.”
      </p>
      <p class="piecita1">
        Discurso ante la Asamblea Nacional. Memoria y Cuenta año2000 Palacio
        Federal Legislativo, 15 de enero de 2001
      </p>
      <p class="cita1">
        “Este jueves 19 continuamos con nuestro deber ineludible de hacer
        justicia a los antiguos ahorristas del Banco Federal y a los afectados
        del conjunto residencial La Avileña.”
      </p>
      <p class="piecita1">
        Las líneas de Chávez: ¡¡No pasarán!!. 22 Agosto 2010
      </p>
      <p class="cita1">
        “…Invitarme a reuniones en Washington y no sé dónde más con el Fondo
        Monetario. Se cansaron, se dieron cuenta de que conmigo perdían su
        tiempo, y luego el golpe de Estado, y se fueron, ahí están. ¿Pero qué
        tienen que ofrecerle al futuro? Absolutamente nada.”
      </p>
      <p class="piecita1">
        Juramentación de Ministros de Cultura, Juventud y del Comandante de la
        Guardia de Honor Presidencial Palacio de Miraflores, 1 de agosto de 2011
      </p>
      <p class="cita1">
        “Hago un llamado a quienes se malacostumbraron a vivir y a medrar del
        orden anterior y recibieron el apoyo del poder político anterior, de
        nosotros no van a tener ese apoyo; nosotros les apoyaremos siempre y
        cuando ustedes entiendan que Venezuela requiere justicia, igualdad,
        tierra libre y hombre libre.”
      </p>
      <p class="piecita1">
        Discurso con motivo de su toma de posesión como Presidente de la
        República Bolivariana de Venezuela para el periodo 2000-2006 ante la
        Asamblea Nacional
      </p>
      <p class="cita1">
        “El tercer gran motor constituyente, así lo creo y así los invito a
        desarrollarlo, es lo que hemos llamado la “Gran Jornada Nacional Moral y
        Luces”, educación en todos los espacios: educación moral, educación
        económica, educación política, educación social; mucho más allá de la
        escuela, en las fábricas, en los talleres, en los campos, en los núcleos
        endógenos, una sacudida moral.”
      </p>
      <p class="piecita1">
        Juramentación del Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez Frías (período 2007-2013) Palacio Federal Legislativo. 10 de
        enero de 2007
      </p>
      <p class="cita1">
        “No se trata de la moral personal, no se trata de la moral puritana, se
        trata de la moral republicana que es la resultante de los valores y las
        virtudes de un pueblo.”
      </p>
      <p class="piecita1">Palacio Federal Legislativo, 5 de agosto de 1999</p>
      <p class="cita1">
        “Al máximo dar el ejemplo, revisando todos los detalles: ¿dónde estoy
        dando mal ejemplo? Bueno, somos humanos y erramos, pero hay que
        corregir, darse cuenta, tener conciencia, porque no basta la palabra,
        decía Bolívar: “Los ejemplos mueven mil veces más que las palabras”. Aun
        cuando la palabra, por supuesto, es necesaria, es orientadora.”
      </p>
      <p class="piecita1">
        Apoyo a la Inventiva Tecnológica Nacional Torre Ministerial, Caracas. 19
        de junio de 2007
      </p>
      <p class="cita1">
        “Hay que luchar con mucha moral, principios, verdaderos principios para
        derrotar esas tentaciones y esas contaminaciones que nos circundan por
        todos lados, que nos amenazan y el enemigo hábilmente las lanza contra a
        veces gente débil.”
      </p>
      <p class="piecita1">
        Reunión con el Gabinete Ejecutivo, Gobernadores y Buró Político del
        PSUV. Salón Ayacucho – Palacio de Mira- flores. 16 de julio de 2011
      </p>
      <p class="cita1">
        “Hay quienes escudándose en la familia pueden ver a alguien muriéndose
        al lado y no hacen nada o hay quienes dicen incluso: no tengo que cuidar
        el futuro de mis hijos y van a robar, se meten a corruptos y buscan la
        forma de hacerse ricos explotando a otros o robando a otros con la
        excusa de que tienen que asegurar el futuro de sus hijos, ve, esa es la
        visión más terrible que hay, que puede haber del origen de la familia,
        es como una cosas así como la familia de los mafiosos de Vito Corleone
        la familia.”
      </p>
      <p class="piecita1">
        Conmemoración de los 10 años de la derrota del paro patronal y la
        promulgación de la Ley de Tierras. Teatro Municipal, 10 de diciembre de
        2011
      </p>
      <p class="cita1">
        “Hemos llegado para quedarnos y hemos llegado a esos espacios, no por
        arrastrarnos, no por entreguistas, hemos llegado con dignidad,
        demostrándole al mundo que somos un país soberano e independiente como
        lo dice nuestra Constitución Bolivariana.”
      </p>
      <p class="piecita1">
        Discurso con motivo del segundo aniversario del referendo que convoco a
        la Asamblea Nacional Constituyente de 1999. Palacio Federal Legislativo,
        25 de abril de 2001
      </p>
      <p class="cita1">
        “Quiero que apuremos más la marcha. Eso sí, que hagamos las cosas bien y
        estemos ojo pelao para que no se nos desvíen las cosas en ningún nivel.”
      </p>
      <p class="piecita1">
        Gabinete Comunal “Todos los motores a máxima revolución” Salón Venezuela
        del Círculo Militar, Fuerte Tiuna. Jueves, 15 de febrero de 2007
      </p>
      <p class="cita1">
        “Yo le hago un llamado a todos los venezolanos que tienen capitales en
        el exterior: ¡Piénsenlo! El país necesita capitales. ¡Vengan aquí!
        Claro, me refiero a los capitales bien habidos. Los otros difícilmente
        vendrán, a menos que de verdad hagan un mea culpa, Ojala lo hagan,
        también los llamo: Vengan, entreguen lo que se llevaron y asuman su
        responsabilidad. Yo creo que tengo algo de moral para pedirlo.”
      </p>
      <p class="piecita1">
        Discurso de toma de posesión Palacio Federal Legislativo. 2 de febrero
        de 1999
      </p>
      <p class="cita1">
        “En el caso del Estado la ganancia sí es cero, nosotros no podemos ganar
        dinero.”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Les invito a que sigamos dando el mejor de los ejemplos ante un pueblo
        y ante el mundo, que bien necesita de buenos ejemplos.”
      </p>
      <p class="piecita1">
        Discurso tras ser ratificado en el cargo como Presidente de la Republica
        por la Asamblea Nacional Constituyente. Palacio Federal Legislativo, 11
        de agosto de 1999
      </p>
      <p class="cita1">
        “Hoy vuelvo a decirlo: “Ay, Cardenales…” bueno, ahora me atrevo también
        a pedir que Dios les perdone.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡¡Ay, Cardenal…!! 11 Julio 2010
      </p>
      <p class="cita1">
        “El Poder Nacional tiene distintos ámbitos, a todos hay que atenderlos,
        yo me la paso es pendiente de los distintos elementos del Poder
        Nacional, porque es una de mis tareas contribuir al despertar de ese
        poderío, y a la consolidación del nuevo poder nacional, el Poder Moral,
        Poder Moral, no olvidemos eso, el poderío moral.”
      </p>
      <p class="piecita1">
        Entrega de viviendas en el Complejo habitacional Palma Sola Municipio
        Barinas, Estado Barinas Sábado, 31 de diciembre de 2011
      </p>
      <p class="cita1">
        “Decía Bolívar: “Moral y luces los polos de una República...” La moral,
        la lucha contra las inmoralidades pues, la lucha contra los anti
        valores, la lucha contra el egoísmo, la lucha contra la corrupción esté
        donde esté, y disfrácese como se disfrace; poner por delante los valores
        humanos, es la moral, la moral socialista, los valores socialistas, el
        amor, amaos los unos a los otros dijo mi señor, nuestro Señor Cristo
        redentor de los pobres, redentor de los humildes, redentor de los
        pueblos.”
      </p>
      <p class="piecita1">
        Entrega de viviendas en el Complejo habitacional Palma Sola Municipio
        Barinas, Estado Barinas Sábado, 31 de diciembre de 2011
      </p>
      <p class="cita1">
        “Debemos ser los verdaderos líderes de este pueblo como Bolívar pues,
        desprendidos de todo de toda la riqueza material eso es del pueblo.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 203. Desde Tacagua Vieja, Sector Araguaney Parroquia
        Sucre. Municipio Libertador. Domingo, 15 de septiembre de 2004
      </p>
      <p class="cita1">
        “Se requiere mucha voluntad política para romper las cadenas, y mucha
        fuerza popular, primero que nada moral.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 203. Desde Tacagua Vieja, Sector Araguaney Parroquia
        Sucre. Municipio Libertador. Domingo, 15 de septiembre de 2004
      </p>
      <p class="cita1">
        “Un soldado podrá estar muy bien equipado con armamento de última
        tecnología, pero si no tiene moral, no va a ninguna parte, un soldado
        podrá estar medio desnudo, descalzo, como Bolívar cruzó los andes con el
        pueblo hecho ejército, descalzos, casi desnudos, a pie, pero con una
        moral diez veces más alta, que las más altas montañas de los Andes,
        entonces la moral nacional, la moral del gobierno es lo más importante.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 206. Desde la Cooperativa Central Cafetalero Bramón
        Municipio Junín, Rubio. Estado Táchira. Domingo, 03 de octubre de 2004
      </p>
      <p class="cita1">
        “La moral de los productores, la moral nacional, la moral del gobierno
        es lo más importante y eso también es esencial en el modelo endógeno, la
        moral, el espíritu de trabajo, el espirita de entrega, la solidaridad,
        el trabajo conjunto.” Aló Presidente N° 206
      </p>
      <p class="piecita1">
        Aló Presidente N° 206. Desde la Cooperativa Central Cafetalero Bramón
        Municipio Junín, Rubio. Estado Táchira. Domingo, 03 de octubre de 2004
      </p>
      <p class="cita1">
        “Hay gente que se vende por 4 lochas y vende a los hermanos, hay gente
        pobre que se vende y entrega a sus hermanos, por 4 lochas repito, y los
        traiciona y los apuñalea por la espalda, por eso llamo a la
        reivindicación de la moral pública, de la solidaridad, del nosotros, a
        la unión de todos por los intereses de todos y no los intereses egoístas
        de alguien o de algunos.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 206. Desde la Cooperativa Central Cafetalero Bramón
        Municipio Junín, Rubio. Estado Táchira. Domingo, 03 de octubre de 2004
      </p>
      <p class="cita1">
        “Tenemos que afilar la espada de la moral, afilar la vista, agudizarlos
        radares del alma y del entendimiento y fortalecernos mucho más, mucho
        más, tener eso, disciplina cada uno, cada una y en colectivo.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado
        Aragua Domingo, 6 de diciembre de 2009
      </p>
      <p class="cita1">
        “Lo que estamos haciendo nosotros es moral, rescatar la moral de un
        pueblo, la dignidad, la vida.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 24 Aeropuerto de Valencia. Estado Carabobo 12 de
        Diciembre de 1999
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
