<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/habilitante.jpg"></ion-img>
    <ion-card-content>

      <p class="cita1"> “Estamos pensando en una ley sobre el tema de la corrupción. Ya he pedido la cooperación de
        todos ellos, conocedores, juristas, estudiosos de temas específicos, el tema de la corrupción. Claro que es
        mucho más que leyes: son valores, pero las leyes deben abrir, establecer el marco. Una ley especial, la
        designación de fiscales especiales, de jueces especiales contra la corrupción; es una de las ideas que tengo y
        que vamos a convertir en ley ahora en el marco de la Habilitante.”
      </p>
      <p class="piecita1">Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar Palacio de Miraflores
        1° de febrero de 2007
      </p>
      <p class="cita1"> “Dentro de varias horas mi gobierno introducirá aquí en el Congreso la solicitud de una ley
        habilitante.”
      </p>
      <p class="piecita1">Discurso de toma de posesión. Palacio Federal Legislativo. 2 de febrero de 1999
      </p>
      <p class="cita1"> “Necesitamos reformar la Constitución, necesitamos nuevas leyes a través de la Habilitan-te,
        necesitamos la Moral y Luces —educación popular—, necesitamos una nueva distribución del poder sobre el espacio.
        Y no sólo el poder visto desde el punto de vista político: el poder social, el poder económico, tecnológico, el
        poder productivo, y luego el poder popular, el quinto motor. Todos están profundamente relacionados.”
      </p>
      <p class="piecita1">Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar Palacio de Miraflores
        1° de febrero de 2007
      </p>
      <p class="cita1"> “Solicito medidas extraordinarias a la Asamblea Nacional, al Tribunal Supremo de Justicia y al
        Poder Judicial y a todos los órganos del Poder Ciudadano, medidas extraordinarias, es necesario inventar e
        impulsar para luchar contra la corrupción, contra la pobreza, contra el hambre, contra la miseria, contra la
        inseguridad.”
      </p>
      <p class="piecita1">Discurso con motivo del segundo aniversario del referendo que convoco a la Asamblea Nacional
        Constituyente de 1999. Palacio Federal Legislativo, 25 de abril de 2001
      </p>
      <p class="cita1"> “Se dice que esta ley es un paso a la dictadura porque yo voy a dictar 60 leyes tiránicas que no
        he dictado en ocho años porque quizás no tuve tiempo, ahora sí tendré tiempo, etc.” (En relación a la Ley
        Habilitante)
      </p>
      <p class="piecita1">Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar Palacio de Miraflores
        1° de febrero de 2007
      </p>
      <p class="cita1"> “Se ha aprobado una Ley Eléctrica y está a punto de aprobarse la Ley del Gas, para impulsar el
        gran proyecto gasífero, necesario para el desarrollo del país, para atraer inversiones internaciones, para
        motorizar la inversión nacional de los capitales nacionales que se han ido del país en los últimos años.”
      </p>
      <p class="piecita1">Discurso tras ser ratificado en el cargo como Presidente de la Republica por la
        Asamblea Nacional Constituyente. Palacio Federal Legislativo, 11 de agosto de 1999
      </p>
      <p class="cita1"> “Los líderes políticos, sociales y el pueblo, aquí tenemos la principal arma para el
        contraataque de las ideas.” (En relación a la Ley Habilitante y al Abrogatorio Presidencial y de leyes
        promulgadas)
      </p>
      <p class="piecita1">Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar Palacio de Miraflores
        1° de febrero de 2007
      </p>
      <p class="cita1"> “Una ley habilitante para enfrentar en el corto plazo, porque el pueblo no puede esperar la
        Constituyente y esa es una verdad absoluta.”
      </p>
      <p class="piecita1">Discurso de toma de posesión. Palacio Federal Legislativo. 2 de febrero de 1999
      </p>
      <p class="cita1"> “Ahora, ¿y los niños de la calle? ¿Y los niños que no comen van a esperar que? Que nosotros
        solucionemos todos los vacíos y las dudas jurídicas y las corrientes de estudios de la juridicidad universal.
        ¡Medidas extraordinarias invoco!”
      </p>
      <p class="piecita1">Discurso con motivo del segundo aniversario del referendo que convoco a la Asamblea Nacional
        Constituyente de 1999. Palacio Federal Legislativo, 25 de abril de 2001
      </p>
      <p class="cita1"> “En las leyes habilitantes la prioridad es la batalla contra la pobreza, es la batalla contra la
        desigualdad. Por eso el ámbito social y económico es prioritario, es fundamental.”
      </p>
      <p class="piecita1">Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar Palacio de Miraflores. 1° de
        febrero de 2007
      </p>
      <p class="cita1"> “¡Bendito sea Dios, caramba! ¡Bendito sea Dios, Dios mío! ¡Ah! ¿Qué hacer? Creo que hace falta
        que pensemos urgentemente en medidas extraordinarias.”
      </p>
      <p class="piecita1">Discurso con motivo del segundo aniversario del referendo que convoco a la Asamblea Nacional
        Constituyente de 1999. Palacio Federal Legislativo, 25 de abril de 2001
      </p>
      <p class="cita1"> “He querido que la Gran Misión Hijos de Venezuela sea una ley pues, o esté enmarcada en una Ley
        Habilitante para que quede establecido como ley pues, una ley, es mucho más que un programa social, es una ley
        revolucionaria.”
      </p>
      <p class="piecita1">Lanzamiento de la Misión «Hijos de Venezuela». 12 de diciembre de 2011
      </p>
      <p class="cita1"> “Gobierno endógeno, rumbo a los objetivos, uno de ellos: derrotar la burocracia, el
        burocratismo, la corrupción, la ineficiencia. Ése es uno de los grandes objetivos, y es uno de los grandes temas
        de la Habilitante.”
      </p>
      <p class="piecita1">Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar Palacio de Miraflores. 1° de
        febrero de 2007
      </p>
      <p class="cita1"> “Mi sugerencia al Congreso: dedíquense a estudiar la posibilidad de darle al gobierno que hoy
        comienza una ley habilitante, dirigida especialmente a la materia económica.”
      </p>
      <p class="piecita1">Discurso de toma de posesión. Palacio Federal Legislativo. 2 de febrero de 1999
      </p>
      <p class="cita1"> “Algunos se creen el cuento ese de que yo tengo ya todas las leyes hechas aquí abajo y sólo que
        voy a ir... y un conjunto de eunucos serían ustedes, queridos compañeros en el Consejo de Ministros que sin
        debate ni nada levantan la mano y aprobamos y listo; algunos —creo— se creen ese cuento, algunos andan rayando
        en la locura” (Refiriéndose a la Ley Habilitante)
      </p>
      <p class="piecita1">Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar Palacio de Miraflores. 1° de
        febrero de 2007
      </p>
      <p class="cita1"> “Dentro del marco de la Habilitante, en tres meses, hemos logrado una ley para reformar el
        Estado, hasta donde las atribuciones del Poder Ejecutivo alcanzan, por supuesto. Y esto es un piso o una primera
        fase para la transformación profunda de todas las instituciones del Estado que competen a ustedes, queridos
        compatriotas constituyentes.”
      </p>
      <p class="piecita1">Discurso tras ser ratificado en el cargo como Presidente de la Republica por la
        Asamblea Nacional Constituyente. Palacio Federal Legislativo, 11 de agosto de 1999
      </p>
      <p class="cita1"> “Salieron ya a decir y que lo digan, es bien bueno que lo digan, “la tiranía a través de la
        Habilitante”.”
      </p>
      <p class="piecita1">Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar Palacio de Miraflores. 1° de
        febrero de 2007
      </p>
      <p class="cita1"> “Aquí está la Ley Habilitante, sencilla, cuatro páginas, cuatro artículos. Vamos a promulgarla
        con rojo rojito. Y a partir de hoy entrará en vigencia tan pronto salga en la Gaceta Oficial de la República, en
        el nombre de Dios, de la Revolución...”
      </p>
      <p class="piecita1">Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar Palacio de Miraflores
        1° de febrero de 2007
      </p>
      <p class="cita1"> “Necesitamos una profunda reforma fiscal, que ya se ha anunciado en algunos escenarios, de
        manera fragmentaria”
      </p>
      <p class="piecita1">Discurso de toma de posesión. Palacio Federal Legislativo. 2 de febrero de 1999
      </p>
      <p class="cita1"> “Me tiene hasta la coronilla esta situación, y estoy pensando en tomar medidas extraordinarias,
        pero no podemos así.”
      </p>
      <p class="piecita1">Discurso con motivo del segundo aniversario del referendo que convoco a la Asamblea Nacional
        Constituyente de 1999. Palacio Federal Legislativo, 25 de abril de 2001
      </p>
      <p class="cita1"> “Nunca hubo en Venezuela una ley eléctrica. Una ley que regule el sector eléctrico, su
        desarrollo, su impulso, sus objetivos. Solo en tiempo de Gómez hay el antecedente de un estatuto eléctrico, que
        nunca llego a ser una ley.”
      </p>
      <p class="piecita1">Discurso tras ser ratificado en el cargo como Presidente de la Republica por la Asamblea
        Nacional Constituyente. Palacio Federal Legislativo, 11 de agosto de 1999</p>


    </ion-card-content>
  </ion-card>
</ion-content>
