<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/polopatriotico.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “El Gran Polo Patriótico, un gran Polo que aspiro, que aspiramos se
        consolide y trascienda la coyuntura electoral.”
      </p>
      <p class="piecita1">
        Reunión con la maquinaria electoral del PSUV Caracas, viernes 7 de
        septiembre de 2012
      </p>
      <p class="cita1">
        “De aquí saldremos a desplegarnos con las manos abiertas, con los brazos
        abiertos, por la Patria toda; a llamar a todas y a todos los que aún no
        se han sumado a nuestra causa, los que aún no se han sumado a nuestras
        filas, los que aún dudan, los que aún pudieran estar temero¬sos o
        confundidos vamos a contribuir a que se acaben los temores en ellos, a
        que se acaben la confusión en ellos, y que se sumen definitivamente al
        movimiento, a la causa bolivariana, al movimiento revolucionario, la
        Gran Polo Patriótico.”
      </p>
      <p class="piecita1">
        Reunión con la maquinaria electoral del PSUV Caracas, viernes 7 de
        septiembre de 2012
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
