<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/onu.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Aquí se nos acusa de que violamos los derechos humanos, que perseguimos
        a la gente, lo cual es absolutamente falso, y ahí está el reconocimiento
        que nos ha dado el mundo, los países del mundo, la gran mayoría,
        aprobando por una mayoría abrumadora el ingreso de nuestro país al
        Consejo de Derechos Humanos de Naciones Unidas.”
      </p>
      <p class="piecita1">
        Reunión de Trabajo, Jueves de Vivienda Despacho Presidencial, Palacio de
        Miraflores. Caracas, jueves 15 de noviembre de 2012
      </p>
      <p class="cita1">
        “Me da mucho gusto volver a Nueva York, volver a Naciones Unidas después
        de varios años, y agradezco mucho toda la cooperación, toda la manera
        como han recibido a nuestra delegación.”
      </p>
      <p class="piecita1">
        Discurso en la 64ª Asamblea General de Naciones Unidas Nueva York,
        Jueves, 24 de septiembre 2009
      </p>
      <p class="cita1">
        “Yo no quiero meterme en las cosas internas de ningún país, pero aquí se
        nos acusa de que violamos los derechos humanos, que perseguimos a la
        gente, lo cual es absolutamente falso, y ahí está el reconocimiento que
        nos ha dado el mundo, los países del mundo, la gran mayoría, aprobando
        por una mayoría pero abrumadora el ingreso de nuestro país al Consejo de
        Derechos Humanos de Naciones Unidas. Vamos a darle un aplauso a
        Venezuela (aplaude), a Venezuela.”
      </p>
      <p class="piecita1">
        Cadena nacional. Despacho presidencial, Palacio de Miraflores. 15 de
        noviembre de 2012
      </p>
      <p class="cita1">
        “Esto desmonta totalmente, como han sido desmontadas casi todas las
        matrices opositoras, con nuestro retiro de la Comisión Interamericana de
        Derechos Humanos: “Venezuela va a quedar aislada del mundo y nuestros
        ciudadanos indefensos”.” (En relación al ingreso al Consejo de Derechos
        Humanos de las Naciones Unidas)
      </p>
      <p class="piecita1">
        Reunión de Trabajo, Jueves de Vivienda Despacho Presidencial, Palacio de
        Miraflores. Caracas, jueves 15 de noviembre de 2012
      </p>
      <p class="cita1">
        “Las Naciones Unidas fueron creadas dentro del contexto de la Guerra
        Fría, al concluir el horroroso conflicto bélico que llevó a la muerte un
        promedio de 25 mil personas por día. Bajo el signo de las amenazas
        latentes, fue imponiéndose una verdad que nos unía a todos con el todo:
        la necesidad de garantizar la seguridad en el mundo”.
      </p>
      <p class="piecita1">Cumbre del Milenio. 2000</p>
      <p class="cita1">
        “Debo ir el próximo mes a la sesión de la Organización de las Naciones
        Unidas, a la Asamblea Anual, ahí tronara mi voz, pero voy a decir
        verdades al mundo, Dios mediante.”
      </p>
      <p class="piecita1">
        Discurso tras ser ratificado en el cargo como Presidente de la Republica
        por la Asamblea Nacional Constituyente. Palacio Federal Legislativo, 11
        de agosto de 1999
      </p>
      <p class="cita1">
        “Las Naciones Unidas han agotado su modelo, y no se trata simplemente de
        proceder a una reforma, el siglo XXI reclama cambios profundos que sólo
        son posibles con una refundación de esta organización”.
      </p>
      <p class="piecita1">
        Organización de Naciones Unidas, Nueva York. 15 de septiembre de 2005
      </p>
      <p class="cita1">
        “Más allá de las reformas reclamamos desde Venezuela la refundación de
        Naciones Unidas”.
      </p>
      <p class="piecita1">
        Organización de Naciones Unidas, Nueva York. 15 de septiembre de 2005
      </p>
      <p class="cita1">
        “Sacamos más votos que Estados Unidos.” (En relación al ingreso al
        Consejo de Derechos Humanos de las Naciones Unidas)
      </p>
      <p class="piecita1">
        Reunión de Trabajo, Jueves de Vivienda Despacho Presidencial, Palacio de
        Miraflores. Caracas, jueves 15 de noviembre de 2012
      </p>
      <p class="cita1">
        “Gran alegría nos causó la visita a Venezuela del presidente de la
        Asamblea General de la Organización de las Naciones Unidas, Alí Treki.
        El ilustre visitante estuvo entre nosotros el miércoles 23 y el jueves
        24 de junio.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡El Ejército de Bolívar, Otra vez! 27 Junio 2010
      </p>
      <p class="cita1">
        “Tenemos que revisar todo el funcionamiento de las Naciones Unidas, sus
        mecanismos de toma de decisiones, hay que consultar a los pueblos, y esa
        fue la consigna del año pasado en la Cumbre del Milenio: Nosotros, los
        pueblos, vamos a darle cabida a la opinión de los pueblos, vamos a
        marchar hacia un mundo más justo; la única manera de que tengamos un
        mundo en paz.”
      </p>
      <p class="piecita1">
        Discurso en la presentación del Plan de Desarrollo Económico y Social de
        la Nación, 2001-2007. Palacio Federal Legislativo, 28 de septiembre de
        2001
      </p>
      <p class="cita1">
        “Aquí va a seguir este Gobierno, este régimen violando los derechos
        humanos a diestra y siniestra…”. Y ahí está la verdad, pocas semanas
        después, el mundo aprueba de manera arrolladora el ingreso de Venezuela
        al Consejo de Derechos Humanos de las Naciones Unidas.”
      </p>
      <p class="piecita1">
        Reunión de Trabajo, Jueves de Vivienda Despacho Presidencial, Palacio de
        Miraflores. Caracas, jueves 15 de noviembre de 2012
      </p>
      <p class="cita1">
        “Ellos arremetiendo con todas sus presiones para excluir a Venezuela,
        para humillar a Venezuela en aquellas elecciones al Consejo de Seguridad
        de Naciones Unidas”
      </p>
      <p class="piecita1">
        Celebración del VIII aniversario del Instituto Nacional de la Mujer
        (Inamujer).Sala Ríos Reyna, Teatro Teresa Carreño. 31 de octubre de 2007
      </p>
      <p class="cita1">
        “Es un proceso inédito, nunca se había hecho esto en Naciones Unidas,
        una iniciativa extraordinaria del subsecretario general, señor Koffi
        Annan.” (Cumbre del Milenio)
      </p>
      <p class="piecita1">
        Discurso ante la Asamblea Nacional. Memoria y Cuenta año2000 Palacio
        Federal Legislativo, 15 de enero de 2001
      </p>
      <p class="cita1">
        “Las Naciones Unidas fueron creadas dentro del contexto de la Guerra
        Fría, al concluir el horroroso conflicto bélico que llevó a la muerte un
        promedio de 25 mil personas por día. Bajo el signo de las amenazas
        latentes, fue imponiéndose una verdad que nos unía a todos con el todo:
        la necesidad de garantizar la seguridad en el mundo”.
      </p>
      <p class="piecita1">Cumbre del Milenio. 2000</p>
      <p class="cita1">
        “Nos han convertido a esta Asamblea en un órgano meramente deliberativo,
        meramente deliberativo sin ningún tipo de poder para impactar de la más
        mínima manera la realidad terrible que vive el mundo”.
      </p>
      <p class="piecita1">Discurso pronunciado en la ONU, Septiembre 2006</p>
      <p class="cita1">
        “Jamás iremos a una guerra con Guyana, ese es un problema que bueno, se
        viene tratando por canales diplomáticos, está en Naciones Unidas, y lo
        hemos seguido conversando, no renunciaremos jamás a ese reclamo.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 215. Desde Salón Ayacucho. Palacio de Miraflores
        Domingo 13 de Marzo de 2005
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
