<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/paropetrolero.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Porque este gente a muchos le han metido en la cabeza que Chávez está
        listo pues, que además, si no paraban el barco los botaban, porque como
        Chávez se va entonces ellos van a tomar el poder y el que no colabore
        con el paro entonces le meten el cuento y la amenaza de que va a estar
        botado.”
      </p>
      <p class="piecita1">
        Aló Presidente, N° 132 desde la planta de distribución de PDVSA
        Carenero, Edo Miranda. 22 de diciembre de 2002
      </p>
      <p class="cita1">
        “Así que pueblo venezolano, nación venezolana, hoy 22 de diciembre lo
        decimos por toda la mitad de la calle, hemos comenzado a restituir la
        normalidad.”
      </p>
      <p class="piecita1">
        Aló Presidente, N° 132 desde la planta de distribución de PDVSA
        Carenero, Edo Miranda. 22 de diciembre de 2002
      </p>
      <p class="cita1">
        “El gobernador de Carabobo tratando de parar Puerto Cabello ¿ah?,
        tratando de parar el Puerto también y saboteando al pueblo, esa es la
        verdad y eso hay que decirlo”.
      </p>
      <p class="piecita1">
        Aló Presidente, N° 132 desde la planta de distribución de PDVSA
        Carenero, Edo Miranda. 22 de diciembre de 2002
      </p>
      <p class="cita1">
        “Yo les hago un llamado a todos para que cesen definitivamente en su
        actitud, porque si no se van a tener que ir de la empresa petrolera que
        es nuestra es de todos nosotros, no es de ustedes pues es de nosotros.”
      </p>
      <p class="piecita1">
        Aló Presidente, N° 100. Parque Nacional El Ávila. 17 de marzo de 2002
      </p>
      <p class="cita1">
        “Comenzaremos a partir de mañana a recuperar el nivel de producción del
        petróleo progresivamente y a continuar produciendo procesando y
        exportando casi tres millones de barriles diarios de petróleo que es la
        producción asignada en las cuotas de la organización de países
        exportadores de petróleo a nuestro país.”
      </p>
      <p class="piecita1">
        Aló Presidente, N° 132 desde la planta de distribución de PDVSA
        Carenero, Edo Miranda. 22 de diciembre de 2002
      </p>
      <p class="cita1">
        “Los conspiradores hicieron un plan que ellos creyeron que era perfecto.
        Igual que el plan de abril, creyó que era perfecto, solo que no contaban
        con el pueblo.”
      </p>
      <p class="piecita1">
        Aló Presidente, N° 132 desde la planta de distribución de PDVSA
        Carenero, Edo Miranda. 22 de diciembre de 2002
      </p>
      <p class="cita1">
        “Cada minuto que pase recuperamos PDVSA, seguimos recuperando espacios.”
      </p>
      <p class="piecita1">
        Aló Presidente, N° 132 desde la planta de distribución de PDVSA
        Carenero, Edo Miranda. 22 de diciembre de 2002
      </p>
      <p class="cita1">
        “Cómo le duele a esa casta política degenerada que utilizó la Fuerza
        Armada para afianzarse en el poder para instalar una falsa democracia,
        para atropellar a un pueblo y hasta para masacrarlo cuando hubo que
        masacrarlo, como fue el caso del 27-F de 1989.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro.155. Capilla de la Alcaldía del Mun. Libertador. 6 de
        julio de 2003
      </p>
      <p class="cita1">
        “Todos los que estuvieron en esto tienen que irse de Petróleos de
        Venezuela.”
      </p>
      <p class="piecita1">
        Aló Presidente, N° 132 desde la planta de distribución de PDVSA
        Carenero, Edo Miranda. 22 de diciembre de 2002
      </p>
      <p class="cita1">
        “Querían parar el país con el fin de justificar entonces un golpe de
        Estado o justificar cualquier medida y a ellos no les importa cuál para
        que Chávez salga del Gobierno, para quebrar el Gobierno y la voluntad
        del Gobierno o la voluntad del pueblo”
      </p>
      <p class="piecita1">
        Aló Presidente, N° 132 desde la planta de distribución de PDVSA
        Carenero, Edo Miranda. 22 de diciembre de 2002
      </p>
      <p class="cita1">
        “Algunos de los capitanes que pararon los buques, llamándolos a la
        reflexión, tratando de agotar todas las vías, la persuasión y me di
        cuenta que algunos de ellos están engañados porque el dijeron que Chávez
        caía en cinco días pues.”
      </p>
      <p class="piecita1">
        Aló Presidente, N° 132 desde la planta de distribución de PDVSA
        Carenero, Edo Miranda. 22 de diciembre de 2002
      </p>
      <p class="cita1">
        “En el Zulia está preso el Capitán del Pilín León que fue destituido que
        paró el barco y con él se habló varias veces de muchas maneras pero el
        hombre no, ¿bueno?, lo bajaron preso del barco a él y a un grupo de
        oficiales y ahí están presos allá en Maracaibo.”
      </p>
      <p class="piecita1">
        Aló Presidente, N° 132 desde la planta de distribución de PDVSA
        Carenero, Edo Miranda. 22 de diciembre de 2002
      </p>
      <p class="cita1">
        “Mira, le dijeron a los capitanes y ellos mismos creyeron el cuento:
        “Chávez está listo” Navidad sin Chávez dijeron ellos. No qué va mi
        compae, no se equivoquen tanto otra vez.”
      </p>
      <p class="piecita1">
        Aló Presidente, N° 132 desde la planta de distribución de PDVSA
        Carenero, Edo Miranda. 22 de diciembre de 2002
      </p>
      <p class="cita1">
        “Empezaron a decir no, no lo van a mover, es una tripulación que no
        conoce el barco (Pilín León), el barco va a explotar decían y otros
        decían no, seguramente no saben darle la vuelta, no; después que le
        dieron la vuelta, no van a poder arrancar y arrancaron; no, se van a
        estrellar contra el puente; después que pasó el puente, no, se va a
        hundir.”
      </p>
      <p class="piecita1">
        Aló Presidente, N° 132 desde la planta de distribución de PDVSA
        Carenero, Edo Miranda. 22 de diciembre de 2002
      </p>
      <p class="cita1">
        “Tan pronto el Pilín León comenzó a navegar y la emoción se apoderó de
        toda Venezuela y cohetes por todos lados porque en verdad es una
        victoria de esa batalla con el Pilín León que lo habían tomado como
        símbolo allá en el lago de Maracaibo y ellos decían que no.”
      </p>
      <p class="piecita1">
        Aló Presidente, N° 132 Planta de distribución de PDVSA Carenero, Edo
        Miranda. 22 de diciembre de 2002
      </p>
      <p class="cita1">
        “Ustedes saben que una de las más dolorosas consecuencias del sabotaje
        petrolero fue el frenazo tremendo que tuvimos que sufrir en muchos
        planes especialmente en la construcción de viviendas para las clases
        medias, para los sectores populares.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 178 Palacio de Miraflores, 18 de enero de 2004
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
