<app-header></app-header>
<app-fontcontrol></app-fontcontrol>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h1>Agracecimientos</h1>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        A mi madre <b>Carmen Delia</b>, la mujer que me dio la vida, que me enseño los valores de solidaridad, de
        honradez, de fortaleza en la lucha revolucionaria, la mujer que siempre estuvo presente en mis pensamientos, en
        las luchas por un mundo mejor, a la madre que estuvo conmigo y me daba su amor en los momentos difíciles, cuando
        me enfermaba con el asma y en la cárcel cuando caía por subversivo era la primera que llegaba, la que elevó mis
        sueños y los juntó en mi para hacerlos acción revolucionaria,
        Para la mujer que siempre llevaré en mi corazón…
      </p>
      <ion-button (click)="cerarrModal()" slot="secondary" color="danger">
        <ion-label>Cerrar</ion-label>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>