<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/burguesia.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Aragua, ustedes saben lo que aquí pasó durante diez años de Revolución.
        ¡No hubo Revolución verdadera en Aragua!, no teníamos un gobierno
        revolucionario para nada, era un gobierno aliado con los grandes
        capitales, con los terratenientes, con la burguesía aragüeña y la
        burguesía venezolana.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 325 Los valles de Tucutunemo, municipio Zamora, estado
        Aragua 1º de marzo de 2009
      </p>
      <p class="cita1">
        “Por más críticas que ustedes puedan hacerle a este gobierno que yo
        presido, que nadie se confunda y vaya a pensar que la burguesía va a
        venir a arreglar los problemas de los trabajadores, que nadie se
        confunda.”
      </p>
      <p class="piecita1">
        Asamblea con trabajadores de la CVG, Pdvsa y demás sectores productivos
        Bolívar, 20 de agosto de 2012
      </p>
      <p class="cita1">
        “No es la burguesía la que va a venir a arreglar el problema de la luz,
        mentira; no es la burguesía la que va a venir a arreglar el problema de
        las calles, mentira; no es la burguesía la que va a venir a arreglar el
        problema de la criminalidad, mentira.”
      </p>
      <p class="piecita1">
        Caravana y concentración en apoyo al candidato Chávez Guarenas, estado
        Miranda Sábado, 29 de septiembre de 2012
      </p>
      <p class="cita1">
        “La burguesía venezolana, anda como loca, tratando de recuperar el poder
        en Venezuela, se van a quedar con las ganas, porque el 7 de octubre ¡le
        vamos a dar un nocaut a la burguesía venezolana!”
      </p>
      <p class="piecita1">
        Caravana y concentración San Félix, estado Bolívar Sábado, 18 de agosto
        de 2012
      </p>
      <p class="cita1">
        “Si la burguesía ganara las elecciones, perderíamos la independencia
        nacional y se cerrarían los portones del futuro, y se acabaría de nuevo
        la patria, la independencia, la libertad, la dignidad de Venezuela; ¡y
        eso no va a ocurrir más nunca jamás!”
      </p>
      <p class="piecita1">
        Caravana y concentración San Félix, estado Bolívar Sábado, 18 de agosto
        de 2012
      </p>
      <p class="cita1">
        “¿Ustedes creen que si la burguesía recuperara el gobierno nacional
        venezolano continuaría con el Mercosur?¿Continuaría con la integración
        de Suramérica y el Caribe?, no, ellos convertirían a Venezuela de nuevo
        en una colonia yanqui, pero eso más nunca va a ocurrir en esta tierra,
        somos libres y más nunca perderemos la libertad que hemos logrado
        después de tantos sacrificios.”
      </p>
      <p class="piecita1">
        Caravana y concentración San Félix, estado Bolívar Sábado, 18 de agosto
        de 2012
      </p>
      <p class="cita1">
        “La burguesía si de algo es garantía, es de la violencia.”
      </p>
      <p class="piecita1">
        Caravana y concentración San Félix, estado Bolívar Sábado, 18 de agosto
        de 2012
      </p>
      <p class="cita1">
        “Si la burguesía regresara a gobernar al país, el país entraría en una
        tormenta de violencia.”
      </p>
      <p class="piecita1">
        Caravana y concentración San Félix, estado Bolívar Sábado, 18 de agosto
        de 2012
      </p>
      <p class="cita1">
        “Ah ¿la burguesía qué está diciendo? Que van acabar con el control de
        cambio, claro no ve que ellos quisieran tener libertad aquí para comprar
        los dólares baratos a 4.30 y llevárselos a las cuentas en el exterior y
        dejar al país seco de recursos como lo hicieron durante toda la vida,
        control de cambio.”
      </p>
      <p class="piecita1">
        Consejo de Ministros Salón Néstor Kirchner, Palacio de Miraflores 23 de
        febrero de 2012
      </p>
      <p class="cita1">
        “¿Cuál es el discursito que ellos tienen ahora para tratar de embaucar a
        la gente?: “No, nosotros vamos a continuar con todas las misiones. Y no
        sólo a continuar sino a mejorarlas...”. ¡Ay qué hipocresía! ¡No sean
        hipócritas burgueses! Si ustedes gobernaron aquí durante cien años y lo
        que hicieron fue negarle al pueblo sus derechos esenciales.”
      </p>
      <p class="piecita1">
        Consejo de Ministros Salón Néstor Kirchner, Palacio de Miraflores 23 de
        febrero de 2012
      </p>
      <p class="cita1">
        “La burguesía cuando busca votos es capaz de ofrecer... Bueno, tú le
        pides la luna: “¡Te traigo la luna!”. Pídele las estrellas: “¡No, yo te
        las traigo también empaquetaítas...!”.”
      </p>
      <p class="piecita1">
        Consejo de Ministros Salón Néstor Kirchner, Palacio de Miraflores 23 de
        febrero de 2012
      </p>
      <p class="cita1">
        “Ahhh cómo la alta burguesía estafa a la clase media, algunos no se dan
        cuenta, algunos andan tan envenenados que no se dan cuenta y éste es uno
        de los objetivos de la gran burguesía, envenenar, confundir a la gente.”
      </p>
      <p class="piecita1">
        Gran Misión Vivienda Venezuela con sectores medios del país Salas Ríos
        Reyna, Teatro Teresa Carreño. Viernes 17 de agosto de 2012
      </p>
      <p class="cita1">
        “La burguesía hace hasta lo imposible por obtener el poder y no tiene
        límites, dar golpes de Estado, es la historia de estos últimos cien
        años; asesinatos, mataron presidentes.”
      </p>
      <p class="piecita1">
        Inspección al Desarrollo Habitacional Terrazas del Aluminio Municipio
        Caroní, Estado Bolívar Lunes, 20 de agosto de 2012
      </p>
      <p class="cita1">
        “La gran burguesía, dueña de televisoras, dueña de periódicos, dueña de
        radios y de mucho poder económico, lanza esas campañas todos los días
        para tratar de marear a la gente.”
      </p>
      <p class="piecita1">
        Inspección al Desarrollo Habitacional Terrazas del Aluminio Municipio
        Caroní, Estado Bolívar Lunes, 20 de agosto de 2012
      </p>
      <p class="cita1">
        “Qué cosa tan terrible, lo que es la burguesía ¿no? Y el odio de clases,
        es el odio de clases, el veneno, ellos odian a los pobres, y odian a un
        gobierno de los pobres, un gobierno del pueblo. Es verdad, odian al
        pueblo.”
      </p>
      <p class="piecita1">
        Inspección al Desarrollo Habitacional Terrazas del Aluminio Municipio
        Caroní, Estado Bolívar Lunes, 20 de agosto de 2012
      </p>
      <p class="cita1">
        “Yo soy tan presidente de este país en la plaza Bolívar de Caracas como
        en la plaza Bolívar de Valencia, aquí no hay republiquitas, no, eso es
        lo que quisiera la burguesía ve, picar a Venezuela en pedacitos para
        repartírsela, lo habían hecho, aquí gobernaron también unos caudillitos
        que pretenden volver a gobernar aquí.”
      </p>
      <p class="piecita1">
        Inspección al Desarrollo Habitacional Terrazas del Aluminio Municipio
        Caroní, Estado Bolívar. Lunes, 20 de agosto de 2012
      </p>
      <p class="cita1">
        “No que Carabobo no es parte” ¿cómo que no es parte? “No que Zulia”
        ¿cómo qué no? “no que Táchira” ¿cómo qué no? que no se equivoque la
        burguesía. Ahora eso es parte de la visión burguesa ¿ve?, picar al país
        en pedazos para repartírselo, negocio, dinero, nosotros no.”
      </p>
      <p class="piecita1">
        Inspección al Desarrollo Habitacional Terrazas del Aluminio Municipio
        Caroní, Estado Bolívar. Lunes, 20 de agosto de 2012
      </p>
      <p class="cita1">
        “Ahora andan diciendo que yo estoy metiéndole miedo a la gente cuando
        digo una verdad, yo no estoy metiendo miedo, yo sólo estoy diciendo que
        si aquí llegara a gobernar de nuevo la burguesía, bueno, pasaría esto, a
        estas personas ¡perderían la vivienda!”
      </p>
      <p class="piecita1">
        Inspección al Desarrollo Habitacional Terrazas del Aluminio Municipio
        Caroní, Estado Bolívar. Lunes, 20 de agosto de 2012
      </p>
      <p class="cita1">
        “¿Qué es un burgués? Es un burgués ¿que su familia es burguesa? es
        burguesa ¿ve? ¿Que perteneció en su juventud a una organización fascista
        que se llama TFP? Es verdad.” (Refiriéndose al candidato de la oposición
        Enrique Capriles)
      </p>
      <p class="piecita1">
        Inspección al Desarrollo Habitacional Terrazas del Aluminio Municipio
        Caroní, Estado Bolívar. Lunes, 20 de agosto de 2012
      </p>
      <p class="cita1">
        “La burguesía, su candidato y sus élites, ellos son incapaces de
        reconocer la crisis capitalista mundial ¡no hablan de eso! Tú le
        preguntas y te salen por la tangente o dicen que son dificultades
        transitorias, etc. Algo así, pero que es una crisis profunda lo que está
        ocurriendo en el capitalismo mundial ¡no lo reconocen!”
      </p>
      <p class="piecita1">
        Inspección al Desarrollo Habitacional Terrazas del Aluminio Municipio
        Caroní, Estado Bolívar. Lunes, 20 de agosto de 2012
      </p>
      <p class="cita1">
        “La estrategia, el eje central de la estrategia burguesa, desde hace
        catorce años, para ponerle un tope desde que empezó nuestro Gobierno, y
        eso va a permanecer así, porque la estrategia es efectiva para ellos y
        dañina para nosotros, esa estrategia tiene como dos ámbitos. Uno, negar
        radicalmente toda obra de Gobierno. Hasta el exceso, no les importa,
        pero eso va calando, eso va calando.”
      </p>
      <p class="piecita1">
        Juramentación del Vicepresidente Ejecutivo de la República y Ministros
        del Gabinete Ejecutivo. Salón Simón Bolívar, Palacio de Miraflores
        Sábado, 13 de octubre de 2012
      </p>
      <p class="cita1">
        “La burguesía, con su gran poder mediático (interno y externo), y ahora
        con las llamadas redes sociales, toda esa tecnología que cada día es más
        asombrosa, bueno, ellos se encargan de negar radicalmente toda obra de
        Gobierno, taparla, distorsionarla, negarla.”
      </p>
      <p class="piecita1">
        Juramentación del Vicepresidente Ejecutivo de la República y Ministros
        del Gabinete Ejecutivo. Salón Simón Bolívar, Palacio de Miraflores
        Sábado, 13 de octubre de 2012
      </p>
      <p class="cita1">
        “La estrategia permanente de la burguesía y la alianza esa anti
        bolivariana, que pretende y seguirá pretendiendo quebrar nuestra
        Revolución por distintas vías, incluyendo la vía pacífica electoral,
        ¡eh!, van a seguir en eso; y en la otra y en el otro, no descansarán, no
        descansarán.”
      </p>
      <p class="piecita1">
        Juramentación del Vicepresidente Ejecutivo de la República y Ministros
        del Gabinete Ejecutivo. Salón Simón Bolívar, Palacio de Miraflores
        Sábado, 13 de octubre de 2012
      </p>
      <p class="cita1">
        “¿Alguien cree de verdad que la burguesía continuaría con esos proyectos
        (Misión Vivienda? ¡Nooo! Pero todavía hay gente aquí que cree que sí,
        que sí, que la burguesía continuaría, porque eso no es de Chávez, eso es
        del pueblo ¿ves?”
      </p>
      <p class="piecita1">
        Juramentación del Vicepresidente Ejecutivo de la República y Ministros
        del Gabinete Ejecutivo. Salón Simón Bolívar, Palacio de Miraflores
        Sábado, 13 de octubre de 2012
      </p>
      <p class="cita1">
        “¿Ustedes creen que aquí estuviera hoy la burguesía juramentando
        ministros? Estarían eliminando, no creando nuevos Pdval sino
        cerrándolos, cerrándolos, eliminándolos.”
      </p>
      <p class="piecita1">
        Juramentación del Vicepresidente Ejecutivo de la República y Ministros
        del Gabinete Ejecutivo. Salón Simón Bolívar, Palacio de Miraflores
        Sábado, 13 de octubre de 2012
      </p>
      <p class="cita1">
        “Con los adecos se vive mejor y no sé qué más. Es mentira, son
        gobiernos, de gobiernos burgueses siempre atropellan al pueblo, les
        niegan sus derechos. La vivienda se había convertido en los gobiernos
        burgueses en un lujo, y no sólo la vivienda hasta la alimentación,
        compadre.”
      </p>
      <p class="piecita1">
        Martín Román y Hugo Contreras. Entrevistan al candidato Hugo Chávez Sede
        de Telellano, Barinas, Estado Barinas Viernes, 14 de septiembre de 2012
      </p>
      <p class="cita1">
        “Es natural que la burguesía plantee la eliminación de las carteras
        obligatorias a la banca privada. Y volver atrás lo que aquí existió
        durante mucho tiempo. Y la liberación de las tasas de interés. Eso es lo
        que ellos plantean, eso es parte del proyecto histórico de la burguesía.
        La burguesía es la élite capitalista de un país, o de un mundo, y ellos
        su tesis es el libre mercado, la oferta y la demanda pues, la oferta y
        la demanda.”
      </p>
      <p class="piecita1">
        Martín Román y Hugo Contreras. Entrevistan al candidato Hugo Chávez Sede
        de Telellano, Barinas, Estado Barinas Viernes, 14 de septiembre de 2012
      </p>
      <p class="cita1">
        “Si en algún lugar debe reinar, como reina el sectarismo, es en la
        derecha, en la derecha, la burguesía es sectaria, es excluyente.”
      </p>
      <p class="piecita1">
        Reunión con la maquinaria electoral del PSUV Caracas, viernes 7 de
        septiembre de 2012
      </p>
      <p class="cita1">
        “Esa burguesía es en verdad apátrida; esa burguesía es la —vamos a
        decirlo así— continuadora de las tres carabelas aquellas de la
        conquista, ellos vienen de ahí, de las tres carabelas. Por eso es que
        ellos pretenden borrar la historia y presentarse ahora como patriotas,
        cuando son el reverso, son la otra cara de la Patria.”
      </p>
      <p class="piecita1">
        Reunión con la maquinaria electoral del PSUV Caracas, viernes 7 de
        septiembre de 2012
      </p>
      <p class="cita1">
        “Ellos son los carabelas de Colón, ellos son la masacre indígena, la
        burguesía venezolana es La Cosiata antibolivariana, la burguesía que
        expulsó a Bolívar de aquí, es la burguesía que derrocó a Cipriano Castro
        e impuso a Juan Vicente Gómez como cachorro del imperio, es la burguesía
        que derrocó a Isaías Medina Angarita, es la burguesía que mandó a
        asesinar a Román Delgado Chalbaud, es la burguesía ¡Del 11 de abril, de
        Puente Llaguno! Una de las más oscuras y terribles y podridas burguesías
        que ha existido a lo largo de la historia en este mundo.”
      </p>
      <p class="piecita1">
        Reunión con la maquinaria electoral del PSUV Caracas, viernes 7 de
        septiembre de 2012
      </p>
      <p class="cita1">
        “La burguesía es apolítica, es impolítica, o es contra política,
        cualquier expresión de esas creo que sería válida.”
      </p>
      <p class="piecita1">
        Reunión con la maquinaria electoral del PSUV Caracas, viernes 7 de
        septiembre de 2012
      </p>
      <p class="cita1">
        “La estrategia burguesa lleva como eje central el ocultamiento pues, el
        ocultamiento de los orígenes del candidato, el ocultamiento de sus
        aliados, el ocultamiento, pero hay que recordar que el candidato burgués
        primero es candidato burgués pues, es el candidato de Acción
        Democrática.”
      </p>
      <p class="piecita1">
        Reunión con la maquinaria electoral del PSUV Caracas, viernes 7 de
        septiembre de 2012
      </p>
      <p class="cita1">
        “La burguesía dice, todos somos venezolanos eso es cierto, pero no dice
        todos somos iguales, o todos debemos ser iguales, precisamente porque la
        doctrina burguesa es la doctrina de la desigualdad, es la doctrina y la
        praxis de la exclusión.”
      </p>
      <p class="piecita1">
        Discurso del Comandante Chávez en el 193º Aniversario Del II Congreso de
        Angostura 15 de febrero 2012
      </p>
      <p class="cita1">
        “La burguesía ahora quiere enmascararse y decir que no, que es una
        burguesía progresista. ¡Vaya! Una burguesía progresista. Entonces
        súmense pa’ acá pues, súmense al chavismo (risa). Que es una burguesía
        de izquierda, vénganse para acá pues.”
      </p>
      <p class="piecita1">
        Discurso del Comandante Chávez en el 193º Aniversario Del II Congreso de
        Angostura 15 de febrero 2012
      </p>
      <p class="cita1">
        “Miren uno de los errores que comete la burguesía, que ha cometido la
        burguesía con mucha frecuencia es subestimarnos a nosotros, a mí me
        siguen subestimando. No, nosotros no debemos caer en ese error, no
        debemos subestimar a la burguesía y sus tácticas, sus estratagemas.”
      </p>
      <p class="piecita1">
        Discurso del Comandante Chávez en el 193º Aniversario Del II Congreso de
        Angostura 15 de febrero 2012
      </p>
      <p class="cita1">
        “La candidatura de la burguesía, que se quiere vestir de progresista,
        imagínate tú, es la candidatura adeco-copeyana, es la candidatura de la
        alta burguesía, es la candidatura retrógrada, es la candidatura del
        imperio yanqui y esa candidatura nosotros la vamos a demoler, pero es
        que la vamos a demoler estamos obligados.”
      </p>
      <p class="piecita1">
        Designación y Juramentación del comando de campaña “Los que quieran
        patria vengan con Chávez” Sala Ríos Reyna - Teatro Teresa Carreño.
        Caracas, jueves 23 de febrero de 2012
      </p>
      <p class="cita1">
        “Es una cosa enfermiza lo de la alta burguesía venezolana, no me cansaré
        de denunciarlos, toda, toda mi vida porque da, a veces da asco en verdad
        cómo mienten, cómo tratan de desmoralizar este pueblo, nosotros en
        cambio tenemos que, bueno decir y reconocer lo malo, reconocer las cosas
        que no funcionan bien para mejorarlas, pero bueno, poner en el tapete
        nacional las cosas positivas.”
      </p>
      <p class="piecita1">
        Entrega de Bonos Petro-Orinoco a ex trabajadores del Estado. Salón
        Ayacucho, Palacio de Miraflores Martes, 4 de septiembre de 2012
      </p>
      <p class="cita1">
        “Ojo; oído y ojo, el que tenga ojos vea, el que tenga oídos oiga, la
        burguesía venezolana no descansará en sus empeños, por cualquier vía,
        para tratar de frenar la Revolución Bolivariana y tratar de destruirla.”
      </p>
      <p class="piecita1">
        Acto de Graduación de Médicos Integrales Comunitarios Vargas, 16 de
        febrero de 2012
      </p>
      <p class="cita1">
        “No permitamos que la burguesía le meta miedo en el cerebro y en el alma
        a los pequeños productores, a los pequeños comerciantes.”
      </p>
      <p class="piecita1">
        Conmemoración del 23 de enero y homenaje a Fabricio Ojeda Desde la Av.
        Urdaneta, Palacio De Miraflores Caracas, 23 de enero de 2011
      </p>
      <p class="cita1">
        “Venezuela se hundió cuando gobernó la burguesía y este mismo pueblo ha
        hecho historia porque ha hecho una revolución que sacó a Venezuela del
        pantano.”
      </p>
      <p class="piecita1">
        Caravana y concentración en Av. Juncal Maturín, Edo. Monagas. Viernes,
        28 de septiembre de 2012
      </p>
      <p class="cita1">
        “No vamos a permitir que la burguesía les robe de nuevo la Patria a
        nuestros hijos, a nuestras hijas.”
      </p>
      <p class="piecita1">
        Concentración en apoyo al candidato de la Patria Maracay, Estado Aragua.
        Miércoles, 3 de octubre de 2012
      </p>
      <p class="cita1">
        “No podemos permitir que la burguesía vuelva a gobernar a Venezuela más
        nunca jamás.”
      </p>
      <p class="piecita1">
        Concentración en apoyo al candidato de la Patria en San Carlos, Estado
        Cojedes. Lunes, 1º de octubre de 2012
      </p>
      <p class="cita1">
        “Hay mucha ignorancia política en algunos sectores ¿ves? Hay mucha
        ignorancia política en algunos sectores de la gran burguesía, para ellos
        no hay Constitución; para ellos no hay Ley; para ellos no hay pueblo.”
      </p>
      <p class="piecita1">
        Macolla Guanaguanay, estado Monagas 22 de agosto de 2012
      </p>
      <p class="cita1">
        “Si yo tuviera algún plan para quitarle a los ricos lo que ellos tienen,
        mira, ya no tuvieran nadita porque yo tengo aquí 6 años ya, algún
        mordisco les hubiera pegado ya. No, nada, tienen su derecho ahí a sus
        viviendas, sus quintas de lujo, sus propiedades, sus 4, 5, 6 vehículos,
        su nivel de vida, su yate, su avión. Yo no me meto con ellos, más bien
        les extiendo la mano, y los invito a que nos unamos para luchar por el
        país, por la vida de todos.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 203. Desde Tacagua Vieja, Sector Araguaney Parroquia
        Sucre. Municipio Libertador Domingo, 15 de septiembre de 2004
      </p>
      <p class="cita1">
        “Yo quiero que los ricos entren al Reino de los Cielos también, pero
        para entrar al Reino de los Cielos no deben olvidar ustedes los ricos
        que la voz del pueblo es la voz de Dios y que deben venir a demostrar,
        bueno que son seres humanos, por encima de cualquier cosa, pero también
        es por ustedes ésta Revolución.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 203 Desde Tacagua Vieja, Sector Araguaney Parroquia
        Sucre. Municipio Libertador Domingo, 15 de septiembre de 2004
      </p>
      <p class="cita1">
        “La burguesía venezolana, sus aliados internacionales no tienen límite,
        no tienen código, no tienen la más mínima noción del respeto a la moral
        del pueblo, a la moral de los trabajadores, no tienen límites a la hora
        de tratar de manipular la opinión pública, de mentir de manera
        descarada.”
      </p>
      <p class="piecita1">
        Encuentro con los trabajadores petroleros Desde el Polideportivo José
        María Vargas. Edo. Vargas 31 de agosto de 2012
      </p>
      <p class="cita1">
        “Yo sólo quiero recordarle a la burguesía venezolana y a los que están
        pensando en ese plan “B”, así lo llaman ellos el plan “B”, que yo lo
        mismo les dije varias veces antes del 11 de abril. Varias veces les
        dije, no se equivoquen.”
      </p>
      <p class="piecita1">
        Encuentro con los trabajadores petroleros Desde el Polideportivo José
        María Vargas. Edo. Vargas 31 de agosto de 2012
      </p>
      <p class="cita1">
        “El programa del candidato burgués no ofrece nada nuevo, ellos dicen que
        son lo nuevo, que ya Chávez está viejo, que está cansado, que ya no
        puede más, que ya se desgastó, bueno es lo mismito que decían hace 6
        años.”
      </p>
      <p class="piecita1">
        Encuentro con los trabajadores petroleros Desde el Polideportivo José
        María Vargas. Edo. Vargas 31 de agosto de 2012
      </p>
      <p class="cita1">
        “Ustedes recuerdan aquellos libros del estado omnipotente contra la
        generación de relevo contra el estado omnipotente; es la misma burguesía
        esta de ahora, la generación de relevo, los progresistas, es el mismo
        cuento.”
      </p>
      <p class="piecita1">
        Consejo de Ministros Salón Néstor Kirchner, Palacio de Miraflores 23 de
        febrero de 2012
      </p>
      <p class="cita1">
        “La burguesía vendía el petróleo a 3 dólares, a 5 dólares, lo regalaba,
        lo regalaba, y eso fue cierto a lo largo de 100 años de producción, de
        explotación petrolera.”
      </p>
      <p class="piecita1">
        Consejo de Ministros Salón Néstor Kirchner, Palacio de Miraflores 23 de
        febrero de 2012
      </p>
      <p class="cita1">
        “El proyecto de la unidad que llaman, es el proyecto de la extrema
        derecha burguesa, de la más alta burguesía, oído la clase media, pongan
        cuidado la clase media, ese proyecto burgués, casi acabó con la clase
        media venezolana.”
      </p>
      <p class="piecita1">
        Consejo de Ministros Salón Néstor Kirchner, Palacio de Miraflores 23 de
        febrero de 2012
      </p>
      <p class="cita1">
        “Cuánto no gasta una familia de clase media si va solo a clínicas
        privadas, a comprar medicamentos en el mercado, el llamado mercado, si
        sus hijos van es a la escuela privada, a la universidad privada, cuánto
        no gastan, eh, cuánto no les roba la gran burguesía en sus sitios, que
        si el restaurante no sé cuál, que si la bebida no sé cuál, etc.”
      </p>
      <p class="piecita1">
        Consejo de Ministros Salón Néstor Kirchner, Palacio de Miraflores 23 de
        febrero de 2012
      </p>
      <p class="cita1">“Jamás defenderé los intereses de la burguesía.”</p>
      <p class="piecita1">
        “Aló, PRESIDENTE”, programa Nº 344 Comuna el Maizal, ubicada entre los
        municipios Simón Planas y Araure, de los estados Lara y Portuguesa
        Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1">
        “Yo los invito a todos, aún aquellos que tengan miedo, aún aquellos que
        tengan duda, aún aquellos que no sepan, le digo como dice la Biblia “el
        que tenga ojos que vea, el que tenga oídos que oiga” nadie se deje
        engañar, nadie se deje manipular, porque todos los días está la campaña,
        televisión, radio, prensa no descansa, la burguesía no descansa.”
      </p>
      <p class="piecita1">
        “Aló, PRESIDENTE”, programa Nº 344 Comuna el Maizal, ubicada entre los
        municipios Simón Planas y Araure, de los estados Lara y Portuguesa
        Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1">
        “Somos un pueblo libre. Y esta burguesía, esa burguesía que tanto nos
        odia, es la burguesía lacaya, la que entregó la Patria, la del 11de
        abril, que lo primero que hicieron fue llamar a Washington, y ahí
        llegaron los barcos.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 347 La Platera, municipio Tinaco, estado Cojedes
        Domingo, 10 de enero de 2010
      </p>
      <p class="cita1">
        “Aquí sencillamente no hay ni hubo burguesía nacional, la burguesía aquí
        nació traicionera, aquí la burguesía nació sin Patria, no es nacional,
        es pitiyanqui, es arrastrada.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 347 La Platera, municipio Tinaco, estado Cojedes
        Domingo, 10 de enero de 2010
      </p>
      <p class="cita1">
        “Es una gran diferencia que hay que tomar en cuenta, para no caerse a
        mentiras. “No, que la burguesía nacional...”. ¿Cuál burguesía nacional?
        Ustedes no ven que van a Estados Unidos, se arrastran ante los yanquis,
        no tienen sentido nacional, no tienen; no tienen nación, no tienen
        Patria. Por eso, cuéstenos lo que nos cueste esa burguesía apátrida más
        nunca volverá a gobernar a esta Patria zamorana, a esta Patria
        bolivariana.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 347 La Platera, municipio Tinaco, estado Cojedes
        Domingo, 10 de enero de 2010
      </p>
      <p class="cita1">
        “Expropiar aquellos espacios que tienen la burguesía todavía y que no
        están Productivos.”
      </p>
      <p class="piecita1">
        Aló, Presidente Nº 348 Filas de Mariche – Estado Miranda Domingo, 17 de
        enero de 2010
      </p>
      <p class="cita1">
        “Si la burguesía volviera a gobernar con estos partidos AD, Copei y sus
        derivados, volveríamos a esto, no ves que ellos se quieren llevar todo
        el dinero del país y le dejan al pueblo una miseria.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 348 Filas de Mariche – Estado Miranda
      </p>
      <p class="cita1">
        “Nosotros tenemos muchos años oyendo el discurso burgués de la unidad
        ¡ay cuidado! Cuidado con ese discursito burgués de la unidad, es el
        discurso además que han utilizado a lo largo de la historia, se ha
        utilizado a lo largo de la historia.”
      </p>
      <p class="piecita1">
        Discurso del Comandante Chávez en el 193º Aniversario Del II Congreso de
        Angostura 15 de febrero 2012
      </p>
      <p class="cita1">
        “Cuáles son tus ideas burguesía, habla claro burguesía no vengas con
        cuenticos ahora disfrazando tu discurso burguesía apátrida, enemiga del
        pueblo, antibolivariana.”
      </p>
      <p class="piecita1">
        Discurso del Comandante Chávez en el 193º Aniversario Del II Congreso de
        Angostura 15 de febrero 2012
      </p>
      <p class="cita1">
        “Hay que recordar, yo se los dije siempre, yo le hablé a la burguesía
        muy claro, cuando me di cuenta pues que venían, que venían, que venían
        por la vía violenta, les dije: “Esta no es una Revolución desarmada”.”
      </p>
      <p class="piecita1">
        Conversatorio sobre el Golpe de Estado de Abril de 2002 Palacio de
        Miraflores Miércoles, 11 de abril de 2012
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
