<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/unasur.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Ayer decidimos los presidentes y los altos representantes nombrar a
        nuestro esfuerzo integrador de Suramérica como Unión de Naciones
        Suramericanas, Unasur.”
      </p>
      <p class="piecita1">
        Instalación de la I Cumbre Energética Suramericana Gran Salón Hotel
        Hilton Margarita, Porlamar, estado Nueva Esparta. 17 de abril de 2007
      </p>
      <p class="cita1">
        “¿Dónde nació la Unasur?, en Margarita, en la Cumbre de abril después de
        intensas discusiones en torno al nombre de la Unión Nacional o Unión de
        Naciones Suramericanas; y se aprobó en Margarita por unanimidad la
        creación de una Secretaría permanente y un conjunto de líneas
        estratégicas.”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Modestamente proponemos que nuestra Unasur (Unión de Naciones
        Suramericanas) pues comience con este papel a trabajar lo que pudiera
        ser, ojalá pronto, en los próximos años, y no muy lejanos; un tratado
        energético, que firmemos todos los gobiernos.”
      </p>
      <p class="piecita1">
        Instalación de la I Cumbre Energética Suramericana Gran Salón Hotel
        Hilton Margarita, Porlamar, estado Nueva Esparta. 17 de abril de 2007
      </p>
      <p class="cita1">
        “Queremos una integración verdadera y nosotros apostamos a esa
        integración, y Venezuela, el país lo sabe, cuántos esfuerzos nosotros
        hemos desplegado y seguiremos desplegando por la integración. ¿Quieren
        que les haga sólo una referencia?: La Unasur.”
      </p>
      <p class="piecita1">
        Alocución del presidente de la República Bolivariana de Venezuela,
        Resultados de la gira por Euroasia. Palacio de Miraflores-Salón
        Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1">
        “Decidimos designar una secretaría ejecutiva permanente que tendrá como
        sede la ciudad de Quito, propuesta por el presidente Rafael Correa. E
        incluso él propuso un sitio específico: el monumento donde algunos hemos
        estado: La mitad del mundo. Allá funcionará entonces la secretaría
        permanente ejecutiva de nuestra Unasur.”
      </p>
      <p class="piecita1">
        Instalación de la I Cumbre Energética Suramericana Gran Salón Hotel
        Hilton Margarita, Porlamar, estado Nueva Esparta. 17 de abril de 2007
      </p>
      <p class="cita1">
        “Una vez más la Unasur ha demostrado que no nació para hacer política
        simbólica: supo actuar, en esta difícil coyuntura ecuatoriana, con la
        misma voluntad política y la misma determinación que en septiembre de
        2008 para abortar el golpe de Estado que estaba en desarrollo en
        Bolivia.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: ¡Salve, oh Patria, mil veces! ¡Oh Patria!. 03
        Octubre 2010
      </p>
      <p class="cita1">
        “Nuestra propuesta central en esta gira es la propuesta energética,
        desarrollar la propuesta de Margarita en la Cumbre de Unasur, la
        propuesta de un Tratado Energético Suramericano, o Tratado de Seguridad
        Energética.”
      </p>
      <p class="piecita1">
        Suscripción de acuerdos y rueda de prensa entre Ecuador y Venezuela,
        Salón Amarillo del Palacio de Carondelet. Quito, Ecuador. 9 agosto de
        2007
      </p>
      <p class="cita1">
        “Ese nombre que desde nuestro punto de vista —y ayer coincidíamos en
        eso— recoge un concepto, recoge una identidad, es un nombre
        identificatorio, sin duda alguna, Unasur.”
      </p>
      <p class="piecita1">
        Instalación de la I Cumbre Energética Suramericana Gran Salón Hotel
        Hilton Margarita, Porlamar, estado Nueva Esparta. 17 de abril de 2007
      </p>
      <p class="cita1">
        “Si no hubiésemos derrotado al ALCA no nace Unasur, no nace Unasur y hay
        que ver todo lo que hicimos Lula, Néstor, Evo, Rafael y muchos otros y
        luego Cristina para que naciera Unasur.”
      </p>
      <p class="piecita1">
        Rueda de Prensa con medios internacionales Salón Ayacucho del Palacio de
        Miraflores Martes, 9 de octubre de 2012
      </p>
      <p class="cita1">
        “Estamos mirando más allá de los límites de nuestro estado y estamos
        creando una red de convenios, de acuerdos que le van a ir dando forma a
        un proyecto, permítanme llamarlo así, gran nacional. En este caso,
        bilateral, en este caso biestatal, en este caso; birepublicano; pero hay
        más allá de la relación bilateral y de ahí la gran importancia del
        nacimiento de Unasur, la Unión de Naciones Suramericanas.”
      </p>
      <p class="piecita1">
        Firma de convenios entre la República Bolivariana de Venezuela y la
        República del Perú Salón de Sesiones de Macagua, Ciudad Guayana.
        Bolívar, sábado 7 de enero de 2012
      </p>
      <p class="cita1">
        “De la Unión de Naciones Suramericanas, o allí en el marco de esa unidad
        que está naciendo y conformándose, debe surgir el proyecto
        suramericano, como resultado de la complementación, de los proyectos
        nacionales de cada una de nuestras repúblicas, de cada uno de nuestros
        estados; los que algunos llaman el mega estado, el gran estado, el gran
        bloque.”
      </p>
      <p class="piecita1">
        Firma de convenios entre la República Bolivariana de Venezuela y la
        República del Perú Salón de Sesiones de Macagua, Ciudad Guayana.
        Bolívar, sábado 7 de enero de 2012
      </p>
      <p class="cita1">
        “Firmamos todos los Presidentes de Suramérica el acta de nacimiento de
        la Unión Suramericana de Naciones, la Comunidad Suramericana de
        Naciones, donde Colombia y Venezuela tenemos un buen papel que jugar.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 211 Desde el Salón Ayacucho del Palacio de Miraflores
        Domingo 16 de Enero de 2005
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
