<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/india.jpg"></ion-img>
    <ion-card-content>

      <p class="cita1"> “Hace poco fuimos a India y vimos millones de gente en las calles apoyando a la Revolu¬ción
        bolivariana.”
      </p>
      <p class="piecita1">Aló Presidente N° 216 Desde el Campo Experimental del INIA Municipio Alberto Arvelo Torrealba.
        Sabaneta. Estado Barinas
        Domingo 20 de Marzo de 2005</p>
    </ion-card-content>
  </ion-card>
</ion-content>
