<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/fmi.jpg"></ion-img>
    <ion-card-content>

      <p class="cita1">“Nosotros nos hemos liberado de las tenazas perversas del Fondo Monetario Internacio¬nal, no
        dependemos para nada de lo que digan en el Fondo Monetario Internacional, absolu¬tamente para nada, somos
        independientes, somos independientes, pues; somos independien¬tes pues.”
      </p>
      <p class="cita1">
        Aló Presidente Programa Nro. 186 Desde La Planta De Llenado De Pdvsa En Guatire
        28 De marzo De 2004 </p>


    </ion-card-content>
  </ion-card>
</ion-content>
