<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-card-header>
      <ion-img class="capitulo_img" src="/assets/images/capitulos/aliprimera.jpg"></ion-img>
    </ion-card-header>
    <ion-card-content>
      <p class="cita1">
        “Ese era Alí Primera, Alí Primera, que recogía el dolor y él lo expresó en canciones, yo lo expresé, no tuve
        otra manera, con un fusil y un grupo de muchachos y hoy sigo expresándolo con la canción, con la lucha, con el
        dolor y con el amor, con el fusil más nunca.”
      </p>
      <p class="piecita1">
        Aló Presidente Programa Nro. 44
        Desde El Palacio de Miraflores
        24 de septiembre de 2000
      </p>
      <p class="cita1">
        “¡Alí Primera vive en el canto y en la batalla del bravo Pueblo de Simón Bolívar! ¡Vamos contigo, Alí, en Amor
        Mayor!”
      </p>
      <p class="piecita1">
        @chavezcandanga.
        31 de octubre de 2012
      </p>
      <p class="cita1">
        “Alí sabía que en el Ejército había empezado a correr la corriente bolivariana. Él comenzó a cantar y sin
        embargo cuando no lo conocimos, sabíamos y él sabía lo que estaba haciendo, no había conexión directa pero sí
        indirecta (…), el canto bolivariano”
      </p>
      <p class="piecita1">
        Acto de graduación de la primera promoción de Médicos integrales comunitarios 16 de febrero de 2012
      </p>
      <p class="cita1">
        “Hoy lo lloramos y lo recordamos con amor infinito y decimos ¡que viva Alí, que viva el canto bolivariano!”,
        expresó.
      </p>
      <p class="piecita1">
        Acto de graduación de la primera promoción de Médicos integrales comunitarios 16 de febrero de 2012
      </p>
      <p class="cita1">
        “Cantábamos ahí Alí Primera; el pueblo que despertó, sol colorado viento del este, se abren los brazos del gran
        durmiente; se abrieron los brazos de lo que fue el gran durmiente, el pueblo, bravo y bravío despertó y aquí
        está, quién lo va a apagar, más nunca debemos permitir que apaguen o que duerman al pueblo, que despertó, al
        gigante que despertó con su alegría, con sus canciones, con su magia, con su furor libertario.”
      </p>
      <p class="piecita1">
        Lanzamiento de la Gran Misión Venezuela en Amor Mayor
        Sala Ríos Reyna del Teatro Teresa Carreño Caracas, martes 13 de diciembre de 2011
      </p>
      <p class="cita1">
        “Cómo es que cantaba Alí Primera, Soto Rojas tu que cantas esas canciones, la canción aquella del tiburón y la
        sardina, el tiburón que llama a la unión a la sardina, ahora más que nunca es imperativo por eso poner en primer
        lugar las ideas, las ideas.”
      </p>
      <p class="piecita1">
        Lanzamiento de la Gran Misión Venezuela en Amor Mayor
        Sala Ríos Reyna del Teatro Teresa Carreño Caracas, martes 13 de diciembre de 2011
      </p>
      <p class="cita1">
        “¿Cómo es que decía Alí Primera en su canción? La libertad del pueblo para morirse de hambre y la libertad de la
        burguesía para atropellar.”
      </p>
      <p class="piecita1">
        Consejo de Ministros,
        Salón Néstor Kirchner, Palacio de Miraflores
        Caracas, 24 de diciembre de 2011
      </p>
      <p class="cita1">
        “Al capitán no le gusta la música de Alí Primera, entonces más la ponía por allá, o le regalaba a los soldados
        para que se la llevaran para su casa, había mil maneras, cuando una revolución avanza no la para nadie, sobre
        todo a través de la cultura, de la educación, la cultura y la conciencia.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 178
        Palacio de Miraflores, 18 de enero de 2004
      </p>
      <p class="cita1">
        “Varias veces oficiales superiores a mí me llamaron la atención, y un día me llegaron a prohibir las canciones
        de Alí Primera porque yo andaba incita1ndo. Pero, bueno, si me lo prohibían me lo llevaba para allá para la
        cuadra y allá las ponía bajitica.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 178
        Palacio de Miraflores, 18 de enero de 2004
      </p>
      <p class="cita1">
        “Bastante daño le ha hecho a Venezuela la división del pueblo, muchas veces por falta de madurez de los líderes,
        ya lo decía Alí Primera en unas canciones, aquello de dispersos: Dispersos, dispersos, dispersa las razones.”
      </p>
      <p class="piecita1">
        Aló presidente Programa Nro. 181 Desde la Universidad Bolivariana del Estado Zulia. Domingo, 8 de febrero de
        2004
      </p>
      <p class="cita1"> “Volemos como las águilas y evitemos la altura de las moscas, vamos, salgamos de todo esto y
        avancemos hacia la Venezuela bonita de la que hablaba Alí Primera, el cantor del pueblo venezolano.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 26
        Sede de la Radio Nacional de Venezuela
        16 enero de 2000
      </p>

    </ion-card-content>
  </ion-card>
</ion-content>
