<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/directo.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1"> “En Washington hay un loco, hay un genocida, hay una persona que no tiene respeto por los más
        mínimos valores del ser humano.”
      </p>
      <p class="piecita1">Acto con motivo del III Aniversario de la Misión Barrio Adentro. Teatro Municipal, Caracas; 21
        de abril de 2006
      </p>
      <p class="cita1"> “Algunos dicen que yo estoy acabando con la descentralización, vaya qué cosa tan contraria a lo
        que realmente está ocurriendo.”
      </p>
      <p class="piecita1">Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar Palacio de Miraflores
        1° de febrero de 2007
      </p>
      <p class="cita1"> “No podemos dejarnos llevar por el populismo, y ha sido una de las desgracias de las tantas que
        le cayó a Venezuela: el populismo. Esto no es populismo, es responsabilidad, seriedad para asumir la función
        asignada por el Soberano.”
      </p>
      <p class="piecita1">Discurso ante la Asamblea Nacional. Memoria y Cuenta año2000 Palacio Federal Legislativo, 15
        de enero de 2001
      </p>
      <p class="cita1"> “Oigan! ¿Hay algún problema que no haya maíz para hacer la harina?. ¡Mentira!.”
      </p>
      <p class="piecita1">Aló Presidente, N° 132 desde la planta de distribución de PDVSA Carenero, Edo Miranda. 22 de
        diciembre de 2002
      </p>
      <p class="cita1"> “Nosotros somos rebeldes, seguimos siendo rebeldes y seguiremos siendo rebeldes para siempre”.
      </p>
      <p class="piecita1">Discurso en el campo de rugby, Universidad de Córdoba, Argentina. 21 de julio de 2006
      </p>
      <p class="cita1"> “Los que quieran ganar veinte millones de bolívares que se vayan para otro lado. Esta es una
        empresa del estado. Esa no es una empresa privada. El que quiera ganar buenos dólares, váyase para otro lado.”
      </p>
      <p class="piecita1">Aló Presidente, N° 100. Parque Nacional El Ávila 17 de marzo de 2002
      </p>
      <p class="cita1"> “Que quede claro: si Venezuela es respetada, pues podremos hacer primores. Si Venezuela siguiera
        siendo irrespetada pues nada nuevo y bueno sería posible.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: La Arquitectónica Suramericana 08 Agosto 2010
      </p>
      <p class="cita1"> “Aquí lo que destrozaron a los productores, quienes destrozaron a la clase media venezolana fue
        precisamente, a la clase media tanto rural como urbana, fue precisamente el Pacto de Punto Fijo.”
      </p>
      <p class="piecita1">Aló Presidente Nro. 172. Hacienda de maíz “El Chivo”, Edo. Bolívar. 16 de noviembre de 2003
      </p>
      <p class="cita1"> “Creo que estás equivocado, te tienen engañado, manipulado; o eres un mentiroso, o es que eres
        víctima de la mentira. Hay dos posibilidades: por ignorancia —y sobre la ignorancia la manipulación— o por la
        maldad, pues, sabiendo que es mentira, a lo mejor que... no, quiero convencerlos a ustedes de que esto que está
        aquí es... qué sé yo, jugo de lechosa y es agua, pero es por maldad, o puede ser por ignorancia también.”
        (Hablando con unos diputados del Perú que le gritaban dictador.)
      </p>
      <p class="piecita1">Rueda de Prensa Presidente de la República Bolivariana de Venezuela, Hugo Chávez Frías, con
        corresponsales extranjeros Sala de Prensa Simón Bolívar. Palacio de Miraflores. 6 de junio de 2007
      </p>
      <p class="cita1"> “¿Cuál es la de ellos? Digan: capitalismo, dictadura.”
      </p>
      <p class="piecita1">Juramentación de Ministros de Cultura, Juventud y del Comandante de la Guardia de Honor
        Presidencial
        Palacio de Miraflores, 1 de agosto de 2011
      </p>
      <p class="cita1"> “Que se vayan largo al carajo, los representantes de la burguesía internacional.”
      </p>
      <p class="piecita1">Discurso del presidente Hugo Chávez, con motivo de la concentración “Ahora la libertad de
        expresión es de todos” Av. Bolívar – Caracas. 2 de junio de 2007
      </p>
      <p class="cita1"> “La élite internacional está preocupada y por eso atacan con tanta saña, porque ellos temen que
        el ejemplo de Venezuela se extienda a otros países donde ellos se creen dueños.”
      </p>
      <p class="piecita1">Discurso del presidente Hugo Chávez, con motivo de la concentración “Ahora la libertad de
        expresión es de todos” Av. Bolívar – Caracas. 2 de junio de 2007
      </p>
      <p class="cita1"> “Dice el subsecretario de Estado de los yanquis, ahora dicen que yo y que me estoy metiendo en
        Colombia en las elecciones y entonces los yanquis dicen que yo no debería, ellos que han dado golpes de Estado,
        ellos que están metidos hasta los tuétanos en muchos países de América Latina, que ponen gobiernos, que quitan
        gobiernos, amenazan, chantajean, intervienen, invaden, matan presidentes, dan golpes de Estado como el que le
        dieron a Zelaya, etc., ellos nos van a decir a nosotros, vayan a lavarse ese paltó caballeros.”
      </p>
      <p class="piecita1">Celebración del Día Internacional del Trabajador Teatro Teresa Carreño, 30 de abril de 2010
      </p>
      <p class="cita1"> “Esta burguesía, sin vergüenza y sin Patria, debe sentir, debe saber que no es gratuito ni debe
        quedar impune el grosero espectáculo que uno de sus más connotados representantes montó en el aquelarre
        celebrado en el Congreso del imperio, arremetiendo contra Venezuela al tiempo que por un canal de televisión de
        su propiedad pretende ofender a nuestro pueblo desconociendo nuestras leyes y nuestra Soberanía.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡27 de Noviembre! 28 Noviembre 2010
      </p>
      <p class="cita1"> “Lo digo sin que me salga ni que me quede ni un pizca de ironía, porque no me cabe la ironía en
        el alma, de todos modos, hermanos, si viésemos algunos compatriotas incapaces de volar, sigamos el consejo de
        Jesús, el flaco, el del burro de Nazaret: “Dejad que los muertos entierren a sus muertos”, y vamos todos a la
        vida, a la construcción de un pueblo, a la vida con el pueblo.”
      </p>
      <p class="piecita1">Palacio Federal Legislativo, 5 de agosto de 1999
      </p>
      <p class="cita1"> “Pero es que ustedes, o parecen o son ignorantes, o son perversos, o son unos pervertidos pues.
        Mentirosos, engañadores. Me refiero a los que dan la cara, porque hay otros que están es en silencio, pero como
        dicen: “El que calla otorga”.” (En relación a los comentarios de la iglesia venezolana sobre la enmienda
        constitucional)
      </p>
      <p class="piecita1">Alocución del presidente de la República Bolivariana de Venezuela, Resultados de la gira por
        Euroasia. Palacio de Miraflores-Salón Ayacucho. Martes, 03 de julio de 2007
      </p>
      <p class="cita1"> “Debido a que nosotros hemos privilegiado y somos amigos de gobiernos enemigos de los Estados
        Unidos, ahora sí es verdad, pues, que Chávez o corre o se encarama. Yo ni voy a correr ni me voy a encaramar,
        porque nosotros sabemos dónde estamos parados.”
      </p>
      <p class="piecita1">Discurso en la presentación del Plan de Desarrollo Económico y Social de la Nación, 2001-2007.
        Palacio Federal Legislativo, 28 de septiembre de 2001
      </p>
      <p class="cita1"> “¡Ustedes que venden artículos de primera necesidad! Yo les voy a quebrar el espinazo a los
        especuladores.”
      </p>
      <p class="piecita1">Aló Presidente N° 2. Sede de Radio Nacional de Venezuela. 6 de junio de 1999
      </p>
      <p class="cita1"> “Cada quien ubíquese, estamos en un punto crucial: o se salva esta humanidad o se acaba.”
      </p>
      <p class="piecita1">Rueda de Prensa con Medios Internacionales
        Palacio de Miraflores, 30 de agosto de 2009

      </p>
      <p class="cita1"> “¿Cuál es ese tirano que a pesar de que la diferencia es mínima, minúscula, que hay que verla
        con un microscopio? ¿Y cuál es ese tirano que dominando todos los poderes y dominando a los militares, etcétera,
        y que tiene coartada la libertad de expresión? Todo ese cuento. ¿Cuál es ese tirano que sale a una media noche
        con una diferencia que había que verla con microscopio a decir: Está bien, ustedes ganaron, y llamando a la paz
        y a la calma? No hay tirano en la historia que haga eso.”
      </p>
      <p class="piecita1">Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de 2008
      </p>
      <p class="cita1"> “Esas tesis elitescas de que los pobres son pobres por flojos, por irresponsables, porque
        quieren ser pobres, es mentira.”
      </p>
      <p class="piecita1">Aló Presidente Nro. 016. Radio Nacional de Venezuela. 26 de Septiembre de 1999
      </p>
      <p class="cita1"> “Es totalmente falso que nosotros apoyemos guerrilla, narcotráfico, lavado de dinero,
        movimientos desestabilizadores como nos acusan desde allá desde el Norte hasta el Sur, los grandes medios de
        comunicación social, distintos grupos conformados de la llamada sociedad civil, partidos políticos, hasta
        gobiernos nos acusan pues.”
      </p>
      <p class="piecita1">Cumbre de Unidad, Cancún, México, 22 de febrero de 2010 </p>






      <p class="cita1"> “Me obliga a salir a poner las cosas en su lugar. O luego dijo que el concepto de defensa de la
        Nación nosotros lo hemos tomado del modelo de los Estados Unidos, algo así dijo, eso lo leí yo por allá y lo leo
        con dolor, no sé si fue un momento de confusión, no sé. Y entonces dice algo más grave, que hemos tomado ese
        modelo quizás porque el Alto Mando me ha presionado. No.” (En relación a declaraciones del general Müller)
      </p>
      <p class="piecita1">Alocución del presidente de la República Bolivariana de Venezuela, Resultados de la gira por
        Euroasia. Palacio de Miraflores-Salón Ayacucho Martes, 03 de julio de 2007
      </p>
      <p class="cita1"> “Aquí llegó la hora del fin de los privilegios, del fin de las desigualdades.”
      </p>
      <p class="piecita1">Juramentación del Presidente de la República Bolivariana de Venezuela, Hugo Chávez Frías
        (período 2007-2013) Palacio Federal Legislativo. 10 de enero de 2007
      </p>
      <p class="cita1"> “Acabemos el capitalismo y entonces se salvará la especie humana.”
      </p>
      <p class="piecita1">Mensaje Anual ante la Asamblea Nacional Palacio Federal Legislativo 15 de enero de 2010
      </p>
      <p class="cita1"> “Cuando ellos vieron que Chávez salió a reconocer la derrota, lo cual no está en sus códigos,
        porque “yo soy un tirano, un tirano”. ¿Qué tirano reconoce una derrota? No, un tirano es un tirano, un tirano
        mata, persigue, impone, etc. Un dictador.” (Refiriéndose a la Constituyente)
      </p>
      <p class="piecita1">Aló Presidente Nº 299 Escuela de Formación Socialista Ezequiel Zamora. 6 de enero de 2008
      </p>
      <p class="cita1"> “Una de las argucias de nuestros adversarios, los capitalistas, imperialistas, cuando nos atacan
        y a mí en lo personal, es que yo estoy aquí acabando con la democracia, que estamos desmontando las
        instituciones, que Chávez tiene un proyecto personalista, caudillista y tiránico, que estamos montando una
        dictadura en Venezuela. Es al revés, ellos tenían una dictadura, ellos tienen una dictadura mundial contra la
        democracia.”
      </p>
      <p class="piecita1">Asamblea del Batallón Nº 6 de la Circunscripción Nº 1 de aspirantes a militantes del Partido
        Socialista Unido de
        Venezuela (PSUV) Museo Histórico Militar Parroquia 23 Enero-Caracas.28 de julio de 2007
      </p>
      <p class="cita1"> “La Milicia Campesina, así como la Milicia Bolivariana como totalidad, no son fuerzas
        paramilitares, como los sesudos analistas de siempre quieren hacer ver, menos aún si concebimos semejante
        palabra dentro de la semántica reaccionaria colombiana.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡Rumbo al Estado Comunal! 21 Febrero 2010
      </p>
      <p class="cita1"> “Por qué los Capriles, los dueños de este periódico (Ultimas Noticias) que tienen tanto dinero,
        por ejemplo, ¿por qué no ofrecen?, ¿por qué no habrán ofrecido espacios privados? Para, que se ubiquen con
        ¡dignidad!, familias refugiadas.”
      </p>
      <p class="piecita1"> “Aló, Presidente” Nº 369 Escuela Básica Nacional “Flores de Catia”.
        Parroquia 23 de Enero. 9 de enero de 2011
      </p>
      <p class="cita1"> “Yo soy así, yo hablo como hablo. No ando buscando palabras rebuscadas.”
      </p>
      <p class="piecita1">Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar Palacio de Miraflores
        1° de febrero de 2007
      </p>
      <p class="cita1"> “Como hay algunos que no quieren entender; entonces uno tiene que dedicarse a explicar palabra
        por palabra el contenido, el sentido y el contexto de lo que se está diciendo. Especialmente cuando uno habla
        sin una guía escrita.”
      </p>
      <p class="piecita1">Discurso con motivo de su toma de posesión como Presidente de la República Bolivariana de
        Venezuela para el
        periodo 2000-2006 ante la Asamblea Nacional
      </p>
      <p class="cita1"> “Ayer leía en algún medio internacional la noticia de que yo estaba por Barinas con mi familia,
        con mi viejo, por allá esperando la llegada de nuestros hermanos Clara, Consuelo y Enmanuel. Pues no, en verdad
        no fue así, no salimos de Caracas y no dejamos de trabajar todas estas horas y minutos en distintos temas.”
      </p>
      <p class="piecita1">Conferencia de Prensa Ofrecida por el Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez, a medios internacionales Salón Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>
      <p class="cita1"> “De nuevo aquí empezaría compadre la cacería de bruja” (refiriéndose a un supuesto triunfo de la
        oposición)
      </p>
      <p class="piecita1">Entrevista al Comandante Hugo Chávez realizada en Televisora de Oriente (TVO), estado
        Anzoátegui,
        13 de Julio de 2012
      </p>
      <p class="cita1"> “Venezuela se siente parte de estos países andinos, ¿cómo no?, si estamos ahí; la geografía es
        mandataria en eso, manda, determina. Lo que disparó —Presidente, tú lo sabes— nuestro retiro de la CAN fue la
        firma de unos Tratados de Libre Comercio, de dos países de la CAN con los Estados Unidos; eso prácticamente
        desbarató la Comunidad Andina.”
      </p>
      <p class="piecita1">Suscripción de acuerdos y rueda de prensa entre Ecuador y Venezuela,
        Salón Amarillo del Palacio de Carondelet. Quito, Ecuador. 9 agosto de 2007
      </p>
      <p class="cita1"> “En Venezuela se ha cumplido cabalmente la teoría de las catástrofes.”
      </p>
      <p class="piecita1">Discurso de toma de posesión. Palacio Federal Legislativo. 2 de febrero de 1999
      </p>
      <p class="cita1"> “Nosotros nos oponemos a esa pretensión de seccionar un país, de dividir un país por decisión
        externa, por tensiones inyectadas desde fuera. A nosotros nos ha tocado enfrentar también la pretensión de
        quitarle a Venezuela la parte occidental: hay un viejo proyecto, que nació en Estados Unidos, de una república
        en el Zulia, uno de los estados más ricos en petróleo, al occidente.”
      </p>
      <p class="piecita1">Intervención del presidente de la República Bolivariana de Venezuela, Hugo Chávez, en la Duma
        Estatal de la
        Federación Rusa Salón de los Escudos de la Duma, Moscú, Rusia. Viernes, 29 de junio de 2007
      </p>
      <p class="cita1"> “La burguesía, era la que mandaba de ¡verdaad!, ¡era la que mandaba!, ahí no mandaban los
        presidentes, ¡eran unos peleles!, ¡eran unos peleles! Ellos eran fichas, ¿no?, de la burguesía.
      </p>
      <p class="piecita1"> “Aló, Presidente” Nº 369 Escuela Básica Nacional “Flores de Catia”.
        Parroquia 23 de Enero. 9 de enero de 2011

      </p>
      <p class="cita1"> “Hay otros que chillan pero no cumplen con su obligación, porque les hiede el barrio. Ir a un
        barrio. No que es eso. Ahí andan los adecos que tienen unos Colegios Médicos y van a la prensa y a la televisión
        y eso es lo que ellos hacen, agarrar pantalla, porque como son de pantalleros.”
      </p>
      <p class="piecita1">Aló Presidente Nro.155 Capilla de la Alcaldía del Mun. Libertador 6 de julio de 2003
      </p>
      <p class="cita1"> “El New York Times sacó por ahí un editorial alertando; el propio Fondo Monetario Internacional,
        vi por ahí, leí la opinión de alguien de que se están elevando los precios de los alimentos en algunas partes
        ya.” (En referencia a la utilización del biocombustibles)
      </p>
      <p class="piecita1">Instalación de la I Cumbre Energética Suramericana Gran Salón Hotel Hilton Margarita,
        Porlamar, estado Nueva Esparta 17 de abril de 2007
      </p>
      <p class="cita1"> “Se ha desatado una campaña contra el Gobierno que me digno en presidir, y contra el país, y ha
        hecho algún daño ya, al menos pusieron a dudar a algunos buenos amigos del Continente, pero yo espero que el
        tiempo aclare las verdades y que todo se restituya a su sitio.”
      </p>
      <p class="piecita1">Discurso ante la Asamblea Nacional. Memoria y Cuenta año2000 Palacio Federal Legislativo, 15
        de enero de 2001
      </p>
      <p class="cita1"> “Es a esto a lo que le tienen miedo en el Norte, lo que aterra a los capitalistas: el hecho
        innegable de que nos estamos convirtiendo en un paradigma que bien puede extenderse a los mismísimos Estados
        Unidos.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: El Satélite, la Soya y Nuestra Independencia. 01 Noviembre 2009
      </p>
      <p class="cita1"> “Estados Unidos de Norteamérica es como una serpiente que envenena al mundo de odio, guerra,
        tragedia, desolación y muerte.”
      </p>
      <p class="piecita1">Inauguración de la Unidad Materno Infantil “Dr. Oswaldo Ismael Brito”.
        Tucupita, estado Delta Amacuro; 20 de mayo de 2006 </p>







      <p class="cita1"> “Nosotros: socialismo. Ellos: capitalismo”
      </p>
      <p class="piecita1">Juramentación de Ministros de Cultura, Juventud y del Comandante de la Guardia de Honor
        Presidencial
        Palacio de Miraflores, 1 de agosto de 2011
      </p>
      <p class="cita1"> “La hipocresía de la derecha, la hipocresía burguesa y de su candidatura enmascarada.”
      </p>
      <p class="piecita1">Entrevista al Comandante Hugo Chávez realizada en Televisora de Oriente (TVO), estado
        Anzoátegui,
        13 de Julio de 2012
      </p>
      <p class="cita1"> “Si algo se requiere en el mundo de hoy es justicia y que impere la verdad, sea cual fuere.”
      </p>
      <p class="piecita1">Discurso tras ser ratificado en el cargo como Presidente de la Republica por la
        Asamblea Nacional Constituyente Palacio Federal Legislativo, 11 de agosto de 1999
      </p>
      <p class="cita1"> “Tengo la espada en la mano derecha y envainada, no caigo en provocaciones.”
      </p>
      <p class="piecita1">Aló Presidente, N° 100. Parque Nacional El Ávila. 17 de marzo de 2002
      </p>
      <p class="cita1"> “Esta revolución no la estamos importando de ninguna parte; aunque todavía algunos insisten y a
        lo mejor seguirán insistiendo en que Fidel Castro es el que guía esta revolución.”
      </p>
      <p class="piecita1">Discurso con motivo de su toma de posesión como Presidente de la República Bolivariana de
        Venezuela para el
        periodo 2000-2006 ante la Asamblea Nacional
      </p>
      <p class="cita1"> “Si no echamos abajo la hegemonía imperial, el mundo irá hacia la barbarie.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: El mundo multinuclear: El nuevo mundo 14 Septiembre 2009
      </p>
      <p class="cita1"> “Y han dicho hace poco que más de la mitad de los Centros Diagnósticos Integrales y de los
        Consultorios de Barrio Adentro están abandonados lo cual es absolutamente falso, absolutamente falso, falso de
        toda falsedad.”
      </p>
      <p class="piecita1">Lanzamiento de la Misión «Hijos de Venezuela» 12 de diciembre de 2011
      </p>
      <p class="cita1"> “En el mismísimo Capitolio federal, creo que lo llaman, en la mismísima Washington, se reunió,
        se instaló una cumbre de terroristas, una patota dirían los argentinos y también los venezolanos hablamos de
        patota, una verdadera patota de delincuentes, estafadores, terroristas, ladrones.”
      </p>
      <p class="piecita1">Sesión con motivo del acto de Estado en defensa de la patria, su soberanía y contra el
        imperialismo. Salón Elíptico del Palacio Legislativo 23 de noviembre de 2010
      </p>
      <p class="cita1"> “Yo recuerdo cuánto criticaron a Obama por el canal este Fox New sólo porque salió la foto
        aquella dándonos la mano, le cayeron encima, y que si es socialista, que si es comunista, que si es... bueno,
        negro, lo es, afrodescendiente; que si no nació en... Empezó la guerra personal contra Obama, e incluso buscando
        la forma de sacarlo de la Presidencia por alguna vía.”
      </p>
      <p class="piecita1">Entrevista al Comandante Hugo Chávez realizada en Televisora de Oriente (TVO), estado
        Anzoátegui,
        13 de Julio de 2012
      </p>
      <p class="cita1"> “Fueron 50 años del modelo adeco: la irresponsabilidad, la chabacanería, la banalidad, la
        corrupción.”
      </p>
      <p class="piecita1">Radio Nacional de Venezuela. 26 de Septiembre de 1999
      </p>
      <p class="cita1"> “Señores gringos, yanquis. Ahora en cuanto al hecho en verdad yo no tengo nada que ver con las
        elecciones de Colombia, sólo he dicho respondiendo a lo que allá dicen, yo tengo derecho a responder, ¿voy a
        permitir que digan allá unos candidatos y la otra y el otro de Venezuela y de Chávez lo que ellos quieran?”
      </p>
      <p class="piecita1">Celebración del Día Internacional del Trabajador Teatro Teresa Carreño, 30 de abril de 2010
      </p>
      <p class="cita1"> “Ellos son tan egoístas que se niegan a reconocer los avances de la Revolución.”
      </p>
      <p class="piecita1">X Aniversario del Banco del Pueblo Teatro Teresa Carreño. 26 de octubre de 2009
      </p>
      <p class="cita1"> “¡Traidores es lo que son! ¡Defensores del imperialismo y de la burguesía! Sólo que todavía les
        queda como una careta que no se quieren quitar. Pero ustedes van a ver cómo se la van a quitar o se les va a
        caer completa.” (Refiriéndose a la oposición por las elecciones parlamentarias o de la Asamblea)
      </p>
      <p class="piecita1">Concentración del Partido Socialista Unido de Venezuela La Carucieña de Barquisimeto. Edo Lara
        4 de septiembre de 2010
      </p>
      <p class="cita1"> “Aquí es imposible que ocurra una explosión social para sacar a este Gobierno, aquí es
        imposible. Pudieran ocurrir perturbaciones, pequeñas explosiones, ellos andan buscándolas, y se irían apagando;
        claro, esas pequeñas explosiones pueden dejar mucho daño a la sociedad, más odio, pudieran dejar —ojalá que no—
        sangre, pudieran causar algunos muertos, heridos.”
      </p>
      <p class="piecita1">Rueda de Prensa Presidente de la República Bolivariana de Venezuela, Hugo Chávez Frías, con
        corresponsales extranjeros Sala de Prensa Simón Bolívar. Palacio de Miraflores. 6 de junio de 2007
      </p>
      <p class="cita1"> “Ya no me preocupo por lo que el mundo diga. Me preocupé, pero no voy a seguir perdiendo el
        tiempo para que el mundo vea la verdad, ¡allá el mundo! allá el mundo.”
      </p>
      <p class="piecita1">Apoyo a la Inventiva Tecnológica Nacional Torre Ministerial, Caracas. 19 de junio de 2007
      </p>
      <p class="cita1"> “Hoy –señores– unirnos a los que quieren conservar esto tal cual esta, buscar consenso con los
        que se oponen a los cambios necesarios, yo digo hoy, como Bolívar: ¡es una traición!”
      </p>
      <p class="piecita1">Discurso de toma de posesión Palacio Federal Legislativo. 2 de febrero de 1999
      </p>
      <p class="cita1"> “No le busquemos cinco patas al gato, compadre. ¿Tú quieres ir a la operación? Te invito a que
        te montes en un helicóptero. ¿Pero qué duda puede haber porque haya cuatro opciones de salida y llegada?” (En
        relación a la ayuda humanitaria para el rescate de Clara, Consuelo y Enmanuel.)
      </p>
      <p class="piecita1">Conferencia de Prensa Ofrecida por el Presidente de la República Bolivariana de Venezuela,
        Hugo Chávez, a medios internacionales Salón Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>
      <p class="cita1"> “Yo quiero hablar con ellos, para que me expliquen cómo es que ellos se atrevieron a tomar una
        decisión de ese tipo, cuando hubo un acto aquí público donde el Jefe del Estado vino a entregar esos títulos.”
        (Sobre junta liquidadora del Instituto Agrario Nacional)
      </p>
      <p class="piecita1">Aló Presidente, Nº 107 Desde el Chivo, sur del Lago de Maracaibo 09 de junio de 2002
      </p>
      <p class="cita1"> “A la contrarrevolución le hablo; incluso, si me lo permiten, les aconsejo: no se vayan a
        equivocar de nuevo, sobrestimando sus fuerzas y subestimando las nuestras. Les pudiera salir muchísimo más caro.
        Mejor aprendan a bailar joropo, al compás del arpa bolivariana.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡Salve, oh Patria, mil veces! ¡Oh Patria! 03 Octubre 2010
      </p>
      <p class="cita1"> “No volverá, olvídense los que suenan con el retoñar de la IV República; lo podrido no retoña, y
        eso está enterrado.”
      </p>
      <p class="piecita1">Discurso con motivo del segundo aniversario del referendo que convoco a la Asamblea Nacional
        Constituyente de 1999. Palacio Federal Legislativo, 25 de abril de 2001
      </p>
      <p class="cita1"> “Para que no haya ningún gobernador; no puede haberlo, ningún alcalde; no puede haberlo, que
        piense o llegue a pensar alguna otra vez en esta tierra que él es un “cacique” o un presidente de una
        republiquita que se llama un municipio o que se llama un estado; no.”
      </p>
      <p class="piecita1">Palacio Federal Legislativo, 5 de agosto de 1999
      </p>
      <p class="cita1"> “Decir que copiamos modelos foráneos y nos guían ideologías extrañas que chocan con la legalidad
        que nuestro Pueblo se ha dado, no deja de ser un crimen en quienes, creyéndose dueños de la fe de los
        venezolanos y venezolanas, pretenden manipularla.” (En reacción a las declaraciones del Cardenal Urosa Savino)
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡¡Ay, Cardenal…!! 11 Julio 2010
      </p>
      <p class="cita1"> “El país reclama seriedad, ya basta de tanta mentira. Ya basta de tanto engaño y de tanta
        inmoralidad y, sinceramente, utilizar un medio de comunicación para tratar de desinformar a la gente o de dañar
        a la gente o de mentir pues, es, sencillamente, inmoral, es una absoluta inmoralidad.”
      </p>
      <p class="piecita1">Discurso ante la Asamblea Nacional. Memoria y Cuenta año2000. Palacio Federal Legislativo, 15
        de enero de 2001
      </p>
      <p class="cita1"> “La energía de los biocombustibles... quiero aclarar que nosotros no estamos contra los
        biocombustibles, porque se ha estado manejando en la prensa internacional incluso que aquí veníamos a chocar y
        no: que una “guerra del etanol”, ¡para nada!”
      </p>
      <p class="piecita1">Instalación de la I Cumbre Energética Suramericana Gran Salón Hotel Hilton Margarita,
        Porlamar, estado Nueva Esparta 17 de abril de 2007
      </p>
      <p class="cita1"> “Desde el año pasado vienen montados en ese plan, pero ya transcurrida más de la mitad del mes
        de agosto, sus pretensiones están más que lejanas: la férrea voluntad de un gobierno y un pueblo, como un solo
        hombre y una sola mujer, han hecho trizas todos los planes que, siguiendo los dictados del imperio, la quinta
        columna venezolana ha pretendido ejecutar.”
      </p>
      <p class="piecita1">Las líneas de Chávez: ¡¡No pasarán!! 22 Agosto 2010 </p>





      <p class="cita1"> “Hace poco me trajeron la información de alguien que dijo en una reunión en Centroamérica: “A
        Chávez, a ése hay que volarlo...”. Y alguien preguntaba: ¿Cómo volarlo? “Volarlo, como volamos el avión
        cubano...”, dijo otro por allá. Volarán ellos primero mil veces, aquí nosotros volaremos, pero volaremos es así,
        con mucha rapidez, haciendo estos convenios, estos acuerdos.”
      </p>
      <p class="piecita1">Firma de instrumentos entre la República Bolivariana de Venezuela y la República Argentina
        Pozo Ayacucho 6 - Faja Petrolífera del Orinoco, estado Anzoátegui 21 de febrero de 2007
      </p>
      <p class="cita1"> “Hoy sacó Ultimas Noticias una foto —y es bueno que la saquen, ese periodismo crítico es bueno,
        yo lo aplaudo—, un indigente en el Centro Simón Bolívar, de Caracas, lavando ropa ahí, tenía un ropero guindado
        y todo el mundo le pasa por un lado.”
      </p>
      <p class="piecita1">Apoyo a la Inventiva Tecnológica Nacional Torre Ministerial, Caracas. 19 de junio de 2007
      </p>
      <p class="cita1"> “Hoy he jurado de nuevo, ya no sé lo que dije, pero jure. Jure delante de Dios, delante del
        pueblo por supuesto que si se lo que dije, ustedes me entienden, de todos modos aclaro esto porque uno siempre
        anda a la defensiva, ¿saben por qué? Porque es capaz de que mañana en algún titular de algún diario salga:
        “Chávez juro y no sabe lo que juro”.”
      </p>
      <p class="piecita1">Discurso con motivo de su toma de posesión como Presidente de la República Bolivariana de
        Venezuela para el
        periodo 2000-2006 ante la Asamblea Nacional
      </p>
      <p class="cita1"> “Ojo, oído que nadie se deje llevar por cantos de ballena, como dice el filósofo del Zulia, no
        vaya a ser que alguien entre nuestras filas cometa el error que ya se cometió en otras épocas.”
      </p>
      <p class="piecita1">Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de 2008
      </p>
      <p class="cita1"> “Por primera vez asistimos a un merecimiento sin que el postulado haya hecho nada por merecerlo:
        premiar a alguien por un anhelo que está muy lejos de hacerse una realidad.” (Refiriéndose al Premio Nobel de la
        Paz de Barak Obama)
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡¡Viva El Che!! 11 Octubre 2009
      </p>
      <p class="cita1"> “Patria, Patria, qué grande le quedó en la boca a aquellos que terminaron por entregar nuestra
        soberanía al mejor postor.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡Contraataque Bolivariano! 24 Enero 2010
      </p>
      <p class="cita1"> “Quieren criticar, quieren buscar algo, es decir, quieren decir algo y hay que dejarlos que
        digan algo, por supuesto. Que se diviertan.”
      </p>
      <p class="piecita1">Discurso al cumplirse el primer año de Gobierno Palacio Federal Legislativo, 2 de febrero de
        2000
      </p>
      <p class="cita1"> “Pero son tan irresponsables que inventan cualquier cantidad de cosas inventan no tienen moral
        no tienen ningún código ético, son los reyes de la mentira y pretenden gobernar al país.” (Refiriéndose a la
        oposición)
      </p>
      <p class="piecita1">Lanzamiento de la Misión «Hijos de Venezuela»
        12 de diciembre de 2011
      </p>
      <p class="cita1"> “Abogo por la verdad y defiendo a mi pueblo, que se transmita al mundo la verdad de lo que aquí
        está ocurriendo.”
      </p>
      <p class="piecita1">Discurso tras ser ratificado en el cargo como Presidente de la Republica por la
        Asamblea Nacional Constituyente Palacio Federal Legislativo, 11 de agosto de 1999
      </p>
      <p class="cita1"> “El día que a mí me toque dejar la camiseta de líder la dejo, pero todo tiene su momento, nadie
        se desespere. No vaya a ser que alguien piense, Chávez se acabó ahora voy yo, y se vaya a estrellar.”
      </p>
      <p class="piecita1">Presentación del mensaje anual ante la Asamblea Nacional 11 de enero de 2008
      </p>
      <p class="cita1"> “¿Por qué le temen tanto los civilizados a un proyecto que aspira la construcción de la
        felicidad compartida? Le temen, hablemos claro, porque la felicidad compartida no genera ganancia.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: La Batalla de Copenhague
        20 Diciembre 2009
      </p>
      <p class="cita1"> “Quiero decirles a todos aquellos que siguen jugando al golpe de Estado, obedeciendo los
        mandatos del imperio; a quienes siguen jugando a colmar la paciencia de un pueblo noble pero que también es un
        pueblo bravo, que nunca habrán de faltar febreros y abriles si se atreven: el nuestro es un pueblo heroico”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡Independencia!
        04 Abril 2010
      </p>
      <p class="cita1"> “Esto, hay que decirlo, les va a costar caro. Sólo que se darán cuenta una vez les pase la
        borrachera por su «triunfo», muy parecida por cierto al aquelarre que montaron en el salón «Ayacucho» de
        Miraflores, aquel tristemente célebre 12 de abril de 2002.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡Salve, oh Patria, mil veces! ¡Oh Patria!
        03 Octubre 2010 </p>






    </ion-card-content>
  </ion-card>
</ion-content>
