<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/guyana.jpg"></ion-img>
    <ion-card-content>

      <p class="cita1"> “Ahora empezamos a enviarle petróleo a Guyana, Petrocaribe, los hermanos de Guyana. En una
        ocasión nos querían poner a pelear con Guyana, ¿quiénes?, los gringos.”
      </p>
      <p class="piecita1">Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar Palacio de Miraflores
        1° de febrero de 2007
      </p>
      <p class="cita1"> “Guyana se está integrando con nosotros al continente suramericano, y no solo ya a la fa¬chada
        caribeña.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡GRANDE BOLÍVAR!
        25 Julio 2010
      </p>
      <p class="cita1"> “Algunos intelectuales venezolanos empezaron a escribir por la prensa, y empezaron las
        televisoras venezolanas a hablar de Guyana y de que Venezuela tenía que recuperar Guyana. Estaban preparando una
        agresión de Venezuela a Guyana, instigada desde Estados Unidos. ¿Por qué? Porque gobernaba la izquierda en
        Guyana, era Forbes Burhan el presidente de Gu¬yana. Era Raúl Leoni presidente aquí.”
      </p>
      <p class="piecita1">Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar Palacio de Miraflores
        1° de febrero de 2007
      </p>
      <p class="cita1"> “Lejos debe quedar aquella visión que le tenía asignada a Guyana un rol extracontinental, extra
        suramericano, como si nunca hubiese estado enclavada en la espesura norte de nuestra Amazonía. “
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡GRANDE BOLÍVAR!
        25 Julio 2010
      </p>
      <p class="cita1"> “A los militares venezolanos, yo lo recuerdo pero ya la década de los 70, siendo nosotros
        cadetes, nos metían en la mente que Guyana era un país enemigo y que era una amenaza. Y que algún día tendríamos
        que ir a la guerra con Guyana para recuperar el territorio, cierta¬mente, nosotros seguimos reivindicando
        nuestro territorio Esequibo, pero jamás iremos a una guerra con Guyana.”
      </p>
      <p class="piecita1">Aló Presidente N° 215
        Desde Salón Ayacucho. Palacio de Miraflores Domingo 13 de Marzo de 2005 </p>


    </ion-card-content>
  </ion-card>
</ion-content>
