<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/burocracia.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Tampoco vamos a ampliar mucho la burocracia, más bien estamos
        reduciéndola a su mínima expresión.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 17 Desde la Sede de Radio Nacional de Venezuela 03 de
        Octubre de 1999
      </p>
      <p class="cita1">
        “Ya de burocracia estamos más que suficiente, estamos más que repletos.
        Trabajo productivo que requiere primero organización y capacitación, por
        eso insistimos, Saber y Trabajo.”
      </p>
      <p class="piecita1">
        Aló, Presidente, Programa Nº 376 Faja Petrolífera del Orinoco,
        Petromonagas, estado Anzoátegui. 8 de enero de 2012
      </p>
      <p class="cita1">
        “El enemigo está dentro: la burocracia heredada que muchas veces actúa
        como un cáncer, como un nudo de mil puntas que ahoga y miren cuántos
        dolores pasa uno.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 204. Desde Unidad Educativa Nacional Claudio Feliciano
        Las Adjuntas. Parroquia Macarao. Municipio Libertador Domingo, 19 de
        septiembre de 2004
      </p>
      <p class="cita1">
        “Métanle el ojo a los burócratas, a esos burócratas atornillados en un
        sillón, que no se quieren mover para nada (…) esos burócratas hay que
        pasarles por encima, cuidado con la burocracia, la burocracia inservible
        hay una burocracia necesaria, hay que crear una nueva burocracia
        revolucionaria, revolucionaria.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 205 Desde Parque Sur. Estado Zulia Domingo, 26 de
        septiembre de 2004
      </p>
      <p class="cita1">
        “Un Estado y un gobierno cada día más eficiente, en guerra contra el
        burocratismo inútil, la burocracia revolucionaria es la que necesitamos,
        la burocracia inútil, abajo.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 206. Desde la Cooperativa Central Cafetalero Bramón
        Municipio Junín, Rubio. Estado Táchira Domingo, 03 de octubre de 2004
      </p>
      <p class="cita1">
        “La burocracia contrarrevolucionaria hay que limpiarla.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 206. Desde la Cooperativa Central Cafetalero Bramón
        Municipio Junín, Rubio. Estado Táchira Domingo, 03 de octubre de 2004
      </p>
      <p class="cita1">
        “Insisto en la guerra contra el burocratismo, a veces el burocratismo es
        terrible.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 207 Desde la Refinería de Puerto La Cruz. Estado
        Anzoátegui Domingo, 10 de octubre de 2004
      </p>
      <p class="cita1">
        “Imagínate tú que desde Cumaná una gente pobre, unos campesinos, tengan
        que ir a San Cristóbal, eso es contrario al interés del pueblo, ahí es
        cuando la burocracia daña, tranca, retarda todo. Imagínate tú para
        moverse pa’ San Cristóbal, a lo mejor no conocen a nadie allá, tienen
        que llegar, buscar el transporte, ver dónde duermen, dónde se quedan
        ¿eh? ¡Pero Dios mío, cómo va a ser posible eso! ¡Guerra a la
        burocraciaaaa!”
      </p>
      <p class="piecita1">
        “Aló, PRESIDENTE”, programa Nº 344 Comuna el Maizal, ubicada entre los
        municipios Simón Planas y Araure, de los estados Lara y Portuguesa
        Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1">
        “Hay que erradicar el burocratismo a todos los niveles, gobernadores,
        alcaldes, ministros y demás administradores, por eso se llama la
        Administración, nosotros somos administradores del Tesoro Nacional, de
        la riqueza que es de la Nación.”
      </p>
      <p class="piecita1">
        “Aló, PRESIDENTE”, programa Nº 344 Comuna el Maizal, ubicada entre los
        municipios Simón Planas y Araure, de los estados Lara y Portuguesa
        Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1">
        “Vamos a eliminar el Instituto Agrario Nacional, eso no sirve para nada,
        esa es una burocracia espantosa, ese es un gasto de recursos por todos
        lados.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 27 Maiquetía. Estado Vargas 23 de Enero de 2000
      </p>
      <p class="cita1">
        “Ahí hay un problema grave, ¿saben qué?, la burocracia. Cuánta gente
        debería trabajar en una alcaldía, en una gobernación, en los
        ministerios, y hay gente demás, cobrando a veces demás. Ése es un
        problema grave que hay que meterle el ojo.”
      </p>
      <p class="piecita1">
        Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado
        Aragua Domingo, 6 de diciembre de 2009
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
