<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/amor.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Amor con amor se paga, y yo no tengo más nada que darles qué amor,
        entrega, trabajo; mi vida entera se las regalo”.
      </p>
      <p class="piecita1">
        Discurso en Los Próceres, Caracas, 2 de febrero de 1999
      </p>
      <p class="cita1">
        “Bolívar nos dejó la llamarada, la llamarada, una llamarada sagrada, una
        llamarada que construye, que construye, es como un fuego sagrado, dice
        mi general Pérez Arcay, “...el fuego sagrado”; es el amor patrio, el
        amor patrio.” Cadena nacional.
      </p>
      <p class="piecita1">
        Despacho presidencial, Palacio de Miraflores. 5 de noviembre de 2012
      </p>
      <p class="cita1">“No es odio, es amor lo que hay aquí.”</p>
      <p class="piecita1">
        “Aló, Presidente” N° 62 Bailadores Edo. Mérida. 11 de febrero de 2001
      </p>
      <p class="cita1">
        “Los sectores sociales, las clases altas, las clases medias: Un mensaje
        de amor para ustedes, de afecto, de afecto, de cariño. Nosotros no
        odiamos, eso es mentira, que de mi corazón haya odio o algún sentimiento
        de rechazo hacia las clases altas de Venezuela”.
      </p>
      <p class="piecita1">
        Relatando íntimamente sobre el golpe de Estado en Buenos Aires. Junio
        2003
      </p>
      <p class="cita1">
        “Las gracias van de aquí para allá por esa fe, por ese amor, por esa
        humildad y por ese cariño y le doy gracias sí, vamos a darle gracias a
        Dios.”
      </p>
      <p class="piecita1">
        “Aló, Presidente”, Nº 107 Desde el Chivo, sur del Lago de Maracaibo. 09
        de junio de 2002
      </p>
      <p class="cita1">
        “Donde quiera que ande el pueblo anda el amor, anda el colorido, anda la
        alegría, anda la energía positiva.”
      </p>
      <p class="piecita1">
        “Aló, Presidente”, N° 100 Parque Nacional El Ávila. 17 de marzo de 2002
      </p>
      <p class="cita1">
        “Gracias por hacerme llegar ese baño de amor, tan especial, no sólo
        desde Venezuela, sino desde muchos otros lugares del mundo.”
      </p>
      <p class="piecita1">
        Balcón del Pueblo, Palacio de Miraflores. 4 de julio de 2011
      </p>
      <p class="cita1">
        “¡No me cabe en el pecho el amor que siento por este pueblo! ¡Me
        desborda de pasión y de fuerza!”
      </p>
      <p class="piecita1">
        Primer Encuentro Nacional de Cajas Rurales 2006. Complejo de Eventos
        Bellas Artes, estado Lara. 5 de mayo de 2006
      </p>
      <p class="cita1">
        “Agradeciéndoles esta manifestación de amor, de sabiduría a todos
        ustedes, muchachas, muchachos, hombres y mujeres, capitanes, caciques,
        cacicas, gobernadores, gobernadoras indias de los pueblos indígenas,
        chamanes, gracias desde mi corazón porque ese baño de amor es más
        medicina para mi espíritu, para mi alma, para mi cuerpo, medicina de la
        buena, puro amor, puro sentimiento.”
      </p>
      <p class="piecita1">
        Acto por la salud del Presidente Palacio de Miraflores. 10 de septiembre
        de 2011
      </p>
      <p class="cita1">
        “Ahí anda ese pueblo pasando dificultades y lo vemos aquí en Caracas, en
        cualquier esquina y lo vemos en Bailadores, allá en Mérida: una
        avalancha de amor.”
      </p>
      <p class="piecita1">
        Discurso en la presentación del Plan de Desarrollo Económico y Social de
        la Nación, 2001-2007. Palacio Federal Legislativo, 28 de septiembre de
        2001
      </p>
      <p class="cita1">
        “Ahora si uno pone en primer lugar la familia yo nunca hubiera salido de
        esa casa, porque el amor por aquella mujer y aquellos tres hijos y
        aquella casa humilde era muy grande, sólo el amor muy, muy grande pudo
        llevárselo a uno a dejarlos a ellos para salir en una noche terrible a
        ver qué pasaba.”
      </p>
      <p class="piecita1">
        Conmemoración de los 10 años de la derrota del paro patronal y la
        promulgación de la Ley de Tierras. Teatro Municipal, 10 de diciembre de
        2011
      </p>
      <p class="cita1">
        “Lo material puede ser destruido, pero el verdadero amor, el profundo
        sentimiento de solidaridad que nace de los pueblos, eso difícilmente
        pueda ser destruido.”
      </p>
      <p class="piecita1">
        Acto por la salud del Presidente Palacio de Miraflores. 10 de septiembre
        de 2011
      </p>
      <p class="cita1">
        “El amor, es una fuerza irresistible, el amor, miren yo amanecí esta
        mañana estudiando socialismo, esto es lo que Cristo vino a pregonar, el
        socialismo, eh, lo que Bolívar levantó.”
      </p>
      <p class="piecita1">
        Lanzamiento de la Misión «Hijos de Venezuela. 12 de diciembre de 2011
      </p>
      <p class="cita1">
        “Retorno, así como por el centro del home, retorno después de dos días
        de ausencia, de incertidumbres; retorno cargado espiritualmente de un
        gran amor”
      </p>
      <p class="piecita1">
        Alocución a la nación al retornar al poder Hugo Chávez Frías. Madrugada
        del domingo 14 de abril de 2002
      </p>
      <p class="cita1">
        “Agradezco tantas cosas, tanto cariño, tanto amor, amor con amor se
        paga.”
      </p>
      <p class="piecita1">
        Celebración del VIII aniversario del Instituto Nacional de la Mujer
        (Inamujer).Sala Ríos Reyna, Teatro Teresa Carreño. 31 de octubre de 2007
      </p>
      <p class="cita1">
        “Después de esta jornada memorable, histórica, imborrable para siempre
        jamás, si ayer los amaba, hoy los amo muchísimo más. Amor con amor se
        paga.”
      </p>
      <p class="piecita1">
        Alocución a la nación al retornar al poder después del golpe del 11 de
        abril.Madrugada del domingo 14 de abril de 2002
      </p>
      <p class="cita1">
        “Amo al pueblo venezolano y amor con amor se paga, porque ustedes han
        demostrado en estos últimos años, que vale la pena amar al pueblo de
        Venezuela y dar la vida entera por ustedes”.
      </p>
      <p class="piecita1">
        Programa Nro. 1 - “Aló, Presidente” Sede de Radio Nacional de Venezuela
        . 23 de mayo de 1999
      </p>
      <p class="cita1">
        “Dios les pague tanta solidaridad, tanto Amor, mis amados y amadas
        Compatriotas! Viviré! Viviremos! Venceremos! Hasta la Victoria Siempre!”
      </p>
      <p class="piecita1">Hugo Chávez Frías@chavezcandanga. 21 febrero 2012</p>
      <p class="cita1">
        “Si no hay amor no hay más nada, el amor social, el espíritu, la
        entrega.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 369 Escuela Básica Nacional “Flores de Catia”.
        Parroquia 23 de Enero. 9 de enero de 2011
      </p>
      <p class="cita1">
        “Compatriotas: A la luz de este gran día de aniversario quiero volver a
        expresar, con el más fiel y acendrado sentimiento de amor, la infinita
        admiración y la no menos infinita gratitud que siento hacia ustedes, el
        gran pueblo del Padre Simón Bolívar. A ustedes me debo: a ustedes le
        pertenece mi vida.”
      </p>
      <p class="piecita1">
        Las Líneas de Chávez: 6 D: 11 Años Después. 06 Diciembre 2009
      </p>
      <p class="cita1">“Gracias desde mi corazón por ese baño de amor.”</p>
      <p class="piecita1">
        Acto por la salud del Presidente Palacio de Miraflores. 10 de septiembre
        de 2011
      </p>
      <p class="cita1">
        “Yo andaba en un dilema existencial, tenía apenas 23 años, estaba muy
        enamorado de la negra Nancy mi primera esposa, madre de mis tres hijos
        mayores, ese amor de la negra Nancy bueno también me frenó mucho, me
        ayudó a coger camino.”
      </p>
      <p class="piecita1">
        Entrevista al Comandante Hugo Chávez realizada en Televisora de Oriente
        (TVO), estado Anzoátegui, 13 de Julio de 2012
      </p>
      <p class="cita1">
        “Nosotros viviremos, nosotros venceremos. Gracias desde mi corazón, amor
        con amor se paga.”
      </p>
      <p class="piecita1">
        Balcón del Pueblo, Palacio de Miraflores. 4 de julio de 2011
      </p>
      <p class="cita1">
        “Es muy difícil que un rico entre al Reino de nosotros pues, no porque
        nosotros no queramos que entre, sino porque el rico termina siendo
        egoísta y no hay cabida para el egoísmo aquí, entre nosotros es cabida
        para el amor, la solidaridad.”
      </p>
      <p class="piecita1">
        Lanzamiento de la Misión “Hijos de Venezuela”. 12 de diciembre de 2011
      </p>
      <p class="cita1">
        “La base amorosa, la confraternidad, el amor entre nosotros y eso es muy
        de Cristo también, el amor, la transparencia, la lealtad, las virtudes
        humanas, el humanismo, y la base material la propiedad de los medios de
        producción.”
      </p>
      <p class="piecita1">
        Juramentación de Ministros de Cultura, Juventud y del Comandante de la
        Guardia de Honor Presidencial. Palacio de Miraflores, 1 de agosto de
        2011
      </p>
      <p class="cita1">
        “Te explico, en noches de luna llena dicen que las noches de luna llena
        son muy adecuadas para la procreación.”
      </p>
      <p class="piecita1">
        “Aló, Presidente”, Nº 04 . Palacio de Miraflores. 20 de junio de 1999
      </p>
      <p class="cita1">
        “Un beso, que Dios me las bendiga mujeres, ustedes, mujeres madres, que
        Dios me las bendiga. Cuenten con nosotros, con nuestro amor, porque más
        que un apoyo monetario, esto es amor, apoyo de amor.”
      </p>
      <p class="piecita1">
        Lanzamiento de la Misión “Hijos de Venezuela”. 12 de diciembre de 2011
      </p>
      <p class="cita1">
        “Venimos de un proceso, mirémoslo, que nos duela, sintámoslo, amémoslo;
        sintamos los dolores de ese camino que hemos cruzado. Nunca podemos
        olvidarlo, porque ese es un alimento, el amor; especialmente el amor que
        hemos puesto en ese camino es un alimento imprescindible para los
        caminos que vienen.”
      </p>
      <p class="piecita1">
        Discurso con motivo de su toma de posesión como Presidente de la
        República Bolivariana de Venezuela para el periodo 2000-2006 ante la
        Asamblea Nacional
      </p>
      <p class="cita1">
        “Yo aprendí a amar esta tierra, aprendí en profundidad su historia, sus
        leyendas, su heroísmo, y aprendí a amar a este pueblo”.
      </p>
      <p class="piecita1">
        Caravana y encuentro con el pueblo apureño, San Fernando de Apure. 15 de
        septiembre de 2012.
      </p>
      <p class="cita1">
        “Los refugios deben ser centros de formación socialista, humanista, de
        amor; vamos a decir algo, una palabra que no existe: amorista. Amorista
        del amor. El amor por la convivencia, por el otro, por la otra; por el
        colectivo, por la comunidad.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 369 Escuela Básica Nacional “Flores de Catia”.
        Parroquia 23 de Enero. 9 de enero de 2011
      </p>
      <p class="cita1">
        “No tengo más nada que darles que amor, entrega, trabajo, mi vida entera
        se las regalo”.
      </p>
      <p class="piecita1">Discurso en el Paseo de Los Próceres. Febrero 1999</p>
      <p class="cita1">
        “Se puso en marcha una estrategia para tratar de aislar a Venezuela,
        desde aquí, de adentro y desde afuera del país. Esa estrategia la vamos
        a derrotar; no van a poder con la verdad y el amor que tenemos los
        venezolanos. No van a poder. No creo que puedan. Cuando hay un mar de
        amor no hay veneno que pueda.”
      </p>
      <p class="piecita1">
        Discurso ante la Asamblea Nacional. Memoria y Cuenta año2000 Palacio
        Federal Legislativo, 15 de enero de 2001
      </p>
      <p class="cita1">
        “Mañana es día de júbilo, desde ya está encendida toda la pasión patria,
        todo el pueblo sagrado de esta Caracas, de esta Venezuela heroica. Yo no
        podía faltar, aquí estoy, en el epicentro de mi amor más grande...”
      </p>
      <p class="piecita1">
        Balcón del Pueblo, Palacio de Miraflores 4 de julio de 2011
      </p>
      <p class="cita1">
        “Esa juventud es como el ámbito, la esencia, el manantial florido, el
        manantial de más fuerza mágica para inundarnos siempre de amor a todos
        nosotros, de amor, de fe, de esperanza, de alegría, de magia.”
      </p>
      <p class="piecita1">
        Juramentación de Ministros de Cultura, Juventud y del Comandante de la
        Guardia de Honor Presidencial Palacio de Miraflores, 1 de agosto de 2011
      </p>
      <p class="cita1">
        “María fue una mujer muy pobre y José era carpintero, no tenían salario
        mínimo, no tenían seguridad social y aquel niño además era perseguido,
        saben, ustedes saben no, que mandaron a matar muchos niños para tratar
        de evitar que Jesús creciera porque le tenían miedo a lo que él traía,
        el mensaje del amor, porque como decía Bolívar, esa es la fuerza más
        grande que puede haber.”
      </p>
      <p class="piecita1">
        Lanzamiento de la Misión “Hijos de Venezuela” 12 de diciembre de 2011
      </p>
      <p class="cita1">“El amor es una fuerza indestructible.”</p>
      <p class="piecita1">
        Acto por la salud del Presidente Palacio de Miraflores 10 de septiembre
        de 2011
      </p>
      <p class="cita1">
        “¡Gracias, Dios mío! ¡Gracias, pueblo mío! ¡Gracias, Patria mía!
        ¡Gracias, vida mía! ¡Hasta la victoria siempre!”
      </p>
      <p class="piecita1">
        Balcón del Pueblo, Palacio de Miraflores 4 de julio de 2011
      </p>
      <p class="cita1">“El amor es la única cosa importante en el mundo”.</p>
      <p class="piecita1">
        Carta enviada al pueblo venezolano por el Presidente Chávez.
      </p>
      <p class="cita1">
        “Aquí lo que nos mueve es la buena fe, el amor, más nada. El amor y las
        ganas, como siempre, es lo que nos ha movido a nosotros, nosotros no
        estamos sacando cálculos, ni protagonismos, ni buscando más nada:
        liberar a toda esa gente.” (En relación a la ayuda humanitaria para el
        rescate de Clara, Consuelo y Enmanuel.)
      </p>
      <p class="piecita1">
        Conferencia de Prensa Ofrecida por el Presidente de la República
        Bolivariana de Venezuela, Hugo Chávez, a medios internacionales. Salón
        Ayacucho, Palacio de Miraflores. 26 de diciembre de 2007
      </p>
      <p class="cita1">
        “Ahora primero lo nuestro y respetando todo lo demás y bienvenido
        siempre, aquí no hay ninguna xenofobia, ya lo hemos dicho, lo hemos
        demostrado; aquí lo que hay es amor por la humanidad.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Programa Nro. 47. Desde El Palacio de Miraflores. 15
        de octubre De 2000
      </p>
      <p class="cita1">
        “¡Amor con amor se paga! Por ese pueblo doy la vida una y mil veces.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” N° 45. Desde el Palacio de Miraflores 01 de Octubre de
        2000
      </p>
      <p class="cita1">
        “Siempre digo que vale más el amor por los demás que por uno mismo, de
        último uno mismo, de primero los demás, de último en la lista métanlo a
        uno.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” N° 46. Aeropuerto Antonio Nicolás Briceño. Valera,
        Estado Trujillo 08 de octubre de 2000
      </p>
      <p class="cita1">
        “Yo por ejemplo admiro y hace poco vino esta mujer y yo la admiro, me
        tiro al suelo, Marisabel, un beso para ti, ella se tira al suelo junto
        conmigo, nos tiramos al suelo los dos, Rocío Durcal.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” N° 46. Aeropuerto Antonio Nicolás Briceño. Valera,
        Estado Trujillo 08 de octubre de 2000
      </p>
      <p class="cita1">
        “Desde la montaña, hemos hecho este programa. ¿De cuánto tiempo? Cinco
        horas, fíjate como uno se fortalece en la montaña, si pudiéramos, es que
        a uno no le da ni hambre ni ganas de ir al baño ni nada de eso, yo no sé
        qué pasa vale, ¿nada verdad? Eso es el amor.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” N° 46. Aeropuerto Antonio Nicolás Briceño. Valera,
        Estado Trujillo 08 de octubre de 2000
      </p>
      <p class="cita1">
        “Es un amor muy grande el que nos trajo aquí y es un amor muy grande el
        que nos mantiene aquí y nos permitirá seguir abriendo los portones del
        futuro.”
      </p>
      <p class="piecita1">
        Caravana y concentración en apoyo al candidato Chávez Guarenas, estado
        Miranda Sábado, 29 de septiembre de 2012
      </p>
      <p class="cita1">
        “Me ha tocado enfrentar la muerte misma para cumplir el compromiso con
        el pueblo al que amo más que a mi vida como ustedes.”
      </p>
      <p class="piecita1">
        Caravana y concentración en apoyo al candidato Chávez Guarenas, estado
        Miranda Sábado, 29 de septiembre de 2012
      </p>
      <p class="cita1">
        “Quisiera saber por qué, ¡ay!, por qué la sabia naturaleza le ha dado
        tanta hermosura, tanta hermosura a la mujer guayanesa.”
      </p>
      <p class="piecita1">
        Caravana y concentración San Félix, estado Bolívar Sábado, 18 de agosto
        de 2012
      </p>
      <p class="cita1">
        “Les digo que sea cual sea digamos ese último tramo de mi camino pues en
        verdad no me importa, no me importa, a mí lo que me importa en verdad no
        soy yo mismo, no, a mí lo que me importa es mi patria, es mi pueblo, la
        felicidad de mi pueblo, la felicidad de mi patria y a ello le daré toda
        mi vida como la di desde los años de mi más temprana juventud.”
      </p>
      <p class="piecita1">
        Caravana y concentración San Félix, estado Bolívar Sábado, 18 de agosto
        de 2012
      </p>
      <p class="cita1">
        “De aquí saldremos a inundar a Venezuela con nuestro amor, a inundar la
        Patria al más lejano rincón, con nuestra emoción, con nuestra pasión,
        con nuestro amor.”
      </p>
      <p class="piecita1">
        Reunión con la maquinaria electoral del PSUV Caracas, viernes 7 de
        septiembre de 2012
      </p>
      <p class="cita1">“Obras son amores, y amores son obras”</p>
      <p class="piecita1">
        Consejo de Vicepresidentes Desde el Salón Néstor Kirchner. Palacio de
        Miraflores Caracas, sábado 24 de marzo de 2012
      </p>
      <p class="cita1">
        “No habrá cáncer que nos detenga ni emboscada de la vida, más podrá
        nuestra voluntad de vivir y este amor, este amor como dice el poema.”
      </p>
      <p class="piecita1">
        Designación y Juramentación del comando de campaña “Los que quieran
        patria vengan con Chávez” Sala Ríos Reyna - Teatro Teresa Carreño
        Caracas, jueves 23 de febrero de 2012
      </p>
      <p class="cita1">
        “Al pueblo venezolano todo, todo, de las distintas corrientes políticas
        sociales, vaya nuestro sentimiento de amor, de afecto y de la mejor de
        las buenas voluntades porque estas últimas horas del año 2011 sean
        llenas de felicidad estas primeras horas, las de mañana del primero de
        enero, del nuevo año 2012 sea igual en familia, lleno de felicidad, de
        amor y de buenas nuevas, y como se dice, de mucha prosperidad.”
      </p>
      <p class="piecita1">
        Discurso del Presidente de Hugo Chávez Entrega de viviendas en el
        Complejo habitacional Palma Sola Municipio Barinas, Estado Barinas
        Sábado, 31 de diciembre de 2011
      </p>
      <p class="cita1">
        “Estaba viendo aquí mensajes en @chavezcandanga:ibana22, “chave candanga
        te amamos Comandante, gracias a Dios que estas mejor”, vamos a responder
        rápido a Ibana aquí, a ver, responder, yo también te amo Ibana voy a
        poner aquí, yo no escribo tan rápido.”
      </p>
      <p class="piecita1">“Aló, Presidente” Nº 374</p>
      <p class="cita1">
        “Cualquier sacrificio en lo personal se sabe llevar porque es el amor el
        que nos mueve.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Programa Nro. 186 Desde La Planta De Llenado De Pdvsa
        En Guatire 28 De marzo De 2004
      </p>
      <p class="cita1">
        “Qué fuerza tan grande es el amor, es la fuerza más grande que puede
        mover el amor, la fe, mueve montañas, viejo dicho.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Programa Nro. 188 Desde Fuerte Mara, Estado Zulia.
        Domingo, 11 De abril De 2004
      </p>
      <p class="cita1">
        “Chávez arrasa el 7 de octubre, pero eso lo tienen ustedes en sus manos,
        son ustedes los que tienen que hacerlo, y yo sé que lo van a hacer,
        estoy completamente seguro, me lo dice mi corazón lleno de amor, de ese
        amor que ustedes me dan, y que yo les devuelvo con la misma intensidad,
        porque no se les olvide, amor con amor se paga.”
      </p>
      <p class="piecita1">
        Caravana y concentración en Av. Juncal Maturín, Edo. Monagas. Viernes,
        28 de septiembre de 2012
      </p>
      <p class="cita1">
        “Esto es un frenesí de Patria. Una fuerza incomparable, indoblegable,
        que es el amor que aquí nos tiene de pie.”
      </p>
      <p class="piecita1">
        Concentración en apoyo al candidato de la Patria en San Carlos, Estado
        Cojedes. Lunes, 1º de octubre de 2012
      </p>
      <p class="cita1">
        “Sigámonos pagando amor con amor, y cada día habrá más y más y más amor.
        Y ese amor cada día se irá encarnando más y más en la Patria nueva, en
        la Patria buena, en el socialismo.”
      </p>
      <p class="piecita1">
        Encuentro con la juventud. Poliedro de Caracas. 19 de septiembre de 2012
      </p>
      <p class="cita1">“A mí me pintan pajaritos y me enamoro enseguida.”</p>
      <p class="piecita1">
        “Aló, Presidente” N° 204 Desde Unidad Educativa Nacional Claudio
        Feliciano Las Adjuntas. Parroquia Macarao. Municipio Libertador Domingo,
        19 de septiembre de 2004
      </p>
      <p class="cita1">
        “Demos todo lo que podamos por los demás, por nuestra patria, eso nos
        hará cada día más grandes y grandes por el brillo, grandes por la
        solidaridad y por el amor, el amor.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” N° 211 Desde el Salón Ayacucho del Palacio de
        Miraflores Domingo 16 de Enero de 2005
      </p>
      <p class="cita1">
        “Mi querencia es con todas y con todos también. Una querencia.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nº 345 Hotel Maracay. Municipio Girardot, Maracay,
        estado Aragua Domingo, 6 de diciembre de 2009
      </p>
      <p class="cita1">
        “Yo tengo aquí muchos dolores y puñaladas, yo no quiero pasar más por
        dolores, y de aquí pa’ lante lo que quiero es unión y mucho amor, mucho
        amor entre nosotros, mucha comprensión entre nosotros...”
      </p>
      <p class="piecita1">
        “ALÓ, PRESIDENTE”, programa Nº 344 Comuna el Maizal, ubicada entre los
        municipios Simón Planas y Araure, de los estados Lara y Portuguesa
        Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1">
        “Bienvenidos los honestos si es que estaban confundidos. Aquí no le
        tenemos odio a nadie ni tenemos sentimiento revanchista. No, a nosotros
        nos impulsa es el amor por la humanidad, por nuestro pueblo y clamamos,
        como Bolívar clamaba por la unidad de todos los venezolanos de buena
        voluntad, aún aquellos que pudieran están confundidos.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nro. 23 Desde Mérida, Estado Mérida. Domingo, 5 de
        diciembre de 1999
      </p>
      <p class="cita1">
        “Aquí estamos por amor al ser humano, por amor a los niños, por amor a
        las mujeres, al hombre venezolano, por amor a la vida y seguiremos
        luchando contra viento y marea, contra mentiras, contra manipulaciones,
        contra podredumbre que nos rodea heredada de estos últimos tantos años,
        seguiremos luchando, encendidos de pasión, por la verdad y no le tememos
        a la mentira, no le tememos a la manipulación, no le tememos a nada
        porque Dios anda en esta lucha con nosotros, por la verdad.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” N° 26 Sede de la Radio Nacional de Venezuela 16 enero
        de 2000
      </p>
      <p class="cita1">
        “Yo haré todo lo que Dios me permita hacer, lo que mis fuerzas me den.
        Pero el gran conductor, el gran líder, el huracán, el viento que empuja
        esta revolución son ustedes los venezolanos. Yo por eso cada día amo más
        a este pueblo venezolano.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Programa Nro. 44 Desde El Palacio de Miraflores 24 de
        septiembre de 2000
      </p>
      <p class="cita1">
        “Amores, amores, amores, amores, estoy loco por ti de amores Venezuela.”
      </p>
      <p class="piecita1">
        Sesión de Ministros. Cadena Nacional Salón Néstor Kirchner, Palacio de
        Miraflores 22 de mayo de 2012
      </p>
      <p class="cita1">
        “Egilda Crespo ¿dónde estará mi maestra de cuarto grado? La primera
        mujer de la que me enamoré yo, quedé enamorado para toda la vida. La veo
        por allí, hace poco la vi y le vi los ojos verdes otra vez y llegan los
        viejos recuerdos.”
      </p>
      <p class="piecita1">
        “Aló, Presidente” Nro. 178 Palacio de Miraflores, 18 de enero de 2004
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
