<app-header></app-header>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="danger">Creditos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h4>
        <ion-label>Diseño de portadas:</ion-label>
      </h4>
      <p>Carlos Herrera</p>
      <h4>
        <ion-label>Diseño Portadas de Temas:</ion-label>
      </h4>
      <p>Carlos Herrera</p>
      <h4>
        <ion-label>Diseño de Aplicación:</ion-label>
      </h4>
      <p>Ionic 6</p>
      <p>
        ISBN: 9789801275091 <br />
        Depósito Legal: If25220133201857
      </p>
      <p class="cuerpo">
        Queda prohibida la copia total o parcial de esta obra por cualquier
        medio o procedimiento, bien sea electrónico o mecánico, el tratamiento
        informativo, el alquiler o cualquier otra forma de cesión de la obra sin
        autorización previa y por escrito de Carlos Herrera 
        <b>(<a href="mailto:carlosherrera69@gmail.com">carlosherrera69@gmail.com</a> / <a href="tel:+584126224833">+58 412 622 48 33</a>)</b> dentro de los
        límites establecidos por la ley y bajo los apercibimientos legalmente
        previstos.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
