<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/pensionados.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Pensionados, es un incremento aproximadamente del 200% en la cantidad
        mensual y ese ritmo pues no debe decaer, todo lo contrario, vamos a
        fortalecerlo, justicia social.”
      </p>
      <p class="piecita1">
        Aló Presidente Nro. 178 Palacio de Miraflores, 18 de enero de 2004
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
