<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
      <ion-img class="capitulo_img" src="/assets/images/capitulos/africa.jpg"></ion-img>
    <ion-card-content>
<p class="cita1">
    “Queremos hacer un puente pues, un puente de Venezuela al África; un puente de afecto, de cooperación, de acercamiento; en lo cultural, en lo político, en lo económico, en lo econó-mico.”
    </p>
    <p class="piecita1">
    Aló Presidente N° 340 Universidad Nacional de las Artes (Unearte) El Conde, Municipio Libertador, Caracas Domingo, 20 de septiembre de 2009
    </p>
    <p class="cita1">
    “Todos los imperios, le cayeron al África, todos, no hay un solo imperio que no haya pasado por África.”
    </p>
    <p class="piecita1">
    Aló Presidente N° 340 Universidad Nacional de las Artes (Unearte) El Conde, Municipio Libertador, Caracas Domingo, 20 de septiembre de 2009
    </p>
    <p class="cita1">
    “África, es el centro del mundo, el centro del mundo, el centro geográfico y la raíz histórica más profunda, está en este continente y nosotros somos parte de África.”
    </p>
    <p class="piecita1">
      Aló Presidente N° 340 Universidad Nacional de las Artes (Unearte) El Conde, Municipio Libertador, Caracas Domingo, 20 de septiembre de 2009
    </p>
    </ion-card-content>
  </ion-card>
</ion-content>
