<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/retiro.jpg"></ion-img>
    <ion-card-content>

      <p class="cita1">
        “Ya cuando estemos llegando nosotros al 2030, por ahí, final de la
        década, y ahí sí es verdad que yo me voy, ya no me pidan más allá del
        2030, 31. Mamá, me guardas por ahí un rancho en la costa del río —sí—,
        un topochal por ahí, una cosa.”
      </p>
      <p class="piecita1">
        Entrega de viviendas en el Complejo habitacional Palma Sola Municipio
        Barinas, Estado Barinas Sábado, 31 de diciembre de 2011
      </p>

      <p class="cita1">
        “Yo tengo un terrenito por allá de 40 x 50, donde pienso algún día
        construir una casa para pasar la vejez si Dios me da ese otro regalo de
        llegar a viejo.”
      </p>

      <p class="piecita1">
        Aló Presidente N° 46. Aeropuerto Antonio Nicolás Briceño. Valera, Estado
        Trujillo 08 de octubre de 2000
      </p>
      </ion-card-content
    >
  </ion-card>
</ion-content>
