<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/palestina.jpg"></ion-img>
    <ion-card-content>

      <p class="cita1"> “La Patria palestina, desde siempre ha latido, a pesar de la lejanía geográfica, en el corazón
        de todos los venezolanos y venezolanas: ha resplandecido en nuestro espíritu y sentimiento libertario,
        antiimperialista y anticolonial, fundado en nuestra profunda herencia bolivariana.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: Campeones Bolivarianos!
        29 Noviembre 2009 </p>


    </ion-card-content>
  </ion-card>
</ion-content>
