<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/revolucion.jpg"></ion-img>
    <ion-card-content>

      <p class="cita1">
        “Nosotros tenemos la gran responsabilidad de abrirle cauce, echar unas
        bases sólidas para que luego la revolución coja vuelo infinito.”
      </p>

      <p class="piecita1">
        Aló Presidente N° 205 Desde Parque Sur. Estado Zulia Domingo, 26 de
        septiembre de 2004
      </p>
      <p class="cita1">
        “Esto es el desarrollo endógeno, desarrollo desde dentro, potenciar toda
        la fuerza interna que tiene nuestra tierra, que tiene nuestro pueblo,
        eso es lo endógeno, que nace desde dentro, por dentro y hacia todo el
        país, y más allá, desde dentro hacia afuera, desarrollo endógeno, ese es
        el camino del desarrollo, es el camino de la revolución: el desarrollo
        integral.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 206 Desde la Cooperativa Central Cafetalero Bramón
        Municipio Junín, Rubio. Estado Táchira Domingo, 03 de octubre de 2004
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
