.titulo {
  color: black;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  font-family: oswal !important;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  margin-top: 50px;
}

.autor {
  color: rgb(58, 58, 58);
  font-size: 20px;
  text-align: left;
  font-family: ArchivoNarrow !important;
  font-weight: bolder;
  padding-top: 0px;
  margin-top: 0px;
}

ion-thumbnail {
  width: 150px;
  height: 110px;
  ion-img {
    width: 150px !important;
    height: 110px !important;
    border-radius: 5px;
  }
}

label.lista {
  text-align: justify;
}

label.boton {
  text-align: center;
}
