<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/propsocial.jpg"></ion-img>
    <ion-card-content>

      <p class="cita1">
        “Yo quiero impulsar cada día más la propiedad familiar, la propiedad
        comunal de 4, 10 familias agrupadas, propiedad para ustedes y para sus
        hijos, pero para el beneficio de todos.”
      </p>
      <p class="piecita1">
        Aló Presidente, programa Nº 325 Los valles de Tucutunemo, municipio
        Zamora, Edo. Aragua 1 de marzo de 2009
      </p>
      <p class="cita1">
        “¡Qué bonito lo que estamos viendo!; ese llano, ese llano, que estaba en
        manos de los latifundistas, ahora está liberada la tierra, liberado el
        pueblo, ahí están desfilando orgullosos con sus tractores. Eso es
        propiedad, propiedad para el trabajo, la propiedad social en comunas,
        están naciendo las comunas agrícolas, la propiedad social.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 340 Universidad Nacional de las Artes (Unearte) El
        Conde, Municipio Libertador, Caracas Domingo, 20 de septiembre de 2009
      </p>
      </ion-card-content>
  </ion-card>
</ion-content>
