<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/vargas.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Cuando llegue el 16 de diciembre no debe haber ningún venezolano
        damnificado de Vargas viviendo en cuarteles o en refugios, deben tener
        todos su vivienda, entre muchas otras cosas.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 46. Aeropuerto Antonio Nicolás Briceño. Valera, Estado
        Trujillo 08 de octubre de 2000
      </p>
      <p class="cita1">
        “Aquí todos recuerdan el caso aquel de Vargas. Y los desaparecidos de
        Vargas que nunca aparecieron, pero lo primero que yo hice fue destituir
        al Jefe de la Disip de entonces, quien fue uno de mis más grandes amigos
        de toda la vida, pero a nombre de la amistad mal entendida, yo no iba a
        tapar aquello.”
      </p>
      <p class="piecita1">
        Aló Presidente Programa Nro. 186 Desde La Planta De Llenado De Pdvsa En
        Guatire 28 De marzo De 2004
      </p>
      <p class="cita1">
        “La tragedia verdaderamente se desató a partir de la madrugada del día
        16 de diciembre, hace exactamente un mes, un día como hoy, hace un mes.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 26 Sede de la Radio Nacional de Venezuela 16 enero de
        2000
      </p>
      <p class="cita1">
        “No se puede entrar ni por aire, era la madrugada y no se veía nada,
        entrar por aire ¿dónde? Ni por tierra, la misma autopista Caracas-La
        Guaira no se podía pasar y la carretera a Macuto y Los Caracas estaba
        destrozada en toda su extensión y por mar tampoco.” (Tragedia de Vargas)
      </p>
      <p class="piecita1">
        Aló Presidente N° 26 Sede de la Radio Nacional de Venezuela 16 enero de
        2000
      </p>
      <p class="cita1">
        “Era un sentimiento de verdad desesperante oír aquellos muchachos por
        radio, decir que el agua venía subiendo, que siguen cayendo y uno sin
        hacer nada, pedirle a Dios pues.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 26 Sede de la Radio Nacional de Venezuela 16 enero de
        2000
      </p>
      <p class="cita1">
        “Habíamos invitado al pueblo a celebrar el triunfo con música, yo mandé
        a suspender eso a las seis de la tarde y recuerdo que comencé la cadena
        nacional como a las nueve de la noche diciendo: “Este ha sido un parto
        con dolor”, porque ya teníamos las primera cifras de cadáveres, de
        muertos.” (Tragedia de Vargas)
      </p>
      <p class="piecita1">
        Aló Presidente N° 26 Sede de la Radio Nacional de Venezuela 16 enero de
        2000
      </p>
      <p class="cita1">
        “Llegamos a Maiquetía, empezamos a dar vueltas, tratamos de entrar hacia
        Macuto, hacia esa zona que era la más afectada, no se podía entrar, el
        helicóptero no podía entrar, imposible, el mal tiempo y bueno, una
        visibilidad nula, cero, el piloto un metro más allá de la cabina no se
        veía absolutamente nada, imposible que un helicóptero pueda entrar allí.
        Así que regresamos y aterrizamos en el Comando de Infantería de Marina.”
        (Tragedia de Vargas)
      </p>
      <p class="piecita1">
        Aló Presidente N° 26 Sede de la Radio Nacional de Venezuela 16 enero de
        2000
      </p>
      <p class="cita1">
        “Desde el mismo primer día comenzaron algunas personas a aprovecharse de
        la tragedia para saquear y me dijeron en la tarde cuando ya me venía,
        que habían violado una niña. Yo dije agarren, no pudieron capturar al
        violador.” (Tragedia de Vargas)
      </p>
      <p class="piecita1">
        Aló Presidente N° 26 Sede de la Radio Nacional de Venezuela 16 enero de
        2000
      </p>
      <p class="cita1">
        “Desde el mismo instante del inicio de la tragedia, el mundo demostró
        que ama a Venezuela, como Venezuela ama al mundo.” (Tragedia de Vargas)
      </p>
      <p class="piecita1">
        Aló Presidente N° 26 Sede de la Radio Nacional de Venezuela 16 enero de
        2000
      </p>
      <p class="cita1">
        “La primera fase era salvamento, salvemos la mayor cantidad de gente
        posible, incluso ahí perdimos un número de personas, diez personas
        perdimos en las labores de rescate, además de la tragedia, dos
        helicópteros que perdimos, uno de defensa civil con ocho personas y uno
        de la Fuerza Armada con dos personas que fallecieron. Pero fue una labor
        extraordinaria, fue un rescate por aire, por mar y por tierra.”
        (Tragedia de Vargas)
      </p>
      <p class="piecita1">
        Aló Presidente N° 26 Sede de la Radio Nacional de Venezuela 16 enero de
        2000
      </p>
      <p class="cita1">
        “Aquello era impresionante ver de dónde salía tanta gente de Los Corales
        y Caraballeda, porque me habían dicho que ahí no había quedado nadie con
        vida y resulta que no chico, debajo de las piedras, detrás de las matas,
        debajo de los techos de las casas, de túneles que había entre las
        piedras gigantescas salían niños, hombres, ancianos, y ¿sabes lo que vi
        yo, ahí? Vida.” (Tragedia de Vargas)
      </p>
      <p class="piecita1">
        Aló Presidente N° 26 Sede de la Radio Nacional de Venezuela 16 enero de
        2000
      </p>
      <p class="cita1">
        “Yo dije: hay vida por todo esto. Dios mío, cómo sobrevivió esta gente,
        se pensaba que eso era toda una especie de camposanto, y no sólo que
        salió la gente, haciendo una cola larguísima como de 3.000, 4.000
        personas que iban agarrándose unos a otros. No sólo eso, sino verle los
        ojos a aquella gente, verles la vida, verles el dolor, pero por otra
        parte el optimismo, la entereza moral.” (Tragedia de Vargas)
      </p>
      <p class="piecita1">
        Aló Presidente N° 26 Sede de la Radio Nacional de Venezuela 16 enero de
        2000
      </p>
      <p class="cita1">
        “Rescatamos en menos de una semana, a unas noventa mil personas. Noventa
        mil personas, por aire, por mar y algunos por tierra, hasta donde
        podíamos llegar, haciendo picas y trochas y especialmente los infantes y
        los paracaidistas que se fueron a la zona a vivir con la gente, día y
        noche.” (Tragedia de Vargas)
      </p>
      <p class="piecita1">
        Aló Presidente N° 26 Sede de la Radio Nacional de Venezuela 16 enero de
        2000
      </p>
      <p class="cita1">
        “Por primera vez en una tragedia como esta no hay fosas comunes, no; yo
        mismo le dije: no quiero fosas comunes. Y ahí el país vio como el dolor
        aquel de traer los cadáveres, los que fueron identificados, sus
        familiares enterrados cristianamente y no en fosas comunes.” (Tragedia
        de Vargas)
      </p>
      <p class="piecita1">
        Aló Presidente N° 26 Sede de la Radio Nacional de Venezuela 16 enero de
        2000
      </p>
      <p class="cita1">
        “Estamos transformando damnificados en dignificados. Fíjense ustedes que
        apenas a 30 días después de la tragedia ya estamos entregando casas,
        pura casas y no sólo las casas, les estamos entregando las casas con
        algunos implementos, porque mucha gente perdió todo, todo menos la vida,
        que es lo más importante.” (Tragedia de Vargas)
      </p>
      <p class="piecita1">
        Aló Presidente N° 26 Sede de la Radio Nacional de Venezuela 16 enero de
        2000
      </p>
      <p class="cita1">
        “Están dignificados, porque están viviendo como tiene que vivir un ser
        humano, la educación, la salud, la atención médica; atención sanitaria,
        la educación, la vivienda, el trabajo, estamos buscando soluciones
        integrales y en esa dirección vamos, ya hemos logrado grandes avances
        apenas en 30 días después.” (Refiriéndose a los damnificados de la
        tragedia de Vargas)
      </p>
      <p class="piecita1">
        Aló Presidente N° 26 Sede de la Radio Nacional de Venezuela 16 enero de
        2000
      </p>
      <p class="cita1">
        “Hay gente en El Piache, todo ese cerro se vino abajo pero arriba, en la
        loma, gente logró salvarse y subió a la loma. Yo ordené un
        reconocimiento aéreo sobre la zona y en verdad, vieron la gente ahí,
        porque de verdad, había gente por todos lados. Y se hizo el plan para
        llegar a El Piache; por tierra, me decían: no, no se puede, imposible.”
        (Tragedia de Vargas)
      </p>
      <p class="piecita1">
        Aló Presidente N° 26 Sede de la Radio Nacional de Venezuela 16 enero de
        2000
      </p>
      <p class="cita1">
        “Se vino todo el cerro y quedó fue un barranco pues, bueno, por aire, es
        la única manera, y comenzaron a hacer viajes, ya habían hecho creo que
        dos o tres viajes llevando agua, primero que nada, sacando heridos y
        creo que fue en el tercer viaje; el helicóptero rozó el aspa con un
        cable de alta tensión que estaba allí, ellos no lo vieron o lo vieron,
        bueno, la audacia. Cayeron cables por todos lados y el helicóptero se
        incendió y allí murieron dos coroneles de la Fuerza Aérea.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 26 Sede de la Radio Nacional de Venezuela 16 enero de
        2000
      </p>
      <p class="cita1">
        “La electricidad se ha restablecido en un 70% de los sectores
        residenciales. Vialidad, ya decía; electricidad, agua, la seguridad, se
        acabaron saqueos, brotes, estamos controlando un aspecto sanitario de
        cierta peligrosidad con expertos internacionales, producto de unas
        sustancias tóxicas que estaban depositadas en el puerto y se derramaron.
        Eso lo tenemos ahí controlado y bajo permanente inspección.”
        (Refiriéndose a la tragedia de Vargas)
      </p>
      <p class="piecita1">
        Aló Presidente N° 26 Sede de la Radio Nacional de Venezuela 16 enero de
        2000
      </p>
      <p class="cita1">
        “Desde México vinieron médicos, paramédicos, los cubanos todavía están
        en algunas regiones del litoral; todavía están médicos y paramédicos
        norteamericanos, yo hablé con dos de ellos, una muchacha y un joven
        oficial norteamericano, que son paramédicos, atienden a la gente por
        allí, andan desplegados por todas partes vigilando.”(Refiriéndose a la
        tragedia de Vargas)
      </p>
      <p class="piecita1">
        Aló Presidente N° 26 Sede de la Radio Nacional de Venezuela 16 enero de
        2000
      </p>
      <p class="cita1">
        “Estamos entrando ya en la tercera fase, el proyecto de reconstrucción
        de Vargas.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 26 Sede de la Radio Nacional de Venezuela 16 enero de
        2000
      </p>
      <p class="cita1">
        “Tenemos evidencias científicas, producto de estudios geológicos, de
        estudios de suelo en profundidad, cien metros hacia abajo, que no es la
        primera vez que ocurre esto en Vargas. Ya hace 50 años, en 1951 ocurrió
        esto, no hubo tanto muerto porque no había tanta gente ahí.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 26 Sede de la Radio Nacional de Venezuela 16 enero de
        2000
      </p>
      <p class="cita1">
        “Buena parte del Litoral hay que reconstruirlo, pero no podemos
        desbocarnos ahora a construir o seguir construyendo edificios,
        balnearios, playas, casas y viviendas de apartamentos de playa para
        venderlos. Sectores habrá que fortalecerlos; las playas habrá que
        recuperarlas, pero no podemos seguir acumulando población en estos
        litorales y en estos cerros.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 26 Sede de la Radio Nacional de Venezuela 16 enero de
        2000
      </p>
      <p class="cita1">
        “Tenemos equipos evaluando quebrada por quebrada; tenemos expertos
        metiéndose en las grutas de la montaña del Ávila para ver qué pasó,
        desde dónde arrancó el torrente, cuánto de potencial de riesgo quedó ahí
        sembrado, para cuántos años.” (En relación a la tragedia de Vargas)
      </p>
      <p class="piecita1">
        Aló Presidente N° 26 Sede de la Radio Nacional de Venezuela 16 enero de
        2000
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
