<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/espana.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1"> “Miren cómo está Europa, ayer hubo manifestaciones… Oye, qué violencia en España ¿no? Una
        violencia, pero una represión feroz.”
      </p>
      <p class="piecita1">Cadena nacional. Despacho presidencial, Palacio de Miraflores. 15 de noviembre de 2012
      </p>
      <p class="cita1"> “No le voy a pedir al rey de España que declare allá monarquía socialista a España, cada quien
        tiene su sistema, cada quien tiene sus ritmos, como Sócrates, como Cavaco, ahora avan¬cemos, unámonos de
        verdad.”
      </p>
      <p class="piecita1">Sesión Inaugural de la XVII Cumbre de Jefes de Estado y de Gobierno Iberoamericano Santiago de
        Chile. 9 de noviembre de 2007
      </p>
      <p class="cita1"> “Nosotros queremos tener las mejores relaciones con Europa, con todos los países euro¬peos, con
        España y con el mundo entero.”
      </p>
      <p class="piecita1">Celebración del VIII aniversario del Instituto Nacional de la Mujer (Inamujer).Sala Ríos
        Reyna, Teatro Teresa Carreño. 31 de octubre de 2007
      </p>
      <p class="cita1"> “Aquel ex presidente español era el que venía a vendernos aquí aquella tesis, como la mejor de
        la tesis, ¿eh? Y es en verdad un fascista, un verdadero fascista.” (La tesis del alca)
      </p>
      <p class="piecita1">Sesión Inaugural de la XVII Cumbre de Jefes de Estado y de Gobierno Iberoamericano Santiago de
        Chile. 9 de noviembre de 2007
      </p>
      <p class="cita1"> “Nosotros queremos mucho a España, adoramos a España, a su pueblo, sus instituciones, su
        ejemplo, somos amigos de su Rey, de Don Juan Carlos, de su Presidente José María Aznar.”
      </p>
      <p class="piecita1">Aló Presidente, N° 100. Parque Nacional El Ávila. 17 de marzo de 2002
      </p>
      <p class="cita1"> “El Rey es tan Jefe de Estado como soy yo. Sólo que yo he sido electo tres veces con 63 por
        ciento. Somos iguales, Jefes de Estado igual. Somos tan Jefes de Estado el indio Evo Morales como el Rey Juan
        Carlos de Borbón y yo”.
      </p>
      <p class="piecita1">II Cumbre Sudamericana de Naciones en Bolivia
      </p>
      <p class="cita1"> “El presidente Zapatero anunciaba ese plan del agua que aplaudimos con intensidad, y Venezuela
        está dispuesta humildemente a cooperar.”
      </p>
      <p class="piecita1">Sesión Inaugural de la XVII Cumbre de Jefes de Estado y de Gobierno Iberoamericano. Santiago
        de Chile. 9 de noviembre de 2007
      </p>
      <p class="cita1"> “Ahora es cuando las relaciones entre España y Venezuela se van a potenciar al máximo, debo,
        Dios mediante, atender pronto la invitación que me ha hecho llegar el presidente del gobierno español José Luis
        Rodríguez Zapatero.”
      </p>
      <p class="piecita1">Aló Presidente N° 205. Desde Parque Sur. Estado Zulia Domingo, 26 de septiembre de 2004
      </p>
      <p class="cita1"> “Profunda repugnancia me producen las declaraciones del ex presidente José María Aznar, debería
        quedarse callado Aznar si tuviera un poquito de dignidad. Aznar, entre todas las ma¬rramuncias que hizo, colocó
        al pueblo español de rodillas ante los mandatos de Washington.”
      </p>
      <p class="piecita1">Aló Presidente N° 216.Desde el Campo Experimental del INIA Municipio Alberto Arvelo Torrealba.
        Sabaneta. Estado Barinas
        Domingo 20 de Marzo de 2005
      </p>
      <p class="cita1"> “Estuvimos hablando con ese gran amigo que es el Presidente José María Aznar, mi gran amigo el
        Rey Juan Carlos y la Reina Sofía. España y Venezuela vamos juntos, ahora más que nunca antes, hacia el Siglo
        XXI.”
      </p>
      <p class="piecita1">Aló Presidente N° 19 Desde Macuro – Estado Sucre Domingo, 7 de noviembre de 1999
      </p>
      <p class="cita1"> “El Rey Don Juan Carlos es un ser humano extraordinario, cualquiera se imagina que un Rey es tu
        sabes una cosa; no, no, es hombre humilde su majestad la Reina y el príncipe Felipe, estuvimos Marisabel y yo
        una noche exquisita allá en el Palacio de la Zarzuela.”
      </p>
      <p class="piecita1">Aló Presidente N° 19 Desde Macuro – Estado Sucre Domingo, 7 de noviembre de 1999
      </p>
      <p class="cita1"> “Mira el Rey Juan Carlos, Don Juan Carlos me dijo que tenía ganas de venir a Venezuela de nuevo,
        que tal si lo traemos a Macuro al Rey, ha, yo le voy a invitar al Rey que venga a Macuro, ojalá en el año 2000,
        empezando el siglo un nuevo siglo traer al Rey Don Juan Carlos aquí a Macuro, yo lo voy a invitar directamente.”
      </p>
      <p class="piecita1">Aló Presidente N° 19 Desde Macuro – Estado Sucre Domingo, 7 de noviembre de 1999</p>
    </ion-card-content>
  </ion-card>
</ion-content>
