<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/independencia.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “No se trata de mí, ustedes lo saben, se trata de Venezuela, se trata
        del futuro, se trata de la patria de nuestros hijos, de nuestros
        descendientes, se trata de continuar liberando a Venezuela y logrando
        la independencia nacional.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 324. Complejo Agroindustrial “Vuelvan Caras” Municipio
        Turén. Estado Portuguesa Domingo 11 de enero de 2009
      </p>
      <p class="cita1">
        “Se trata de consolidar la unión para poder avanzar a paso firme, rumbo
        a la plena independencia nacional, la que nunca hemos podido lograr, la
        que nunca se logró en el pasado, la que vamos consolidando, paso a paso,
        pero, eso tiene un tiempo histórico, eso no tiene que ver con una
        gestión de Gobierno, de cuatro o de seis o de cinco años. Es un tiempo
        histórico, es un ciclo histórico, es un ciclo histórico, quiero insistir
        en eso.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 324. Complejo Agroindustrial “Vuelvan Caras” Municipio
        Turén. Estado Portuguesa Domingo 11 de enero de 2009
      </p>
      <p class="cita1">
        “Yo siempre digo, de todo lo que nosotros hemos hecho en estos años, lo
        más grande es haber reconquistado la independencia nacional, somos un
        país independiente.”
      </p>
      <p class="piecita1">
        Asamblea con trabajadores de la CVG, Pdvsa y demás sectores productivos
        Bolívar, 20 de agosto de 2012
      </p>
      <p class="cita1">
        “La independencia nacional, como siempre lo digo hermanas y hermanos,
        compatriotas, no es un concepto abstracto. No, es muy real, es muy
        concreto, es muy firme, muy objetivo, y se refleja, por ejemplo, en el
        manejo del recurso petrolero.”
      </p>
      <p class="piecita1">
        Asamblea con trabajadores de la CVG, Pdvsa y demás sectores productivos
        Bolívar, 20 de agosto de 2012
      </p>
      <p class="cita1">
        “Hemos recuperado la independencia nacional y no podemos permitir que se
        cierren de nuevo los portones de la independencia, los portones del
        futuro. No podemos permitirlo.”
      </p>
      <p class="piecita1">
        Reunión con la maquinaria electoral del PSUV Caracas, viernes 7 de
        septiembre de 2012
      </p>
      <p class="cita1">
        “La independencia, así lo decía Bolívar: “La independencia, cuidémosla,
        porque es la puerta abierta que nos permitirá ir obteniendo poco a poco
        los otros bienes para la Patria...”.”
      </p>
      <p class="piecita1">
        Consejo de Vicepresidentes Desde el Salón Néstor Kirchner. Palacio de
        Miraflores Caracas, sábado 24 de marzo de 2012
      </p>
      <p class="cita1">
        “Se trata de seguir fortaleciendo la conciencia y el papel que cada una,
        que cada uno de nosotros tenemos que seguir jugando para consolidar la
        independencia nacional, Bolívar otra vez, la independencia nacional y
        por ese camino con la independencia, en el camino de la independencia,
        en el marco de independencia construir la Venezuela realmente
        democrática, la Venezuela socialista.”
      </p>
      <p class="piecita1">
        Conversatorio sobre el Golpe de Estado de Abril de 2002 Palacio de
        Miraflores Miércoles, 11 de abril de 2012
      </p>
      <p class="cita1">
        “Hagamos todo lo que tenemos que hacer, nosotros podemos perder muchas
        cosas, pero lo que no podemos perder es la independencia nacional, la
        independencia, la independencia.” Designación y Juramentación del
        comando de campaña “Los que quieran patria vengan con Chávez”
      </p>
      <p class="piecita1">
        Sala Ríos Reyna - Teatro Teresa Carreño Caracas, jueves 23 de febrero de
        2012
      </p>
      <p class="cita1">
        “Ese es otro de los grandes logros de nuestra Revolución, somos libres,
        libres al fin, libres, ya no dependemos de ningún poder extranjero, y
        esa libertad, esa independencia que tanto ha costado en estos 200 años,
        500 años de batalla, es lo más grande que podemos tener después de Dios.
        Cuidemos la independencia, cuidemos la estabilidad nacional. Por eso es
        que nosotros estamos obligados a seguir triunfando.”
      </p>
      <p class="piecita1">
        Entrega de viviendas en el Complejo habitacional Palma Sola Municipio
        Barinas, Estado Barinas Sábado, 31 de diciembre de 2011
      </p>
      <p class="cita1">
        “Hemos venido transitando un camino hacia nuestra independencia, así que
        yo sí creo que nuestro Continente se está reencontrando y se está
        interpretando, pero es cuestión de tiempo.”
      </p>
      <p class="piecita1">
        Entrevista exclusiva al Presidente Hugo Chávez, concedida a la
        periodista Helena Rostova del programa Russia Today, transmitido por TV
        Moscú 15 de octubre de 2010.
      </p>
      <p class="cita1">
        “Hemos recuperado la independencia y más nunca la perderemos, porque
        ella es el piso, ella es el todo para llevar adelante el progreso
        nacional, el desarrollo nacional, la grandeza nacional.”
      </p>
      <p class="piecita1">
        Celebración de los 13 años del Gobierno Revolucionario. Teatro Catia,
        Plaza Sucre, Av. Sucre, Catia Caracas, jueves 2 de febrero de 2012
      </p>
      <p class="cita1">“Sólo un país independiente puede ser grande, libre.”</p>
      <p class="piecita1">
        Macolla Guanaguanay, estado Monagas 22 de agosto de 2012
      </p>
      <p class="cita1">
        “Tenemos que cuidar la independencia nacional más que a la vida. Porque
        si perdiéramos la independencia, todo esto comenzaría a desaparecer
        ¡todo!”
      </p>
      <p class="piecita1">
        Macolla Guanaguanay, estado Monagas 22 de agosto de 2012
      </p>
      <p class="cita1">
        “Nosotros hemos recuperado la independencia nacional y la independencia
        tiene su concreción en hechos tangibles. Uno de ellos es el manejo de
        nuestra política petrolera, la elaboración de nuevas leyes petroleras.”
      </p>
      <p class="piecita1">
        Macolla Guanaguanay, estado Monagas 22 de agosto de 2012
      </p>
      <p class="cita1">
        “Después de 200 años hemos recuperado la independencia nacional y no
        podemos perderla de nuevo más nunca compatriotas, más nunca, la
        independencia nacional.”
      </p>
      <p class="piecita1">
        Macolla Guanaguanay, estado Monagas 22 de agosto de 2012
      </p>
      <p class="cita1">“La independencia equivale a la vida de la Patria.”</p>
      <p class="piecita1">
        Macolla Guanaguanay, estado Monagas 22 de agosto de 2012
      </p>
      <p class="cita1">
        “Querían aquí privatizar aluminio, hierro, petróleo, oro y todo, café
        todo. No volverán. Esta patria es libre, y será libre siempre.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 206 Desde la Cooperativa Central Cafetalero Bramón
        Municipio Junín, Rubio. Estado Táchira Domingo, 03 de octubre de 2004
      </p>
      <p class="cita1">
        “Nosotros hemos recuperado la independencia nacional y la plena
        soberanía petrolera.” Encuentro con los trabajadores petroleros
      </p>
      <p class="piecita1">
        Desde el Polideportivo José María Vargas. Edo. Vargas 31 de agosto de
        2012
      </p>
      <p class="cita1">
        “¡Venezuela será independiente para siempre! Y estamos aquí para
        garantizarlo, para garantizarlo.”
      </p>
      <p class="piecita1">
        Sesión de Ministros. Cadena Nacional Salón Néstor Kirchner, Palacio de
        Miraflores 22 de mayo de 2012
      </p>
      <p class="cita1">
        “Eso tenemos que cuidarlo como algo sagrado: la independencia nacional.
        Y fortalecerlo.”
      </p>
      <p class="piecita1">
        Sesión de Ministros. Cadena NacionalSalón Néstor Kirchner, Palacio de
        Miraflores 22 de mayo de 2012
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
