<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/curazao.jpg"></ion-img>
    <ion-card-content>

      <p class="piecita1"> “Voy a visitar también nuestra refinería en Curazao a ver cómo andan las cosas por allá, a
        hacer una inspección.” </p>
      <p class="piecita1">Aló Presidente N° 46. Aeropuerto Antonio Nicolás Briceño. Valera, Estado Trujillo 08 de
        octubre de 2000 </p>


    </ion-card-content>
  </ion-card>
</ion-content>
