<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
      <ion-img class="capitulo_img" src="/assets/images/capitulos/afrodescendientes.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1">
        “Aquí está el negro Aristóbulo. Ése es uno de mis candidatos preferidos,
        no por negro, sino por patriota, y por negro también, porque yo tengo el
        pelo negro”.
      </p>
      <p class="piecita1">
        Aló presidente n°6 San Juan de los Morros – Edo. Guárico. 4 de julio de
        1999
      </p>
      <p class="cita1">
        “Desde aquí el aplauso de las mujeres venezolanas, de nosotros los
        hombres venezolanos a Nelson Mandela y su lucha por la igualdad racial,
        por la liberación de los pueblos negros del África y por los pueblos del
        mundo.”
      </p>
      <p class="piecita1">
        Celebración del VIII aniversario del Instituto Nacional de la Mujer
        (Inamujer). Sala Ríos Reyna, Teatro Teresa Carreño. 31 de octubre de
        2007
      </p>
      <p class="cita1">
        “Recuerdo que los negros salieron con sus tambores y tomaron la Asamblea
        Constituyente y entregaron documentos: los derechos de los negros, las
        comunidades afro-venezolanas.”
      </p>
      <p class="piecita1">
        Aló Presidente N° 200 Ciudad Vacacional Los Caracas. 1 de agosto de 2004
      </p>
      <p class="cita1">
        “Estábamos recordando por voz de nuestra querida amiga Naomi Campbell a
        ese gran patriota africano Nelson Mandela.”
      </p>
      <p class="piecita1">
        Celebración del VIII aniversario del Instituto Nacional de la Mujer
        (Inamujer).Sala Ríos Reyna, Teatro Teresa Carreño. 31 de octubre de 2007
      </p>
      <p class="cita1">
        “La negritud, eso es mágico ¿verdad? La negritud, la magia de la
        negritud”
      </p>
      <p class="piecita1">
        Aló Presidente N º 377 Salón Néstor Kirchner. Palacio de Miraflores. 22
        de enero de 2012
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
