<app-headerc backRoute="/tabs/libro"></app-headerc>
<app-fontcontrol></app-fontcontrol>
<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-img class="capitulo_img" src="/assets/images/capitulos/juridico.jpg"></ion-img>
    <ion-card-content>
      <p class="cita1"> “¿Ustedes creen que el pueblo venezolano se va a quedar en su casa con los ojos cerrados, de
        brazos cruzados viendo una película o viendo comiquitas mientras estén tratando de reformar su Constitución?”
      </p>
      <p class="piecita1">Aló Presidente, Nº 107. Desde el Chivo, sur del Lago de Maracaibo. 09 de junio de 2002
      </p>
      <p class="cita1"> “Justicia es lo que piden los venezolanos”.
      </p>
      <p class="piecita1">Aló Presidente, Nº 04. Palacio de Miraflores. 20 de junio de 1999
      </p>
      <p class="cita1"> “Clamo por una ley de tierras justa, lo dice la soberana Constitución: “El latifundio...”, yeso
        lo decía la del 61 también, ahí no hemos hecho ningún cambio notable a nivel constitucional.”
      </p>
      <p class="piecita1">Discurso con motivo de su toma de posesión como Presidente de la República Bolivariana de
        Venezuela para el
        periodo 2000-2006 ante la Asamblea Nacional
      </p>
      <p class="cita1"> “Con algunas pocas excepciones, el Poder Judicial ha estado en manos de la corrupción, en manos
        de jueces corruptos que se venden la mejor postor; el que compra a un juez entonces es inmune, puede matar,
        puede dejar ciego a la gente, puede robar, puede hacer lo que quiera porque no hay un juez que pueda administrar
        justicia.”
      </p>
      <p class="piecita1">Aló Presidente Nro. 016. Radio Nacional de Venezuela. 26 de Septiembre de 1999
      </p>
      <p class="cita1"> “Justicia es darle a cada quien lo que le corresponde, lo que necesita, lo que merece”.
      </p>
      <p class="piecita1">Programa Nro. 1 - Alo Presidente desde la sede de Radio Nacional de Venezuela. 23 de mayo de
        1999
      </p>
      <p class="cita1"> “¡Danilo vive, la lucha sigue! ¡Basta de impunidad!”
      </p>
      <p class="piecita1">Las líneas de Chávez ¡Política de la liberación! Publicado el 21 noviembre de 2010
      </p>
      <p class="cita1"> “Se ha practicado una serie de allanamientos a las cuevas de estos hampones. Pero no podemos
        dormirnos.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: Llegó la poesía! 23 Mayo 2010
      </p>
      <p class="cita1"> “El 1º de mayo tendremos la nueva Ley Orgánica Socialista y Revolucionaria del Trabajo y de los
        Trabajadores y las Trabajadoras para hacer justicia, las prestaciones sociales, las pensiones, la protección del
        salario, de los ahorros de los trabajadores, la vivienda, la seguridad social, la creación de un tejido
        industrial nuevo.”
      </p>
      <p class="piecita1">Conmemoración de los 10 años de la derrota del paro patronal y la promulgación de la Ley de
        Tierras. Teatro Municipal, 10 de diciembre de 2011
      </p>
      <p class="cita1"> “Aquí tiene que acabarse la impunidad, definitivamente, aquí no hay vacas sagradas, que no se
        pueden tocar; no”.
      </p>
      <p class="piecita1">Aló Presidente Teórico N° 1. Teatro Teresa Carreño. 11 de junio de 2009
      </p>
      <p class="cita1"> “No habrá paz positiva y verdadera en este mundo mientras no haya justicia.”
      </p>
      <p class="piecita1">Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de 2008
      </p>
      <p class="cita1"> “Entra en vigencia la Ley de Costos y Precios Justos! Para proteger a nuestro pueblo de la
        especulación, la inflación y el Alto Costo de la Vida!!”
      </p>
      <p class="piecita1">Hugo Chávez Frías @chavezcandanga. 22 noviembre de 2011
      </p>
      <p class="cita1"> “Hay que abrir investigaciones penales a través de la Fiscalía, los jueces de la República para
        determinar responsabilidades y determinar los daños al patrimonio público que se le han causado a la República y
        al pueblo venezolano.”
      </p>
      <p class="piecita1">Aló Presidente, N° 132. Planta de distribución de PDVSA Carenero, Edo Miranda. 22 de diciembre
        de 2002
      </p>
      <p class="cita1"> “Es un régimen especial de asignaciones familiares universal, integral y solidario para el apoyo
        económico y social de los sectores de población más vulnerables en función de las condiciones especiales que
        pudieran privar en los hogares venezolanos en situación de pobreza crítica –estoy leyendo el artículo número 1-
        que tengan un ingreso familiar por debajo del salario mínimo, el cual será ejecutado a través de la Gran Misión
        Hijos de Venezuela.”
      </p>
      <p class="piecita1">Lanzamiento de la Misión «Hijos de Venezuela». 12 de diciembre de 2011
      </p>
      <p class="cita1"> “Después de ese incremento delictivo, pues también hemos estado trabajando en emergencia, el
        problema no es un problema militar, por supuesto, es un problema social, es un problema jurídico, es un problema
        que también tiene sus visos de seguridad, por supuesto, seguridad del estado.” (En referencia al COOP)
      </p>
      <p class="piecita1">Aló Presidente N° 10. Sede de Radio Nacional de Venezuela. 15 de Agosto de 1999
      </p>
      <p class="cita1"> “Hemos activado la Ley de Precios, de Costo y Precios Justos, y una de las cosas que estamos
        enfocando son los medicamentos, porque el capitalismo especula, le pone a todo cada día más caro: alimentos, no
        les importa nada; eso en primer lugar.”
      </p>
      <p class="piecita1">Lanzamiento de la Misión «Hijos de Venezuela» 12 de diciembre de 2011
      </p>
      <p class="cita1"> “Si los Cardenales cometen delitos yo trataré toda mi vida de no cometer delito, señor Cardenal,
        trataré de hacerlo, de no faltar a la ley.”
      </p>
      <p class="piecita1">Presentación del mensaje anual ante la Asamblea Nacional. 11 de enero de 2008
      </p>
      <p class="cita1"> “Un Código Orgánico Tributario donde se establezca con claridad meridiana que aquel que deje de
        pagar un centavo de sus impuestos, que aquel que se preste para defraudar a la Nación debe ir a prisión, y debe
        aplicársele una pena muy fuerte, porque es un delito social, económico, y tiene que quedar establecido en los
        códigos y en las leyes revolucionarias.”
      </p>
      <p class="piecita1">Discurso con motivo del segundo aniversario del referendo que convoco a la Asamblea Nacional
        Constituyente de 1999. Palacio Federal Legislativo, 25 de abril de 2001
      </p>
      <p class="cita1"> “Reforma Parcial de la Ley del Seguro Social, que permite que la pensión de sobreviviente se
        incremente en un 100 %.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡Mayo, llegó Mayo! 02 de Mayo de 2010
      </p>
      <p class="cita1"> “Hay que buscar la manera, reclamando que haya justicia. Tienen que acabarse los atropellos
        contra el pueblo.”
      </p>
      <p class="piecita1">Aló Presidente Nro. 016. Radio Nacional de Venezuela. 26 de Septiembre de 1999
      </p>
      <p class="cita1"> “Estamos haciendo la ley que está ya listica, quizás le falta que yo le meta una cosita más ahí,
        un virulillo. Esto va con todos, pero especialmente con los grandes acaparadores, los grandes intermediarios y
        los grandes productores.”
      </p>
      <p class="piecita1">Gabinete Comunal “Todos los motores a máxima revolución” Salón Venezuela del Círculo Militar,
        Fuerte Tiuna. Jueves, 15 de febrero de 2007
      </p>
      <p class="cita1"> “Nosotros aprobamos una Ley hace poco, la Asamblea Nacional, una Ley, ¿cómo se llama? De
        trasplante de órganos pues, eh, para facilitar el trasplante de órganos y salvar muchas vidas.”
      </p>
      <p class="piecita1">Lanzamiento de la Misión “Hijos de Venezuela”. 12 de diciembre de 2011
      </p>
      <p class="cita1"> “Un Ministerio Publico, una Fiscalía de la Republica con un nuevo concepto para garantizar no
        solo el Estado de derecho sino el Estado de justicia.”
      </p>
      <p class="piecita1">Palacio Federal Legislativo, 5 de agosto de 1999
      </p>
      <p class="cita1"> “Una ley de tierras, por ejemplo, es imprescindible en Venezuela.”
      </p>
      <p class="piecita1">Discurso con motivo de su toma de posesión como Presidente de la República Bolivariana de
        Venezuela para el
        periodo 2000-2006 ante la Asamblea Nacional
      </p>
      <p class="cita1"> “El que infrinja la ley tiene que ser sancionado, según la Constitución, según las leyes”.
      </p>
      <p class="piecita1">Aló Presidente Teórico N° 1.. Teatro Teresa Carreño. 11 de junio de 2009
      </p>
      <p class="cita1"> “Ahora sí es verdad que está lista la Ley para la defensa contra los acaparadores y los
        especuladores; anoche le dimos otra vuelta.”
      </p>
      <p class="piecita1">Gabinete Comunal “Todos los motores a máxima revolución” Salón Venezuela del Círculo Militar,
        Fuerte Tiuna. Jueves, 15 de febrero de 2007
      </p>
      <p class="cita1"> “Estamos haciendo una Ley de Tierras, una Ley de Tierras”.
      </p>
      <p class="piecita1"> “Aló, Presidente” N° 37. Sede Televisa, Maracaibo–Edo Zulia. 10 de abril de 2000
      </p>
      <p class="cita1"> “Estamos rectificando todo lo que son los planes penitenciarios, queremos que funcione la
        justicia y va a funcionar”.
      </p>
      <p class="piecita1">Aló presidente n°6. San Juan de los Morros – Edo. Guárico. 4 de julio de 1999
      </p>
      <p class="cita1"> “La única forma de que una ley sea justa es que sea revolucionaria”
      </p>
      <p class="piecita1">Lanzamiento de la Misión “Hijos de Venezuela” 12 de diciembre de 2011
      </p>
      <p class="cita1"> “Así que lejos estamos del cumplimiento de ese mandato popular: transformar el Estado, crear un
        nuevo ordenamiento jurídico –estamos creándolo–, pero no basta con la Constitución, lo sabemos todos.”
      </p>
      <p class="piecita1">Discurso con motivo del segundo aniversario del referendo que convoco a la Asamblea Nacional
        Constituyente de 1999. Palacio Federal Legislativo, 25 de abril de 2001
      </p>
      <p class="cita1"> “El que no pague impuestos está cometiendo un delito, eso está dicho ahora en la Constitución y
        en el nuevo Código Orgánico Tributario están establecida penas de cárcel para los evasores de impuestos.”
      </p>
      <p class="piecita1">Aló Presidente, Nº 107. Desde el Chivo, sur del Lago de Maracaibo. 09 de junio de 2002
      </p>
      <p class="cita1"> “¿Tribunal Supremo de Justicia? Sabemos muy bien lo que allí ocurrió durante un siglo, y lo que
        nos ocurrió a nosotros y a nuestra patria en los últimos años; solo habrá que recordar aquella decisión del
        vacío de poder y de que aquí no hubo golpe de Estado, sino que el Presidente estuvo de picnic”.
      </p>
      <p class="piecita1">Mensaje anual del Presidente Hugo Chávez, Palacio Legislativo, 14 de enero de 2005
      </p>
      <p class="cita1"> “Hemos creado, la ley crea un órgano superior de la Gran Misión Hijos de Venezuela, será
        presidido por este servidor y coordinado por la ministra y vicepresidenta Yadira y los ministros de Educación,
        de Comuna, de Salud, de la Mujer, de la Juventud, educación universitaria y el presidente del Instituto de
        Estadísticas, Elías Eljuri.”
      </p>
      <p class="piecita1">Lanzamiento de la Misión “Hijos de Venezuela”. 12 de diciembre de 2011
      </p>
      <p class="cita1"> “Tenemos que actuar y hacer cumplir la Constitución y las leyes de la República, para proteger a
        nuestro pueblo y a la unidad nacional.”
      </p>
      <p class="piecita1">Entrega de fusiles de asalto Kalashnikov AK-103. Patio de Honor del Ministerio de la
        Defensa.14 de junio de 2006
      </p>
      <p class="cita1"> “Tenemos además la voluntad para hacer cumplir la Constitución y la Ley.”
      </p>
      <p class="piecita1">Aló Presidente, N° 132 desde la planta de distribución de PDVSA. Carenero, Edo Miranda. 22 de
        diciembre de 2002
      </p>
      <p class="cita1"> “La Ley de Hidrocarburos fue el primer paso que permitió ir luego abriendo el camino a la plena,
        a la recuperación o a la construcción de la plena soberanía petrolera.”
      </p>
      <p class="piecita1">Conmemoración de los 10 años de la derrota del paro patronal y la promulgación de la Ley de
        Tierras. Teatro Municipal, 10 de diciembre de 2011
      </p>
      <p class="cita1"> “Hemos desarrollado leyes innovadoras, como una ley reciente que está ahora mismo en discusión:
        la Ley del Poder Popular. La organización de las comunidades en consejos comunales, con legitimidad plena. Son
        asambleas populares que eligen a sus voceros, eligen sus cuerpos de contraloría, eligen como un Poder Ejecutivo;
        es como un gobierno, un gobierno popular.”
      </p>
      <p class="piecita1">Intervención del presidente de la República Bolivariana de Venezuela, Hugo Chávez, en la Duma
        Estatal de la
        Federación Rusa Salón de los Escudos de la Duma, Moscú, Rusia. Viernes, 29 de junio de 2007
      </p>
      <p class="cita1"> “El domingo pasado, yo hice el comentario de que ningún juez podía estar extralimitándose de su
        funciones para impedir el cumplimiento de decisiones presidenciales para en base a la Constitución y las leyes,
        para asegurarle al pueblo la vida, la salud, la educación, los alimentos. ¡Qué juez puede ser ese!”
      </p>
      <p class="piecita1">Aló Presidente, N° 132desde la planta de distribución de PDVSA Carenero, Edo Miranda. 22 de
        diciembre de 2002
      </p>
      <p class="cita1"> “Si a un alcalde o a un gobernador, sea quien sea —si es mi padre, que Dios me lo cuide—, se le
        dio un dinero para unas camaroneras y ahora no hay camaronera y no aparece el dinero; y se descubre que el
        alcalde firmó aquí y tal y ahora compró una finca y tiene una tremenda casa y no sé qué más; bueno, tiene que
        haber una medida que no sea el referéndum: la ley.”
      </p>
      <p class="piecita1">Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar Palacio de Miraflores 1° de
        febrero de 2007
      </p>
      <p class="cita1"> “Debemos hacer que en Venezuela se cumplan las leyes y se recupere el estado de derecho. El
        estado de justicia.”
      </p>
      <p class="piecita1">Aló Presidente N° 10. Sede de Radio Nacional de Venezuela. 15 de Agosto de 1999
      </p>
      <p class="cita1"> “Nosotros tenemos que hacer justicia con los presos, tenemos que hacer justicia en las cárceles
        porque esos son seres humanos, en primer lugar y tienen derecho igualito que todos, a vivir, sean y hayan
        cometido los errores o el crimen que hayan cometido”.
      </p>
      <p class="piecita1">Programa Nro. 1 - Alo Presidente
        desde la sede de Radio Nacional de Venezuela
        23 de mayo de 1999
      </p>
      <p class="cita1"> “La igualdad y la justicia tenemos que llevarla de la mano y del corazón a todos los ámbitos de
        la Republica, a todos los ámbitos del país.”
      </p>
      <p class="piecita1">Discurso con motivo de su toma de posesión como Presidente de la República Bolivariana de
        Venezuela para el
        periodo 2000-2006 ante la Asamblea Nacional
      </p>
      <p class="cita1"> “La Constitución manda, el constituyente es sabio, el dueño del poder es el pueblo y nadie se lo
        va a expropiar, más nunca se lo va a expropiar.”
      </p>
      <p class="piecita1">Aló Presidente, Nº 107. Desde el Chivo, sur del Lago de Maracaibo. 09 de junio de 2002
      </p>
      <p class="cita1"> “Que no se diga que estamos arremetiendo contra la iniciativa individual y la propiedad privada:
        lo que estamos haciendo es ponerle coto a una dinámica de extorsión y estafa.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: “Que no nos descarrilen” 21 Noviembre 2010
      </p>
      <p class="cita1"> “Esa ley tiene que ser una espada de Damocles. No es ninguna ley socialista, es capitalista.”
        (Refiriéndose a la Ley del ISLR)
      </p>
      <p class="piecita1">Discurso ante la Asamblea Nacional. Memoria y Cuenta año 2000 Palacio Federal Legislativo, 15
        de enero de 2001
      </p>
      <p class="cita1"> “El año que viene comenzará el proceso de transformación del Poder Judicial, con nuevos
        mecanismos para que dentro de muy poco tiempo en Venezuela tengamos jueces de paz, tengamos jueces de parroquia,
        jueces de municipio, jueces en los estados, jueces a nivel nacional.”
      </p>
      <p class="piecita1">Aló Presidente Nro. 016. Radio Nacional de Venezuela. 26 de Septiembre de 1999
      </p>
      <p class="cita1"> “¿Quién recuerda aquí alguna Ley que haya sido discutida? Sobre todo las leyes económicas. No.
        Eso venía cocinado, un sancocho de plátanos nos preparaban a los venezolanos.”
      </p>
      <p class="piecita1">Aló Presidente, Nº 107. Desde el Chivo, sur del Lago de Maracaibo. 09 de junio de 2002
      </p>
      <p class="cita1"> “Hoy se cumplen 10 años también, ya lo dije pero lo voy a subrayar, de la promulgación de la Ley
        Revolucionaria de Tierras, la Ley de Tierras, 10 años, fue en Santa Inés.”
      </p>
      <p class="piecita1">Conmemoración de los 10 años de la derrota del paro patronal y la promulgación de la Ley de
        Tierras. Teatro Municipal, 10 de diciembre de 2011
      </p>
      <p class="cita1"> “Algunos jueces en vez de estar velando porque se cumpla la Ley estaban tratando de enredar, de
        confundir aún más la situación y evitar la toma de las decisiones para solucionar el problema” (En relación al
        paro petrolero)
      </p>
      <p class="piecita1">Aló Presidente, N° 132 desde la planta de distribución de PDVSA Carenero, Edo Miranda. 22 de
        diciembre de 2002
      </p>
      <p class="cita1"> “No hay una Fiscalía General de la República, que abogue por los derechos del pueblo venezolano,
        los derechos humanos.”
      </p>
      <p class="piecita1">Aló Presidente N° 2. Sede de Radio Nacional de Venezuela. 6 de junio de 1999
      </p>
      <p class="cita1"> “Resulta que la ley que fue hecha por el régimen anterior no fue hecha en base a esta
        Constitución, fue hecha en base a la anterior que está enterrada; pero ahí está la ley viva, pues, la ley, la
        misma ley, entre otras cosas, la misma ley ha impedido que ese apoyo financiero se haga efectivo por un vacío
        legal.”
      </p>
      <p class="piecita1">Discurso con motivo del segundo aniversario del referendo que convoco a la Asamblea Nacional
        Constituyente de 1999 Palacio Federal Legislativo, 25 de abril de 2001
      </p>
      <p class="cita1"> “Por la Constitución yo soy el administrador de la hacienda pública y debo cuidarla muy bien.”
      </p>
      <p class="piecita1">Aló Presidente N° 62. Bailadores Edo. Mérida. 11 de febrero de 2001
      </p>
      <p class="cita1"> “Chávez no botó a nadie los botó la ley, abandonaron el trabajo y sabotearon la empresa,
        apagaron las refinerías, sabotearon pozos petroleros, oleoductos, barcos, etc., y abandonaron su trabajo y luego
        le aplicamos la ley, la Constitución y la Ley del Trabajo a casi 20 mil de ellos.”(Refiriéndose al sabotaje
        petrolero del 2002)
      </p>
      <p class="piecita1">Rueda de prensa con los medios internacionales. Salón Ayacucho. Palacio de Miraflores. 6 de
        diciembre de 2011
      </p>
      <p class="cita1"> “Para poder vivir en paz y en comunidad todos estamos llamados a defender y a respetar las
        leyes, las normas de convivencia.”
      </p>
      <p class="piecita1">Aló Presidente Nro. 172. Hacienda de maíz “El Chivo”, Edo. Bolívar. 16 de noviembre de 2003
      </p>
      <p class="cita1"> “Hemos reformado la Ley de Ilícitos Cambiarios, en especial sus artículos 2 y 9, para evitar, de
        esta manera, que los enemigos de la Patria sigan amparándose en lagunas y vacíos legales.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡La Federación Socialista! 16 de Mayo de 2010
      </p>
      <p class="cita1"> “La ley es la ley y cada quien debe estar cumpliendo la ley en el marco de sus atribuciones.”
      </p>
      <p class="piecita1">Aló Presidente, N° 132 desde la planta de distribución de PDVSA. Carenero, Edo Miranda. 22 de
        diciembre de 2002
      </p>
      <p class="cita1"> “La Ley Orgánica de Seguridad Social, por ejemplo, que bien elaboro el actual Fiscal General,
        nuestro amigo Isaías Rodríguez, al frente de la Comisión Presidencial que designé”
      </p>
      <p class="piecita1">Discurso con motivo del segundo aniversario del referendo que convoco a la Asamblea Nacional
        Constituyente de 1999. Palacio Federal Legislativo, 25 de abril de 2001
      </p>
      <p class="cita1"> “Los tribunales no atienden a la gente, no hay justicia en el país.”
      </p>
      <p class="piecita1">Aló Presidente N° 11. Sede de Radio Nacional de Venezuela, Caracas. 22 de agosto de 1999
      </p>
      <p class="cita1"> “La Ley de Tierras también, eso causó escozor, reacciones furibundas, la quemaron incluso por
        ahí en la calle y otras leyes como la Ley de Pesca, Acuicultura, Espacios Acuáticos querían privatizar el agua y
        le metimos la ley.”
      </p>
      <p class="piecita1">Conmemoración de los 10 años de la derrota del paro patronal y la promulgación de la Ley de
        Tierras. Teatro Municipal, 10 de diciembre de 2011
      </p>
      <p class="cita1"> “La impunidad es el cáncer más grave que nosotros tenemos, porque no hay temor a las leyes ni a
        los tribunales cuando reina la impunidad, no puede haber impunidad para los delitos, de ningún tipo.”
      </p>
      <p class="piecita1">Juramentación del Presidente de la República Bolivariana de Venezuela, Hugo Chávez Frías
        (período 2007-2013) Palacio Federal Legislativo. 10 de enero de 2007
      </p>
      <p class="cita1"> “Las cárceles por dentro hay que transformarlas, en verdaderos talleres, escuelas agropecuarias,
        escuelas técnicas; ése es el objetivo y nosotros sí lo vamos a lograr con la ayuda de dios, con el trabajo de
        todos y la ayuda también de los familiares de los presos y de todo el personal que tiene que ver con este
        problema”.
      </p>
      <p class="piecita1">Aló presidente n°6. San Juan de los Morros – Edo. Guárico. 4 de julio de 1999
      </p>
      <p class="cita1"> “Transformación estructural que comienza por cambiar parte del ordenamiento jurídico en los
        ámbitos que aún están dominados por el capitalismo más extremo.”
      </p>
      <p class="piecita1">Las líneas de Chávez: ¡¡No pasarán!! 22 Agosto 2010

      </p>
      <p class="cita1"> “Esas corporaciones de desarrollo deben estar adscritas al Ministerio de Planificación y
        Desarrollo, que vamos a crear pronto con una ley orgánica, perdón, un decreto ley dentro de la habilitante y le
        vamos a dar vida a las Corporaciones”.
      </p>
      <p class="piecita1">Aló presidente N° 6. San Juan de los Morros – Edo. Guárico. 4 de julio de 1999
      </p>
      <p class="cita1"> “Las cárceles son como la quinta puerta del infierno. Las puertas del quinto infierno. Yo estoy
        comprometido, como presidiario que soy también, con todos ustedes, con sus familiares, con su dolor. Claro que
        no es fácil”.
      </p>
      <p class="piecita1">Aló Presidente, Nº 04. Palacio de Miraflores. 20 de junio de 1999
      </p>
      <p class="cita1"> “Ese concepto doctrinario debe desarrollarse en las nuevas leyes y en la nueva realidad
        nacional.” (Refiriéndose a la Ley de Seguridad de la Nación)
      </p>
      <p class="piecita1">Discurso en la presentación del Plan de Desarrollo Económico y Social de la Nación, 2001-2007.
        Palacio Federal Legislativo, 28 de septiembre de 2001
      </p>
      <p class="cita1"> “El artículo 72: todos los cargos y magistraturas de elección popular son revocables, es un
        elemento profundamente democrático de nuestro nuevo sistema político.” (Leyendo la Constitución)
      </p>
      <p class="piecita1">Aló Presidente N° 62. Bailadores Edo. Mérida. 11 de febrero de 2001
      </p>
      <p class="cita1"> “Yo sí creo, Hermann, que aún estamos en tiempos de transición. Lo dice el tiempo, lo dice la
        realidad. No se trata de un problema de ley solamente. Estamos en una transición.”
      </p>
      <p class="piecita1">Discurso con motivo del segundo aniversario del referendo que convoco a la Asamblea Nacional
        Constituyente de 1999. Palacio Federal Legislativo, 25 de abril de 2001
      </p>
      <p class="cita1"> “La violación de los derechos laborales del pueblo, ocurre aquí a diario y en todas partes
        porque aquí no hay estado de derecho.”
      </p>
      <p class="piecita1">Aló Presidente N° 2. Sede de Radio Nacional de Venezuela. 6 de junio de 1999
      </p>
      <p class="cita1"> “Anoche aprobamos el Decreto Ley de Reforma de la Ley de Administración Central.”
      </p>
      <p class="piecita1">Discurso tras ser ratificado en el cargo como Presidente de la Republica por la
        Asamblea Nacional Constituyente. Palacio Federal Legislativo, 11 de agosto de 1999
      </p>
      <p class="cita1"> “Cómo damos respuestas con una ley vigente que más bien contradice la Constitución, la evita, la
        estrangula, la liquida.”
      </p>
      <p class="piecita1">Discurso con motivo del segundo aniversario del referendo que convoco a la Asamblea Nacional
        Constituyente de 1999. Palacio Federal Legislativo, 25 de abril de 2001
      </p>
      <p class="cita1"> “La revolución llegó para hacer leyes justas.”
      </p>
      <p class="piecita1">Lanzamiento de la Misión “Hijos de Venezuela”. 12 de diciembre de 2011
      </p>
      <p class="cita1"> “Por más dramáticas que sean las situaciones y por más urgentes que sean los cambios, en nuestro
        criterio, nunca se pueden poner a un lado los derechos humanos, el respeto a la libertad de expresión, el
        respeto a los valores intrínsecos del ser humano, el respeto a la libertad de prensa, a la libertad de
        pensamiento”.
      </p>
      <p class="piecita1">54º Asamblea General de la ONU, 21 de septiembre de 1999
      </p>
      <p class="cita1"> “Nueva reforma de la Ley contra los ilícitos cambiarios.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: Llegó la poesía!. 23 Mayo 2010

      </p>
      <p class="cita1"> “Yo he planteado hacer centros abiertos en el que los privados de libertad vivan. Eso se está
        haciendo, pero donde hay un hacinamiento con mafias incrustadas eso hay que sanarlo. Eso es como un cáncer
        social allí. Es un desafío”.
      </p>
      <p class="piecita1">Anuncio hecho luego del motín en la Cárcel Rodeo I y II, Julio 2011
      </p>
      <p class="cita1"> “Necesaria es la creación de esa nueva arquitectura jurídica de leyes, reglamentos,
        especialmente, que ahora aseguren el engranaje de esta soberbia Constitución con una realidad aplastante a la
        que tenemos que transformar de manera integral.”
      </p>
      <p class="piecita1">Discurso con motivo del segundo aniversario del referendo que convoco a la Asamblea Nacional
        Constituyente de 1999. Palacio Federal Legislativo, 25 de abril de 2001
      </p>
      <p class="cita1"> “No puede quedar impune tal llamado contra la República: vuelvo a exhortar al Ministerio Público
        para que actúe de acuerdo a las disposiciones que nuestras leyes contemplan y prevén al respecto.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: “El Sermón del Cerro”. 26 Diciembre 2010
      </p>
      <p class="cita1"> “Aquí cada quien tiene sus atribuciones y no hay ningún juez en el país que tenga atribuciones
        ilimitadas para estar bloqueando decisiones y acciones del Poder Nacional.”
      </p>
      <p class="piecita1">Aló Presidente, N° 132 desde la planta de distribución de PDVSA. Carenero, Edo Miranda. 22 de
        diciembre de 2002
      </p>
      <p class="cita1"> “¿Que algunas (leyes) pudieran perjudicar los intereses de la minoría enriquecida? ¡Ah! Eso es
        otra cosa. Y que esa minoría enriquecida sea dueña de televisoras, periódicos y cadenas de radio, y todos los
        días andan “que es el tirano, que es la tiranía”. Eso es otra cosa.”
      </p>
      <p class="piecita1">Rueda de prensa e inauguración de la Sala de Prensa Simón Bolívar Palacio de Miraflores. 1° de
        febrero de 2007
      </p>
      <p class="cita1"> “¡Justicia es lo que piden los venezolanos!”
      </p>
      <p class="piecita1">Aló Presidente, Nº 04. Palacio de Miraflores. 20 de junio de 1999
      </p>
      <p class="cita1"> “Según el Código Penal quien salga a la calle o salga por televisión o por radio llamando a
        otros, incitando a otros a cometer delitos pues está cometiendo un delito.”
      </p>
      <p class="piecita1">Aló Presidente, Nº 107. Desde el Chivo, sur del Lago de Maracaibo. 09 de junio de 2002
      </p>
      <p class="cita1"> “Debemos legislar con la premura y la radicalidad que nos exigen las circunstancias”.
      </p>
      <p class="piecita1">Las líneas de Chávez: ¡El Pueblo de las Dificultades!. 12 diciembre 2010
      </p>
      <p class="cita1"> “Vamos a organizar unas cooperativas con la Ley de Cooperativas que aprobamos, de un alto
        contenido revolucionario.”
      </p>
      <p class="piecita1">Discurso en la presentación del Plan de Desarrollo Económico y Social de la Nación, 2001-2007.
        Palacio Federal Legislativo, 28 de septiembre de 2001
      </p>
      <p class="cita1"> “Pero es urgente hacer una ley de tierras, porque aquel gran propietario de tierras que no
        entienda, que no quiera cooperar, que se niegue a buscar un acuerdo, pues le aplicamos la nueva Constitución
        Bolivariana y le aplicamos la ley bolivariana.”
      </p>
      <p class="piecita1">Discurso con motivo de su toma de posesión como Presidente de la República Bolivariana de
        Venezuela para el
        periodo 2000-2006 ante la Asamblea Nacional
      </p>
      <p class="cita1"> “Valga la digresión: en nuestras comunidades se ha comenzado a pensar y trabajar en una Ley de
        Agricultura Urbana.”
      </p>
      <p class="piecita1">Líneas de Chávez: El Roble y El Samán. 05 Septiembre 2010
      </p>
      <p class="cita1"> “¡No doy paso atrás. No pido cuartel, tampoco daré cuartel en cuanto al cumplimiento de la
        Constitución y las leyes de la Republica!”
      </p>
      <p class="piecita1">Discurso ante la Asamblea Nacional. Memoria y Cuenta año2000 Palacio Federal Legislativo, 15
        de enero de 2001
      </p>
      <p class="cita1"> “Los principios establecidos en esta Constitución no vamos a arriarlos ni vamos a abandonarlos.”
      </p>
      <p class="piecita1">Aló Presidente, Nº 107. Desde el Chivo, sur del Lago de Maracaibo. 09 de junio de 2002
      </p>
      <p class="cita1"> “Hago un llamado a los señores diputados y diputadas, del presente y del inmediato porvenir,
        para que tomen plena conciencia de la necesidad de generar una nueva cultura legislativa y jurídica: una cultura
        para la verdad y para la justicia.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡La Federación Socialista!. 16 de Mayo de 2010
      </p>
      <p class="cita1"> “Ley que no sea revolucionaria, debe ser una ley inconstitucional y cualquier venezolano,
        cualquier revolucionario estaría en la obligación de ir al Tribunal Supremo de Justicia para imponer la
        institucionalidad de la revolución.”
      </p>
      <p class="piecita1">Discurso con motivo del segundo aniversario del referendo que convoco a la Asamblea Nacional
        Constituyente de 1999. Palacio Federal Legislativo, 25 de abril de 2001
      </p>
      <p class="cita1"> “Como Jefe de Estado insto al Poder Legislativo a que pronto no quede ni una sola Ley Escuálida
        de la IV República. Todavía hay leyes que frenan el proceso ¿cómo es posible? Esa es la autocrítica saben,
        nosotros tenemos que ser muy autocríticos.”
      </p>
      <p class="piecita1">X Aniversario del Banco del Pueblo Teatro Teresa Carreño. 26 de octubre de 2009
      </p>
      <p class="cita1"> “Nosotros estamos obligados a hacer cumplir las leyes, es muy peligroso permitir que un canal de
        televisión incendie un país ¡no! no podemos permitirlo.”
      </p>
      <p class="piecita1">Acto de entrega de certificados a los ahorristas del Banco Federal Salón Ayacucho, Palacio de
        Miraflores. 2 de julio de 2010
      </p>
      <p class="cita1"> “Nunca antes Gobierno alguno había golpeado tanto al narcotráfico como el Gobierno
        Revolucionario.”
      </p>
      <p class="piecita1">Aló Presidente N° 251. Hato San Pablo Paeño, estado Apure; 2 de abril de 2006
      </p>
      <p class="cita1"> “Y de ese camino (la justicia) con el favor de Dios, nadie podrá apartarnos, no importa cuáles y
        cuántas sean las campañas mediáticas, las guerras psicológicas, las amenazas, conspiraciones de todo tipo contra
        nosotros; no nos apartarán de ese camino.”
      </p>
      <p class="piecita1">Acto de entrega de certificados a los ahorristas del Banco Federal Salón Ayacucho, Palacio de
        Miraflores
        2 de julio de 2010
      </p>
      <p class="cita1"> “¡Vaya diferencia! Allá los banqueros son protegidos para que continúen con sus marramucias;
        aquí los delincuentes de cuello blanco van a parar a la cárcel.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: 6 D: 11 Años Después. 06 Diciembre 2009
      </p>
      <p class="cita1"> “El TSJ en su Sala Constitucional tomó una decisión histórica también, ordenando el acatamiento,
        a través de una medida cautelar, de todas las decisiones que el Ejecutivo tome con el fin de restituir los
        servicios petroleros y energéticos en Venezuela.”
      </p>
      <p class="piecita1">Aló Presidente, N° 132 desde la planta de distribución de PDVSA Carenero, Edo Miranda. 22 de
        diciembre de 2002
      </p>
      <p class="cita1"> “La Habilitante es un instrumento necesario en función de los retos y compromisos que hemos
        asumido”
      </p>
      <p class="piecita1">Las Líneas de Chávez ¡Viva Bolívar! ¡Bolívar Vive!
        19 diciembre 2010
      </p>
      <p class="cita1"> “Por Danilo y por todos los mártires de este tiempo de Revolución, no puedo sino unir mi voz a
        la de todo el pueblo: ¡Castigo a los culpables! ¡Basta de impunidad!”
      </p>
      <p class="piecita1">Las Líneas de Chávez: La Batalla Patria
        22 Noviembre 2009
      </p>
      <p class="cita1"> “No vacilaremos a la hora de castigar a quienes se burlan de nuestras leyes; a quienes creen que
        pueden jugar impunemente con las necesidades más elementales de nuestro pueblo; a quienes delinquen a través de
        la especulación, el acaparamiento y el desabastecimiento.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡Contraataque Bolivariano!
        24 Enero 2010
      </p>
      <p class="cita1"> “Los funcionarios del estado, si cometieren irregularidades pues saldrán de sus cargos; y si hay
        actos de corrupción nosotros lo someteremos a los tribunales respectivos.”
      </p>
      <p class="piecita1">Aló Presidente N° 11
        Sede de Radio Nacional de Venezuela, Caracas
        22 de agosto de 1999
      </p>
      <p class="cita1"> “Creo que tenemos unos nuevos códigos; creo que tenemos una nueva arquitectura legal, jurídica,
        empezando por la Constitución; tenemos leyes de consejos comunales, leyes de comunas, economía comunal, las
        leyes de los distintos motores de desarrollo”
      </p>
      <p class="piecita1">Primer consejo de Ministros. Palacio de Miraflores, 20 de octubre 2012
      </p>
      <p class="cita1"> “Este viernes 14 de mayo se iniciaron los primeros allanamientos y detenciones en locales
        dedicados a la venta ilícita de dólares y oro.”
      </p>
      <p class="piecita1">Las Líneas de Chávez: ¡La Federación Socialista!
        16 de Mayo de 2010
      </p>
      <p class="cita1"> “Nadie se preparó para la entrada en vigencia del COOP y resulta que ahora, en razón de ese
        código, muchos delincuentes están saliendo de las cárceles porque no se les ha condenado en un lapso previsto.
        Esto ha incidido, sin duda alguna, en el incremento de los delitos.”
      </p>
      <p class="piecita1">Sede de Radio Nacional de Venezuela
        15 de Agosto de 1999
      </p>
      <p class="cita1"> “El año 2001 fue, a su vez, el año de las leyes habilitantes”
      </p>
      <p class="piecita1">Mensaje anual del Presidente Hugo Chávez,
        desde el Palacio Legislativo, el 14 de enero de 2005
      </p>
      <p class="cita1"> “No puede seguir habiendo impunidad!, ¡por el amor de Dios!”
      </p>
      <p class="piecita1">Juramentación del Presidente de la República Bolivariana de Venezuela, Hugo Chávez Frías
        (período 2007-2013) Palacio Federal Legislativo.
        10 de enero de 2007
      </p>
      <p class="cita1"> “Hagamos una batalla por la justicia y vendrá la paz entre nosotros.”
      </p>
      <p class="piecita1">Aló Presidente N° 251. Hato San Pablo Paeño, estado Apure; 2 de abril de 2006
      </p>
      <p class="cita1"> “Yo uso esas atribuciones, que es lo que algunos llaman poder, uso mis atribuciones, ¿para qué?,
        para buscar la justicia.”
      </p>
      <p class="piecita1">Aló Presidente, Nº 323 Clínica Popular El Valle, parroquia El Valle, 21 de diciembre de 2008
      </p>
      <p class="cita1"> “Aquí nadie se preparó a profundidad para la puesta en marcha del nuevo Código Orgánico Procesal
        Penal.”
      </p>
      <p class="piecita1">Aló Presidente N° 17
        Desde la Sede de Radio Nacional de Venezuela
        03 de Octubre de 1999
      </p>
      <p class="cita1"> “Gobernadores que se van huyendo, que se dijeron revolucionarios, y eran tremendos ladrones.
        ¡Ah!, después salen diciendo que es que Chávez los persigue. Yo no persigo a nadie compadre, a nadie, yo no
        estoy aquí para perseguir a nadie. Las leyes son las que tienen que imponerse, nadie puede estar por encima de
        la ley.”
      </p>
      <p class="piecita1">Aló Presidente N° 341 Centro Diagnóstico Integral Caucagua Municipio Acevedo, Estado Miranda
        Domingo, 4 de octubre de 2009
      </p>
      <p class="cita1"> “Resulta que hay escalones, la Constitución es la ley madre, después vienen las leyes orgánicas,
        después otras leyes, y tiene que hacerse cada ley… una ley necesita por lo menos un reglamento, o varios
        reglamentos, para poder conectarla con la realidad, en función, como decía aquel gran filósofo, a la naturaleza
        de las cosas.”
      </p>
      <p class="piecita1">Martín Román y Hugo Contreras
        Entrevistan al candidato Hugo Chávez
        Sede de Telellano, Barinas, Estado Barinas Viernes, 14 de septiembre de 2012
      </p>
      <p class="cita1"> “Las leyes hay que hacerlas, decía Bolívar también, en base a las necesidades de un pueblo, para
        eso son las leyes.”
      </p>
      <p class="piecita1">Aló Presidente Programa Nro. 186 Desde La Planta De Llenado De Pdvsa En Guatire
        28 De marzo De 2004
      </p>
      <p class="cita1"> “Las leyes no pueden pensarse para complicar aún más la situación de un pueblo, sino son leyes
        inorgánicas, contrarias a los derechos de un pueblo, por eso es que hay que ir siempre ajustando leyes,
        incluyendo la magna Ley que es la Constitución.”
      </p>
      <p class="piecita1">Aló Presidente Programa Nro. 186 Desde La Planta De Llenado De Pdvsa En Guatire
        28 De marzo De 2004
      </p>
      <p class="cita1"> “Entre el fuerte y el débil la libertad oprime y la ley libera, estas elites no quieren saber de
        leyes, ellos quieren aplicar su propia ley y resulta que la ley es la que nos iguala, así como la Biblia,
        palabra de Dios nos iguala, la ley, la Constitución y la Ley nos iguala.”
      </p>
      <p class="piecita1">Aló Presidente Programa Nro. 188 Desde Fuerte Mara, Estado Zulia. Domingo, 11 De abril De 2004
      </p>
      <p class="cita1"> “Tenemos que revisar la Ley de Tierras, porque a la Ley de Tierras me le dieron un tiro en el
        ala, ahora la Asamblea Nacional debe, ya yo no tengo la habilitación para hacer la ley, ya la hicimos, pero
        producto de todo lo que aquí se ha vivido y el poder judicial que todavía está infiltrado, pues le dieron un
        tiro en el ala a la Ley de Tierras, eso tenemos que rehacerlo y rápido.”
      </p>
      <p class="piecita1">Aló Presidente N° 206. Desde la Cooperativa Central Cafetalero Bramón Municipio Junín, Rubio.
        Estado Táchira Domingo, 03 de octubre de 2004
      </p>
      <p class="cita1"> “Vamos a firmar un decreto mañana, ordenando la revisión de todos los registros, porque hay
        muchos documentos que están registrados y no aguantan un análisis. Ni siquiera superficial.”
      </p>
      <p class="piecita1">Aló Presidente N° 210. Desde el Palacio de Miraflores
        Domingo 9 de Enero de 2005
      </p>
      <p class="cita1"> “Mi reconocimiento a esa parte de la población que tiene el derecho a pensar distinto pues, que
        tiene derecho a diferir de nuestras propuestas pero igual asume la obligación de respetar las normas, y las
        leyes, las reglas básicas del juego democrático.”
      </p>
      <p class="piecita1">Aló Presidente N° 215. Desde Salón Ayacucho. Palacio de Miraflores Domingo 13 de Marzo de 2005
      </p>
      <p class="cita1"> “Cómo se ha venido difundiendo o incrementando la difusión de la música venezolana a raíz de la
        aprobación de la nueva Ley de Responsabilidad Social de Radio y Televisión, ese es uno de los efectos
        maravillosos de una ley que ya era necesaria, para cultivar primero lo propio, los valores nacionales no sólo la
        música de arpa, música nacional, la cultura nacional, el folclore nacional, la historia nacional, la geografía
        nacional Venezuela.”
      </p>
      <p class="piecita1">Aló Presidente N° 218. Desde La Puntita de Yuma Rivera del Lago de Valencia. Estado Carabobo
        Domingo, 10 de Abril de 2005
      </p>
      <p class="cita1"> “El Barón de Montesquieu decía “las leyes tienen que acoplarse a la naturaleza de las cosas, a
        las necesidades del momento” por eso es que las leyes van cambiando.”
      </p>
      <p class="piecita1">Aló Presidente N° 218. Desde La Puntita de Yuma Rivera del Lago de Valencia. Estado Carabobo
        Domingo, 10 de Abril de 2005
      </p>
      <p class="cita1"> “Todavía queda mucho relajo, tiene que acabarse el bochinche, el relajo, esa libertad para
        descuartizar el país se acabó, aquí hay una ley, se tiene que regular todas esas actividades.”
      </p>
      <p class="piecita1">Aló Presidente N° 218. Desde La Puntita de Yuma Rivera del Lago de Valencia. Estado Carabobo
        Domingo,10 de Abril de 2005
      </p>
      <p class="cita1"> “Toda actividad comercial debe ser regulada por las leyes, para eso está el Estado, para eso
        está el Gobierno, para eso está el pueblo.”
      </p>
      <p class="piecita1">Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado Aragua Domingo, 6 de
        diciembre de 2009
      </p>
      <p class="cita1"> “Vamos a eliminar todas esas leyes capitalistas y a crear, de verdad, leyes verdaderamente
        socialistas, vale. Socialistas.”
      </p>
      <p class="piecita1">Aló Presidente Nº 345 Hotel Maracay. Municipio Girardot, Maracay, estado Aragua Domingo, 6 de
        diciembre de 2009
      </p>
      <p class="cita1"> “Una Ley Orgánica, pido a la Asamblea que revise todas las leyes, todas y que no nos dejemos
        chantajear por dirigentes sindicales; verdad que a veces amenazan ¡no, que esto no se puede cambiar! ¿Cómo no se
        va a poder cambiar si hay una ley?; además es para mejoría de los trabajadores y del pueblo.”
      </p>
      <p class="piecita1"> “ALÓ, PRESIDENTE”, programa Nº 344 Comuna el Maizal, ubicada entre los municipios Simón
        Planas y Araure, de los estados Lara y Portuguesa Domingo, 29 de noviembre de 2009
      </p>
      <p class="cita1"> “Nosotros hemos desmontado un bojote de leyes burguesas, todavía nos quedan algunas, aunque
        están envenenadas, y hemos hecho leyes populares.”
      </p>
      <p class="piecita1">Aló, Presidente Nº 348 Filas de Mariche – Estado Miranda Domingo, 17 de enero de 2010
      </p>
      <p class="cita1"> “A mí se me ocurre que hay que organizar una especie de comité o consejos de justicia
        socialista, donde esté un grupo de los abogados y abogadas socialistas, pero engranados.”
      </p>
      <p class="piecita1">Aló Presidente Nº 348 Filas de Mariche – Estado Miranda Domingo, 17 de enero de 2010
      </p>
      <p class="cita1"> “Hay que rehacer el orden jurídico y el estado de derecho, que se respeten los derechos de todos
        los seres humanos que habitan en Venezuela.”
      </p>
      <p class="piecita1">Aló Presidente N° 18
        Desde la casa de Hugo De Los Reyes Chávez, Gobernador
        Del Estado Barinas, en Barinas Estado Barinas. 31 de Octubre de 1999
      </p>
      <p class="cita1"> “He pedido que se revise, para que se incremente el monto de las multas hasta el máximo, para
        que el que no cumpla con la ley, e incluso se prevea si son reincidentes, con intervención. Porque aquí no puede
        haber nadie que se resista a cumplir con la ley.”
      </p>
      <p class="piecita1">Aló Presidente Nro. 178
        Palacio de Miraflores, 18 de enero de 2004</p>



    </ion-card-content>
  </ion-card>
</ion-content>
